[2021-04-24 05:59] #1297 closed

[2021-04-24 06:04] naah69 commented on #68
公司：MindFlow(杭州曼孚科技有限公司)
网址：www.mindflow.com.cn
地点：中国杭州
联系方式：nayan@mindflow.com.cn
场景：api网关

[2021-04-24 07:01] dengliming commented on #1299
https://github.com/dromara/soul/pull/1316/checks?check_run_id=2425606164

[2021-04-24 08:10] tydhot commented on #1299
It seemed that it is not about the sentinel's test failure.

[2021-04-24 08:12] dengliming commented on #1299
because I re-run the ci jod.

[2021-04-24 15:10] dengliming commented on #1308
@ttttangzhen Thanks for reporting this issue. Welcome the PR. : )

[2021-04-24 17:02] tydhot opened #1318 "Maybe soul admin's sort with order by need to be polish"
## Describe the bug
<img width="961" alt="image" src="https://user-images.githubusercontent.com/27889201/115966738-85322980-a561-11eb-90ae-b57e078e0d10.png">
<img width="1068" alt="image" src="https://user-images.githubusercontent.com/27889201/115966747-9418dc00-a561-11eb-88ae-49f01fc3a8ce.png">
if I choose order by status, I think page 2's first plugin should be in page 1.

## Environment

- Soul

[2021-04-24 17:04] dengliming commented on #1318
Currently, the sort only applies to the current page.

[2021-04-25 02:36] Gaaahan commented on #1300
Yes, I have solved this problem for the time being. I set the max-http-header-size of the service directly. Spring Bootboot2.0 can be used to solve this problem

[2021-04-25 02:36] #1300 closed

[2021-04-25 02:40] NVCNV opened #1319 "divide插件返回302"
使用soul的devide插件转发业务系统请求，一直是302，然后就直接重定向我们自己业务系统的域名上了？这个是我哪里配置的有问题吗？

[2021-04-25 03:07] NVCNV commented on #1319
跟devide没关系

[2021-04-25 03:07] #1319 closed

[2021-04-25 05:27] #1308 closed

[2021-04-25 05:28] #1306 closed

[2021-04-25 05:28] #1302 closed

[2021-04-25 05:47] yu199195 commented on #1286
add custom soul plugin， It can meet all your needs

[2021-04-25 06:39] ttttangzhen opened #1321 "dubbo plugin "Generic invocation" will throw exception when dubbo version below 2.7.3"
## Question
dubbo "Generic invocation" support "async invoke" on version 2.7.3. if we use dubbo version 2.7.2, it will throws exception.

the dubbo plugin "generic invocation" method may change to sync type?

[2021-04-25 07:02] xiaoshen11 commented on #1292
this pr is create  a new plugin like soul-plugin-divide?

[2021-04-25 07:25] yu199195 commented on #1321
the apache dubbo ?   add dubbo version ,

[2021-04-25 07:25] yu199195 commented on #1292
yes ..

[2021-04-25 08:09] ttttangzhen commented on #1321
yes, the apache dubbo，that means telling users to use apache dubbo higher than version 2.7.3?

[2021-04-25 08:11] KevinClair commented on #1304
Do you mean the gateway should support different request methods？such as `post`,`get` and `put`, and so on.

[2021-04-25 08:17] ttttangzhen commented on #1321
`CompletableFuture<Object> future = genericService.$invokeAsync(metaData.getMethodName(), pair.getLeft(), pair.getRight());`

apache dubbo only supports this method after version 2.7.3,
so that, users who use soul apache dubbo plugin need use apache dubbo higher than version 2.7.3

[2021-04-25 08:19] KevinClair commented on #1321
You can wrap the `$invoke` method with `CompletableFuture`.

[2021-04-25 08:24] naah69 commented on #1302
what？

[2021-04-25 09:10] ttttangzhen commented on #1321
I don't understand😂

[2021-04-25 09:15] #1295 closed

[2021-04-25 11:59] yu199195 opened #1326 "Add test TimerAfterOperatorJudge in OperatorJudgeFactoryTest"
Please read the [Contribution Guideline](https://dromara.org/projects/soul/contributor/) before submitting the PR

[2021-04-25 12:00] yu199195 opened #1327 "Add test TimerBeforeOperatorJudge in OperatorJudgeFactoryTest"
Please read the [Contribution Guideline](https://dromara.org/projects/soul/contributor/) before submitting the PR

[2021-04-25 12:01] qurenneng commented on #1326
我来

[2021-04-25 12:02] qurenneng commented on #1326
I've come to

[2021-04-25 12:03] zhaiweij commented on #1327
I‘ll try.

[2021-04-25 14:20] fengzhenbing opened #1328 "Add query conditions for some pages in Soul-Dashboard"
- [x] Add conditon of selectorName field and ruleName filed in  PluginList/plugin page.@fengzhenbing
- [x] Add conditon of status field   in BasicConfig/plugin page.@WYUSIG
- [x]  Add conditon of fieldName field   in BasicConfig/PluginHandle page.@WYUSIG
- [x] Check if there are other conditions that need be added.@fengzhenbing

[2021-04-25 16:20] #1327 closed

[2021-04-25 16:26] #1318 closed

[2021-04-26 01:40] ttttangzhen commented on #1321
@KevinClair I can fix this problem , I think it don't need 'async call' , I wan't to change it to 'sync call ' , It is OK ?

[2021-04-26 02:41] KevinClair commented on #1321
Yes，you can send a pull request. However, I mean if it's not work in the version of `apache dubbo`  less than 2.7.3, you can wrap the `$invoke` method with `CompletableFuture`.
[code]

[2021-04-26 09:01] Gaaahan opened #1336 "I want to modify the request header in the filter of Soul"
## Question

I want to modify the request header in the filter of Soul,but the request header was only readable
like this：
![image](https://user-images.githubusercontent.com/63275565/116057030-fb917180-a6b0-11eb-8211-a3ea793c1132.png)

[2021-04-26 09:58] Gaaahan commented on #1336
The solution 1：
![image](https://user-images.githubusercontent.com/63275565/116063991-2b904300-a6b8-11eb-99d5-deaa3f1fec16.png)
exchange.getRequest().mutate().header(HttpHeaders.AUTHORIZATION,authorization).build();

[2021-04-26 10:00] Gaaahan commented on #1336
The solution 2：
![image](https://user-images.githubusercontent.com/63275565/116064973-1a940180-a6b9-11eb-9b02-18de7564d370.png)

     //设置为可修改的
    headers= HttpHeaders.writableHttpHeaders(headers);
    //设置请求头
    headers.set(HttpHeaders.AUTHORIZATION,authorization);

[2021-04-26 10:00] #1336 closed

[2021-04-27 02:31] best-one opened #1338 "There is no incremental change in the initial script associated with the upgrade of the soul version"
When I plan to upgrade the version, I will find an error reminder for missing SQL fields. Can I provide incremental SQL for version change to guide quick upgrade?

[2021-04-27 02:34] yu199195 commented on #1338
we will add sql_version file to help upgrade..

[2021-04-27 09:58] #1326 closed

[2021-04-27 10:14] PandaUncle opened #1341 "NacosServerRegisterRepository class miss authentication parameters"
## Describe the bug
If nacos server enable auth, an exception will throw:
Error creating bean with name 'soulServerRegisterRepository'
the reason is NacosServerRegisterRepository.init function do not set authentication parameters for nacosProperties variable。

[2021-04-27 10:15] tuohai666 opened #1343 "Replace the term Operator by Predicate"
The **Operator** prefix is not suitable after more judge conditions added, like SpEL, Groovy, etc. It's suggested to be renamed to **Predicate**.

[code]

[2021-04-27 10:15] #1309 closed

[2021-04-27 10:16] yu199195 commented on #1343
i agree

[2021-04-27 12:45] #1343 closed

[2021-04-28 02:15] jerbo99 opened #1347 "ZkClient reconnects and the service re-registers"
When the network is unstable, zkClient disconnects from zookeeper and the service goes offline from zookeeper. After re-establishing the connection with zookeeper, the service will be re-register. Resolved and verified.

[2021-04-28 02:24] PandaUncle commented on #1341
NacosClientRegisterRepository has the same problem

[2021-04-28 02:44] yu199195 commented on #1341
you can fix it

[2021-04-28 02:45] yu199195 commented on #1347
can you fix it？

[2021-04-28 02:47] PandaUncle commented on #1341
ok

[2021-04-28 02:49] #1341 closed

[2021-04-28 02:56] jerbo99 commented on #1347
Yes, Fixed.

[2021-04-28 03:24] yu199195 commented on #1347
good

[2021-04-28 03:25] #1347 closed

[2021-04-28 04:29] plutokaito commented on #1338
may i ask a question? if we do this, what version of sql file can be depended? in other way, after what version to add sql_version file ?

[2021-04-28 04:41] plutokaito commented on #1301
if my thinking is not in wrong way, that's meaning  if `NullPointException` happened, the result  return HTTP_NOT_FOUND state？

[2021-04-28 06:47] #1321 closed

[2021-04-28 06:48] yu199195 commented on #1301
yes

[2021-04-28 09:26] wangdazhong001 opened #1356 "Expected BEGIN_OBJECT but was BEGIN_ARRAY at line 1 column 2 path $"
## Question
Access to other languages, after successful registration, edit the corresponding rulelist in divide, click modify, and save without modification after entering the web editing. Then to call the interface, there will be a 500 error.
// your question here;
![image](https://user-images.githubusercontent.com/49627839/116380453-8eafe000-a846-11eb-91e2-0d011630992c.png)

https://user-images.

[2021-04-28 09:27] wangdazhong001 commented on #1356
For reference

[2021-04-28 10:04] ttttangzhen opened #1357 "AppAuthData can't add param or path info"
## Describe the bug
when AppAuthData init or change ,it won't load param info or path info.

[code]

because in the `updateAppAuthCache()` param info and path info will always be null.

----------
Another problem is WebsocketSyncDataService will print so many ping message successful logs.
[code]

[2021-04-28 10:30] nuo-promise commented on #1356
Sorry, we have gone through the test according to your video process. Use the registration information you provided to test and observe that the data stored in the database is normal. You can debug it according to our source code.

[2021-04-28 10:32] PandaUncle opened #1359 "customize response when selector or rule is not matched"
## Feature Request
Is it possible to add a configuration item. When this item is on open status, and if the request is not matched with selector or rule, it will give 404 response.

[2021-04-28 10:46] #1356 closed

[2021-04-28 11:31] #1357 closed

[2021-04-28 15:05] #1255 closed

[2021-04-29 04:23] WYUSIG commented on #1290
assign to me plz

[2021-04-29 06:57] PandaUncle opened #1363 "In the meta data form, the path description field is not required, but in the database table , the path_desc field is not null."
## Describe the bug
In the meta data form, the path description field is not required, but in the database table , the path_desc field is not null.
if not input path description, an error will throw, when saving.

[2021-04-29 07:40] yu199195 commented on #1363
maybe refactor sql， set is null

[2021-04-29 08:34] xxd763795151 opened #1365 "Add logging plugin"
## Feature Request

Add a new plugin that can print request info(include request headers, request params, request body ...etc) and response info(include response headers and response body ...etc) when enable the plugin and config some reules.

the log format for request`s info may  look like as follows when there is a request send to gateway:

`
2021-04-29 15:03:23 [soul-work-threads-3] INFO  org.

[2021-04-29 09:46] haohao1121 opened #1366 "Failed to build soul according to the steps of official website"
安装官网上搭建soul环境时到最后搭建自己的网关引入依赖后启动报错：
The bean 'errorWebExceptionHandler', defined in class path resource [org/dromara/soul/web/configuration/ErrorHandlerConfiguration.class], could not be registered. A bean with that name has already been defined in class path resource [org/springframework/boot/autoconfigure/web/reactive/error/ErrorWebFluxAutoConfiguration.class] and overriding is disabled.

[2021-04-29 09:53] yu199195 commented on #1366
please in english

[2021-04-29 10:11] haohao1121 commented on #1366
The bean 'errorWebExceptionHandler', defined in class path resource [org/dromara/soul/web/configuration/ErrorHandlerConfiguration.class], could not be registered. A bean with that name has already been defined in class path resource [org/springframework/boot/autoconfigure/web/reactive/error/ErrorWebFluxAutoConfiguration.class] and overriding is disabled.

[2021-04-29 10:43] yu199195 commented on #1366
spring:
   main:
     allow-bean-definition-overriding: true

[2021-04-29 14:36] haohao1121 commented on #1366
It's already configured, but it doesn't work

[2021-04-29 14:59] #1365 closed

[2021-04-30 07:45] #1301 closed

[2021-04-30 07:47] #1293 closed

[2021-04-30 07:48] #1290 closed

[2021-04-30 07:49] yu199195 commented on #1269
can you provider pr to fix ？

[2021-04-30 07:50] #1266 closed

[2021-04-30 07:51] #1241 closed

[2021-04-30 07:53] linchuyao commented on #1269
It's my pleasure ， i want to do it

[2021-04-30 07:54] qurenneng commented on #1363
I've come to

[2021-04-30 07:54] yu199195 commented on #1269
Ok

[2021-04-30 08:19] PandaUncle commented on #1363
I am working on it, I will finish it today.

[2021-04-30 08:23] yu199195 commented on #1363
the Solution

1. refactor sql in schema.sql and schema.h2.sql
2.  create soul_2.4.0.sql file in soul/script  (alert  sql  to fix it)

[2021-04-30 08:55] PandaUncle commented on #1363
To avoid adding upgrade scripts, i will give it a empty string value when "pathDesc" is null.

[2021-05-02 04:35] WYUSIG opened #1375 "RedisRateLimiter#isAllowed “doFinally” execution sequence problem"
After my test, I found that，RedisRateLimiter#isAllowed “doFinally” execution sequence is :

1.WebClientPlugin#execute send request

2.doFinally execution RateLimiterAlgorithm#callback

3.WebClientResponsePlugin#execute write response

I think a request needs to write response ，then execution RateLimiterAlgorithm#callback, because

Concurrent requests limiter：

“Because Redis is so fast, doing the

[2021-05-04 10:14] mrcaobin commented on #251
这个“yu199195”说话跟别人欠他东西一样，牛逼个p啊

[2021-05-05 06:43] dengliming opened #1381 "Suggestions for improvements to the Apache dubbo plugin"
1、https://github.com/dromara/soul/blob/54281b06669c74fb994a72e0e71474c4b5030399/soul-plugin/soul-plugin-apache-dubbo/src/main/java/org/dromara/soul/plugin/apache/dubbo/cache/ApplicationConfigCache.java#L157

`ApplicationModel.getConfigManager().` only support in `2.7.5+`, If we need to be compatible with lower versions, we should use
`reference.setApplication(applicationConfig);`

2、Avoid always u

[2021-05-05 13:59] tydhot commented on #1381
I'll see later

[2021-05-05 18:01] WYUSIG commented on #1328
assign these to me plz 🥰

- [ ] Add conditon of status field in BasicConfig/plugin page.

- [ ] Add conditon of fieldName field in BasicConfig/PluginHandle page.

[2021-05-06 02:22] ttttangzhen commented on #1381
If it's possible, I want to try to fix this problem

[2021-05-06 02:36] fengzhenbing commented on #1328
The search field in PluginList/plugin page maybe like this:

![image](https://user-images.githubusercontent.com/4169359/117234048-d5a96100-ae56-11eb-900c-000e624c1a18.png)

[2021-05-06 03:02] fengzhenbing commented on #1328
The status field in PluginList/plugin page maybe like this:

![image](https://user-images.githubusercontent.com/4169359/117235989-5f0e6280-ae5a-11eb-95ec-3bf8aafef1fc.png)

[2021-05-06 03:04] fengzhenbing commented on #1328
The fieldName field in BasicConfig/PluginHandle page maybe like this:

![image](https://user-images.githubusercontent.com/4169359/117236140-bc0a1880-ae5a-11eb-874e-3ecba4e0c3a3.png)

[2021-05-06 04:14] WYUSIG commented on #1328
thanks.🥰

[2021-05-06 04:21] #1375 closed

[2021-05-06 08:02] ttttangzhen opened #1385 "dubbo plugin will throw log4j warning when project start up"
## Describe the bug

[code]

[2021-05-06 08:31] #1385 closed

[2021-05-06 12:13] tydhot commented on #1381
fine, you can think about how to optimize the no.2 question

[2021-05-06 16:48] #1328 closed

[2021-05-07 03:42] yu199195 opened #1394 "Renamed Apache ShenYu(incubator) Task"
# Sign Apache ICLA

- [ ] the contributors :  https://shimo.im/sheets/rPqtJcWPDPV9wWPd/MODOC
- [x]  the  process :  https://dromara.org/projects/soul/icla/

# Docs
- [x]  Create ShenYu website  @yu199195
- [ ]  modify document and website @fengzhenbing @dengliming  @0x12FD16B @nuo-promise

# Renamed soul to ShenYu

- [x]  renamed soul project to ShenYu @yu199195
- [x]  renamed  soul class  to Shen

[2021-05-07 05:07] kimmking commented on #1291
any improvement？ @Asxing

[2021-05-07 05:08] kimmking commented on #1292
any improvement？ @xiaoshen11

[2021-05-07 05:10] Trafalgar-YuI opened #1395 "Integrated SkyWalking"
## Task

1. I will create discuss group
2. Everyone try to use SkyWalking
3. Discuss the plan how to integrated
4. Division of labor
5. Coding

Please read the [Contribution Guideline](https://dromara.org/projects/soul/contributor/) before submitting the PR

If you want to participate, please reply this issue.

[2021-05-07 05:11] zenglinhui commented on #1395
get

[2021-05-07 05:11] Wincher commented on #1395
I want to get part in this

[2021-05-07 05:15] ttttangzhen commented on #1395
I want to join you

[2021-05-07 05:41] zhaiweij commented on #1395
thank you,I want to participate in discussions

[2021-05-07 06:29] hubao-1125 commented on #1395
get

[2021-05-07 06:39] bird-man04 commented on #1395
I want to make something for this

[2021-05-07 08:08] HugogoChan commented on #1395
I want to make it with you

[2021-05-07 10:19] Trafalgar-YuI commented on #1395
how can I contact you.

[2021-05-07 10:20] Trafalgar-YuI commented on #1395
@bird-man04 How can I contact you

[2021-05-08 00:37] PandaUncle opened #1397 "If the content-type is not set in the request header，WebClientPlugin will set "application/json" for default"
## Describe the bug
If the content-type is not set in the request header，WebClientPlugin will set "application/json" for default. This will trigger some exceptions。
for example:
My controller function is like this:
@GetMapping(value="/test/name")
public Object getOjb() {}
If the content-type is not set in the request header, an execption will throw:
org.springframework.web.HttpMediaTypeNotSupporte

[2021-05-08 01:39] ttttangzhen commented on #1397
I think so, usually, the browser will set content-type to "application/x-www-urlencoded".
If shenyu set the default value to "application/json", it may be inconsistent with expectations

[2021-05-08 03:36] WYUSIG commented on #1395
I want to make something for this

[2021-05-08 04:05] yu199195 opened #1400 "ShenYu Logo design!"
Hi, community

We need to design the logo of Shenyu.  Please provide your ideas for this logo

if you want, Reply below this issue.

[2021-05-08 04:45] Zhoutzzz opened #1401 "Add authorized feature for Shenyu"
## Feature Request
It is planned to add a plug-in for authorization authentication in shenyu. Currently, the tools that can be integrated are WebFlux Security or sa-token. I want to discuss the specific integration plan in the community. If there are other better suggestions, I hope you can put forward them. For reference, if the integration scheme is determined, I plan to implement it with @jinze

[2021-05-08 05:17] ttttangzhen opened #1402 "Metadata ParameterTypes may cause NullPointerException"
## Describe the bug
Now, metadata parameterTypes can be null, but in the dubbo plugin and sofa plugin, they don't check the paramTypes will be null, may cause NullPointerException

[2021-05-08 06:07] bird-man04 commented on #1395
My wx Id is fengshengyao04

[2021-05-08 06:11] David0339 opened #1405 "how to register admin to nacos"
## Question
我想把admin注册到nacos上，但启动时报错配置和信息如下
## Config
soul:
  register:
    registerType: nacos #http #zookeeper #etcd #nacos #consul
    serverLists: localhost:8848 #http://localhost:2379 #localhost:8848
    props:
      sessionTimeout: 5000
      connectionTimeout: 2000
      checked: true
      zombieCheckTimes: 5
      scheduledTime: 10
      nacosNameSpace: public
  database:
    dialect: mys

[2021-05-08 06:15] WYUSIG commented on #1401
I want to join you

[2021-05-08 07:33] WYUSIG commented on #1405
What versions of ShenYu and Nacos do you use?

[2021-05-08 07:39] hubao-1125 opened #1407 "For soul rename to shenyu modify file readme.md"
## Task

A clear and concise description of Task

Task List:

- [ modify file readme.md ] task1

Please read the [Contribution Guideline](https://dromara.org/projects/soul/contributor/) before submitting the PR

[2021-05-08 08:07] yu199195 commented on #1397
can you fix it?

[2021-05-08 08:08] #1363 closed

[2021-05-08 08:20] David0339 commented on #1405
soul:2.3.0-RELEASE & nacos: 2.0.1

[2021-05-08 08:48] hubao-1125 opened #1409 "Update ShenYu(Soul) file CHANGELOG.md and root pom.xml"
## Task

A clear and concise description of Task

Task List:

- [ Update ShenYu(Soul) file CHANGELOG.md and root pom.xml ] task1
- [ ] task2
- [ ] task3

Please read the [Contribution Guideline](https://dromara.org/projects/soul/contributor/) before submitting the PR

[2021-05-08 09:31] PandaUncle commented on #1397
ok, I'll fix it this weekend

[2021-05-08 09:38] ttttangzhen opened #1411 "When creating metadata, generate the corresponding rule in the plugin"
Now users need to configure metadata and then configure rules to use the dubbo plugin.

Shenyu can provide the option of whether to create corresponding rules at the same time.

for example, if users create dubbo metadata and choose generate rule, show users the dubbo selectors to choose.
and then generate the corresponding rule in this selector.

[2021-05-08 11:18] renzhuyan opened #1412 "Add test DataPermissionController in DataPermissionControllerTest"
Add test DataPermissionController in DataPermissionControllerTest

Please read the [Contribution Guideline](https://dromara.org/projects/soul/contributor/) before submitting the PR

[2021-05-08 14:38] KevinClair commented on #1411
I have a question, Why create a selector before uploading metadata?

[2021-05-08 18:29] kimmking commented on #1409
we should keep all original changelogs.

[2021-05-08 18:32] hubao-1125 commented on #1394
get task 5

[2021-05-08 18:33] zhaiweij commented on #1394
get task 4 renamed soul in admin dto and sql

[2021-05-08 18:44] WYUSIG commented on #1394
get task 7 renamed soul in examples

[2021-05-08 19:11] Trafalgar-YuI commented on #1394
get task 6 remove all authors and modify soul in comments

[2021-05-08 19:18] wuudongdong commented on #1394
get task 2 renamed soul in spring mvc path

[2021-05-08 19:50] xyz-mtl opened #1418 "Diagrams"
## Question

Your diagram is very clean

https://camo.githubusercontent.com/1f13bcef0a74d0eb5d4dcfef173967bafb31e0276f1ddfe5b9765307a863cf19/68747470733a2f2f64726f6d6172612e6f72672f696d672f736f756c2f61637469766974652f736f756c2d786d696e642e706e67

What is the tool used for this brainstorming?

Thanks

Please pay attention on issues you submitted, because we maybe need more details.
If no response a

[2021-05-08 20:29] songyuequan commented on #1394
get task 1 renamed soul spring boot prefix to ShenYu

[2021-05-09 01:38] lw1243925457 commented on #1418
It maybe use xmind: https://www.xmind.net/xmind8-pro/

[2021-05-09 01:51] ttttangzhen commented on #1411
there is no strict order when creating them.

shenyu use uri to choose metadata, rule filter use uri to filter requests. In fact, metadata has the same status as rules.

This feature is only an option, it's a supplement to dubbo client.
For some third-party interfaces, users can't use the dubbo client, and can use this method to improve efficiency

[2021-05-09 03:39] xiaoshen11 commented on #1292
I don’t know how to display the configuration header and status on the front-end page

[2021-05-09 06:01] #1412 closed

[2021-05-09 06:03] dengliming commented on #1407
Resolved by [https://github.com/dromara/shenyu/pull/1408](https://github.com/dromara/shenyu/pull/1408) and thanks to @hubao-1125

[2021-05-09 06:03] #1407 closed

[2021-05-09 06:06] #1215 closed

[2021-05-09 06:23] lw1243925457 commented on #1405
Maybe you nacos server config is incorrect. You can try like this:

[2021-05-09 08:16] #1418 closed

[2021-05-09 10:20] yu199195 opened #1425 "Discuss about initial PPMC"
Hi, community

We need to make sure PPMC To help us develop better at Apache Incubator

Now , I propose the following rules：

Code for ShenYu

1. committers and add code top 10 and code has been submitted in the half a year

code for shenyu-dashboard

1. committers and add code top 3 and code has been submitted in the half a year

community:

1.Actively running the community as a mentor （mentor ：

[2021-05-09 10:28] SaberSola commented on #1425
agree

[2021-05-09 10:28] lw1243925457 commented on #1425
agree

[2021-05-09 10:30] SteNicholas commented on #1425
+1

[2021-05-09 10:38] fengzhenbing commented on #1425
agree

[2021-05-09 10:43] Trafalgar-YuI commented on #1425
agree

[2021-05-09 10:43] nuo-promise commented on #1425
yes

[2021-05-09 10:45] Asxing commented on #1425
I couldn't agree more.

[2021-05-09 10:46] Redick01 commented on #1425
agree

[2021-05-09 11:00] dengliming commented on #1425
+1

[2021-05-09 11:11] kimmking commented on #1425
+1 approval.

[2021-05-09 11:12] songyuequan commented on #1425
Of course I agree

[2021-05-09 11:12] fightingting commented on #1425
agree

[2021-05-09 12:54] tydhot commented on #1425
+1

[2021-05-09 13:54] KevinClair commented on #1425
+1

[2021-05-09 14:48] fengzhenbing commented on #1394
5.renamed soul in frontend files

[2021-05-09 14:51] 0x12FD16B commented on #1425
agree

[2021-05-09 16:14] PandaUncle commented on #1397
fixed in pr #1428

[2021-05-10 01:36] ttttangzhen commented on #1411
Do you mean metadata must be created before selector?
If not, My idea might improve efficiency.
I think metadata and selector are not created in a strict order.

[2021-05-10 01:42] xyz-mtl commented on #1418
Thank you

[2021-05-10 02:42] KevinClair commented on #1411
That's not what I mean.

[2021-05-10 03:17] ttttangzhen commented on #1411
😀 明杰兄，我目前使用的时候，面对大量的接口，每个都要去创建metadata，然后把创建rule元数据放到selector中，这个过程可以由shenyu自动完成吧。

[2021-05-10 04:03] #1411 closed

[2021-05-10 04:05] plutokaito commented on #1394
May I get the second task in Renamed soul to ShenYu?

[2021-05-10 08:42] SaberSola commented on #1394
get task 2 and and I finished it on Sunday

[2021-05-10 14:45] yanxiaochuan opened #1435 "SpringCloud 全流量bug"
开启SpringCloud后选择器类型为full后总是默认第一个。导致404错误，版本2.3.0-RELEASE

[2021-05-11 02:33] huangcanhui2018 opened #1436 "Unable to package soul-admin properly"
## Environment：
1）eclipse 2021-3
2）JDK 1.8.202
3）lombok 1.8.20

## Question
When compiling and packaging soul-admin with the command "clean install -Dmaven.javadoc.skip=true -B -Drat.skip=true -Djacoco.skip=true -DskipITs -DskipTests", an exception is thrown.However, using the same command, soul-bootstrap can be compiled and packaged normally. SoulAdminBootstrap's main method also works.Specific e

[2021-05-11 03:07] yu199195 commented on #1435
please in english

[2021-05-11 10:09] huangcanhui2018 commented on #1436
After repulling the code from the master branch, compilation and packaging worked fine.
thanks!

[2021-05-11 10:10] #1436 closed

[2021-05-12 01:56] JemyXiao opened #1439 "AlibabaDubboServiceBeanListener"
hi，
 branch: master
 class: AlibabaDubboServiceBeanListener
 method: onApplicationEvent
 env: springboot
detail: init AlibabaDubboServiceBeanListener invoke onApplicationEvent
Map<String, ServiceBean> serviceBean = contextRefreshedEvent.getApplicationContext().getBeansOfType(ServiceBean.class);
serviceBean.size() = 0

[2021-05-12 02:46] tcray commented on #1425
+1

[2021-05-12 02:50] strawberry-crisis commented on #1425
agreed

[2021-05-12 03:33] huangcanhui2018 opened #1440 "New resource "Menu Test" does not work and cannot be displayed properly"
## Steps

Follow these steps to add resources:
1)Add a new resource "Menu Test" and add a button to this resource
![1](https://user-images.githubusercontent.com/45359999/117913872-c4f46180-b314-11eb-963e-83c9a05f0ec9.png)

2)Assign resource Menu Test operation permissions to roles
![2](https://user-images.githubusercontent.com/45359999/117913942-e81f1100-b314-11eb-9484-f99e3a536f5d.png)

3)Associa

[2021-05-12 03:45] yu199195 commented on #1439
whats the dubbo version?  you use XML config or spring boot starter?

[2021-05-12 03:46] nuo-promise commented on #1440
Received！

xiaoyu ***@***.***> 于2021年5月12日周三 上午11:44写道：

[2021-05-12 04:10] nuo-promise commented on #1440
The current basic configuration, the resources under the system management module do not support automatic creation, the plugin module is supported, you can test it @huangcanhui2018

[2021-05-12 04:31] JemyXiao commented on #1439
dubbo version is 2.6.0
i use springboot starter ver=2.0.0

[2021-05-12 04:50] KevinClair commented on #1439
Please show us your `dubbo service interface`

[2021-05-12 05:12] Asxing commented on #1400
![image](https://user-images.githubusercontent.com/22816271/117921685-be211b00-b323-11eb-97a2-b71d6e775d68.png)

[2021-05-12 05:13] Asxing commented on #1400
![image](https://user-images.githubusercontent.com/22816271/117921714-cbd6a080-b323-11eb-8875-cd61f39c1b2d.png)

![image](https://user-images.githubusercontent.com/22816271/117921719-ce38fa80-b323-11eb-9ce5-4b24076abad9.png)

[2021-05-12 05:14] Asxing commented on #1400
![image](https://user-images.githubusercontent.com/22816271/117921806-f88ab800-b323-11eb-8382-119233084f9a.png)

[2021-05-12 05:14] Asxing commented on #1400
![Uploading image.png…]()

[2021-05-12 05:15] Asxing commented on #1400
![image](https://user-images.githubusercontent.com/22816271/117921858-0dffe200-b324-11eb-8b13-6dcda77af1ab.png)

[2021-05-12 05:15] Asxing commented on #1400
![image](https://user-images.githubusercontent.com/22816271/117921922-2a9c1a00-b324-11eb-9015-f501a13b944d.png)

[2021-05-12 05:17] Asxing commented on #1400
![image](https://user-images.githubusercontent.com/22816271/117922024-5c14e580-b324-11eb-8475-d4301436a085.png)

[2021-05-12 05:17] Asxing commented on #1400
![image](https://user-images.githubusercontent.com/22816271/117922051-6d5df200-b324-11eb-9a60-4bbc61c39e5e.png)

[2021-05-12 05:18] Asxing commented on #1400
![image](https://user-images.githubusercontent.com/22816271/117922117-8e264780-b324-11eb-8bd8-87e17f78f88b.png)

[2021-05-12 05:19] Asxing commented on #1400
![image](https://user-images.githubusercontent.com/22816271/117922143-9b433680-b324-11eb-9cc1-c0c73ef0348c.png)

[2021-05-12 05:19] Asxing commented on #1400
![image](https://user-images.githubusercontent.com/22816271/117922233-bb72f580-b324-11eb-9088-b1638a4f67e9.png)

[2021-05-12 05:22] Asxing commented on #1400
![image](https://user-images.githubusercontent.com/22816271/117922448-0db41680-b325-11eb-86b6-c7733a09abe1.png)

[2021-05-12 05:28] Asxing commented on #1400
![image](https://user-images.githubusercontent.com/22816271/117922825-a0ed4c00-b325-11eb-8eb4-ca861949f482.png)

![image](https://user-images.githubusercontent.com/22816271/117922969-dc881600-b325-11eb-8569-e80ed30e8800.png)

[2021-05-12 06:02] JemyXiao commented on #1439
![image](https://user-images.githubusercontent.com/11550454/117926008-a9945100-b32a-11eb-8fd3-a309014e7a04.png)

[2021-05-12 06:27] KevinClair commented on #1439
May be you have to make sure that your dubbo service has been upload the register address.

[2021-05-12 06:33] yu199195 commented on #1439
@KevinClair  i think it the dubbo-spring-boot-starter , not register spring bean,  can you fix it？

[2021-05-12 06:36] JemyXiao commented on #1439
i am sure dubbo service registed successful already.

[2021-05-12 06:51] KevinClair commented on #1439
ok. i will fix it.

[2021-05-12 08:28] JemyXiao commented on #1439
@KevinClair i find another problem, i try registry ServiceBean successful,but when invoke AlibabaDubboServiceBeanListener
handler method,line 101 method.getAnnotation(ShenyuDubboCilent.Class) is null.
please look it together,thanks.

[2021-05-12 08:33] KevinClair commented on #1439
Got it.

[2021-05-12 08:34] yu199195 commented on #1439
I think dubbo proxy bean maybe miss the anontation...

[2021-05-12 08:41] yu199195 commented on #1435
Hi, we will close this issue....

[2021-05-12 08:41] #1435 closed

[2021-05-12 09:07] JemyXiao commented on #1439
i agree with you, i hope it can be fixed together?

[2021-05-12 09:35] KevinClair commented on #1439
Hello @JemyXiao ,I've tried many times and it's all successful.Here are some of my configuration.
* Maven dependency
[code]
* spring-dubbo.xml file
[code]
* Service
[code]
* Configuration
[code]

And when I run my application.
![微信截图_20210512172943](https://user-images.githubusercontent.com/37257651/117952758-094d2500-b348-11eb-8525-743a79ce64ba.png)
![微信截图_20210512173016](https://user-images.gith

[2021-05-12 09:38] yu199195 commented on #1439
@KevinClair  He not use XML， used Annotation.....

[2021-05-12 09:50] KevinClair commented on #1439
Sorry, I run application with Annotation, It works as well.

[2021-05-12 10:09] huangcanhui2018 commented on #1440
However, in the newly added resource, the drop-down "Plugins List" option of the parent menu is disabled and cannot be operated. @nuo-promise
![4](https://user-images.githubusercontent.com/45359999/117957368-972b0f00-b34c-11eb-9ed2-4bc64d1be865.png)

[2021-05-13 01:10] JemyXiao commented on #1439
please show detail your dubbo service impl

[2021-05-13 01:13] JemyXiao commented on #1439
@KevinClair please remove dubbo config xml,retry add @Service dubbo Annotation

[2021-05-13 01:16] JemyXiao commented on #1439
![image](https://user-images.githubusercontent.com/11550454/118063559-ef552600-b3cb-11eb-97aa-5c4f9fb766a3.png)

[2021-05-13 02:12] SaberSola opened #1443 "Sentinel's downgrade rules cannot be used normally"
The solution to this problem: add this param 'slowRatioThreshold'

[2021-05-13 02:28] KevinClair commented on #1439
I try it and works as well.
[code]

[2021-05-13 02:38] yu199195 commented on #1439
@KevinClair  Hi, @Services is Dubbo Annotaion, not spring

[2021-05-13 02:50] JemyXiao commented on #1439
in think your xml not remove

[2021-05-13 03:13] KevinClair commented on #1439
I delete xml file.

[2021-05-13 03:19] KevinClair commented on #1439
Hello @JemyXiao , if you can, please send your simple example to my emil `kevinclair@apache.org` so that we can check the problem.

[2021-05-13 03:36] JemyXiao commented on #1439
i use shenyu-examples-alibaba-dubbo-service module, i edit DubboTestServiceImpl use dubbo @Service Annotation, u can try it

[2021-05-13 03:36] JemyXiao commented on #1439
![image](https://user-images.githubusercontent.com/11550454/118073938-824b8b80-b3df-11eb-832a-6663c5d1804e.png)

[2021-05-13 03:37] KevinClair commented on #1439
Got it.

[2021-05-13 05:12] KevinClair commented on #1439
Hello @JemyXiao , I have found problem, you have to add `@DubboComponentScan({"org.apache.shenyu.examples.alibaba.dubbo.service.impl"})` in the `org.apache.shenyu.examples.alibaba.dubbo.service.TestAlibabaDubboApplication` to make sure Dubbo scan your interface with `@Service`, just like this:
* TestAlibabaDubboApplication
[code]
* DubboTestServiceImpl
[code]
* spring-dubbo.xml
[code]

* if you de

[2021-05-13 05:55] ChoviWu commented on #1425
agree

[2021-05-13 09:28] YXxy1002 opened #1446 "Add sentinel customized fallbackhandler"
We need customize fallback handler in sentinel plugin instead the default SentinelFallbackHandler.class

[2021-05-13 09:30] WYUSIG opened #1447 "Enhance shenyu-common module unit test"
## Task

Task List:

- [ ] Enhance shenyu-common module unit test，make its coverage rate is more than 80%

[2021-05-13 09:37] yu199195 commented on #1446
can you provide pr to fix ？

[2021-05-13 09:46] YXxy1002 commented on #1446
i would take it

[2021-05-13 09:56] ttttangzhen commented on #1447
I want join this, to optimize shenyu-plugin module unit test

[2021-05-13 10:19] shallwetalkge opened #1449 "Enhance shenyu-plugin-base module unit test"
## Task

Task List:

- [ ] Enhance shenyu-plugin-base module unit test，make its coverage rate is more than 80%

[2021-05-13 11:26] JenkinsChan commented on #1447
I want join this,  add me please

[2021-05-13 11:40] babynata commented on #1447
looking forward to join this part of unit test job improving .

[2021-05-13 12:03] YXxy1002 commented on #1446
#1450 @yu199195 please review my commit

[2021-05-13 12:35] Ting97 opened #1451 "buildparameter forget add paramNameList"
## Describe the bug

When the parameter is one and the type starts with “java”， 500 will be reported
![image](https://user-images.githubusercontent.com/48816907/118124448-2c4f0600-b428-11eb-95c7-f2bb00963fd7.png)

When i debug,  i find this medthod has problem
org.apache.shenyu.plugin.api.utils.BodyParamUtils#buildParameters

we can see paramNameList.size() = 0, it cause param's value is null
![im

[2021-05-13 12:40] JemyXiao commented on #1439
@KevinClair thanks for patiently answer, i try it successfull follow your way.
about another problem not found @ShenyuXXXClient Annotation from impl class, i fix it and pull request also.

[2021-05-13 13:12] ttttangzhen commented on #1451
Thanks for reporting this
Can you fix it? Or I will fix it in the upcoming pr

[2021-05-13 13:17] Ting97 commented on #1451
I can fix it today, and I will pr, ok?

[2021-05-13 13:20] ttttangzhen commented on #1451
Ok 😁

[2021-05-13 14:27] KevinClair commented on #1439
But if you follow my way, `@ShenyuXXXClient` would be found.

[2021-05-14 01:24] JemyXiao commented on #1439
The scene is like this，I run my project not shenyu-example,my impl class generate spring proxy, so when handler method AopUtils.isCglibProxy() param type has a problem, i had pr. please code review my pr code

[2021-05-14 01:51] ttttangzhen opened #1455 "Enhance shenyu-plugin-dubbo module unit test"
## Task

Task List:

- [x]  Enhance shenyu-plugin-alibaba-dubbo module unit test，make its coverage rate is more than 80%
- [x] Enhance shenyu-plugin-apache-dubbo module unit test，make its coverage rate is more than 80%
- [x] Enhance shenyu-plugin-dubbo-common module unit test，make its coverage rate is more than 80%

Please read the [Contribution Guideline](https://dromara.org/projects/soul/contrib

[2021-05-14 02:05] qiaoqia opened #1456 "Enhance shenyu-web module unit test"
## Task

Task List
 - [ ] Enhance shenyu-web module unit test，make its coverage rate is more than 80%

[2021-05-14 02:57] zhaiweij opened #1457 "Enhance shenyu-register-center module unit test"
## Task

A clear and concise description of Task

Task List:

- [ ] Enhance shenyu-register-client module unit test，make its coverage rate is more than 80%
- [ ] Enhance shenyu-register-common module unit test，make its coverage rate is more than 80%
- [ ] Enhance shenyu-register-server module unit test，make its coverage rate is more than 80%

Please read the [Contribution Guideline](https://dromar

[2021-05-14 02:59] #1381 closed

[2021-05-14 03:02] qiaoqia opened #1458 "Enhance shenyu-sync-data-center module unit test"
## Task

A clear and concise description of Task

Task List:

- [ ]  Enhance shenyu-sync-data-websocket module unit test，make its coverage rate is more than 80%
- [ ] Enhance shenyu-sync-data-nacos module unit test，make its coverage rate is more than 80%

Please read the [Contribution Guideline](https://dromara.org/projects/soul/contributor/) before submitting the PR

[2021-05-14 03:23] #1446 closed

[2021-05-14 03:24] wyc192273 commented on #1455
I want shenyu-plugin-dubbo-common task

[2021-05-14 03:25] qiaoqia opened #1459 "Enhance shenyu-spring-boot-starter module unit test"
## Task

A clear and concise description of Task

Task List:
### shenyu-spring-boot-starter-plugin
   - [ ] Enhance shenyu-spring-boot-starter-plugin-httpclient module unit test，make its coverage rate is more than 80%
   - [ ] Enhance shenyu-spring-boot-starter-plugin-logging module unit test，make its coverage rate is more than 80%
### shenyu-spring-boot-starter-sync-data-center
   - [ ] Enhance s

[2021-05-14 03:26] realcalu commented on #1458
I want Enhance shenyu-sync-data-websocket module unit test

[2021-05-14 03:27] yiwenlong commented on #1455
Please assign `shenyu-plugin-apache-dubbo` to me.

[2021-05-14 03:37] useaname commented on #1457
I want Enhance  shenyu-register-client module unit test

[2021-05-14 03:39] wyc192273 commented on #1457
Please assign shenyu-register-common module unit test to me.

[2021-05-14 03:56] songyuequan commented on #1459
please sign  shenyu-spring-boot-starter-plugin-httpclient module unit test  To me

[2021-05-14 03:56] songyuequan commented on #1459
please sign  shenyu-spring-boot-starter-plugin-httpclient module unit test  To me

[2021-05-14 04:19] WYUSIG opened #1460 "Enhance shenyu-plugin-grpc module unit test"
Task List:
- [ ] Enhance shenyu-plugin-grpc module unit test，make its coverage rate is more than 80%

We (@JenkinsChan @babynata @WYUSIG) want to do this task

[2021-05-14 04:40] zendwang commented on #1459
please sign shenyu-spring-boot-starter-sync-data-nacos module unit test to me

[2021-05-14 05:34] zhaiweij commented on #1457
You can send an email to me

[2021-05-14 05:34] zhaiweij commented on #1457
You can send an email to me

[2021-05-14 05:49] wxyyrain commented on #1457
I want Enhance shenyu-register-server module unit test

[2021-05-14 05:56] zhaiweij commented on #1457
can you Enhance shenyu-register-client-http ？

| |
zhaiweij
|
|
***@***.***
|
签名由网易邮箱大师定制

On 05/14/2021 ***@***.***> wrote：

I want Enhance shenyu-register-client module unit test

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-05-14 05:57] babynata commented on #1460
Thanks for assigning.My pleasure to make a contribution to the improvement~

[2021-05-14 05:59] zhaiweij commented on #1457
No test is required under the common module ，can you enhance shenyu-register-client-nacos?

| |
zhaiweij
|
|
***@***.***
|
签名由网易邮箱大师定制

On 05/14/2021 ***@***.***> wrote：

Please assign shenyu-register-common module unit test to me.

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-05-14 06:02] zhaiweij commented on #1457
can you enhance shenyu-register-server-nacos?

| |
zhaiweij
|
|
***@***.***
|
签名由网易邮箱大师定制

On 05/14/2021 ***@***.***> wrote：

I want Enhance shenyu-register-server module unit test

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-05-14 06:02] wyc192273 commented on #1457
Yes. i can. shenyu-register-client-nacos also need enhance?

[2021-05-14 06:10] zhaiweij commented on #1457
yes，the method is 66% 4/6

[2021-05-14 06:21] wxyyrain commented on #1457
ok, i will do it

[2021-05-14 06:33] wyc192273 commented on #1457
Ok.Let me do it.

[2021-05-14 08:50] tuohai666 opened #1461 "CLAs signed status of the major contributors"
The following table shows the CLAs signed status, including:

1. All the initial committers;
2. The major contributors who submit codes more than 300 lines. ([The code line count statistics by GitHub](https://github.com/dromara/shenyu/graphs/contributors?from=2018-07-08&to=2021-05-26&type=a))

Full Name | GitHub ID | ICLA signed | ICLA receipt | CCLA signed | CCLA receipt | email in the CLA file
-

[2021-05-14 09:52] THyyy opened #1462 "add a hyperlink to the comment"
## Question

I think we should add a hyperlink to the comment to quickly find the code source.

such: _https://github.com/apache/dubbo/blob/master/dubbo-common/src/main/java/org/apache/dubbo/common/extension/ExtensionLoader.java_ in ExtensionLoader class

[2021-05-14 10:12] yu199195 commented on #1462
thanks ！ very much~

[2021-05-14 13:36] #1443 closed

[2021-05-14 15:30] #1462 closed

[2021-05-15 03:22] JenkinsChan commented on #1460
Thanks for assigning.My pleasure to make a contribution to the improvement~

[2021-05-15 03:58] FridayLove2015 commented on #68
公司：浙江新课堂教育股份有限公司
网址：https://www.thinktown.com/
地点：浙江杭州
联系方式：1768527366@qq.com
场景：API网关，基于soul做定制化开发。

[2021-05-15 03:59] SaberSola opened #1465 "0ptimize the Grpc plugin method call"
## Feature Request

#### Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is. Ex. I have an issue when [...]

#### Describe the solution you'd like

A clear and concise description of what you want to happen. Add any considered drawbacks.

#### Describe alternatives you've considered

A clear and concise description of any alternati

[2021-05-15 04:02] midnight2104 commented on #1465
I want to solve the issue, my solution is :
Client:
1. Create the method descriptor for the generic service, set the generic method by the request method, set the generic request type, set the generic response type, set the method type.
2. generic invoke by method type.

Server:
1. Export standard GRPC services.
2. Wrap standard GRPC services to support generic calls. The ServerCALL.Listener proxy

[2021-05-15 06:44] KevinClair opened #1466 "Add dubbo examples with annotation."
## Task

A clear and concise description of Task

Task List:

- [ ] Add alibaba dubbo examples with annotation.
- [ ] Add apache dubbo examples with annotation.

Please read the [Contribution Guideline](https://dromara.org/projects/soul/contributor/) before submitting the PR

[2021-05-15 13:07] #1466 closed

[2021-05-16 08:03] renzhuyan commented on #1459
get task Enhance shenyu-spring-boot-starter-plugin-logging module unit test，make its coverage rate is more than 80%

[2021-05-16 08:31] renzhuyan commented on #1458
I want Enhance shenyu-sync-data-nacos module unit test，make its coverage rate is more than 80%

[2021-05-16 16:18] #1459 closed

[2021-05-17 01:50] kenWu-github opened #1473 "start.sh script problem"
## Describe the bug

JAVA_OPTS does not take effect in the start.sh script

## Environment

- Soul version(s): 2.3.2-SNAPSHOT

## Steps to reproduce

## Expected behavior

## Debug logs

<details>
<summary>Click to expand</summary>

[code]
</details>

[2021-05-17 02:05] dengliming commented on #1473
we already resolved it by [https://github.com/dromara/shenyu/pull/1468](https://github.com/dromara/shenyu/pull/1468)

[2021-05-17 02:05] #1473 closed

[2021-05-17 03:23] THyyy opened #1475 "The hyperlinks are wrong"
## Question

The hyperlinks of BodyInserterContext and CachedBodyOutputMessage are wrong.
Because the name of spring-cloud-gateway-core module has been changed to spring-cloud-gateway-server.

[2021-05-17 03:36] #1457 closed

[2021-05-17 04:38] #1475 closed

[2021-05-17 05:36] ttttangzhen opened #1477 "There may be a wrong way to use guava cache"
in `org.apache.shenyu.plugin.apache.dubbo.cache.ApplicationConfigCache` and ApplicationConfigCache in other RPC plugin

[code]

Here, weight is used to control the total capacity of `guava cache`, but the weight of each cache use `getSize`,it represents the total number of items cached when a piece of data is cached.

I think there may be wrong usage here, If we use weights, the weights should rep

[2021-05-17 06:10] ben-manes commented on #1477
That does sound like a bug to me, too. You should also be aware that, in Guava, the maximum weight of a single entry is `maximumWeight / concurrnecyLevel`, where `concurrnecyLevel` is by default 4. This is because the cache is broken into independent sub-caches (segments). In this configuration, when the cache is full then the new entry will be immediately discarded as it cannot fit inside the seg

[2021-05-17 06:28] yu199195 commented on #1477
@ttttangzhen @ben-manes  Hi， I'm not sure there  is bugs。

can you send email to dev@shenyu.apache.org?  We discuss with more people to get help.....

[2021-05-17 06:50] tydhot commented on #1477
@ttttangzhen https://github.com/ben-manes/caffeine/wiki/Eviction-zh-CN#基于容量 here is the Chinese wiki about caffeine's weight translated by me. Maybe it can help you.

[2021-05-17 08:36] joewee opened #1478 "NacosClientRegisterRepository#persistInterface occurs NPE when the value of port is null"
## Describe the bug

NacosClientRegisterRepository#persistInterface occurs NPE when the value of port is null ,so Integer auto-unboxing  occurs NPE. I found that  in ContextRegisterListener#buildMetaDataDTO  method missing the parameter of port.
## Environment

- Soul version(s): 2.3.0-RELEASE

## Steps to reproduce
Exception in thread "soul-disruptor-soul_disruptor_consumer_-17" java.lang.NullPoi

[2021-05-17 08:45] yu199195 commented on #1478
hi, please show you config ..

[2021-05-17 08:50] joewee commented on #1478
Hi,follow figure is my configuration
![image](https://user-images.githubusercontent.com/6845957/118460865-ac7ab180-b72f-11eb-97fe-98a686bfcd30.png)
btw,the ContextRegisterListener#buildMetaDataDTO method  missed the port parameter ,so i think this may be a bug.
private MetaDataRegisterDTO buildMetaDataDTO() {
        String contextPath = this.contextPath;
        String appName = env.getProperty("

[2021-05-17 08:52] lw1243925457 commented on #1478
thanks,we will see it.

[2021-05-17 08:54] tuohai666 commented on #1477
@ben-manes Thanks for point out the problem.

[2021-05-17 08:55] yu199195 commented on #1478
what rpc  you used?   you dependency  soul-client-xxxxx?

[2021-05-17 09:03] ttttangzhen commented on #1477
@ben-manes @yu199195 @tydhot
Thank you all, and I will fix this.

[2021-05-17 09:03] wyc192273 commented on #1455
Please assign shenyu-plugin-alibaba-dubbo  task to me.

[2021-05-17 09:09] joewee commented on #1478
rpc type is spring cloud，the dependency is
<dependency>
    <groupId>org.dromara</groupId>
    <artifactId>soul-register-client-nacos</artifactId>
  </dependency>

[2021-05-17 09:09] joewee commented on #1478
rpc type is spring cloud，the dependency is
<dependency>
    <groupId>org.dromara</groupId>
    <artifactId>soul-register-client-nacos</artifactId>
  </dependency>

[2021-05-17 09:23] yu199195 commented on #1478
in master？ have problem?

[2021-05-17 09:58] wyc192273 commented on #1456
Please assign to me Enhance shenyu-web module unit test task.

[2021-05-17 09:59] wyc192273 commented on #1449
Please assgin to me enhance shenyu-plugin-base module unit test task.

[2021-05-17 11:46] YXxy1002 opened #1481 "Expected BEGIN_OBJECT but was BEGIN_ARRAY at line 1 column 2 path $"
i have two client, but the selector data is different, and one of it will produce JSON parse error
![image](https://user-images.githubusercontent.com/36941654/118483074-2e76d480-b748-11eb-8c2a-0d4b2ab3bcd0.png)
![image](https://user-images.githubusercontent.com/36941654/118483090-33d41f00-b748-11eb-8682-37e0e5f01dec.png)
![image](https://user-images.githubusercontent.com/36941654/118483350-7bf3418

[2021-05-17 12:10] SaberSola commented on #1481
I think it may be a bug....

[2021-05-17 12:17] SaberSola commented on #1481
Can you provide more detailed stack information

[2021-05-17 12:28] kimmking commented on #1400
![image](https://user-images.githubusercontent.com/807508/118488476-59642700-b74e-11eb-9495-037624deb9da.png)

this logo is designed with powerpoint with the zip file.
you can try it yourself and upload here.
[shenyu-logo.pptx.zip](https://github.com/dromara/shenyu/files/6493734/shenyu-logo.pptx.zip)

[2021-05-17 12:53] YXxy1002 commented on #1481
this code modified the selector handle data
![image](https://user-images.githubusercontent.com/36941654/118491487-a1d11400-b751-11eb-8e27-23fb1dbc5c28.png)

`Caused by: java.lang.IllegalStateException: Expected BEGIN_OBJECT but was BEGIN_ARRAY at line 1 column 2 path $
	at com.google.gson.stream.JsonReader.beginObject(JsonReader.java:386) ~[gson-2.8.6.jar:?]
	at com.google.gson.internal.bind.Refle

[2021-05-17 12:54] YXxy1002 commented on #1481
@SaberSola

[2021-05-17 13:02] kimmking commented on #1477
@ben-manes Excellent description for this issue. And can you check other usage for guava library? thx.

[2021-05-17 13:34] joewee commented on #1478
The problem still exist in master branch when 'soul.client.props.isFull'  is equls true in configuration file  . Is the value of port optional or can be null when register the meta into nacos , If not i think  in method buildMetaDataDTO() should set the port value like this:
private MetaDataRegisterDTO buildMetaDataDTO() {
    String contextPath = this.contextPath;
    String appName = env.getProp

[2021-05-17 13:38] SaberSola commented on #1481
This handle belongs to divide plugin,Why it is Id 8

[2021-05-17 14:16] SaberSola commented on #1481
This is a bug, It has been fixed in the master branch

[2021-05-17 14:24] SaberSola commented on #1481
![image](https://user-images.githubusercontent.com/24998393/118505033-9e905500-b75e-11eb-8752-dfae67c72bdb.png)
The judgment is reversed

[2021-05-17 14:57] dengliming commented on #1481
Duplicate of [https://github.com/dromara/shenyu/issues/1297](https://github.com/dromara/shenyu/issues/1297), Already fixed by [https://github.com/dromara/shenyu/pull/1315](https://github.com/dromara/shenyu/pull/1315)

[2021-05-17 14:57] #1481 closed

[2021-05-17 16:25] ben-manes commented on #1477
@kimmking There are 6 identical usages that have this bug. The only other class using the cache doesn’t use a weight and looks fine.

Thanks @ttttangzhen for figuring this out.

[2021-05-17 16:28] tydhot commented on #1477
@ben-manes Thank you very much indeed! :)

[2021-05-18 02:31] #1451 closed

[2021-05-18 02:32] #1449 closed

[2021-05-18 06:08] #1477 closed

[2021-05-18 06:22] lw1243925457 commented on #1478
What is you all config? please show the all config. Because .ocal cannot be reproduced.

give config like this:

[code]

[2021-05-18 06:35] yu199195 opened #1485 "Optimize WebSocketParamFilter"
## Task

A clear and concise description of Task

Task List:

- [ ]  remove final  in  doFilter
- [ ] "Upgrade" maybe is private static final  UPGRADE= “upgrade”

Please read the [Contribution Guideline](https://dromara.org/projects/soul/contributor/) before submitting the PR

[2021-05-18 06:48] babynata commented on #1485
I've got this, my boss

[2021-05-18 07:42] #1485 closed

[2021-05-18 10:30] #1478 closed

[2021-05-18 15:02] nuo-promise opened #1488 "modify Readme XMind png"
## Task

A clear and concise description of Task

Task List:

- [ ] task1
- [ ] task2
- [ ] task3

Please read the [Contribution Guideline](https://dromara.org/projects/soul/contributor/) before submitting the PR

[2021-05-18 15:07] nuo-promise commented on #1488
wait shenyu-website complete!

[2021-05-18 15:07] #1488 closed

[2021-05-18 15:11] nuo-promise commented on #1294
After discussion, support is not considered for the time being, and the issue will be closed in one day.

[2021-05-19 01:28] #1439 closed

[2021-05-19 07:26] leohou0430 opened #1490 "use http register-center maybe not work well when have mutli node of soul-admin"
## Describe the bug
2 soul-admin node
4 business service node
in sou-dashboard can not see all the upstream node

## Environment
- Soul version(s): [2.2.1]

## Steps to reproduce
![image](https://user-images.githubusercontent.com/3467826/118768457-97c62700-b8b1-11eb-8c28-600eeac3111f.png)

1. 01、02、03 register to admin-01 node
    1.1 in admin-dashboard  can see three node
2. 04 register to admin-

[2021-05-19 08:09] yu199195 commented on #1490
I think you are right， need query to database before the checked。

[2021-05-19 08:09] yu199195 commented on #1490
can you fix it?

[2021-05-19 08:17] yu199195 commented on #1289
Hi, fix it in master, i will close this issue..

[2021-05-19 08:17] #1289 closed

[2021-05-19 08:44] linsongGong opened #1491 "plugins chain be executed twice"
## Describe the bug
one http request,but the plugins chain will be executed twice

## Environment

- Soul version(s): [2.3.0]

## Steps to reproduce
1.start shenyu-admin and shenyu-bootstrap
2.start the shenyu-examples-http
3.rquest the service:eg.http://0.0.0.0:9195/http/order/findById?id=1

## Expected behavior

## Debug logs

![image](https://user-images.githubusercontent.com/27799403/118782719

[2021-05-19 09:35] leohou0430 commented on #1490
OK，after test complete,i will commit pr

[2021-05-19 09:48] yu199195 commented on #1490
@leohou0430  Hi, can you add my vchat  xixy199195,  i will add you to dev group..

[2021-05-19 10:00] leohou0430 commented on #1490
ok,tks

[2021-05-19 10:04] yu199195 commented on #1491
Hi,

Did one request execute the same plugin, or was it a different request?

[2021-05-19 10:07] linsongGong commented on #1491
one request execute the same plugin

[2021-05-19 10:09] yu199195 commented on #1491
Ok, i will checked..

[2021-05-19 10:11] linsongGong commented on #1491
after WebClientResponsePlugin will app

[2021-05-19 10:11] #1491 closed

[2021-05-19 10:23] yu199195 commented on #1491
i checked,  will only be executed once

[2021-05-19 11:16] linsongGong commented on #1491
http://0.0.0.0:9195/http/order/findById?id=1  get request, use postman is normal,use chrome will be executed twice.

[2021-05-19 11:32] MarcusJiang1306 commented on #1491
Because chrome will request for favicon.ico

[2021-05-19 11:38] MarcusJiang1306 commented on #1425
agree

[2021-05-19 14:52] #1455 closed

[2021-05-20 02:35] #1294 closed

[2021-05-20 03:06] yu199195 opened #1494 "used Java regular expressions to rewrite uri in rewrite plugin"
Hi Community：

Programs ：

in  org.apache.shenyu.common.dto.convert.RewriteHandle mybe  like this

[code]

then in RewritePlugin

[code]

In shenyu-admin , insert regex and replace sql into plugin_handler

#### Additional context

Please read the [Contribution Guideline](https://dromara.org/projects/soul/contributor/) before submitting the PR

[2021-05-20 03:19] lahmXu commented on #1494
ok

[2021-05-20 06:54] yu199195 commented on #1425
it pass, i will close it.

[2021-05-20 06:54] #1425 closed

[2021-05-20 08:33] github15002200677 opened #1495 "client http register error , token is null"
## Question
client  http register error  , shenyu-admin log display "token is null"
![image](https://user-images.githubusercontent.com/20104345/118946317-d5e24a00-b988-11eb-96da-ad0de169a4b4.png)
set /shenyu-client/** is white-list , Why intercept?

[2021-05-20 08:33] yu199195 opened #1496 "Use SPI refactor PredicateJudge"
refactor `org.apache.shenyu.plugin.base.condition.judge.PredicateJudge` to ShenYu SPI

Please read the [Contribution Guideline](https://dromara.org/projects/soul/contributor/) before submitting the PR

[2021-05-20 08:38] leven-space commented on #1496
hi

I’m  interested in this feature~

[2021-05-20 08:41] yu199195 commented on #1496
@leven-space

thanks, i will assigness to you

[2021-05-20 08:44] yu199195 commented on #1495
Hi, please update code...

[2021-05-20 10:30] #1495 closed

[2021-05-20 14:38] KevinClair opened #1498 "Refactor code about "async invoke" is not supported in Dubbo lower than 2.7.3"
## Feature Request
Not long ago, we found a problem that `async invoke` is not supported in Dubbo lower than 2.7.3. At that time, the problem was solved by judging the version, you can check it here #1321 . However, after our discussion, we think that the operation of judging the version is redundant, so we decided to refactor the code here.

#### Describe the solution
* In Dubbo higher than 2.7.3

[2021-05-20 14:59] dengliming commented on #1498
Thanks. totally agree : )

[2021-05-20 17:12] ttttangzhen commented on #1498
Hi,@KevinClair
I have a different opinion, I think it's necessary.

I guess you might want to replace `asyncInvoke` with `invoke`. ( If it’s not my guess, can you describe your other solutions? )
But, in Dubbo org.apache.dubbo.rpc.protocol.AsyncToSyncInvoker#invoke
[code]

If you use `invoke`,the invokeModel will be `SYNC`, dubbo provider will block until get result.

[2021-05-21 02:32] plutokaito commented on #1199
Is this [pr](https://github.com/dromara/shenyu/pull/1349)  similar to this issue?

[2021-05-21 02:33] yu199195 commented on #1498
@ttttangzhen  hi

so we donot  Simple refactor  asyncInvoke  to  invoke  like this , we should  find out the specific impl inside dubbo。

[code]

[2021-05-21 02:36] yu199195 commented on #1199
@plutokaito  hi

#1255  this pr is datapermission  is shenyu-admin

this issue is mean Third Party auth

[2021-05-21 02:39] #1447 closed

[2021-05-21 02:41] ttttangzhen commented on #1498
Thanks your reply, I got it!

we can use method  `invoke` and change `InvokeMode` to InvokeMode.ASYNC when we send request.

[2021-05-21 02:53] ttttangzhen commented on #1498
😁
I want to try to refactor this, can I ?

[2021-05-21 02:53] yu199195 commented on #1498
@ttttangzhen   Ok， you can work on this issue..

[2021-05-21 02:54] plutokaito commented on #1199
tnx,  now i see,  and  I am interested in this issue.

[2021-05-21 02:57] KevinClair commented on #1498
Of course, welcome.

[2021-05-21 03:59] dengliming commented on #1498
@ttttangzhen You should confirm which version introduced `InvokeMode` class before you doing this.

[2021-05-21 04:46] yzydhf opened #1503 "Interface is not timed exception"
## Question
The error log is first discovered：
2021-05-19 09:41:31.769 ERROR 21495 --- [reactor-http-epoll-3] o.d.s.web.plugin.http.WebClientPlugin    : Unable to create Channel from class class io.netty.channel.epoll.EpollSocketChannel
2021-05-19 09:41:31.774 ERROR 21495 --- [reactor-http-epoll-3] o.d.soul.web.plugin.hystrix.HttpCommand  : http execute have error:

io.netty.channel.ChannelExcepti

[2021-05-21 05:09] yu199195 commented on #1503
@yzydhf  hi

we already fix it in master，

[2021-05-21 05:10] ttttangzhen commented on #1498
@dengliming
Thank you for your suggestion.
 I will check this, and give a solution before development

[2021-05-21 06:15] yzydhf commented on #1503
Could you please tell me which version is repaired? I just checked that the version we are using is 2.1.0-Release, and how should I repair it on this version? thank you

[2021-05-21 06:20] #1496 closed

[2021-05-21 06:22] yu199195 commented on #1503
the next version by apache

[2021-05-21 06:39] zhangjh opened #1504 "Shenyu Admin hold the metadata persistently？"
## Question

If the dubbo provider doesnot online already(may be service restarting, maybe service crashed...), the admin console will not refresh the registed metadata automatically? How does sheyu admin handle the "service discovery"?
I read the source code, it seems only handled service registration logic, no service  offline logic？

[2021-05-21 07:03] yzydhf commented on #1503
English is really not good, github still can not connect, convenient to add WeChat chat

[2021-05-21 07:46] yu199195 commented on #1503
@yzydhf  xixy199195

[2021-05-21 07:52] yu199195 commented on #1504
used by dubbo-client。。

[2021-05-21 08:24] yu199195 opened #1507 "Add MatchStrategyFactory Test"
## Task

add test

Task List:

- [ ] Add  MatchStrategyFactoryTest to test  MatchStrategyFactory

Please read the [Contribution Guideline](https://dromara.org/projects/soul/contributor/) before submitting the PR

[2021-05-21 08:28] yu199195 opened #1508 "Add test for ParameterData"
## Task

add ParameterDataTest for Coverage CookieParameterData， HeaderParameterData， HostParameterData ， IpParameterData

PostParameterData，QueryParameterData，RequestMethodParameterData， URIParameterData

Task List:

- [x] add ParameterDataFactoryTest @FocusZhouGD
- [x] add CookieParameterDataTest
- [x] add HeaderParameterDataTest @cchenxi
- [x] add HostParameterDataTest
- [x] add IpParameterData

[2021-05-21 08:35] useaname commented on #1508
Please assign to me add URIParameterDataTest.

[2021-05-21 08:36] wyc192273 commented on #1456
I will finish this. in this weekend. I've been a little busy lately.

[2021-05-21 09:02] ttttangzhen commented on #1507
I wanna do this, please assign me

[2021-05-21 09:03] tangtian8 commented on #1508
add URIParameterDataTest give me tks

[2021-05-21 09:07] xxl115 commented on #1508
Please assign to me add RequestMethodParameterDataTest

[2021-05-21 09:07] yu199195 commented on #1507
please to dev@shenyu.apache.org

[2021-05-21 09:07] winfred958 commented on #1508
Please assign to me add QueryParameterDataTest.

[2021-05-21 09:08] xxl115 commented on #1508
Please assign to me add PostParameterDataTest

[2021-05-21 09:08] Banana1995 commented on #1508
I'm interesting in add HostParameterDataTest ,pls assign to me , thanks

[2021-05-21 09:11] Banana1995 commented on #1507
I can do this task , please assign to me

[2021-05-21 09:11] cchenxi commented on #1508
Please assign to me add HeaderParameterDataTest.

[2021-05-21 09:15] FocusZhouGD commented on #1508
Please assign to me add ParameterDataFactoryTest

[2021-05-21 09:20] joewee opened #1509 "Is shenyu support Gray released to spring cloud"
## Question

Is shenyu support Gray released to spring cloud？
Thanks！

[2021-05-21 09:41] ttttangzhen commented on #1507
Done,  Very happy to be able to participate

[2021-05-21 10:38] zhangjh commented on #1504
yes, I know. But the question is, if the dubbo provider lost, the request feels the error when call dubbo rpc failed, however if gateway remove the effectiveless metadata in that scene, the request feels the error immediately, so it doesn't need to call the none exist dubbo service again.

[2021-05-21 11:10] KevinClair commented on #1504
Do you mean there is necessary to check heartbeat like `divide plugin`?

[2021-05-21 11:12] KevinClair commented on #1509
Hello, this is our plan for the next version #1233 . If you have good idea, you can send pull request.

[2021-05-21 15:03] #1498 closed

[2021-05-22 09:58] rottenmu opened #1515 "shenyu example happened code=500 error"
## Describe the bug
访问 http://localhost:9195/springcloud/order/findById?id=1时候shenyu-bootsrap出现 空指针

## Environment

- Soul version(2.3.0)

## Steps to reproduce

....
## Expected behavior
访问 http://localhost:9195/springcloud/order/findById?id=1

## Debug logs
org.springframework.boot.autoconfigure.web.reactive.error.AbstractErrorWebExceptionHandler - [49ac2c9a]  500 Server Error for HTTP GET "/sp

[2021-05-22 12:52] lw1243925457 commented on #1515
Hi, local test it work.

You can check you config:

- 1.open spring cloud plugin in admin web.
- 2.confirm config data register to admin.
- 3.bootstrap open spring cloud.

[2021-05-22 17:51] dengliming commented on #1515
https://dromara.org/zh/projects/soul/quick-start-springcloud/

[2021-05-22 17:51] #1515 closed

[2021-05-23 16:05] leohou0430 commented on #1490
resolve in https://github.com/dromara/shenyu/pull/1505

[2021-05-23 16:06] #1490 closed

[2021-05-24 06:58] #1507 closed

[2021-05-24 07:04] yu199195 commented on #1465
it fix ?   if yes , pls close

[2021-05-24 07:27] crazyStar00 opened #1524 "Whether the framework can support non-HTTP requests"
Whether the framework can support non-HTTP requests

[2021-05-24 07:36] yu199195 commented on #1524
support websocket

[2021-05-24 09:29] #1524 closed

[2021-05-24 13:52] #1465 closed

[2021-05-25 06:18] Technoboy- opened #1529 "Customized netty tcp config"
For EventLoopNettyCustomizer init TcpServerRunOn with preferNative = false, it does not use the native EventLoopGroup, that means DefaultLoopEpoll or DefaultLoopKQueue (which has more optimized feature) are never loaded.
I think we should init EventLoopNettyCustomizer from:
[code]
to
[code]

[2021-05-25 06:25] Technoboy- opened #1531 "Use charset for heath info in HealthFilter"

[2021-05-25 06:44] yu199195 commented on #1529
Hi

netty init config， maybe configured by spring boot  yaml is better ，This allows users to customize.

[2021-05-25 06:45] #1531 closed

[2021-05-25 09:13] gongyunit opened #1535 "ERROR org.dromara.soul.admin.shiro.bean.StatelessAuthFilter - token is null."
ERROR org.dromara.soul.admin.shiro.bean.StatelessAuthFilter - token is null.

[2021-05-25 09:16] yu199195 commented on #1535
Hi，There was a question like yours before, can you search the issue?

[2021-05-25 09:18] yu199195 opened #1536 "ShenYu-admin Support oracle database"
Hi Community

Now shenyu-admin storage support mysql and h2 , now need to add oracle support, welcome everyone to participate！

#### Additional context

Please read the [Contribution Guideline](https://dromara.org/projects/soul/contributor/) before submitting the PR

[2021-05-25 09:36] magicalxiaochen commented on #1536
i want to try this.

[2021-05-25 09:37] KevinClair commented on #1535
Please check here #1495

[2021-05-25 10:28] nuo-promise opened #1537 "Data Sync Center Support apollo"
## Task

Data Sync Center Support apollo！

Task List:

- [ ] Data Sync Center Support apollo

Please read the [Contribution Guideline](https://dromara.org/projects/soul/contributor/) before submitting the PR

[2021-05-25 10:31] ttttangzhen opened #1538 "Data Sync Center Support consul"
## Task

Data Sync Center Support consul

Task List:

- [x] Data Sync Center Support consul

Please read the [Contribution Guideline](https://dromara.org/projects/soul/contributor/) before submitting the PR

[2021-05-25 10:32] ttttangzhen commented on #1538
I want to do this,  plz assign me

[2021-05-25 10:40] zhaiweij opened #1539 "How to add Environmental labeling to shenyu"
## Question

// your question here;

When will shenyu add a traffic tag plug-in?

[2021-05-25 14:15] #1460 closed

[2021-05-25 14:17] rottenmu opened #1542 "About automatic routing of Shenyu"
## Feature Request

#### Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is. Ex. I have an issue when [...]

#### Describe the solution you'd like

A clear and concise description of what you want to happen. Add any considered drawbacks.

#### Describe alternatives you've considered

A clear and concise description of any alternati

[2021-05-25 14:30] SaberSola commented on #1542
can you describe it in detail about automatic routing？

[2021-05-25 14:47] rottenmu opened #1543 "Can Shenyu weak admin in the future.Because I want to use other config center,such as nacos,apollo."
## Feature Request

#### Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is. Ex. I have an issue when [...]

#### Describe the solution you'd like

A clear and concise description of what you want to happen. Add any considered drawbacks.

#### Describe alternatives you've considered

A clear and concise description of any alternati

[2021-05-25 15:20] #1529 closed

[2021-05-25 15:21] 0x12FD16B commented on #1536
I'd like to participate this task.

[2021-05-26 02:03] winegood opened #1544 "shenyu certification management, after adding the application, when editing can not add interface"
Authentication management, can only be added when the interface can be added, the back can not mention that added

[2021-05-26 02:11] yu199195 commented on #1544
Hi  please in english

[2021-05-26 02:14] yu199195 commented on #1536
@magicalxiaochen hi ,please add me vchat xixy199195,  I invite you to join the developer group

[2021-05-26 02:18] KevinClair commented on #1543
Now you can do this if you use Nacos as the data synchronization.

[2021-05-26 02:20] yu199195 commented on #1543
@rottenmu  hi， I suggest you use shenyu-admin to configure the routing rules

if you not use shenyu-admin， The data format will be more complex ， also you can used nacos。

you can see this ` org.apache.shenyu.sync.data.nacos.NacosSyncDataService` .

[2021-05-26 03:57] lw1243925457 opened #1545 "Data Sync Center Support Etcd"
## Task

Data Sync Center Support consul

Task List:

- [ ] Data Sync Center Support consul

Please read the [Contribution Guideline](https://dromara.org/projects/soul/contributor/) before submitting the PR

[2021-05-26 03:58] lw1243925457 commented on #1545
I want to do this, plz assign me

[2021-05-26 10:18] yqwoe opened #1547 "Custom AbstractSoulPlugin not work"
## Describe the bug

According to the document https://dromara.org/projects/soul/custom-plugin/ "Matching Traffic Processing Plugin" does not work, request does not enter

## Environment

- Soul version(s): [e.g. 2.3.0]

## Steps to reproduce

## Expected behavior

## Debug logs

<details>
<summary>Click to expand</summary>

[code]
</details>

[2021-05-26 10:33] KevinClair commented on #1547
Please describe in detail.

[2021-05-26 10:48] ttttangzhen opened #1548 "Does Jwt plugin need path filtering"
in Jwt plugin
`org.apache.shenyu.plugin.jwt.JwtPlugin#doExecute`

[code]
I think there is no need to do path filtering here.
All requests that can reach this plugin require authentication

[2021-05-26 13:56] midnight2104 opened #1549 "add a shenyu-protocol-grpc module"
## Task

add a shenyu-protocol-grpc module to define proto file that optimize grpc call

Task List:

- [ ] task1
- [ ] task2
- [ ] task3

Please read the [Contribution Guideline](https://dromara.org/projects/soul/contributor/) before submitting the PR

[2021-05-27 01:11] lxl910128 commented on #1548
I agree, all filter about plugin should be config in `selector` or `rule`

[2021-05-27 01:52] yu199195 commented on #1548
if selector and rule ，not used uri match， This is also a supplementary function~

[2021-05-27 02:38] ttttangzhen commented on #1548
Got it
@lxl910128 @yu199195 Thank you all for your reply

[2021-05-27 02:39] #1548 closed

[2021-05-27 07:59] midnight2104 commented on #1549
it's solved and mergeed into master.this is[PR](https://github.com/dromara/shenyu/pull/1552)

[2021-05-27 08:00] #1549 closed

[2021-05-27 08:00] midnight2104 commented on #1549
it's solved and merged into master.this is PR

[2021-05-28 04:38] jmwasky commented on #1400
![shenyu](https://user-images.githubusercontent.com/3257442/119930144-794ae480-bfb1-11eb-9dc2-ed65b66a0343.png)

[2021-05-28 15:03] impactCn commented on #1539
Please describe your needs in detail.

[2021-05-29 10:19] dengliming commented on #1547
@yqwoe We need a clear and concise description of what the bug is and the steps to reproduce.

[2021-05-29 10:23] renzhuyan commented on #1536
can I still participate?

[2021-05-29 15:20] #1508 closed

[2021-05-30 06:30] WillemJiang commented on #1461
I just have a quick check with the icla signed information. I cannot find the these emails into the icla.txt.
Please check update the email with the one which sign the iCLA.

wuudongdong@gmail.com
jiang950526@gmail.com
LL2104@163.com
11090829@qq.com

[2021-05-30 06:59] midnight2104 commented on #1461
hi, I'm sorry, the `LL2104@163.com` is error, and the right email for send ical is `midnight2104@foxmail.com`.

[2021-05-30 07:46] midnight2104 opened #1555 "Access gprc services in the gateway in a better way."
## Task

 The shenyu-client-grpc module has already provided the json grpc service that wrap the origin grpc service.

If the request message and response message of the json service can be dynamically constructed in the shenyu-plugin-grpc module, we can call the server.

Task List:

- [ ] task1
- [ ] task2
- [ ] task3

Please read the [Contribution Guideline](https://dromara.org/projects/soul/con

[2021-05-30 08:02] WillemJiang commented on #1461
Thx, I found iCLA record with midnight2104@foxmail.com.

[2021-05-31 02:08] tuohai666 commented on #1461
Hi @WillemJiang,
For **jiang950526@gmail.com** and  **11090829@qq.com**, we can search the email address in private@shenyu.apache.org where the receipt ack can be found. I think they should in the icla.txt if there are  acknowledgments.
Can you help to double check these emails? Maybe they are missed.

[2021-05-31 03:02] zhangjh commented on #1231
I met this error too,I'll submit a pr, plz review

[2021-05-31 03:03] tuohai666 commented on #1461
jiang950526@gmail.com sent the icla file, but jiang950526@qq.com is written in the icla.pdf. So use jiang950526@qq.com to search in the icla.txt may find the item. jiang950526@qq.com is a valid mail address.

[2021-05-31 03:06] tuohai666 commented on #1461
11090829@qq.com sent the icla file, but 11090289@qq.com is written in the icla.pdf. 11090289@qq.com is not a valid mail address because of typo. I suggested him to update the icla.pdf and re-send.

[2021-05-31 03:07] yu199195 commented on #1231
Hi  zhangjh

what error ?

[2021-05-31 03:12] Redick01 commented on #1461
I am so sorry, the 11090289@qq.com is error,  my correct email is 11090829@qq.com

[2021-05-31 04:13] zhangjh commented on #1504
No, What I mean is that when the service is down, the metadata is still there, and the gateway reports an error message that the service provider does not exist.
Can it be changed to delete the metadata when the service goes offline, so that the gateway can directly perceive the error message and no longer need to To call the service.

我是说，当dubbo服务挂掉的时候，网关是不是可以直接感知到，而不需要再去调用rpc的时候才发现服务不存在提供者了。现在貌似

[2021-05-31 04:16] MarcusJiang1306 commented on #1461
yes, 2 email addresses are valid, I used [jiang950526@gmail.com](mailto:jiang950526@gmail.com) sent the icla file, but [jiang950526@qq.com](mailto:jiang950526@qq.com) is written in the icla.pdf

[2021-05-31 05:04] KevinClair commented on #1504
Got it, shenyu will support it in the future.Thanks for your advice.

[2021-05-31 06:23] yu199195 commented on #1504
Can it be changed to delete the metadata when the service goes offline, so that the gateway can directly perceive the error message and no longer need to To call the service.

Dubbo metada is the service interface,  not instance  do  you know?   if dubbo instance down, used by dubbo regsiter center.

the router is mean the user config.

[2021-05-31 07:06] #1535 closed

[2021-05-31 07:07] #1503 closed

[2021-05-31 07:07] #1400 closed

[2021-05-31 07:08] #1359 closed

[2021-05-31 07:15] zhangjh commented on #1504
Do not agree very much. Metadata almost automatically registered according to the method marked with annotation `@ShenyuDubboClient`.
It stands to reason that, it should be automatically delete after the rpc service instance does not exist.
For example, after a certain method is abandoned, there will be some useless mapping information in the shenyu-admin console. Of course, the admin console prov

[2021-05-31 07:34] wuudongdong commented on #1461
I am so sorry, I sent a email which attachment appears to be unsigned. I have sent another email, but there is no reply.

[2021-05-31 08:05] yu199195 commented on #1504
metadata can update,  if service and method changed.   Do you really understand the relationship between metadata and routing?

if dubbo service have 3 instance， Is it necessary to register 3  instance？  If only one is registered, does one of them go down and need to be deleted?

so  result metadata is have only one,   but instance have more .  And it instance  depends on the dubbo registry。

[2021-05-31 12:59] WillemJiang commented on #1461
Please resend the iCLA with right email address with it.

[2021-05-31 13:00] WillemJiang commented on #1461
Please resend the iCLA with right email address with it.

[2021-05-31 13:01] WillemJiang commented on #1461
Could you send the iCLA again?

[2021-05-31 13:03] Redick01 commented on #1461
OK，I was sent the correct icla pdf

发自我的iPhone

------------------ Original ------------------
From: Willem Jiang ***@***.***&gt;
Date: Mon,May 31,2021 8:59 PM
To: dromara/shenyu ***@***.***&gt;
Cc: liupenghui ***@***.***&gt;, Comment ***@***.***&gt;
Subject: Re: [dromara/shenyu] CLAs signed status of the major contributors (#1461)

I am so sorry, the ***@***.*** is error, my correct email is ***@

[2021-05-31 14:14] #1231 closed

[2021-05-31 15:32] nuo-promise opened #1562 "Fix the JwtUtil.getUserId method"
## Bug

The userid is defined as static field in JwtUtil. There will be concurrency problems with multiple users.

![image](https://user-images.githubusercontent.com/7796156/120260765-19ae4b00-c2c9-11eb-9f17-310d4c8b52df.png)

[2021-05-31 15:38] zhaiweij opened #1563 "Zookeeper synchronization remove java serialization"
## Task

A clear and concise description of Task

Task List:

- [ ] remove ZookeeperDataChangedListener sync java serialization
- [ ] remove ZookeeperSyncDataService sync java serialization
- [ ] the serialization of java bea under the org.apache.shenyu.common.dto package

Please read the [Contribution Guideline](https://dromara.org/projects/soul/contributor/) before submitting the PR

[2021-05-31 15:53] #1555 closed

[2021-06-01 02:42] plutokaito commented on #1562
plz, assign to me, tnx

[2021-06-01 02:47] plutokaito commented on #1545
could i in join u, and do something ?

[2021-06-01 02:55] yu199195 commented on #1563
good idea !

[2021-06-01 03:11] #1395 closed

[2021-06-01 04:13] lw1243925457 commented on #1545
oh, bro, sorry. most of them have been finished. In the final debugging verification.

[2021-06-01 04:43] #1547 closed

[2021-06-01 08:17] Asxing opened #1565 "Enhance shenyu-plugin-request module unit test"
Task List:

- [ ] Enhance shenyu-plugin-request module unit test，make its coverage rate is more than 80%

Please read the [Contribution Guideline](https://dromara.org/projects/soul/contributor/) before submitting the PR

[2021-06-01 08:19] Asxing opened #1566 "Enhance shenyu-spring-boot-starter-plugin-request module unit test"
Task List:

- [ ] Enhance shenyu-spring-boot-starter-plugin-request module unit test，make its coverage rate is more than 80%.

Please read the [Contribution Guideline](https://dromara.org/projects/soul/contributor/) before submitting the PR

[2021-06-01 12:17] lxl910128 commented on #1565
let me try

[2021-06-01 12:18] lxl910128 commented on #1566
let me try

[2021-06-01 13:56] Asxing commented on #1566
please to dev@shenyu.apache.org

[2021-06-01 13:56] Asxing commented on #1565
please to dev@shenyu.apache.org

[2021-06-02 03:39] yu199195 opened #1569 "Add MetricsReporterTest for UT"
## Task

this class path is `org.apache.shenyu.metrics.reporter.MetricsReporter`

If you're interested, you can create a test class for it that covers 80 percent of the code.

Please read the [Contribution Guideline](https://dromara.org/projects/soul/contributor/) before submitting the PR

[2021-06-02 03:54] tangtian8 commented on #1569
please assigned to me,ths

[2021-06-02 04:25] WillemJiang commented on #1461
I can find the jiang950526@qq.com in the icla.txt file, if you are using this mailbox, we just need to update the table file for it.

[2021-06-02 08:03] joakapp opened #1572 "Soul-GateWay-Admin add selector Handler"
## Describe the bug
When adding selector data in soul gateway admin, the handler item can't be added. After each successful modification, there is no data for the second time.

## Environment

- Soul version(s):2.3.0
- -MySQL 8.0.23

[2021-06-02 08:05] dengliming commented on #1572
which plugin? divide?

[2021-06-02 08:08] joakapp commented on #1569
主要就在sou-gateway-admin 上操作选择器时，配置handler(处理器)时添加相关配置信息，可以保存，但是数据没有入库。再次点击查看数据就是空的

[2021-06-02 08:09] joakapp commented on #1569
只要再次刷新数据就会消失不见，在数据库selector表中也没有数据。（使用的数据库为8.0.23mysql）

[2021-06-02 08:11] joakapp commented on #1572
divid,
主要就在sou-gateway-admin 上操作选择器时，配置handler(处理器)时添加相关配置信息，可以保存，但是数据没有入库。再次点击查看数据就是空的.

[2021-06-02 08:11] joakapp commented on #1572
divide

[2021-06-02 08:14] dengliming commented on #1572
It automatically checks to see if the `ip+port` can be connected. and It will delete it automatically if you can't connect to it. You can turn this configuration off.

https://dromara.org/zh/projects/soul/divide-plugin/

[2021-06-02 08:22] #1572 closed

[2021-06-02 08:50] joakapp opened #1573 "when use divide plugin ,How to set up rewrite_uri"
## Question

when use divide plugin ,How to set up rewrite_uri
for example:

http://ip:port/http/test/hello   ----- gateway

http://ip:port/test/hello   -------- real client

[2021-06-02 09:06] #1573 closed

[2021-06-02 14:56] #1562 closed

[2021-06-03 05:47] tuohai666 commented on #1461
Thanks for the help of WillemJiang and the ASF secretary,  all of the problems have been solved:

For 1 & 2, Willem confirmed these two by alternative emails.
For 3 & 4, The ASF secretary received the iclas and sent the receipt acknowledgement.

- [ ] 1. LL2104@163.com is another email of Liang Liu. While the email signed in icla is midnight2104@foxmail.com .
- [ ] 2. jiang950526@gmail.com sent th

[2021-06-03 16:15] lxl910128 opened #1578 "BUG about RequestPlugin"
[code]

set headers error, this means , old header map add new header map,  lot of key will have 2 same value！

I will fix it

[2021-06-03 16:35] lxl910128 commented on #1578
[code]

[2021-06-03 16:41] dengliming commented on #1578
@lxl910128 Can you provide the error log?

[2021-06-03 16:45] lxl910128 commented on #1578
i have a picture , bug i can't upload

[2021-06-03 16:56] lxl910128 commented on #1578
![Uploading image.png…]()

[2021-06-03 17:33] lxl910128 commented on #1578
![image](https://user-images.githubusercontent.com/8736745/120687681-cdcff180-c4d4-11eb-83d2-4371ac1dcce7.png)

[2021-06-04 04:48] xinchun123 opened #1580 "Post request, the parameters are spliced in the URL, and after forwarding to the spring MVC project, the parameters are not accepted"
The soul version is 2.3.0-release, spring cloud project
The request method is: post request

localhost:9999/api-device/device/station/web/save?name=ffffff&contact=ffff&contactMobile=ffff

@PostMapping("/save")
public ApiResponse save(DeviceStationAddRequest request) {
    return deviceStationService.create(request);
}
Picture after passing through the gateway:
![微信图片_20210604124735](https://user-i

[2021-06-04 05:50] xinchun123 commented on #1580
在WebClientPlugin插件中execute方法获取到URL path方法,如果是POST请求,只会获取到URL,如果是GET请求,会获取到URL并且url上带的参数也可以获取到,我觉得是在这一步过程中,POST请求丢失了URL上面的参数
![image](https://user-images.githubusercontent.com/81403058/120752024-86c91700-c53b-11eb-96b9-2e29dccbfee2.png)

[2021-06-04 06:24] tydhot commented on #1580
well, the urlPath is put in divide plugin.
<img width="973" alt="image" src="https://user-images.githubusercontent.com/27889201/120755329-6fd8f380-c540-11eb-8887-c2d12004dba6.png">
Maybe you can debug here to see what url is put in exchange's attribute.

[2021-06-04 06:27] #1578 closed

[2021-06-04 07:03] yu199195 commented on #1580
pls in english

[2021-06-04 07:33] leontius opened #1582 "Some magic values ​​and override are not standardized"
## Describe the bug
Some magic values ​​and override are not standardized.

## Environment

- Soul version(s): master

## Steps to reproduce
![WX20210604-152843](https://user-images.githubusercontent.com/5589032/120763556-ec240480-c549-11eb-9f24-819f7410a199.png)
![WX20210604-152825](https://user-images.githubusercontent.com/5589032/120763560-ed553180-c549-11eb-9c46-b8ac1933eb2c.png)

## Expected

[2021-06-04 07:35] dengliming commented on #1582
@leontius PR is welcome. : )

[2021-06-04 07:58] xinchun123 commented on #1580
Our project is spring cloud. In the buildRealURL method of SpringCloudPlugin, we only deal with the GETmethod
![image](https://user-images.githubusercontent.com/81403058/120767106-74f06f80-c54d-11eb-93b8-de0881155528.png)

[2021-06-04 07:59] xinchun123 commented on #1580
Please take a look at my reply

[2021-06-04 08:01] yu199195 commented on #1580
spring cloud plugin  have this bug， can you fix it？

[2021-06-04 08:05] xinchun123 commented on #1580
It's easy to add  POST request to judge and check whether the URL has splicing parameters

[2021-06-04 08:10] yu199195 commented on #1580
pls modify this issue title， and fix it.    thanks.

[2021-06-04 08:32] #1582 closed

[2021-06-06 01:27] mrcaobin commented on #1580
装你妈b的洋鬼子

[2021-06-06 14:29] #1566 closed

[2021-06-07 07:23] WillemJiang commented on #1461
I just checked the iclas.txt file, this below emails are in the iclas.txt
"midnight2104@foxmail.com",
"jiang950526@qq.com",
"11090829@qq.com"
"wuudongdong@gmail.com"

[2021-06-07 07:25] WillemJiang commented on #1461
@tuohai666  Please update those emails into the table.

[2021-06-07 07:34] tuohai666 commented on #1461
@WillemJiang Done. I have just update those emails into the table.

[2021-06-08 06:34] #1565 closed

[2021-06-08 06:46] #1545 closed

[2021-06-08 07:10] #1563 closed

[2021-06-08 14:50] SaberSola opened #1593 "webClient support custom certificate"
Now Shenyu's webclient can't support the HTTPS request for custom certificate
I think webclient can load the custom certificate ,It only requires us to configure some information

[2021-06-09 06:17] yu199195 commented on #1593
hi , who can fix it? its good job.

[2021-06-09 06:41] tydhot opened #1595 "shenyu admin add support for Pgsql"
I think if our admin can support pgsql, it would be nice to some developer who can not use mysql because of different reason. But before we start, we need to be more cautious to choose a easiest way.

[2021-06-09 06:51] zhaiweij opened #1596 "Shenyu logback and slf4j replace these with `LogUtils`"
## Task

Replace the logging method of all modules
Task List:

- [ logback and slf4j replace these with `LogUtils`] task1

Please read the [Contribution Guideline](https://dromara.org/projects/soul/contributor/) before submitting the PR

[2021-06-09 06:56] plutokaito commented on #1595
plz, assign to me，tnx

[2021-06-09 07:00] tydhot commented on #1595
@plutokaito Research it before you do it.

[2021-06-09 07:52] yu199195 commented on #1596
good lucky to you

[2021-06-09 09:22] impactCn opened #1597 "add sso plugin"
SSO may be a bit biased towards business needs, so I want to do some general configuration to complete it.

[2021-06-09 09:34] yu199195 commented on #1597
Hi ， We already have the jwt plugin and the auth2 plugin in the works.
Can you send this feature to the mailing list （dev@shenyu.apache.org）?

[2021-06-09 09:35] Zhoutzzz commented on #1597
CAS is the standard process of SSO, if you just do some general configuration, could you consider to do this on oauth2 plugin, the oauth2 plugin i'm testing features, If you are interested, you can talk to me.

[2021-06-09 12:58] syifarahmat opened #1598 "Add example for Login, Register"
Add example login and register over http or spring boot

Thank's

[2021-06-09 15:14] lxl910128 commented on #1598
maybe this can help you
https://dromara.org/projects/soul/soul-set-up/

[2021-06-09 15:31] #1580 closed

[2021-06-09 15:36] yu199195 commented on #1598
@syifarahmat  hi, Thank you for your attention, but so far I do not understand what you mean？

[2021-06-10 08:36] stelin opened #1600 "Can domain name be supported for divide?"
## Question

// your question here;

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot reproduce it on current information, we will **close it**.

Divide support domain + port?

![image](https://user-images.githubusercontent.com/1677543/121492781-bf6c6300-ca09-11eb-8d01-eca76feed94a.png)

[2021-06-10 08:47] zhaiweij commented on #1600
hi. Why does the domain name still need to show the port

On 06/10/2021 ***@***.***> wrote：

Question

// your question here;

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot reproduce it on current information, we will close it.

Divide support domain + port?

—
You are receiving this because you are subscribed to this thread.

[2021-06-10 09:15] ttttangzhen commented on #1600
If you use local host mapping, you can use it like you said

[2021-06-10 09:18] yu199195 opened #1601 "[discuss] Apache ShenYu(incubating) Community Code of Conduct"
Hi  Community:  
In order to better promote the development and regulation of the community
I propose the following community code of conduct.

Create Issues

If you have any problems, you can choose to create an issue to describe.

It has 4 types which are: `Bug Report`, `Feature Request`, `Question` and `Task`.

Please follow the template for each type, if the more detailed your information is,

[2021-06-10 09:20] zhaiweij commented on #1600
Yes, this is the job of DNS

On 06/10/2021 ***@***.***> wrote：

If you use local host mapping, you can use it like you said

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-06-10 09:26] stelin commented on #1600
![image](https://user-images.githubusercontent.com/1677543/121500383-cfd40c00-ca10-11eb-8258-781cf2baf180.png)
Here can not configure domain. I user to private dns Or k8s dns

[2021-06-10 09:28] yu199195 commented on #1600
Of course you can configure the domain name.  like : www.baidu.com

[2021-06-10 09:28] nuo-promise commented on #1601
specified template is good！

[2021-06-10 09:34] stelin commented on #1600
![image](https://user-images.githubusercontent.com/1677543/121501311-b1224500-ca11-11eb-97de-22b7b88ef008.png)

I configured like www.baidu.com, but refresh browser，the configured value is empty!

![image](https://user-images.githubusercontent.com/1677543/121501745-15dd9f80-ca12-11eb-8357-c72218a595ca.png)

[2021-06-10 09:35] stelin commented on #1600
I clone code from master.

[2021-06-10 09:39] github15002200677 opened #1602 "How to participate and contribute"
## Question

hi,all
I would like to ask you a question
How to participate and contribute

[2021-06-10 09:41] yu199195 commented on #1600
can checked by youself ?

or config `shenyu.register.props.checked = false`   in shenyu-admin /application.yaml

[code]

[2021-06-10 09:42] stelin commented on #1600
![image](https://user-images.githubusercontent.com/1677543/121502957-34906600-ca13-11eb-9c62-127f6fffe10f.png)

[2021-06-10 09:43] yu199195 commented on #1600
this config ： https://www.baidu.com

[2021-06-10 09:48] stelin commented on #1600
![image](https://user-images.githubusercontent.com/1677543/121503818-fe9fb180-ca13-11eb-8889-d9d53c56d6b2.png)

can not like this https://www.baidu.com

![Uploading image.png…]()

[2021-06-10 09:53] yu199195 commented on #1602
please  send email to  dev-subscribe@shenyu.apache.org , subscribe shenyu mail list and  discuss related content inside.

[2021-06-10 10:01] stelin commented on #1600
I configured like 'shenyu.register.props.checked = false' for admin .this problem has solved.

[2021-06-10 10:03] stelin commented on #1600
If there will some problem without check?  Configured for 'shenyu.register.props.checked = false'

[2021-06-10 10:04] yu199195 commented on #1600
Why is your network not connecting www.baidu.com?

[2021-06-10 10:05] zhaiweij commented on #1600
They seem to be k8s private DNS, not necessarily open baidu.com

[2021-06-10 10:06] stelin commented on #1600
Private domain Or k8s dns  is check false.Now is to disable check.

[2021-06-10 10:07] stelin commented on #1600
So all domain will be check false,If enable check config.

[2021-06-10 10:12] zhaiweij commented on #1600
Yes, do you just need to close and check an address？

[2021-06-10 10:17] stelin commented on #1600
I want to check ,but check false. If enable check, can not to use shenyu gateway for my product.

[2021-06-10 12:46] WYUSIG opened #1603 "add ratelimiter key for ratelimiter plugin"
## Task

A clear and concise description of Task

Task List:

- [ ] ratelimiter by ip
- [ ] ratelimiter by all request
- [ ] ratelimiter key custom extension

Please read the [Contribution Guideline](https://dromara.org/projects/soul/contributor/) before submitting the PR

[2021-06-10 13:08] Banana1995 commented on #1601
It looks good to me

[2021-06-10 13:17] Banana1995 commented on #1603
I wanna to have a try about this task, pls assign it to me

[2021-06-10 14:29] flycash opened #1604 "Support reading init_script file which is not under resource/ directory"
## Feature Request

For now, when shenyu-admin start up, it will run the `init_script`. But it use `org.apache.ibatis.io.Resources#getResourceAsReader(java.lang.String)` to read the file which means that it only read those files under `resource` directory

`org.apache.shenyu.admin.spring.LocalDataSourceLoader`:

![image](https://user-images.githubusercontent.com/9923838/121541426-df1b7f80-ca39-11e

[2021-06-11 08:22] yu199195 opened #1605 "[Meeting:2021-06-10] Apache ShenYu (Incubating) Committers Meeting"
Hi Community:

Here are the minutes of our committers meeting

Time ：Every Thursday at 9pm

Cycle Time ： Every 2 weeks

Mode ： Online Tencent Video Conference

Purpose： Discussing development tasks and building a harmonious community

Moderator ： xiaoyu

Participants:
----------------------------------------------------------------------
|Name           |     GithubId          |         AapacheId

[2021-06-11 08:23] yu199195 commented on #1604
Hi,  We don't have a custom path to read the init script, can someone from the community fix it?

[2021-06-11 08:35] zhaiweij commented on #1604
I understand your needs and I will improve

[2021-06-11 10:32] zhaiweij opened #1606 "LocalDataSourceLoader custom read init_script path"
## Task

add custom read init_script path to LocalDataSourceLoader

Task List:

- [ ] add custom read init_script path to LocalDataSourceLoader

Please read the [Contribution Guideline](https://dromara.org/projects/soul/contributor/) before submitting the PR

[2021-06-11 10:37] midnight2104 opened #1607 "support call server with streaming in grpc"
## Feature Request

#### Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is. Ex. I have an issue when [...]

#### Describe the solution you'd like

A clear and concise description of what you want to happen. Add any considered drawbacks.

#### Describe alternatives you've considered

A clear and concise description of any alternati

[2021-06-12 12:26] lxl910128 commented on #1601
good template

[2021-06-15 06:31] Vic-Lau opened #1615 "Shenyu swagger does not work"
## about shenyu swagger does not work

// I config shenyu-admin and start success, but set "swagger.enabled: true" swagger does not work, I try modified the white-list and add "shiro.white-list /swagger* | /swagger-* | /api*"... but the configuration is not work too. So what do i do?

[2021-06-15 08:06] Vic-Lau commented on #1615
Solved: "swagger.enable**d**: true" => "swagger.enable: true" and white-list add "/swagger-ui.html,/webjars/**,/swagger-resources/**,/v2/api-docs,/csrf". Thanks~

[2021-06-15 08:06] #1615 closed

[2021-06-15 13:20] renzhuyan opened #1617 "Add response plugin"
Add the response plugin to replace all existing RPC responses

[2021-06-16 03:02] #1617 closed

[2021-06-16 03:06] #1606 closed

[2021-06-16 09:33] #1607 closed

[2021-06-16 10:20] ypg521 opened #1619 "The lastes version is 2.3.0?"
## Question

I add dependency to pom :
[code]
But it can not be downloaded.
I also can not found it  in https://mvnrepository.com use keyword 'soul-spring-boot-starter-gateway'

[2021-06-16 10:25] yu199195 commented on #1619
Hi ,  you can see this : https://search.maven.org/search?q=a:soul , it maybe  2.3.0-RELEASE

[2021-06-16 10:29] ypg521 commented on #1619
It's OK

[2021-06-16 10:32] ypg521 commented on #1619
I want a gateway that support multi-protocol,
for example:
http1 listen at 80 port ,and the same time  http2 listen at 81 port
Can `shenyu` do ?

[2021-06-16 10:54] KevinClair commented on #1619
Plugin `Divide` can do this, when the same method deploy with the different port at the same time.

[2021-06-16 13:31] objectboy2016 opened #1620 "Is it the gateway's job to prevent duplicate client submissions? Do you have this function? If not, will you consider adding it?"
If inscribe!!!

[2021-06-16 14:00] SaberSola opened #1621 "Add parameter-mapping plugin"
for example: if you request body is a json like this:{
    "name":"saber",
    "age":"18",
    "id":" 12345"
}
1.you want to replace the  key of  parameters "name" to "realName",you can use the parameter-mapping plugin modify the json ,then the body json is{
    "realName":"saber",
    "age":"18",
    "id":" 12345"
}
2.if you want remove a key, you can use the parameter-mapping plugin modify the j

[2021-06-16 14:00] SaberSola commented on #1621
assigned to me

[2021-06-16 14:28] ttttangzhen commented on #1621
hi, @SaberSola
I have a suggestion.
For many rpc plugins, the request parameters are in strict order.
So we can provide a function to adjust the order of parameters.
I added this feature to the dubbo plugin before, I think it can be integrated into your plan

[2021-06-16 14:48] SaberSola commented on #1621
HI,@ttttangzhen
It’s good suggestion
but the rpc call methods of Shenyu are all generalized.
Is it necessary to strictly control the order of parameters?

[2021-06-16 15:12] KevinClair commented on #1620
Do you mean to do idempotent control?

[2021-06-16 15:15] ttttangzhen commented on #1621
Generic service declares strict parameter order.
For example, The parameter type list of an interface is `(String name, Integer age).`
Our request body  mast use `{"name" : "mike","age": 12}`.
If we use `{"age": 12, "name" : "mike"}` or omit sending any parameters, It will throw an exception.

the parameter-mapping plugin can solve this problem.
Users can config the parameter type list, `{"name":"

[2021-06-17 02:58] yu199195 commented on #1621
@ttttangzhen  Hi, pls discuss in dev@shenyu.apache.org

[2021-06-17 07:15] Technoboy- opened #1622 "Add try catch block in case of queue is full"
LongPollingClient#run may throw exception when queue is full(for clients is ArrayBlockingQueue with 1024 capacity) or other case. But exception is missing.

[2021-06-17 10:04] objectboy2016 commented on #1620
Yes, can this be done in the gateway?

[2021-06-17 10:05] objectboy2016 commented on #1620
Yes, can this be done in the gateway?

[2021-06-17 10:17] yu199195 opened #1625 "Context-path plugin maybe move to shenyu defualt plugin"
## Feature Request

#### Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is. Ex. I have an issue when [...]

#### Describe the solution you'd like

A clear and concise description of what you want to happen. Add any considered drawbacks.

#### Describe alternatives you've considered

A clear and concise description of any alternati

[2021-06-17 12:29] #1622 closed

[2021-06-18 01:59] #1625 closed

[2021-06-18 08:09] Technoboy- opened #1630 "Add batch size to notify client concurrently"
When clients size is bigger, DataChangeTask may take a fewer longer to execute. Add batch size to notify to clients concurrently.

[2021-06-18 08:42] #1630 closed

[2021-06-18 09:13] leontius opened #1633 "There is no thread name in the thread pool, which is inconvenient for debugging."
## Feature Request

#### Is your feature request related to a problem? Please describe

There is no thread name in the thread pool, which is inconvenient for debugging.
![WX20210618-171334](https://user-images.githubusercontent.com/5589032/122538063-c7a34e80-d058-11eb-9e9e-440fc8e8fa34.png)

[2021-06-18 09:40] wangfl-13923768399 opened #1636 "where have shenyu admin. the code of front web"
## Question

// your question here;

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot reproduce it on current information, we will **close it**.

[2021-06-18 09:41] wangfl-13923768399 opened #1637 "哪里有 shenyu admin模块的前段 源码"
## Question

// your question here;

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot reproduce it on current information, we will **close it**.

[2021-06-18 09:41] wangfl-13923768399 opened #1638 "哪里有 shenyu admin模块的前端源码"
## Question

// your question here;

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot reproduce it on current information, we will **close it**.

[2021-06-18 09:45] dengliming commented on #1638
https://github.com/apache/incubator-shenyu-dashboard

[2021-06-18 09:45] #1638 closed

[2021-06-18 09:46] dengliming commented on #1637
Duplicate of [https://github.com/apache/incubator-shenyu/issues/1638](https://github.com/apache/incubator-shenyu/issues/1638)

[2021-06-18 09:46] #1637 closed

[2021-06-18 09:47] zhaiweij commented on #1636
Please read the https://github.com/apache/incubator-shenyu/issues/1638

[2021-06-18 10:09] midnight2104 opened #1639 "modify response result of grpcPlugin"
## Task

A clear and concise description of Task

Task List:

- [ ] task1
- [ ] task2
- [ ] task3

Please read the [Contribution Guideline](https://dromara.org/projects/soul/contributor/) before submitting the PR

[2021-06-18 10:35] midnight2104 opened #1642 "add test case for shenyu-protocol-grpc module"
## Task

A clear and concise description of Task

Task List:

- [ ] task1
- [ ] task2
- [ ] task3

Please read the [Contribution Guideline](https://dromara.org/projects/soul/contributor/) before submitting the PR

[2021-06-18 19:41] ming4J commented on #1148
spring-cloud-starter-consul-discovery

For the compatibility of the project is not high fault tolerance

Personally, I’m more inclined use [this](https://github.com/rickfast/consul-client) client

[2021-06-19 07:22] MarsOu1995 opened #1647 "Fix context-path-plugin: addPrefix is not working properly"
## Describe the bug
Repeated judgment conditions cause ‘addprefix’ to fail to work as expected.

## Environment

- Shenyu version(s): [e.g. ALL and 2.4.0-SNAPSHOT]

## Steps to reproduce

#### [example 1]
- content-path-plugin seletor["/order/**"] handle params : {"contextPath":"/order","addPrefix":"/order/v1"}.
- send a request (example)：http://localhost:9195/order/findById

#### [example 2] This

[2021-06-19 10:57] renzhuyan opened #1649 "add test case for shenyu-spring-boot-starter-plugin-response module"
## Task

A clear and concise description of Task

Task List:

- [ ] task1
- [ ] task2
- [ ] task3

Please read the [Contribution Guideline](https://dromara.org/projects/soul/contributor/) before submitting the PR

[2021-06-19 12:45] #1647 closed

[2021-06-19 14:12] #1642 closed

[2021-06-19 14:14] #1636 closed

[2021-06-20 01:15] midnight2104 commented on #1639
merged

[2021-06-20 01:15] #1639 closed

[2021-06-20 03:17] #1621 closed

[2021-06-20 03:20] #1649 closed

[2021-06-20 03:36] SaberSola opened #1652 "Add plugin for support modify response info"
for example: if you response body is a json like this:{
    "code":0,
    "msg":"sucess",
    "data":{
        "nameInfo":{
            "name":"test"
        },
        "body":{
            "age":"18"
        }
    }
}
you want to replace the  key of  parameters "name" to "realName",you can  modify the json ,then the body json is
{
    "code":0,
    "msg":"sucess",
    "data":{
        "nameInfo":

[2021-06-20 03:37] xiaoshen11 commented on #1652
please assgin to me

[2021-06-20 11:17] #1633 closed

[2021-06-20 11:18] KevinClair commented on #1620
Customized development is recommended because it is partial to business attributes.

[2021-06-20 11:44] KevinClair opened #1653 "[refactor] Refactor code about different client register."
## Feature Request

[code]

#### Describe the solution you'd like

* This is not a good way to scale;
* We can implement different clients through the factory;
[code]
* You can add a new implement when you want to add a new client;
[code]

[2021-06-20 12:27] MarsOu1995 opened #1655 "feature shenyu-common: IpUtils Add a parameter to select the network ip ."
## Feature Request

When the system has multiple network, "IpUtils" needs to obtain the correct IP that we need.

#### Is your feature request related to a problem? Please describe

In some environments, ip is not fixed, but the network segment is unchanged. When my computer has multiple network IPs, for example, 172.168.166.12 and 192.168.50.66（not fixed）.
I need 192.168 network segment to config

[2021-06-21 05:54] ttttangzhen opened #1658 "Change Gitbox notification address."
## Task
Change Gitbox notification address.

Please read the [Contribution Guideline](https://shenyu.apache.org/projects/shenyu/contributor/) before submitting the PR

[2021-06-21 06:12] #1658 closed

[2021-06-21 06:13] dengliming commented on #1658
done

[2021-06-22 03:41] 624217563 opened #1661 "How to customize a PredicateJudge？"
## Question

Hello，I wanna customize a PredicateJudge,but I don't konw how to do it.Does there have a reference documents to teach how to do it?Thanks anyway,looking forward to that.

[2021-06-22 04:22] Zhoutzzz commented on #1661
Can you talk more details, like you wanna customize PredicateJudge in where and what do you wanna impletement feature.

[2021-06-22 09:00] 624217563 commented on #1661
I wanna customize PredicateJudge in Rule condition and I wanna implement a 'in' feature.By it,I can set a configration that match some rule.For example,I set a condition that ip in (1.1.1.1,2.2.2.2,3.3.3) and the request real ip is 1.1.1.1,so the request can be matched.

[2021-06-22 09:43] Zhoutzzz commented on #1661
You can extends **AbstractMatchStrategy** class, reference **AndMatchStrategy** or **AndMatchStrategy**.I hope this reply can resolve your question, good luck.

[2021-06-22 16:00] kevinw66 opened #1662 "UpstreamCheckUtils.checkUrl return false even I can ping success in macos"
## Environment

- Soul version(s): master

When pass parameter to `checkUrl()` function like `baidu.com`. It will use `InetAddress.getByName(host).isReachable(1000)` to check if the url is reachable. But in macos or other linux-based system. The method will call ping with root privileges, but mostly our program won't be granted with root privileges, and make this function return false.

Just like

[2021-06-23 07:57] kevinw66 opened #1665 "About health check for divide plugin"
Currently we have two ways to achieve health check when using divide plugin.

1、UpstreamCheckService
* The problem is, this will delete config from database. this will cause plenty of problem, what if users don't know about this feature, and they restart shenyu server after config was deleted, and so on and so on, this will make them confused and wonder if the program has a bug or not.

2、Upstream

[2021-06-23 08:11] #1662 closed

[2021-06-23 08:12] KevinClair commented on #1665
Heart beat check fail, `UpstreamCheckService` will delete the configuration of selector in the divide plugin.The purpose of this is to remind users that your service request has failed or is down, or something is wrong.I don't think it's a problem to delete the configuration.

[2021-06-23 08:18] kevinw66 commented on #68
公司：浙江比智科技有限公司(奇点云)
网址：https://www.startdt.com/
地点：浙江杭州
联系方式：547228197@qq.com
场景：API网关，定制化开发。

[2021-06-23 08:20] yu199195 commented on #1661
can used shenyu spi  to customize  PredicateJudge

[2021-06-23 08:30] kevinw66 commented on #1665
1、I think the health check logic should not write in admin, but in divide plugin module.
2、The config added by user should deleted by user himself, maybe print a log to remind user is enough?
3、If the machine is currently has bad network, maybe the configuration should not be deleted? If users restart shenyu-admin in the same time, the configuration won't be recovery.

[2021-06-23 08:48] KevinClair commented on #1665
This view will be discussed later whether configuration needs to be deleted in case of failure of service request;
Actually If the machine is currently has bad network, shenyu will delete the configuration, but in a few seconds, shenyu will add the configuration automatically.

[2021-06-23 09:05] kevinw66 commented on #1665
Yeah, But if user restart shenyu-admin in the same time, the configuration will be deleted forever.

[2021-06-23 09:08] ttttangzhen commented on #1665
I don't think we should help users delete the configuration. The health check is started by default, which will make users very confused.If the user needs this function, the user can start the health check by himself, or maybe we can modify the state of the selector

[2021-06-23 09:09] KevinClair commented on #1665
I know, so we need to discuss whether configuration needs to be deleted.

[2021-06-23 09:17] SaberSola opened #1667 "The sql of h2 can't support the keyword of 'IGNORE'"
## Describe the bug
The sql of h2 can't support the keyword of 'IGNORE'

## Environment

- Soul version(s): master
-
## Debug logs
![image](https://user-images.githubusercontent.com/24998393/123070990-d4ec7e80-d446-11eb-8a1b-e88016954930.png)

[2021-06-23 09:34] #1652 closed

[2021-06-23 10:32] yu199195 opened #1669 "[Community：Meetings] Apache ShenYu(incubating) Open And Governance Meetings Invitation"
Hi Community

Welcome to join the community's open governance meetings, if you are interested in.

Details of the meetings are as follows :

time : 2021/05/13-2021/08/05 21:00-22:30(GMT+08:00) beijing

Mode : online

Language : Chinese or English

Subject :

1. Function Development.
2. Release Apache ShenYu 2.4.0.
3. Apache ShenYu Website(https://shenyu.apache.org) Build and IP clear.
4. Community

[2021-06-23 10:42] KevinClair commented on #1669
Got it, we can discuss #1666  at the meeting tomorrow evening

[2021-06-23 10:46] zhaiweij commented on #1669
Got it,I will participate in the discussion of Apache ShenYu Website (https://shenyu.apache.org) Build and IP clear.

On 06/23/2021 ***@***.***> wrote：

Hi Community

Welcome to join the community's open governance meetings, if you are interested in.

Details of the meetings are as follows :

time : 2021/05/13-2021/08/05 21:00-22:30(GMT+08:00) beijing

Mode : online

Language : Chinese or English

[2021-06-23 10:48] Asxing commented on #1669
I hope you will participate in this discussion, and I will chair the meeting :)

[2021-06-23 10:55] midnight2104 commented on #1669
I want join the meeting and  build Apache ShenYu Website .

[2021-06-23 11:28] ttttangzhen commented on #1669
Thanks for the invitation , I want join this meeting:-)

[2021-06-23 11:40] nuo-promise commented on #1669
get it

[2021-06-23 12:01] lw1243925457 commented on #1669
join

[2021-06-23 13:24] vinceDa commented on #1669
Thanks for your invitation , I'll join this meeting!

[2021-06-23 13:32] Zhoutzzz commented on #1669
Thanks for your invitation , I'll join this meeting!

[2021-06-23 15:00] #1667 closed

[2021-06-24 01:05] Ting97 commented on #1669
Thanks for your invitation , I'll join this meeting!

[2021-06-24 01:36] lxl910128 commented on #1669
I'm interested in

[2021-06-24 02:26] 624217563 commented on #1661
ok,I'll have a try.Thanks a lot!

[2021-06-24 04:56] JooKS-me commented on #1669
Thanks for your invitation , I'll join this meeting!

[2021-06-24 06:24] yunwu commented on #1669
Thanks for your invitation , I'll join this meeting!

[2021-06-24 12:11] songyuequan commented on #1669
Thanks for your invitation , I'll join this meeting!

[2021-06-25 01:14] nuo-promise commented on #1537
Processing！

[2021-06-25 04:22] #1653 closed

[2021-06-25 06:09] impactCn commented on #1593
I can try

[2021-06-25 07:44] jaychoubaby opened #1672 "请问如何从ServerHttpRequest获取body内容并解析？"
## 请问如何从ServerHttpRequest获取body内容并解析？

我从ServerWebExchange 获取ServerHttpRequest，然后通过
Flux<DataBuffer> body = request.getBody();
拿到body，可是并没有办法从body中获取请求内容，请问需要怎么做？

[2021-06-25 10:00] Zhoutzzz commented on #1672
For example, my request body content is json string, I can process like this:
`exchange.getRequest().getBody()
            .map(x -> {
                byte[] b = new byte[x.readableByteCount()];
                x.read(b);
                String string = new String(b, StandardCharsets.UTF_8);
                return string;
            }).subscribe();`

[2021-06-25 10:31] yzydhf opened #1673 "Parse the response"
## Question
Currently we have a situation where we need to process the response, so we need to parse the response body to get the specific data, and then do the following. Here is the process (for example  internationalization handler)：

public static Mono<Void> result(ServerHttpRequest request, ClientResponse clientResponse, ServerHttpResponse response) {
//        DataBufferFactory bufferFactory

[2021-06-26 09:40] renzhuyan opened #1674 "add test case for shenyu-plugin-response module"
## Task

Add test case for shenyu-plugin-response module

Task List:

- [ ] task1
- [ ] task2
- [ ] task3

Please read the [Contribution Guideline](https://shenyu.apache.org/projects/shenyu/contributor/) before submitting the PR

[2021-06-26 10:28] flycash opened #1676 "Startup examplese-http but rules not register"
## Describe the bug

## Environment

- Soul version(s): Build from source code

## Steps to reproduce

- startup admin from JetBrains IDEA directly
- startup examples-http

Using the mysql as database.

## Expected behavior

According to the [document](https://shenyu.apache.org/zh/projects/shenyu/quick-start-http/),

we could see something like:
![image](https://user-images.githubusercontent.com/9

[2021-06-26 11:55] #1676 closed

[2021-06-28 01:32] jaychoubaby commented on #1672
可是我使用的是form-data提交的，并且上传了文件，这种方法没办法解析出body中的内容
![001](https://user-images.githubusercontent.com/26641387/123566978-ae866480-d7f3-11eb-9103-19871f84c29e.jpg)

[2021-06-28 03:38] fengzhenbing opened #1679 "[Feature: admin] Display the plugin menus in categories."
## Feature Request
Display the plugin menus in categories.
this is to update for https://github.com/apache/incubator-shenyu-dashboard/issues/125
- [ ] add field `sort` in plugin.
- [ ] modify `role` to store the category of plugin

[2021-06-28 07:44] Technoboy- opened #1681 "Increase the default value of zookeeperSessionTimeout"
Currently, the default value of zookeeperSessionTimeout is 3000 (ZookeeperServerRegisterRepository) , it's recommended to use quite large sessions timeouts, eg 30000.

[2021-06-28 10:13] #1681 closed

[2021-06-28 10:14] #1674 closed

[2021-06-28 10:21] yu199195 commented on #1672
pls in english， now we will close it

[2021-06-28 10:22] #1672 closed

[2021-06-28 14:46] SaberSola commented on #1673
Maybe your business is garbled,or you can check the HttpMessageConverter

[2021-06-29 00:54] jaychoubaby opened #1684 "How to parse data from the body?"
## How to parse data from the body?
Original question #1672

I got the body, but I can't parse it. How can I get the content from it?

![123566978-ae866480-d7f3-11eb-9103-19871f84c29e](https://user-images.githubusercontent.com/26641387/123720763-6b8dc500-d8b7-11eb-8738-e7af79c92c98.jpg)

[2021-06-29 00:55] jaychoubaby commented on #1684
I can get the data in params, but the data in the body seems unable to be parsed. What should I do?

[2021-06-29 03:15] #1655 closed

[2021-06-29 03:44] yu199195 commented on #1684
what version used？

[2021-06-29 03:45] #1661 closed

[2021-06-29 03:46] #1539 closed

[2021-06-29 05:40] jaychoubaby commented on #1684
Version 2.0

[2021-06-29 05:53] jaychoubaby commented on #1684
v2.3.0-release

[2021-06-29 06:39] #1669 closed

[2021-06-29 06:40] #1601 closed

[2021-06-29 06:41] #1600 closed

[2021-06-29 06:41] #1504 closed

[2021-06-29 06:42] #1461 closed

[2021-06-29 06:44] #1605 closed

[2021-06-29 06:44] #1603 closed

[2021-06-29 06:45] #1602 closed

[2021-06-30 08:15] Zhoutzzz opened #1687 "[Fix: plugin-oauth2] the selector match flow need perfect"
## Describe the bug

In OAuth2PreFilter, if selector type is full_flow, filter don't build full_flow match pattern

[2021-06-30 09:38] yu199195 opened #1689 "ShenYu-Admin Add execute Multi-path sql script"
## Feature Request

#### Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is. Ex. I have an issue when [...]

#### Describe the solution you'd like

A clear and concise description of what you want to happen. Add any considered drawbacks.

#### Describe alternatives you've considered

A clear and concise description of any alternati

[2021-06-30 09:42] #1687 closed

[2021-06-30 09:55] #1689 closed

[2021-06-30 16:02] dengliming opened #1692 "cleanup the constants"
- cleanup constants in `org.apache.shenyu.common.constant.Constants`
   Some field in `Constants` is never used. we should remove it. and consider move some common constants to `org.apache.shenyu.common.constant.Constants`. e.g. `"http://"`、`"https://"`

[2021-06-30 16:46] liangchenhe55 opened #1693 "Got ClassNotFoundException while start my Gateway in 2.4.8 spring boot"
## Describe the bug

I have followed the [guide](https://shenyu.apache.org/zh/projects/shenyu/spring-cloud-proxy/) to built my gateway project. But it failed to start and said `java.lang.ClassNotFoundException: reactor.netty.tcp.ProxyProvider$TypeSpec`.

## Environment

- Soul version(s): `2.3.0-RELEASE`
- boot Version = `2.4.8`
- springCloud Version = `2020.0.0`
- springCloudAlibaba Version = `20

[2021-06-30 22:28] param-thakker commented on #1692
Hi @dengliming, can I work on this please? Also, which constants are you talking about to move to org.apache.shenyu.common.constant.Constants?

[2021-07-01 01:30] dengliming commented on #1692
@param-thakker Please feel free to submit a PR.

[2021-07-01 01:41] JohnChen92 commented on #1693
1st Soul Change the name to Shenyu now
2nd Shenyu hasn't released to mvn repository yet
so....you can use the source to build.

[2021-07-01 01:42] dengliming commented on #1693
2.3.0 doc: https://shenyu.apache.org/zh/projects/shenyu-2.3.0/spring-cloud-proxy/

[2021-07-01 02:10] JohnChen92 commented on #1693
the latest release is soul 2.3.0
you can ues old doc Apache ShenYu(2.3.0) or download current and build it

[2021-07-01 03:19] #1679 closed

[2021-07-01 03:19] KevinClair commented on #1692
By the way, do we need to integrate constant classes?For example, `org.apache.shenyu.common.constant.HttpConstants` and `org.apache.shenyu.common.constant.ResourceTypeConstants`.

[2021-07-01 03:55] liangchenhe55 commented on #1693
@dengliming Thanks. But it problem still there.

I changed both spring boot and spring cloud version to `2.2.2.RELEASE`, the problem was fixed. It seems that `soul-spring-boot-starter-plugin-springcloud` is not compatible with the latest version of spring boot (cloud).

Is this the intented behavior or  a bug that needs to be fixed.

[2021-07-01 05:26] ttttangzhen commented on #1684
Hi @jaychoubaby
The formdata body is defined by Http.I think you'd batter use application/json.
And If you want to read request body , you need to wapper request.you can use ServerHttpRequestDecorator to do this.
for more details, you can see
(https://stackoverflow.com/questions/45240005/how-to-log-request-and-response-bodies-in-spring-webflux)

[2021-07-01 08:16] param-thakker commented on #1692
@dengliming, I tried to push my local changes but it is saying that permission is denied for me. Can you please tell me how do I push my changes?

[2021-07-01 08:20] dengliming commented on #1692
@param-thakker You should `fork` the repo first. see more detail in https://shenyu.apache.org/community/contributor/

[2021-07-01 08:25] param-thakker commented on #1692
@dengliming I figured out the error! I have submitted a PR. Please review it and let me know if anything else needs to be done.

[2021-07-01 08:47] KevinClair commented on #1693
Soon after, we will release `version 2.4.0`, it startes with 'org.apache.shenyu'.

[2021-07-01 13:54] dengliming opened #1696 "Update the issue template"
Fix some broken links in pr/issue template. e.g.

`https://shenyu.apache.org/projects/shenyu/contributor/` => `https://shenyu.apache.org/community/contributor/`
`Soul version` => `ShenYu version`

check list:
- https://raw.githubusercontent.com/apache/incubator-shenyu/master/.github/PULL_REQUEST_TEMPLATE.md
- https://github.com/apache/incubator-shenyu/blob/master/.github/ISSUE_TEMPLATE/bug-report.

[2021-07-02 06:18] #1692 closed

[2021-07-02 07:16] syifarahmat opened #1698 "Java 11 or plan 17"
## Question

Is this possible to run with java 11 or plan for java 17

[2021-07-02 07:48] RhnSharma commented on #1696
I would like to take this one.

[2021-07-02 07:49] rbrishabh commented on #1696
Thanks for looking into this @RhnSharma!

[2021-07-02 08:08] yu199195 commented on #1698
Hi,  syifarahmat , Of course you can

[2021-07-02 08:14] syifarahmat commented on #1698
Very good project, thank you

[2021-07-02 08:23] #1696 closed

[2021-07-02 12:11] tuohai666 opened #1700 "Prepare for the first Apache release"
It's time to start creating the first Apache release which is one of the most important milestones in the incubator journey.
I have checked the status of the codes, licences, binaries, etc. And found that there are some items need to be finished before releasing.
The following is a to do list, we can track the status here.

- [x] **Release Guide**
The initial version can be found here: https://she

[2021-07-02 14:42] hermeshephaestus commented on #1700
@tuohai666 i want to do this! You can assign the task to me!

[2021-07-02 14:46] hermeshephaestus commented on #1604
@yu199195 Is anyone currently working on it; if not, assign the task to me!

[2021-07-03 13:38] yu199195 opened #1703 "Refactor loadBalance some code"
## Feature Request

#### Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is. Ex. I have an issue when [...]

#### Describe the solution you'd like

A clear and concise description of what you want to happen. Add any considered drawbacks.

#### Describe alternatives you've considered

A clear and concise description of any alternati

[2021-07-03 13:54] hermeshephaestus commented on #1703
Does a related pr already exist? @yu199195

[2021-07-03 14:16] flycash commented on #1604
Now it has been resolved,, check #1690

[2021-07-03 14:16] #1604 closed

[2021-07-03 18:54] #1703 closed

[2021-07-04 02:42] xiaoshen11 opened #1704 "<test> (<shenyu-plugin-modify-response>) : add test case"
## Task

A clear and concise description of Task

Task List:

- [ ] add tets case for shenyu-plugin-modify-response
- [ ] add tets case for shenyu-spring-boot-starter-plugin-modify-response

Please read the [Contribution Guideline](https://shenyu.apache.org/community/contributor/) before submitting the PR

[2021-07-04 02:52] Banana1995 commented on #1704
I wanna have a try, pls assign it to me

[2021-07-04 02:55] xiaoshen11 commented on #1704
@Banana1995 sorry, I have completed this task

[2021-07-04 03:03] Banana1995 commented on #1704
Alright, that's fine

[2021-07-04 03:44] plutokaito opened #1706 "[Question] h2 support insert ingore into in Mysql model"
I find h2 support `INSERT IGNORE INTO <table> (<columns>) SELECT in MySQL Mode` since  version 1.4.198, and now apache shenyu used version 1.4.200. But in issue #1677, "The sql of h2 can't support the keyword of 'ignore'", I don't think so. I wanna modify like
[code]

[2021-07-04 04:35] plutokaito opened #1707 "[Bug] when getInetAddress return null, method isHostConnector in UpstreamCheckUtils always return true;"
## Describe the bug

## Environment

- ShenYu version(s): master

## Steps to reproduce
org.apache.shenyu.common.utils.UpstreamCheckUtilsTest#testNotIp , in this method, I run it, it alway return true.

## Expected behavior

## Debug logs
![image](https://user-images.githubusercontent.com/7955473/124373328-0de8e680-dcc4-11eb-9827-6b85f067a49a.png)
 thus isHostConnector can't catch any exception, a

[2021-07-04 05:15] dengliming commented on #1706
@plutokaito Thanks for reporting this issue. You can submit a PR to fix this.

[2021-07-04 05:30] dengliming commented on #1707
Thanks. for reporting this issue. but I don't fully understand what you mean. Can you just give me a simple example to reproduce this case?

[2021-07-04 07:04] renzhuyan opened #1709 "Add test case for shenyu-admin module"
## Task

A clear and concise description of Task

Task List:

- [ ] task1
- [ ] task2
- [ ] task3

Please read the [Contribution Guideline](https://shenyu.apache.org/community/contributor/) before submitting the PR

[2021-07-04 11:30] #1707 closed

[2021-07-04 12:13] #1706 closed

[2021-07-04 12:54] huntr-helper opened #1713 "Trying to get in touch with you regarding a security issue"
Hi there,

I couldn't find a `SECURITY.md` in your repository and so am not sure how to best contact you privately to disclose the security issue.

Can you add a `SECURITY.md` file with your e-mail to your repository, so that I know who to contact? GitHub suggests that a [security policy](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) is the b

[2021-07-04 13:33] dengliming commented on #1713
@huntr-helper Thanks for getting in contact. You can email us at `dev@shenyu.apache.org`

[2021-07-04 13:33] #1713 closed

[2021-07-05 01:16] liyeping opened #1714 "Add shenyu-plugin-sign test case"
## Task

A clear and concise description of Task

Task List:

- [ ] add test case for  shenyu-plugin-sign

Please read the [Contribution Guideline](https://shenyu.apache.org/community/contributor/) before submitting the PR

[2021-07-05 03:27] tuohai666 commented on #1700
@hermeshephaestus Which one would you like to do?

[2021-07-05 08:34] yu199195 opened #1715 "RedirectPluginDataHandler not initialized to spring bean"
in org.apache.shenyu.springboot.starter.plugin.redirect.RedirectPluginConfiguration  , like this:

[code]
and  org.apache.shenyu.springboot.starter.plugin.rewrite.RewritePluginConfiguration

[code]

They have the same method name, and spring can only initialize one.

[2021-07-05 08:43] #1715 closed

[2021-07-05 11:23] xh649225370 opened #1717 "click SynchronousData bug"
click SynchronousData bug

2021-07-05 19:23:00 [ZkClient-EventThread-72-localhost:2181] ERROR org.I0Itec.zkclient.ZkEventThread - Error handling event ZkEvent[Data of /shenyu/metaData/%2Fdn%2F** changed sent to org.apache.shenyu.sync.data.zookeeper.ZookeeperSyncDataService$5@2f161948]
java.lang.ClassCastException: java.lang.String cannot be cast to org.apache.shenyu.common.dto.MetaData
	at org.apa

[2021-07-05 11:33] KevinClair commented on #1717
Please describe in detail, and tell us the version.

[2021-07-05 12:17] xh649225370 commented on #1717
zookeeper Data Synchronization bug

shenyu version:2.4.0-SNAPSHOT

zk version: 3.6.3

useing Zookeeper Synchronization

[2021-07-05 13:02] #1709 closed

[2021-07-05 15:06] SaberSola opened #1721 "Add test case for parameter-mapping and remove the cache module"
## Feature Request

#### Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is. Ex. I have an issue when [...]

#### Describe the solution you'd like

A clear and concise description of what you want to happen. Add any considered drawbacks.

#### Describe alternatives you've considered

A clear and concise description of any alternati

[2021-07-05 15:59] hermeshephaestus commented on #1700
@tuohai666
Release Guide
Request for ShenYu DockerHub repository
The above two tasks can be done for me!

[2021-07-06 03:33] tuohai666 commented on #1700
These two tasks are already in progress, you can choose others.

[2021-07-06 04:05] ttttangzhen opened #1723 "[Question] Rewrite plugin only support one mode"
## Question
Now rewrite plugin only support one mode.
Users can only change URI to a fixed path, It's not flexible.

I suggest removing the `rewriteUri` field in rule config. Users only needs to configure the `regex` and `replace` fields, and replace the requested uri according to the regular.

[2021-07-06 12:35] kangarooking opened #1727 "i can not find shenyu sentinel plugin s fallbackUri in the page"
where can i set the sentinel fallbackUri ?

[2021-07-06 15:21] #1721 closed

[2021-07-07 03:19] hermeshephaestus commented on #1700
@tuohai666
Exclude the dependency of mysql-connector-java when packaging.
Change the binaries of bootstrap.jar and admin.jar to .tar.gz.

[2021-07-07 07:40] LionYe opened #1728 "有shenyu微信交易群吗？"
## Question

// your question here;
有shenyu微信交易群吗？
Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot reproduce it on current information, we will **close it**.

[2021-07-07 07:45] liangchenhe55 commented on #1693
Finally, I found out that it is the result of version conflict.
For those with the same problems, try to use the version indicated in the document first.
For me, I changed the spring cloud componet's version to `2.2.2.RELEASE` and the problem was gone.

[2021-07-07 07:45] #1693 closed

[2021-07-07 08:26] fengzhenbing commented on #1727
The `fallbackUri ` field is missing in schema.sql  when we init the table  `plugin_handle`. We need to add it in both schema.sql   and schema.h2.sql  under `shenyu-admin/src/resources/META-INF`

[2021-07-07 08:41] ichenhe opened #1729 "How to expose self url and retrieve apis"
## Question

Actually, these are two questions:

1. How to expose self url?
2. How to retrieve all the api's information.

My use case is try to aggregate all the api docs of the microservice together. To do that, I have to follow these two steps:

1. Let my gateway application provide swagger-ui pages. I have added the [springdoc](https://springdoc.org/#spring-webflux-support) support, but when I

[2021-07-07 09:33] verysimple44 opened #1730 "ReadTimeoutHandler on a channel which in a PooledConnectionProvider would cause an unexpected ReadTimeoutException"
## Describe the bug
In brief, might we shouldn't use ReadTimeoutHandler when channel is reusable. For example, a business server spends 2s for processing each request, and I add a ReadTimeoutHandler(5s), it will still cause a TimeoutException in some case.

A scheduling ReaderIdleTimeoutTask will be submit when channel is active, but it won't be canceled when channel is returned to the pool, it wo

[2021-07-07 09:51] verysimple44 commented on #1730
[code]

[code]

[2021-07-07 10:18] yu199195 commented on #1730
in master，already fix it.

[2021-07-07 10:21] yu199195 commented on #1728
please in english, and you can add  wechat ： xixy199195  and Note the reason for your visit。

[2021-07-07 10:23] verysimple44 commented on #1730
master, in org.apache.shenyu.springboot.starter.plugin.httpclient.HttpClientPluginConfiguration#httpClient
you add a ReadTimeoutHandler also, fix it by other way?

[2021-07-07 10:25] yu199195 commented on #1729
you can config redirect plugin to fix

[2021-07-07 11:50] fixwater opened #1731 "The config shenyu > client > props > port is duplicate with spring server.port config"
## Feature Request

#### Is your feature request related to a problem? Please describe

In docs (https://shenyu.apache.org/zh/projects/shenyu/register-center-access/)  when access zookeeper , a springmvc(springboot) client have to config

[code]

The config shenyu > client > props > port  is duplicate with   spring server.port config

#### Describe the solution you'd like

need not config 【shenyu

[2021-07-07 15:25] KevinClair commented on #1731
Hello, it is a good idea, can you submit pull request ? we will review it.

[2021-07-07 17:42] #1717 closed

[2021-07-07 17:44] #1727 closed

[2021-07-08 03:06] zhaiweij commented on #1731
I go to improve this

[2021-07-08 06:12] gary-jiali commented on #68
公司：吉祥航空
网址：http://www.juneyaoair.com
地点：上海市
联系方式：136356196@qq.com
场景：API网关，定制化开发。

[2021-07-08 06:28] tuohai666 commented on #1700
@hermeshephaestus  These two were in progress yesterday, and finished just now. Thanks for your reply.

[2021-07-08 09:31] #1728 closed

[2021-07-08 10:40] SaberSola opened #1740 "Replace The Risky Cryptographic Algorithm "AES/ECB/NoPadding""
The ECB mode (Cipher.getInstance("AES/ECB/NoPadding")) is Risky

[2021-07-08 13:12] #1723 closed

[2021-07-08 13:51] #1714 closed

[2021-07-09 02:37] nuo-promise opened #1741 "Add Apache Incubator-shenyu Ui Dependencies Licenses"
## Task

A clear and concise description of Task

Task List:

- [x] add apache shenyu ui dependencies licenses

Please read the [Contribution Guideline](https://shenyu.apache.org/community/contributor/) before submitting the PR

[2021-07-09 06:47] #1741 closed

[2021-07-09 06:49] nuo-promise commented on #1741
complete!

Zhang Yonglun ***@***.***> 于2021年7月9日周五 下午2:48写道：

[2021-07-09 07:05] verysimple44 commented on #1730
I saw it at 1477ec983b115ddf2844a95d4fe9286407aa4758, so close it

[2021-07-09 07:05] #1730 closed

[2021-07-09 08:49] danielchenxs commented on #1740
plz assign me

[2021-07-09 08:49] ywj1352 commented on #1740
me

[2021-07-09 09:14] ywj1352 opened #1743 "incorrect pageHelper version at shenyu-admin"
## Describe the bug

## Environment

- ShenYu version(s):  master

## Steps to reproduce

## Expected behavior

Start success

## Debug logs

<details>
<summary>Click to expand</summary>

Caused by: org.apache.ibatis.builder.BuilderException: Error parsing SQL Mapper Configuration. Cause: org.apache.ibatis.builder.BuilderException: Error resolving class. Cause: org.apache.ibatis.type.TypeException

[2021-07-09 09:15] ywj1352 commented on #1743
if change pageHepler version to  <pagehelper.version>5.0.4</pagehelper.version>  u well start it success

[2021-07-09 09:18] yu199195 commented on #1743
Why don't we have this exception? You should check your dependencies~

[2021-07-09 09:20] ywj1352 commented on #1743
I well check it

[2021-07-09 09:57] ttttangzhen opened #1744 "Fix rewrite plugin cannot rewrite uri after context-path plugin"
## Task
Task List:

- [x] Fix rewrite plugin cannot rewrite uri after context-path plugin
- [x] Remove context-path plugin useless field `realUrl`

Please read the [Contribution Guideline](https://shenyu.apache.org/community/contributor/) before submitting the PR

[2021-07-10 10:41] #1704 closed

[2021-07-10 10:49] #1744 closed

[2021-07-11 05:52] iwongta opened #1747 "how to get requset body in my plugin??"
## Question

// your question here;

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot reproduce it on current information, we will **close it**.

[2021-07-11 07:04] KevinClair commented on #1747
Please see here #1684

[2021-07-11 07:12] #1740 closed

[2021-07-11 12:40] ShawnJim opened #1749 "shenyu-admin login failure"
## Describe the bug

**shenyu-admin** application.yml missing `aes.secret. iv` configuration. Login throw NullPointerException

## Environment

- ShenYu version(s): [e.g. master]

## Debug logs

<details>
<summary>Click to expand</summary>

[code]
</details>

[2021-07-11 13:28] wangfl-13923768399 opened #1751 "shenyu-admin做多个实例， 在 shenyu-admin 页面上做增删改的接口， 只会调用 shenyu-admin后端 多个后端服务实例之一 服务接口， 这导致 shenyu-admin 同步到 shenyu-bootstrap 的时候，网关服务实例的数据不一致"
## Question

// your question here;

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot reproduce it on current information, we will **close it**.

[2021-07-11 13:38] tydhot commented on #1749
Thanks

[2021-07-11 13:38] #1749 closed

[2021-07-11 13:57] qinliang373 opened #1752 "配置文件中没有iv配置属性，导致登录报错"
## Describe the bug
Caused by: java.lang.NullPointerException: null
	at org.apache.shenyu.admin.utils.CipherUtils.cipherTool(CipherUtils.java:56)
	at org.apache.shenyu.admin.utils.CipherUtils.lambda$encryptHex$0(CipherUtils.java:78)
7月11号更新到最新代码登录报错，定位发现iv配置属性中没有值注入
aes:
    secret:
      key: 2095132720951327

## Environment

- ShenYu version(s): [e.g. 2.2.1]

## Steps to reproduce

## Expected b

[2021-07-11 14:09] dengliming commented on #1752
Duplicate of [https://github.com/apache/incubator-shenyu/issues/1749](https://github.com/apache/incubator-shenyu/issues/1749)

[2021-07-11 14:09] #1752 closed

[2021-07-11 14:11] dengliming commented on #1747
Duplicate of [https://github.com/apache/incubator-shenyu/issues/1684](https://github.com/apache/incubator-shenyu/issues/1684)

[2021-07-11 14:11] #1747 closed

[2021-07-11 14:36] KevinClair commented on #1751
Which way is used for data synchronization?

[2021-07-11 16:53] ttttangzhen commented on #1751
Hi,
For the admin module, there is no need to use the cluster to start, or you can use only one web-console.
If there is a proxy before admin module, and you want to start the cluster also. I have two suggestions

1. you can use Http Long-Polling to synchronize data. It will regularly check the database for changes every 5 minutes.
2. The best way is to use third-party components such as `nacos` t

[2021-07-12 09:46] hirCodd opened #1753 "develop plugin by self?"
## Question

develop plugin must use selector?
e.g. I want to develop a plugin of protocol conversion,I must use selector?

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot reproduce it on current information, we will **close it**.

[2021-07-12 15:43] KevinClair commented on #1753
Please see here [Plugin](https://shenyu.apache.org/zh/projects/shenyu/custom-plugin/).

[2021-07-13 00:58] iwongta commented on #1747
exchange.getRequest().getBody()
        .map(x -> {
          byte[] b = new byte[x.readableByteCount()];
          x.read(b);
          String string = new String(b , StandardCharsets.UTF_8);
          exchange.getAttributes().put(Constants.PARAM_TRANSFORM , string);
          log.info("PreFcOpenPlugin Constants.PARAM_TRANSFORM => {}" , string);
          return string;
        }).subscribe();

[2021-07-13 01:15] hirCodd commented on #1753
thanks!

[2021-07-13 01:15] #1753 closed

[2021-07-13 02:28] kangarooking opened #1755 "I found that part of the official document is inconsistent with the code"
I found that part of the official document is inconsistent with the code. For example, websocketcachehandler can't be found in the code. I hope you check it carefully. Thank you

[2021-07-13 02:38] impactCn opened #1756 "add realIp plugin"
When doing trusted authorization services, the real ip of the other party is generally required,
but after shenyu forwarding, the real ip becomes the ip of shenyu server,
so I want to add this function.

[2021-07-13 02:40] KevinClair commented on #1756
Where you want to get the real ip address in your application?

[2021-07-13 02:45] impactCn commented on #1756
yep

[2021-07-13 02:45] impactCn commented on #1756
yep

[2021-07-13 03:08] yu199195 commented on #1751
pls in english

[2021-07-13 03:15] yu199195 commented on #1756
see https://shenyu.apache.org/projects/shenyu/custom-parsing-ip-and-host/

[2021-07-13 03:42] LionYe opened #1757 "shenyu-examples-http"
## Question
shenyu-examples-http register error
2021-07-13 11:38:30.134 ERROR 13400 --- [or_consumer_-26] o.a.s.r.client.http.utils.RegisterUtils  : http client register error: {"appName":"http","contextPath":"/http","path":"/http/order/save","pathDesc":"Save order","rpcType":"http","ruleName":"/http/order/save","enabled":true,"host":"10.102.22.234","port":8189,"registerMetaData":false}

![image](

[2021-07-13 03:45] KevinClair commented on #1757
Did you start `admin`?

[2021-07-13 03:49] LionYe commented on #1757
yes、I followed the official website document to start the admin and api gateway layer
![image](https://user-images.githubusercontent.com/20884868/125387218-2053d600-e3d0-11eb-8685-2294bad17eb9.png)

[2021-07-13 03:50] KevinClair commented on #1756
Can `HTTP Headers` solve this problem?

[2021-07-13 03:51] yu199195 commented on #1757
please update code

[2021-07-13 03:54] LionYe commented on #1757
Why can't I start according to the operation example？

[2021-07-13 08:43] kangarooking opened #1759 "i find WebsocketSyncDataService s executor.scheduleAtFixedRate some times can not execute"
some times executor.scheduleAtFixedRate can not execute, i need to restart bootstrap. but if it in prod，it is very serious.

[2021-07-13 08:47] kangarooking opened #1760 "restart shenyu-bootstrap,it always show port already used"
when i restart bootstrap,it always show port already used,but i use mac command "lsof -i tcp:9195",this port is not in use, i dont know what the problem is

[2021-07-13 10:16] yu199195 commented on #1759
why executor.scheduleAtFixedRate can not execute ？ its jdk bug ？ or  your  local environmental issues?

[2021-07-13 10:59] objectboy2016 opened #1761 "Is there any plan for MQTT agents to join"
## Question

// your question here;

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot reproduce it on current information, we will **close it**.

[2021-07-13 12:00] kangarooking commented on #1760
Change the port, it can start，but  I feel strange and tedious.

[2021-07-13 12:09] kangarooking opened #1762 "The 3 second timeout is dead in code(HttpClientPluginConfiguration)"
I set a 5 second timeout in admin. I want to test the functionality ,but my request always timeout at 3 second. I check code ,find The 3 second timeout is dead in code(HttpClientPluginConfiguration):

 c.addHandlerLast(new WriteTimeoutHandler(properties.getWriteTimeout(), TimeUnit.MILLISECONDS));
                        c.addHandlerLast(new ReadTimeoutHandler(properties.getReadTimeout(), TimeUnit.

[2021-07-13 12:12] kangarooking commented on #1762
I want to know if I can del this timeout config,Will there be a problem？ because we will use it in prod

[2021-07-13 12:23] KevinClair commented on #1762
It can work, please don't delete it.Please see the line 93 in `org.apache.shenyu.plugin.divide.DividePlugin`

[2021-07-13 12:45] kangarooking opened #1763 "use spingCloud plugin, Concurrent testing(500qps) report error:Can not do async finish for the span repeatedly."
Caused by: java.lang.RuntimeException: Can not do async finish for the span repeatedly.
	at org.apache.skywalking.apm.agent.core.context.trace.AbstractTracingSpan.asyncFinish(AbstractTracingSpan.java:325)
	at org.apache.skywalking.apm.plugin.spring.webflux.v5.webclient.WebFluxWebClientInterceptor.lambda$afterMethod$1(WebFluxWebClientInterceptor.java:96)
	at reactor.core.publisher.FluxDoFinally$DoF

[2021-07-14 02:08] kangarooking commented on #1762
I know, but if "exchange.getAttributes().put(Constants.HTTP_TIME_OUT, ruleHandle.getTimeout());" the ruleHandle.getTimeout() > 3000 ,It doesn't work

[2021-07-14 02:15] KevinClair commented on #1762
Hello @dengliming, did you have any suggestion.

[2021-07-14 02:41] SaberSola commented on #1762
Hi , I think The 3 second timeout in code(HttpClientPluginConfiguration) is the global Configuration, it‘s means The http readTimeout is 3 second,if you want set timeout > 3000,you should set the global timeout > 3000,then  you can set the  ruleHandle timeOut

[2021-07-14 03:02] dengliming commented on #1763
@kangarooking Thanks for reporting this issue. But this is not a ShenYu bug. Please open an issue in the https://github.com/apache/skywalking issue tracker.

[2021-07-14 03:35] SouthEastLJ opened #1768 "webClient will make the urlPath do URL-encode in WebClientPlugin, This will cause the request to be encoded again."
## Describe the bug

## Environment

- ShenYu version(s): [e.g. 2.2.1]

## Steps to reproduce

## Expected behavior

## Debug logs

<details>
<summary>Click to expand</summary>

[code]
</details>

[2021-07-14 03:41] #1768 closed

[2021-07-14 03:42] KevinClair commented on #1760
Maybe it's not Shenyu's bug.Can you check again?

[2021-07-14 04:48] SouthEastLJ opened #1770 "The encoded urlPath will be re-encoded in WebClientPlugin"
## Describe the bug

webClient will make the encoded urlPath do URL-encode in WebClientPlugin, This will cause the request to be encoded again
## Environment

- ShenYu version(s): [e.g. 2.2.1]

## Steps to reproduce

## Expected behavior

## Debug logs

Suppose the url send to gateway is : /test/testWebClient?key=%E7%94%B5%E8%A7%86%E5%89%A7

After the WebClientPlugin processing, The url sent to th

[2021-07-14 04:50] SouthEastLJ commented on #1770
I will deal with the problem I found ， deadline：2021.7.16

[2021-07-14 04:53] kangarooking commented on #1762
ye I know,I just hope this can dynamic configuration or more obvious in shenyu subsequent versions. I hope shenyu  better and better.

[2021-07-14 05:53] SouthEastLJ commented on #1770
I will deal with the problem I found ， deadline：2021.7.16

[2021-07-14 06:33] liaomengge opened #1772 "LoggingPlugin couldn't print log info?"
## Describe the bug

## Environment

- ShenYu version(s): [e.g. 2.2.1]

## Steps to reproduce

## Expected behavior

## Debug logs

<details>
<summary>Click to expand</summary>

[code]
</details>

[2021-07-14 06:38] dengliming commented on #1772
https://shenyu.apache.org/zh/projects/shenyu/logging-plugin/

[2021-07-14 08:59] #1770 closed

[2021-07-15 01:27] ChoviWu commented on #1760
Kill the computer java process,  retry?

[2021-07-15 03:54] KevinClair commented on #1757
Hello, I run it successfully with master branch code,can you try it again?

[2021-07-15 09:43] #1538 closed

[2021-07-15 10:09] LionYe commented on #1757
I think the start of the document starts with the shenyu-admin method. The jar package can be updated. There is a problem with the admin package of this jar. I re-pull the master branch and can run without looking at the document.
![image](https://user-images.githubusercontent.com/20884868/125770914-729725a7-dc21-4b6c-8914-c81752d1b22f.png)

[2021-07-15 13:03] ttttangzhen opened #1777 "Question about selector config"
For the configuration of selector, I have two doubts:
1. I don’t know what the `continued` field means, and I don’t see where it is used in the code.
2. This can be considered a bug, this If we choose FULL_FLOW, the gateway will choose the last `rule`, for some plugin, just like `param-mapping plugin`,this will not meet expectations.

in org.apache.shenyu.plugin.base.AbstractShenyuPlugin#execute
[

[2021-07-16 02:21] MarsOu1995 opened #1778 "[BUG]Chinese URL request is abnormal after passing through the gateway."
## Describe the bug
In the browser, when Chinese is used as the url parameter, it will be encoded and sent to the gateway. But after passing through the gateway, what is passed to the backend becomes non-encoded Chinese.
I suspect the #1770  update caused the error .
## Environment

- ShenYu version(s): [e.g. 2.4.0]

## Steps to reproduce
browser: Get http://${gateway}/XXXX/api/manager?keyword=何铭健

[2021-07-16 02:36] lxl910128 opened #1779 "Bug about shenyu-spring-boot-starter"
What is the function of "shenyu-spring-boot-starter-gateway"?
It contains multiple plugins include shenyu-spring-boot-starter-plugin-divide

**BUT when I use shenyu-plugin-springcloud, My shenyu-bootstrap  can not dependency divide-plugin**

Because divide-plugin and springcloud-plugin have the same function.

So I mush exclusion  divide-plugin  on starter-gateway in my shenyu-bootstrap project.

[2021-07-16 02:40] KevinClair commented on #1778
Thanks for your report, can you fix it?

[2021-07-16 02:49] MarsOu1995 commented on #1778
Yes, I will submit it later.

[2021-07-16 03:10] nuo-promise opened #1780 "Add Changes By Version"
## Task

A clear and concise description of Task

Task List:

- [x] add changes by version

Please read the [Contribution Guideline](https://shenyu.apache.org/community/contributor/) before submitting the PR

[2021-07-16 03:13] yu199195 commented on #1777
Hi

1 . continued filed not used
2. if config FULL_FLOW ， its mean all request  match

[2021-07-16 03:17] lxl910128 commented on #1779
I got it.
when I use springcloud-plugin , must set rpcType=springCloud in QueryParams

[2021-07-16 03:18] #1779 closed

[2021-07-16 03:22] KevinClair commented on #1778
By the way, verify that errors can result when there are special characters in the parameter.

[2021-07-16 03:24] yu199195 commented on #1757
this doc can update。 you can see 2.3.0 doc

[2021-07-16 03:35] SouthEastLJ commented on #1778
is need to determine if the incoming request is already encoded?

[2021-07-16 03:40] MarsOu1995 commented on #1778
No, the browser will automatically encode.

[2021-07-16 05:58] impactCn opened #1782 "add encryp plugin"
Encrypt and decrypt the data of request and response.

[2021-07-16 06:24] nuo-promise commented on #1780
Done!

[2021-07-16 06:25] #1780 closed

[2021-07-16 08:24] verysimple44 opened #1785 "Http request on GET method with encoded json"
## Describe the bug
request uri like this
http://localhost:9195/project/path/test?name=%5B%7B%22a%22:%20%22b%22%7D%5D
or
http://localhost:9195/project/path/test/%E6%B5%8B%E8%AF%95

it will be as below when decoded
http://localhost:9195/project/path/test?name=[{"a": "b"}]
or
http://localhost:9195/project/path/test/[{"a": "b"}]

but gateway use getPath&getQuery instead of getRawPath&getRawQuery
when

[2021-07-16 08:31] yu199195 commented on #1785
we will fix

[2021-07-16 09:31] MarsOu1995 commented on #1778
bug fix #1786

[2021-07-16 09:31] #1778 closed

[2021-07-16 11:19] KevinClair commented on #1785
Duplicate of #1778

[2021-07-16 11:19] #1785 closed

[2021-07-17 13:43] totalo opened #1789 "SwaggerConfiguration contact url is error"
The contact#url in the apiInfo of SwaggerConfiguration is still an old link.

`contact(new Contact("shenyu", "https://github.com/dromara/shenyu", ""))`

[2021-07-17 13:45] dengliming commented on #1789
@totalo Can you fix it? : )

[2021-07-17 13:50] totalo commented on #1789
Yes my pleasure.

[2021-07-17 14:13] #1789 closed

[2021-07-19 08:05] kangarooking opened #1793 "Is the 2.4.0-release branch the latest stable version ?"
![image](https://user-images.githubusercontent.com/52196004/126124834-b24a5fad-a509-4b77-ac9b-c3125ba34789.png)

I want to know,Is the 2.4.0-release branch the latest stable version ?
if it is , I will update my code.

[2021-07-19 09:02] tuohai666 commented on #1793
Not yet. The new release is in progress.

[2021-07-19 09:02] #1793 closed, assigned to nobody

[2021-07-19 11:49] SaberSola opened #1794 "Add sql for resilience4j plugin handler"
The resilience4j plugin miss Field 'automaticTransitionFromOpenToHalfOpenEnabled'

[2021-07-19 12:45] ttttangzhen opened #1796 "Add jwt and oauth2 plugin sql"
- [x] Add jwt and oauth2 plugin sql

Please read the [Contribution Guideline](https://shenyu.apache.org/community/contributor/) before submitting the PR

[2021-07-19 13:56] kangarooking opened #1798 "The version I'm using now is 2.3.0, but if I want to merge the latest code, there will be many conflicts. Is there any solution?"
The version I'm using now is 2.3.0, but if I want to merge the latest code, there will be many conflicts. Is there any solution?
Otherwise, it will be very troublesome for me to update later.
![shenyu-code-conflict](https://user-images.githubusercontent.com/52196004/126171420-36b21f4b-41a0-49f9-8b04-41721fed5c4b.jpg)

[2021-07-19 13:58] kangarooking commented on #1798
There are many files I haven't changed, but there are also conflicts.  almost 50

[2021-07-19 14:00] #1796 closed

[2021-07-19 14:25] #1794 closed

[2021-07-19 14:33] dengliming commented on #1772
@liaomengge Can you provide more details?

[2021-07-19 14:34] kangarooking commented on #1798
ok thank you

[2021-07-19 14:35] dengliming commented on #1798
Closing now. Please feel free to reopen it if you have any questions. Thanks.

[2021-07-19 14:37] #1619 closed

[2021-07-19 14:39] #1751 closed

[2021-07-19 14:41] #1763 closed

[2021-07-20 07:15] #1700 closed

[2021-07-21 08:17] zl530380 opened #1800 "soul admin注册nacos 异常"
![image](https://user-images.githubusercontent.com/16401564/126455624-c8bcef80-d3ac-41ad-a8d1-2f1a1828f7a2.png)

[2021-07-21 08:49] kangarooking opened #1801 "does Shenyu sentinel plugin support cluster flow control ?"
If the flow limit configuration is 4000, if there are two shenyu-bootstrap, is the actual flow limit 8000 ？

[2021-07-21 10:18] kevinw66 opened #1803 "Jwt plugin throws JsonSyntaxException"
Jwt plugin read config `filterPath` as String value, the code is like below
[code]
While sql script file is still use array as default value
[code]
This will cause JsonSyntaxException, full stack is like below
[code]

Also `Optional.of()` will cause NullPointerException if the value is null, we should use `Optional.ofNullable()` instead.

[2021-07-21 12:33] #1299 closed

[2021-07-21 12:35] #1803 closed

[2021-07-22 02:52] qinyong666 opened #1805 "add domain type filter"
please add the domain type as one of the selector conditions

[2021-07-22 09:53] objectboy2016 opened #1806 "maven仓库搜不到?"
![image](https://user-images.githubusercontent.com/16741598/126620997-6da96af1-a363-4280-843e-5a8ebbd28e1b.png)

[2021-07-22 10:35] kangarooking opened #1807 "the table selector, uk->unique_name,I suggest update to uk->unique_plugin_id_name"
I think different plug-ins can have the same selector name

![shenyu-selector](https://user-images.githubusercontent.com/52196004/126626329-bced14ea-ee58-4de8-a07f-ae04df40469c.jpg)

[2021-07-22 15:04] dengliming commented on #1806
Not yet. The latest release`(Apache ShenYu)` is in progress.

[2021-07-22 15:04] #1806 closed

[2021-07-22 15:48] #1757 closed

[2021-07-23 03:09] yu199195 commented on #1782
good job

[2021-07-23 03:09] yu199195 commented on #1807
good idea, can you fix it ?

[2021-07-23 03:10] yu199195 commented on #1805
can you pull request to add this ?

[2021-07-23 03:12] yu199195 commented on #1801
if used cluster flow control ,  you can used ratelimiter plugin.

[2021-07-23 03:13] yu199195 commented on #1800
can  you modify title to english and update code?

[2021-07-23 06:44] 624217563 opened #1808 "When will the version 2.4.0 be available?"
## Question

we are planing to replace our gateway system by shenyu,and we find some functions which is compatible for our requirement in 2.4.0.I wanna know which branch is stable,so that we can use it.

[2021-07-23 07:42] yu199195 commented on #1808
Hi

We are releasing apache version 2.4.0.  You can use it for the next 2 weeks.

[2021-07-23 13:33] #1756 closed

[2021-07-24 03:04] 624217563 commented on #1808
Glad to receive your reply。
And now I wanna know which branch is suitable for us to use for testing,master or 2.4.0-release?

[2021-07-24 14:06] qinliang373 opened #1809 "测试demo访问404"
## Question
7月24日拉的最新代码，无任何改动 运行shenyu-examples-http demo 访问 http://localhost:8189/http/order/findById?id=1 地址返回    {
    "timestamp": "2021-07-24T13:58:04.086+0000",
    "path": "/http/order/findById",
    "status": 404,
    "error": "Not Found",
    "message": null,
    "requestId": "7c116fff"
}
请问是不是哪里配置没开启

// your question here;

Please pay attention on issues you submitted, because we maybe

[2021-07-24 14:16] dengliming commented on #1809
You can access it via the following url:
- examples
http://localhost:8189/order/findById?id=1
- gateway
http://localhost:9095/http/order/findById?id=1

see more detail https://shenyu.apache.org/zh/projects/shenyu/quick-start-http/

[2021-07-24 14:16] #1809 closed

[2021-07-24 14:20] #1772 closed

[2021-07-24 14:20] #1743 closed

[2021-07-24 14:20] #1760 closed

[2021-07-26 07:04] kangarooking commented on #1807
yes，i can，But I have to wait until this weekend

[2021-07-26 07:05] kangarooking commented on #1801
ok，thanks

[2021-07-26 09:19] XiBeiWaQiang opened #1811 "use consul shenyu sync data and register by consul but how set consul acl"
## Question

// your question here;

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot reproduce it on current information, we will **close it**.

[2021-07-27 06:50] #1665 closed

[2021-07-27 10:04] yu199195 opened #1813 "FAQ"
Please fill in the most common questions in the process of using Apache ShenYu, and we will provide the easiest response！
Please use the simplest description, as follows：

【Question】How to use Apache ShenYu？

[2021-07-27 11:38] YXxy1002 opened #1814 "NPE when start application with nacos register center"
![image](https://user-images.githubusercontent.com/36941654/127147411-ee6aa844-20a8-4b93-b6fb-cabf56e82495.png)

[2021-07-27 14:06] lw1243925457 commented on #1800
please use english, and discribe more detail.

[2021-07-28 02:11] 0x12FD16B commented on #1808
@624217563 you can checkout to tag v2.4.0 and have a try.

[2021-07-28 02:57] JooKS-me opened #1817 "Change the parent project of the shenyu-integrated-test to shenyu"
## Task

Change the parent project of the shenyu-integrated-test module from springboot to shenyu.

Task List:

- [x] modify the `pom.xml`
- [x] Fix code style errors

Please read the [Contribution Guideline](https://shenyu.apache.org/community/contributor/) before submitting the PR

[2021-07-28 07:19] XiBeiWaQiang opened #1820 "shenyu gateway how to use consul acl Usually companies use consul acl ？"
shenyu gateway how to use consul acl Usually companies use consul acl ？

[2021-07-28 09:58] 0x12FD16B commented on #1820
ACL is a security standard, do you mean any implement of this standard ?
If you mean, shenyu dose not support it currently.
Welcome you to participant shenyu contributor meeting and share your concrete usage scenario, we would like to discuss more detail.

[2021-07-28 10:29] #1814 closed

[2021-07-28 10:52] #1817 closed

[2021-07-28 11:19] XiBeiWaQiang commented on #1820
Because the operation and maintenance consul has set access permissions（acl token），shenyu need read or write consul  but not support set acl token   The same goes for zookpeer You cannot access ， that already have access control. （ user: xxx, pwd:  yyy）

[2021-07-28 11:31] 0x12FD16B commented on #1820
we will discuss it in recent contributor meeting, welcome you to participate to the discussion(we will send invite mail to dev subscribe). Or if you have any idea now, welcome to create a pull request to resolve it.

[2021-07-28 11:37] qinyong666 commented on #1805
Yes, I have already submitted it, because it is the first time I submitted it, please forgive me for something wrong

[2021-07-28 14:34] 0x12FD16B opened #1824 "shenyu-admin module test coverage improvement"
## Task

improve shenyu-admin module test coverage, each line has record a class and the current test coverage is in the brackets, we hope to improve test coverage to above 85%.

Task List:
- [ ] following classes test code coverage @JooKS-me
org.apache.shenyu.admin.service.impl.DataPermissionServiceImpl(0%)
org.apache.shenyu.admin.service.impl.SelectorServiceImpl(46%)
org.apache.shenyu.admin.serv

[2021-07-28 14:42] JooKS-me commented on #1824
I would like to take:

- [ ]  org.apache.shenyu.admin.service.impl.DataPermissionServiceImpl(0%)
- [ ]  org.apache.shenyu.admin.service.impl.SelectorServiceImpl(46%)
- [ ]  org.apache.shenyu.admin.service.impl.UpstreamCheckService(60%)
- [ ]  org.apache.shenyu.admin.service.impl.DashboardUserServiceImpl(66%)
- [ ]  org.apache.shenyu.admin.service.impl.RuleServiceImpl(75%)
- [ ]  org.apache.shenyu.

[2021-07-28 14:46] 0x12FD16B opened #1825 "org.apache.shenyu.admin.service.impl.DataPermissionServiceImpl(0%)"

[2021-07-28 14:46] #1825 closed

[2021-07-28 14:50] 0x12FD16B commented on #1824
@JooKS-me If any question you have met, you can make a discussion on this issue or dev mail subscribe.

[2021-07-28 15:04] JooKS-me commented on #1824
Ok, thanks for reminding~

[2021-07-28 15:11] ttttangzhen commented on #1824
hi, I'd like to take these task:

- [ ] org.apache.shenyu.admin.listener.http.HttpLongPollingDataChangedListener(7%)
- [ ] org.apache.shenyu.admin.listener.http.HttpLongPollingDataChangedListener.DataChangeTask(0%)
- [ ] org.apache.shenyu.admin.listener.http.HttpLongPollingDataChangedListener.LongPollingClient(0%)
- [ ] org.apache.shenyu.admin.listener.AbstractDataChangedListener(3%)
- [ ] org.apa

[2021-07-29 01:16] wu-sheng opened #1826 "Website copy/paste issue"
At the copyright part of your website, https://shenyu.apache.org/, you have a copy-paste issue

[code]

I assume you copied this from `EventMesh` project. Please fix this.

[2021-07-29 01:37] 0x12FD16B commented on #1824
@ttttangzhen I have marked HttpLongPollingDataChangedListener reference classes's test coverage as your task, for welcome more developer to participant in shenyu,  other classes you mentioned can leaf for more developer.

[2021-07-29 01:42] 0x12FD16B commented on #1826
We are sorry for this mistake, we will fix it as soon as possible.

[2021-07-29 01:52] ttttangzhen commented on #1824
OK，thanks

[2021-07-29 02:44] 0x12FD16B opened #1827 "shenyu-common module test coverage improvement"
## Task

Writing junit test case to impove shenyu-common module test coverage. Each task has been marked the classes that should be appended test code, if not specify, there are current code test coverage at end of line of each class. We hope the code test coverage can be improved to 85% above (the key logic code to 95%).

Task List:

- [x] task1: impove the follow classes code test coverage
	org.

[2021-07-29 02:46] #1698 closed

[2021-07-29 02:47] #1598 closed

[2021-07-29 02:54] yu199195 commented on #1826
Hi sheng

Thanks, we have fixed！

[2021-07-29 02:59] #1826 closed

[2021-07-29 03:03] ywj1352 commented on #1827
task4: impove the follow classes code test coverage  assign me

[2021-07-29 03:05] Banana1995 commented on #1827
i wanna take task2,pls assign to me

[2021-07-29 03:05] lahmXu commented on #1827
i wanna take task3,pls assign to me

[2021-07-29 03:06] hhj0719 commented on #1827
task1: impove the follow classes code test coverage assign to me

[2021-07-29 03:27] yu199195 commented on #1827
Hi,

You can reply to the communication on the mailing list ：
https://lists.apache.org/thread.html/r5c090356c793ad0bd7ada2dd51a76451580a1d583033ed0e97a472ec%40%3Cdev.shenyu.apache.org%3E

[2021-07-29 04:22] changanjennifer commented on #1827
I wanna take task 4 or task 2,

[2021-07-29 10:47] kangarooking opened #1829 "What are the pressure measurement scenarios of Shenyu"
Our company is conducting pressure test on Shenyu recently. I'd like to ask about the pressure test scenario of Shenyu.

[2021-07-29 13:15] hhj0719 commented on #1827
Sorry, the company has added important tasks for the time being. There is no time to deal with them for the time being

[2021-07-30 01:52] Technoboy- commented on #1827
Please assign to me, @yu199195 .

[2021-07-30 02:26] XiBeiWaQiang opened #1831 "register consul bug"
springmvc register consul key is shenyu/register, watch key is soul/register so  not watch

[2021-07-30 02:43] yu199195 commented on #1827
@Technoboy-   thanks for help

[2021-07-30 02:47] yu199195 commented on #1831
you can fix it.

[2021-07-30 02:47] yu199195 commented on #1829
you can run  shenyu, and then test it

[2021-07-30 03:13] kangarooking commented on #1829
I mean stress test scenario,for example open log or close log ,some performance bottleneck scenario and so on...  it not just  a simple test. I want to get some practical advice. thanks

[2021-07-30 04:36] lw1243925457 commented on #1811
ACL settings are not supported now, we will add related support later.
If you have a better method, you can also modify and add related support.

[2021-07-30 07:22] #1805 closed

[2021-07-30 13:03] #1831 closed

[2021-07-30 16:26] KevinClair opened #1838 "No need to check the type of loadbalance in Dubbo plugin."
* The code in `org.apache.shenyu.plugin.apache.dubbo.cache.ApplicationConfigCache#buildLoadBalanceName`
* No need to check the type of loadbalance, just put it.
[code]

[2021-07-31 01:31] hqgordon opened #1840 "Is the package not available in the Dromara warehouse"
## What should I do to use it now

Is the package not available in the Dromara warehouse? What should I do to use it now? Is there a successful POM file? Thank you

[2021-07-31 03:09] xuziyang opened #1841 "'mvn install' command execution failed"
## Describe the bug
'mvn install' command execution failed:

## Debug logs
![image](https://user-images.githubusercontent.com/8465969/127726882-0ade1c08-ab5e-4a2f-b412-406a8cc6356c.png)

[2021-07-31 05:51] KevinClair commented on #1840
We will release the new version as soon as possible.

[2021-07-31 05:52] KevinClair commented on #1841
Use command `mvn clean install -Dmaven.javadoc.skip=true` and try again.

[2021-07-31 06:20] #1838 closed

[2021-07-31 06:53] hqgordon commented on #1840
So is there no way to do a use now? I am not a Java expert, please let me know if there is any way, thank you very much

[2021-07-31 06:55] dengliming commented on #1840
Try this https://shenyu.apache.org/projects/shenyu-2.3.0/overview/

[2021-07-31 07:12] xuziyang commented on #1841
Doesn't solve the problem, let me fix it.

[2021-07-31 07:14] xuziyang commented on #1841
Doesn't solve the problem, Let me fix it.

[2021-07-31 07:20] hqgordon commented on #1840
not work ,thanks for help

[2021-07-31 07:33] dengliming commented on #1840
I'm not sure I fully understand your question.

1. after 2.3.0 we already donate project to Apache and rename soul to shenyu. We are releasing apache version 2.4.0. You can use it for the next 2 weeks.
2. before 2.3.0 you can use pom like the below:

https://mvnrepository.com/search?q=soul
[code]

[2021-07-31 07:42] hqgordon commented on #1840
finally works! thanks!!!!!!!!!!!

[2021-07-31 07:42] #1840 closed

[2021-07-31 12:08] KevinClair opened #1844 "New Feature, optimze code about dubbo async call."
## Feature Request

#### Is your feature request related to a problem? Please describe

#### Describe the solution you'd like

* Just optimize code.
* Delete some redundant code.
* Set the module to async in the `ReferenceConfig`.

#### Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

#### Additional context

Plea

[2021-07-31 12:15] KevinClair commented on #1841
I try it successfully with command `mvn clean install -Dmaven.javadoc.skip=true`

[2021-07-31 12:26] xuziyang commented on #1841
The latest code？

[2021-07-31 12:26] xuziyang commented on #1841
The latest code？

[2021-07-31 12:29] xuziyang commented on #1841
You execute org.apache.shenyu.admin.service.UpstreamCheckServiceTest this test class, is there a problem?

[2021-07-31 12:38] #1841 closed

[2021-07-31 13:04] qinliang373 opened #1847 "mysql存储访问接口404"
## Describe the bug

拉取最新代码，h2存储通过网关访问接口可以正常访问，切换到mysql通过网关访问接口报404，跟踪代码发现
![图片](https://user-images.githubusercontent.com/39186613/127740740-82e66499-1b0f-405f-8a60-b13bf1bc2bd9.png)
/http没有去掉

## Environment

- ShenYu version(s): [e.g. 2.2.1]

## Steps to reproduce

## Expected behavior

## Debug logs

<details>
<summary>Click to expand</summary>

[code]
</details>

[2021-07-31 13:26] dengliming commented on #1847
Please make sure divide plugin and context path is open.

![image](https://user-images.githubusercontent.com/7796156/127741315-0c2eba9d-e575-4034-a4b1-fc1548fc5909.png)

[2021-07-31 13:55] qinliang373 commented on #1847
divide与context-path 采用默认方式已经开启了。使用h2可以正常访问，只要切换到mysql就不行。
这是配置
admin application配置
server:
  port: 9095
  address: 0.0.0.0

spring:
#  profiles:
#    active: h2
  thymeleaf:
    cache: true
    encoding: utf-8
    enabled: true
    prefix: classpath:/static/
    suffix: .html
  datasource:
==============================

[2021-07-31 14:14] dengliming commented on #1847
Did your admin start successfully? Can you show me you logs?

[2021-07-31 15:13] qinliang373 commented on #1847
mysql存储，清除shenyu数据库第一次启动shenyu-admin,shenyu-bootstrap,demo通过网关接口可以访问，关掉所有的服务再重新启动报404{
    "timestamp": "2021-07-31T15:07:22.463+0000",
    "path": "/http/order/findById",
    "status": 404,
    "error": "Not Found",
    "message": null,
    "requestId": "6959e129"
}

![图片](https://user-images.githubusercontent.com/39186613/127744323-86dd3b27-2835-4dfd-bfd9-884581561ba4.png)

2021-07-31 23:06:00 [

[2021-07-31 15:15] dengliming commented on #1847
`check the url=192.168.3.11:8189 is fail`

[2021-07-31 15:18] qinliang373 commented on #1847
![图片](https://user-images.githubusercontent.com/39186613/127744447-912063f6-7d3c-4347-964c-d3b6b1a6beed.png)
是正常的

[2021-07-31 15:26] qinliang373 commented on #1847
我猜测h2存储可以访问，是因为h2是基于内存的每次重启机构都创建新数据库，mysql第一次创建数据库可以正常访问，停掉所有服务再启动访问报404，是因为里面有历史数据了的问题导致的。

[2021-07-31 15:33] dengliming commented on #1847
Yes. We use timers to do health checks by default. You can turn it off by setting `shenyu.register.props.checked=false`

see more detail https://shenyu.apache.org/zh/projects/shenyu/divide-plugin/
![image](https://user-images.githubusercontent.com/7796156/127744917-2c746cd7-9bf7-40e2-b697-02a35da6503c.png)

[2021-08-01 02:05] qinliang373 commented on #1847
将健康检查设置为false，问题解决。采用mysql存储不能使用健康检查

[2021-08-01 02:09] #1847 closed

[2021-08-01 02:10] dengliming commented on #1847
Take a deep see on document.

[2021-08-01 15:18] #1844 closed

[2021-08-02 02:36] Technoboy- commented on #1824
I can help to do the fourth part of the work.

[2021-08-02 03:07] 0x12FD16B opened #1849 "shenyu-admin a part of classes test code"
org.apache.shenyu.admin.listener.AbstractDataChangedListener(3%)
org.apache.shenyu.admin.listener.ConfigDataCache(0%)
org.apache.shenyu.admin.listener.zookeeper.HttpServiceDiscovery(7%)
org.apache.shenyu.admin.listener.websocket.WebsocketListener(10%)
org.apache.shenyu.admin.listener.websocket.WebsocketConfigurator(28%)
org.apache.shenyu.admin.exception.ExceptionHandlers(18%)
org.apache.shenyu.adm

[2021-08-02 03:11] 0x12FD16B commented on #1849
- [ ] org.apache.shenyu.admin.listener.AbstractDataChangedListener(3%)
- [ ] org.apache.shenyu.admin.listener.ConfigDataCache(0%)
- [ ] org.apache.shenyu.admin.listener.zookeeper.HttpServiceDiscovery(7%)
- [ ] org.apache.shenyu.admin.listener.websocket.WebsocketListener(10%)
- [ ] org.apache.shenyu.admin.listener.websocket.WebsocketConfigurator(28%)
- [ ] org.apache.shenyu.admin.exception.Exceptio

[2021-08-02 03:17] 0x12FD16B commented on #1824
@Technoboy-  I have create another issue of this part task for you #1849 , plz comment that issue.

[2021-08-02 06:37] Technoboy- commented on #1849
Hi,  I can help to work on it, please assign to me.

[2021-08-02 09:09] HessTina-YuI opened #1850 "ExtensionLoaderTest#testGetExtensionLoaderCanNotInstantiatedSPI has error"
## Describe the bug

## Environment

- ShenYu version(s): [e.g. 2.4.0]
- jdk 11

## Steps to reproduce

mvn test

## Expected behavior

## Debug logs

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.

java.lang.AssertionError:
Expected: a

[2021-08-02 10:11] HessTina-YuI opened #1852 "remove MapStruct package dependency"
## Task

modify
- AppAuthTransfer.class
- ConditionTransfer.class
- MetaDataTransfer.class
- PluginTransfer.class
- SelectorTransfer.class

to singleton

Please read the [Contribution Guideline](https://shenyu.apache.org/community/contributor/) before submitting the PR

[2021-08-02 13:12] #1852 closed

[2021-08-03 05:51] Technoboy- commented on #1824
Yes, I have commented. And please help to review #1855.

[2021-08-03 06:06] #1849 closed

[2021-08-03 07:25] future94 opened #1859 "sync data etcd bug"
## Describe the bug
1. After subscribing to `/shenyu/**` the root path, there is no need in the subscription children.
2. After receive etcd PUT event, when update, subscribt children many times. Performance is very low

## Environment

- ShenYu version(s): [master]

[2021-08-03 09:57] #1850 closed

[2021-08-03 10:18] hqgordon opened #1860 "There is an error when I access the gateway I built"
## Question

When I open Shenyu-admin, it is ok to open and access the shenyu-bootstrap gateway in the project, but the following error will be reported when I access the gateway built by myself according to the tutorial。

thanks for help！

2021-08-03 18:17:33.134 ERROR 3622 --- [-work-threads-3] o.d.soul.web.handler.GlobalErrorHandler  : [5e457a57] Resolved [NullPointerException: null] for HTTP G

[2021-08-03 10:23] dengliming commented on #1859
Can you help to optimize it?

[2021-08-03 10:30] zondacker opened #1861 "The response headers contains too many transfer encodings: [\"chunked\" \"chunked\"]"
The response headers contains too many transfer encodings: [\"chunked\" \"chunked\"]:
transfer-encoding: chunked
Transfer-Encoding: chunked

[2021-08-03 10:46] future94 commented on #1859
I can try to provide a PR version, it may take some time, because I just read shenyu source code not long.

[2021-08-03 11:04] SaberSola commented on #1861
what you enable plugins？Please provide some details

[2021-08-03 12:10] codingmaple opened #1862 "Cannot search for the relevant jar package in the maven center"
![image](https://user-images.githubusercontent.com/32080333/128013030-b71f7be9-11cd-4355-ab3e-5a828cca967e.png)

[2021-08-04 01:20] syifarahmat opened #1863 "Update Spring Boot To Lates ?"
## Question

Is there no desire to update spring boot to a new version / at least to version 2.4 ??

[2021-08-04 02:11] zondacker commented on #1861
only the divide plugin.

[2021-08-04 02:22] SaberSola commented on #1861
Fine.thx.I will deal with this issue

[2021-08-04 02:57] yu199195 commented on #1862
the apache release later

[2021-08-04 02:58] yu199195 commented on #1863
Hi，@syifarahmat  ，We are considering upgrading to  spring boot 2.4.X for the next release~

[2021-08-04 04:40] midnight2104 commented on #1860
hi,   are you based on soul-2.3.0? does your gateway work properly? has a starter package been add?

[2021-08-04 04:45] midnight2104 commented on #1755
Hi, you can modify the document directly from the website. Recently, it has been modified.

[2021-08-04 05:02] hqgordon commented on #1860
https://shenyu.apache.org/zh/projects/shenyu-2.3.0/soul-set-up/
Follow the last step to set up your own gateway pom file

[2021-08-04 05:19] nuo-promise commented on #1860
According to the logs it looks like the http interface /test is missing, can you provide the url you requested from the gateway, and at the same time look in the shenyu-admin to see if there is a corresponding request url configuration for the corresponding plugin's rules and selector you are using.

[2021-08-04 05:54] hqgordon commented on #1860
rules is right，Question seems to be org. Dromara. Soul. Plugin. Global. DefaultSoulContextBuilder decorator method error, there should be no implementation class

[2021-08-04 05:59] nuo-promise commented on #1860
Can you provide me with a screenshot of the runtime and configuration, so I
can reproduce it locally?

hqgordon ***@***.***> 于2021年8月4日周三 下午1:54写道：

[2021-08-04 06:44] hqgordon commented on #1860
All I did was to change the password of mysql in admin and set up the gateway just like the gateway in the web page. In the configuration, I just added the configuration in Divide plugin.

The key point is that I visit any address and it returns a null pointer and 500 rather than bootstrap as I do when I open the project.
"code": -107,
"message": "Can not find selector, please check your configura

[2021-08-04 09:49] #1859 closed

[2021-08-04 11:47] tuohai666 commented on #1862
Hi @codingmaple , the first Apache release of ShenYu is in the voting progress, please wait for a few days.

[2021-08-04 11:47] #1862 closed

[2021-08-04 11:57] tuohai666 commented on #1829
Hi @kangarooking , I understand what you want. But it's hard to give a precise scenario (deployments, configurations, etc.), since there are uncertain upstream and downstream services. I would suggest that you just start the benchmark test and try to improve the performance step by step. Once the performance meet your requirement, you will get the best scenario which you want. And the feedback is

[2021-08-04 11:57] #1829 closed

[2021-08-04 12:04] tuohai666 commented on #1820
Hi @XiBeiWaQiang , The meeting is planned to hold on Thursday this week, please feel free to join us and share your idea.
In case you miss the meeting, please subscribe the dev mail list via:
https://shenyu.apache.org/community/subscribe-email/

[2021-08-04 12:04] #1820 closed

[2021-08-04 12:08] tuohai666 commented on #1808
Agree. This tag is expected to be identical with the new release. But please note that the new release is still not published officially.

[2021-08-04 12:08] #1808 closed

[2021-08-04 12:10] tuohai666 commented on #1807
Hi @kangarooking , any progress? Please feel free to discuss here if you have any questions.

[2021-08-04 12:10] #1801 closed

[2021-08-04 12:13] tuohai666 commented on #1800
Hi @zl530380 , Thanks for your report. Could you please change the title to English?

[2021-08-04 13:15] HessTina-YuI opened #1866 "Remove the lombok package dependency."
## Task

Plan to remove the lombok package dependency.

there are module to remove lombok's annotations

- [x] shenyu-admin @KevinClair
- [x] shenyu-bootstrap @javaChain
- [x] shenyu-client @JooKS-me
- [ ] shenyu-common @YXxy1002
- [x] shenyu-disruptor @lw1243925457
- [x] shenyu-metrics @danielchenxs
- [x] shenyu-plugin @strawberry-crisis
- [x] shenyu-protocol @lahmXu
- [x] shenyu-register-center

[2021-08-04 13:19] midnight2104 commented on #1860
Hello, how are you doing? In the 2.3.0 version of the gateway, no plugins are add by default. For Http requests, add the Divide plugin. pls see [http代理](https://shenyu.apache.org/zh/projects/shenyu-2.3.0/http-proxy/) to add dependency.

[2021-08-04 13:22] Switch-vov opened #1867 "Replace static files in shenyu-admin with maven plugin to dynamic generate"
## Feature Request

#### Is your feature request related to a problem? Please describe

I think it is not reasonable that place the follow files to `shenyu-admin/src/main/resources/static`
[code]

It should  dynamic generate by maven plugin.

#### Describe the solution you'd like

I will use `com.github.eirslett:frontend-maven-plugin` to execute `npm install` and `npm run build`.
After build stati

[2021-08-04 13:25] Switch-vov commented on #1867
If we should adjust it. Please assign it to me.

[2021-08-04 13:32] KevinClair commented on #1866
Take module `shenyu-admin`

[2021-08-04 13:42] hqgordon commented on #1860
thanks!!!!!!!!!!!!!!!!!!!!it really helps!!!!!!!!!!!!

[2021-08-04 13:43] #1860 closed

[2021-08-04 14:17] javaChain commented on #1866
task module `shenyu-bootstrap`

[2021-08-04 14:20] JooKS-me commented on #1866
take module `shenyu-client`

[2021-08-04 15:28] dengliming commented on #1867
@Switch-vov Thanks for help. We've actually done this before. see [https://github.com/apache/incubator-shenyu/pull/333/files](https://github.com/apache/incubator-shenyu/pull/333/files) and
[https://github.com/apache/incubator-shenyu/pull/340/files](https://github.com/apache/incubator-shenyu/pull/340/files)

And then for some reason we took it out. because we didn't use it much, and It slows down t

[2021-08-04 15:34] Switch-vov commented on #1867
:), I will submit later.

[2021-08-05 00:44] lw1243925457 commented on #1866
shenyu-disruptor

[2021-08-05 01:02] strawberry-crisis commented on #1866
pls assign the "shenyu-plugin" part to me

[2021-08-05 01:54] hongyiheng commented on #1866
take module `shenyu-sync-data-center`

[2021-08-05 02:07] syifarahmat opened #1871 "Why the lombok package dependency will be removed ?."
## Question
#1866

Isn't this package very easy to develop?

[2021-08-05 02:10] HessTina-YuI commented on #1871
Although lombok supports jdk8 and jdk11, there may be no way to support the new version of jdk soon in the future. And plan to to reduce some dependence.

[2021-08-05 02:18] javaChain commented on #1866
take module `shenyu-web`

[2021-08-05 02:28] syifarahmat commented on #1871
Ok thank's

[2021-08-05 02:28] #1871 closed

[2021-08-05 02:51] aiyanbo opened #1872 "Cannot compile project in Java16"
## Describe the bug

Lombok 1.8.12 doesn't work in Java16. It need upgrade to 1.8.20

## Environment

- ShenYu version(s): [master]

## Steps to reproduce
1. clone project
[code]
2. run the `compile` command
[code]

## Expected behavior

compile success

## Debug logs

compile (default-compile) on project shenyu-common: Fatal error compiling: java.lang.IllegalAccessError: class lombok.javac.apt.Lo

[2021-08-05 02:52] tydhot commented on #1872
we are removing all Lombok in shenyu now

[2021-08-05 03:02] aiyanbo commented on #1872
https://github.com/apache/incubator-shenyu/issues/1866

[2021-08-05 03:15] zhaiweij commented on #1866
take module shenyu-register-cente

[2021-08-05 03:15] ChoviWu commented on #1866
take module shenyu-spi

[2021-08-05 03:18] lahmXu commented on #1866
take module shenyu-protocol

[2021-08-05 03:19] danielchenxs commented on #1866
take module shenyu-metrics

[2021-08-05 03:48] CoimLuo opened #1874 "cannot find 2.4.0-release"
https://github.com/apache/incubator-shenyu/releases/tag/2.4.0
The page is 404

[2021-08-05 09:33] zhaiweij opened #1877 "Update LogUtils"
## Task

update LogUtils

Task List:

- [x]  Modify logUtils utility class initialization
- [x] task2
- [x] task3

Please read the [Contribution Guideline](https://shenyu.apache.org/community/contributor/) before submitting the PR

[2021-08-05 10:03] yu199195 commented on #1874
we will release in next days

[2021-08-05 10:04] iris-xie opened #1878 "which maven repository could I get your jar file from? I could not find any maven repository that contains your jar."
## Question
which maven repository could I get your jar file from? I could not find any maven  repository that contains your jar. and I can not find your release 2.4.0 on org.dromara, will you still support it?

[2021-08-05 10:07] yu199195 commented on #1878
Hi ,  2.4.0 is apache first version.

We're going through the apache release process, and you'll find it in the maven repository in the next few days~

[2021-08-05 12:01] SaberSola commented on #1861
HI, @zondacker When i only enable the divide plugin. The response headers isn't contains the  transfer encodings: ["chunked" "chunked"]
is it something wrong with your business？

[2021-08-05 16:11] lxl910128 opened #1882 "feature : integrated test for spring cloud plugin"
I think There is a big difference between services that use spring cloud and services that do not use spring cloud

We should add a mould to integration test on service witch use spring cloud

I will do it.

[2021-08-06 07:36] boholder commented on #1069
Don't know which version of spring-cloud-gateway shenyu is using (assume that is [2.4.0-SNAPSHOT](https://github.com/apache/incubator-shenyu/blob/8396ae202ff61411ffc86876adb08c39cea6c58b/shenyu-bootstrap/pom.xml)), but memory leak problems also appeared in spring-cloud-gateway issue zone:
https://github.com/spring-cloud/spring-cloud-gateway/issues/1866
https://github.com/spring-cloud/spring-cloud-

[2021-08-06 08:15] dengliming opened #1888 "Optimize the password encryption and password change logic for the admin user"
## Task

Currently, We use the AES algorithm to encrypt the password and provide the password back to the front end. I think It's not safe.

![image](https://user-images.githubusercontent.com/7796156/128477713-2de63807-7a51-4e3f-9b90-e24f6cfc81bc.png)

I suggest the following optimization:

1. The API does not return the password field. See `org.apache.shenyu.admin.controller.DashboardUserControll

[2021-08-06 08:59] rom1c77 commented on #1888
i think the password field value need clear.

[2021-08-06 10:01] qurenneng commented on #1888
I'll take care of this

[2021-08-07 04:08] syifarahmat opened #1892 "Examples of using Servlet not Reactor"
## Question

Can it be used for Http Servlet?
And how about an example?, because this project is only an example for spring reactive

[2021-08-07 04:18] syifarahmat commented on #1892
Oh it can. 😁😁 🙏🙏
![image](https://user-images.githubusercontent.com/11779955/128587638-8c991d79-04e6-466f-aebf-6d40c8647ea1.png)

![image](https://user-images.githubusercontent.com/11779955/128587648-69e9e017-927a-4065-908a-7ca0d5a2862c.png)

[2021-08-07 04:18] #1892 closed

[2021-08-07 15:33] lahmXu commented on #1827
I have finished the task3, please mark it @0x12FD16B

[2021-08-08 09:29] anlaesx opened #1898 "自定义网关服务。jar包依赖无效"
你好，我按照官方文档，进行网管的自定义部署方式进行搭建，引入相应的jar包时，发现在中央仓库中找不到对应的jar包，版本方面是2.3.0。希望能够解决下这个问题？

[2021-08-08 09:33] hqgordon commented on #1898
Could you please provide your POM file or the official document you refer to

[2021-08-08 09:41] anlaesx commented on #1898
If the SNAPSHOT is 2.4.0-2.4.0-snapshot, the SNAPSHOT is successfully imported

[2021-08-08 09:43] #1898 closed

[2021-08-08 16:38] dengliming commented on #1874
https://github.com/apache/incubator-shenyu/releases/tag/v2.4.0

[2021-08-08 16:38] #1874 closed

[2021-08-08 16:41] dengliming commented on #1878
https://search.maven.org/search?q=g:org.apache.shenyu

[2021-08-08 16:41] #1878 closed

[2021-08-08 16:44] #1291 closed

[2021-08-08 16:44] #1292 closed

[2021-08-08 16:46] #631 closed

[2021-08-08 16:50] #1394 closed

[2021-08-08 16:51] #1494 closed

[2021-08-08 16:52] dengliming commented on #348
Duplicate of [https://github.com/apache/incubator-shenyu/issues/1537](https://github.com/apache/incubator-shenyu/issues/1537)

[2021-08-08 16:52] #348 closed

[2021-08-08 16:53] #1569 closed

[2021-08-08 16:54] dengliming commented on #1596
@zhaiweij Any progress?

[2021-08-08 16:55] #1755 closed

[2021-08-08 16:56] dengliming commented on #1755
See the lastest document. Thanks.

[2021-08-08 17:39] zhaiweij commented on #1596
This time I did some of the task of removing Lombok, and then consider continuing to do it in LogUtils

[2021-08-09 06:08] zhentaowang opened #1901 "Gateway local deployment usage problem(2.4.0)"
## Describe the bug

Pull the latest code from GitHub, compile and start locally, and write a spring cloud demo, Nacos for the registry

When I request the demo API through the gateway, the following error is reported:

{

"code": -109,

"message": "SpringCloud serviceId does not exist or is configured incorrectly!",

"data": null

}
## Environment

- ShenYu version(s): 2.4.0

## Steps to reproduc

[2021-08-09 06:21] CoimLuo opened #1902 "using /api/v1 as the contextPath makes an error"
## Describe the bug

## Environment

- ShenYu version(s): 2.4.0

## Steps to reproduce
use /api/v1 as shenyu.client.props.contextPath

## Expected behavior

## Debug logs
2021-08-09 14:11:30 [main] ERROR org.springframework.boot.SpringApplication - Application run failed
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'shenyuServerRegisterRepository' defined

[2021-08-09 06:52] fengzhenbing opened #1903 "feature : integrated test for `Redirect` plugin."
## Feature Request
The following scenario needs to be tested.
- [ ]  Redirect to the outer path.
- [ ]  Redirect to the inner path.
- [ ]  Do not redirect to any path.

[2021-08-09 06:59] yu199195 commented on #1901
can you see this : https://shenyu.apache.org/zh/projects/shenyu/spring-cloud-proxy/

Maybe you're missing the dependency~

[2021-08-09 07:02] yu199195 commented on #1902
can not user    two /  as  contextPath .

[2021-08-09 07:10] JooKS-me opened #1905 "feature : integrated test for `JWT` plugin"
## Feature Request

TODO LIST:

- [x] send http request with correct jwt token.
- [x] send http request with incorrect jwt token.
- [x] send http request to filterPath of jwt plugin.

[2021-08-09 07:56] JannsenYang commented on #68
公司：大参林
网址：https://www.dslyy.com
地点：上海市
联系方式：120183228@qq.com
场景：API网关，定制化开发。

[2021-08-09 08:30] zhentaowang commented on #1901
thk,  this bug is solved when nacos discovery version chang to 2.1.0.RELEASE, the version 2.2.5.RELEASE can incompatible

[2021-08-09 08:35] zhentaowang commented on #1901
Other, when the gateway service and business service are not registered under the same namespace of Nacos, the following error will occur:
{

"code": -109,

"message": "SpringCloud serviceId does not exist or is configured incorrectly!",

"data": null

}

[2021-08-09 08:37] zhentaowang opened #1906 "JWT Usage Issues"
## Describe the bug

"Cannot edit {" secretkey ":" "" "," filterpath ":" "}, and examples of usage are missing."
## Environment

- ShenYu version(s): 2.4.0

## Steps to reproduce

## Expected behavior

## Debug logs

<details>
<summary>Click to expand</summary>

[code]
</details>

[2021-08-09 08:47] yu199195 commented on #1901
so you can register the same namespace

[2021-08-09 08:48] #1800 closed

[2021-08-09 08:48] #1684 closed

[2021-08-09 08:49] #1673 closed

[2021-08-09 08:49] #1729 closed

[2021-08-09 08:49] zhentaowang commented on #1901
yes

[2021-08-09 10:55] midnight2104 commented on #1906
Hi, I can't get your point, can you provide more infomation?

[2021-08-09 13:42] zhentaowang commented on #1906
I mean, the JWT usage description（https://shenyu.apache.org/zh/projects/shenyu/jwt-plugin/） in this document is not detailed enough, Can you give me a demo？

[2021-08-09 14:25] #1903 closed

[2021-08-09 15:40] rom1c77 opened #1909 "problem with shenyu-bootstrap"
question:
[git clone study-shenyu](https://github.com/rom1c77/study-shenyu.git)

![image](https://user-images.githubusercontent.com/14304457/128732739-ed72e99b-f1bd-401c-8ce7-bdf879bcc9ea.png)
![image](https://user-images.githubusercontent.com/14304457/128732903-284eb54f-bf9f-4583-86ff-14919cb5b5ad.png)

`applicaiton.yml`
[code]

`pom.yml`
[code]

`controller`

[code]

**_postman_**

**What's the

[2021-08-09 16:01] lltime opened #1910 "the default group of nacos is lowercase"
## Describe the bug

The problem arises in two places, located in：

- NacosServerRegisterRepository
- NacosClientRegisterRepository

![image](https://user-images.githubusercontent.com/41325511/128735570-f3be03a8-8b84-4310-845a-bd5f394c6b0f.png)

![image](https://user-images.githubusercontent.com/41325511/128735769-74c3fced-9c09-41fb-823b-b48b2ae664a3.png)

nacos's group name is case sensitive.

![

[2021-08-09 23:33] lw1243925457 commented on #1910
why can't sync data when default group is lowcase?

It's different on the NacosPathConstants.java than on the NacosServerRegisterRepository, right?
@lltime

[2021-08-10 02:41] lltime commented on #1910
I confirmed that it had no effect on the data Synchronize. This is not a BUG.

I take  a mistake.

but, the default_group can  be consistent with the official value of nacos(DEFAULT_GROUP).

[2021-08-10 02:42] lltime commented on #1910
Yes，It's different on the NacosPathConstants.java than on the NacosServerRegisterRepository。

I confirmed that it had no effect on the data Synchronize. This is not a BUG.

I take  a mistake.

but, the default_group can  be consistent with the official value of nacos(DEFAULT_GROUP).

[2021-08-10 03:28] KevinClair commented on #1909
Hello @rom1c77 , you can use module `shenyu-examples-springcloud` and try it again.

[2021-08-10 03:46] rom1c77 commented on #1909
emm,`shenyu-examples-springcloud` use eureka.  our project want use nacos...

[2021-08-10 04:32] lw1243925457 commented on #1910
Shenyu-common/src/main/java/org/apache/shenyu/common/constant/NacosPathConstants.java maybe use by shenyu-sync-data-nacos.

Shenyu-register-nacos was added later, so cant't use it directly. Because group maybe is diff between sync-data-center and register-data-center.

But default_group as constant is a good idea.

[2021-08-10 05:06] midnight2104 commented on #1909
hello, do you add dependency to shenyu-admin?  you can refer to  [Application Client Access Config](https://shenyu.apache.org/zh/projects/shenyu/register-center-access/)

[2021-08-10 06:08] impactCn commented on #1906
There is currently a lack of initialized SQL statements, you can add them directly to db. Or contact me.

[2021-08-10 06:22] zhentaowang commented on #1906
I know what you said. Now I want to modify these two configuration information on the web. I plan to modify index.40aac744.js to realize this function

[2021-08-10 06:30] impactCn commented on #1906
First, find this table
![image](https://user-images.githubusercontent.com/35489877/128818853-46cc5318-73db-44cd-b488-d4c216914067.png)
seconde
![image](https://user-images.githubusercontent.com/35489877/128818730-414ba414-1ea1-4594-b619-93d1094d8863.png)
Write the parameters directly and open the plugin to determine whether the token is valid.

[2021-08-10 06:30] impactCn commented on #1906
Modifying the js code may be too troublesome.

[2021-08-10 06:56] zhentaowang commented on #1906
ok，I've given up

[2021-08-10 06:58] xieguoxiu opened #1913 "K8S部署"
最近项目采用shenyu网关，打算用K8S部署，部署遇到些问题，能否尽快出K8S部署手册

[2021-08-10 07:05] SaberSola commented on #1913
Sorry.In English please.or you can mixed Chinese and English

[2021-08-10 07:42] KevinClair commented on #1909
That's fine, you can update module's dependency.

[2021-08-10 14:09] rom1c77 commented on #1909
`shenyu-admin  application.yml`
[code]

`shenyu-bootstrap application-local.yml`
[code]

[2021-08-10 14:11] rom1c77 commented on #1909
@midnight2104

 `https://github.com/apache/incubator-shenyu/issues/1909#issuecomment-896060846`

[2021-08-10 15:11] rom1c77 commented on #1909
1. plz `git clone git@github.com:rom1c77/incubator-shenyu.git ` & `git clone git@github.com:rom1c77/study-shenyu.git`
2. update  mysql username/password`ashenyu-admin application.yml`
3. run `ShenyuAdminBootstrap` & `ShenyuAdminBootstrap` & `StudyShenyuApplication`

question:
SelectorList and RulesList  hava data,but curl `http://localhost:9195/springcloud/test/hello`  unsuccessful.
![image](https

[2021-08-10 15:14] rom1c77 commented on #1909
It's the same problem.
Please， I was desperate .

[2021-08-10 16:33] rom1c77 commented on #1909
i'm sure  open this

[2021-08-10 16:35] rom1c77 commented on #1909
![image](https://user-images.githubusercontent.com/14304457/128898237-ba7a625c-75b5-455c-9060-121907151202.png)

[2021-08-11 00:32] midnight2104 commented on #1909
pls use websocket for data sync, it's recommend [Data Synchronization Config](https://shenyu.apache.org/zh/projects/shenyu/use-data-sync/)

[2021-08-11 03:22] KevinClair commented on #1909
* First, check whether there is selector and rule in `springCloud plugin`.
* Second, debug here in `org.apache.shenyu.plugin.springcloud.SpringCloudPlugin`.
![image](https://user-images.githubusercontent.com/37257651/128964436-42e546e3-bd67-4f78-872a-817815de0b56.png)

[2021-08-11 05:38] midnight2104 commented on #1909
hello,  I use nacso as register cneter that it is successfull. here is my config:

jdk : 14
shenyu: 2.4.0
nacos: 2.0.3

shneyu-admin:

[code]

[code]

shenyu-bootstrap:

[code]

[code]

shenyu-example-springcloud

[code]

[code]

The above configuration can be successfully started and registered. Then you need to open springcloud plugin in  shenyu background sysytem, you can access.

[2021-08-11 06:53] rom1c77 commented on #1909
@midnight2104 @KevinClair thanks

mysql dirty data  cause serviceId = null.
debug find this and drop shenyu schema.
successfully
It's my fault

![image](https://user-images.githubusercontent.com/14304457/128982665-e5bac34c-ff1b-4f87-b51d-fec375931a6a.png)

[2021-08-11 06:53] #1909 closed

[2021-08-11 07:03] yu199195 opened #1916 "Add shenyu-agent feature to observability"
Hi Community：

I have a suggestion for using an agent to provide observability on the shenyu gateway and other!

Maybe you need to create a shenyu-agent project. This could be a very interesting feature.

What is the shenyu-agent used for?

shenyu has a very important position as the entrance of traffic. So its observability becomes important.

1.We use the java agent to provide the gateway with t

[2021-08-11 07:12] fengzhenbing commented on #1916
I want to join in  `Add tracing feature (jager, zipkin).`

[2021-08-11 07:42] JooKS-me commented on #1916
I can help to add tracing feature, too.

[2021-08-11 09:18] zhaoguhong opened #1918 "client Will try to connect in an infinite loop, causing the interface registration to fail"
When using the client, if the host or port is configured incorrectly

[org.apache.shenyu.client.core.disruptor.subcriber.ShenyuClientMetadataExecutorSubscriber#executor](https://github.com/apache/incubator-shenyu/blob/master/shenyu-client/shenyu-client-core/src/main/java/org/apache/shenyu/client/core/disruptor/subcriber/ShenyuClientMetadataExecutorSubscriber.java)

Will try to connect in an infini

[2021-08-11 09:52] yu199195 commented on #1918
@zhaoguhong  very good ,can you fix it ?

[2021-08-11 09:55] zhaoguhong commented on #1918
@yu199195 Ok, I'll do it

[2021-08-11 10:01] midnight2104 commented on #1916
Do you need anyone else? I want to join in.

[2021-08-11 10:20] shiyixunsyx opened #1919 "soul调用报错"
问题描述：我们项目用的是soul网关 自定义了一个插件 前端请求过来 先经过我们的插件 我们的插件调用后台一个服务 调用完成后 再匹配 divide 或者dubbo的插件 继续后面的调用 但现在问题是只要请求经过我们的自定义插件后 再去divide插件 WebClientPlugin发起http请求时就报错
报错信息：（之前以为是超时时间问题，调整到30s也是不行，发起请求直接报如下错误）
Did not observe any item or terminal signal within 30000ms in 'peekTerminal' (and no fallback has been configured)
connection prematurely closed during response

[2021-08-11 10:35] #1877 closed

[2021-08-11 11:46] SaberSola commented on #1919
In English please
if return timeout exception , please check you business or gateway to business’s network
or remove your custom plugin then check the webClientPlugin