[2018-11-23 07:00] mushanzi1216 opened #7 "生产环境实践问题"
请问这套东西有在生产环境部署过嘛，实际使用情况如何

[2018-11-23 08:33] SteNicholas commented on #7
@mushanzi1216 肯定部署过

[2018-11-25 06:07] hepin1989 opened #8 "description:响应式->反应式"
FYI

[2018-11-26 01:05] CatYangWei opened #9 "有没有考虑对请求参数做对称性加解密呢"

[2018-11-26 15:53] lkun opened #10 "使用流程是否可以再详细一些？"
目前光看代码，还是有点晕，能否提供一个实践性的例子？比如由客户端发起请求，先经过ng，ng再转发到soul-gateway，现在没有办法知道ng怎么到达soul-gateway的。

[2018-11-28 03:51] yu199195 commented on #8
？

[2018-11-28 04:08] hepin1989 commented on #8
项目描述得改改，从响应式改为反应式。

[2018-11-28 08:45] yu199195 commented on #8
嗯，

[2018-11-28 08:46] yu199195 commented on #10
直接http访问soul的，ng只是用来代理soul的集群

[2018-11-28 09:02] hepin1989 commented on #8
Thanks.

[2018-11-29 12:37] jinshubao opened #15 "soul-admin启不来，报端口被占用，怎么回事？"
已经确认端口未被占用，启动时报端口被占用的错误

### 配置
[code]
### 报错
[code]

[2018-11-29 13:33] yu199195 commented on #15
那应该是占用了，你本地机器重启下吧

[2018-12-04 02:56] chinashelll commented on #15
8086是influxdb默认端口，项目换个端口启动

[2018-12-04 02:59] chinashelll opened #18 "底层代码实现"
通过soul-admin配置的规则是如何同步到本地缓存的呢？有没有人提示下代码位置

[2018-12-04 04:11] yu199195 commented on #18
通过监听zk节点 ZookeeperCacheManager 这个类

[2018-12-06 02:19] daydaygo opened #19 "求教架构图使用的什么工具实现的"
RT

[2018-12-13 09:50] yu199195 commented on #19
processon.com

[2018-12-13 09:50] yu199195 commented on #9
暂时不考虑

[2018-12-13 10:01] zhoujianjian opened #21 "文档感觉不详细"
文档感觉不详细，特别湿参数那一块，能不能直接贴列子，不好上手

[2018-12-13 10:32] yu199195 commented on #21
官网不是有截图？

[2018-12-13 12:05] guanglongwu opened #22 "容器化应用是否能无缝接入soul？？也有同样的问题，如何使用soul，比如现有的应用访问nginx负载均衡怎么接入呢？"

[2018-12-17 03:15] liuxx001 opened #23 "请求body大于4K时，解析body参数时报错"
rt

[2018-12-17 07:04] #23 closed

[2018-12-17 08:16] yu199195 commented on #23
soul并未解析body，有错误提供错误，请不要乱提问题

[2018-12-17 10:48] liuxx001 commented on #23
使用dubbo插件时还是解析了body的。我在使用过程中将解析参数的代码移至DubboProxyService出了问题，源码没有问题。sorry......

[2018-12-20 05:44] hepin1989 commented on #8
Great!
@beiwei30 done now:)

[2018-12-20 06:42] #8 closed

[2018-12-20 06:47] yu199195 commented on #8
？？？？？？？

[2018-12-25 05:17] #15 closed

[2018-12-25 08:48] DvZhong opened #24 "服务起来后简单配置了Divide过滤，报netty异常 java.io.IOException:"
服务起来后简单配置了Divide过滤，网关基础功能可以实现，但是每次请求都会报一个netty异常， 找了好久没有找到什么原因引起的。

java.io.IOException: 远程主机强迫关闭了一个现有的连接。
	at sun.nio.ch.SocketDispatcher.read0(Native Method) ~[na:1.8.0_131]
	at sun.nio.ch.SocketDispatcher.read(Unknown Source) ~[na:1.8.0_131]
	at sun.nio.ch.IOUtil.readIntoNativeBuffer(Unknown Source) ~[na:1.8.0_131]
	at sun.nio.ch.IOUtil.read(Unknown Source) ~[na:1.8.0_131]
	at sun.nio.ch.Socket

[2018-12-26 02:04] DvZhong commented on #24
master 分支， 你用的是哪个分支？

[2018-12-26 02:34] DvZhong commented on #24
改到reslease分钟 也还会有这样错误，

2018-12-26 10:31:40.416 DEBUG 169472 --- [ctor-http-nio-2] o.d.soul.web.handler.SoulHandlerMapping  : [305637eb] Mapped to org.dromara.soul.web.handler.SoulWebHandler@a3bfde
2018-12-26 10:31:40.438 ERROR 169472 --- [ctor-http-nio-2] o.d.s.web.plugin.function.DividePlugin   : divide upstream config error：RuleZkDTO(id=ndEHt6JD, name=divide, selectorId=cJr9ZgR9, matchMode=0, s

[2018-12-26 02:39] yu199195 commented on #24
这么明显的提示了，你看下代码是哪一行？ 127.0.0.1:8901 能通？

[2018-12-26 02:42] DvZhong commented on #24
换到了realease分支还是有这个错误， 不知道是哪引起的。
2018-12-26 10:40:54.784 DEBUG 169564 --- [ctor-http-nio-3] o.d.soul.web.handler.SoulHandlerMapping  : [0a069ae4] Mapped to org.dromara.soul.web.handler.SoulWebHandler@587fa8a1
2018-12-26 10:40:57.740 ERROR 169564 --- [ctor-http-nio-3] reactor.netty.tcp.TcpServer              : [id: 0x0a069ae4, L:/127.0.0.1:8089 - R:/127.0.0.1:50709] onUncaughtException(SimpleConnect

[2018-12-26 02:44] yu199195 commented on #24
不要重复的贴，框架会有检查你url能否ping通的机制，如果不行了，就会有这个错误

[2018-12-26 02:46] DvZhong commented on #24
通的， 可以拿到返回信息，但是会有一个这个错误，
服务代码:

@RestController
public class UserController {

	@RequestMapping("/testHttp")
	public String testHttp() {
		return "你好我是小刚现在的时间是:"+new SimpleDateFormat("yyyy-MM-dd HH:mm:ss").format(new Date());
	}
}

[2018-12-26 02:49] yu199195 commented on #24
UrlUtils  类的checkUrl 打个断点看下

[2018-12-26 03:31] DvZhong commented on #24
checkUrl 是没有问题的。

每次请求后，在执行ResponsePlugin时报的这个错误。

[2018-12-26 06:32] shengfayun opened #25 "sign 和 monitor没有页面可以配置"
sign的密钥生成使用时间戳字段timestamp的话，如果开启了后端的soul.timeVerify.enabled是不是有冲突

[2018-12-28 10:10] DevilRebirth opened #26 "大批量跑数据时 log日志刷http:circuitBreaker is Open.... !"
我使用jemter去调用divide插件时候，500个线程，当总量到达1000之后，请求就返回：{
:   "code":-2,
:   "message":"this is bad request or fuse ing please try again later",
:   "data":null
}。log日志中刷的日志为http:circuitBreaker is Open.... !

[2018-12-28 10:11] yu199195 commented on #26
熔断了。你的服务支持500的并发？

[2018-12-28 10:13] DevilRebirth commented on #26
服务这边我不做任何处理，只是一个单纯的请求，前两天没有问题，能跑上千万数据，并且不出错，昨天和今天就开始出现这样的问题了

[2018-12-28 10:14] yu199195 commented on #26
调用出错了，或者你的配置改了

[2018-12-28 10:16] DevilRebirth commented on #26
能否具体点？我将熔断的配置做了一下改动：跳闸最小请求数量：50，错误半分比阀值：50，最大并发量：1000，跳闸休眠时间(单位毫秒)：500 当时用这样的配置是没有出问题的。

[2018-12-28 10:17] yu199195 commented on #26
看下服务提供者的错误日志，报什么错误

[2018-12-30 14:41] dlhf commented on #10
divide插件多层目录，method直接写路径名称就好了。。。test/demo,代码就对应@RequestMapping("/test/demo")，0.0

[2019-01-07 06:31] zhoujianjian opened #27 "网关 支持 consul 吗？"
spring cloud 的注册中心 可以
![Uploading image.png…]() 支持 consul 吗

[2019-01-07 07:17] yu199195 commented on #27
支持的，只需要启动的时候，改成consul做注册中心

[2019-01-11 07:35] 654894017 opened #28 "dubbo 插件选择负载均衡hash 或者 roundrobin 会报找不到负载均衡错误"
019-01-11 15:34:53.673  INFO 155692 --- [ctor-http-nio-2] o.d.soul.web.plugin.AbstractSoulPlugin   : order:insert match dubbo rule is name :dubbo
2019-01-11 15:34:53.675 DEBUG 155692 --- [ctor-http-nio-2] com.netflix.hystrix.AbstractCommand      : Error executing HystrixCommand.run(). Proceeding to fallback logic ...

java.lang.IllegalStateException: No such extension hash for loadbalance/com.alib

[2019-01-14 11:04] yu199195 commented on #28
下一个版本解决，

[2019-01-25 08:11] CatYangWei opened #29 "关于监控插件的问题？"
监控插件有界面吗？还是只是把请求数据写到了influxDb呢

[2019-01-28 09:59] yumaoyuan opened #30 "dubbo插件遇到问题，就是调不通"
![image](https://user-images.githubusercontent.com/46174826/51828385-72026600-2326-11e9-93d5-315f004fa325.png)
![image](https://user-images.githubusercontent.com/46174826/51828405-7c246480-2326-11e9-9aa8-20f9cd9edda2.png)
帮忙看看这pei z配置有什么问题吗  谢谢

[2019-01-28 10:01] yumaoyuan commented on #30
{
 "interfaceName":"org.dromara.soul.test.dubbo.api.service.DubboTestService",
    "method":"insert",
    "paramClass":"[org.dromara.soul.test.dubbo.api.entity.DubboTest]",
    "classParams":[
        {
            "id":"123",
            "name":"xiaoyu"
        }
    ]
}

![image](https://user-images.githubusercontent.com/46174826/51828555-c73e7780-2326-11e9-8319-de599ef38351.png)

[2019-02-13 06:20] yihui366898 opened #31 "soul如何部署集群"
soul如何部署集群，能写个录个视频教程吗？

[2019-02-13 06:56] yu199195 commented on #31
不是有视频教程？

[2019-02-13 06:57] yu199195 commented on #31
集群就是启动多个服务，你在访问的时候，前面加一层nginx，看架构图

[2019-02-13 06:59] yihui366898 commented on #31
就是soul-bootstrap这个服务启动多个是吗？

[2019-02-13 07:06] yu199195 commented on #31
是的，他就是http服务

[2019-03-06 09:52] yumaoyuan opened #32 "支持go语言吗？"

[2019-03-16 09:02] zhangjun050754 opened #33 "后端html代码开源了吗"

[2019-03-16 11:17] yu199195 commented on #33
在组织下面，

[2019-03-17 03:51] yu199195 commented on #32
支持go语音的客户端

[2019-03-19 09:11] yu199195 commented on #29
只是把请求数据写到了influxDb

[2019-03-19 09:11] yu199195 commented on #25
soul.timeVerify.enabled 这个是验证请求过期的，没有冲突

[2019-03-20 03:14] DevilRebirth opened #34 "rate_limiter插件和divide插件结合使用问题"
是否能够把这两个插件结合起来使用？

[2019-03-20 03:25] yu199195 commented on #34
divide 是 http代理。 rate_limiter 是限流，怎么能一起呢， dubbo请求呢

[2019-03-20 03:34] DevilRebirth commented on #34
我有一个疑问是，我在使用http代理的去调用业务服务的某个接口，现在想把这个接口限流，我想着是不是可以结合您已经提供的限流插件结合去做控制

[2019-03-20 06:54] DevilRebirth commented on #34
![image](https://user-images.githubusercontent.com/17892951/54664708-fa7bd680-4b1f-11e9-846d-0e2f2c8e98a6.png)
请问如果我一个http请求是这样的，会同时使用这两个插件配置吗

[2019-03-20 06:59] yu199195 commented on #34
插件是责任链执行的，看你的配置，如果你配置了 2个插件都会匹配吗他就会执行，你的限流配置是什么鬼东西，限流插件是到接口级别的，看你的配置，如果去匹配它而已

[2019-04-03 13:24] yu199195 opened #35 "soul在下一个版本去除Zookeeper的依赖"
soul目前是使用zookeeper来做数据的的缓存与动态监听刷新。
准备参考Apollo 的长轮询策略来做。
优点 ：这样可以去除对zookeeper的依赖，更加轻量级。
缺点： 动态的配置更新可能没有那么及时。依赖与长轮询的时间。

[2019-04-03 13:49] SaberSola commented on #35
apollo长轮询不熟悉 rocketmq消费端长轮询模式熟悉,想参与,水平不太高,仍在努力学习中,只有周末有时间 考虑么 猫老大

[2019-04-03 15:36] yu199195 commented on #35
@SaberSola  可以，就是一给http轮询获取数据，然后写到本地，http轮询的时候要考虑到集群的情况

[2019-04-05 08:25] 241600489 commented on #35
不考虑其他开源的配置中心就是 觉得添加依赖 比较重量级吗

[2019-04-09 08:11] yu199195 commented on #35
@241600489  和开源的配置中心没任何关系，依赖那些太重

[2019-04-12 00:50] Hintic opened #40 "关于如何传递参数"
我是初学者，请多指教。
在视频教学中作者展示了http请求怎么传递多个参数，封装成对象通过@RequestBody传递。但是我想知道如何传递单个Integer参数呢，试过很多方法但是都未成功，求教。

[2019-04-12 02:28] yu199195 commented on #40
你springmvc 怎么传，那就怎么传，soul网关只是做了一层转发。

[2019-04-12 02:54] Hintic commented on #40
作者你好。
这边尝试过了三种传递，1、通过form-data传递key=id,value=1，后台接收@RequestParam("id")  Integer id；2、通过form-data传递key=id,value=1，后台接收 Integer id；3、通过json传递{“id”:1}，后台接收@RequestBody Integer id（这种方式注解不允许）。三种方法单独的springmvc都可以成功，但是通过soul就失败，麻烦解惑告知正解。

[2019-04-12 03:07] yu199195 commented on #40
这种你是否可以使用get请求？

[2019-04-12 03:16] Hintic commented on #40
麻烦作者。
get请求也可以通过soul网关处理转发吗，那参数应该写在哪里呢，路径上或者是header中？

[2019-04-12 03:17] yu199195 commented on #40
header 中的 extInfo ，json格式，请看文档

[2019-04-12 05:36] Hintic commented on #40
作者你好。
我在header上加上key=extInfo,value={“id”:1},httpMethod更新为get，后台接收改为@GetMapping或者@RequestMapping下，@RequestBody Integer id或者@RequestParam(value="id") Integer id或者Integer id，统统试过都不成功。请指一条明路，是否通过soul发送参数只有封装成对象或者map才能成功。

[2019-04-12 06:41] yu199195 commented on #40
请问，你这么样，你匹配到了具体方法吗？
 @GetMapping("/id")
    public Integer testGet(@RequestParam("id") Integer id) {
        return id;
    }
header 中extInfo 字段值为{"id":1} 他的意思就会拼装成 http://ip:port/mehtod?id=1

其中ip:port是你后台传入的， method 是你具体传入的值

[2019-04-12 07:00] Hintic commented on #40
感谢作者百忙之中为我解答。
成功取到Integer类型单参数值。
get类型http请求中header加入extInfo字段值{“id”:1}，服务后台接收@RequestParam("id") Integer id。可以成功往后台传单值。
再次感谢

[2019-04-16 02:20] huarenzai opened #41 "问下 这块代码 有点没看懂 请教下哈"
![image](https://user-images.githubusercontent.com/25600512/56177273-91a95080-6030-11e9-8e80-3be88c3eb76c.png)
dubbo 这里调用了DubboCommand
doExecute 这边返回的是 mono.create 的mono  好像没有地方去触发返回
![image](https://user-images.githubusercontent.com/25600512/56177329-cddcb100-6030-11e9-9bae-73f354973e42.png)
可能说的不是很好  不知道您有没有明白我说的意思
就是这个调用链 好像是中断的在这里

这是我的代码 没使用 hystrix的
![image](https://user-images.githubusercon

[2019-04-21 15:10] lynn831 opened #42 "能提供一个没有压缩的index.js文件吗？"
大神，能提供一份原版的index.js文件吗？邮箱 lynn831@yeah.net 多谢！

[2019-04-25 03:12] kvkboy opened #43 "Restful风格的接口选择器和规则该怎么设置"
例如findUser/{id}/info
选择器我粗粒度用模块名匹配
然而规则里该怎么写

[2019-04-25 06:17] yu199195 commented on #42
没有index.js文件

[2019-04-25 06:17] yu199195 commented on #43
没见过这种，只有findUser/info/{id} 这种

[2019-04-25 08:57] #43 closed

[2019-04-28 02:15] liyong1028826685 opened #45 "可以参考支付宝网关设计增加在线文档、在线测试功能"
可以参考支付宝网关设计增加在线文档、在线测试功能

[2019-04-28 02:29] yu199195 commented on #45
你有兴趣提供一下代码吗？

[2019-04-28 02:41] liyong1028826685 commented on #45
我刚研究你这个源码，我们自己做了一套网关支持在线doc、和测试、目前后端我们只整合了rpc，控制力度没有你这全面，如果能接入到你提个的这个项目应该就比较完善了。
有个问题请教，你这个调用网关对请求参数sign应该要把请求内容作为签名的一部分，这个才比较符合实际场景。我们在易极付自研的网关就是这么做的。

[2019-04-28 02:48] yu199195 commented on #45
可以把在线doc，测试 加上来，你有时间提供下pr代码

[2019-04-28 02:55] liyong1028826685 commented on #45
我们现在公司使用的openapi http://openapi.huwochuxing.com/docs

[2019-04-28 02:56] liyong1028826685 commented on #45
我先看下你的项目。有时间我把这个整合过来。

[2019-04-28 06:19] yu199195 commented on #45
可以的，在线测试这个可以做一下

[2019-04-28 07:07] newWSmile opened #46 "部署后，没有网关转发效果"
![1](https://user-images.githubusercontent.com/18049520/56860271-4cd5d000-69c7-11e9-87d3-1af9d7ad327b.png)

![8](https://user-images.githubusercontent.com/18049520/56860234-d638d280-69c6-11e9-9c3d-89fbe4f0b8e1.png)
![9](https://user-images.githubusercontent.com/18049520/56860235-d769ff80-69c6-11e9-9789-4eaebf54b12d.png)
![10](https://user-images.githubusercontent.com/18049520/56860236-d8029600-69c

[2019-04-28 07:13] newWSmile commented on #46
根据我对代码看过后的理解 应该是1 在soul-admin 里面设置好divide的请求选择器和规则，2 在名为soul-bootstrap的项目里请求，通过对http headers里面设置RequestDTO 里面对应的字段 ，然后通过转发到名为soul-test-http 项目的实际接口去的  。 请问我这样理解是有问题吗？

[2019-04-28 07:19] liyong1028826685 opened #47 "规则配置超时时间必填bug"
<img width="789" alt="image" src="https://user-images.githubusercontent.com/6101259/56860399-dc2fb300-69c8-11e9-8458-665a5ff9f436.png">

<img width="1165" alt="image" src="https://user-images.githubusercontent.com/6101259/56860413-008b8f80-69c9-11e9-8e99-73bbea3ff393.png">

Caused by: java.lang.NumberFormatException: empty String
	at sun.misc.FloatingDecimal.readJavaFormatString(FloatingDecimal.ja

[2019-04-28 07:21] liyong1028826685 commented on #35
可以整合nacos来做 nacos本身才有的就是http长连接模式

[2019-04-28 08:41] yu199195 commented on #35
nacos太重，没必要依赖 和nacos没有什么关系

[2019-04-28 08:42] yu199195 commented on #35
@liyong1028826685

[2019-04-28 08:43] yu199195 commented on #47
这里必须填的，前期这么没有验证

[2019-04-28 08:44] yu199195 commented on #46
类型，自定义流量

[2019-04-28 08:46] yu199195 commented on #46
你看下，soul打印人日志，你有没匹配到，你的转发地址是多少？ 如果没有，那就是配置问题

[2019-04-28 08:56] yu199195 commented on #46
还有种可能是你配置的 http服务没有启动，soul会有验证，你的转发服务是否能ping通

[2019-04-28 09:01] yu199195 commented on #41
返回mono webflux框架会去触发的

[2019-04-28 09:04] newWSmile commented on #46
![image](https://user-images.githubusercontent.com/18049520/56861856-ae9e3600-69d7-11e9-8b97-2bc807ebfb60.png)
类型修改为自定义 没用

[2019-04-28 09:05] yu199195 commented on #46
soul的日志 ，贴出来看下

[2019-04-28 09:06] newWSmile commented on #46
"C:\Program Files\Java\jdk1.8.0_181\bin\java.exe" -XX:TieredStopAtLevel=1 -noverify -Dspring.output.ansi.enabled=always -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=60977 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -Djava.rmi.server.hostname=localhost -Dspring.liveBeansView.mbeanDomain -Dspring.application.admin.enabled=true "-ja

[2019-04-28 09:09] yu199195 commented on #46
DividePlugin  doExecute方法打个断点看一下？

[2019-04-28 09:10] newWSmile commented on #46
没有触发这个地方

[2019-04-28 09:11] newWSmile commented on #46
![image](https://user-images.githubusercontent.com/18049520/56861960-9ed32180-69d8-11e9-893d-826b6417e172.png)

[2019-04-28 09:12] newWSmile commented on #46
![image](https://user-images.githubusercontent.com/18049520/56861973-c1fdd100-69d8-11e9-892a-2fbd14b75851.png)
我跟源码应该这里会去触发 但是现在没有

[2019-04-28 09:14] yu199195 commented on #46
从日志上来看，你在fitler里面就被拦截掉了
ParamWebFilter ，TimeWebFilter 里面打断点看下吧

[2019-04-28 09:16] newWSmile commented on #46
![image](https://user-images.githubusercontent.com/18049520/56862047-5831f700-69d9-11e9-96a8-36c9f36ba992.png)
![image](https://user-images.githubusercontent.com/18049520/56862050-5c5e1480-69d9-11e9-9b08-e78d35e14a06.png)
debug启动和用postman点击均无反应

[2019-04-28 09:19] newWSmile commented on #46
debug启动这里能触发
![image](https://user-images.githubusercontent.com/18049520/56862067-9202fd80-69d9-11e9-9a32-21d36fba108f.png)

[2019-04-28 09:22] newWSmile commented on #46
admin的配置文件
[code]

soul-bootstrap的配置文件

[code]

soul-test-http 的配置文件
[code]

[2019-04-28 09:24] newWSmile commented on #46
选择器配置
![image](https://user-images.githubusercontent.com/18049520/56862142-5caadf80-69da-11e9-98f6-ebd4102b7939.png)

规则配置
![image](https://user-images.githubusercontent.com/18049520/56862146-6af8fb80-69da-11e9-8872-0d7a644f6139.png)

http服务简单代码
![image](https://user-images.githubusercontent.com/18049520/56862159-85cb7000-69da-11e9-9a35-0bac240a833f.png)

以上

[2019-04-28 09:25] yu199195 commented on #46
加群吧，应该是你的post 没有访问到网关服务

[2019-04-28 09:25] newWSmile commented on #46
群号是多少？

[2019-04-28 09:33] newWSmile commented on #46
加群了，还用qq支付 我还得去找人借qq转账。。。

[2019-04-28 10:19] newWSmile commented on #46
调试完毕，结合大佬调试后 发现是自己postman的问题  导致无法进入  目前换了台电脑访问 问题解决

[2019-04-28 10:21] #46 closed

[2019-05-07 06:23] sjtucc opened #48 "soul启动时没有将数据库中的数据加载到zookeeper"
为什么不在soul服务启动时，将数据库中的plugin、selector等数据加载到zookeeper呢？

[2019-05-08 08:18] zfc5840 commented on #48
fff

[2019-05-08 08:20] yu199195 commented on #48
目前也不需要这么做，下一个版本，将移除对zk的依赖

[2019-05-09 03:59] HYJgithub opened #49 "超时熔断在哪里添加fallbcak？"
我是初学者，在测试超时熔断的时候，在soulbootstrap的控制台中返回没有配置fallback，该在哪里添加fallback？
2019-05-09 11:29:27.451 ERROR 2596 --- [     parallel-1] o.d.soul.web.plugin.hystrix.HttpCommand  : http execute have error:Did not observe any item or terminal signal within 5000ms in 'peek' (and no fallback has been configured)

[2019-05-09 06:21] yu199195 commented on #49
没有fallback的设置，soul会自动返回fallback的内容

[2019-05-09 06:43] HYJgithub commented on #49
返回fallback回退内容就是返回500么？
{"code":500,"message":"this is bad request or fuse ing please try again later","data":null}

[2019-05-09 10:54] yu199195 commented on #49
是的

[2019-05-09 12:58] laulee5135 opened #50 "能否用在生产环境呢？"
请教楼主，这个网关是哪家公司出的呀？网上找soul的出身少的可怜。
不知道是怎么维护的？后面用着用着怕就没了😅

[2019-05-09 14:15] yu199195 commented on #50
国内数一数二的大型电商上市公司，中间件团队开发，关注下公众号吧 。有专门说过的

[2019-05-10 07:42] HYJgithub opened #51 "sign插件的使用方法"
作者你好。关于sign插件的使用，步骤是先要在认证管理创建一对module和appSecret，然后在sign插件中的选择器中，条件为module（认证管理填的值）；但是后面的规则中，   条件写method(具体拦截请求)，那下一行的处理是怎么填写的？请问我在认证管理和sign插件配置使用方法对么？

认证管理：
![image](https://user-images.githubusercontent.com/46957989/57510564-be077280-7339-11e9-84a9-b312fd908a06.png)
sign插件的选择器：
![image](https://user-images.githubusercontent.com/46957989/57510421-56e9be00-7339-11e9-82fc-f1aa660fba9e.png)
规则：
![i

[2019-05-10 07:53] HYJgithub commented on #51
在请求的的时候，还需要添加什么参数么？
![image](https://user-images.githubusercontent.com/46957989/57511389-c52f8000-733b-11e9-809a-777268f2de74.png)

[2019-05-10 09:13] yu199195 commented on #51
处理可以不填写，sign值你看下文档，有算法的，前端是同样的算法得到签名sign值，传递到网关

[2019-05-10 09:41] HYJgithub opened #52 "反馈--前端有些小bug"
在后台管理界面，sign签名，点击修改规则后出现混乱，刷新即可（如果在新出现的栏点击了修改确定，springcloud的规则会跑到sign的界面去）
原界面：
![image](https://user-images.githubusercontent.com/46957989/57517885-61f91a00-734a-11e9-980c-477a850d558d.png)
规则修改后，点击确定出现的页面：
![image](https://user-images.githubusercontent.com/46957989/57518025-b43a3b00-734a-11e9-8e37-183c0b39c7ed.png)

[2019-05-12 11:17] laulee5135 opened #53 "dubbo插件开启之后无法访问"
作者好，请问一下，开启了dubbo插件相关的配置和配了，但就是无法访问，能进soul但是没有任何返回，也没有跳转到dubbo服务去，主要是也没有任何错误信息。。。照着视频配的都不行。。。
![image](https://user-images.githubusercontent.com/26890253/57581460-3a40b800-74ea-11e9-81d3-1a543b3a4de8.png)
配置选择器：
![image](https://user-images.githubusercontent.com/26890253/57581469-4e84b500-74ea-11e9-81a1-a20c21095c93.png)
配置规则：
![image](https://user-images.githubusercontent.com/26890253/57581472-57

[2019-05-12 11:32] yu199195 commented on #53
最新版本dubbo参数是从body里面传过去，视频是之前的版本

[2019-05-12 11:40] laulee5135 commented on #53
谢谢。还真是，立马就好了，看了一下午😢

[2019-05-12 12:48] laulee5135 opened #54 "springcloud插件使用报错"
作者好，又遇到一个问题，使用springcloud插件的时候，开始一直请求不进去，网关报错：numberformatException entry string[ ；调试过程中突然好了，系统重启再没有复现这个问题。
请求：
![image](https://user-images.githubusercontent.com/26890253/57582404-0ddf6880-74f7-11e9-8d9a-4d812b8d307a.png)
报错的代码行：
![image](https://user-images.githubusercontent.com/26890253/57582431-5008aa00-74f7-11e9-8860-b14aa164836e.png)

[2019-05-12 12:52] laulee5135 commented on #54
报错的那次请求参数中httpMethod=post，虽然是错的，那他应该是报415，但是没有报。后台显示的错误是numberformatException entry string[ ，http post  （基本是这个错误，具体的错误信息我忘了，当时没截图），在这个过程中调试，突然报出了正确的错误415，最后把httpMethod改成get之后正常了。

[2019-05-13 02:55] HYJgithub commented on #51
作者你好，我看了文档的算法，但是还是验证不通过。可以帮我看一下我的请求头参数和RequestDTO初始化是否有错？
![image](https://user-images.githubusercontent.com/46957989/57593244-29855600-756d-11e9-86b2-16059f4f255f.png)
![image](https://user-images.githubusercontent.com/46957989/57593261-386c0880-756d-11e9-96bb-265a23ca16ca.png)
![image](https://user-images.githubusercontent.com/46957989/57593276-4a4dab80-756d-11e9-80ea-c84cffc145ef.png)

[2019-05-13 02:59] yu199195 commented on #51
SignPlugin 这个类，字段断点调试下，不就可以了？

[2019-05-13 03:49] HYJgithub commented on #51
好的，谢谢

[2019-05-13 03:57] HYJgithub commented on #51
谢谢。原来是要在header的参数中添加timestamp，即创建sign值的时间。
![image](https://user-images.githubusercontent.com/46957989/57595202-39edfe80-7576-11e9-98e3-3ea325a8a85d.png)

[2019-05-13 17:26] laulee5135 opened #55 "如何实现高可用"
作者好，麻烦问下sou通过nginx实现高可用，那在nginx里你们是怎么得知被转发的那个soul服务是正常的呀，如果要是挂了，nginx是咋得知的。求教作者都是怎么处理这个问题的，感谢感谢！

[2019-05-14 03:18] yu199195 commented on #55
这个是nginx的知识，soul 和普通的http，springmvc一样

[2019-05-14 06:07] laulee5135 opened #56 "如何集成链路追踪工具"
作者好，感谢前几次的回复。soul是异步的框架，那他怎么使用依赖threadlocal的链路追踪工具呀，比如cat、zipkin这些工具呢？

[2019-05-14 09:42] yu199195 commented on #56
和soul没关系

[2019-05-14 09:54] laulee5135 opened #57 "和soul没关系"
和soul没关系

_Originally posted by @yu199195 in https://github.com/Dromara/soul/issues/56#issuecomment-492166565_

比如用CAT，它本身是用threadlocal来收集日志的，但是soul又是异步的，只会把请求转发给后端集群，这样的话，一个请求在网关和后端服务之间是分离的，CAT的threadlocal就不起作用的了呀。

[2019-05-14 09:57] laulee5135 opened #58 "如何访问后端dubbo服务集群"
感谢作者百忙中回复，刚刚试了下配置dubbo集群，不知道这个怎么配的，代码和管理界面里的规则都得配那些呀？

[2019-05-14 12:46] #57 closed

[2019-05-14 12:46] laulee5135 commented on #56
比如用CAT，它本身是用threadlocal来收集日志的，但是soul又是异步的，只会把请求转发给后端集群，这样的话，一个请求在网关和后端服务之间是分离的，CAT的threadlocal就不起作用的了呀。

[2019-05-17 07:19] HYJgithub opened #59 "soul扩展功能"
作者你好，我在soul-web这个模块中的plugin文件夹中实现soulplugin接口，程序也会运行（即执行自定义插件），但是要如何接收到boby或者是自定义的内容呢？（或者自定义的内容存放在哪里）

![image](https://user-images.githubusercontent.com/46957989/57909768-4a73e100-78b6-11e9-94af-c9ba492a8d8b.png)

[2019-05-17 08:13] yu199195 commented on #59
仔细看看文档

[2019-05-17 08:50] HYJgithub commented on #59
作者你好，我看了文档还是有点疑问。扩展的话需要重新创建一个模块么？还是在一个指定的模块里进行开发？扩展模块的操作步骤：1.继承或者实现soulplugin，2.在管理中心创建指对应的插件模块与规则；这样理解是否有误？

[2019-05-18 05:59] yu199195 commented on #59
这个已经是java基础问题了。 扩展就是引用soul-web的jar包，然后再实现接口，当然你在源码的基础上更改也是一样，就好像你实现spring的接口，引用spring，实现他的接口是一样的，个人建议是建立自己项目，就像soul-bootstrap那样。方便自己的项目特性，其次是soul-web有更新，你不需要管，其他的问题你加群问下其他人

[2019-05-19 16:36] laulee5135 opened #60 "soul性能"
作者好，请问一下soul的吞吐量大概是多少呢，有没有具体的测试呀？

[2019-05-20 02:01] ConnL opened #61 "启动报错"
java.lang.IllegalStateException: Failed to execute CommandLineRunner
	at org.springframework.boot.SpringApplication.callRunner(SpringApplication.java:816) [spring-boot-2.1.0.RELEASE.jar:2.1.0.RELEASE]
	at org.springframework.boot.SpringApplication.callRunners(SpringApplication.java:797) [spring-boot-2.1.0.RELEASE.jar:2.1.0.RELEASE]
	at org.springframework.boot.SpringApplication.run(SpringApplicati

[2019-05-23 03:16] HYJgithub opened #62 "waf插件条件使用ip控制"
作者你好，对于在waf插件的条件中，有ip这个选项，如果使用ip这个选项，那么条件填写的格式是怎么样的呀?
![image](https://user-images.githubusercontent.com/46957989/58223344-d28d3700-7d4b-11e9-8065-4b3f6ad95dbf.png)
![image](https://user-images.githubusercontent.com/46957989/58223371-e9338e00-7d4b-11e9-9c4b-ce53e294ba1c.png)

[2019-05-24 02:18] HYJgithub commented on #62
在条件中，前面的条件是任意字符
![image](https://user-images.githubusercontent.com/46957989/58298200-37f52c80-7e0d-11e9-987f-8e85ddc0f8df.png)

[2019-05-24 08:32] foreverjay opened #63 "前端有计划开源吗"
前端有计划开源吗

[2019-05-24 09:30] yu199195 commented on #63
前端已经开源的

[2019-05-24 09:33] yu199195 commented on #62
ip和 host 这里可以是任意字符，是根据后面的值，与httpReuqest 中的ip，host来匹配的

[2019-05-27 06:52] zjw2011 opened #64 "dubbo2.7的bug"
当dubbo换成2.7.x的时候，
使用jmeter,发送500个并发请求，调用divide插件，做http请求,出现大量的错误，并且连接不会断开。
dubbo2.6.x的时候没有这个问题

[2019-05-27 07:15] yu199195 commented on #64
dubbo 是用的dubbo插件吧.和divide插件没关系，2.7.0本来就有bug

[2019-05-27 10:19] chenghuanhuan opened #65 "是否支持实时修改路由"

[2019-05-27 16:01] yu199195 commented on #65
支持的

[2019-05-28 12:53] zongtanghu commented on #35
@yu199195 您好，我们这边儿想参与soul开源项目共同建设，可以加下微信或者钉钉聊下么？

[2019-05-29 06:02] zparkgao commented on #56
that's a good question

[2019-05-29 06:48] zparkgao opened #66 "支持webservice协议么？"

[2019-05-29 07:20] yu199195 commented on #66
支持的

[2019-05-29 08:02] zparkgao commented on #66
这个在生产上有做过性能测试么？能否在官方文档中给出？

[2019-05-30 07:50] liuzhebaba opened #67 "webflux"
楼主为何要用webflux，做过压测么？用过都知道webflux性能特别低，网上说webflux性能高的，都是什么都不懂的，它的相应式编程都是同步的，delayElement吞吐高是因为用的ScheduleExecutorService，你用webmvc使用同样的方式，性能甩他一条街。他的所有响应编程都是同步的。垃圾一样的框架，网上被一堆什么都不懂的人在吹

[2019-06-03 06:55] yu199195 opened #68 "谁在使用soul？"
首先诚挚地感谢每一位持续关注并使用Soul的朋友。我们会持续投入，力图把Soul 变得更好，把 Soul社区变得更加繁荣。为了更好的聆听社区的声音，吸引更多的人使用和参与，我们期待您在此提交一条评论, 评论内容包括:

您所在公司、学校或组织
您所在的城市、国家
您的联系方式: 微博、邮箱、微信 (至少一个)
您将 Arthas 用于哪些业务场景
您可以参考下面的样例来提供您的信息：

公司：小猫咪
网址：https://dromara.org/ （方便用获取LOGO）
地点：中国深圳
联系方式：549477611@qq.com
场景：公司入口网关

[2019-06-03 06:59] lei32323 commented on #68
公司：上海理想
网址：www.meetingnow.cn
地点：中国上海
联系方式：
场景：eop网关

[2019-06-03 07:02] dblues0925 commented on #68
公司：广州汇智
网址：www.wezlink.com
地点：中国广东
联系方式：260104078@qq.com
场景：前端业务网关

[2019-06-04 05:18] liuzhebaba commented on #67
后端高并发的时候，用响应式编程，用异步，有意义么？

[2019-06-06 07:43] #67 closed

[2019-06-11 03:43] hujunzhong opened #69 "ResponsePlugin没有处理http response header和其它code、cookie"
比如应用返回302会转化成200

[2019-06-11 08:21] liuzhebaba opened #70 "divideplugin的重试"
divide插件配置了重试，看到代码没有用到retry字段，而且配置的重试次数也确实没起作用，是bug么？
![image](https://user-images.githubusercontent.com/22785707/59255658-fc5bbe80-8c64-11e9-8620-233cee6587fe.png)

[2019-06-11 11:16] yu199195 commented on #70
重试会有内存溢出的风险，已经被去除了

[2019-06-12 03:14] klboke commented on #68
公司：凯京集团
网址：www.keking.com
地点：中国上海
联系方式：632104866@qq.com
场景：http服务api网关

[2019-06-12 06:32] venomtech commented on #68
公司：江苏永钢
网址：http://www.yong-gang.com/
地点：中国张家港
联系方式：crusader007@vip.qq.com
场景：http服务api网关

[2019-06-12 06:42] 402837420 commented on #68
公司：开普云
网址：https://www.kaipuyun.cn/
地点：中国北京
联系方式：qq:402837420
场景：http服务api网关(目前处于调研阶段)

[2019-06-13 05:37] wanhuhou opened #71 "有官方钉钉群吗"
有官方钉钉群吗

[2019-06-13 05:40] wanhuhou opened #72 "soul文档"
部署 server 菜单
修改application.yml,如果zookeeper插件是必须配置的。 如果你使用限流插件，请配置redis。如果是使用监控插件，请配置influxdb，如果是使用springcloud插件，还需要配置eureka.句话是不是有问题

[2019-06-13 05:48] wanhuhou opened #73 "spring.influxdb.url"
好像非要配置，如果我不要监控的话就不要配置了吧，这个不配置网关无法启动

[2019-06-13 06:17] yu199195 commented on #71
只有qq 或者微信群哈

[2019-06-13 06:19] yu199195 commented on #72
目前是这样的，下个版本会改掉，有比较大的更新

[2019-06-13 06:37] wanhuhou commented on #72
如果zookeeper插件是必须配置的。预发错误吧，还有就是我把吧server配置文件 删掉 关于influxdb 和eureka的配置，网关启动报错，难道是强制依赖这些东西吗

[2019-06-13 06:49] wanhuhou commented on #71
微信群是哪个 发下

[2019-06-13 07:00] wanhuhou commented on #72
下个版本什么时候发布

[2019-06-13 07:09] yu199195 commented on #72
并不是必须的，只不过依赖了start包，你去掉配置，会报错，这是基本的spring boot 常识。 下个版本会改掉，

[2019-06-13 09:01] klboke commented on #72
@wanhuhou 我们正在调研soul，去掉eureka需要在配置文件中关闭，如： eureka.client.enabled = false 。
不用监控的话，去掉influxdb，需要修改InfluxDbService.java中InfluxDBTemplate的注入方式，如：
`    @Autowired(required = false)
    private InfluxDBTemplate influxDBTemplate;
`
这样，在配置文件中去除eureka和influxDb的配置就不影响应用启动了

[2019-06-13 09:02] klboke commented on #73
https://github.com/Dromara/soul/issues/72#issuecomment-501616017

[2019-06-17 01:52] #70 closed

[2019-06-21 10:35] fangquann commented on #68
公司：方付通
网址：https://www.f-road.com.cn/
地点：中国上海
联系方式：272960324@qq.com
场景：http服务api网关(目前处于调研阶段)

[2019-06-25 03:08] 59471032 opened #75 "认证管理"
![image](https://user-images.githubusercontent.com/1281536/60066373-7c8c2480-9739-11e9-867b-ab38ef236d11.png)
无法更新秘钥appSecret

[2019-06-25 03:09] 59471032 commented on #75
![image](https://user-images.githubusercontent.com/1281536/60066404-a1809780-9739-11e9-83dc-fab4c00229d2.png)

[2019-06-25 10:00] 59471032 opened #76 "签名插件编辑出错"
规则编辑之后，左侧选择器出错
![image](https://user-images.githubusercontent.com/1281536/60089427-073d4580-9773-11e9-9e40-24c7c01bf43a.png)

[2019-06-25 11:09] yu199195 commented on #76
哪个版本？？ 之前的版本有bug，刷新一下即可

[2019-06-25 11:13] yu199195 commented on #75
下个版本 修正，目前可以先删除再添加，不能修改

[2019-06-25 11:14] yu199195 commented on #69
soul只不过是包装了一层，你也可以自定义ResponsePlugin 重写它

[2019-07-01 02:00] liuzhebaba opened #77 "选择器规则只对应第一个选择器"
![image](https://user-images.githubusercontent.com/22785707/60406117-f400fe80-9be6-11e9-8e58-deee9aa044b5.png)
所有的规则只会对应第一个选择器，那么第二个选择器的规则如何配置呢？

[2019-07-01 02:02] #77 closed

[2019-07-03 02:19] yedongWUXI opened #78 "admin页面里的选择器和规则的删除加下提示吧，直接删除不太好"

[2019-07-03 05:48] Jayden-Yuan opened #79 "大神，能提供没有压缩过的soul-admin下面的index.1661783d.js文件吗"

[2019-07-03 06:15] yu199195 commented on #78
怎么样提示呢？

[2019-07-03 08:57] yu199195 commented on #79
在drorama组织下

[2019-07-03 09:20] Jayden-Yuan commented on #79
没有压缩的版本有吗？

[2019-07-03 09:24] yedongWUXI commented on #78
至少有个是否删除吧 我一点删除直接删掉了

[2019-07-03 09:26] yedongWUXI commented on #78
大佬后面有想过把monitor里的可视化不用grafana，而是在admin的页面显示吗？

[2019-07-03 09:41] yu199195 commented on #79
说了，在组织下面有源码

[2019-07-03 09:42] yu199195 commented on #78
grafana 界面更炫酷点， 删除可以加个提示

[2019-07-04 06:28] yedongWUXI opened #82 "monitor里的handle有没有用啊 我看可以随便填的"

[2019-07-04 11:44] liuzhebaba opened #83 "dubbo调用字符串数字过长，会出现类型转换异常bug"
910700000033523356，这是一个字符串，但是是数字类型的，在dubbo的泛化调用，类型转换的时候会报出类型转换异常，GsonUtils里面默认转成了double类型，

[2019-07-04 13:08] liuzhebaba opened #84 "responseHeader返回的是application/json;charset=UTF-8"
后台请求的是html页面，但经过soul网关，responseHeader变成了application/json;charset=UTF-8，请问这个是在什么地方换掉的

[2019-07-04 14:34] #84 closed

[2019-07-04 14:35] liuzhebaba commented on #84
在AbstractWebFilter中，已经找到

[2019-07-04 15:33] timGRK commented on #72
文档在实际操作过，希望再细节完善一下！东西的设计理念目前与业界这些zuul 、gateway，kong，openresty比较，对于一个体系化的java微服务网关来说，那些都弱爆。

[2019-07-10 03:48] wanglaomo opened #85 "Hystrix隔离模式"
Hystrix隔离模式为什么是信号量模式呢？既然后面涉及到网络IO，hystrix官方更推荐使用线程池模式，是有什么特别的考量吗？

[2019-07-11 03:23] wanglaomo opened #86 "RoundRobinLoadBalance负载均衡算法失效"
RoundRobinLoadBalance算法并没有保证请求是按照预期权重那样分配
![image](https://user-images.githubusercontent.com/26642224/61019846-35a35d80-a3ce-11e9-8eda-f0907354f260.png)
如图100次请求，权重为50的upstream分配到了62个请求。

[2019-07-11 06:19] yu199195 commented on #82
这里确实没用

[2019-07-11 06:31] yu199195 commented on #86
你这个图，是怎么模拟出来的？

[2019-07-11 06:35] wanglaomo commented on #86
构造一组DivideUpStream，权重分别是[50，20， 30]，同步调用RoundRobinLoadBalance的select方法100次，统计每次选出来的DivideUpStream

[2019-07-12 02:26] yu199195 commented on #86
提供下测试代码给我

[2019-07-12 06:16] wanglaomo opened #87 "文档中说明是令牌桶算法，实际为时间窗口算法"
https://github.com/Dromara/soul/blob/1113584c336a4ae4d64306a3ae4f72f990af0894/soul-web/src/main/resources/META-INF/scripts/request_rate_limiter.lua#L1-L49

[2019-07-14 02:26] yedongWUXI opened #90 "请问在生产环境布置需要什么配置？soul现在能支持多少请求？有具体TPS，QPS，并发量测试数据吗"

[2019-07-16 09:09] moutangyou opened #91 "soul考虑过注册中心支持nacos吗"
soul会考虑注册中心支持nacos，不单单使用zookeeper吗？

[2019-07-16 09:16] yu199195 commented on #91
zookeeper 只是同步数据的一种方式而已

[2019-07-16 09:26] moutangyou commented on #91
是的，了解过这个源码，公司要求改用nacos，弃用zookeeper，如果要切换soul-admin可以不用动，覆盖即可，但是soul-web几乎每一个插件都要动，会不太好，后期也不考虑把这块儿独立出来，方便扩展啥的，仅使用zookeeper吗？

[2019-07-16 09:28] yu199195 commented on #91
no，现在2.0已经和zookeeper没有任何关系， 和nacos 也没有任何关系

[2019-07-16 09:36] moutangyou commented on #91
没注意看2.0已经出来，先研究一下，谢谢

[2019-07-18 05:38] inotgaoshou commented on #91
对应的文档有更新吗。

[2019-07-22 08:41] #83 closed

[2019-07-22 08:44] liuzhebaba opened #95 "楼主每个调用为什么要删除掉host头"
![image](https://user-images.githubusercontent.com/22785707/61618527-a173a900-ac9f-11e9-9be1-68db091b1ecf.png)
这里有什么特殊作用么？没有的话，我是否可以去掉

[2019-07-27 01:06] michjony opened #97 "能否把视频教程迁移到B站，aqiyi广告好长"
能否把视频教程迁移到B站，aqiyi广告好长

[2019-07-28 03:05] michjony commented on #95
这行代码的作用是：这里移除的是请求网关的url中的host，网关需要将这个请求转发给后台的服务，需要移除原始链接中的host，应该是不能删除的

[2019-07-29 01:44] liuzhebaba commented on #95
这个host是原始的requestHeader的host，后台服务是有可能会使用到的，删除了会有影响，而不删除其实目前来看是不会有什么影响的

[2019-07-29 01:46] liuzhebaba opened #98 "关于js翻页存在的问题"
目前在divide插件中，当填写过多divide的时候，由于分页参数是一页12条，过多就需要翻页到第二页了，而翻页目前js是报错的

[2019-07-29 05:44] yu199195 commented on #98
目前已经修护

[2019-07-29 05:45] yu199195 commented on #97
b站很繁琐，就没传了

[2019-08-02 11:33] #97 closed

[2019-08-05 09:11] lijunyong opened #102 "部署admin报数据库连接出错"
数据库连接都正常的

![image](https://user-images.githubusercontent.com/14291793/62453028-0a7d1580-b7a4-11e9-9280-8b0c0e3bdd0b.png)

[code]

[2019-08-05 09:20] #102 closed

[2019-08-05 09:26] lijunyong opened #103 "admin启动报错"
[code]

[2019-08-05 10:03] yu199195 commented on #103
使用我提供的包》？

[2019-08-06 01:13] lijunyong commented on #103
直接clone下来的代码

[2019-08-06 02:56] yu199195 commented on #103
这明显是少包，能否自己去解决下你的maven情况？

[2019-08-06 07:40] lijunyong commented on #103
![image](https://user-images.githubusercontent.com/14291793/62520541-64dbac00-b860-11e9-9829-3c103ee32eb4.png)
我clone下来的代码，没报少包的错误

[2019-08-06 08:58] yu199195 commented on #103
install 以后，看下admin 源码下，有没生成实现类，设置jdk1.8

[2019-08-08 07:40] #103 closed

[2019-08-10 03:21] Wang-Ray commented on #30
规则里面的重试次数不能为空，试下吧

[2019-08-19 09:40] hujunzhong commented on #69
好的，目前我们是自己加了个plugin处理的，谢谢

[2019-08-19 09:40] #69 closed

[2019-08-19 09:41] yu199195 commented on #69
可以提供你们的pr，上来看看，使用者，请登记

[2019-08-23 06:48] haotian2015 opened #104 "生产开发，基于哪个版本号比较好"

[2019-08-23 08:26] liyong1028826685 opened #105 "有整合nacos"

[2019-08-23 08:26] #105 closed

[2019-08-23 08:51] yu199195 commented on #105
下一个版本把

[2019-08-23 08:51] yu199195 commented on #104
基于最新的master分支就行

[2019-08-28 07:22] luoxihong opened #107 "socket能支持心跳检测吗&socket发送消息时做认证处理"
hi,各位大佬，我使用soul做网关，使用socket时，有两个问题想请教下
 1、app通过soul连接后端socketServer，能否像netty一样做到多久没读写消息，自动断开连接？
 2、app建立连接后，向后端服务发送消息时，如果权限认证不通过时，怎么返回错误消息？

![photo_2019-08-28_15-17-04](https://user-images.githubusercontent.com/30924504/63834040-f09bb080-c9a6-11e9-8460-f15fae371b2c.jpg)

针对问题2，我尝试过使用leftWebSocketSession.send(Flux.just(leftWebSocketSession.textMessage("error"))).block()来发送，app能收到消息，但是soul会报错，之后连接会

[2019-09-02 12:03] chengdongwei commented on #69
你好。现在也遇到同样的问题一直返回200。而且redirect参数丢失比如三个参数只有一个。

[2019-09-03 09:14] ttiaolong commented on #34
限流插件里面：速率和容量代表什么意思？

[2019-09-04 01:55] ttiaolong commented on #21
我是一个新手，参数这些真的不是很详细，希望每个插件尽量贴一个配置例子+调试日志的截屏，这样容易看懂，新手也容易上手

[2019-09-06 06:05] #91 closed

[2019-09-06 06:06] #79 closed

[2019-09-08 04:22] zhisheng17 commented on #71
微信群需要加 @yu199195 微信好友，然后拉你进微信群，可以先加 QQ 群

![](https://camo.githubusercontent.com/4e1586393c969a0e64c6d91a524535d9ddb64c5d/68747470733a2f2f79753139393139352e6769746875622e696f2f696d616765732f736f756c2d71712e706e67)

[2019-09-08 04:22] #71 closed

[2019-09-08 04:25] #19 closed

[2019-09-08 04:28] zhisheng17 commented on #73
感谢 @klboke 的分享

[2019-09-08 04:28] #73 closed

[2019-09-12 05:59] #107 closed

[2019-09-19 01:33] luolf opened #108 "dubbo这类的rpc中间件版本问题"
如果在同一个生产环境内，dubbo服务出现不止一个版本。且客户端部分不兼容。这种情况下网关是否有考虑过？

[2019-09-19 09:57] yu199195 commented on #108
dubbo可以自己指定版本号

[2019-09-21 06:24] timGRK commented on #7
是国内哪个大厂部署过啊

[2019-10-09 03:05] owen200008 opened #109 "是否考虑SPI化，"
整体SPI化
1. 代码架构化，业务由接入方实现
2. 交互协议SPI化，由具体业务层（公司）实现自己的交互协议接入，比如错误返回，每个公司已经存在的协议不可能因为要接入网关而修改
3. 前置过滤器的SPI化，基于业务编排过滤器（这部分不需要接入admin，基于配置加载即可）
4. plugin的SPI化，减少写代码出错的概率，尽量一个插件只使用自己模块的代码

[2019-10-09 03:17] owen200008 commented on #109
使用类似dubbo的模式
1. 按需加载
2. 代码模块化

[2019-10-09 08:15] yu199195 commented on #109
有考虑，你有什么好的代码可以pr上来，我们一起来看看

[2019-10-16 11:58] Wang-Ray opened #110 "dubbo泛化调用导致报文冗长"
如果是dubbo协议转发，由于泛化调用需要，导致报文过于复杂（需要接口和参数等类型信息），好像dubbo2.7已经支持元数据了，不知道是否可以解决这个问题？例如：
header：
[code]
body：
[code]
body里面的interfaceName、method和paramClass等属于dubbo接口的元数据，让前端上送，则过于复杂和冗余。

[2019-10-17 13:44] yu199195 commented on #110
下个版本会提供元数据的概念，不需要传这些东西了

[2019-10-18 00:35] Wang-Ray commented on #110
好的，有预计时间吗？

[2019-10-18 14:53] yu199195 commented on #110
在规划3.0.再等一会。后续会有注册中心，和元素的概念。。我们会解决这个问题

[2019-10-19 02:51] lilybj2009 opened #111 "建议：路由配置策略与 负载均衡可参考springcloud zuul来实现"
Http API 网关，最重要的两个核心功能是Http代理转发 与 负载均衡。
看了Soul目前的路由配置实现，比较被动繁琐。
如果微服务架构是基于springcloud + eureka + Soul , 那么Soul的路由功能无法做到服务自动发现。
前端（APP或H5）请求头还需要传递module，对已经上线的springcloud项目从zuul网关迁移到Soul网关非常不友好。
一点建议：路由配置策略与 负载均衡可参考springcloud zuul来实现。
另外：API网关面向外网，一般都重点支持Http协议，可以专一做好Http代理转发这一块。贪多会消化不良。
如果Soul在功能上与Zuul类似，高并场景下QPS与平均响应延迟比Zuul强很多，那么Soul取代Zuul 网关的日子就不远了。
推荐gateway中的模型设计：
![image](https://user-images

[2019-10-19 03:31] yu199195 commented on #111
感谢建议，我们在重新改造，过段时间会重新发布全新的版本

[2019-10-20 05:50] xiaoluozai opened #112 "弱弱问个注入的问题"
大神，找了很久，没找到SoulWebHandler的List<SoulPlugins>参数的在哪里注入，能否指导指导
![image](https://user-images.githubusercontent.com/24823537/67155372-823cf400-f340-11e9-86ec-6c41c5ccf8a8.png)

[2019-10-21 02:37] Wang-Ray commented on #110
期待！！！

[2019-10-21 04:26] yu199195 commented on #112
只是spring的参数注入，在前面有很多个soul 插件的注入，这里在方法上就可以写成一个list

[2019-10-21 15:29] xiaoluozai opened #113 "如何理解插件热插拔机制，新增插件还是得注解 Bean，服务还是得重启啊"
我理解的热插拔，要不通过 SPI 方式加载、要不就是其他方式 load class，但我在Soul里没看到类似的实现，请问大神Soul是如何实现热插拔的（扩展文档看了几遍也看不出端倪）
谢谢！

[2019-10-21 15:42] xiaoluozai commented on #59
群加不了，为什么

[2019-10-22 01:50] yu199195 commented on #113
那你写了java代码不重启？比如dubbo你扩展了他的spi接口，spring实现了别人的接口，不需要重启吗

[2019-10-22 02:31] xiaoluozai commented on #113
未来是否可以将插件用jar形式发布，扩展类加载，进一步实现热加载？

[2019-10-22 03:33] yu199195 commented on #113
3.0 规划了，只需要上次jar包到指定目录就好了

[2019-10-22 06:15] xiaoluozai commented on #113
期待~

[2019-10-23 05:45] Razor0719 opened #114 "Admin启动时不主动更新ZK数据"
admin启动时不会主动更新zk数据，需要在页面上手动同步，是否可以优化

[2019-10-23 08:25] yu199195 commented on #114
下个版本优化。。暂时自己点手动点击一下把

[2019-10-30 02:04] xingguang2013 opened #115 "Slf4j 的日志记录方式问题"
在需要记录 error 异常日志时，Slf4j 还不支持类似
[code]
这种方式,打印出来的日志中无法将 `{}` 转换为异常对象 e。是由于 `LOGGER.error()` 的重载方法主要有 `public void error(String msg, Throwable t);` 和 `public void error(String format, Object arg);` 上面会调用前者，所以会导致异常信息对象不会替换 `{}`。

[2019-10-30 03:56] yu199195 commented on #115
这是个bug。下个版本修护

[2019-11-05 02:53] Ryan12138 opened #116 "rate_limiter可能会造成STW问题"
lua脚本中根据容量cap每次扣减1，标识可容许请求数量减一，然后将剩余数字set进缓存。此时设置的ttl时间为传入时间，导致redis key过期时间重置，但是容许数量减一，等同于速率不变，减少容量。以此循环，待容许数量为0，需等待redis key自动过期后方可使用，相当于拦截所有请求，造成STW。

[2019-11-05 07:04] yu199195 commented on #116
STW是啥。。

[2019-11-05 07:50] Ryan12138 commented on #116
额，stop the world，比喻而已，只是觉得有点像。
假设按接口粒度配置限流，速率为2，容量为5(应该是2s内可处理5个请求的意思吧)。测试调用1s/次，应该是一直不满足限流条件的，但是当前脚本里的写法会导致每次剩余值减一，过期时间不变。最终调用5次以后剩余数为0，过期时间2s，这2s里所有该接口的请求都会被拦截(因为剩余可用请求数一直为0)，待redis key过期后才能放行。

[2019-11-09 04:42] okuc opened #119 "前面页面是用什么技术开发的？"
前面页面是用什么技术开发的？怎么看不到源代码呢？
想添加一些提示，结果找不到源码。

[2019-11-09 07:39] jingb opened #120 "websocket支持需要自己增加插件websocket么？！还是直接配置divide"
（1）需要在plugin表插入一条websocket的数据么？！初始化sql脚本没有
**尝试过插入，但selector和rule的配置界面和divide的不一样，无法设置一些具体的东西**
（2）直接的divide配置selector和rule？具体要怎么配置
我在现在selector的配置是
![image](https://user-images.githubusercontent.com/9337766/68524860-90aa7a00-0306-11ea-86ee-bcac9878ac34.png)
rule的配置和selector差不多  过滤method=/ws

调用网关的指令是
./telsocket -url 'ws://192.168.1.123:9001/?module=websocket&method=/ws&rpcType=websocket'

参考了xia

[2019-11-10 02:12] yu199195 commented on #119
在dromara组织下，soul-dashboard项目

[2019-11-10 02:13] yu199195 commented on #120
不需要加ws://

[2019-11-10 06:03] jingb commented on #120
翻了下代码，找到拼url的地方
把selector http配置的  ws://
改成 ws 就走通了

[2019-11-10 06:03] #120 closed

[2019-11-10 08:45] okuc commented on #119
您好！我在dashboard项目下好像只看到了前端页面的后台请求接口，并没有看到前端具体的每一个页面内容呢？

[2019-11-10 13:15] yu199195 commented on #119
https://github.com/Dromara/soul-dashboard

[2019-11-11 08:42] okuc commented on #119
看到了，非常感谢。

[2019-11-18 03:44] islandforus opened #123 "dubbo插件调用时候一直报错，下载的soul代码是最新的。"
POST: localhost:9001

{
    "interfaceName":"org.dromara.soul.test.dubbo.api.service.DubboTestService",
    "method":"insert",
    "paramClass":"org.dromara.soul.test.dubbo.api.entity.DubboTest",
    "classParams":
        {
            "id":"xxxx",
            "name":"xiaoyu"
        }

}
另外，dubbo插件使用这块的文档应该没有更新了，和代码的测试示例对应不起来。

[2019-11-18 03:47] islandforus commented on #123
调试源码发现： DubboProxyService类的genericInvoker方法获取 GenericService genericService这个对象的时候一直是null，不知道什么原因。

[2019-11-18 04:22] yu199195 commented on #123
一直是null，那就是你的zk没配置对，分组，版本号

[2019-11-18 05:36] islandforus commented on #123
dubbo处理：
应用名： test-dubbo-service
协议：dubbo
注册地址：   zookeeper://127.0.0.1:2181
端口号： 208889

[2019-11-18 05:42] islandforus commented on #123
规则配置：

条件：
method = insert
Hystrix处理：
分组Key：test-dubbo-service
命令Key：insert
分组： group1

Dubbo配置：
版本号： 2.6.0
分组： group1

[2019-11-18 06:14] yu199195 commented on #123
这个问题，建议自己debug下，dubbo的服务引用源码。

[2019-11-27 10:23] wanglaomo opened #124 "waf插件ip获取不到真实ip"
可以考虑用x-forwarded-for等header获取真实ip
`request.getRemoteAddress().getAddress().getHostAddress();`仅作为兜底方案

[2019-11-27 11:03] yu199195 commented on #124
提供下代码上来。。

[2019-11-28 08:22] xtz9681 opened #125 "关于调用的api有登陆校验的问题"
我的一些api需要在header头里加上authorization: Bearer xxxxxx的参数，我该怎么带上去

[2019-11-28 09:55] #125 closed

[2019-11-29 08:24] xtz9681 opened #126 "关于获取到api的返回的json的问题"
请问我可以在哪里获取到ServerWebExchange中返回的response的json呢？

[2019-11-29 08:57] yu199195 commented on #126
你要获取返回的json干嘛

[2019-11-29 09:16] xtz9681 commented on #126
因为要拓展，想根据返回的内容的codeNum和message做到网关对外统一格式输出。。。但不太了解这个类，只能拿到codeNum，不知道怎么获取message

[2019-11-29 10:35] yu199195 commented on #126
网关现在就有统一返回的啊，如果你想自定义返回，等下一个版本

[2019-12-02 07:21] mushanzi1216 commented on #7
同问

[2019-12-02 07:33] klboke commented on #7
各位，我们凯京集团：https://www.keking.com 生产集群跑了大半年了，对soul做了纯粹的业务二开，以及很小的改动，基本没动核心，直接代替了原来的Nginx + lua的模式（这种模式维护麻烦）。线上资源占用很稳定，放心使用吧

[2019-12-04 10:43] zhisheng17 commented on #7
@klboke 优秀

[2019-12-05 07:48] muistar opened #128 "关于设置选择器规则Hystrix处理"
![image](https://user-images.githubusercontent.com/24907627/70214536-9022c900-1776-11ea-87bb-f7abc2c817ca.png)
请问如何设置才能生效，现在不修改任何配置的话，永远都是返回业务异常信息，不会走到网关的熔断里

[2019-12-05 08:49] yu199195 commented on #128
自己理解下熔断的概念先。。。

[2019-12-05 09:08] muistar commented on #128
sorry,已经知道情况了，超时情况下会走到熔断的...

[2019-12-05 09:15] muistar commented on #128
大佬，顺便问下，cloud的注册中心使用nacos时，这边新增了一个SpringCloudNacosConfiguration类似于SpringCloudConfiguration配置，只修改@ConditionalOnProperty(prefix = "spring.cloud.nacos.discovery", name = "server-addr")，注释掉eureka-client jar包就跟cloud-eureka一样使用，路由+限流+熔断什么暂时都没问题，后面支持nacos大概会什么时候，现在这么改内心慌得一比~~

[2019-12-06 07:30] key1012 opened #129 "soul-dashboard开源"
最新的soul-dashboard不开源了吗？

[2019-12-10 11:49] qichangyu opened #130 "applicationStartListener 启动报错，soulHttpConfig 有值，求助"
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'applicationStartListener' defined in class path resource [org/dromara/soul/client/springmvc/configuration/SoulSpringMvcAutoConfiguration.class]: Post-processing of merged bean definition failed; nested exception is java.lang.NoClassDefFoundError: org/springframework/boot/web/context/WebServerInitializedEvent
	a

[2019-12-14 13:50] zhangcj commented on #113
期待

[2019-12-15 14:26] LilithBristol opened #131 "DefaultSignService这个类硬依赖了javafx的组件"
org.dromara.soul.web.plugin.before.DefaultSignService 这个类依赖了javafx.util.Pair

javafx 在jdk11都被移出标准javase了

建议不要硬依赖javafx的东西了 用了个其他发行版的jdk8直接找不到

apache common lang3里好像也有pair

![image](https://user-images.githubusercontent.com/20179864/70864046-65601e00-1f89-11ea-8b53-630819c962ec.png)

[2019-12-16 01:21] yu199195 commented on #131
嗯，

[2019-12-16 01:21] yu199195 commented on #129
开源的

[2019-12-16 01:21] yu199195 commented on #130
可能是你的springboot版本比较低把

[2019-12-16 01:55] yu199195 commented on #68
公司：广东思埠集团
网址：http://www.sibu.cn
地点：中国广州
场景：后台web网关

[2019-12-16 01:59] #35 closed

[2019-12-17 07:29] AngryApe opened #132 "服务隔离是否有考虑支持Sentinel？"
@ihenjoy 我目前在公司也负责网关，现在网关服务隔离同样采用了Hystrix，由于Hystrix采用了线程池的方式隔离应用，生产环境有很多应用，每个网关服务器上都有2000+线程。考虑到网关是性能型应用，这种方式太过于笨重，相比之下，Sentinel采用信号量（线程计数器）隔离的方式就轻了很多，不知道是否有这方面考虑？

[2019-12-17 07:31] yu199195 commented on #132
Sentinel 太重太重，对网关来说，不是很适合接入。 Hystrix u也可以使用信号量。。。

[2019-12-25 03:42] skay0424 commented on #68
公司：个人
网址：无
地点：中国深圳
场景：个人学习

[2019-12-25 03:43] skay0424 commented on #68
公司：/
网址：/
地点：中国深圳
联系方式：wisdomfather@yeah.net
场景：个人学习

[2019-12-25 03:46] Licoy commented on #68
公司：湖北奥诺道一农业科技有限公司
网址：-
地点：中国武汉
联系方式：support@aonuody.com
场景：游戏资料数据API

[2019-12-25 03:55] jiangxinlingdu commented on #68
公司：彩贝壳
网址：https://www.caibeike.com/
地点：中国上海
联系方式：
场景：后台 web 网关

[2019-12-25 03:59] hjstengfei commented on #68
公司：/
网址：/
地点：中国杭州
联系方式：17tengfei@163.com
场景：个人学习

[2019-12-25 05:44] xiongkaijun commented on #68
公司：武汉颂大教育科技股份有限公司
网址：http://www.whsundata.com
联系方式：305011372@qq.com
场景：http服务api网关

[2019-12-25 09:39] fchxqncj commented on #68
公司：鲁信汇进
网址：/
地点：中国山东
联系方式：fchxqjcj@163.com
场景：http服务api网关

[2019-12-26 07:03] rockkk-c commented on #68
公司：链石（上海）
地点：上海
联系方式：qq:635579368
场景:http服务api网关

[2019-12-26 08:27] adventurer2008 commented on #131
我现在也报这个错误，那怎么解决呢？

[2019-12-26 08:33] adventurer2008 commented on #131
换了jdk就可以了

[2019-12-26 08:33] yu199195 commented on #131
这个在最新的版本已经修护

[2019-12-27 08:44] muistar commented on #68
公司：浙江翱游
地点：中国浙江杭州
联系方式：373367118@qq.com
场景：api网关

[2019-12-28 06:37] zhang145926 commented on #68
公司：北京车易拍
网址：www.cheyipai.com
地点：中国北京
联系方式：814907831@qq.com
场景：api网关

[2020-01-02 07:41] huanhuans opened #134 "视博云"
公司：视博云科技有限公司
网址：http://www.cybercloud.com.cn/
地点：中国北京
联系方式：350589617@qq.com
场景：入口网关
正在调研阶段

[2020-01-02 07:44] walter211 commented on #68
公司：草帽科技
地点：中国上海
联系方式：1048064845@qq.com
场景：多协议服务api网关

[2020-01-02 07:44] huanhuans commented on #68
公司：视博云科技有限公司
网址：http://www.cybercloud.com.cn/
地点：中国北京
联系方式：350589617@qq.com
场景：入口网关
正在调研阶段

[2020-01-02 07:45] gigiiou13 commented on #68
公司：深圳竹云
网址：www.bamboocloud.com
地点：中国广东
联系方式：240327968@qq.com
场景：前端业务网关

[2020-01-02 07:59] java-Learner-lx commented on #68
公司：/
网址：/
地点：中国北京816160297@qq.com
场景：个人学习

[2020-01-02 08:35] yaohuan commented on #68
公司：盒知科技
网址：https://www.hezhiiot.com/
地点：中国深圳
联系方式：hezhiiot@jinjia.com
场景：公司入口网关

[2020-01-03 09:44] Wang-Ray commented on #132
Sentinel还好吧，封装得挺好的，也挺完善。

[2020-01-04 04:08] liable opened #135 "更新元数据失败"
没有把pathDesc传到后端

[2020-01-06 00:03] java-Learner-lx opened #136 "dubbo-初始化引用没有找到提供者"
初始化引用没有找到提供者【MetaData(appName=dubbo, path=/dubbo/insert, rpcType=dubbo, serviceName=org.dromara.soul.test.dubbo.api.service.DubboTestService, methodName=insert, parameterTypes=org.dromara.soul.test.dubbo.api.entity.DubboTest, rpcExt={}, enabled=true)】,ex:No such application config! Please add <dubbo:application name="…" /> to your spring config.
2020-01-03 18:05:19.464 ERROR 4947 — [-work-threads-

[2020-01-06 00:47] java-Learner-lx commented on #123
您现在 dubbo和soul集成通了吗

[2020-01-06 05:15] key1012 commented on #68
公司：/
网址：/
地点：中国西安
联系方式：19646265@qq.com
场景：个人学习

[2020-01-06 05:26] #136 closed

[2020-01-06 06:10] xtz9681 commented on #68
公司：奇点云
网址：http://www.startdt.com/
地点：中国杭州
联系方式：qq:949540820
场景：http服务api网关

[2020-01-06 07:14] java-Learner-lx opened #137 "dubbo版本配置后请求失败"
o.d.soul.web.plugin.AbstractSoulPlugin   :dubbo selector success selector name :/dubbo
o.d.soul.web.plugin.AbstractSoulPlugin   : test-dubbo-service:org.dromara.soul.test.dubbo.api.service.DubboTestService match dubbo rule is name :/dubbo/findByLong
o.d.s.web.plugin.hystrix.DubboCommand    : dubbo rpc have error:No provider available from registry localhost:2181 for service org.dromara.soul.test.d

[2020-01-06 07:17] yu199195 commented on #137
这么明显的错误，自己去解决把

[2020-01-06 07:50] java-Learner-lx commented on #137
确实。头大了。添麻烦了，搞定了

[2020-01-06 07:50] #137 closed

[2020-01-06 08:57] java-Learner-lx opened #138 "dubbo加入版本号，如何新老服务都可以请求"
目前 dubbo加入版本号我看元数据只更新了新版本号。正常uri请求 请求的是新的服务，求指教，如何 编写请求参数，还是admin配置什么

[2020-01-06 09:21] luoxihong commented on #68
公司：万威科技
网址：http://www.startdt.com/
地点：中国深圳
联系方式：qq:459876266
场景：http服务api网关

[2020-01-07 01:58] zkstudio opened #139 "关于Springcloud集成"
您好，SpringCloud集成必须是采用Eurika的才行吗？其他使用Consul或者Nacos的只能使用springMVC的集成方式？谢谢！

[2020-01-07 01:59] yu199195 commented on #139
目前只支持ek做为springcloud的注册中心，

[2020-01-07 05:26] java-Learner-lx opened #140 "soul+dubbo如何灰度发布"
大佬，soul+dubbo如何灰度发布，能提醒一下吗 万分感谢了

[2020-01-07 05:58] Lionxiawx commented on #68
公司：物易云通
网址：
地点：湖北武汉
联系方式：qq:65392377
场景：对外的app网关，通过http调内部dubbo服务

[2020-01-08 03:40] yu199195 opened #141 "soul 将在下一个版本支持nacos作为springcloud以及dubbo的注册中心。"
@huangxfchn

[2020-01-08 03:42] yu199195 opened #142 "soul对dubbo接口，支持多种参数解析"
@Xiaobaxi

[2020-01-08 03:46] luoyanjun0000 opened #143 "外部容器"
由于公司架构原因，怎么把soul部署到外部tomcat

[2020-01-08 07:20] yu199195 commented on #143
soul-web使用的是springboot的内置的webflux，soul-admin使用内置的tomcat，你可以改造后者

[2020-01-08 07:38] luoyanjun0000 commented on #143
嗯，
soul-web，webflux也可以改造为是使用servlet3.1,然后部署到外部tomcat吧

谢谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "流浪诗人"<notifications@github.com&gt;;
发送时间: 2020年1月8日(星期三) 下午3:20
收件人: "Dromara/soul"<soul@noreply.github.com&gt;;
抄送: "Tuple"<331345834@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [Dromara/soul] 外部容器 (#143)

soul-web使用的是springboot的内置的webflux，soul-admin使用内置的tomcat，你可以

[2020-01-08 12:43] xixincan opened #144 "创建selectorCondition问题"
使用http自动注册时，默认的创建选择器的选择器条件：
           SelectorConditionDTO selectorConditionDTO = new SelectorConditionDTO();
            selectorConditionDTO.setParamType(ParamTypeEnum.URI.getName());
            selectorConditionDTO.setParamName("/");
            selectorConditionDTO.setOperator(OperatorEnum.MATCH.getAlias());
            selectorConditionDTO.setParamValue(contextPath);
是设置uri match方式，但是paramV

[2020-01-09 01:46] yu199195 commented on #144
这可能是个bug。。

[2020-01-09 01:52] xixincan commented on #144
另外我还发现，在创建选择器时主机明层localhost还拼写错了。。。233333
            DivideUpstream divideUpstream = new DivideUpstream();
            divideUpstream.setUpstreamHost("localohost");
            divideUpstream.setProtocol("http://");
            divideUpstream.setUpstreamUrl(uri);

[2020-01-09 01:53] yu199195 commented on #144
你可以提供一个pr上来

[2020-01-09 03:16] #144 closed

[2020-01-09 11:27] walter211 commented on #31
客户端是websocket soul集群可以自动实现长连接迁移吗

[2020-01-09 14:13] yu199195 commented on #31
可以的，soul可以代理websocket

[2020-01-13 08:26] ihenjoy commented on #132
现在 soul 配置上也是 基于信号量的

[2020-01-13 11:04] zkstudio commented on #141
什么时候支持consul啊？

[2020-01-13 13:45] yu199195 commented on #141
下个版本

[2020-01-16 03:42] yu199195 commented on #135
下个版本修护

[2020-01-16 03:42] #134 closed

[2020-01-17 02:36] java-Learner-lx commented on #136
![Uploading image.png…]()

[2020-01-17 02:39] java-Learner-lx commented on #136
![1D95D13E54076E7E412B3BC170A4512F](https://user-images.githubusercontent.com/59433770/72579951-8ebbf300-3915-11ea-8e13-e47dbadcd215.jpg)

[2020-01-17 02:41] java-Learner-lx commented on #136
dubbo插件配置
{"register":"zookeeper://localhost:2181"}   or {"register":"nacos://localhost:8848"}

[2020-01-30 03:07] dsyuanqiang opened #146 "能提供一个没有压缩的index.9854f570.js文件吗？谢谢！"

[2020-02-04 10:46] zhaoyfei opened #147 "dubbo用户请求返回错误信息"
按照步骤配置好项目，测试接口返回错误信息：
{
  "code": -100,
  "message": "您的参数错误,请检查相关文档!",
  "data": null
}
能否给一个具体的传递参数示例

[2020-02-07 02:39] mahe09 opened #148 "我要在自定义插件里在request 里面放一些值传给后端的服务怎么做呀"
@Override
    public Mono<Void> execute(ServerWebExchange exchange, SoulPluginChain chain) {
        System.out.println("TokenValidPlugin execute");
        String token = exchange.getRequest().getQueryParams().getFirst("token");
        if (token == null){
            Object error = SoulResultWarp.error(-301, "失效", null);
            return SoulResultUtils.result(exchange, error);
        }

[2020-02-07 04:16] wwjjkk opened #149 "sign插件无法匹配restful风格的url"
使用版本2.1.2
参考文档http用户接入方式，未使用sign插件时能正常通过网关进行访问。启用sign插件后，提示认证未配置路径获取未配置。跟踪源码后发现DefaultSignService 110行是通过anyMatch进行url判断的。而restful类型的url地址注册时url路径中包含**字符串无法通过匹配判断

[2020-02-07 05:15] yu199195 commented on #148
通过header传递到后端就行了

[2020-02-07 05:16] yu199195 commented on #149
这种是通过like来进行匹配

[2020-02-07 09:27] wwjjkk commented on #149
意思是需要自己手动在插件列表中添加sign的选择器，然后条件里选择like？

[2020-02-07 09:51] bigbug-dachong opened #150 "Hystrix 修改admin-rule配置不生效"
1、修改admin-rule规则，Hystrix：超时时间
2、bootstrap服务缓存同步，数值正确
3、调用divide转发，超时时间配置不生效。

有没有人遇到过类似的问题。

版本：2.0时期的某个分支

[2020-02-07 10:32] klboke commented on #150
可以参考下这个pr，可能是同一个问题：https://github.com/Dromara/soul/pull/96

[2020-02-14 07:23] dcy421 opened #151 "soul和spring cloud auth2整合问题"

[2020-02-14 07:29] dcy421 commented on #151
已成功注册了
![image](https://user-images.githubusercontent.com/20309960/74510161-1c532880-4f3e-11ea-856d-4b6294ed3dc5.png)
我的参数
![image](https://user-images.githubusercontent.com/20309960/74510238-53c1d500-4f3e-11ea-8ff8-63fcd89c10a4.png)

到soul-bootstarp网关中所有的参数都存在
![image](https://user-images.githubusercontent.com/20309960/74510325-7eac2900-4f3e-11ea-92f5-d3e6e0fbf5b2.png)

![image](https://user-imag

[2020-02-14 07:30] dcy421 commented on #151
不走网关所有的参数都能得到
![image](https://user-images.githubusercontent.com/20309960/74510463-cfbc1d00-4f3e-11ea-8f0f-c2c347df08e7.png)
![image](https://user-images.githubusercontent.com/20309960/74510484-df3b6600-4f3e-11ea-8e1c-9ef6b8cdc5ac.png)

[2020-02-15 03:01] mahe09 opened #152 "自定义plugin，配置选择器和规则之后不生效"
自定义插件 选择器是 uri /  match  /token/valid/**

我访问 token/test 一样被拦截 什么问题呀

[2020-02-16 09:25] greatqn opened #153 "关于RewritePlugin,只支持全路径吗？"
看了下代码，好像只能一个一个url转向。

不支持批量。比如某个路径下的全转向另一个路径。

[2020-02-17 08:45] fjnalhm commented on #68
公司：好慷在家
网址：https://m.homeking365.com/
地点：福建厦门
联系方式：qq:519620343
场景：开放平台网关，基于soul做深度定制，开发中

[2020-02-19 05:31] alant77 commented on #119
请问我本地启动soul-admin之后，进入管理系统，本地并没有soul-dashboard,是怎么展示前端页面的？

[2020-02-25 02:08] luoyanjun0000 opened #154 "2.1.2无法配置超时时间"
2.1.2版本，超时时间没有配置入口

[2020-02-25 02:13] yu199195 commented on #154
超时是hystrix插件配置的

[2020-02-25 02:15] yu199195 commented on #153
批量你使用模糊匹配

[2020-02-25 02:16] yu199195 commented on #152
手动同步下呗

[2020-02-25 02:20] luoyanjun0000 commented on #154
看代码并不是啊，是divide插件有超时时间，超时和熔断没关系吧，放在divide更合理啊，熔断想用的话可以读divide插件中超时

[2020-02-25 02:21] luoyanjun0000 commented on #154
看代码并不是啊，是divide插件有超时时间，超时和熔断没关系吧，放在divide更合理啊，熔断想用的话可以读divide插件中超时

[2020-02-25 02:25] yu199195 commented on #154
你是说前端没有这个输入框？

[2020-02-25 02:26] luoyanjun0000 commented on #154
嗯，前端也没有输入框，而且超时时间实在divide插件中设置的

[2020-02-25 16:09] luoyanjun0000 opened #155 "DubboPlugin插件调用是同步"
2.1.2DubboPlugin插件调用是同步，会导致线程阻塞吧

[2020-02-25 16:54] zhang145926 commented on #142
多参数问题最近我在解决，已经解决了一部分，有兴趣的找我

[2020-02-25 23:28] yu199195 commented on #142
你可以把代码提交上来 @zhang145926

[2020-02-25 23:29] yu199195 commented on #155
肯定会，异步也会，只有通知机制才不会

[2020-02-26 01:18] luoyanjun0000 commented on #155
异步直接返回句柄，用反应式nio模式等代理服务处理时间，同步需要等待服务处理完吧

[2020-02-26 01:20] luoyanjun0000 commented on #155
reactor不就是需要服务端调用其他服务异步吗，没搞明白

[2020-02-27 02:56] Wang-Ray commented on #155
确实是这样的，同步调用dubbo的话，网关会被阻塞。dubbo支持异步，可以改造dubbo插件支持即可。

[2020-02-27 06:19] Wang-Ray opened #157 "全流量时只读取最后一条规则并且不校验？"
配置选择器为全流量时，发现规则配置没起作用，怎么都是命中。跟了下代码发下AbstractSoulPlugin的execute方法里面有如下一段内容：
[code]
全局流量取最后一个规则，不匹配校验，那只要配置了规则，绝对命中。

[2020-02-28 01:55] Wang-Ray commented on #147
dubbo插件的zookeeper地址配置了吗？

[2020-02-28 05:51] njzg commented on #68
公司：汇通达
网址：htd.cn
地点：南京
联系方式：qq:707459072
场景：开放平台网关，调研中

[2020-02-28 06:53] Wang-Ray commented on #157
@yu199195

[2020-02-28 15:43] HendSame commented on #68
公司：/
网址：/
地点：中国杭州
联系方式：154903157@qq.com
场景：个人学习

[2020-02-29 14:14] yufewang commented on #111
hi，这个特性发布了么？

[2020-03-01 05:11] java-Learner-lx opened #158 "bootstrap中SoulExtConfiguration配置类扩展dubbo多参数不生效"
按文档中去扩展配置类不生效，求大佬帮助一下，bootstrap中SoulExtConfiguration配置类
中加入加载新的配置类：
 @Bean
    public GenericParamResolveService genericParamResolveService(){
        return new MutiGenericParamResolveServiceImpl();
    }
但是还是走默认的default类，求指教

[2020-03-01 13:20] yogaling opened #159 "好像不支持dubbo2.7.5"
Dubbo升级到2.7.5不会再dispatch事件ServiceBeanExportedEvent了，使用的是Dubbo自己定义的事件，ServiceConfigExportedEvent。

[2020-03-01 14:00] yu199195 commented on #159
你指的的是soul-client-dubbo么

[2020-03-01 15:55] xa-yifan opened #160 "sign插件问题"
这个鉴权插件，只要已开启，是全部接口都需要鉴权吗？我测试是这样的，认证管理里面配置资源管理根本不起作用

[2020-03-02 03:35] Wang-Ray commented on #160
目前确实是这样的，只有继承了AbstractSoulPlugin的插件（包括9个：DividePlugin，DubboPlugin，HystrixPlugin，MonitorPlugin，RateLimiterPlugin，RewritePlugin，SpringCloudPlugin，WafPlugin，WebSocketPlugin）才支持选择器和规则配置，否则是全局的。

[2020-03-02 03:53] Wang-Ray commented on #110
新版本提供了元数据管理功能，解决了这个问题，赞一个！

[2020-03-02 03:53] #110 closed

[2020-03-02 14:37] bananaZhang opened #161 "请教个问题？为什么用bootstrap来启动web？"
为什么用soul-bootstrap这个模块来启动soul-web，而不是直接启动soul-web呢？有什么好处？感谢

[2020-03-02 14:45] yu199195 commented on #161
方便扩展，核心的包不用变

[2020-03-04 06:52] yj1760216019 opened #162 "选择器中全流量和自定义流量区别?"
自定义流量和全流量的区别是什么

[2020-03-04 07:54] Wang-Ray commented on #162
全流量不需要配置规则，标示全部通过；
自定义流量必须配置规则，基于规则匹配与否决定是否通过

[2020-03-06 02:58] yj1760216019 commented on #162
MetaData metaData = AbstractLocalCacheManager.findByUri(path);     这个MetaData是如何加载的，业务需要在里边扩展参数

[2020-03-06 03:52] yj1760216019 opened #163 "元数据只能每个接口去配吗?需要配一次规则，还需要配一次元数据?"

[2020-03-06 06:08] zhang145926 commented on #142
由于在源码基础上根据公司架构及规范修改了不少，所以无法提交上去，如有需要单独找我

[2020-03-06 06:11] yu199195 commented on #163
建议看文档

[2020-03-06 09:18] #163 closed

[2020-03-08 08:48] yogaling commented on #159
是的。

[2020-03-13 00:30] wxp732826840 opened #164 "2.1.2 http 用户接入如何不配置 zookeeper时系统在启动时会报错，要求配置zookeeper"
错误日志
springMvc register must config context-path and zookeeperUrl....
既然已经支持websocket了 为什么还要强制zookeeper？

还有在http 用户接入时文档中有这么一句话
"到这里对于 springMvc 项目 还不是最佳的接入方式，因为我们还没有接入ip与端口. 如果是以上的话，还需要在soul-admin 中的divide插件中找到你对应的路由，然后手动填写地址。"
最佳方式 就是 还要单独引入一个zookeeper吗？
我看在文档总有一个 “自定义解析ip与host“  为什么不用这个  非要引入zookeeper呢？

[2020-03-13 02:24] yu199195 commented on #164
这个意思是你服务的ip+端口需要自动注册，服务停机的时候，自动下线，

[2020-03-13 02:27] yu199195 commented on #164
没有强制你，如果你不是使用zookeeper注册，请使用-Dsoul.register=false

[2020-03-16 00:44] Wang-Ray commented on #155
#166 ，尝试将dubbo从同步修改为异步调用了

[2020-03-16 01:03] wxp732826840 commented on #164
这个地方不借助第三方工具自动注册是应该的
自动下线可以使用心跳机制，也不需要借助zookeeper这样的机制啊

咱2.1有一个很大的改进就是提供了摆脱对第三方工具的严重依赖，这个地方自动注册和下线 要借助zookeeper，那么对于 本身系统没有引入zookeeper的系统，整体上感觉没那么好

只是我个人一点点的意见，

[2020-03-16 01:04] wxp732826840 commented on #164
明白了 谢谢   我再试一下

[2020-03-21 11:06] whiledevil opened #167 "文件上传报错 DataBufferLimitException: Exceeded limit on max bytes to buffer : 262144"
Spring 版本 5.2.4.RELEASE
soul 版本 2.1.2-RELEASE

FileSizeFilter 会自行创建 DataBufferDecoder，不会使用 Spring 创建的 DataBufferDecoder对象，导致spring.codec.max-in-memory-size 设置无法解决该报错问题。
这种情况该如何解决？

[2020-03-23 08:19] yu199195 commented on #167
请在soul里面指定 配置文件里面加行 file.size = 100  单位是mb

[2020-03-23 08:32] whiledevil commented on #167
设置成100没有用，报错上传文件并没有超过默认的10mb，报错地点是 LimitedDataBufferList 不是FileSizeFilter 的文件大小判断。

[2020-03-23 09:12] yu199195 commented on #167
目标接口的的controller写法，不是 File接收吗

[2020-03-23 09:28] whiledevil commented on #167
接口代码如下
    /**
     * 文件上传接口
     */
    @RequestMapping("/upload")
    @SoulClient(path = "/file/upload", desc = "文件上传接口")
    public ResponseMap fileUpload(@RequestParam("file") MultipartFile file) throws BizException {
        return fileService.upload(file);
    }

[2020-03-23 09:30] whiledevil commented on #167
接口代码如下

    @RequestMapping("/upload")
    @SoulClient(path = "/file/upload", desc = "文件上传接口")
    public ResponseMap fileUpload(@RequestParam("file") MultipartFile file, @RequestParam(value = "caseId", required = false) Long caseId) throws IOException, BizException {
        return fileService.upload(file, caseId);
    }

[2020-03-23 09:34] yu199195 commented on #167
那应该没问题的，postMan 测试下，是不是通过body，设置了file上传模式

[2020-03-23 09:48] whiledevil commented on #167
降级 Spring 版本到 5.2.0.RELEASE 就不会有该问题。
5.2.0.RELEASE以上所有版本都会报错。
与下面问题应该是同一个原因，但我无法通过修改 FileSizeFilter 中的 messageReaders，来解决该问题。
[https://github.com/spring-projects/spring-framework/issues/23961](url)

[2020-03-25 08:26] fjnalhm opened #169 "使用aop情况下，dubbo接口无法注册"
DubboServiceBeanPostProcessor在有动态代理情况下，if (bean instanceof ServiceBean) 判断无法进入

[2020-03-25 10:00] jensolzhu opened #170 "关于选择器和规则"
选择器和规则看起来差不多（不知道有什么其他特别用法），建议去掉规则，配来配去挺烦的

[2020-03-25 12:36] zhang145926 opened #171 "如何加入链路追踪"
项目中有链路追踪功能，可以无缝传递到各个层，包括dubbo，但是如何将这个功能添加在网关层

[2020-03-26 01:31] yu199195 commented on #170
选择器，你理解为一个模块应用，而规则则到具体的接口，先去理解理解

[2020-03-26 01:32] yu199195 commented on #171
http 可以通过header'传参，dubbo通过rpc传参数就好

[2020-03-26 03:08] liujian21st opened #172 "UpstreamCacheManager中的UPSTREAM_MAP会莫民奇妙的会丢失数据"
当用soul作为网关与应用服务器连接时，在服务端断点调试时，Netty会监控到底层的Socket断掉，此时
选择器select中的handle会莫名其妙的会丢失数据，导致UpstreamCacheManager中的UPSTREAM_MAP会丢失数据？不知道具体的数据丢失的来源点是在哪？

[2020-03-31 03:05] cxc222 commented on #158
@java-Learner-lx 你修改一下代码
路径：org.dromara.soul.web.configuration.DubboConfiguration
修改：public SoulPlugin dubboPlugin
[code]

[2020-03-31 03:11] java-Learner-lx commented on #158
这还是需要改源码。对吗

[2020-03-31 03:12] java-Learner-lx commented on #158
@cxc222 还是需要改源码 对吗

[2020-03-31 03:14] cxc222 commented on #158
@java-Learner-lx 你看他源码方法，这里dubboPlugin处理是写死的，所以每次都拿到DefaultGenericParamResolveServiceImpl类。

[2020-03-31 03:16] java-Learner-lx commented on #158
@cxc222 好的谢谢，您让我明白了原因 非常感谢，我再熟悉一下

[2020-03-31 03:17] cxc222 commented on #158
@java-Learner-lx @Qualifier("genericParamResolveService") 换成 @Autowired 也是OK的。

[2020-03-31 06:04] tian6318 opened #174 "修改后端管理页面新增菜单，如何操作"
想做二次开发新增功能，发现前端业务无从下手，请问采用的额什么框架，如何开发

[2020-03-31 10:45] yu199195 commented on #158
没看懂你们的讨论

[2020-03-31 10:49] cxc222 commented on #158
他想实现自定义dubbo参数解析，实现了GenericParamResolveService接口，并设置bean，但是并没有生效。

[2020-03-31 10:59] yu199195 commented on #174
这是前端的技术问题，找到前端源代码去研究吧

[2020-03-31 11:12] tian6318 commented on #174
这块能给个提醒，因为线下想加配置菜单，发现，貌似整个页面都是在index.js里渲染，现在不知道权限控制，页面菜单怎么做上去，这边当时开发采用的是什么研发框架，不然二次开发为了统一，需要把整个前端都替换掉。

[2020-03-31 11:14] tian6318 commented on #174
现在问题就是，后端其实文档足够详细了，但是要改后台配置，这些，看了一天，无从下手

[2020-04-02 03:06] springMonton opened #175 "soul对dubbo方法单参数默认构建DefaultGenericParamResolveServiceImpl，不支持基本类型，列表及复杂javabean类型"
如下问题是基于soul-master代码分支发现的：
### 场景一
dubbo单参数，方法参数为Java基本类型，代码如下：
 @Override
    @SoulClient(path = "/findById", desc = "根据用户查询")
    public DubboTest findById(final String id) {
        DubboTest dubboTest = new DubboTest();
        dubboTest.setId(id);
        dubboTest.setName("hhah");
        return dubboTest;
    }

调用网关，http://localhost:9195/dubbo/findById        body设置:{"id":"1"}
response:
{

[2020-04-02 04:10] yu199195 commented on #175
请仔细看文档，目前默认只支持无参数与javabean的参数

[2020-04-02 04:11] #172 closed

[2020-04-02 04:11] #169 closed

[2020-04-02 04:35] springMonton commented on #175
你好，我这边读了最新的soul文档，原文中是这样描述的：

默认支持
默认实现类为: org.dromara.soul.web.plugin.dubbo.DefaultGenericParamResolveServiceImpl。
它只支持单个参数，包括基本类型，和javabean类型。
如果是javabean类型，它会把http body里面的json格式转成 Map类型，再通过泛化进行调用。

所以我理解为支持单参数基本类型。

回归话题，soul作为开源框架，dubbo单参数支持基本类型、基础类型List、Map及javaBean中支持（List<Object> fieldList, Map<Object> fieldMap）属性等，这些要求也是情理之中的。估计很多小伙伴也会有这样的诉求吧！

最近在阅读你的代码时，重点debug dubbo泛化调用这一块的逻辑，所以我这边针对sou

[2020-04-02 09:35] yu199195 commented on #175
可以将你的代码，pr上来，我看看

[2020-04-02 10:09] xautzh commented on #175
同求多参数支持代码

[2020-04-02 10:39] springMonton commented on #175
已经提交pull request了，麻烦你看一下，如有问题，请指正并一起讨论。

[2020-04-02 10:40] springMonton commented on #175
已提交pull request，麻烦你看一下，如有问题请指正并一起讨论，谢谢。

[2020-04-02 10:40] springMonton commented on #175
这几天已经在看了，实现后会同步出来的。

[2020-04-03 04:06] java-Learner-lx commented on #158
@yu199195
dubbo多参数扩展
文档中：把你的类注册成Spring的bean，覆盖默认的实现。
`@Bean
public GenericParamResolveService genericParamResolveService() {
        return new A();
 }`

但是这么做不生效，还是走的默认的实现org.dromara.soul.web.plugin.dubbo.DefaultGenericParamResolveServiceImpl

发现 源码DubboConfiguration中
`@Bean
    public SoulPlugin dubboPlugin(@Qualifier("localCacheManager") final LocalCacheManager localCacheManager) {
        retu

[2020-04-03 04:36] java-Learner-lx commented on #175
@springMonton 扩展，文档有大概介绍

[2020-04-06 10:15] springMonton opened #177 "soul对dubbo接口，多参数实现"
定义多参数实现类MultipleGenericParamResolveServiceImpl，实现GenericParamResolveService接口

目前能支持多参数类型：

List<JavaBean>、Map<String, JavaBean>

[2020-04-06 10:23] springMonton commented on #177
@yu199195 代码已提交pr，如有问题再沟通讨论吧。

[2020-04-07 07:43] yu199195 commented on #177
已经合并了

[2020-04-08 04:44] CCLooMi commented on #177
这个多参数实现方式问题很多啊。太过复杂而且性能和内存消耗大，还做了很多无用功。
1.光是parameterTypes就转换了多次，内存多次copy
2.对于基础类型的转换处理是没有必要的，dubbo泛化调用在传输时没有必要知道参数是什么类型而且最终传输时这些类型信息还会再次丢失，至于需要parameterTypes是为了能够定位到对应的method
附上简洁实现
private Logger log = LoggerFactory.getLogger(getClass());

	@SuppressWarnings("unchecked")
	@Override
	public Pair<String[], Object[]> buildParameter(final String body, final String parameterTypes) {
		ObjectMapper om

[2020-04-08 06:01] springMonton commented on #177
关于你提到的2个问题，我说一下自己的想法：
1.关于parameterTypes转换多次，我的代码中针对parameterType进行基本类型，数组、集合、Map的判断，但有效处理逻辑其实只有一行代码，为什么要判断这么多呢?
首先，我想通过代码让编码者了解，目前这个代码能处理到的场景（能支持的参数类型）。
其次，这个多参数处理的代码，目前能覆盖的用例场景有限（test-dubbo-service已写用例），一些考虑不到的参数类型后期可能需要再处理。

2.关于你提供出来的代码，你可以通过test-dubbo-service用例，验证一下代码的正确性。我本地跑了一下你的代码，很多类型是不支持的。你可以继续优化，然后覆盖用例提供出来。

如你有更好的想法和代码实现，欢迎你提供出来共享。

[2020-04-08 06:52] yu199195 commented on #177
多个和单个是不是可以合并？ 可以合并一个完整版的出来，太复杂的很难支持的，比较没有dubbo的api包，不能通过反射的方式去获取参数列表

[2020-04-09 01:56] CCLooMi commented on #177
经过测试是split方法返回了空字符数组导致的，下面是修复后的代码，全部测试用例都跑过了。
private Logger log = LoggerFactory.getLogger(getClass());

	@SuppressWarnings("unchecked")
	@Override
	public Pair<String[], Object[]> buildParameter(final String body, final String parameterTypes) {
		ObjectMapper om = new ObjectMapper();
		String[] ptypes = splitParameterTypes(parameterTypes);
		Object[] params = new Object[ptypes.length];
		if (ptyp

[2020-04-10 05:48] cxc222 opened #181 "自定义响应 SoulResult.succes() 底层没有使用？"
SoulResult接口中的
`T success(int code, String message, Object object); `
这个方法就算实现了，底层也没有用到？

[2020-04-10 14:33] whbq opened #182 "soul对于zk是强依赖吗？不用可以吗"
soul对于zk是强依赖吗？不用可以吗

[2020-04-11 02:19] yu199195 commented on #182
你从哪里得知是强依赖zk？

[2020-04-11 08:32] robin977 commented on #68
公司：/
网址：/
地点：中国长沙
联系方式：344988715@qq.com
场景：个人学习

[2020-04-11 10:56] whbq commented on #182
额，抱歉哈，我看了下，我之前在一个fork的版本看到的。

在 2020-04-11 10:19:39，"xiaoyu" <notifications@github.com> 写道：

你从哪里得知是强依赖zk？

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-04-13 03:04] robin977 opened #183 "soul配置为nacos时，服务元数据暴露不完整"
soul配置为nacos时，当客户端采用@SoulClient将controller暴露出去时，souladmin接收到元数据时
，没有完整的同步到nacos的配置中心
NacosDataChangedListener的onMetaDataChanged方法中
	case REFRESH:
		case MYSELF:
			Set<String> set=new HashSet<>(META_DATA.keySet());
			changed.stream().forEach(meta->set.remove(meta.getPath()));
			META_DATA.keySet().removeAll(set);
                         break;
中应该改为
changed.stream().forEach(meta->{
				set.remov

[2020-04-13 03:12] yu199195 commented on #183
@CCLooMi

[2020-04-13 05:56] zlx666999 opened #184 "spring cloud 访问网关-106"
{"code":-106,"message":"未能找到合适的调用url,请检查你的配置!","data":null}    麻烦问下，这个spring  cloud有其他配置么？

[2020-04-13 06:48] yu199195 commented on #184
请仔细看看文档

[2020-04-13 06:52] robin977 commented on #183
没看懂这是什么意思

[2020-04-13 06:55] robin977 opened #185 "soul配置为nacos，服务下线时，soul admins未感知"
soul admins配置为nacos，当某个服务下线时，zk注册中心的soul.regsitrer目录就会删除的相应的ip记录
但是soul admins的upstreamCacheManager缓存 并未感知到某个节点已经下线
当调用时，有可能还是调用到不可用的服务

[2020-04-13 07:57] springMonton commented on #160
@yu199195 soul对鉴权插件支持，当初设计目标是？？？
目前代码中实现：
1.对于sign插件，选择器和规则，代码中目前是不支持的。
2.只要开启鉴权插件，请求都会进行verify校验，一些不需要鉴权的请求也会被拦截掉。（代码中校验appKey、sign、timestamp不能为空）
3.代码中是否应该支持，对需要鉴权的请求进行拦截校验，不需要的请求直接跳出。不然这种全局的插件意义不大。

[2020-04-13 08:18] yu199195 commented on #185
soul admin 并没有什么upstreamCacheManager 之类的东西

[2020-04-13 08:18] yu199195 commented on #185
soul 和nacos没有任何关系，你使用下其他的同步策略？

[2020-04-13 08:22] yu199195 commented on #160
自己扩展下SignService 不就好了吗？  @springMonton

[2020-04-13 09:21] robin977 commented on #185
zookeeper同步策略是可以

[2020-04-13 09:25] robin977 commented on #185
我的意思，可不可以做到像alibaba springcloud实现EnableDiscoveryClient一样，把当前的应用soul.http.appName注册到nacos

[2020-04-13 12:05] yu199195 commented on #185
http的ip端口注册，并没有去支持naocs，

[2020-04-15 14:49] zlx666999 commented on #184
看了，用eureka，该配置的也配置了，依然是这个错，而且  String pluginName = named();
        final PluginData pluginData = localCacheManager.findPluginByName(pluginName);  这个地方总是没有springcloud

[2020-04-16 01:44] yu199195 commented on #184
看下数据库里面插件名有springcloud吗，我记得是springCloud

[2020-04-16 01:47] zlx666999 commented on #184
有，也开启了   但是AbstractSoulPlugin>execute> final PluginData pluginData = localCacheManager.findPluginByName(pluginName);  这个方法里获取不到spring cloud

[2020-04-16 01:55] zlx666999 commented on #184
而且 AbstractSoulPlugin>execute>  String pluginName = named();  这个里面只有 waf  rate_limiter  rewrite  hystrix  ,数据库里面开启的是divide dubbo  springCloud  hystrix   。WebClientPlugin>execute>String urlPath = exchange.getAttribute(Constants.HTTP_URL);  这个urlpath在spring cloud 的时候每次是空，所以总是导致-106 。所以总是找不到问题到底出在哪里，该配置的也都配置了，也同步了，但是urlPath依然是这个地方为null

[2020-04-16 09:13] CCLooMi commented on #183
@robin977 这个问题在上周已经修复了呢

[2020-04-16 10:19] yu199195 commented on #184
哪个分支的代码

[2020-04-16 10:28] zlx666999 commented on #184
master 2.1.2都试过

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: xiaoyu <notifications@github.com&gt;
发送时间: 2020年4月16日 18:20
收件人: Dromara/soul <soul@noreply.github.com&gt;
抄送: zlx666999 <867333171@qq.com&gt;, Author <author@noreply.github.com&gt;
主题: 回复：[Dromara/soul] spring cloud  访问网关-106 (#184)

哪个分支的代码

—
You are receiving this because you authored the thread.
Reply to this email d

[2020-04-17 01:13] CCLooMi commented on #185
@robin977 让nacos自动感知到服务下线可以做到。问题是，如果你有多个相同服务做负载均衡呢？当一个节点下线导致配置被清空就不好了，所以还需要判断同一个服务的所有client是否下线。但是这个逻辑好像已经违背了配置中心的初衷了。配置中心的数据居然被这些client控制！

[2020-04-17 01:39] CCLooMi commented on #185
@robin977 但是dubbo的元数据配置并不关心有多少个client，而且这些配置也不应该由这些client控制。如果这些配置由client来控制，那还存数据库干吗，还提供编辑操作干嘛呢？

[2020-04-21 06:34] qixiaobo opened #186 "registryConfig不支持group配置"
[code]
需要支持group配置【对应到zk的rootpath】

[2020-04-21 09:23] readazusa opened #187 "官网不能访问了"
官网不能访问了，是不是服务器到期了

[2020-04-21 10:07] #187 closed

[2020-04-21 10:47] yu199195 commented on #186
需要怎么改呢？

[2020-04-22 01:21] qixiaobo commented on #186
我考虑一个pr吧

[2020-04-23 06:22] chyhub opened #188 "dubbo用户请求，body获取不到"
dubbo用户请求，获取不到请求参数

[2020-04-23 07:31] #188 closed

[2020-04-24 05:11] #186 closed

[2020-04-24 07:08] huc003 opened #191 "请求网关参数错误"
{
    "code": -100,
    "message": "您的参数错误,请检查相关文档!",
    "data": null
}
![image](https://user-images.githubusercontent.com/22443050/80184540-5c6d1080-863d-11ea-840d-b6165bece316.png)

[2020-04-24 09:22] huc003 commented on #68
公司：杭州网新
网址：
地点：中国杭州
联系方式：459382234@qq.com
场景：api网关

[2020-04-24 10:19] yu199195 commented on #191
看最新文档，不是这么调用的

[2020-04-27 01:18] lirl001 commented on #68
公司：西安中软国际
网址：
地点：中国西安
联系方式：544549507@qq.com
场景：api网关

[2020-04-27 03:24] #177 closed

[2020-04-29 03:31] jackalyuan commented on #184
SpringCloudConfiguration  这个配置类好像没有起作用，导致SpringCloudPlugin 插件 没有被加载.

2020-04-29 11:07:50.525  INFO 11492 --- [           main] f.a.AutowiredAnnotationBeanPostProcessor : Inconsistent constructor declaration on bean with name 'org.dromara.soul.web.configuration.SoulConfiguration': single autowire-marked constructor flagged as optional - this constructor is effectively required since there is no de

[2020-04-29 04:00] jackalyuan opened #194 "springcloud用户接入插件匹配"
1，org.dromara.soul.web.handler.SoulWebHandler.execute() 进行插件过滤时会对当前加载的所有SoulPlugin进行逐一匹配，
2，如果当前的rpctype=springCloud，在执行org.dromara.soul.web.plugin.http.WebClientPlugin.skip() 返回false ，则会执行org.dromara.soul.web.plugin.http.WebClientPlugin 的execute（）方法。
3 由于String urlPath = exchange.getAttribute(Constants.HTTP_URL); 为空，导致CANNOT_FIND_URL(-106, "未能找到合适的调用url,请检查你的配置!")

[2020-04-30 02:00] yu199195 commented on #194
springCloud插件未配置开启？ 或者配置就不对？

[2020-04-30 03:39] jackalyuan commented on #194
开启了，配置使用的是应用启动时初始化的配置

[2020-04-30 03:42] jackalyuan commented on #194
配置开启了，使用的是WebSocket 方式同步配置，配置信息都有同步，就是没有springcloud 插件的配置。 上报的信息时通过@soulclient 自行上报上去的

[2020-04-30 03:45] yu199195 commented on #194
哪个版本，数据库有没有？

[2020-04-30 03:52] jackalyuan commented on #194
数据库有，2.1.2-RELEASE

[2020-04-30 07:34] yu199195 commented on #194
跑的是demo么

[2020-04-30 07:57] jackalyuan commented on #194
soul-test 里面的 springcloud

[2020-04-30 08:01] yu199195 commented on #194
自己好好研究下吧

[2020-05-03 13:01] Xiaobaxi commented on #142
@zhang145926 方便加您一下微信吗？

[2020-05-08 08:03] java-Learner-lx opened #195 "sign插件开启，restful风格存在问题"
sign插件开启，restful风格的url 如：localhost:9195/http/test/path/123/name

在进行path认证的时候，匹配不上，因为缓存中是/http/test/path/**/name

[2020-05-08 08:17] yu199195 commented on #195
应该是可以匹配的，使用的哪个版本

[2020-05-08 08:29] java-Learner-lx commented on #195
2.1.2版本，但不是最新的代码

[2020-05-08 08:56] turinglv commented on #42
如果想对前端页面做二次开发 如何实施呢？

[2020-05-08 09:42] yu199195 commented on #195
master分支应该可以

[2020-05-08 09:45] java-Learner-lx commented on #195
好，我试试

[2020-05-09 08:47] AngryApe opened #197 "建议：admin模块增加环境支持，多套网关服务对应同一个控制台服务"
企业开发流程往往涉及到多个环境，涉及到配置功能，多个环境之间可以方便的同步配置数据，避免重复配置

[2020-05-09 09:01] yu199195 commented on #197
你有什么好的方案吗，它只是一个springboot的应用

[2020-05-11 03:10] zhang145926 opened #198 "并发高时，频繁出现Connection prematurely closed BEFORE response或者connection observed an error"
在2.1.1 版本中，并发稍微高时，就会频繁出现以下两个错误
Connection prematurely closed BEFORE response
connection observed an error

[2020-05-11 03:20] zhang145926 commented on #198
经过排查，是由于reactor-netty低版本（默认0.8.4）中bug引起，具体原因请查看
https://github.com/reactor/reactor-netty/issues/498
https://blog.csdn.net/songjinbin/article/details/103537581
解决办法
将spring-boot-starter-parent版本升级至2.2.1及以上
但是升级到此版本中还会有以下几个问题：
1.soul-web中NettyHttpClientPlugin类中有冲突，需要改成
![image](https://user-images.githubusercontent.com/19919824/81521069-bf1e1600-9378-11ea-8b02-e818eabc36eb.png)
2.上传文件时提示dataSize最大支持

[2020-05-11 04:12] yu199195 commented on #198
very good。

[2020-05-11 04:58] zhang145926 commented on #198
补充说明：
升级到2.2.1以以上版本，在soul-web中NettyHttpClientPlugin中冲突地方，去掉了以下代码
`nettyOutbound.options(NettyPipeline.SendOptions::flushOnEach)`，
猜测该段代码的作用可能是flush每次请求管道的，但是升级后暂时没有找到替代方法（或许新版默认会flush，无需显式设置），所以直接去掉了，暂时不影响调用
若有人找到替代方式，烦请告知

[2020-05-11 09:08] java-Learner-lx opened #199 "soul+dubbo 单参数有值但是返回0"
1个基本参数 Long
{
"id":123
}
传的参数是 123，但是返回时0，网关调dubbo前都还有123这个值，进入dubbo业务代码入参就是0了，用的是soul网关master最新的代码，测试用的是soul自带的例子

[2020-05-12 06:11] zhang145926 opened #200 "使用divide插件时，较低概率出现HystrixTimeoutException"
按照网上各种大神提供的思路，重新设置了Hystrix的groupKey和commonKey，依然没有解决问题

[2020-05-13 02:08] yu199195 commented on #200
i will follow this

[2020-05-13 06:08] chyhub opened #201 "开启限流后，dubbo隐藏参数传递问题"
在DefaultSignService签名后进行了RpcContext.getContext().setAttachment(Constants.APP_PARAM, param)隐藏参数设置，
但是开启限流后，RateLimiterPlugin 中 return chain.execute(exchange) 是另起了一个线程执行后面的plugin，DubboPlugin发起泛化调用时的线程和签名中设置隐藏参数的线程不是同一个，因此在限流插件之前设置的隐藏参数无法传递到dubbo服务中去

[2020-05-13 06:21] yu199195 commented on #201
这里你可能不需要用到这个东西

[2020-05-13 07:18] chyhub commented on #201
嗯，是不需要用到，但是自定义了个用户的token解析插件，然后传递用户信息，在dubbo服务拿不到，跟踪才发现是这个限流这里的问题，于是就把参数传递移到DubboPlugin中去做了，也算是踩到的坑吧

[2020-05-13 10:55] myc547 commented on #184
@zlx666999 问题解决来了吗

[2020-05-14 05:44] okuc opened #202 "有没有支持grpc的计划？"
有没有支持grpc的计划？

[2020-05-14 07:33] yu199195 commented on #202
也许会吧

[2020-05-15 06:42] AngryApe commented on #197
以我司为例，环境分为4套：开发->预发->线上->日常，配合多版本控制（主要是开发环境会存在多个项目并行的情况），同时服务端通过Spring的多数据源方案实现多环境的配置发布

[2020-05-15 07:40] yu199195 commented on #197
请问下你们的admin后台，可以操作不同环境的服务吗？ 如何切换的？ 不需要部署多个吗？

比如你有一个商品微服务的后台，部署一个？ 然后操作各种环境的吗，

[2020-05-18 02:13] wtlihao opened #203 "soul-admin能感知服务下线吗？"

[2020-05-18 02:22] yu199195 commented on #203
取决于你如何使用

[2020-05-18 02:45] chyhub opened #204 "EOFException异常相关"
请问下这个异常是不是不需要去处理它，每隔90秒断开连接就会报这个

2020-05-18 10:41:42.356 ERROR 5844 --- [0.0-9095-exec-8] o.d.s.a.l.websocket.WebsocketCollector   : websocket collection error:

java.io.EOFException: null
	at org.apache.tomcat.util.net.NioEndpoint$NioSocketWrapper.fillReadBuffer(NioEndpoint.java:1235) ~[tomcat-embed-core-9.0.29.jar:9.0.29]
	at org.apache.tomcat.util.net.NioEndpoint$NioSocketWrapper.read(NioEndpo

[2020-05-18 02:52] yu199195 commented on #204
请问为啥你的websocket会经常断开？

[2020-05-18 03:46] chyhub commented on #204
部署在DICE上面，admin这边每90秒就会断开一次，如果网关没问题，那可能是他们配置的问题

[2020-05-18 04:52] wtlihao commented on #203
就是soul-admin配置了zk，自己项目也配置了zk，但是服务下线的时候，后台还是显示在。

[2020-05-18 05:10] chyhub commented on #204
nginx配置了90秒不通信就断开连接，目前需要加心跳检测来处理这个断开问题

[2020-05-18 05:42] yu199195 commented on #204
可以配置一下nginx的时间限制，或者主动加一下pingpong机制

[2020-05-18 05:43] yu199195 commented on #203
请详细的描述下，不然没人懂你什么意思

[2020-05-18 05:45] wtlihao commented on #203
一般是怎么配置才能让soul-admin后台系统看到服务下线

[2020-05-18 06:11] zuowenmou opened #205 "token"

[2020-05-18 06:11] #205 closed

[2020-05-18 06:15] zuowenmou commented on #201
大佬，我这里也在做token，我看你踩到坑，想咨询下方便加个微信么？18516883665

[2020-05-18 09:44] zuowenmou opened #206 "关于token插件的新增问题"
选择器设置时，应该如何配置流量转发？
是否可以设置：是否有token的选择器的匹配方式条件

[2020-05-18 11:34] yu199195 commented on #206
不明白意思

[2020-05-18 12:08] wtlihao commented on #203
我们在自己的工程中是通过@SoulClient注解放到Controller暴露出去的，启动工程成功之后，然后后台上可以看到有一个网关接口，然后再停掉服务，soul-admin后台还是能看到

[2020-05-18 16:14] yu199195 commented on #203
自己的工程中，配置使用zk注册，soul-admin也配置上zk注册就行了，具体的看文档

[2020-05-19 03:32] wtlihao opened #207 "soul网关转发流量"
假设soul网关有两台服务A和B，现在假设A需要重启，后续一部分流量希望转发到B服务中，然后A中的流量处理完，然后stop，然后重启，请问有什么办法能做到吗？

[2020-05-19 06:11] xiangyang-gao opened #208 "关于duboo泛化，admin后台接口映射如何配置"
*映射

![2](https://user-images.githubusercontent.com/15973635/82291108-f3c64900-99da-11ea-90ac-f51deac97d3a.png)

如图，如果入参是byte[]，应该如何配置

[2020-05-19 06:19] #158 closed

[2020-05-19 09:33] yu199195 commented on #208
看不到图

[2020-05-20 03:45] zuowenmou commented on #208
那我描述下目录到功能

接口映射-->添加数据-->(弹框)接口映射页面-->*映射 这一列该如何配置入参的类型和名字

服务提供者接口例子1：
public void test(long a);
映射配置参数为：java.lang.long      java.lang.long  顺序   key名称

服务提供者接口举例2：
public void test(byte[] bytes);
映射配置参数为：?

[2020-05-20 03:46] zuowenmou commented on #208
您好，不知道这样我是否讲明白

[2020-05-20 04:42] yu199195 commented on #208
那不就是byte类型吗。，没见过使用byte[] 类型的接口

[2020-05-20 06:47] chyhub opened #209 "文件上传问题"
refCnt: 0, decrement: 1 有木有遇到这个问题？

2020-05-20 14:26:14.232  WARN 15607 --- [r-http-kqueue-2] r.netty.http.client.HttpClientConnect    : [id: 0xe2d82fcc, L:/192.168.20.88:55598 - R:192.168.20.88/192.168.20.88:8186] The connection observed an error

io.netty.handler.codec.EncoderException: io.netty.util.IllegalReferenceCountException: refCnt: 0, decrement: 1
	at io.netty.handler.codec.MessageToMess

[2020-05-20 07:53] chyhub commented on #167
大佬，你上传还有问题吗？我遇到个io.netty.util.IllegalReferenceCountException: refCnt: 0, decrement: 1 的问题，你上传没遇到吗

[2020-05-20 08:01] yu199195 commented on #209
请描述的清楚一点，使用的什么版本，是如何上传的

[2020-05-20 08:02] yu199195 commented on #167
已经在master修护

[2020-05-20 10:32] chyhub commented on #209
分支用的master，通过jmeter上传的文件，走soul的http上传就直接报上面的错误，不走soul，直接访问controller可以上传成功

[2020-05-20 10:57] zuowenmou commented on #208
如果再配置页面配置 byte，则不会传递下去

[2020-05-20 11:21] yu199195 commented on #209
请使用postman上传文件看看，我不知道你是怎么调用的

[2020-05-20 11:23] yu199195 commented on #208
看到你的图了，你这个后台不是soul的吧

[2020-05-21 10:02] chyhub opened #210 "POST请求传参问题"
http用户请求，post方式接收不到参数
    @PostMapping("/posttest1")
    @SoulClient(path = "/test/posttest1", desc = "测试post请求入参")
    public String posttest1(String id, String name) {
        return id+","+name;
    }

如果加上RequestParam 就会报错：
Required String parameter 'id' is not present

[2020-05-21 10:09] yu199195 commented on #210
能否看下demo呢？  RequestParam  加上这个，你知道postman是怎么传的吗

[2020-05-21 10:41] chyhub commented on #210
json格式传不过去，id=1&name=test 这样就可以过去

[2020-05-21 10:48] yu199195 commented on #210
json格式难道不是应该用对象接收吗，这些都是基本的常识，有个基本的原则，你先别经过网关去调用，如果是正常的，证明你的调用是正常

[2020-05-21 11:56] #206 closed

[2020-05-22 08:30] key1012 opened #211 "1234"
1234

[2020-05-22 09:18] yu199195 commented on #211
不明白你的意思，请详细描述

[2020-05-22 09:57] key1012 commented on #211
一个选择器下添加了多个http配置(多个节点)，目前soul的做法是根据LoadBalance触发其中一个节点，
现在我的需求是不是触发其中一个，我要全部给所有节点发送，也就是说LoadBalance策略加一个all。

[2020-05-23 02:28] key1012 opened #212 "123"
12345

[2020-05-23 04:16] yu199195 commented on #212
参考soul里面的实现

[2020-05-23 08:51] key1012 commented on #212
麻烦能说一下哪个类里有吗？

[2020-05-24 02:09] key1012 commented on #212
麻烦能说一下哪些类别里有吗？

[2020-05-25 06:53] qiyunfei opened #213 "同一 meta_data的一个selector有多个rule的情况 服务注册admin报错"
[https://github.com/Dromara/soul/blob/master/soul-admin/src/main/java/org/dromara/soul/admin/service/impl/MetaDataServiceImpl.java](url)

` handlerRule`方法
`RuleDO existRule = ruleMapper.findByName(metaDataDTO.getPath());`
如果metaDataDTO.getPath() 这个数据通过后台自己加了多个rule，这里注册的时候会报错

报错的关键信息
`org.mybatis.spring.MyBatisSystemException: nested exception is org.apache.ibatis.exceptions.TooManyResultsExceptio

[2020-05-25 07:29] d1jk opened #214 "报错 413 Request Entity Too Large"
你好，请问一下：可以在哪里设置请求实体的大小？

[2020-05-25 07:35] yu199195 commented on #214
不懂什么意思

[2020-05-25 07:40] d1jk commented on #214
比如，nginx 中： client_max_body_size 具体的大小值，默认为1m; 可调整大小。

不知道这个网关里，是否也有对应的地方，去配置。

具体问题是：
请求参数超长时，报错 413 Request Entity Too Large。

[2020-05-25 08:39] yu199195 commented on #214
没有场景，和错误信息，没办法知道

[2020-05-25 08:41] yu199195 commented on #213
metada_data 在设计里面已经是接口，最小的单位，你啥场景，需要一个metadata有多种选择器？

[2020-05-25 09:32] d1jk commented on #214
![71590398918_ pic_hd](https://user-images.githubusercontent.com/12113165/82799965-72c0f300-9ead-11ea-9e76-eb81be823fb3.jpg)

比如上面这个

[2020-05-25 09:36] qiyunfei commented on #213
大佬，我只是看到selector下可以新增规则，于是乎我加了一个同名rule，同一个selector可以对应多个rule，这个是允许的吧？那同一个selector下就可以建立两个同名的rule（条件可以不一样），那就会存在我说的问题吧？ metadata对应多个selector，也只是 我看形式上是允许 我这么做的，所以 我觉得逻辑上也会有一样的问题

[2020-05-25 09:39] d1jk commented on #214
springboot项目

[2020-05-25 09:55] qiyunfei commented on #213
这里 没有限制 rule 和 selector 可以增加同名的，如果由于某些原因（可能是手动添加的，可能是执行sql添加的，也可能并发了插入了多条（这个我没验证）只是猜测可能有这种可能）产生了同名的rule 或者selector ,是不是就有 我说的问题呢？

[2020-05-25 10:24] yu199195 commented on #214
看不到图，应该是上传文件，图片等等的问题

[2020-05-25 10:26] yu199195 commented on #213
可以新增一个判断，不能容许同名的

[2020-05-25 10:55] qiyunfei commented on #213
那可不可以 搞成支持同名的呢？

[2020-05-25 11:12] yu199195 commented on #213
同名有啥好处？

[2020-05-25 12:14] qiyunfei commented on #213
针对同一个资源，不同的调用方可以有不同的配置，比如超时这种？

[2020-05-25 14:17] d1jk commented on #214
并不是上传，只是参数值过长。

比如：
{{host}}/dict/list?categoryId=101001&codes=12285340344,12285340344,12285340345,12285340346,12285340347,12285340348,12285341,12285342,12286,12286349,12286349355,12286349356,12286349357,12286349358,12286349359,12286349360,12286350,12286350361,12286350362,12286350363,12286351,12286351364,12286351365,12286351366,12286351367,12286351368,12286351369,12286351370,12286352,12286352371,1

[2020-05-25 14:41] qiyunfei opened #215 "dubbo 传基本类型数组参数 问题"
#177
@CCLooMi
测试代码的DubboTestServiceImpl
` @Override
    @SoulClient(path = "/queryByArray", desc = "插入一条数据")
    public String queryByArray(Integer[] ids) {
        return "param array:" + ids;
    }
`
传参数
`[1,2,3]`
结果
`{
    "code": 500,
    "message": "Internal Server Error"
}`
后台报错
`org.apache.dubbo.rpc.service.GenericException: java.lang.ClassCastException: java.lang.Integer cannot be cast to

[2020-05-25 14:42] qiyunfei commented on #215
pr
#216

[2020-05-26 01:34] lyh19940304 opened #217 "集成dubbo的soulClient注解 能否支持请求方式的处理？"
不添加请求方式的属性的话   无法构建restful风格的url...

[2020-05-26 02:08] yu199195 commented on #217
不是很明白你的意思

[2020-05-26 02:50] key1012 commented on #215
你调用dubbo时候  body传值能获取到吗？

[2020-05-26 02:58] key1012 opened #218 "dubbo调用时候body数据为空，导致报错"
dubbo在调用时候，serverRequest.bodyToMono(String.class).switchIfEmpty(Mono.defer(() -> Mono.just(""))) .flatMap(body
body是空，genericParamResolveService.buildParameter(body, metaData.getParameterTypes());
无参数，导致RPC调用不到。

[2020-05-26 02:59] qiyunfei commented on #215
先把你的dubbo的接口发出来看看，然后你用的soul的代码版本是最新版吗？然后dubbo参数解析配置是多参数的？还是没配置？

[2020-05-26 03:03] yu199195 commented on #218
无参数请传 {}

[2020-05-26 03:17] key1012 commented on #218
有参数，传了参数，获取不到。我要传参数

[2020-05-26 03:33] yu199195 commented on #218
仔细看下文档，默认的只支持，json对象，参数是javabean对象，明白吗

[2020-05-26 03:46] key1012 commented on #218
我用的全部都是自带的，然后dubbo调用demo里的dubbo/insert  body参数也是{"id":"1234","name":"XIAO5y"}，文档中提供的，然后DubboBodyWebFilter中body获取不到参数的。

[2020-05-26 04:06] yu199195 commented on #218
are you true？ 这里只是转换成了string字符串，请问你的dubbo接口没有获取到参数吗？

[2020-05-26 04:07] key1012 commented on #218
是的，没有获取到，所以我很纳闷，执行serverRequest.bodyToMono(String.class)的时候，返回的是 MonoOnErrorResume

[2020-05-26 04:09] yu199195 commented on #218
能不能在  if 处打个断点？ 不要问这么无聊的问题

[code]

[2020-05-26 04:11] key1012 commented on #218
打了，如果body是“”，如果吧.switchIfEmpty(Mono.defer(() -> Mono.just(""))去掉，压根不会进入

[2020-05-26 04:13] key1012 commented on #218
打了，body是“”，如果吧.switchIfEmpty(Mono.defer(() -> Mono.just(""))去掉，压根不会进入

[2020-05-26 04:14] yu199195 commented on #218
我猜你连postman都不会用， 也许你是get请求？ body 选的不是json模式

[2020-05-26 04:16] key1012 commented on #218
我不问了，解决问题呢，不是攻击人的。

[2020-05-26 05:55] chyhub commented on #218
请求头带上  application/json;charset=UTF-8

[2020-05-26 06:10] #212 closed

[2020-05-26 06:10] #211 closed

[2020-05-26 06:10] #218 closed

[2020-05-26 07:34] chyhub commented on #194
我也遇到这个问题，soul-bootstrap启动网关，不会加载SpringCloudConfiguration，这样就没有注入SpringCloudPlugin

[2020-05-26 10:24] chyhub opened #219 "SpringCloudPlugin加载不到的问题"
@ConditionalOnClass中的LoadBalancerClient.class找不到，这样就不会实例SpringCloudConfiguration，以及SpringCloudPlugin

@ConditionalOnClass({LoadBalancerClient.class, RibbonAutoConfiguration.class, DispatcherHandler.class})
@AutoConfigureAfter({RibbonAutoConfiguration.class, LocalCacheConfiguration.class})
@ConditionalOnBean(LoadBalancerClient.class)
@EnableDiscoveryClient
@configuration
public class SpringCloudCon

[2020-05-26 11:13] yu199195 commented on #219
请引入相关的包就好了，文档不是写的很清楚吗

[2020-05-27 01:12] chyhub commented on #219
pom文件看错名字了，不好意思

[2020-05-27 01:12] #219 closed

[2020-05-27 01:13] #204 closed

[2020-05-27 01:13] #210 closed

[2020-05-27 03:30] java-Learner-lx opened #220 "soul+dubbo想在网关做报文的加解密"
soul+dubbo想在网关做报文的加解密，求大佬给个建议在网关的哪一层做比较好

[2020-05-27 03:44] yu199195 commented on #220
自定义一些插件呗

[2020-05-27 03:47] java-Learner-lx commented on #220
啊，我想到了，谢谢

[2020-05-27 03:47] #220 closed

[2020-05-27 06:39] shuohao opened #221 "dromara.org 网站打不开"

[2020-05-27 08:01] shuohao opened #222 "接入sentinel限流，但是不支持dubbo泛化调用限流"

[2020-05-27 08:10] #222 closed

[2020-05-27 08:25] java-Learner-lx opened #223 "目前soul的稳定版本是master分支吗？镜像仓库下载下来的是master打包的吗？"

[2020-05-27 08:41] yu199195 commented on #221
？

[2020-05-27 10:10] wtlihao commented on #203
按照文档配置了soul-admin中的zk.register为true，并且配置了zk的地址，同时在自己的工程的配置了zk的地址，可以自动配置了divide，但是还是会有服务下线了，有元数据不会删除的情况

[2020-05-27 10:12] wtlihao commented on #68
公司：杭州六倍体科技有限公司
网址：
地点：杭州
联系方式：505639213@qq.com
场景：API网关

[2020-05-27 10:14] shuohao commented on #221
现在可以了 之前我这儿确实打不开。。

[2020-05-27 11:02] yu199195 commented on #203
元数据并不会删除， 不知道你说的删除，到底是什么没删除？ ip 端口？

[2020-05-28 08:29] yu199195 commented on #223
可以使用master分支或者2.1.2

[2020-05-28 08:47] java-Learner-lx commented on #223
大佬，你的意思是这两个都是稳定版对吧？那么如果我只使用bootstrap工程，从仓库拉下来的是master还是release2. 1. 2分支呢？

[2020-05-28 08:50] yu199195 commented on #223
都可以。。

[2020-05-28 09:01] java-Learner-lx commented on #223
大佬，确实没理解。我就问一下
<parent>
        <artifactId>soul</artifactId>
        <groupId>org.dromara</groupId>
        <version>2.1.2-RELEASE</version>
    </parent>
    <modelVersion>4.0.0</modelVersion>

    <artifactId>soul-spring-boot-starter</artifactId>

    <dependencies>
        <dependency>
            <groupId>org.dromara</groupId>
            <artifactId>soul-web</artifactId>
        </dependency

[2020-05-28 09:02] java-Learner-lx commented on #223
大佬，确实没理解。我就问一下
<parent>
        <artifactId>soul</artifactId>
        <groupId>org.dromara</groupId>
        <version>2.1.2-RELEASE</version>
    </parent>
    <modelVersion>4.0.0</modelVersion>
    <artifactId>soul-spring-boot-starter</artifactId>
    <dependencies>
        <dependency>
            <groupId>org.dromara</groupId>
            <artifactId>soul-web</artifactId>
        </dependency>

[2020-05-28 09:05] java-Learner-lx commented on #223
` <dependencies>
        <dependency>
            <groupId>org.dromara</groupId>
            <artifactId>soul-web</artifactId>
            <version>2.1.2-RELEASE</version>
        </dependency>
    </dependencies>`
   这个引包的是master的代码还是release2. 1. 2的代码。如果是2.1.2的代码。我如何引master的代码（还是只能自己打包了），万分感谢大佬回答

[2020-06-01 03:51] lyh19940304 commented on #217
就是soulClient这个注解 只有url,换句话说  用户的CRUD就需要4个不同的url
没有办法构建 Post增 Delete删 Put改 Get查   同一个url   restful   ？？？

[2020-06-01 04:16] yu199195 commented on #217
增删改查方法签名不一样，元数据也不一样，没办法通过一个url来调用dubbo的服务

[2020-06-01 09:06] zhouyulong123 opened #225 "boot 集成 zk和soul 自动注册ip到网关 自动注册的ip（我项目地址）有时候会消失只能重启项目会再出现"

[2020-06-01 09:08] zhouyulong123 commented on #225
在divide中的选择其列表 修改中的http配置 会消失不见  我有一段时间没动出现的

[2020-06-01 12:12] yu199195 commented on #225
消失不见，是你的服务down 了吧>?

[2020-06-03 02:03] java-Learner-lx opened #226 "想做网关层的加解密"
想做网关层的加解密：
目前做到了 把业务返回体做了加解密，也就是网关的code和message没有加解密，data中的值做了加解密。（方法直接加了两个插件，前置解密，后置加密）
现在想把网关的结构体也加解密处理，求告知在哪一层做。

[2020-06-05 09:40] wpstan commented on #90
同想知道。

[2020-06-08 06:19] java-Learner-lx opened #228 "soul+dubbo入参为{}报错"
soul+dubbo
postman入参{} json格式，dubbo服务无入参，没问题。

postman入参{} json格式，dubbo服务有入参，如：入参自定义对象，里边一个属性name，调用就报错了。

实际业务应该会有这种场景吧 dubbo有入参，但是前端没传。求教大佬如何处理

[2020-06-09 06:15] java-Learner-lx opened #229 "master最新代码，http接入，client引哪个"
master最新代码，soul+http，http项目引哪个client包。我目前引的是
 <groupId>org.dromara</groupId>
            <artifactId>soul-client-springmvc</artifactId>
            <version>2.1.2-RELEASE</version>
但是，重启soul-web之后就报 参数错误，重启soul-web再重启http项目就没问题了。
而且我发现 元数据只有dubbo的信息，没有http的（是不是不正常）
求大佬指教

[2020-06-09 06:40] yu199195 commented on #229
请不要使用master，你使用2.1.2 就好 了

[2020-06-09 07:10] java-Learner-lx commented on #229
2.1.2不支持多参数的。扩展也只能改源码。大佬之前你不是说master也是稳定的吗【哭笑】

[2020-06-10 03:54] java-Learner-lx opened #230 "soul+http，静态文件问题"
soul网关+后端http.
后端返回静态文件，其中css，js等文件如何配置路由，求大佬指教，目前静态文件返回了，但是其中的css,js都报400

[2020-06-11 01:52] Lovnx opened #231 "Soul压测报告"
如题，可以提供一份Soul压测报告，可以与Zuul作为对比压测

[2020-06-11 02:05] yu199195 commented on #231
和zuul不是一个级别的，你可以去进行压测，我提供的并没有任何实质性的帮助，soul网关的延迟在1-2ms

[2020-06-15 02:20] java-Learner-lx commented on #199
入参格式的问题

[2020-06-15 02:20] #199 closed

[2020-06-16 01:00] java-Learner-lx commented on #230
静态文件不要走网关

[2020-06-16 01:00] #230 closed

[2020-06-16 09:33] java-Learner-lx opened #233 "soul接duboo是否支持同时接alibaba2.5.x和apache2.7.x"
soul接duboo是否支持同时接alibaba2.5.x和apache2.7.x

因为新的项目 用的是apache2.7.x，目前想要接一个老项目，老项目的dubbo是alibaba2.5.x，可以同时接吗？如果可以 需要不同的插件还是同意哥dubbo插件就可以？求大佬解答。

顺便再问一下，接dubbo集群，zk怎么配置 谢谢

[2020-06-16 09:55] yu199195 commented on #233
只支持一个

[2020-06-16 09:58] java-Learner-lx commented on #233
大佬的意思是 就算新增dubbo插件 也不能两个都支持是吗

[2020-06-16 10:20] yu199195 commented on #233
自己改造一下，也是支持2种方式并存的

[2020-06-16 14:07] java-Learner-lx commented on #233
我试了一下，好像可以。反正引得不同的client

[2020-06-16 14:58] java-Learner-lx commented on #138
dubbo出现不兼容升级时，可以用版本号过渡，版本号不同的服务相互间不引用.
老的消费端继续消费老的服务端，新的消费端消费新的服务端。
目前soul+dubbo  dubbo的某一个服务端版本号由0.0.1升级到0.0.2 我如何让老的客户端继续请求0.0.1，新的客户端请求0.0.2
求大佬解答

[2020-06-17 03:31] java-Learner-lx opened #234 "soul+dubbo上传和下载文件可以给个示例吗"
soul+dubbo上传和下载文件可以给个示例吗。哪位小伙伴已经做了，也给展示说明一下，谢谢

[2020-06-17 10:56] chyhub opened #235 "2.2.0版本MetricsTrackerFacade空指针"
MetricsTrackerFacade的161行 metricsTrackerManager.stop() 这里报空指针，在monitor是关闭的时候，metricsTrackerManager没有注入，直接调用stop()报空

[2020-06-17 14:24] java-Learner-lx commented on #235
我遇到了。

[2020-06-17 15:14] yu199195 commented on #235
应该少了个判断，但是不影响使用吧

[2020-06-17 15:20] java-Learner-lx commented on #235
还在处理其它问题中，大佬2.2.0的代码看master？还是会拉release

[2020-06-18 01:14] chyhub commented on #235
使用不影响，就是启动的时候会报空指针，然后会断开websocket，之后会重新连接websocket

[2020-06-18 01:17] #235 closed

[2020-06-18 15:14] JiaRG opened #237 "访问根路径时报ArrayIndexOutOfBoundsException"
访问根路径时path值为`/`，切割后`splitList `为空数组
https://github.com/Dromara/soul/blob/3975186d5bccd042b6efcd7781ae7e661f7152c2/soul-plugin/soul-plugin-global/src/main/java/org/dromara/soul/plugin/global/DefaultSoulContextBuilder.java#L90-L92

[2020-06-19 03:35] wtlihao opened #238 "soul.http.admin-url 只能配置一个url，如果Admin是集群模式岂不是有问题"

[2020-06-19 05:23] yu199195 commented on #237
你访问根路径是要干嘛

[2020-06-19 05:24] yu199195 commented on #238
请问，你集群的服务，怎么对外提供服务？ 是不是配置一个域名？

[2020-06-19 05:25] #234 closed

[2020-06-19 05:26] #231 closed

[2020-06-19 09:30] xuhangsong opened #240 "自定义插件admin配置config，源码没有预留使用更新的入口，需要自己修改源码"
希望能提供兼容匹配的友好的方式，不想改源码

//自定义插件配置参数动态更新补充
            Map<String,Object> gson = GsonUtils.getInstance().toObjectMap(pluginData.getConfig());
            CustomSingleton customSingleton = CustomSingleton.getCustomSingletonByName(pluginData.getName());
            if(customSingleton!=null){
                customSingleton.clean();
                //清除原来的参数，防止参数key删除，导致原来的key不到而无法删除
                if

[2020-06-19 10:15] yu199195 commented on #240
啥意思。。

[2020-06-19 13:11] JiaRG commented on #237
没干啥😂

[2020-06-19 13:51] yu199195 commented on #237
你可以修护它吗

[2020-06-20 04:03] #237 closed

[2020-06-20 04:10] JiaRG opened #242 "能否提供3.0的Roadmap？"

[2020-06-22 02:07] yu199195 commented on #242
你要参与吗

[2020-06-22 09:10] xuhangsong commented on #240
没啥，发现新版本修复了这个功能，提供了订阅插件参数接口PluginDataHandler

[2020-06-22 11:08] dlhf opened #243 "执行soul.sql执行失败"
/*Table structure for table `rule_condition` */
CREATE TABLE IF NOT EXISTS `rule_condition` (
  `id` varchar(128) NOT NULL COMMENT '主键id' PRIMARY KEY,
  `rule_id` varchar(128) NOT NULL COMMENT '规则id',
  `param_type` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '参数类型（post  query  uri等）',
  `operator` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '匹配符（=  > <  like match）',
  `pa

[2020-06-22 11:35] yu199195 commented on #243
程序执行还是你手动执行？ 如果是手动，为什么要手动？从哪里得知要手动的

[2020-06-22 14:19] java-Learner-lx commented on #233
2.1.2 开启dubbo插件，1.apache2.7.x 引入client包，将实现注册到网关，可以成功调用；
1存在前提，alibaba2.5.x引入client包，将实现注册到网关，可以成功调用，并且1情况也是正常的。

2.2.0目前好像不行：
我尝试了两种方式---1 修改alibaba插件的插件名（相当于一个自定义插件），启动都无问题，但是applicationConfig和registryConfig总是null，报错（No application config found or it's not a valid config! Please add <dubbo:application name="..." /> to your spring config.）。正在尝试。
2.只开启dubbo插件，apache2.7.x 引入apache-client,alibaba2.5

[2020-06-23 02:26] java-Learner-lx commented on #234
大佬，知道文件不建议走网关，但是我主要是想知道。soul+dubbo 上传文件和下载文件 如何写（前端如何传，dubbo层如何接收）还有导入导出excel

[2020-06-23 02:32] #229 closed

[2020-06-23 02:33] java-Learner-lx commented on #228
dubbo泛化，本该如此

[2020-06-23 02:33] #228 closed

[2020-06-23 02:57] #223 closed

[2020-06-23 08:17] #243 closed

[2020-06-24 19:45] greenpean opened #244 "springcloud用户可以做蓝绿发布配置吗？"
目前springcloud工程（nacos注册中心）已经接入了soul，但在springcloud插件中发现无法做蓝绿发布配置。如果按springboot用户使用divide插件方式配置工程启动后soul-admin会报如下错误，请大佬解惑！

com.google.gson.JsonSyntaxException: java.lang.IllegalStateException: Expected BEGIN_ARRAY but was STRING at line 1 column 1 path $
	at com.google.gson.Gson.fromJson(Gson.java:899) ~[gson-2.8.0.jar:na]
	at com.google.gson.Gson.fromJson(Gson.java:852) ~[gson-2.8.0.jar:na]
	at c

[2020-06-29 06:26] gy09535 opened #245 "soul 如何与 k8s ingress 集成，作为集群对外的网关"

[2020-06-29 06:40] yu199195 commented on #245
只是一个部署的问题，谈不上什么集成

[2020-06-30 02:11] gy09535 commented on #245
嗯..... 我主要想说的是是否可以作为 ingress control ，映射路由规则到 soul ，类似于 kong ingress。作者的意思是否是作为一个服务部署，对外提供服务？

[2020-06-30 02:35] yu199195 commented on #245
都可以，映射路由规则到 soul 这一步得自己开发

[2020-06-30 06:20] gy09535 commented on #245
好的，谢谢解答。

[2020-06-30 06:21] #245 closed

[2020-06-30 14:35] java-Learner-lx opened #246 "2.2.0 手动同步选择器和规则，网关只同步了最后一个选择器规则问题"
2.2.0 手动同步选择器和规则，网关只同步了最后一个选择器：
造成的原因：admin后台syncPluginData方法，当选择器不为空，同步规则列表是EventType应该为UPDATE而不是REFRESH

[2020-06-30 15:08] yu199195 commented on #246
REFRESH 不也是同步所有的吗

[2020-06-30 15:14] java-Learner-lx commented on #246
如果是REFRESH ，在网关会先clear map，所以只保留了最后一个选择器的规则

[2020-07-01 10:04] lwh-0739 opened #248 "sign rewrite插件兼容性"
sign与rewrite似乎不能同时存在，且已rewrite为主
情况一：同时包含sign与rewrite插件
[code]
项目启动插件：
[code]
情况二：只包含sign插件
[code]
项目启动插件：
[code]
情况二：只包含rewrite插件
[code]
[code]
注：admin中sign、rewrite插件都已开启

[2020-07-01 10:04] #246 closed

[2020-07-01 10:07] yu199195 commented on #248
这是一个初始化的bug。。。

[2020-07-01 10:12] lwh-0739 commented on #248
那目前有没有方法可以解决这个问题

[2020-07-01 10:13] yu199195 commented on #248
master分支已经修复，并没有发布而已

[2020-07-01 10:14] lwh-0739 commented on #248
好的，谢了，这个大概什么时间可以发布

[2020-07-02 03:10] #248 closed

[2020-07-02 04:02] lwh-0739 opened #251 "接连重启soul-admin、网关服务，divide插件选择器中设置的http配置会被清空"
divide中选择器：
![image](https://user-images.githubusercontent.com/53554356/86314632-bc45f000-bc5a-11ea-87cf-c88e7e8bf210.png)
先后重启soul-admin、网关服务后：
![image](https://user-images.githubusercontent.com/53554356/86314790-2068b400-bc5b-11ea-8a58-80ccb6d83765.png)

注：单一重启无问题，但只要出现：重启soul-admin -> 重启网关服务，就会重置divide插件选择器中设置的http配置

[2020-07-02 04:36] yu199195 commented on #251
重启网关服务 是啥意思？ 你的http服务？

[2020-07-02 05:24] lwh-0739 commented on #251
就是网关，soul-admin源码中提供的soul-bootstrap

[2020-07-02 05:26] lwh-0739 commented on #251
![image](https://user-images.githubusercontent.com/53554356/86319679-a559ca80-bc67-11ea-8615-cc0ec66512ff.png)

[2020-07-02 05:41] yu199195 commented on #251
重启网关，和http配置并没有关系， 只会和你真实的服务状态有关系

[2020-07-02 06:20] lwh-0739 commented on #251
就是说soul-admin在重启时，会验证divide插件选择器中的http配置，如果对应的服务状态有误，会清掉是吗？
刚才的测试目前是这个样子的。
这个逻辑应该在网关中也有吧。

当时提交问题的情况过程是：
rewrite -> divide -> springcloud
rewrite插件重写URL，然后转入divide，最后交由springcloud插件处理请求；此时divide插件选择器中填入的http配置是网关本身的ip与端口。
有个疑问，单独重启网关时，http配置不会清掉，然后重启soul-admin时，数据也不会清掉，最后在重启网关，数据就清掉了，这是为啥？

[2020-07-02 06:22] yu199195 commented on #251
你是要上天？

[2020-07-02 06:25] yu199195 commented on #251
一个url请求会同时走 divide 插件和springcloud插件？

[2020-07-02 06:43] lwh-0739 commented on #251
不好意思，刚才vps有问题，没连上去。

rewrite重写之后，会执行divide插件，如果此时在rewrite的规则中
![image](https://user-images.githubusercontent.com/53554356/86325282-61b88e00-bc72-11ea-83ad-39d7985678c0.png)

处理写的是springcloud代理的请求，会再再执行springcloud插件。

[2020-07-02 14:14] yu199195 commented on #251
一个请求为什么会走divide插件，又走springcloud插件？ 你能去搞清楚吗

[2020-07-03 02:36] lwh-0739 commented on #251
![搜狗截图20200703101815](https://user-images.githubusercontent.com/53554356/86425401-a34f4480-bd17-11ea-8bd8-70a2cea616f3.png)
正常情况下，使用rewrite重写URL，divide插件之后会将请求直接发送至真实服务处理，但此时填入的的springcloud代理的请求，地址是网关本身的ip与端口，所以发送的重写URL进入网关，会重新进入插件链处理，此时会走springcloud插件。

还有就是，咱是不是有点偏题了，我的问题只是divide插件选择器的http配置会根据真实服务的状态进行判断是否重置。
这个只是偶然发现的，就目前来说，没有业务需要进行该过程。

[2020-07-03 02:41] yu199195 commented on #251
你的问题，我早就已经回答过了，是你说了一些我听不懂的东西

[2020-07-03 02:49] lwh-0739 commented on #251
好的好的，谢了

[2020-07-03 02:49] #251 closed

[2020-07-05 16:00] stevencjh commented on #202
求支持grpc

[2020-07-06 02:43] yu199195 opened #253 "新增outh2插件支持"
网关新增一个outh2插件来执行标准的outh2认证

[2020-07-06 02:45] yu199195 opened #254 "英文文档翻译"
目前只有中文的文档，有英语好的小伙伴可以参与进来，进行翻译。
所有文档在这里：https://gitee.com/shuaiqiyu/website/tree/master/docs/zh-cn/soul

这是官网的文档：https://dromara.org/website/zh-cn/docs/soul/soul.html

翻译后的md文件用 en结尾

*  翻译任务一：
- [x] sou的介绍
- [x] sou团队介绍
- [x] soul数据库设计
- [x] 数据配置流程
- [x] 数据同步原理
- [x] 元数据概念介绍

*  翻译任务二：
- [x] 搭建soul开发环境
- [x] http用户文档
- [x] dubbo用户文档
- [x] springcloud用户文档
- [x] 选择器规则详解
- [x] 数据同步策略

*  翻译任务三：
- [x]

[2020-07-06 02:46] yu199195 opened #255 "Hystrix插件新增支持线程池模式支持"
目前只有信号量的模式支持，需要新增线程池模式，2种方式让用户自己来选择

[2020-07-06 06:19] 241600489 commented on #255
Can i follow this?

[2020-07-06 06:27] yu199195 commented on #255
@241600489   欢迎，你可能需要修改soul-admin （配置来源），与hystrix插件，来完成这个pr，如果有任何问题，可以联系我。

[2020-07-06 07:12] imtiaotiao commented on #251
@yu199195 经使用测试，发现soul-admin中的自动检测任务会定时检查所代理服务节点的状态，当服务节点不可用时，会将节点摘除。
从原理上来讲，这样是说得通的。但存在的问题时，soul-admin会直接修改数据库中   selector表的handle字段，这个字段是运维人员在后台配置进去的，相当于检测程序直接修改了配置。这样导致的结果就是，只能摘除节点，但无法恢复节点。

建议程序另外维护一个字段handle_active ，存储可用节点列表，检测时使用selector的handle字段，检测结果存在到 handle_active 字段，分发给网关。望采纳。

[2020-07-06 07:32] yu199195 commented on #251
@imtiaotiao  我不是很明白你说的是运维人员，所配置的业务服务的ip+端口。  难道你们的http服务没有自动的去接入网关吗？
如果你们是这种固定模式，请在admin 配置文件中 新增 soul.upstream.check: false

[2020-07-06 07:35] java-Learner-lx opened #256 "2.2.0soul的client不兼容springboot1.5.x"
2.2.0soul+dubbo+springboot1.5.3,项目引入
`<dependency>
            <groupId>org.dromara</groupId>
            <artifactId>soul-spring-boot-starter-client-alibaba-dubbo</artifactId>
            <version>2.0.0</version>
        </dependency>`
但是报错
有小伙伴试过吗，求交流，求指导
2.1.2soul的client是没问题的

[2020-07-06 07:45] yu199195 commented on #256
什么错误

[2020-07-06 08:00] java-Learner-lx commented on #256
2020-07-06 15:58:19.337 ERROR 1616 --- [           main] o.s.boot.SpringApplication               : Application startup failed

org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'org.springframework.context.event.internalEventListenerProcessor': Initialization of bean failed; nested exception is java.lang.AbstractMethodError
	at org.springframework.beans.factor

[2020-07-06 08:02] imtiaotiao commented on #251
@yu199195 我理解你说的，如果是springmvc或者springcloud等技术栈的项目，可以通过soul提供的注解实现自动化注册。实际使用中，还会存在其他技术栈的HTTP服务，如Go/Python等。如你所说，类似于nginx固定模式的就只能关闭自动检测了。
看soul的文档中，也提供了 https://dromara.org/zh-cn/docs/soul/dev-client.html  这种针对其他技术栈自定义注册的，这个文档的参数可以更细致些么？需要网关代理的每个接口都需要注册？还是也支持match模式匹配？

[2020-07-06 08:14] 241600489 commented on #255
好的，我这边基于master 最新代码进行修改是吗

[2020-07-06 08:28] yu199195 commented on #256
你能自己解决吗

[2020-07-06 08:32] java-Learner-lx commented on #256
这个正在看（目前粗略定位在包冲突或者版本不兼容），可能有点难度，大佬。有小伙伴要是弄出来了，希望分享出来

[2020-07-06 08:39] yu199195 commented on #255
是的，基于master分支改

[2020-07-06 08:44] shui-hai opened #257 "Did not observe any item or terminal signal within 3000ms in 'peekTerminal' (and no fallback has been configured)这是什么问题？如何解决"
Did not observe any item or terminal signal within 3000ms in 'peekTerminal' (and no fallback has been configured)

[2020-07-06 09:12] yu199195 commented on #256
client代码就那么一点

[2020-07-06 09:15] shui-hai opened #258 "为什么点击同步rate_limiter后就匹配不到divide"
can not match selector data :divide

[2020-07-06 09:43] java-Learner-lx commented on #256
恩，我搂一遍

[2020-07-06 09:45] yu199195 commented on #258
同步按钮有bug，master已经修护

[2020-07-06 10:07] shui-hai commented on #258
ok

[2020-07-07 08:09] #257 closed

[2020-07-07 10:28] java-Learner-lx commented on #256
大佬，我试了一下直接引
`<dependency>
            <groupId>org.dromara</groupId>
            <artifactId>soul-client-alibaba-dubbo</artifactId>
            <version>${project.version}</version>
        </dependency>`

为什么 不注册了呢，求大佬指点一下，我还在看 @yu199195

[2020-07-07 11:41] 241600489 commented on #255
@yu199195 我遇到一个问题： HystrixObservableCommand.Setter 类 不可以设置  HystrixThreadPoolProperties.Setter 属性，因此如果设置成线程池模式会使用hystrix 默认的 线程池配置，当然也可以使用 在配置文件里配置hystrix 线程池属性，但是这样多个comand 会使用同一份配置；还有就是用户在页面上只设置隔离模式，不需要设置 hystrix 的线程池属性吧

[2020-07-07 11:50] yu199195 commented on #255
最好的是页面上有个下拉框选择，可以选择信号量还是线程池，如果是线程池，则填写线程池相关字段，反正都是一个json，

然后，自定义相关的类来进行解析，同步，最后使用

[2020-07-07 12:01] SaberSola commented on #253
具体需求呢,是要做成什么样的,是访问业务客户端的权限,还是用户调用api的权限,这样的话,插件是不是和业务耦合比较大了,就有些类似于登陆接口来获取token的形式了

[2020-07-07 13:23] yu199195 commented on #253
应该只是一个outh2的认证的，客户端的权限， 类似于kong网关的 outh2插件

[2020-07-08 01:53] robin977 opened #259 "soul网关转发post请求有中文乱码"
soul采用webclient转发某个post请求到目标的springmvc [controller上时有中文乱码

[2020-07-08 02:52] xuhangsong opened #260 "WebsocketDataHandler在处理admin的selector、rule同步信息的时候，会清空对应模块的全部map缓存信息,然后存只存当前同步对象的值"
` switch (eventTypeEnum) {
                case REFRESH:
                case MYSELF:
                    pluginDataSubscriber.refreshPluginData();
                    pluginDataList.forEach(pluginDataSubscriber::onSubscribe);
                    break;
                case UPDATE:
                case CREATE:
                    pluginDataList.forEach(pluginDataSubscriber::onSubscribe);

[2020-07-08 02:53] xuhangsong commented on #260
2.2.0版本

[2020-07-08 03:08] xuhangsong commented on #260
感觉应该清空的是当前更新插件对应的selector和rule，而不是整个map清空，根据pluginName进行针对性的clear

[2020-07-08 05:10] yu199195 commented on #260
这是个bug，先不要手动的去点击同步，

[2020-07-08 05:11] yu199195 commented on #259
保证所有的编码格式一样

[2020-07-08 10:50] wyxinlx opened #261 "http长轮询同步数据时网关启动失败"
使用websocket同步数据时，网关正常启动
改用http长轮询时，网关启动失败
soul-admin没做任何配置，只是简单的启动了起来，请问，怎么能正常使用http长轮询方式呢？

org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'springApplicationAdminRegistrar' defined in class path resource [org/springframework/boot/autoconfigure/admin/SpringApplicationAdminJmxAutoConfiguration.class]: Unsatisfied dependency expressed through method '

[2020-07-08 11:01] yaochangbo commented on #256
解决了吗？同问

[2020-07-08 11:31] yu199195 commented on #261
请查看相关文档

[2020-07-09 01:34] java-Learner-lx commented on #256
我在弄着，最近比较忙，你有时间也可以试试

[2020-07-09 01:42] wyxinlx commented on #261
并没有看到关于http长轮询同步数据的详细文档；

[2020-07-09 01:45] wyxinlx commented on #261
并没有看到关于http长轮询同步数据的详细文档；
参考websocket的配置，设置soul.sync.http.url=http://127.0.0.1:9095, 出现如上错误查询 /configs/fetch 接口返回404，抛出异常
或者帮提供下http长轮询文档地址?

[2020-07-09 01:51] wyxinlx commented on #261
好吧，忽略这个问题。在官网文档上没找到，在仓库的文档里搜索了一遍找到了，问题已解决。
ps：官网文档包括代码里的注释似乎是写的数据同步方式默认方式是http长轮询，仓库文档里写的默认方式是websocket。

[2020-07-09 01:51] #261 closed

[2020-07-09 09:40] robin977 commented on #259
我将exchange.getRequest(0.getFromData()取出来后，再放到body中就解决乱码问题了

[2020-07-09 10:01] wyxinlx opened #262 "dubbo String类型输入参数问题"
背景：dubbo提供的服务接口输入参数是String类型
操作方法：参考文档快速入门/user-api/user/get 这一小节，把body中的参数直接设置为 “demo”
问题：传递给dubo的参数是 null，查看源码，DefaultDubboParamResolveService 把body转换成Map<String, Object>类型的数据，结果为null。请问预期就是这样么，还是哪里用法不对？感谢。

[2020-07-09 10:36] yu199195 commented on #262
参考demo，都是通过 json格式来传的

[2020-07-09 10:37] yu199195 commented on #262
默认是通过javabean对象来转换， 请设置成 多参数，传json，请看文档

[2020-07-12 01:39] 241600489 commented on #255
@yu199195 经过这几天调研以及实践，发现需要继承hystrix 的HystrixCommand 来实现支持线程池模式，因为HystrixObservableCommand不支持线程池模式，但是HystrixCommand 对webflux支持并不友好，一般使用在封装阻塞式io

[2020-07-12 07:31] yu199195 commented on #255
应该不会，他应该只是设置上的不同

[2020-07-12 07:38] 241600489 commented on #255
HystrixObservableCommand 官方确实不推荐支持线程池模式 详看：https://github.com/Netflix/Hystrix/issues/1228

[2020-07-13 12:04] tzszhzx opened #266 "请问，dubbo服务是否是自动发现的，包括优雅上下线?"
请问，dubbo服务是否是自动发现的，包括优雅上下线?
还是所有的dubbo服务的地址、ip、服务等依然需要手动添加到网关中？

[2020-07-13 12:06] yu199195 commented on #266
不需要，请仔细了解下dubbo插件是怎么用的，有让你配置ip等服务的信息吗？ 不是只要配置注册中心就好了吗

[2020-07-13 12:07] tzszhzx commented on #266
补充说明，服务应该需要手动注册到网关，并不是所有的dubbo注册中心的服务都需要通过网关暴露出来的。我指的是当某个dubbo应用的某个服务被注册到网关后，网关是否做到了自动感知该应用的dubbo服务的自动上下线。

[2020-07-13 12:09] tzszhzx commented on #266
比如A应用查询依据学生ID查询学生信息的dubbo服务注册到网关后，然后A应用扩容了，此时网关是否能自我感知到并自动负载均衡，还是应用扩容或缩容后，都需要到网关上再操作一次？

[2020-07-13 13:30] yu199195 commented on #266
当然支持自动感知

[2020-07-13 13:37] tzszhzx commented on #266
good!!!

[2020-07-13 16:54] huangxfchn opened #267 "soul-admin集群模式，http同步策略不能及时更新成功"

[2020-07-15 08:32] bomefile commented on #256
https://github.com/bomefile/soul-spring-boot-starter-client-springmvc 试试这个

[2020-07-17 06:20] linchuyao commented on #31
集群之间会通讯吗,我看配置计算都是存到jvm里面不能实现集群互通

[2020-07-18 04:09] qinliang373 opened #269 "20200718日拉下项目启动bootstrap模块报错"
启动bootstrap模块BaseDataCache类removeSelectData方法SELECTOR_MAP为空
Runtime exception during onWebsocketMessage

java.lang.NullPointerException: null
	at org.dromara.soul.plugin.base.cache.BaseDataCache.removeSelectData(BaseDataCache.java:133) ~[classes/:na]
	at java.util.ArrayList.forEach(ArrayList.java:1257) ~[na:1.8.0_221]
	at org.dromara.soul.plugin.base.cache.BaseDataCache.cleanSelectorDataSelf(BaseD

[2020-07-20 02:35] yu199195 commented on #269
已经修护，master分支并不是稳定的

[2020-07-20 05:25] linchuyao opened #270 "前端代码二次开发"
前端源是在index.f5d0df1d.js吗 这个压缩过的如何2次开发

[2020-07-20 08:30] cyf19950411 opened #271 "soul怎么集成swagger"
2.2.0 版本 怎么集成swagger,有集成swagger的教学吗?

[2020-07-20 09:48] yu199195 commented on #271
自己手动在soul网关，使用divide插件，配置swagger 的请求地址，进行路由即可。

[2020-07-21 07:29] lwh-0739 opened #272 "自定义跨域"
默认提供的org.dromara.soul.web.filter.CrossFilter在SoulConfiguration中注册bean，当自定义的cors过滤器注入时，默认的CrossFilter也一直生效。怎么使默认的CrossFilter失效，不起作用。

[2020-07-22 02:12] #272 closed

[2020-07-22 08:27] cyf19950411 opened #274 "Hystrix插件能捕获nginx 503错误吗"
网络拓朴图: 云应用->slb->soul->slb->pod
soul访问slb时,slb下游项目全挂,抛出nginx 503, hystrix没捕获这个503 熔断,现在有办法支持hystrix 能捕获下游nginx抛出来的503吗?

[2020-07-22 12:45] #271 closed

[2020-07-22 15:17] qinliang373 opened #275 "灰度发布"
是否是支持灰度发布功能的开发计划？

[2020-07-24 02:56] zuowenmou commented on #68
公司：闪送
网址：www.ishansong.com
地点：杭州
联系方式：759664617@qq.com
场景：API网关

[2020-07-27 09:12] Sumkor commented on #270
前端项目代码在这里：
https://github.com/Dromara/soul-dashboard

[2020-07-28 10:45] LingCoder opened #277 "添加选择器或规则名称重复后，提示不够友好"
如题，在添加选择器或者规则名称时，如果命名有重复，则提示”系统繁忙,请稍后重试“。
该提示不够友好，也不能清晰传达问题所在。
准备提交一版PR优化一下，立此ISSUE留痕。
至于提示内容，暂定”唯一索引冲突，请重新输入“。
如果作者觉得有必要，也可以修改下。
文字功底一般哈哈

[2020-07-28 11:45] #277 closed

[2020-07-29 10:06] shuohao opened #279 "http转dubbo后面考虑支持GET方式url中kv传参吗"
目前我看代码是通过body传json字符串参然后解析，但是一些场景是前端直接通过GET kv传的

[2020-07-30 02:01] #274 closed

[2020-07-30 03:03] dd01fangming opened #280 "在 url 中传入中文参数报 400"
在 soul-web/src/main/java/org/dromara/soul/web/plugin/http/WebClientPlugin.java 类中，
将 WebClient.RequestBodySpec requestBodySpec = webClient.method(method).uri(urlPath); 改为：
WebClient.RequestBodySpec requestBodySpec = webClient.method(method).uri(URI.create(urlPath));

然后在 url 中传入中文参数，就会直接报 400

[2020-07-30 03:19] LingCoder opened #281 "SoulAdmin更新Sign插件信息问题"
首先说明下，分支：最新master；模块：soul-admin；浏览器：谷歌v83稳定版

1. 在控制台 插件列表-sign 里更新签名插件的选择器名、或规则名称时，页面没有实时回显最新的名称信息，需要手动刷新一次
2. 另外更新后，右侧对应的规则列表会展示所有插件的规则，技术层面表现为，没有提交selectorId参数

![image](https://user-images.githubusercontent.com/34231795/88875893-affe8400-d254-11ea-960f-c054b4a3d930.png)

[2020-07-30 03:34] yu199195 commented on #280
我没明白你表达的意思

[2020-07-30 03:38] LingCoder commented on #281
另外有个小争议：文档中作者给出的name示例基本都是和uri名称匹配的，有引导的作用。这确实直观地显示了的匹配条件
如下图
![{H}IU9M2 KJUWF{4S7DR@MK](https://user-images.githubusercontent.com/34231795/88877812-f81fa580-d258-11ea-9b6c-eacdcd66258c.png)

实际操作中选择器名称是不能重复的，即使你相同的url需要转发和签名，只能改选择器名了。有不通过想法的也可以ISSUE里讨论下

[2020-07-30 06:19] dd01fangming commented on #280
httpPath 是实际请求后端服务的 url，当 webclient 请求后端服务的时候，在 uri 方法的参数列表中传入 URI 的 create 方法创建的 URI 对象，那么发送 get 请求的时候，当 httpPath 中存在带有中文的参数值，这个请求就会报 400。

[2020-08-03 07:52] paintanddraw opened #282 "ERROR 2046 --- [reactor-http-server-epoll-8] reactor.netty.tcp.TcpServer"
what's meaning of the error?
2020-08-03 15:02:43.507 ERROR 2046 --- [reactor-http-server-epoll-8] reactor.netty.tcp.TcpServer              : [id: 0x8496baa1, L:/ip:port - R:/ip:port] onUncaughtException(SimpleConnection{channel=[id: 0x8496baa1, L:/ip:port - R:/ip:port]})

[2020-08-03 11:27] LingCoder opened #283 "最新Master分支，控制台配置http转发后，再配置sign签名校验出错"
插件版本2.2.0，为了给divide转发的url配置sign插件签名校验。需要先生成appKey和appSercet.本人在认证管理添加后，资源路径例表里选不到要签名校验的path路径。
于是我又去元数据管理里手动添加了一条元数据，path和具体规则url一致，rpc类型为http，此时再模拟签名请求，网关日志提示divide选择器和规则都匹配，签名校验选择器和规则也通过。但是结果转发的url丢失了path信息。只有http://ip:port了。最终导致请求失败。
divide插件配置 选择器 `url match  /web/**`  ，选择器负载地址: `http://1270.0.0.1:8888`  规则` uri = /web/demo/list`
sign插件配置 选择器 `url match  /web/**`   规则 `url match  /web/** `
网关地

[2020-08-04 08:24] #208 closed

[2020-08-05 03:14] #131 closed

[2020-08-08 02:56] VirtualPier opened #284 "代码拉取下来，网关端，soul-bootstrap 未能匹配选择器,请检查你的选择器配置 无法正常调用。"
启动 soul-Admin正常
dubbo 关联正常

但是启动网关bootstrap 正常，日志中没有看到像 https://yu199195.github.io/jar/soul-bootstrap .jar 提供的 访问 Admin 获取数据

bootstrap启动日志如下：
[code]
访问 ：http://localhost:9195 返回以下信息
{
"code": -107,
"message": "未能匹配选择器,请检查你的选择器配置！",
"data": null
}

访问dubbo 远程调用服务，无内容，通过调试，得出
"code": -107
"message": "未能匹配选择器,请检查你的选择器配置！"

请问这个是环境问题还是 官方案例问题。
本地环境：JDK1.8_251    maven 3.6.3

通过https://yu199195.github

[2020-08-08 03:23] yu199195 commented on #284
仔细看下文档吧，是怎么访问的，怎么用的

[2020-08-08 18:21] oldratlee opened #285 "project topic typo: api-gaeway -> api-gateway"
![IMG_20200809_021956](https://user-images.githubusercontent.com/1063891/89717232-0010df80-d9e7-11ea-9217-26acac11010a.jpg)

[2020-08-09 02:57] VirtualPier commented on #284
是否拉取的案例代码，直接运行即可？

[2020-08-09 02:58] VirtualPier commented on #284
是否拉取的案例代码，直接运行即可？

[2020-08-09 02:59] VirtualPier commented on #284
因为，我直接拉取下来的代码运行，也没有办法正常调用和同步soul admin中的远程方法

[2020-08-09 04:36] yu199195 commented on #285
ok，thanks

[2020-08-09 04:37] #285 closed

[2020-08-09 04:37] yu199195 commented on #284
拉取整个项目的master分支

[2020-08-09 13:42] VirtualPier commented on #284
是的，这份日志截图就是整个项目的master分支的。使用IDEA 2020.1 + JDK1.8_251+ maven 3.6.3来运行的。

[2020-08-10 03:46] VirtualPier commented on #284
我将master 切到2.1.2分支，可以正常启动和使用。

[2020-08-10 04:10] yu199195 commented on #284
你能看最新的文档吗？

[2020-08-11 07:47] #284 closed

[2020-08-12 11:31] AdonisTang opened #286 "2.2.0版本 monitor插件如何对失败、超时的请求做计数"
monitor 的 http_request_total Metric可以记录请求的总数，但是如果请求过程中超时、异常，是无法记录的。
我现在需要统计请求的总数和成功数，以便计算某个接口的请求成功率。
请问改如何扩展？

[2020-08-14 09:31] Yookoo opened #287 "开放健康检查的URL /actuator/**"
您好，我在文档 《网关过滤 springboot健康检查》一节中，看到通过自定义Filter可以解决健康检查问题，但里面只是直接写死返回Health UP 的json对象， 而我在项目中引用了Springboot的actuator的依赖，如何将actuator对应的 /actuator/** 下的详细信息都暴露出来？
目前我如果访问/actuator下的路径，soul会把它拦截返回 `{code: -107,message: "未能匹配选择器,请检查你的选择器配置！",data: null}`，但是我只是想访问这个路径，而不是需要做转发。请问有什么好的解决方法吗？谢谢你的解答。

[2020-08-14 10:02] yu199195 commented on #287
在前面的拦截器里面做就好了

[2020-08-17 02:02] Yookoo commented on #287
你好, 我仔细学习了WebFlux的过滤器的用法，写了下面段代码去解决这个问题，但是目前还有一个疑问：当请求匹配到路由白名单之后，如果不在继续执行后面的过滤器链，需要如何返回一个Mono<Void>？（具体代码在倒数第5行）。谢谢你的解答。
[code]

[2020-08-17 07:49] bigbug-dachong opened #288 "Soul + nacos + SoulSpringCloudClient + FeginClient 启动报错"
业务服务通过 @SoulSpringCloudClient 自动注册到soul-admin

对下游业务调用，希望通过FeginClient调用。

组合使用下，服务无法正常启动。

有没有同学也遇到这个问题？？

报错：
`Caused by: java.util.concurrent.RejectedExecutionException: Task org.dromara.soul.client.springcloud.init.SpringCloudClientBeanPostProcessor$$Lambda$300/1388280822@ae73c80 rejected from java.util.concurrent.ThreadPoolExecutor@22f4f8f2[Terminated, pool size = 0, active threads = 0, queue

[2020-08-17 08:15] bigbug-dachong commented on #288
- 报错位置：
![image](https://user-images.githubusercontent.com/46708615/90373556-a70b1080-e0a4-11ea-8f72-ba56c9347ad8.png)

- 线程池关闭原因：
![image](https://user-images.githubusercontent.com/46708615/90373599-bc803a80-e0a4-11ea-80fc-73e8cef243f7.png)

![image](https://user-images.githubusercontent.com/46708615/90373636-cb66ed00-e0a4-11ea-8ac6-04b53c7ee95f.png)

[2020-08-17 08:37] yu199195 commented on #288
master分支修复这个了问题 ，线程池提前关闭的问题

[2020-08-17 09:15] bigbug-dachong commented on #288
验证OK

但是master分支pom版本号并未修改，仍是2.2.0 。
直接从远程仓库的还是有问题的。

我本地打包验证ok

[2020-08-17 10:38] #288 closed

[2020-08-20 13:19] bigbug-dachong opened #296 "soul 如何集成 consul"
查了官网，和网上一些文章，并没有找到 soul对consul的集成。

查看以往的issue，说会支持，不知道当前是否已经支持？
如果已经支持，哪位能帮忙提供个接入文档？
请教

[2020-08-21 06:22] bigbug-dachong commented on #296
有人了解吗？

[2020-08-21 07:48] yu199195 commented on #296
你可以做下贡献吗？ 或者使用consul是干嘛的？

[2020-08-21 08:18] bigbug-dachong commented on #296
公司springcloud用consul做了注册中心，想知道  soul目前是否有像nacos一样自动识别注册中心服务，注册到选择器上。

自己做贡献，嗯。如果目前没有支持，要去研究下了

[2020-08-21 08:37] yu199195 commented on #296
如果是springcloud，只是在启动下，配置sc的注册中心是consul就好了。 和nacos一样，

[2020-09-01 13:21] gardenerHan opened #298 "dubbo协议下,多参数，单参数都无法请求成功"
为什么给的示例中，多参数，单参数都无法请求成功；
1.单参数请求无法接收到参数值；
2.多参数、list、数组直接序列化失败；

是我哪儿不对吗？
看了其他人的issue，是还不支持吗？

目前来说，这些对于dubbo服务来说还是很重要的，请问有解决方案吗 ？

在调研中，麻烦给予解答，谢谢

[2020-09-01 13:43] yu199195 commented on #298
是已经支持的，demo中的dubbo 都有介绍

[2020-09-01 13:48] #255 closed

[2020-09-01 13:50] #296 closed

[2020-09-01 13:51] #287 closed

[2020-09-01 13:51] #286 closed

[2020-09-01 13:52] #282 closed

[2020-09-01 13:53] #281 closed

[2020-09-01 13:54] #280 closed

[2020-09-01 13:54] gardenerHan commented on #298
你好 感谢你的回答；

我拉取了项目的master主干代码，使用了代码中的test demo；测试的结果是依然有这些情况存在；

其中admin和bootstrap使用的是你博客中提供的jar；

[2020-09-01 13:55] #279 closed

[2020-09-01 13:55] yu199195 commented on #275
已经支持

[2020-09-01 13:56] #270 closed

[2020-09-01 13:56] #269 closed

[2020-09-01 13:57] #267 closed

[2020-09-01 13:57] #266 closed

[2020-09-01 13:57] #262 closed

[2020-09-01 13:58] yu199195 commented on #260
已经fix，预计在下一个版本解决

[2020-09-01 13:58] #260 closed

[2020-09-01 13:59] #259 closed

[2020-09-01 13:59] #258 closed

[2020-09-01 14:00] #256 closed

[2020-09-01 14:00] #244 closed

[2020-09-01 14:01] #242 closed

[2020-09-01 14:01] #240 closed

[2020-09-01 14:01] #238 closed

[2020-09-01 14:01] #233 closed

[2020-09-01 14:02] #226 closed

[2020-09-01 14:03] #225 closed

[2020-09-01 14:03] #221 closed

[2020-09-01 14:03] #217 closed

[2020-09-01 14:04] #215 closed

[2020-09-01 14:04] #214 closed

[2020-09-01 14:05] #213 closed

[2020-09-01 14:05] #209 closed

[2020-09-01 14:06] #207 closed

[2020-09-01 14:07] #198 closed

[2020-09-01 14:07] #203 closed

[2020-09-01 14:08] #201 closed

[2020-09-01 14:08] #200 closed

[2020-09-01 14:08] #197 closed

[2020-09-01 14:09] #195 closed

[2020-09-01 14:09] #194 closed

[2020-09-01 14:09] #191 closed

[2020-09-01 14:10] #183 closed

[2020-09-01 14:11] #185 closed

[2020-09-01 14:12] #184 closed

[2020-09-01 14:12] #182 closed

[2020-09-01 14:12] #175 closed

[2020-09-01 14:12] #181 closed

[2020-09-01 14:13] #174 closed

[2020-09-01 14:14] yu199195 commented on #298
没有返回值，应该是你没有配置正确，或者请求方式不对

[2020-09-01 14:15] #171 closed

[2020-09-01 14:16] #143 closed

[2020-09-01 14:23] gardenerHan commented on #298
有几点需要确认下：
1.可以直接使用你博客中提供的jar吗？目前来看使用博客中jar存在我上述的问题；
2.在使用master主干的admin与bootstrap没有返回值？ 一般是哪儿配置没对呢？ 我的zookeeper、admin、bootstrap、test demo 均在一台服务器上来，使用的是默认配置，从日志上与控制台上没看到报错与不对的地方；

跪求大佬指教，十分感谢；

[2020-09-01 15:10] gardenerHan commented on #298
可以了 ，爱了爱了 感谢  终于ok了

[2020-09-02 03:56] zhangsean opened #299 "有没有实现监控每个请求的响应时间和响应结果？"
有没有实现监控每个请求的响应时间和响应结果？
有了这两个监控，就可以对对响应时间较长和响应错误的请求做报警，及时发现系统隐患。

[2020-09-02 04:21] yu199195 commented on #299
能否看玩文档，再提问题？

[2020-09-02 13:28] yu199195 commented on #202
大约在冬季支持

[2020-09-02 13:28] #202 closed

[2020-09-02 13:29] #170 closed

[2020-09-02 13:29] #167 closed

[2020-09-02 13:31] #164 closed

[2020-09-02 13:31] #162 closed

[2020-09-02 13:32] #161 closed

[2020-09-02 13:33] #160 closed

[2020-09-02 13:33] #159 closed

[2020-09-02 13:34] #157 closed

[2020-09-02 13:35] #155 closed

[2020-09-02 13:36] #154 closed

[2020-09-02 13:36] #153 closed

[2020-09-02 13:37] #152 closed

[2020-09-02 13:39] #151 closed

[2020-09-02 13:40] #150 closed

[2020-09-02 13:41] #149 closed

[2020-09-02 13:41] #148 closed

[2020-09-02 13:42] #147 closed

[2020-09-02 13:42] #146 closed

[2020-09-02 13:43] #141 closed

[2020-09-02 13:43] #140 closed

[2020-09-02 13:44] yu199195 commented on #142
目前已经支持

[2020-09-02 13:44] #142 closed

[2020-09-02 13:44] #139 closed

[2020-09-02 13:44] #138 closed

[2020-09-02 13:45] #299 closed

[2020-09-02 13:45] #298 closed

[2020-09-02 13:45] #135 closed

[2020-09-02 13:46] #132 closed

[2020-09-02 13:46] #130 closed

[2020-09-02 13:47] #129 closed

[2020-09-02 13:47] #128 closed

[2020-09-02 13:48] #126 closed

[2020-09-02 13:48] #124 closed

[2020-09-02 13:49] #123 closed

[2020-09-02 13:49] #119 closed

[2020-09-02 13:49] #116 closed

[2020-09-02 13:50] #115 closed

[2020-09-02 13:50] #114 closed

[2020-09-02 13:50] #113 closed

[2020-09-02 13:51] #112 closed

[2020-09-02 13:52] #111 closed

[2020-09-02 13:52] #109 closed

[2020-09-02 13:52] #108 closed

[2020-09-02 13:53] #104 closed

[2020-09-02 13:53] #98 closed

[2020-09-02 13:53] #95 closed

[2020-09-02 13:54] #90 closed

[2020-09-02 13:54] #87 closed

[2020-09-02 13:56] #86 closed

[2020-09-02 13:56] #85 closed

[2020-09-02 13:56] #82 closed

[2020-09-02 13:57] #78 closed

[2020-09-02 13:58] #72 closed

[2020-09-02 13:58] #76 closed

[2020-09-02 13:58] #66 closed

[2020-09-02 13:58] #75 closed

[2020-09-02 13:59] #65 closed

[2020-09-02 13:59] #64 closed

[2020-09-02 14:00] #33 closed

[2020-09-02 14:00] #34 closed

[2020-09-02 14:00] #40 closed

[2020-09-02 14:00] #41 closed

[2020-09-02 14:00] #42 closed

[2020-09-02 14:00] #45 closed

[2020-09-02 14:00] #47 closed

[2020-09-02 14:00] #48 closed

[2020-09-02 14:00] #49 closed

[2020-09-02 14:00] #50 closed

[2020-09-02 14:00] #51 closed

[2020-09-02 14:00] #52 closed

[2020-09-02 14:00] #53 closed

[2020-09-02 14:00] #54 closed

[2020-09-02 14:00] #55 closed

[2020-09-02 14:00] #56 closed

[2020-09-02 14:00] #58 closed

[2020-09-02 14:00] #59 closed

[2020-09-02 14:00] #60 closed

[2020-09-02 14:00] #61 closed

[2020-09-02 14:00] #62 closed

[2020-09-02 14:01] #7 closed

[2020-09-02 14:01] #9 closed

[2020-09-02 14:01] #10 closed

[2020-09-02 14:01] #18 closed

[2020-09-02 14:01] #21 closed

[2020-09-02 14:01] #22 closed

[2020-09-02 14:01] #25 closed

[2020-09-02 14:01] #26 closed

[2020-09-02 14:01] #27 closed

[2020-09-02 14:01] #28 closed

[2020-09-02 14:01] #31 closed

[2020-09-02 14:01] #32 closed

[2020-09-02 16:00] yu199195 opened #300 "soul support GRPC"
add soul-plugin-grpc support grpc

[2020-09-03 02:45] MatthewYang51 commented on #68
公司：凯撒旅游
网址：http://caissa.com.cn/
地点：北京
联系方式：631994600@qq.com
场景：API网关

[2020-09-03 12:13] yu199195 opened #301 "soul网关新增sentinel熔断插件的支持"
1.在soul网关里面新增对alibaba ，sentinel熔断插件的支持。

[2020-09-03 12:15] yu199195 opened #302 "registration and discovery of HTTP services for soul"
now：IP + port probing mechanism is adopted for HTTP service
after： By registry center

[2020-09-03 12:17] yu199195 opened #303 "soul-admin支持插件处理模板化配置"
在soul-admin后台，每个插件的handler处理，为一个json字段。每个插件都不相同，现在需要在插件管理，新增一个模块配置，来配置handler字段的内容，描述。 前端根据这个配置，来动态的渲染配置

[2020-09-03 12:51] dengliming commented on #301
Hello~, I'd love to take this as first contribution for this repo.

[2020-09-03 12:56] yu199195 commented on #301
@dengliming  welcome，

[2020-09-03 13:05] 241600489 commented on #303
i will follow this

[2020-09-03 13:14] yu199195 commented on #303
@241600489 welcome

[2020-09-03 14:16] tincopper commented on #302
I want to help

[2020-09-19 14:24] roneywei opened #308 "是否支持motan接入？"
现在有dubbo接入，spring cloud 接入，是否支持motan接入

[2020-09-22 03:32] bobzhanggmail opened #310 "docker-compose.yml里端口不对"
soul-admin的server port是9095，docker-compose.yml里配的却是8086，建议修正下。

[2020-09-22 04:45] yu199195 commented on #310
你可以提pr来修复吗？------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;&quot;frank&amp;nbsp;zhang&quot;<notifications@github.com&gt;
发送时间:&nbsp;2020年9月22日(星期二) 中午11:32
收件人:&nbsp;&quot;dromara/soul&quot;<soul@noreply.github.com&gt;;
抄送:&nbsp;&quot;Subscribed&quot;<subscribed@noreply.github.com&gt;;
主题:&nbsp;[dromara/soul] docker-compose.yml里端口不对 (#310)

[2020-09-22 06:22] #310 closed

[2020-09-22 06:25] yu199195 commented on #308
你可以提供motan的插件来支持吗

[2020-09-22 07:30] bobzhanggmail opened #312 "docker方式启动后，点登录没反应"
用docker-compose启动后，镜像都成功build，启动log里看也都正常启动了。
访问http://ip:9095/index ，输入admin，密码123456，点登录一直进不去，按钮上一直转圈，日志里也没任何报错信息。
![212](https://user-images.githubusercontent.com/9858448/93854580-99225e00-fce8-11ea-86d3-dca9daa45067.png)

[2020-09-22 08:01] bobzhanggmail commented on #312
改从github上直接下载soul-admin.jar，成功启动，登录还是一样，点登录后一直进不去。
mysql是5.6的，库和表也都有，不知道怎么回事，麻烦指点下，谢谢。

[2020-09-22 08:16] bobzhanggmail commented on #312
晕死，url里去掉index就可以了

[2020-09-22 08:16] #312 closed

[2020-09-25 03:02] woshiyingmu opened #314 "divide 插件，http 请求报404"
正常启动soul-test 应用，context-path 设置为soul-test， http://127.0.0.1:9195/soul-test/order/findById报404，
![image](https://user-images.githubusercontent.com/9637974/94221579-fb17d900-ff1d-11ea-8064-d938c9129e57.png)
postman里请求
![image](https://user-images.githubusercontent.com/9637974/94221617-0d921280-ff1e-11ea-8f74-3ee2bf190177.png)，
发现匹配的路径/soul-test/order/findById 这个最后没有，所以get 请求报404

[2020-09-25 03:12] yu199195 commented on #314
那你的应用名称是soul-test吗

[2020-09-25 03:16] woshiyingmu commented on #314
是的。我把参数改为parm 就是其他的 也会出现这个问题 ，版本2.2.1

[2020-09-25 04:18] yu199195 commented on #314
那你访问原来的，能访问，把9095端口，改成你真实的服务端口？

[2020-09-25 04:23] yu199195 commented on #314
上面图中，那么大一个截图的错误日志输出输出的地址，是你真实服务的地址吗？
输出的地址，你能访问吗？

[2020-09-25 04:45] woshiyingmu commented on #314
192.168.20.219:8187 是我本地的ip:port, 输出的地址resulting path是http://192.168.20.219:8187?id=5555nnbbbbbbbbbbb 但真实的地址应该是http://192.168.20.219:8187/order/findById?id=5555nnbbbbbbbbbbb ,就是匹配规则的时候，把/order/findById 一段过滤掉了，所以http://192.168.20.219:8187?id=5555nnbbbbbbbbbbb才报404

[2020-09-25 04:57] woshiyingmu commented on #314
换成你这个地址最终匹配程http://192.168.20.219:8187?111111 依然是404

[2020-09-25 06:20] yu199195 commented on #314
在admin后端，删除元数据， soulClient注解上删除 isRegisterMetaData

[2020-09-25 07:04] woshiyingmu commented on #314
可以了

可以了 @

[2020-09-25 07:04] woshiyingmu commented on #314
可以了

[2020-09-25 07:04] #314 closed

[2020-09-27 08:19] zhaoqin102 opened #315 "admin能添加context-path吗"
admin能添加context-path吗

[2020-09-27 10:31] Technoboy- opened #316 "Use onErrorMap instead of imperative catch block"
ApacheDubboProxyService#genericInvoker catch the error, it's better to use a streaming way.

[code]

[2020-09-27 10:50] #316 closed

[2020-09-28 13:28] hjjoe1213123 opened #318 "spring-cloud-starter-openfeign 配合出现线程拒绝"
Caused by: java.util.concurrent.RejectedExecutionException: Task org.dromara.soul.client.springcloud.init.SpringCloudClientBeanPostProcessor$$Lambda$568/660144865@2adc1e84 rejected from java.util.concurrent.ThreadPoolExecutor@2a99fa07[Terminated, pool size = 0, active threads = 0, queued tasks = 0, completed tasks = 0]
	at java.util.concurrent.ThreadPoolExecutor$AbortPolicy.rejectedExecution(Threa

[2020-09-28 13:33] yu199195 commented on #318
升级点2.2.1------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;&quot;辛末子午&quot;<notifications@github.com&gt;
发送时间:&nbsp;2020年9月28日(星期一) 晚上9:28
收件人:&nbsp;&quot;dromara/soul&quot;<soul@noreply.github.com&gt;;
抄送:&nbsp;&quot;Subscribed&quot;<subscribed@noreply.github.com&gt;;
主题:&nbsp;[dromara/soul] spring-cloud-starter-openfeign 配合出现线程拒绝 (#318)

[2020-09-28 14:10] hjjoe1213123 commented on #318
确实版本问题，谢谢大佬

[2020-09-28 14:11] #318 closed

[2020-09-28 14:12] yu199195 commented on #315
可以

[2020-09-28 14:12] #315 closed

[2020-09-28 14:14] #303 closed

[2020-09-28 15:15] yu199195 opened #319 "新增soul打包工程"
1. soul-admin打包工程, 需要打出如下结构的压缩包，用户只需要更改application.yml 内容，调用脚本即可启动
----lib
       soul-admin.jar
---- conf
        application.yml
----bin
      start.sh
     close.sh

2. soul-boostrap打包工程, 需要打出如下结构的压缩包，用户只需要更改application.yml 内容，调用脚本即可启动
----lib
       soul-bootstrap.jar
---- conf
        application.yml
----bin
      start.sh
      close.sh

[2020-09-29 05:21] dengliming commented on #319
Hi~ 你看下这个[https://github.com/dengliming/soul/tree/dist/soul-dist](https://github.com/dengliming/soul/tree/dist/soul-dist) 能否满足你这个需求，如果可以满足我可以提个PR合过去，谢谢~

[2020-09-29 06:08] yu199195 commented on #319
@dengliming 可以，欢迎pr过来。

[2020-10-06 15:07] dengliming opened #321 "Add start.bat for windows"
现在我们已经有了`start-web.sh`、`start-admin.sh`启动脚本，是不是增加个window环境(`.bat`)的启动脚本会更好点呢？希望能同时增加到打包文件里面[https://github.com/dromara/soul/tree/master/soul-dist/bin](https://github.com/dromara/soul/tree/master/soul-dist/bin)

[2020-10-10 02:42] yu199195 commented on #321
good idea，please add

[2020-10-10 02:56] yu199195 opened #322 "新增sofa-rpc插件"
类似于dubbo插件。

实现：采用sofa-rpc的泛化调用

[2020-10-10 07:46] patzheng opened #323 "spring框架下dubbo服务提供者接入导致启动异常"
dubbo版本
<groupId>com.alibaba</groupId>
<artifactId>dubbo</artifactId>
<version>2.6.5</version>
客户端版本
 <dependency>
      <groupId>org.dromara</groupId>
      <artifactId>soul-client-alibaba-dubbo</artifactId>
      <version>2.2.0</version>
    </dependency>
spring配置
<bean id="alibabaDubboServiceBeanPostProcessor"
    class="org.dromara.soul.client.alibaba.dubbo.AlibabaDubboServiceBeanPostProcessor

[2020-10-10 08:07] yu199195 commented on #323
使用2.2.1 看看

[2020-10-10 08:23] patzheng commented on #323
查出问题来了。出在spring版本上面。BeanPostProcessor在4版本里面需要子类实现postProcessAfterInitialization。但是在spring5版本里面不需要

[2020-10-10 08:24] patzheng commented on #323
有很多老系统需要接入，还真的需要升级下版本

[2020-10-10 08:24] #323 closed

[2020-10-12 16:21] patzheng commented on #279
我也想要

[2020-10-17 07:14] #321 closed

[2020-10-18 07:31] yu199195 commented on #301
@dengliming  hi， 最近有在做对sentinel的支持吗？ 如果有任何不懂的地方，可以找我一起协助

[2020-10-18 07:32] yu199195 commented on #308
motan的泛化调用，支持的不够好，暂时先不支持了

[2020-10-18 07:32] #308 closed

[2020-10-18 07:50] dengliming commented on #301
@yu199195 差点忘了，不好意思哈。我应该这几天会提交一版。再确认下是否只需要集成sentinel熔断那块的功能？

[2020-10-18 07:53] yu199195 commented on #301
限流也可以，应该分开2个插件。 先弄熔断把。 你微信多少，我拉你先进社区贡献值群，有问题联系

[2020-10-18 07:56] dengliming commented on #301
1196767447

[2020-10-18 12:53] KevinClair commented on #301
sentinel的插件是准备限流跟熔断都可以吗？最近在对接这块，准备做sentinel跟spring security的扩展。

[2020-10-21 08:30] daofeng1949 commented on #31
能麻烦发个视频地址嘛

[2020-10-21 08:32] daofeng1949 opened #326 "集群部署视频是否有,能否发个地址"

[2020-10-21 10:08] yangzhiw commented on #301
我也在尝试

[2020-10-28 08:56] KevinClair commented on #68
公司：上海米哈游网络科技有限公司
网址：https://www.mihoyo.com/
地点：上海
联系方式：704714211@qq.com
场景：API网关，基于soul正在做定制化开发。

[2020-10-29 14:40] yu199195 commented on #326
readme里面有。

[2020-10-29 14:40] #326 closed

[2020-11-04 07:47] WangRong1982 opened #327 "关于接入springboot的配置疑问"
https://dromara.org/website/zh-cn/docs/soul/induction.html
soul极简入门
4. 接入 Spring Boot 应用
参照以上说明文档进行了Springboot应用的接入
4.3.3 UserController
但是soul-admin中只有插件列表-divide中有选择器和规则列表中有数据被添加了，但是系统管理-元数据管理中没有数据
查看Springboot应用启动的日志，发现"registerMetaData":false，推测因为是false，所以元数据没有被注册到soul-admin中。
****************************************************************************************************
2020-11-04 15:37:

[2020-11-04 08:38] yu199195 commented on #327
http请求并不需要元数据

[2020-11-04 10:17] WangRong1982 commented on #327
谢谢，已经把ip+端口配置上去了，现在可以发post请求了，谢谢啦。

[2020-11-04 10:17] #327 closed

[2020-11-05 09:53] cugwhzenith opened #328 "有无大佬使用soul完整的从前端到后端做过蓝绿部署？刚接触soul了解不深，不知soul如何与前端交互做蓝绿部署~"

[2020-11-06 11:06] WangRong1982 opened #329 "请问接入Springboot应用时, 想使用sign插件和认证管理功能，请问如何配置"
接入Springboot应用时，在接口中加入@SoulSpringMvcClient注解后，就会向soul-admin的divied插件中注册选择器和规则，但是不会注册元数据。
例如：自动注册了一个名称为/wangrong-demo-api/user/get的规则。
此时divied插件转发正常
postman访问http://网关Ip:端口/wangrong-demo-api/user/get?id=1时，可以正常跳转到我的Springboot业务的http://业务Ip:端口/user/get?id=1中去。

之后我想使用认证管理时，我在“认证”添加页面中的“应用名称”下拉框中没有任何数据，我发现只有在“元数据管理”中添加数据之后，才能在“认证”添加页面中的“应用名称”下拉框中有数据给我选择。于是我就在元数据管理中手动添加了一条数据，其中“应用名”填写为wangrongService

[2020-11-09 09:18] plm479104792 opened #330 "是否接入服务发现"
能否接入 Spring-cloud-gateway的服务集群模式。
uri: lb://service
当我当service 增加机器、减少机器当时候，不用在soul-admin 配置具体当ip端口号。

[2020-11-10 02:18] cugwhzenith opened #332 "soul-bootsttap健康检查的是否要自己写？"
用divide插件分流时，故意配了不对的转发地址，divide在请求转发之前并没有做健康检查，所以会转发到错误的地址。

[2020-11-10 02:24] yu199195 commented on #330
sc自己接入注册中心就好

[2020-11-10 02:25] yu199195 commented on #332
健康检查和 具体的接口有啥关系？

[2020-11-10 02:25] #328 closed

[2020-11-10 02:26] yu199195 commented on #329
使用最新的master分支吧

[2020-11-10 02:27] cugwhzenith commented on #332
如果服务挂了，没有健康检查，还是会转发到这个服务。

[2020-11-10 02:28] cugwhzenith commented on #332
如果服务挂了，没有健康检查，还是会转发到这个服务。

[2020-11-10 02:30] cugwhzenith commented on #332
配错地址模拟的时服务挂了的场景

[2020-11-10 02:32] yu199195 commented on #332
springboot是这样的吗？ 你访问一个错误的地址，提示你什么?

[2020-11-10 02:36] #332 closed

[2020-11-10 03:16] #253 closed

[2020-11-10 03:19] #330 closed

[2020-11-10 03:19] tydhot commented on #302
assigned to me

[2020-11-10 03:20] tydhot commented on #301
assigned to me

[2020-11-10 03:20] tydhot commented on #300
assigned to me

[2020-11-10 03:26] yida-lxw commented on #254
Let me give it a shot.

[2020-11-10 03:56] WangRong1982 commented on #302
不需要业务系统在接口上添加@SoulSpringMvcClient注解了，有API自动发现功能了是吗？
太好了。
请问业务的ip和端口号怎么上传到soul-admin？

[2020-11-11 03:31] cugwhzenith opened #334 "divide插件 配置疑问"
divide配置规则 uri match  /cnf/sline/admin/**  路由到后端端口的时候，不会像gateway一样去掉了/cnf/sline/admin/
前缀，只会去掉第一个前缀 /cnf。对于多前缀的转发配置不方便

[2020-11-11 06:52] plm479104792 opened #335 "传统springmvc项目接入 soul问题"
org.dromara:soul-client-springmvc:2.2.1 版本，SpringMvcClientBeanPostProcessor implements BeanPostProcessor。少了实现postProcessAfterInitialization(Object bean, String beanName)方法，启动的时候会Caused by: java.lang.AbstractMethodError
	at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.applyBeanPostProcessorsAfterInitialization(AbstractAutowireCapableBeanFactory.java:423) ~[spring-bea

[2020-11-11 08:58] yu199195 commented on #335
可以提个pr

[2020-11-11 09:09] #335 closed

[2020-11-11 09:10] yu199195 commented on #334
contextPath 写成你需要去掉的

[2020-11-11 09:10] #334 closed

[2020-11-11 09:11] #329 closed

[2020-11-11 09:16] cugwhzenith commented on #334
![image](https://user-images.githubusercontent.com/46958942/98792484-86ebb300-2441-11eb-92de-55ace3ab5a2a.png)
divide插件没有配contextPath的地方，需要在自己的代码里面配？

[2020-11-11 09:32] cugwhzenith commented on #334
我看了下官网说明文档，我的理解是配contextPath是对有注解或者元数据的路由，如果实现对全部接口的路由，用divide不行吗？

[2020-11-12 03:13] dengliming opened #338 "Use github action instead of travis-ci"

[2020-11-12 03:14] dengliming commented on #338
please assign to me

[2020-11-12 09:57] #338 closed

[2020-11-12 10:20] MassAdobe commented on #68
公司：深兰科技（上海）有限公司 版权所有
网址：https://www.deepblueai.com/
地点：上海
联系方式：massadobe8@gmail.com
场景：API网关，基于soul正在做定制化开发。

[2020-11-12 14:44] dengliming opened #345 "SentinelRuleHandle handle removeRule mistake"
现在代码是这样的：removeRule里面传的是要删除的规则，这里处理是只保留了要删除的规则了。如果我没理解错的话这个逻辑是不对的吧？@tydhot
[code]
代码来自[https://github.com/dromara/soul/blob/master/soul-plugin/soul-plugin-sentinel/src/main/java/org/dromara/soul/plugin/sentinel/handler/SentinelRuleHandle.java#L72-L82](https://github.com/dromara/soul/blob/master/soul-plugin/soul-plugin-sentinel/src/main/java/org/dromara/soul/plugin/sentinel/handler/SentinelRuleHand

[2020-11-12 14:48] tydhot commented on #345
嗯 我已经改好了 还没提交

[2020-11-12 14:49] dengliming commented on #345
good

[2020-11-12 15:51] tydhot commented on #322
assign

[2020-11-13 02:47] #345 closed

[2020-11-13 05:51] cugwhzenith opened #347 "springCloud插件对contextPath去除的疑问"
配置springCloud插件，设置contextPath=/cnf/sline/admin
转发请求的时候只会截掉第一个前缀/cnf
![image](https://user-images.githubusercontent.com/46958942/99034148-7a896680-25b7-11eb-8922-e7caf8f221e9.png)

![image](https://user-images.githubusercontent.com/46958942/99033845-c4be1800-25b6-11eb-9598-999b8b6f57c6.png)
推测bug来源：
![image](https://user-images.githubusercontent.com/46958942/99034020-34cc9e00-25b7-11eb-85a4-c38a770

[2020-11-13 06:16] yu199195 commented on #347
你有什么更新意见吗？

[2020-11-13 06:22] #301 closed

[2020-11-13 06:29] cugwhzenith commented on #347
要想通用一点，多前缀最好支持吧。
我在本地测试多传一个metadata参数，根据metaData里面的path 用“/**”来截，但是失败了。
![image](https://user-images.githubusercontent.com/46958942/99036312-65630680-25bc-11eb-8912-a2f3f0dbf60b.png)

[2020-11-13 14:42] dengliming opened #348 "Proposal: add support for apollo"
https://github.com/ctripcorp/apollo

[2020-11-14 02:15] yu199195 commented on #348
可以作为一种实现

[2020-11-14 04:52] dengliming opened #349 "优化sentinel规则添加界面操作"
![image](https://user-images.githubusercontent.com/7796156/99139869-83da0800-2677-11eb-9444-250ac7f78d48.png)

目前插件处理数据管理只支持数字和字符串类型，这里页面`限流阈值类型`全部都是填数字也没有任何说明每个数字代表的类型，觉得这样不是很友好，建议增加`UI优化成下拉选项`或者`调整插件管理数据增加支持下拉框类型或者提示语`

[2020-11-14 07:07] yu199195 commented on #349
调整插件管理数据增加支持下拉框类型或者提示语 ，这个方案比较好，这里的都应该是配置的，需要新增一张配置数据字典表，
在soul-admin后台新增，新增字段的时候，选择下拉框，然后根据配置模板渲染出来就好了。
 你可以做下这个，也是个很大的优化，和重要的功能

[2020-11-15 14:01] phpisfuture opened #350 "请问soul + dubbo，前端header中传递信息，dubbo中应该如何接收呢？"
请问soul + dubbo，如前端header中传递Token信息，soul网关如何解析出用户信息如ID并传递到dubbo方法中，应该如何接收呢？

[2020-11-16 14:04] dengliming commented on #350
我觉得你可以定制化你们自己内部dubbo插件，可以结合RpcContext的attachment透传http的header，这种也有助于不让链路丢失

[2020-11-16 14:09] phpisfuture commented on #350
谢谢，定义了插件，用Invocation传递了attachment已经能拿到了

[2020-11-16 14:09] phpisfuture commented on #350
谢谢，定义了插件，用Invocation传递了attachment已经能拿到了

[2020-11-16 14:09] #350 closed

[2020-11-17 01:53] cugwhzenith opened #351 "soul转发请求到spring cloud gateway的疑问"
soul整合spring cloud项目访问接口必须要@SoulSringCloudClient注解吗？如果只是将请求到转发到spring cloud gateway呢，没有接口没法加上@SoulSringCloudClient注解，只能在配置文件里面配contextPath。我测试了下，slector可以匹配到（因为有contextPath），因为没有rule（gateway没接口没@SoulSringCloudClient注解）转发到gateway的请求就不通。

[2020-11-17 07:58] KevinClair commented on #351
不需要一定要加@SoulSringCloudClient的，这个注解是方便客户端生成元数据，自己手动在Admin上新增也是一样的效果。Rule也可以自己建。

[2020-11-17 08:17] KevinClair opened #352 "关于Dubbo插件选择器列表中的Dubbo配置和元数据里面的Rpc扩展参数"
### 问题描述
一般通过客户端上传的Dubbo元数据时，会在Dubbo插件的选择器列表和选择器规则列表里自动新增。有个疑问，代码里
[code]
如果之后在控制台上修改规则里面的Dubbo配置，也不会影响MetaData里面的Rpc_ext，那首先我的理解是这个Dubbo配置跟元数据管理面的Rpc扩展参数不是同步的，分开独立。想着既然这个Dubbo配置是在选择器列表里面，那么是不是对符合选择器规则的Url进行Dubbo配置呢，在org.dromara.soul.plugin.alibaba.dubbo.AlibabaDubboPlugin#doExecute这个Plugin里面没有相关代码，虽然请求参数里面有RuleData，但是没有任何的应用。不知道是不是我的理解有问题。

### 期望的结果
个人的想法是如果这个Dubbo配置跟符合选择器规则的Url请求相关，那是不是需要在org.d

[2020-11-17 08:59] cugwhzenith commented on #351
嗯嗯，是的，这个我能明白。但是gateway没有接口，没有rule（自己也没法建），访问gateway路由的接口只能匹配到contextPath对应的selector，rule匹配不到，结果会报“ -106  匹配不到选择器”的错误~

[2020-11-17 09:02] KevinClair commented on #351
为什么要在gateway上面再加一个soul呢？一开始理解错了，我以为你是需要在spring cloud上面用soul。

[2020-11-17 09:04] cugwhzenith commented on #351
因为我们公司的gateway上有很多逻辑处理代码，直接用soul替代gateway代价有点大

[2020-11-17 09:05] cugwhzenith commented on #351
soul3.0会考虑我这种转发到gateway的奇怪的需求吗？

[2020-11-17 10:25] plm479104792 opened #353 "soul网关服务怎么做健康检查"
网关服务怎么做健康检查，健康检查接口会走规则选择

[2020-11-17 11:29] SaberSola commented on #352
Dubbo插件中meta_data和rule_data的dubbo有些是重复的,不管是选择rule_data和meta_data最终都是生成interface的泛化类,这些参数归属于meta_data更合适些

[2020-11-17 11:33] KevinClair commented on #352
是的，我也觉得这样更合理一点。rule_data中的dubbo配置修改不会产生效果，meta_data里面的配置修改是可以改变dubbo泛化调用的一些配置信息的。meta_data的属性修改会去改变ApplicationConfigCache里面的缓存信息，但是rule_data修改的时候不会。

[2020-11-17 11:42] SaberSola commented on #353
HealthFilter添加需要过滤的健康检查的url

[2020-11-18 04:55] #347 closed

[2020-11-18 04:56] #353 closed

[2020-11-18 04:56] #351 closed

[2020-11-18 04:57] yu199195 commented on #352
rule里面的不会有效

[2020-11-18 04:57] #352 closed

[2020-11-18 06:14] KevinClair opened #355 "Dubbo元数据修改MetaData里面的Rpc扩展参数信息，Bootstrap没有更新缓存"
### 背景
测试环境起了一个服务，版本号是1.0.0，本地起了一个服务(也是测试环境)，版本号是1.0.1。最终注册到Admin控制台上的服务的版本号是1.0.1。此时想通过修改Dubbo元数据的Rpc扩展参数来让Bootstrap去调1.0.0版本的服务。
### 问题描述
成功注册到Admin控制台上的dubbo元数据修改里面的Rpc扩展参数信息，org.dromara.soul.plugin.apache.dubbo.cache.ApplicationConfigCache里没有去更新本地的缓存，导致请求的时候会读取旧的Metadata缓存数据；
### 问题点
Admin修改属性时，会触发org.dromara.soul.plugin.apache.dubbo.subscriber.ApacheDubboMetaDataSubscriber的订阅逻辑：
[code]
进入到App

[2020-11-18 06:18] yu199195 commented on #355
你可以修复它吗？ 你的metadata 里面什么要修改？ 接口？ 方法签名还是啥？

[2020-11-18 06:27] KevinClair commented on #355
修改了Dubbo元数据的Rpc扩展参数。刚刚想了一下，在Admin控制台上的元数据管理页面，应该除了服务接口之外的(因为ApplicationConfigCache的缓存Key是servicename)，其他属性都不会去更新缓存。目前这种问题只针对Dubbo，http和springcloud的暂时不知道，后面有时间再试。
自己本地已经修复了，后续会提交pr。

[2020-11-18 08:07] yu199195 commented on #355
ok

[2020-11-19 03:08] #355 closed

[2020-11-19 07:38] nuo-promise opened #357 "优化soul-admin 用户密码 数据库中存储形式 由 明文->加密"

[2020-11-19 08:13] hongyangXing commented on #357
建议前端md5

[2020-11-19 08:28] KevinClair commented on #357
我们是做了Admin跟用户权限隔离，密码更改权限放给用户，数据库密码加密。

[2020-11-19 08:36] nuo-promise opened #358 "修正 soul/doc/admin.md 中服务端启动 启动命令异常"
1. 本地环境 Mysql 5.7.23 / 8.x 都测试了 运行 都会报错 zeroDateTimeBehavior=CONVERT_TO_NULL
建议 把这个启动参数去掉;
2. --spring.datasource.password=''， 这个我觉得不要放到必写命令行中,可以增加一个补充,针对 数据库有密码访问 就加上,无密码就去掉

[2020-11-19 09:02] yu199195 commented on #357
@KevinClair 你们啥公司？登记了吗

[2020-11-19 09:04] KevinClair commented on #357
贵人多忘事啊大佬，我说了三遍了都。。。登记了。

[2020-11-19 09:08] yu199195 commented on #357
@KevinClair 米哈游吧，可以继续来优化

[2020-11-19 09:10] KevinClair commented on #357
嗯嗯，后续有时间会提交pr的。

[2020-11-19 09:11] #358 closed

[2020-11-19 15:10] phpisfuture opened #360 "dubbo服务@SoulDubboClient注册到网关问题。"
org.dromara.soul.client.apache.dubbo.ApacheDubboServiceBeanPostProcessor.post(String json)方法result信息返回地址已经存在，验证的是@SoulDubboClient的path信息嘛，如果这个路由的dubbo提供方信息变成，目前好像无法同步更新信息。还有我觉得已经存在不应该输出error日志，这样第二次启动的时候路由会全部打出error，还以为服务挂掉了。

[2020-11-19 16:34] nuo-promise opened #361 "优化 将 Obj != null 改为 Optional.ofNullable(Obj).isPresent"
增加代码可读性，Code 更高效 使用Optional 进行优化

[2020-11-19 18:25] #361 closed

[2020-11-19 18:26] nuo-promise commented on #357
在增加一个 优化 将 Obj != null 改为 Optional.ofNullable(Obj).isPresent

[2020-11-20 02:11] SaberSola commented on #360
最新的master已经修复了

[2020-11-20 02:19] phpisfuture commented on #360
您好，maven发布了嘛，还是需要自己拉master自己打包？

[2020-11-20 02:50] SaberSola commented on #360
可以自己打包的,也可以等着猫老大发新版本

[2020-11-20 03:20] KevinClair opened #363 "Dubbo加入服务提供者直连功能"
### 功能描述
可以通过Dubbo的服务提供者直连功能，在Admin控制台上修改元数据，之后动态更新缓存，每次请求都会去消费指定的provider提供的dubbo服务
### 背景
Dubbo集群环境下的，希望能指定Dubbo服务provider。
### 计划
目前已实现，需要的话可以提交pr.

[2020-11-20 03:32] yu199195 commented on #363
提交上来看看

[2020-11-20 03:57] xiaoshuanglee opened #364 "soul-admin 增加Swagger用于生成、描述、调用和可视化 Restful 风格的 Web 服务。"
优势：

      1.支持 API 自动生成同步的在线文档 。API文档和API定义同步更新
      2.提供 Web 页面在线测试 API ，不需要再下载postman使用
      3.支持多种语言

[2020-11-20 06:33] #364 closed

[2020-11-20 08:22] strawberry-crisis commented on #254
I am glad to help.

[2020-11-20 08:42] xiaoshuanglee opened #367 "解决Jdk11编译不通过问题"
1.问题描述
`[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.7.0:compile (default-compile) on project soul-client-springmvc: Fatal error compiling: java.lang.ExceptionInInitializerError: com.sun.tools.javac.code.TypeTags -> [Help 1]
[ERROR]
[ERROR] To see the full stack trace of the errors, re-run Maven with the -e switch.
[ERROR] Re-run Maven using the -X switch to enab

[2020-11-20 08:56] #367 closed

[2020-11-20 09:53] yang-xinyuan commented on #68
公司：华夏视清
网址：http://www.ctsing.com/
地点：北京
联系方式：1046916988@qq.com
场景：个人学习

[2020-11-20 13:00] yu199195 opened #369 "新增 Resilience4J 的支持，作为 限流，熔断的插件"

[2020-11-20 13:05] SaberSola commented on #369
assign

[2020-11-20 16:41] yiwenlong commented on #357
严谨起见，密码哈希存储建议使用 SHA2 或者 SHA3 系列算法。

[2020-11-20 16:53] nuo-promise commented on #357
建议 很好,后面考虑进去

伊文龙 <notifications@github.com> 于2020年11月21日周六 上午12:41写道：

[2020-11-20 17:16] #349 closed

[2020-11-20 17:17] #360 closed

[2020-11-20 17:19] #357 closed

[2020-11-21 03:07] yu199195 opened #372 "插件的里面的选择器处理，规则处理，全部模板化"
1. 涉及所有插件的前端更改，前端插件应该只有一个公用的模块就行，根据 字典表，处理表来渲染

[2020-11-21 03:16] dengliming commented on #372
指给我吧

[2020-11-21 03:31] fightingting commented on #254
1

[2020-11-21 03:32] prospect167 commented on #254
2

[2020-11-21 03:34] strawberry-crisis commented on #254
4

[2020-11-21 03:36] yu199195 commented on #254
@fightingting  你来翻译任务一

[2020-11-21 03:36] yu199195 commented on #254
@strawberry-crisis  你来翻译任务4

[2020-11-21 03:37] HoldDie commented on #254
我选择 5

[2020-11-21 03:37] 0x12FD16B commented on #254
5

[2020-11-21 03:38] yu199195 commented on #254
@HoldDie 你来翻译任务5

[2020-11-21 03:40] bigwillc commented on #254
3

[2020-11-21 03:41] yu199195 commented on #372
@dengliming  good job

[2020-11-21 03:43] yu199195 commented on #254
@bigwillc  你来翻译任务3

[2020-11-21 03:48] lasly1990 commented on #254
2

[2020-11-21 03:49] bigwillc commented on #254
好的

[2020-11-21 03:49] yu199195 commented on #254
@lasly1990 你翻译任务二

[2020-11-21 03:50] yu199195 commented on #254
@0x12FD16B  任务都满了，你等下翻译下hmily的任务吧，去那边领取

[2020-11-21 03:51] prospect167 commented on #254
@yu199195 我第一个选择任务2

[2020-11-21 03:52] prospect167 commented on #254
我还是先本地自己翻译，顺便熟悉一下soul

[2020-11-21 03:53] yu199195 commented on #254
@prospect167 你翻译一下readme

[2020-11-21 03:54] prospect167 commented on #254
收到

[2020-11-21 03:58] ChristineLei commented on #254
2.  lasly1990
thanks

[2020-11-21 08:01] wyc192273 opened #374 "修改doc文档中。错别字问题"

[2020-11-21 14:40] #374 closed

[2020-11-21 14:40] #363 closed

[2020-11-22 02:47] dengliming commented on #372
- [ ] sign
- [ ] waf
- [ ] rewrite
- [ ] rate_limiter
- [ ] divide
- [ ] dubbo
- [ ] monitor
- [ ] springCloud
- [ ] hystrix
- [ ] sentinel

[2020-11-22 03:13] nuo-promise opened #377 "兼容已经使用soul项目的用户,使用默认秘钥,提供 123456 对应的密文"

[2020-11-22 04:19] #377 closed

[2020-11-22 06:17] prospect167 commented on #68
公司：平安系某子公司
网址：/
地点：深圳
联系方式：229104354@qq.com
场景：web 网关 & 个人学习

[2020-11-23 06:03] yu199195 commented on #254
所有的文档已经翻译完毕，我会进行部署，感谢大家的努力！

[2020-11-23 07:04] yangxing9 opened #381 "修改script文件中soul.sql中初始化用户的密码为密文"
admin模块中schema.sql的默认用户密码已改为密文，全局的初始化sql应保持同步

[2020-11-23 07:06] dengliming commented on #381
@yangxing9  有兴趣提交PR改下吗 复制schema.sql里面的过来就行了

[2020-11-23 07:08] yangxing9 commented on #381
ok，I will fix it

[2020-11-23 10:42] dengliming commented on #381
fixed by [https://github.com/dromara/soul/pull/382](https://github.com/dromara/soul/pull/382)

[2020-11-23 10:42] dengliming commented on #381
@yangxing9 Thanks for your contribution.

[2020-11-23 10:42] #381 closed

[2020-11-24 03:13] zfy-zhang opened #385 "Soul gateway management platform didn't login expired"
soul网关管理平台没做登陆过期功能

[2020-11-24 04:52] superbool commented on #302
可以兼容现有的一些服务发现中间件吗，比如consul等

[2020-11-24 05:01] nuo-promise opened #386 "soul-admin 全自动适配 针对 任何 账户 使用任何密码(明文)登录"
1.本地已存在 soul-admin 数据库,并且 任何 账户 任何明文密码  都可以 按照之前方式登录
2.登录之后,明文将被修改 使用 用户指定的秘钥 进行加密
3.本次更新只兼容 密码由 明文 转 加密 , 如果已经加密 在更换秘钥 暂时不支持

[2020-11-24 06:52] dengliming commented on #386
closed by [https://github.com/dromara/soul/pull/387](https://github.com/dromara/soul/pull/387)

[2020-11-24 06:52] #386 closed

[2020-11-24 07:14] hellboy0621 opened #389 "将soul-admin模块中所有SoulAdminResult的success()或error()方法调用方魔鬼数字抽取到常量类中"

[2020-11-24 08:44] dengliming opened #391 "Add issue and pr templates"
官方文档：[https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/using-templates-to-encourage-useful-issues-and-pull-requests](https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/using-templates-to-encourage-useful-issues-and-pull-requests)

提供`PULL_REQUEST_TEMPLATE`、`ISSUE_TEMPLATE`这两个模板即可

可以先参考这两个做一版
[ISSUE_TEMPLATE](https://github.com/apac

[2020-11-24 09:16] nuo-promise commented on #385
@yu199195 @zfy-zhang   登录会话过期 可否 连 权限 也做进去,毕竟 它两 几乎都是一块的？

[2020-11-24 09:19] dengliming commented on #385
如果这样的这个工作量比较多可以细分下，可以先考虑下是否需要做这么复杂

[2020-11-24 09:27] nuo-promise commented on #385
我的想法是 soul 网关 被第三方公司使用, 三方公司 对于不同 研发或者运维的人 有 不同的配置权限。我是从这个点考虑的。

[2020-11-24 09:46] nuo-promise commented on #391
组织大起来,这个模板 是要建立起来了.

[2020-11-24 10:06] yu199195 commented on #385
先做一个过期把， 权限太重，可能会关系到按钮级别，或者页面级别。。。

[2020-11-24 10:07] yu199195 commented on #391
good

[2020-11-24 15:15] #389 closed

[2020-11-25 01:13] jcmob-afj opened #394 "Soul Admin 启动 SoulAdminBootstrap,会报数据库连接ssl警告,原因是MySQL在高版本需要指明是否进行SSL连接,是否需要把连接useSSL设置为false"
Wed Nov 25 09:01:29 CST 2020 WARN: Establishing SSL connection without server's identity verification is not recommended. According to MySQL 5.5.45+, 5.6.26+ and 5.7.6+ requirements SSL connection must be established by default if explicit option isn't set. For compliance with existing applications not using SSL the verifyServerCertificate property is set to 'false'. You need either to explicitly

[2020-11-25 01:35] #394 closed

[2020-11-25 05:12] dengliming opened #395 "插件处理(plugin_handle )表优化"
1、现在只做了规则处理字段的通用化，为方便选择器也支持 需要在这个表增加type类型用于区分select选择器、rule规则
2、sort（排序）字段  通用模板里面按sort排序取出来显示页面上

对应soul-admin、soul-dashboard都需要调整

[2020-11-25 05:16] dengliming commented on #395
@fightingting

[2020-11-25 05:44] #322 closed

[2020-11-25 06:23] yu199195 opened #396 "认证管理优化"
1. 之前的认证管理添加数据的时候，必须从metadata表中选appName，然后获取url。
现在应该要改 为，可以使用用户填写或者添加

![微信图片_20201125142314](https://user-images.githubusercontent.com/9673503/100190696-c8905980-2f29-11eb-94ad-439f4d393ac6.png)

[2020-11-25 06:28] Zhoutzzz commented on #396
认领

[2020-11-25 07:56] qq123zhz opened #398 "master添加用户报错"
org.dromara.soul.common.exception.SoulException: org.dromara.soul.common.exception.SoulException: javax.crypto.IllegalBlockSizeException: Input length not multiple of 16 bytes
	at org.dromara.soul.admin.utils.CipherUtils.lambda$1(CipherUtils.java:143) ~[classes/:na]
	at java.util.Optional.map(Optional.java:215) ~[na:1.8.0_161]
	at org.dromara.soul.admin.utils.CipherUtils.decryptStr(CipherUtils.jav

[2020-11-25 08:01] nuo-promise commented on #398
我看下

[2020-11-25 08:18] nuo-promise commented on #398
新增用户时候 报的错误么？

[2020-11-25 08:37] plm479104792 opened #399 "http对应的divide插件，能否做服务发现"
divide插件，服务上线之后，需要手动去后台添加ip:端口。增减机器、集群模式能否做下 服务自动发现。
手动配置太繁琐了

[2020-11-25 08:58] #398 closed

[2020-11-25 09:02] yu199195 commented on #399
客户端不是有注册吗

[2020-11-25 09:26] plm479104792 commented on #399
我想表达的意思是，类似springcloud动态注册自己的服务，不需要去在soul-admin后台上填ip:端口号

客户端注册，只是注册了基础的selector、rule，但是没有把自己的ip:端口号 给到soul-admin。
客户端上线之后，需要手动去后台找到对应的selector, 在selector上添加ip:端口。

[2020-11-25 09:44] yu199195 commented on #399
仔细看下客户端那块 不是有个配置, 这ip地址不就上去了吗？
[code]

[2020-11-25 10:09] plm479104792 commented on #399
contestPtah 对应但是selector的 name。
我看了下源码只用
soul:
  http:
    adminUrl: http://localhost:9095
    port: 8187
    **host:  加上这个才行**
    contextPath: /http
    appName: http
host 服务的ip或者是内部域名
加上host 。客户端注册到soul-admin的时候，才会把拼装 URI => 拼装DivideUpstream；之后同步到zk 才能真正的实现注册服务发现

[2020-11-25 10:11] plm479104792 commented on #399
host 可以在 SpringMvcClientBeanPostProcessor Bean注入的时候  获取当前机器到ip 替换

[2020-11-25 10:25] #391 closed

[2020-11-25 11:19] tydhot opened #401 "sofa plugin code polish"
sofa插件部分代码我还有需要优化的地方

[2020-11-25 14:45] dengliming opened #402 "Remove AppAuthQueryDTO"
## Feature Request

#### Is your feature request related to a problem? Please describe

现在这个AppAuthQueryDTO放到query包下面了

#### Describe the solution you'd like

和其他地方保持一致, 建议去掉然后直接使用AppAuthQuery即可

#### Describe alternatives you've considered

#### Additional context

[2020-11-25 15:33] Technoboy- opened #404 "Fix error value of minIdle"
The value of minIdle in RateLimiterConfig will be 48.
[code]
Should be 0.

[2020-11-25 15:39] Technoboy- opened #406 "Log print error"
SpringMvcClientBeanPostProcessor#post
[code]

[2020-11-25 15:47] dengliming commented on #404
great catch

[2020-11-25 15:58] Technoboy- opened #407 "Refactor HttpSyncDataService"
init httpClient in the constructor.

[2020-11-26 02:40] #406 closed

[2020-11-26 03:36] #404 closed

[2020-11-26 03:43] #407 closed

[2020-11-26 03:52] Technoboy- opened #412 "Add check logic for PluginDataSubscriber in SyncDataService"
As we use ObjectProvider to initialize PluginDataSubscriber,
[code]
we should check nonNull for it to avoid NPE :
[code]

[2020-11-26 06:33] #412 closed

[2020-11-26 10:46] KevinClair opened #415 "ApacheDubboServiceBeanPostProcessor初始化Dubbo元数据失败"
## Describe the bug
客户端通过@SoulDubboClient上传到Admin控制台上去的服务，由于调用/soul-client/dubbo-register方法在dubbo正式暴露服务之前，所以bootstrap的ApplicationConfigCache的build服务在做get时，会提示Dubbo no provider的错误。
[code]
## Environment

- Soul version(s): [e.g. 2.2.1]

## Steps to reproduce
* 具体表现为：
    * 启动Admin;
    * 启动Bootstrap(此时Dubbo元数据已经存在于元数据列表);
    * 启动Application(应用);
    * 应用启动成功，dubbo服务注册成功，但是Bootstrap此时抛出Dubbo no pro

[2020-11-26 10:49] yu199195 commented on #415
不是之前改了吗

[2020-11-26 10:53] KevinClair commented on #415
不是一个问题，之前的问题是Dubbo元数据上传到Admin那里，对于同样的path的元数据没有做更新，返回了path has exist，这个上次提交改了。这个问题其实以前一直存在，我以为是自己操作不当，这两天研究了一下，觉得是上传的顺序跟dubbo暴露的顺序问题导致的。

[2020-11-26 10:54] yu199195 commented on #415
ok,pr 上来吧， 客户端那调整吧

[2020-11-26 10:55] KevinClair commented on #415
是的，需要那边调整一下顺序。

[2020-11-26 14:59] Technoboy- opened #417 "Remove DEFAULT_IO_WORKER_COUNT"
SoulNettyWebServerFactory has overridden the DEFAULT_IO_WORKER_COUNT.
[code]
It's better to use the reactor default value - LoopResources.DEFAULT_IO_WORKER_COUNT

[2020-11-26 15:15] #417 closed

[2020-11-26 15:21] tydhot opened #419 "sentinel Chinese doc"
## Feature Request

#### Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is. Ex. I have an issue when [...]

#### Describe the solution you'd like

A clear and concise description of what you want to happen. Add any considered drawbacks.

#### Describe alternatives you've considered

A clear and concise description of any alternati

[2020-11-26 15:24] tydhot opened #420 "sofa-rpc插件中文档的编写"

[2020-11-26 15:27] nuo-promise opened #421 "Soul Readme update"
## Feature Request

#### Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is. Ex. I have an issue when [...]

#### Describe the solution you'd like

A clear and concise description of what you want to happen. Add any considered drawbacks.

#### Describe alternatives you've considered

A clear and concise description of any alternati

[2020-11-26 15:56] Technoboy- opened #423 "Fix some docs and format enum error msg"
1. fix some docs for AndMatchStrategy, MatchStrategy, OrMatchStrategy
[code]
2. Format enum error msg when not found the expected one.
[code]

[2020-11-26 16:24] #423 closed

[2020-11-26 17:06] tydhot commented on #401
https://www.sofastack.tech/projects/sofa-rpc/configuration-common/
sofa服务端不支持负载均衡和重试次数的配置 可能这部分数据要作为注解的一部分来配置

[2020-11-26 18:00] #401 closed

[2020-11-27 02:58] dengliming commented on #421
closed by [https://github.com/dromara/soul/pull/425](https://github.com/dromara/soul/pull/425)

[2020-11-27 02:58] #421 closed

[2020-11-27 05:42] dengliming commented on #415
@KevinClair 这个是解决了的对吧

[2020-11-27 06:00] strawberry-crisis commented on #402
assign

[2020-11-27 06:01] KevinClair commented on #415
嗯，已修复。

[2020-11-27 06:02] #415 closed

[2020-11-27 06:43] KevinClair opened #428 "Dubbo标签路由实现简单的灰度发布"
## Feature Request

#### Is your feature request related to a problem? Please describe
* 灰度发布

#### Describe the solution you'd like
* Dubbo的标签路由可以实现简单的灰度发布，可以通过http请求headers中的某个标签去指定请求tag的provider；
* 本来想着可以使用Dubbo的服务提供者直连的功能(#363)去实现，但是觉得不优雅，服务提供者直连多用于开发和测试环境调试。
* 目前暂用的灰度发布方案是用的这个。

#### Describe alternatives you've considered

* 灰度发布这块应该是要做成插件的，然后网关控制灰度规则，后续如果有更好的方案，再来讨论。

#### Additional contex

[2020-11-27 08:04] tydhot commented on #428
如果做成插件的话 光dubbo的话不妥吧  最好能够对于各个rpc插件有更抽象的适配

[2020-11-27 08:09] KevinClair commented on #428
嗯是的，目前简单的方式是做了这个，后面做一下具体的灰度插件，应该是跟客户端无关，由网关来控制灰度规则。

[2020-11-27 08:21] tydhot commented on #428
但是具体到根据灰度策略进行寻址再调用的操作是各个rpc插件内部强耦合的
能够抽象的应该是灰度策略的筛选和染色 这部分可以通过一个通用的前置插件完成 但是后续的寻址就需要每个rpc插件去自己实现了

[2020-11-27 08:22] yu199195 commented on #428
现在根据选择器和规则不就可以实现了吗

[2020-11-27 08:26] tydhot commented on #428
他的意思应该是同一个规则下再做类似AB Test的筛选 比如根据入参或者比例直调某个生产者

[2020-11-27 09:26] #428 closed

[2020-11-27 09:31] #399 closed

[2020-11-27 09:47] #395 closed

[2020-11-27 09:48] dengliming commented on #395
closed by [https://github.com/dromara/soul/pull/426](https://github.com/dromara/soul/pull/426)

[2020-11-27 09:54] dengliming commented on #402
@strawberry-crisis  Thanks for your contribution.

[2020-11-27 09:54] dengliming commented on #402
closed by [https://github.com/dromara/soul/pull/429](https://github.com/dromara/soul/pull/429)

[2020-11-27 09:54] #402 closed

[2020-11-28 10:33] yu199195 opened #435 "resilience4j doc for english"

[2020-11-28 10:38] yu199195 opened #436 "Add plugin_handler in Soul-admin"
## Feature Request

#### Is your feature request related to a problem? Please describe

Now that you have CRUD, it's in plug-in management and needs a separate page

[2020-11-28 11:08] jcmob-afj commented on #436
认领

[2020-11-29 14:37] #372 closed

[2020-11-29 14:37] dengliming commented on #369
closed by [https://github.com/dromara/soul/pull/434](https://github.com/dromara/soul/pull/434)

[2020-11-29 14:37] #369 closed

[2020-11-29 15:00] dengliming opened #442 "插件处理管理支持是否必填、默认值配置"
## Feature Request

现在只支持字段类型配置

A clear and concise description of what the problem is. Ex. I have an issue when [...]

增加是否必填、默认值配置、可考虑在最新预留的扩展字段`ext_obj`里面添加

A clear and concise description of what you want to happen. Add any considered drawbacks.

#### Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

#### Add

[2020-11-29 15:35] fightingting commented on #442
1

[2020-11-30 04:35] yu199195 opened #443 "Design logo for Soul"
design  logo

[2020-11-30 08:09] magicalxiaochen commented on #443
![soul_1](https://user-images.githubusercontent.com/54343840/100583990-759e1400-3326-11eb-9f7f-749ca8cf0d57.png)

[2020-11-30 08:10] magicalxiaochen commented on #443
![soul_2](https://user-images.githubusercontent.com/54343840/100584065-8e0e2e80-3326-11eb-881f-e89ad47f63e6.png)

[2020-11-30 08:28] yu199195 opened #444 "soul网关需要增加代码的test用例"
1. 首先做单元测试（包含现有类的测试，提升代码的覆盖率）。
2. 插件集成测试

[2020-11-30 08:30] SaberSola commented on #444
assign

[2020-11-30 10:12] yu199195 opened #445 "meta-data表格优化"
1.优化元数据管理列表表格
2.固定表格大小，过长的内容 使用 省略号显示（...）

[2020-11-30 10:13] fightingting commented on #445
get

[2020-11-30 13:32] dengliming opened #448 "Add document for plugin handle and soul dict management"

[2020-11-30 14:15] tydhot opened #449 "sofa插件不应该提供sofa依赖"
当前的sofa插件携带了sofa依赖

[2020-11-30 14:51] #449 closed

[2020-11-30 15:10] hellboy0621 commented on #444
想要参与，不知道有没有实现模板？

[2020-12-01 02:42] #420 closed

[2020-12-01 03:10] dengliming opened #454 "Optimize maven pom.xml configuration"
1. Put the dependent version number in properties For example, the following version needs to be lowered to `<properties></properties>`
[code]
2、
[code]
Replace with `jdk.version`、`project.build.sourceEncoding`

[2020-12-01 05:49] BestChong commented on #454
get

[2020-12-01 06:46] tydhot opened #456 "sentinel插件增加熔断后的url降级调用与配置"

[2020-12-01 06:47] SaberSola commented on #456
assign me

[2020-12-01 12:41] #254 closed

[2020-12-01 13:04] tydhot opened #458 "sofa插件文档的翻译"
https://gitee.com/shuaiqiyu/website/blob/master/docs/zh-cn/soul/plugin-sofa.md

https://gitee.com/shuaiqiyu/website/blob/master/docs/zh-cn/soul/user-sofa.md

如果贡献pr 参考 ： https://dromara.org/website/en-us/docs/soul/contributor.html

[2020-12-01 14:04] SaberSola opened #460 "Add test cases for plugins"
- [x] soul-plugin-base                     @BetterWp @SaberSola

- [x] soul-plugin-hystrix                  @nuo-promise

- [x] soul-plugin-ratelimiter            @wyc192273

- [x] soul-plugin-resilience4j         @SaberSola

- [x] soul-plugin-rewrite                 @wuudongdong

- [x] soul-plugin-sentinel                @wuliendan

- [x] soul-plugin-sign                      @lxl910128

- [x] so

[2020-12-01 14:06] plutokaito commented on #460
get soul-plugin-divide

[2020-12-01 14:08] wyc192273 commented on #460
get soul-plugin-ratelimiter

[2020-12-01 14:10] SaberSola commented on #460
get soul-plugin-resilience4j

[2020-12-01 14:11] eazonshaw commented on #460
soul-plugin-httpclient

[2020-12-01 14:11] en-o commented on #460
soul-plugin-springcloud

[2020-12-01 14:16] tydhot commented on #460
dubbo and sofa

[2020-12-01 14:22] lxl910128 commented on #460
get  soul-plugin-sign

[2020-12-01 14:27] BetterWp commented on #460
get soul-plugin-base

[2020-12-01 14:31] wuudongdong commented on #460
get soul-plugin-rewrite

[2020-12-01 14:32] guanyushen commented on #460
get soul-plugin-hystrix or  soul-plugin-springcloud or  soul-plugin-httpclient

[2020-12-01 14:40] xiaoshuanglee commented on #460
soul-plugin-httpclient

[2020-12-01 15:04] wuliendan commented on #460
get soul-plugin-sentinel

[2020-12-02 05:54] Hshshs1990 opened #464 "On"
## Question

// your question here;

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot reproduce it on current information, we will **close it**.

[2020-12-02 05:55] Hshshs1990 commented on #464
Ok

[2020-12-02 07:30] #464 closed

[2020-12-02 07:52] yu199195 opened #465 "Soul项目下新增README_cn.md"
1.需要将现在的readme，翻译成中文。 文件名为 ：README_cn.md

如果贡献pr，请参考  https://dromara.org/website/en-us/docs/soul/contributor.html

[2020-12-02 07:53] guanyushen commented on #458
get user-sofa

[2020-12-02 07:55] Zhoutzzz commented on #458
get plugin-sofa

[2020-12-02 07:55] yu199195 commented on #458
ok。

[2020-12-02 07:55] Gxz-NGU commented on #465
报名！

[2020-12-02 07:55] 0x12FD16B commented on #465
assign to me

[2020-12-02 07:55] tangtian8 commented on #465
1

[2020-12-02 08:56] nuo-promise opened #466 "soul-dashboard international feature complete"
## Feature Request

#### Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is. Ex. I have an issue when [...]

#### Describe the solution you'd like

A clear and concise description of what you want to happen. Add any considered drawbacks.

#### Describe alternatives you've considered

A clear and concise description of any alternati

[2020-12-02 09:28] JupiterMouse opened #468 "Plugin Dynamic Loading"
Now, we're adding plug-in JARS that need to be rebooted, which is a little uncomfortable.

So, I want to add dynamic loading.

Upload the plug-in JAR file to the file server, such as local, minio. Load them dynamically.

[2020-12-02 09:30] yu199195 commented on #468
good idea ！

[2020-12-02 09:34] #445 closed

[2020-12-02 09:38] nuo-promise commented on #468
good idea ！

[2020-12-02 09:42] dingw-github commented on #68
公司：杭州安卡
网址：
地点：杭州
联系方式：1459029075@qq.com
场景：服务网关

[2020-12-02 10:42] nuo-promise commented on #466
Complete

[2020-12-02 10:43] #466 closed

[2020-12-02 11:39] #465 closed

[2020-12-02 12:14] KevinClair opened #471 "Function list for dubbo"
## Feature Request
### Function List for dubbo
* Dubbo Tag Route；
* Dubbo support SoulException;
* Dubbo support ValidationException;

#### Is your feature request related to a problem? Please describe

No!

#### Describe the solution you'd like
* When api throws SoulException(“User's infomation has exist.”)，response:
[code]
* When ValidationFilter validate the request param of method,throws Valid

[2020-12-02 12:45] yu199195 commented on #471
每个功能一个pr，都提交一下吧

[2020-12-02 13:41] tydhot opened #472 "Sentinel插件默认配置的代码优化"

[2020-12-02 14:26] Technoboy- opened #473 "Refactor MetricsTrackerFacade"
For creating and starting one instance of metricsTrackerManager, it's better to use atomic for MetricsTrackerFacade#start

[2020-12-02 14:43] ipipman commented on #443
![111](https://user-images.githubusercontent.com/75295234/100887304-c57c0700-34ef-11eb-987f-5b2da777d07f.jpeg)

[2020-12-02 14:43] ipipman commented on #443
![333](https://user-images.githubusercontent.com/75295234/100887357-d88ed700-34ef-11eb-8b1d-a8a502028a87.jpeg)

[2020-12-02 14:44] ipipman commented on #443
![Uploading 222.jpeg…]()

[2020-12-02 14:45] ipipman commented on #443
![222](https://user-images.githubusercontent.com/75295234/100887549-0ecc5680-34f0-11eb-985e-c7e9df97130e.jpeg)

[2020-12-02 14:54] Technoboy- opened #476 "MetricsThreadPoolExecutor bug"
When the queue is full, the main thread will print the log crazily and make CPU full.
To reproduce the bug：
[code]

[2020-12-02 15:06] #473 closed

[2020-12-02 15:11] #476 closed

[2020-12-02 15:15] #472 closed

[2020-12-03 03:12] dengliming opened #480 "Add test cases for soul-sync-data-center module"
soul-sync-data-center module，If you are interested, you can reply to the participating modules The name of '@' behind is someone got.

- [x] soul-sync-data-http @0x12FD16B
- [x] soul-sync-data-nacos @kminjava
- [x] soul-sync-data-websocket @cocoZwwang
- [x] soul-sync-data-zookeeper @zendwang

Please read the [Contribution Guideline](https://dromara.org/website/en-us/docs/soul/contributor.html) bef

[2020-12-03 03:13] dengliming opened #481 "Optimize the code for soul client"
At present, the following classes have similar invocation methods, but the registration of plug-in log copy is different, let's see if we can optimize:
[code]

[code]

[2020-12-03 03:18] 0x12FD16B commented on #480
please assign to me

[2020-12-03 03:19] 0x12FD16B commented on #480
soul-data-sync-http

[2020-12-03 03:24] Severezh commented on #481
please assign to me

[2020-12-03 03:26] kminjava commented on #480
I do. soul-data-nacos

[2020-12-03 03:53] cocoZwwang commented on #480
soul-sync-data-websocket

[2020-12-03 03:58] dengliming opened #482 "soul-common的ParamCheckUtils添加测试用例"

[2020-12-03 04:15] zendwang commented on #480
please assign to me.
soul-sync-data-zookeeper

[2020-12-03 04:42] marina432 commented on #482
1

[2020-12-03 06:24] yu199195 opened #484 "soul-common工具类测试集合"
需要对soul-common模块下未测试的工具类进行测试

- [x] GsonUtils.java @Trafalgar-YuI
- [x] HttpParamConverter.java @zendwang
- [x] JsonUtils.java @strawberry-crisis
- [x] SignUtils.java @UniverseInHeart
- [x] UUIDUtils.java @BetterWp
- [x] VersionUtils.java @Lin1nGithub

constant包下的测试类：
- [x] ZkPathConstants.java @songyuequan

pull reuqest 流程请看 ： https://dromara.org/website/en-us/docs/soul/contributor.html

[2020-12-03 06:27] tangtian8 commented on #482
please assign to me

[2020-12-03 06:28] tangtian8 commented on #484
please assign to me

[2020-12-03 06:28] Trafalgar-YuI commented on #484
get GsonUtils.java

[2020-12-03 06:28] strawberry-crisis commented on #484
plz assign JsonUtils.java to me

[2020-12-03 06:28] zendwang commented on #484
please assign to me

[2020-12-03 06:29] fightingting commented on #484
get SignUtils.java

[2020-12-03 06:29] Lin1nGithub commented on #484
get VersionUtils.java

[2020-12-03 06:29] songyuequan commented on #484
take VersionUtils.java

[2020-12-03 06:29] BetterWp commented on #484
get UUIDUtils.java

[2020-12-03 06:30] songyuequan commented on #484
take ZkPathConstants.java

[2020-12-03 06:31] UniverseInHeart commented on #484
take  SignUtils.java

[2020-12-03 06:33] yu199195 commented on #484
@UniverseInHeart 领完了，下次优先分个给你

[2020-12-03 06:37] UniverseInHeart commented on #484
thanks (*￣︶￣)

[2020-12-03 06:38] yu199195 opened #485 "Test enums for soul-common"
- [x] ConfigGroupEnum @coderlmm
- [x] DataEventTypeEnum @50133142
- [x] DataSyncEnum @patrickWuP
- [x] HttpMethodEnum @tangtian8
- [x] MatchModeEnum @sherk7monster
- [ ] OperatorEnum @mcnultyboy
- [x] ParamTypeEnum @wilbur1991
- [x] PluginEnum @abysscat-yj
- [ ] RpcTypeEnum @xiaoshuanglee
- [x] SerializeEnum @Wincher

pull reuqest ： https://dromara.org/website/en-us/docs/soul/contributor.html

[2020-12-03 06:41] 50133142 commented on #485
take DataEventTypeEnum

[2020-12-03 06:41] xiaoshuanglee commented on #485
RpcTypeEnum

[2020-12-03 06:41] tangtian8 commented on #485
please assign to me HttpMethodEnum

[2020-12-03 06:41] coderlmm commented on #485
领取 ConfigGroupEnum

[2020-12-03 06:41] Wincher commented on #485
take SerializeEnum

[2020-12-03 06:41] abysscat-yj commented on #485
PluginEnum

[2020-12-03 06:41] wilbur1991 commented on #485
take ParamTypeEnum

[2020-12-03 06:41] mcnultyboy commented on #485
OperatorEnum

[2020-12-03 06:41] mrly202016 commented on #485
take RpcTypeEnum

[2020-12-03 06:42] mrly202016 commented on #485
take MatchModeEnum

[2020-12-03 06:42] patrickWuP commented on #485
take DataSyncEnum

[2020-12-03 06:44] sherk7monster commented on #485
take MatchModeEnum

[2020-12-03 06:45] yu199195 commented on #485
@sherk7monster  领取完了，下次优先分配给你

[2020-12-03 08:25] CNlichao opened #489 "rewrite插件有示例么"
## Question

配置rewirte match  url；这样处理的结果进入divide我看到处理的还是原始url不是rewrite的url；
rewrite需要怎么使用？请提供下示例，谢谢！

[2020-12-03 09:22] xiangyang-gao opened #492 "Now slow down traffic (traffic warming up) for downstream HTTP services"
soul现在针对下游的http服务，慢放流量（流量预热）
适用的业务场景：
下游的http服务刚启动成功时，会不太稳定，甚至有些链接可能还没建立成功，这个时候需要慢放流量（流量预热），避免大流量产生大量报错或耗时久问题。
属于服务稳定性需求
流量模型如下
![image](https://user-images.githubusercontent.com/15973635/100989676-0f1a2f80-358c-11eb-99f6-8bab8de0e3d3.png)

[2020-12-03 09:43] jaychoubaby opened #493 "数据缓存失效"
## Describe the bug

## Environment

- Soul version(s): [e.g. 2.2.1]

## Steps to reproduce
使用一个内存较小的服务器运行，并频繁更新缓存

## Expected behavior

## Debug logs

[2020-12-03 09:45] yu199195 commented on #493
能否描述清楚，有多小的内存？  有没gc？ 内存溢出的日志？

[2020-12-03 09:47] yzhuomaoy opened #494 "typo issue in HttpClientPluginConfiguration of prefix define for httpClientProperties"
## Describe the bug
see title

## Environment

- Soul version(s): [e.g. 2.2.1]

## Fix the typo issue
    @ConfigurationProperties(prefix = "soul.httpclinet")  -> fixed to "soul.httpclient"

[2020-12-03 10:09] tydhot commented on #494
如果你有空的话 能不能参考这个流程https://dromara.org/website/en-us/docs/soul/contributor.html 提一个pr解决这个问题呢

[2020-12-03 11:23] #494 closed

[2020-12-03 17:10] dengliming commented on #489
https://dromara.org/website/zh-cn/docs/soul/plugin-rewrite.html

[2020-12-04 01:01] CNlichao commented on #489
这个不是示例，只是引入配置

[2020-12-04 02:36] dengliming commented on #482
solved by [https://github.com/dromara/soul/pull/483](https://github.com/dromara/soul/pull/483) and thanks to @marina432

[2020-12-04 02:36] #482 closed

[2020-12-04 02:42] nuo-promise commented on #493
@jaychoubaby 方便 贴出 当时 错误的 log 么？

[2020-12-04 02:44] jaychoubaby commented on #493
其实主要是因为服务器运行了太多项目导致内存不够，重启网关之后恢复正常

[2020-12-04 02:45] jaychoubaby commented on #493
这个需要等待服务器再次异常的时候才可以截取到，我会留意下日志 稍后反馈

[2020-12-04 03:03] yu199195 commented on #458
alreay commit。 thanks

[2020-12-04 03:04] Grrr1Want2 opened #503 "Java"
## Question

// your question here;

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot reproduce it on current information, we will **close it**.

[2020-12-04 03:13] yu199195 commented on #503
what question?

[2020-12-04 03:18] dengliming opened #505 "Add test cases for soul-admin utils"
**_util:_**
- [x] AesUtils
- [x] CipherUtils

Please read the [Contribution Guideline](https://dromara.org/website/en-us/docs/soul/contributor.html) before submitting the PR

[2020-12-04 03:19] dengliming opened #506 "Add test cases for soul-admin DataChangedListener"
**_listener:_**
- [ ] http @nuo-promise
- [ ] nacos @cottom
- [ ] websocket @hyuk-sudo
- [ ] zookeeper @tyjwan

Please read the [Contribution Guideline](https://dromara.org/website/en-us/docs/soul/contributor.html) before submitting the PR

[2020-12-04 03:20] dengliming opened #507 "Add test cases for soul-admin service"
**_service_**
- [x] AppAuthService @jnzhouhao
- [x] DashboardUserService @cherlas
- [x] EnumService @onlyonezhongjinhui
- [x] MetaDataService @funpad
- [x] PluginHandleService @keru-s
- [x] PluginService @wuliendan
- [x] RuleService @kennhua
- [x] SelectorService @Lin1nGithub
- [x] SoulClientRegisterService @sakiila
- [x] SyncDataService @Redick01

Please read the [Contribution Guideline](https://

[2020-12-04 03:21] dengliming opened #508 "Add test cases for soul-admin config"
**_config:_**

- [x] DataSyncConfiguration @xwzwmt
- [x] HttpSyncProperties @onlyonezhongjinhui
- [x] NacosConfiguration、NacosProperties @cmj167
- [x] SecretConfiguration、SecretProperties @jjnnzb
- [x] SwaggerConfiguration @Lin1nGithub
- [x] WebConfig @Yejiajun
- [x] WebsocketSyncProperties @xiaoshen11
- [x] ZookeeperConfiguration、ZookeeperProperties @fengzhenbing

Please read the [Contribution Gu

[2020-12-04 03:22] dengliming opened #509 "Add test cases for soul-admin mapper"
**_mapper_**
- [x] AppAuthMapper @tangtian8
- [x] AuthParamMapper @sydgeek
- [x] AuthPathMapper @itmiwang
- [x] DashboardUserMapper @peiht
- [x] MetaDataMapper @Pismery
- [x] PluginHandleMapper @NemoIntellego
- [x] PluginMapper @HJ43
- [x] RuleConditionMapper @Andy-86
- [x] RuleMapper @hellboy0621
- [x] SelectorConditionMapper @bigwillc
- [x] SelectorMapper @coderlmm

Please read the [Contribution

[2020-12-04 03:22] dengliming opened #510 "Add test cases for soul-admin controller"
**_controller_**
- [ ] AppAuthController @magicalxiaochen
- [x] ConfigController @HoldDie
- [x] DashboardUserController @operaxxx
- [x] IndexController @lw1243925457
- [x] MetaDataController @fcwalker
- [x] PlatformController @wangwenjie666
- [x] PluginController @guanyushen
- [x] PluginHandleController @charlesgongC
- [x] RuleController @shijie666
- [x] SelectorController @cchenxi
- [x] SoulClien

[2020-12-04 03:27] yu199195 opened #511 "refactor chinese to english in soul.sql"
Hi :
All communitys, we should  refactor chinese to english in soul.sql

you can find it in :   https://github.com/dromara/soul/blob/master/script/soul.sql  and  https://github.com/dromara/soul/blob/master/soul-admin/src/main/resources/META-INF/schema.sql

The Chinese description in it is changed to English.

Please read the Contribution Guideline before submitting the PR  .  thanks !

[2020-12-04 03:32] HoldDie commented on #510
1

[2020-12-04 03:32] nuo-promise commented on #505
get

[2020-12-04 03:32] yiwenlong commented on #511
get

[2020-12-04 03:32] evasnowind commented on #511
assign me

[2020-12-04 03:33] Lin1nGithub commented on #508
get SwaggerConfiguration

[2020-12-04 03:33] BestChong commented on #508
get

[2020-12-04 03:33] 0x12FD16B commented on #506
assign to me

[2020-12-04 03:34] tangtian8 commented on #509
plase assign to me

[2020-12-04 03:34] lw1243925457 commented on #510
1

[2020-12-04 03:34] Lin1nGithub commented on #507
get SelectorService

[2020-12-04 03:34] Yejiajun commented on #508
get WebConfig

[2020-12-04 03:34] coderlmm commented on #509
take SelectorMapper

[2020-12-04 03:35] nuo-promise commented on #506
get

[2020-12-04 03:35] hellboy0621 commented on #509
take RuleMapper

[2020-12-04 03:36] wuliendan commented on #507
get PluginService

[2020-12-04 03:36] Redick01 commented on #507
SyncDataService

[2020-12-04 03:36] Redick01 commented on #507
get SyncDataService

[2020-12-04 03:37] kennhua commented on #507
get RuleService

[2020-12-04 03:37] operaxxx commented on #510
get

[2020-12-04 03:37] HoldDie commented on #505
get

[2020-12-04 03:37] magicalxiaochen commented on #510
get AppAuthController

[2020-12-04 03:37] onlyonezhongjinhui commented on #508
HttpSyncProperties

[2020-12-04 03:37] funpad commented on #511
手都这么快的么

[2020-12-04 03:38] onlyonezhongjinhui commented on #507
get EnumService

[2020-12-04 03:38] HoldDie commented on #505
please assign me.

[2020-12-04 03:39] funpad commented on #507
SyncDataService

[2020-12-04 03:40] branchen commented on #510
get IndexController

[2020-12-04 03:40] funpad commented on #507
MetaDataService

[2020-12-04 03:40] shijie666 commented on #510
get RuleController

[2020-12-04 03:42] wangwenjie666 commented on #510
get PlatformController

[2020-12-04 03:42] jnzhouhao commented on #507
get  AppAuthService

[2020-12-04 03:43] fcwalker commented on #510
get MetaDataController

[2020-12-04 03:43] #503 closed

[2020-12-04 03:44] HJ43 commented on #509
take PluginMapper

[2020-12-04 03:48] branchen commented on #510
get SoulClientController

[2020-12-04 03:49] sakiila commented on #507
get  SoulClientRegisterService

[2020-12-04 03:50] cottom commented on #506
nacos case

[2020-12-04 03:52] cherlas commented on #507
get DashboardUserService

[2020-12-04 03:52] peiht commented on #509
take DashboardUserMapper

[2020-12-04 03:52] keru-s commented on #507
get PluginHandleService

[2020-12-04 03:53] tydhot opened #513 "SofaMetaDataSubscriber miss unSubscribe method"
## Describe the bug

## Environment

- Soul version(s): [e.g. 2.2.1]

## Steps to reproduce

## Expected behavior

## Debug logs

<details>
<summary>Click to expand</summary>

[code]
</details>

[2020-12-04 03:55] KevinClair commented on #471
#### 功能列表
- [x] Dubbo标签路由
- [x] soul对dubbo服务自定义异常的支持
- [x] soul对dubbo服务参数校验异常的支持

[2020-12-04 03:56] hyuk-sudo commented on #506
take websocket case

[2020-12-04 03:56] cchenxi commented on #510
get SelectorController

[2020-12-04 03:57] sydgeek commented on #509
take AuthParamMapper

[2020-12-04 04:05] tyjwan commented on #506
get zookeeper test case

[2020-12-04 04:09] xwzwmt commented on #508
get DataSyncConfiguration

[2020-12-04 04:10] xiaoshen11 commented on #508
get WebsocketSyncProperties

[2020-12-04 04:19] guanyushen commented on #510
get  PluginController

[2020-12-04 04:22] charlesgongC commented on #510
get PluginHandleController

[2020-12-04 04:26] fengzhenbing commented on #508
get WebsocketSyncProperties

[2020-12-04 04:27] fengzhenbing commented on #508
ZookeeperConfiguration、ZookeeperProperties

[2020-12-04 04:31] Andy-86 commented on #509
take RuleConditionMapper

[2020-12-04 04:33] #513 closed

[2020-12-04 04:33] jjnnzb commented on #508
get SecretConfiguration、SecretProperties

[2020-12-04 04:35] cmj167 commented on #508
get NacosConfiguration、NacosProperties

[2020-12-04 04:45] itmiwang commented on #509
take AuthPathMapper

[2020-12-04 04:46] NemoIntellego commented on #509
take PluginHandleMapper

[2020-12-04 04:53] Pismery commented on #509
take MetaDataMapper

[2020-12-04 06:08] bigwillc commented on #509
teke SelectorConditionMapper

[2020-12-04 06:39] PayneWoo commented on #505
CipherUtils

[2020-12-04 09:17] nuo-promise opened #527 "Whether the Test Case needs to be standardized？"
## Feature Request

#### Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is. Ex. I have an issue when [...]
Improve code quality

#### Describe the solution you'd like

A clear and concise description of what you want to happen. Add any considered drawbacks.
We can divide it into
Functions, logic, and scenarios
I think this can be

[2020-12-04 09:24] tydhot commented on #527
How to describe the standard

[2020-12-04 09:30] nuo-promise commented on #527
My understanding is that this is actually to see the function of the class, if it is just a simple tool class, then it is a simple functional test. If there is a relationship between the functions of the class itself, then the function test needs to test whether the relationship between the functions gets through after passing it. Scenario testing this currently I think should be attached with mod

[2020-12-04 10:12] HoldDie commented on #505
I've added both classes

[2020-12-04 10:14] dengliming commented on #505
solved by [https://github.com/dromara/soul/pull/523](https://github.com/dromara/soul/pull/523), thanks to @HoldDie

[2020-12-04 10:14] #505 closed

[2020-12-04 10:16] Technoboy- opened #530 "Enhanced SoulThreadFactory"
Add priority for thread.

[2020-12-04 10:24] #530 closed

[2020-12-04 10:25] #456 closed

[2020-12-04 10:26] Technoboy- opened #533 "Fix typo"
For field and method in class OkHttpTools.
[code]

[2020-12-04 10:26] #533 closed

[2020-12-04 10:26] Technoboy- opened #534 "Fix typo"
For field and method in class OkHttpTools.
[code]

[2020-12-04 10:35] #534 closed

[2020-12-04 10:41] #506 closed

[2020-12-04 12:52] onlyonezhongjinhui opened #538 "Add test cases for soul-admin EnumService,HttpSyncProperties"
1.  EnumService

2. HttpSyncProperties

[2020-12-04 13:55] #538 closed

[2020-12-04 13:56] onlyonezhongjinhui commented on #538
duplicate issue

[2020-12-05 07:37] tangtian8 opened #558 "soul-admin下 AppAuthMapper 中 insertSelective 方法异常"
## Describe the bug
insertSelective(AppAuthDO appAuthDO)
如果appAuthDO不传入userId和extInfo该方法正确使用
但是传入extInfo或userId其中一个 会抛出异常

## Environment

- Soul version(s): [e.g. 2.2.1]

## Steps to reproduce
在测试用例中
实例AppAuthDO对象appAuthDO
每个属性都设置值
特别注意给下面赋值
        appAuthDO.setExtInfo("");
        appAuthDO.setUserId("");
调用insertSelective(AppAuthDO appAuthDO)

## Expected behavior
成功返回1

## Debug logs

<detail

[2020-12-05 07:56] dengliming commented on #558
![image](https://user-images.githubusercontent.com/7796156/101237277-56cac380-3712-11eb-8f9f-bf8799edc8af.png)

你改下这里吧

[2020-12-05 10:39] #558 closed

[2020-12-05 14:01] songyuequan commented on #484
Hey~  I have finished ZkPathConstants.java, I think you forget to mark it in the TODO list @yu199195

[2020-12-05 14:13] dengliming commented on #454
@BestChong  Are you still flow this issue?

[2020-12-05 15:13] songyuequan commented on #485
Hey~  @patrickWuP has  finished    DataSyncEnum   on  https://github.com/dromara/soul/pull/518  @yu199195

[2020-12-05 16:16] yiwenlong commented on #443
![981607184795_ pic](https://user-images.githubusercontent.com/9609929/101248415-da5ad380-3757-11eb-9396-bdd5281243b8.jpg)

符号取自实验室过滤分离装置的形状，然后还是中国结的一部分。

[2020-12-05 16:53] dengliming opened #570 "Only use SecretProperties or remove it"
## Describe the bug

This bean is defined as below code:
[code]
But we currently only use in this way. and the key is inconsistent.
`org.dromara.soul.admin.service.impl.DashboardUserServiceImpl`
`org.dromara.soul.admin.controller.DashboardUserController`
[code]

## Environment

- Soul version(s): [e.g. 2.2.1]

## Steps to reproduce

## Expected behavior

Keep consistent. Only use `SecretProperties

[2020-12-06 01:52] yu199195 commented on #484
all finish it， we will close it

[2020-12-06 01:52] #484 closed

[2020-12-06 02:57] jjnnzb commented on #570
Get this task.

[2020-12-06 12:02] #493 closed

[2020-12-06 14:23] #481 closed

[2020-12-06 14:47] lxl910128 opened #589 "Bug about sign timeout in sign-plugins"
## Describe the bug

It‘s about sign plugin.
when I use US system( system time is not BeiJing time zone), sign plugin timeout didn't work.

## Environment

- Soul version(s): 2.2.1

## Steps to reproduce

sign plugin has a future about sign timeout , default is 5 min
In my deployment environment , time zone is GMT-8 , not GMT +8(Beijing time)
Sign timeout is not works, After 8 hours and 5 minutes,

[2020-12-06 15:15] tydhot opened #590 "Add test cases for soul-plugin-apache-dubbo"
- [x] ApacheDubboPluginDataHandler @kennhua
- [x] BodyParamPlugin @HoldDie
- [x] DubboResponsePlugin @plutokaito
- [x] ApacheDubboPlugin @songyuequan

Please read the [Contribution Guideline](https://dromara.org/website/en-us/docs/soul/contributor.html) before submitting the PR

You can take reference sofa plugin's test case.The logic is basically consistent.

[2020-12-06 15:18] songyuequan commented on #590
take ApacheDubboPlugin

[2020-12-06 15:19] tydhot opened #592 "Add test cases for soul-plugin-alibaba-dubbo"
- [x] AlibabaDubboPluginDataHandler @xiaoshen11
- [x] BodyParamPlugin @lxl910128
- [x] DubboResponsePlugin @lw1243925457
- [x] AlibabaDubboPlugin @HoldDie

Please read the [Contribution Guideline](https://dromara.org/website/en-us/docs/soul/contributor.html) before submitting the PR

You can take reference sofa plugin's test case.The logic is basically consistent.

[2020-12-06 15:20] tydhot commented on #590
ok👌

[2020-12-06 15:31] #589 closed

[2020-12-06 15:33] kennhua commented on #590
take ApacheDubboPluginDataHandler

[2020-12-06 15:33] xiaoshen11 commented on #592
get AlibabaDubboPlugin

[2020-12-06 15:33] HoldDie commented on #592
get DubboResponsePlugin

[2020-12-06 15:34] HoldDie commented on #592
啪的一下，很快啊！

[2020-12-06 15:34] plutokaito commented on #590
get DubboResponsePlugin

[2020-12-06 15:35] HoldDie commented on #590
get BodyParamPlugin

[2020-12-06 15:36] lxl910128 commented on #592
get BodyParamPlugin

[2020-12-06 15:36] HoldDie commented on #592
ok，thanks

[2020-12-06 15:39] lw1243925457 commented on #592
DubboResponsePlugin get

[2020-12-06 15:41] xxl115 commented on #590
没啦

[2020-12-06 15:41] FocusZhouGD commented on #590
没了？

[2020-12-06 16:32] Trafalgar-YuI opened #595 "About GsonUtils.java issue"
## Describe the bug
has three issue in GsonUtils.java
1.  the convertToMap of method with high Cognitive Complexity will be difficult to maintain. Too many nested relationships,  to  read the code.
[code]
2. And the convertToMap of method has Gson's class about JsonArray, it will append quotation marks around String. I will check JsonArray.java.
it's test case
[code]
it's result
![](https://user-i

[2020-12-06 16:43] dengliming commented on #570
@jjnnzb Thanks for your contribution.

[2020-12-06 16:43] dengliming commented on #570
closed by [https://github.com/dromara/soul/pull/593](https://github.com/dromara/soul/pull/593)

[2020-12-06 16:43] #570 closed

[2020-12-07 02:18] CNlichao commented on #489
怎么就给关了，也没解决问题啊

[2020-12-07 02:43] yu199195 commented on #595
can you fix it？

[2020-12-07 03:03] tydhot commented on #489
Can you describe in detail how you use the plugin and how it is ineffective

[2020-12-07 03:09] Trafalgar-YuI commented on #595
yeah, I will do

[2020-12-07 04:09] CNlichao commented on #489
### rewrite配置
![rewrite config](https://github.com/CNlichao/images/blob/main/a.png?raw=true)
### divide 配置
![divide config](https://github.com/CNlichao/images/blob/main/b.png?raw=true)
### 请求地址
![request](https://github.com/CNlichao/images/blob/main/c.png?raw=true)
### AbstractMatchStrategy匹配规则的时候用的realpath
![AbstractMatchStrategy](https://github.com/CNlichao/images/blob/main/d.png?raw=true)
### d

[2020-12-07 04:11] nuo-promise opened #596 "soul-admin Change all Chinese into English"
## Feature Request

#### Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is. Ex. I have an issue when [...]

#### Describe the solution you'd like

A clear and concise description of what you want to happen. Add any considered drawbacks.

#### Describe alternatives you've considered

A clear and concise description of any alternati

[2020-12-07 07:05] nuo-promise opened #600 "soul-admin modifies all entity data classes constructed as Builder schemas"
## Feature Request

#### Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is. Ex. I have an issue when [...]

#### Describe the solution you'd like

A clear and concise description of what you want to happen. Add any considered drawbacks.

#### Describe alternatives you've considered

A clear and concise description of any alternati

[2020-12-07 07:54] yu199195 commented on #600
good idea！

[2020-12-07 14:06] HoldDie commented on #454
1

[2020-12-07 15:12] tydhot opened #607 "Add test cases for soul-client-springmvc"

[2020-12-08 01:09] CNlichao commented on #489
@yu199195 @tydhot @yzhuomaoy

[2020-12-08 01:40] maoly1012 opened #612 "内存持续缓慢增长，长时间（三个月）增长至70%多"
## 内存持续缓慢增长，长时间（三个月）增长至70%多，而且没有下降趋势

## Environment

- Soul version(s): 2.1.2-RELEASE

## mat分析内存泄漏如下图
![Image of mat](https://images.gitee.com/uploads/images/2020/1208/093037_b283b517_1241133.png)

[2020-12-08 01:42] dengliming commented on #612
提供下你dump出的源文件？

[2020-12-08 02:14] tydhot commented on #595
About no.2 , do you think there is something wrong with parseMap?

[2020-12-08 02:22] wolong0128 commented on #590
can i have a task?

[2020-12-08 02:32] maoly1012 commented on #612
文件上传不了，只能传10m,    QQ群里已经上传过了

[2020-12-08 02:35] SaberSola commented on #612
上次我看了一下,chunk里边是lettcue的线程,但是存的数据有很多业务数据,soul里边用到的lettcue只有redis限流的么,不应该有大量的业务数据,是不是你这边对网关有扩展造成连接泄露之类的

[2020-12-08 03:55] Trafalgar-YuI commented on #595
I fount the reason, the JsonArray's inside is JsonElement, but it forced transform to Object. Using Object's toString method is wrong.
So, using JsonElement's getAsString method can resolve it.

[2020-12-08 05:34] #595 closed

[2020-12-08 05:54] #607 closed

[2020-12-08 05:59] tydhot opened #615 "add test case for module soul-client"
- [ ] soul-client-alibaba-dubbo @0x12FD16B
- [ ] soul-client-apache-dubbo @nuo-promise
- [x] soul-client-springcloud @plutokaito
- [x] soul-client-sofa @HoldDie

Please read the [Contribution Guideline](https://dromara.org/website/en-us/docs/soul/contributor.html) before submitting the PR

You can take reference soul-client-springmvc's test case.

[2020-12-08 06:00] branchen commented on #615
get soul-client-alibaba-dubbo

[2020-12-08 06:00] plutokaito commented on #615
get soul-client-springcloud

[2020-12-08 06:00] lw1243925457 commented on #615
get soul-client-apache-dubbo

[2020-12-08 06:02] nuo-promise commented on #615
get soul-client-sofa

[2020-12-08 06:03] tydhot commented on #615
猫大不是说有别的安排给你么。。。

[2020-12-08 06:07] HoldDie commented on #615
get soul-client-sofa

[2020-12-08 06:07] HoldDie commented on #615
那我来吧，嘎嘎

[2020-12-08 06:08] HoldDie commented on #615
啪的一下子，很快奥！

[2020-12-08 06:36] CNlichao commented on #489
追加一问:
sign是不是也只支持单个uri匹配：
![sign config](https://github.com/CNlichao/images/blob/main/f.png?raw=true)
![sign code](https://github.com/CNlichao/images/blob/main/g.png?raw=true)
我rule 和 selector 内容配置的都是match 和 /sb-demo-api/**
代码这里直接是equal就过不去了；
是不是设计初中就是单个uri个赋权

[2020-12-08 06:39] yu199195 commented on #489
Can you describe it in English？

[2020-12-08 06:49] yu199195 opened #616 "refactor chinese to English in DefaultSignService"
- [ ] You have read the [contribution guidelines](https://dromara.org/en-us/docs/soul/contributor.html).
- [ ] You submit test cases (unit or integration tests) that back your changes.
- [ ] Your local test passed `mvn clean install -Dmaven.javadoc.skip=true`.

[2020-12-08 06:52] Zhoutzzz commented on #616
get

[2020-12-08 06:53] xxl115 commented on #616
get

[2020-12-08 06:56] #489 closed

[2020-12-08 07:01] #442 closed

[2020-12-08 07:02] #600 closed

[2020-12-08 07:02] CNlichao commented on #489
中文形容的问题不是问题？还是关掉了就不是问题， Cann't you read Chinese?

[2020-12-08 07:03] CNlichao commented on #489
@tydhot  @yzhuomaoy

[2020-12-08 07:11] yu199195 commented on #612
We will close this issue. You can write a new issue in English. We will look at this issue.

[2020-12-08 07:11] #612 closed

[2020-12-08 07:13] tydhot commented on #489
All our issues are preparing to be translated into English, so we hope you can reopen an issue in English about this question .

[2020-12-08 07:13] #458 closed

[2020-12-08 07:17] #396 closed

[2020-12-08 09:13] roneywei opened #619 "用户鉴权soul是怎么考虑的。比如jwt oauth2"
## Question

// your question here;

Please pay attention on issues you submitted, because we maybe need more details.
If no response anymore and we cannot reproduce it on current information, we will **close it**.
用户鉴权soul是怎么考虑的。比如jwt oauth2

[2020-12-08 09:32] yu199195 commented on #619
We will close this issue. You can open a new issue in English

[2020-12-08 09:32] #619 closed

[2020-12-08 09:32] #444 closed

[2020-12-08 10:52] jcmob-afj commented on #68
公司：深圳宏崎达技术有限公司
网址：http://www.cnhqd.com/
地点：中国北京
联系方式：qq:987232424
场景：http服务api网关(目前处于调研阶段)

[2020-12-08 14:18] #454 closed

[2020-12-09 01:55] roneywei opened #631 "support JWT 、oauth2？"
## Feature Request

support JWT 、oauth2

[2020-12-09 01:57] dengliming commented on #631
We are not support yet and contribution is welcome.

[2020-12-09 02:34] HoldDie commented on #631
Is it coupling with the business?

[2020-12-09 04:10] #616 closed

[2020-12-09 07:36] fightingting commented on #436
get

[2020-12-09 08:33] nuo-promise opened #634 "Change Selector Type Chinese To English And update soul-dashboard file"
## Feature Request

#### Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is. Ex. I have an issue when [...]

#### Describe the solution you'd like

A clear and concise description of what you want to happen. Add any considered drawbacks.

#### Describe alternatives you've considered

A clear and concise description of any alternati

[2020-12-09 11:04] #634 closed

[2020-12-09 11:40] yzhuomaoy commented on #70
根据最新(2.2.1版本)的使用WebClient，该重试可以加进来，尝试了下可用，是否存在内存溢出风险？

[2020-12-09 11:41] yzhuomaoy commented on #70
根据最新(2.2.1版本)的使用WebClient，该重试可以加进来，尝试了下可用，是否存在内存溢出风险？

[2020-12-09 12:39] tydhot commented on #70
Maybe you need to provide proof that the problem no longer exists, such as links to version iterations.And we encourage communication in English in github

[2020-12-09 13:43] #419 closed

[2020-12-09 13:46] tydhot opened #639 "translate sentinel Chinese doc to English"
the doc: https://gitee.com/shuaiqiyu/website/blob/master/docs/zh-cn/soul/plugin-sentinel.md
During the translation, please read sentinel's wiki for reference.

[2020-12-09 14:01] bigwillc commented on #639
get

[2020-12-09 14:04] yiwenlong opened #640 "Add test case for RuleHandleFactory"
- [ ] RuleHandleFactory

[2020-12-10 02:10] #527 closed

[2020-12-10 03:13] yiwenlong opened #648 "Add test cases for AppAuthController"
- [ ] AppAuthController

[2020-12-10 03:13] #640 closed

[2020-12-10 03:13] yiwenlong opened #649 "Add test cases for DashboardUserController"
- [ ] DashboardUserController

[2020-12-10 03:18] #649 closed

[2020-12-10 04:20] #648 closed

[2020-12-10 07:55] nuo-promise opened #651 "Add Test Case For soul-metrics"
## Feature Request

#### Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is. Ex. I have an issue when [...]

#### Describe the solution you'd like

A clear and concise description of what you want to happen. Add any considered drawbacks.

#### Describe alternatives you've considered

A clear and concise description of any alternati

[2020-12-10 08:00] tydhot commented on #651
We are preparing to dismantle this part of the test case.

[2020-12-10 08:02] nuo-promise commented on #651
Give me all this module. I'll try it

[2020-12-10 08:07] tydhot commented on #651
ok

[2020-12-10 08:48] #639 closed

[2020-12-10 09:22] tydhot opened #652 "add test case 4 soul-admin listener package"
- [x] org.dromara.soul.admin.listener.zookeeper.HttpServiceDiscovery. HttpServiceDiscovery  & org.dromara.soul.admin.listener.zookeeper.HttpServiceDiscovery.ZookeeperDataInit @bitkylin

- [x] org.dromara.soul.admin.listener.http.HttpLongPollingDataChangedListener (@onlyonezhongjinhui )

Now the 2 of part's coverage is pretty low.

[2020-12-10 09:26] tydhot opened #653 "add test case 4 soul-admin vo"
This part is simple, but coverage is still very important。

[2020-12-10 09:27] midnight2104 commented on #653
give me

[2020-12-10 09:29] SaberSola opened #654 "Add test case for soul-common"
- [ ]  org.dromara.soul.common.concurrent.SoulThreadFactory  @FocusZhouGD

- [ ] org.dromara.soul.common.utils.ThreadUtils      @onlyonezhongjinhui

[2020-12-10 09:31] SaberSola opened #655 "Add test case for soul-common constants&enum"
- [x] org.dromara.soul.common.constant.RedisKeyConstants  @DaveModl

- [x] org.dromara.soul.common.enums.OperatorEnum    @bigwillc

- [ ] org.dromara.soul.common.enums.SelectorTypeEnum @branchen

[2020-12-10 09:31] onlyonezhongjinhui commented on #652
get org.dromara.soul.admin.listener.http.HttpLongPollingDataChangedListener

[2020-12-10 09:34] onlyonezhongjinhui commented on #654
get org.dromara.soul.common.utils.ThreadUtils

[2020-12-10 09:35] FocusZhouGD commented on #654
get SoulThreadFactory

[2020-12-10 09:35] DaveModl commented on #655
assign **RedisKeyConstants**  to me..

[2020-12-10 09:36] branchen commented on #655
get SelectorTypeEnum

[2020-12-10 09:39] bigwillc commented on #655
get operatorEnum

[2020-12-10 09:52] bitkylin commented on #652
get org.dromara.soul.admin.listener.zookeeper.HttpServiceDiscovery. HttpServiceDiscovery & org.dromara.soul.admin.listener.zookeeper.HttpServiceDiscovery.ZookeeperDataInit

[2020-12-10 11:18] KevinClair opened #656 "NacosDataSync Error"
## Describe the bug
* When choose to use Nacos for data synchronization,it will cause bootstrap run error.

## Environment

- Soul version(s): [e.g. 2.2.1]

## Steps to reproduce
* When choose to use Nacos for data synchronization,user add metadata infomations in Admin;
[code]
* Run bootstrap,it will cause error.
[code]
## Expected behavior
* data sync success

## Debug logs
<details>
<summary>Cli

[2020-12-10 13:09] yu199195 commented on #656
can you fix it？

[2020-12-10 13:16] #511 closed

[2020-12-10 13:34] KevinClair commented on #656
Yes,I will fix it and send pull request.

[2020-12-10 16:07] KevinClair opened #660 "Is it nessary to support RocketMQ?"
## Feature Request

#### Is your feature request related to a problem? Please describe

##### Is it nessary to support RocketMQ
* Two ways to user it.
    * As a way to data sync from admin to bootstrap.
    * As a plugin to send mq message by request from bootstrap.

#### Describe the solution you'd like

#### Describe alternatives you've considered

#### Additional context

[2020-12-10 17:18] tydhot commented on #660
A mq pluign is meaning that the soul is a http proxy to mq, right?It sounds like this project https://github.com/confluentinc/kafka-rest

[2020-12-11 02:22] KevinClair commented on #660
Yes, we can send a mq message to topic by soul and get the result. In the past, we used to use API to send messages, but now we can send messages by mq plugin.

[2020-12-11 02:26] yu199195 commented on #660
One way to synchronize data?

[2020-12-11 02:41] KevinClair commented on #660
Yes,when admin update configuration and send message, bootstrap receive message and update cache.

[2020-12-11 02:45] yu199195 commented on #660
Yes,when admin update configuration and send message, bootstrap receive message and update cache.

good idea,  can you provide this pull reqeust?

[2020-12-11 02:46] KevinClair commented on #660
ok，please assign me later.

[2020-12-11 02:48] dengliming commented on #660
IMO, This is not necessary, We already support many ways to synchronize data. like nacos, and Why use `RocketMQ`?

[2020-12-11 02:54] KevinClair commented on #660
More ways, more choices. If you don't think it's necessary, it's OK.

[2020-12-11 03:08] dengliming commented on #660
This is only my personal opinion. We can talk more about the need for this in the community.

[2020-12-11 03:11] KevinClair commented on #660
ok.

[2020-12-11 03:28] yu199195 opened #663 "test"
## Describe the bug

## Environment

- Soul version(s): [e.g. 2.2.1]

## Steps to reproduce

## Expected behavior

## Debug logs

<details>
<summary>Click to expand</summary>

[code]
</details>

[2020-12-11 03:35] #663 closed

[2020-12-11 09:17] dengliming commented on #508
done

[2020-12-11 09:17] #508 closed

[2020-12-11 09:31] SaberSola opened #667 "Add test case for plugin divide & global"
- [x]  add test case for  soul-plugin-divide   @SaberSola

- [x]  add test case for  soul-plugin-global   @DaveModl

[2020-12-11 09:33] dengliming opened #668 "Optimize test cases to improve code coverage."
- [x] ReflectUtils @augfool
- [x] ParamCheckUtils @xwzwmt
- [x] HttpParamConverter @xxl115
- [x] LogUtils  @HoldDie
- [x] UUIDUtils  @xiaoshen11
- [x] JsonUtils @Trafalgar-YuI
- [x] ExtensionLoader @wyc192273
- [x] ExceptionHandlers  @bigwillc
- [x] PluginController @xxl115
- [x] SoulDictController @zendwang
- [x] MetaDataController @prospect167

https://codecov.io/gh/dromara/soul

[2020-12-11 09:34] DaveModl commented on #667
get

[2020-12-11 09:36] augfool commented on #668
get

[2020-12-11 09:37] augfool commented on #668
get  ReflectUtils

[2020-12-11 09:39] lmhmhl opened #669 "Using Visitor pattern to decouple the Selector and Rule from doExecute() method."
## Feature Request

Due to the basic data structure in Soul(Selector, Rule) are stable and immune to change, visitor design pattern is very suitable for this scenario, and different Plugins play roles as Visitor, providing  different visit method implementation. I plan to use this pattern to decouple the Selector and Rule from doExecute() method, and Improve the expansibility of program。

#### Exa

[2020-12-11 09:48] SaberSola opened #670 "Add test case for soul-plugin-monitor"

[2020-12-11 09:59] Wincher commented on #670
ill do it

[2020-12-11 10:00] wyc192273 commented on #668
get ExtensionLoader

[2020-12-11 10:01] xiaoshen11 commented on #668
get UUIDUtils

[2020-12-11 10:06] HoldDie commented on #668
get LogUtils

[2020-12-11 10:09] bigwillc commented on #668
get ExceptionHandlers

[2020-12-11 10:26] zendwang commented on #668
get SoulDictController

[2020-12-11 10:49] yu199195 commented on #669
good

[2020-12-11 14:53] onlyonezhongjinhui opened #675 "eliminate yellow warning for soul admin test code"

[2020-12-12 02:40] yu199195 opened #680 "Test dto in soul-admin"

[2020-12-12 02:42] yu199195 opened #681 "Test entity in soul-admin"

[2020-12-12 02:43] yu199195 opened #682 "Test exception in soul-admin"

[2020-12-12 02:44] yu199195 opened #683 "Test page in soul-admin"

[2020-12-12 02:44] yu199195 opened #684 "Test query in soul-admin"

[2020-12-12 02:45] yu199195 opened #685 "Test result in soul-admin"

[2020-12-12 02:46] yu199195 opened #686 "Test spring in soul-admin"

[2020-12-12 02:53] yu199195 opened #687 "Test enums in soul-common"
- [x] HystrixIsolationModeEnum @HoldDie
- [x] LoadBalanceEnum @tyjwan
- [x] PluginRoleEnum  @iitdachaoge
- [x] RedisModeEnum @YarNeCn
- [x] ResultEnum @rockpig
- [x] WafEnum @sharpzhango
- [x] WafModuleEnum @xwzwmt

[2020-12-12 02:57] HoldDie commented on #687
get RedisModeEnum

[2020-12-12 02:58] HoldDie commented on #685
get

[2020-12-12 02:58] HoldDie commented on #683
get

[2020-12-12 02:58] YarNeCn commented on #687
get RedisModeEnum

[2020-12-12 02:58] HoldDie commented on #682
get

[2020-12-12 02:58] jjnnzb commented on #680
Get this task

[2020-12-12 02:59] HoldDie commented on #686
get

[2020-12-12 03:00] MrTong0807 commented on #68
公司：/
网址：/
地点：中国北京
联系方式：928207025@qq.com
场景：个人学习

[2020-12-12 03:01] lw1243925457 commented on #681
get

[2020-12-12 03:02] itdachaoge commented on #687
get PluginRoleEnum

[2020-12-12 03:02] wuudongdong commented on #684
get

[2020-12-12 03:02] rockpig commented on #687
get ResultEnum

[2020-12-12 03:03] tyjwan commented on #687
LoadBalanceEnum

[2020-12-12 03:03] sharpzhango commented on #687
get WafEnum

[2020-12-12 03:04] #675 closed

[2020-12-12 03:04] xwzwmt commented on #687
WafModuleEnum

[2020-12-12 03:04] kennhua commented on #687
get WafModuleEnum

[2020-12-12 03:05] xwzwmt commented on #668
get ParamCheckUtils

[2020-12-12 03:05] xxl115 commented on #685
get

[2020-12-12 03:06] xxl115 commented on #668
PluginController

[2020-12-12 03:07] xxl115 commented on #668
get MetaDataController

[2020-12-12 03:08] 0x12FD16B commented on #668
PluginController

[2020-12-12 03:14] prospect167 commented on #668
get MetaDataController

[2020-12-12 03:16] dengliming opened #689 "Add test cases for JmxCollector and JmxScraper"
_Note: Please read the [Contribution Guideline](https://dromara.org/website/en-us/docs/soul/contributor.html) before submitting the PR_

[2020-12-12 03:18] 0x12FD16B commented on #689
please assign to me

[2020-12-12 03:20] flwrchild42 commented on #687
Yes

[2020-12-12 03:23] xxl115 commented on #668
get HttpParamConverter

[2020-12-12 04:43] dengliming commented on #509
done

[2020-12-12 04:43] #509 closed

[2020-12-12 09:04] lxl910128 opened #694 "BUG about test cases for soul-plugin-apache-dubbo(BodyParamPlugin)"
## Describe the bug
In  test cases for soul-plugin-apache-dubbo(BodyParamPlugin),
RpcTypeEnum should be DUBBO, not SOFA

## Environment

- Soul version(s): 2.2.1