[2021-12-15 07:18] #2509 closed

[2021-12-15 09:13] xiangHannibal commented on #2509
中文看不懂？2.4.1 。写的那么清楚看不见？是在解答问题还是在装逼？

[2021-12-15 09:15] xiangHannibal commented on #2509
这个方式有问题。如果有一个服务多个实例怎么区分？

[2021-12-15 09:21] xiangHannibal commented on #2509
不是。你们是觉得这种方式没问题吗？就问怎么区分微服务。如果做不到就干脆不要支持，放个半成品拉低开源产品质量。

[2021-12-15 10:36] yu199195 commented on #2593
yes， now support

[2021-12-16 07:41] keitenngaku commented on #2593
How to support https? Add new divide?Could you give a suggestion？ Thanks!

[2021-12-16 07:41] keitenngaku commented on #2593
How to support https? Add new divide?Could you give a suggestion？ Thanks!

[2021-12-16 13:13] MiniSC opened #2603 "[ContainsPredicateJudge] <contains not work for multiple config>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

when i use contains for rule , It can only be configured with one
for example
ip  matchs 127.0.0.1,127.0.0.2
it not work
![image](https://user-images.githubusercontent.com/32318597/146377959-af9af3b0-1310-452f-ba25-f8cdcc742b43.png)
there should be conditionData.getParamValue().trim()  to con

[2021-12-16 13:46] #1458 closed

[2021-12-17 03:47] li-keguo opened #2607 "[Task] Use RequestMapping path to replace ShenyuClient annotation path"
### Description

In `shenyu-client-http` register metadata.

replace `@ShenyuClient#path`

assigne me @yu199195

### Task List

- [ ] replace `@ShenyuClient#path`
- [ ] support spring mvc annotation [`xxxMapping#path`]

[2021-12-17 07:22] MiniSC commented on #68
公司：浙江百应科技
网址:：https://www.byai.com/
地点：浙江杭州
联系方式：294879521@qq.com
场景：业务网关

[2021-12-17 07:23] luoxihong commented on #68
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2021-12-17 07:30] doufuche commented on #68
Company：ShipOut
Website：https://www.ShipOut.com
logo_url: http://cdn.ezeeshipcn.cn/shipout_logo.png
Location：Los Angeles
Contact information: li.jie@shipout.cn
Scene：Api Gateway

[2021-12-17 09:25] MarsOu1995 opened #2611 "[BUG] abnormal return of file request. serious"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Service A provides a file / picture download.
shenyu-gateway return is an abnormal file character stream.

### Expected Behavior

shenyu-gateway will return file stream.

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

I don't think the file return should be co

[2021-12-17 09:35] impactCn commented on #2611
I can fix this problem.

[2021-12-17 09:37] impactCn commented on #2611
Can you provide responseHeader?

[2021-12-17 11:06] xuetao0 opened #2614 "feature shenyu-plugin-response : support raw HttpStatus forwarding"
### Question

Raw HttpStatus forwarding is not supported in shenyu-plugin-response.
I want to support this feature. Just like Spring Cloud Gateway.

[2021-12-17 11:15] qicz commented on #2614
master was support. you can see this https://shenyu.apache.org/docs/next/developer/custom-result/

[2021-12-17 11:23] xuetao0 commented on #2614
not custom response.
is source server return's status

[2021-12-17 11:29] qicz commented on #2614
the exchange can get the `client response`.

[2021-12-17 11:33] #2611 closed

[2021-12-17 12:31] yangtianrui95 commented on #2451
Is there any help ? Maybe I can help you finish it😁.  @babynata

[2021-12-17 15:47] qicz commented on #2614
I’ll close this issue first, and if you have any questions, please contact me again
@xuetao0

[2021-12-17 15:47] #2614 closed

[2021-12-17 17:18] pmgcat opened #2618 "[BUG] <Type definitions of ‘SentinelHandle.degradeRuleCount’ and 'Sentinel DegradeRule.count ' are inconsistent.>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When the DegradeRule grade is ‘EXCEPTION_RATIO’, its value cannot be set to the corresponding ratio value.When the DegradeRule grade is ‘EXCEPTION_RATIO’, its value cannot be set to the corresponding ratio value.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

##

[2021-12-18 08:08] lxl910128 opened #2619 "[Task] format docker-compose.yml in integrated-test"
### Description

In integrated-test moudle.
The docker-compose.yml format is inconsistent.
Such as：ports、depends_on、env

### Task List

_No response_

[2021-12-18 08:08] lxl910128 commented on #2619
I will fix

[2021-12-18 09:26] #2619 closed

[2021-12-18 10:27] lw1243925457 commented on #2509
![40d72146866c06c71ac84341e21dfc6](https://user-images.githubusercontent.com/11513436/146637769-ef07cc9e-137b-4afd-bc17-cb18f1ded623.png)
![198f17dc3feceb7462bdaa410f1a4e8](https://user-images.githubusercontent.com/11513436/146637779-ffd8e008-be8a-4c36-b54b-d8d0b8716289.png)
![b517e5f4b0a4717ff9f5e8b8e5bf052](https://user-images.githubusercontent.com/11513436/146637782-6560bef5-96c3-4a8b-afb5-c7d8

[2021-12-18 15:39] plutokaito commented on #1944
yes, i still doing it. I will submit a pr Today.

[2021-12-18 16:20] #2403 closed

[2021-12-19 04:08] JooKS-me commented on #2418
I think so too, `Mockito` is better.

[2021-12-19 06:55] plutokaito commented on #2517
please assign to me

[2021-12-19 06:57] nuo-promise commented on #2517
ok

[2021-12-20 03:27] yu199195 commented on #2618
can you fix it，

[2021-12-20 07:07] yuzhijia88 opened #2627 "can dividePlugin support to retry another upstream but not retry only on one upstream ,when is fail ."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

_No response_

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2021-12-20 12:07] yu199195 commented on #2627
yes， support all upstream

[2021-12-21 06:12] #2503 closed

[2021-12-21 07:40] moremind opened #2633 "[Question] <Sentinel Cluster Mode>"
### Question

Shenyu support Sentinel cluster mode and calculate cluster flow?

[2021-12-21 10:09] pmgcat commented on #2618
OK, I'll try.

[2021-12-21 10:15] pmgcat commented on #2633
No support for this part is found now. Here we have developed a set of related support.

[2021-12-22 01:55] moremind commented on #2633
what is the part of shenyu?

[2021-12-22 03:04] #2607 closed

[2021-12-22 10:29] daiwenyu opened #2638 "[Task] update dashboard"
### Description

update dashboard static file

### Task List

_No response_

[2021-12-23 11:50] #2603 closed

[2021-12-24 01:46] #2638 closed

[2021-12-24 02:00] #2553 closed

[2021-12-24 02:11] AhahaGe opened #2652 "[Add apache dubbo client example and doc] Add apache dubbo shenyu-client-apache-dubbo example and doc"
### Description

Show users how to use shenyu-client-apache-dubbo jar in their apache dubbo project.
Need to provide user doc and demo project.

### Task List

- [ ] 1. Add shenyu-examples-apache-dubbo-service-client project under shenyu-examples-dubbo project.
- [ ] 2. Add doc in current version.

[2021-12-24 03:39] 1576584678 opened #2653 "The same request, multiple requests, occasionally succeeded, occasionally failed (it prompts json format error, mainly reported two errors)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

---
[code]

### Expected Behavior

[code]

### Steps To Reproduce

Dependent
[code]

---

configuration
[code]
---

API
[code]

---

entity
[code]

Request
[code]

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2021-12-25 14:08] plutokaito opened #2657 "[Question] Different name between plugin rows and resource setting in English"
### Question

I find that `SHENYU.BUTTON.SYSTEM.EDIT` shows "modify" at Resource Setting, but plugin rows shows "Editor".  So is it necessary to change them to the same English?

[2021-12-27 11:42] yu199195 commented on #2657
I think it can be unified

[2021-12-27 14:38] li-keguo opened #2662 "[Task] @ShenyuSpringCloudClient#path replace @XXXMapping#path in `shenyu-client-springcloud`"
### Description

### Description

In `shenyu-client-springcloud` register metadata.

replace `@ShenyuSpringCloudClient#path`.
used `@XXXMapping#path`

### Task List

- [x] replace `@ShenyuSpringCloudClient#path`
- [x] add example

[2021-12-28 10:22] dingjian2 opened #2669 "[BUG] < when server give http state 302 shenyu response change to 200 >"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

 when server give http state 302 shenyu response change to 200  in spring mvc http divide

### Expected Behavior

 when server give http state 302 shenyu should return 302 state

### Steps To Reproduce

1 .create a controller  method  :   response.sendRedirect("https://www.baidu.com");    wit

[2021-12-28 11:10] #2662 closed

[2021-12-29 01:36] xiangHannibal commented on #2509
这样的方式是只能在nacos注册一个微服务，其他所有的实例都在这一个微服务下。实际上，微服务不止一个，这里说的不是实例，假设，订单中心，售后中心等等不同的微服务，怎么区分。说的是这个问题。

[2021-12-29 01:38] xiangHannibal commented on #2509
![image](https://user-images.githubusercontent.com/6896623/147619262-0838db62-30c8-40c6-8618-a1491500ad17.png)

nacos是要注册这样的显示多个微服务，然后每个微服务下面有多个实例。

[2021-12-29 01:58] OnlyQuiet opened #2673 "[Question] <Is it possible to add strategy attributes in HttpClientProperties.java?>"
### Question

Browse the configuration file more clearly.
before
![image](https://user-images.githubusercontent.com/41868553/147619856-cd96a026-90b3-4ef7-b98a-045b0c7ecd13.png)
after
![image](https://user-images.githubusercontent.com/41868553/147620131-8087a4c3-f058-4b1c-92df-701d06ba399a.png)

[2021-12-29 02:05] dingjian2 commented on #2215
no  support both ,    but you could write a new starter  integration  springmvc and dubbo starter

[2021-12-29 09:20] yu199195 commented on #2673
you can see this ： https://shenyu.apache.org/zh/docs/next/user-guide/property-config/gateway-property-config/

[2021-12-30 03:03] #2652 closed

[2021-12-30 03:03] #2554 closed

[2021-12-30 03:04] #2512 closed

[2021-12-30 10:04] qicz commented on #2303
@shenzulun Have you solved it?

[2021-12-30 13:48] #2447 closed

[2021-12-31 03:27] JooKS-me opened #2679 "[Task] Add integration test for more http api"
### Description

Hi community,

In `DividePluginTest`, there is only `/order/save` is covered. But we should test all http api in `shenyu-examples-http`. So we need to do the following task.

If you want to participate, please leave a message under issue.

### Task List

- [x] add integration test for http api in `HttpTestController` @totalo
- [x] add integration test for http api in `OrderControl

[2021-12-31 03:36] JooKS-me opened #2680 "[Task] Add integration test for more dubbo api"
### Description

Hi community,

In integrated test of `alibaba-dubbo` or `apache-dubbo`, there is only `/findById` is covered. But we should test all dubbo api in examples. So we need to do the following task.

If you want to participate, please leave a message under issue.

### Task List

- [x] add integrated test for `DubboTestService` in `shenyu-examples-apache-dubbo-service`
- [x] add integrat

[2021-12-31 03:39] QinHaiqi commented on #2679
give me a chance

[2021-12-31 03:41] QinHaiqi commented on #2679
give me a chance SpringMvcMappingPathController and shenyu-examples-http

[2021-12-31 03:42] JooKS-me commented on #2679
good luck~

[2021-12-31 03:42] QinHaiqi commented on #2679
let me try **SpringMvcMappingPathController** and  **shenyu-examples-http**

[2021-12-31 03:46] totalo commented on #2679
I want to try `HttpTestController` and `OrderController`

[2021-12-31 03:46] gaochuang98 commented on #2679
give me a chance ShenyuClientPathController and RequestController

[2021-12-31 03:48] JooKS-me commented on #2679
@totalo @gaochuang98 Thanks for help

[2021-12-31 03:50] AhahaGe commented on #2679
please assgin me dubbo example project

[2021-12-31 03:50] AhahaGe commented on #2680
please assign these to me

[2021-12-31 07:08] SessionBest opened #2682 "Global Proxy (isFull = true)"
### Question

shenyu version: 2.4.1
spring cloud sample
yaml:
[code]
Nacos:
![image](https://user-images.githubusercontent.com/22487139/147808968-9c0aa34b-8455-43f6-bdbe-e7e8c6db646c.png)

shenyu admin:
![image](https://user-images.githubusercontent.com/22487139/147808893-7d987190-cd2a-4abd-b232-11b493070fef.png)

test request:
`http://localhost:9195/springcloud/order/findById?id=100 `

test Respo

[2021-12-31 07:34] yu199195 commented on #2682
registeType ： http， you can try ？

[2021-12-31 07:47] AhahaGe opened #2684 "[BUG] <Shenyu-examples-dubbo batchSave interface error>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The example in apache-dubbo-test-api.http is error.

### shengyu getway proxy batchSave
PUT http://localhost:9195/dubbo/batchSave
Accept: application/json
Content-Type: application/json

{
  "sofaTestList": [
    {
      "id": "123",
      "name": "test"
    },
    {
      "id": "123",

[2021-12-31 07:48] AhahaGe commented on #2684
please assign this to me.

[2021-12-31 07:51] AhahaGe opened #2685 "[Task] <Check doc of apache dubbo xml whether valid for v2.4.1 and v2.4.0>"
### Description

Check doc of apache dubbo xml whether valid for v2.4.1 and v2.4.0.
And if v2.4.1 and v2.4.0 should use previous version's doc.

### Task List

- [x] 1. v2.4.1
- [x] 2. v2.4.0

[2021-12-31 07:52] AhahaGe commented on #2685
please assign to me

[2021-12-31 07:56] yu199195 commented on #2685
good job

[2021-12-31 08:20] SessionBest commented on #2682
shenyu Admin:
![image](https://user-images.githubusercontent.com/22487139/147811831-cc661f83-5f75-412a-972a-ff9ba943ed3b.png)
![image](https://user-images.githubusercontent.com/22487139/147811900-f60f92f8-d3e8-4872-86bc-46947f22e827.png)
![image](https://user-images.githubusercontent.com/22487139/147811920-e3e4ad91-4744-4616-91e6-e3a4a237f6ed.png)

spring cloud sample:
![image](https://user-images

[2021-12-31 08:25] #2673 closed

[2021-12-31 08:43] haibo-duan opened #2686 "[BUG] ConsulSyncDataServiceTest.testWatch AssertionError: expected:<1> but was:<0>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Test cases fail to execute in some environments.
![image](https://user-images.githubusercontent.com/7974845/147812899-b7fd137d-a611-486c-bec9-0409f2c88c11.png)
there is some references to errors:
https://github.com/apache/incubator-shenyu/runs/4665747949?check_suite_focus=true

### Expected B

[2021-12-31 09:14] justlau commented on #2633
RateLimiter?

[2021-12-31 11:04] AhahaGe commented on #2685
Both are not valid, this is a related issue. #1262

[2022-01-01 01:05] #2686 closed

[2022-01-01 14:14] qinliang373 opened #2692 "拉取最新代码模块调整pom中模块没有去掉"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

拉取最新代码模块调整pom中模块没有去掉

### Expected Behavior

![图片](https://user-images.githubusercontent.com/39186613/147852542-bbdf5f7e-da35-4312-938e-802dd5d142d2.png)

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2022-01-02 02:56] yu199195 commented on #2692
why remove？ pls in english

[2022-01-02 05:45] qinliang373 commented on #2692
There is no corresponding module under the parent POM。this is lastest master branch
![图片](https://user-images.githubusercontent.com/39186613/147867285-35e3b15d-730f-4334-acc7-3b63fd0ccf32.png)

[2022-01-02 16:34] haibo-duan opened #2695 "[BUG] in jdk16, PowerMock internal error: Should never throw exception at this level"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

 powermock doesn't work anymore in Java 17. In java 16, you must add --illegal-access=permit to ensure powerMock executes successfully.  otherwise, "RuntimeException: PowerMock internal error: Should never throw exception at this level" will occurs.
we need to get rid of PowerMock in unit tes

[2022-01-03 03:23] #2695 closed

[2022-01-04 03:21] yu199195 opened #2699 "[Task] <ShenYu Agent Task>"
### Description

Hi Community

The upcoming 2.4.2 release will include the shenyu-agent,
shenyu-agent contains mainly tracing observability features.
so there are still the following features to be completed.

### Task List

- [x] Add shenyu-agent document (Architecture and Usage)  @yu199195
- [x] Add agent startup in the deployment document （docker 、linux） @JooKS-me
- [x] Add Tracing-Jaeger docum

[2022-01-04 03:27] JooKS-me commented on #2699
Hi, I can help to Add Tracing-opentelemetry document and integration test.

[2022-01-04 03:28] HessTina-YuI commented on #2699
I can add Tracing-Jaeger document and integration test

[2022-01-04 04:00] yangtianrui95 commented on #2699
I can add Tracing-Zipkin plugin and document , integration test

[2022-01-04 04:27] midnight2104 commented on #2699
I can add Tracing-Zipkin document and integration test.

[2022-01-04 04:27] midnight2104 commented on #2699
I can add Tracing-Zipkin document and integration test.

[2022-01-04 04:46] yangtianrui95 commented on #2699
@midnight2104 You do it first，please assign

[2022-01-04 06:07] moremind commented on #2633
I don't think it's ok

[2022-01-04 06:11] OnlyQuiet opened #2700 "[Question] <How to set sentinel fallbackUri?>"
### Question

version：master

The configuration is as follows, fallbackUri = 'http://localhost:9195/http/test/payment'
![image](https://user-images.githubusercontent.com/41868553/148016535-1eb73fdc-c457-4530-a192-493ec27e76cf.png)

Response
![image](https://user-images.githubusercontent.com/41868553/148016725-01c898e5-adad-4874-84fc-8c91c702a4bc.png)

[2022-01-04 07:12] yu199195 commented on #2700
have this controller  in 9195?

[2022-01-04 07:19] OnlyQuiet commented on #2700
omg, i get it. Thanks

[2022-01-04 07:19] #2700 closed

[2022-01-04 08:10] yu199195 commented on #2692
can you modify this issue title?

more plugin，you can not clone success,  you can see this : https://shenyu.apache.org/community/faq

[2022-01-04 08:25] #2684 closed

[2022-01-04 08:26] AhahaGe commented on #2685
Finished check.

[2022-01-04 08:26] #2685 closed

[2022-01-05 02:32] qicz opened #2706 "[Task] shenyu-admin optimize"
### Task List

- [x] refactor `BeanUtil` copy properties to `Transfer`
- [ ] refactor `ShenyuResultMessage`

![image](https://user-images.githubusercontent.com/2174082/148152154-bdf2f6d5-9389-43cc-bc09-9595b899794c.png)

[2022-01-05 02:34] qicz opened #2707 "[BUG] shenyu-web fallback endpoint can not invoke"
use `WebFilter` to fix this.

[2022-01-05 02:34] zhouyadong commented on #2706
please assign it  to me

[2022-01-05 02:36] #2321 closed

[2022-01-05 02:36] zhouyadong commented on #2707
may i have a try?

[2022-01-05 02:37] qicz commented on #2707
- [ ] refactor by `WebFilter`
- [ ] support dynamic fallback path configuration

@zhouyadong

[2022-01-05 03:30] #2692 closed

[2022-01-05 08:33] shenyuhao-github opened #2708 "【BUG】"shenyu.client.props.isFull" conifg can not be used normally"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

_No response_

### Expected Behavior

_No response_

### Steps To Reproduce

1、download file from "https://github.com/apache/incubator-shenyu/releases/tag/v2.4.1"
2、run ShenyuAdminBootstrap.java
3、add configuration to the shenyu-bootstrap.module.pom：shenyu-spring-boot-starter-plugin-divide(2.

[2022-01-05 10:06] #2682 closed

[2022-01-05 10:21] lishuo5263 opened #2710 "[BUG] <Nacos Register Bug,Use admin+example-springcloud>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

_No response_

### Expected Behavior

_No response_

### Steps To Reproduce

1.config shenyu-admin yaml like this,and run.
[code]
2.change shenyu-examples-springcloud yaml config like this ,and run.
![image](https://user-images.githubusercontent.com/19170961/148200233-8f427825-bfcd-4ef0-98b9-

[2022-01-05 10:24] #2708 closed

[2022-01-05 10:31] lishuo5263 commented on #2710
The nacos network is no problem,test step include ping、netstat，the nacos port 8848,9848,9849 was listen,and I change the default nacosProperties config like this .
and shenyu-register-server as same to
So,How can I fix this ? some success by publisher.publish ,some error by nacos ,the default nacosProperties config code  definetly correct,and upgrade nacos-client jar version
![Uploading image.png…

[2022-01-05 10:39] lishuo5263 commented on #2710
The nacos network is no problem,test step include ping、netstat，the nacos port 8848,9848,9849 was listen,and I change the default nacosProperties config like this .
and shenyu-register-server as same to
So,How can I fix this ? some success by publisher.publish ,some error by nacos ,the default nacosProperties config code  definetly correct,and upgrade shenyu-register-server-nacos jar version to 2.0

[2022-01-06 02:46] rxyong0915 opened #2715 "[Question] How does the redirect plugin set the redirect address according to the server"
### Question

The redirect address is an unfixed address generated by the server, so the redirectURI cannot be set. How to deal with this situation

[2022-01-06 05:36] daiwenyu opened #2716 "[Task] <update admin static file>"
### Description

support modify password
https://github.com/apache/incubator-shenyu-dashboard/issues/160

### Task List

_No response_

[2022-01-06 06:17] JooKS-me opened #2719 "[BUG] Docker images run failed in arm architecture"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/62384022/148337461-9003fd6d-aa96-443c-8734-06213ab643ea.png)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

The base image `java:openjd

[2022-01-06 08:17] rxyong0915 commented on #2715
For example：request url:  http://shenyu.gateway.com/redirectToUrl ;The first request redirectTo : https://baidu.com; next  request redirectTo: https://apache.org

[2022-01-06 08:25] #2716 closed

[2022-01-06 08:25] moremind opened #2720 "[BUG] <Sentinel Plugin-exception ration and exception number is not effective>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

My Configuration:
![image](https://user-images.githubusercontent.com/20184263/148351624-d89e14e3-24be-4d9d-9c55-f229e0776a95.png)

### Expected Behavior

use exception number strategy, count=5,can't arrived my service.

### Steps To Reproduce

first configuration: ![image](https://user-images

[2022-01-06 09:12] yu199195 commented on #2720
whats mean 。。？

[2022-01-06 09:14] moremind commented on #2720
exception ration and exception number of sentinel plugin is `Not effective`

[2022-01-06 10:11] JooKS-me commented on #2719
And java in docker hub is deprecated.

![image](https://user-images.githubusercontent.com/62384022/148366550-b9ddeabe-3edf-431e-b502-7cebad37fa1c.png)

We use `openjdk:8-jre-alpine` maybe better.

[2022-01-06 14:53] SaberSola opened #2724 "[security] Using the http registry is an insecure way. The interface for admin to register metadata does not have any security verification."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The interface for admin to register metadata does not have any security verification.
so Anyone can call the registration metadata interface through http requests, including some insecure external services

### Expected Behavior

Add some login verifications to the registration metadata inter

[2022-01-07 02:35] gaochuang98 opened #2726 "[Question] <apache shenyu blog Modify the style>"
### Question

![0882e8ffd0d626eede61f772adf8cb2](https://user-images.githubusercontent.com/49777877/148481911-b1ec0a91-5c58-4b2a-9f36-2b4383f39caa.png)
Can anyone remove these shadows ？
It is not friendly to the eyes to use

[2022-01-07 02:35] gaochuang98 commented on #2726
https://shenyu.apache.org/blog

[2022-01-07 02:39] AhahaGe opened #2727 "[Task] <The README.md file under shenyu-integrated-text folder need to be update>"
### Description

1. When I write the test case of #2680 , and I followed the README.md under shenyu-integrated-text folder, and after execute ```docker-compose -f ./shenyu-integrated-test/shenyu-integration-test-apache-dubbo/docker-compose.yml up -d``` print error ''' Error response from daemon: pull access denied for apache/shenyu-integration-test-apache-dubbo, repository does not exist or may re

[2022-01-07 02:39] AhahaGe commented on #2727
please assign to me, thanks

[2022-01-07 02:57] #2719 closed

[2022-01-07 02:57] yu199195 commented on #2726
@gaochuang98  can you help this ？

[2022-01-07 02:59] moremind commented on #2720
![image](https://user-images.githubusercontent.com/20184263/148484281-cb45e334-2942-4841-9289-a20f4e9188eb.png)

I find this question,the result must execute doOnSuccess

[2022-01-07 03:00] moremind commented on #2720
can't resolve the throwalbe

[2022-01-07 03:12] AhahaGe opened #2728 "[Task] <Change the project name start with shenyu-integration-test to shenyu-integrated-test >"
### Description

The project name under shenyu-integrated-test have both shenyu-integrated-test-xxx and shenyu-integration-test-xxxx, should we change all to shenyu-integrated-xxx。

### Task List

- [x] Change the project name start with shenyu-integration-test to shenyu-integrated-test.

Please assign to me, many thanks.

[2022-01-07 03:45] #2724 closed

[2022-01-07 05:40] gaochuang98 commented on #2726
sure,what should I do

[2022-01-07 06:11] yu199195 commented on #2726
you can see this ： https://github.com/apache/incubator-shenyu-website

[2022-01-07 08:01] moremind commented on #2720
I think exception number or exception ration isn't shenyu-gateway,may be a forwarded service.
![image](https://user-images.githubusercontent.com/20184263/148511601-42fd80f5-9290-435b-aa29-ac4e35134852.png)

[2022-01-08 04:22] zengxp0605 opened #2731 "If the content-type is set "application/x-www-form-urlencoded",and method is "GET", RpcParamTransformPlugin can't get body from HttpRequest."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The GET request header set `content-type: application/x-www-form-urlencoded`,  RpcParamTransformPlugin will get body from HttpRequest, but in GET requset the body is empty, the parameters is in url query part.

The code is in the  `RpcParamTransformPlugin.java`
[code]

### Expected Behavior

[2022-01-08 04:27] yu199195 commented on #2731
why get  request,set content-type  "application/x-www-form-urlencoded "  ?

[2022-01-08 09:42] qicz opened #2733 "[Volunteer] websocket plugin support query parameters"
### Volunteer help

websocket plugin support query parameters

[2022-01-08 22:36] zengxp0605 commented on #2731
@yu199195 I'm sorry. It's my fault.  The header is set content-type "application/x-www-form-urlencoded" both get and post request.

[2022-01-09 09:41] #2731 closed

[2022-01-09 13:46] #2707 closed

[2022-01-10 03:42] JooKS-me opened #2739 "[Task] Add integrated test for zipkin plugin"
### Description

Hi community,
The [tracing-zipkin-plugin](https://shenyu.apache.org/docs/next/user-guide/observability/tracing/#agent-plugin-tracing-zipkin) in `shenyu-agent` has been completed.

And then, we need add integrated test for zipkin plugin.

If you want to take this task, you can comment in this issue.

It might be a little difficult, but you can refer to this [the it of otel plugin](

[2022-01-10 06:52] #2733 closed

[2022-01-10 08:47] AhahaGe commented on #2680
add integrated test for DubboTestService in shenyu-examples-apache-dubbo-service
 add integrated test for DubboTestService in shenyu-examples-alibaba-dubbo-service
the other two have some problem, I am writing this

[2022-01-10 08:49] LeeGuoPing commented on #2739
May I have a try?

[2022-01-10 08:52] yu199195 commented on #2739
@LeeGuoPing Of course you can,  you can see this : https://shenyu.apache.org/community/

[2022-01-10 09:23] yunlongn opened #2743 "[BUG] <Sentinel Plugin-exception number is not effective>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

My Configuration:
![image](https://user-images.githubusercontent.com/38271111/148741148-7b4486c7-cc2b-4a30-8626-b679ff6369d1.png)

request http://localhost:9195/order/findById?id=3
![image](https://user-images.githubusercontent.com/38271111/148741301-1bbc86d9-a8a1-4901-9c20-c5746b7a06c9.png)

[2022-01-10 09:28] yu199195 commented on #2743
I'm a little confused as to what you mean, does the plugin meet your expectations, and if not, can you fix it
Because the official website shows that you need to have the English document first, and then the Chinese document, so you also need to make up the English document, inside your pr this time

[2022-01-10 09:34] yunlongn commented on #2743
![image](https://user-images.githubusercontent.com/38271111/148744116-f46b4c73-de1e-49b2-bbe8-0fbad7f4a1f6.png)

The return status of the application that forwards the call is 500. The number of exceptions is not currently recorded.

[2022-01-10 09:38] yunlongn commented on #2743
![image](https://user-images.githubusercontent.com/38271111/148744684-8ee26c37-6f7b-4108-8284-5718936dbb19.png)
Status code 500 returned by the app service. Shouldn't it be an exception? Due to the above code, the downgrade policy is not triggered. It looks like the processing of the status code is ignored here

[2022-01-11 02:13] #2727 closed

[2022-01-11 03:16] #2728 closed

[2022-01-11 09:44] #2680 closed

[2022-01-11 15:09] KevinClair commented on #2720
Duplicate of #2743

[2022-01-12 07:11] lianjunwei opened #2754 "[BUG] <Under certain circumstances, automatic registration of URIs fails>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After the backend microservice is started, the selector handler of the divide plug-in is empty.
![image](https://user-images.githubusercontent.com/13819823/149070329-e6f99033-e3fb-4414-8d50-e3e70ac816a7.png)

### Expected Behavior

the selector handler of the divide plug-in is not empty.

###

[2022-01-12 07:57] LeeGuoPing opened #2755 "[Question] Optimization prompt of ExtensionLoader"
### Question

I think use without @Join annotation maybe better

![image](https://user-images.githubusercontent.com/35389145/149086579-ffdaf405-c4bf-4e89-949d-20c4527f5116.png)

[2022-01-12 09:52] moremind commented on #2720
the author  of  #2743 is my friend,we try to fix it

[2022-01-12 15:34] SaberSola commented on #2743
Hi,brother,thanks for you issue,Sentinel triggering fuse must rely on the exception mechanism,I will fix this problem in the next two days。

[2022-01-12 15:48] yunlongn commented on #2743
Thanks, looking forward to your solution

[2022-01-13 04:08] #2755 closed

[2022-01-13 04:10] impactCn opened #2765 "[Volunteer] <add converter plugin>"
### Volunteer help

For example,
[code]
Defining such a format can support direct conversion and implement a certain standard interface, which can be converted into the desired type.

[2022-01-13 08:41] LeeGuoPing commented on #2739
I met some trouble, how to write docker-compose.yml. Can you give me some advice @JooKS-me
![image](https://user-images.githubusercontent.com/35389145/149295135-ea49e6db-347b-4a4a-a19b-b153e6d1a13c.png)
<img width="1395" alt="微信截图_20220113163949" src="https://user-images.githubusercontent.com/35389145/149295417-31fd9c71-d8b7-4b23-8b6d-0043905927b5.png">

[2022-01-13 08:56] JooKS-me commented on #2739
@LeeGuoPing Hi, before we start integrated image such as `apache/shenyu-integrated-test-agent-tracing-opentelemetry:latest`, we should build the image first. And the is a `Dockerfile` in the same directory of docker-compose.yml, we should build it first.

By the way, you can refer to [Run Integration Test Locally](https://shenyu.apache.org/community/integration-test)

[2022-01-13 09:03] LeeGuoPing commented on #2739
oh, thank you for your reply. why the image named jaegertracing/all-in-one:lastest. I saw your issue #2718, the issue is about opentelemetry. And I don't find other code `jaegertracing/all-in-one:lastes` in the project @JooKS-me

[2022-01-13 09:11] JooKS-me commented on #2739
[Opentelemetry](https://opentelemetry.io/docs/) can export traces data to both jaeger and zipkin, but it does not store or display data itself.

[2022-01-13 09:19] LeeGuoPing commented on #2739
ok,I will try again.

[2022-01-13 09:44] chenzfp commented on #2256
This front bug is caused by the variable declaration problem in line 146 of the "Parampluginrulehandle.js" file, Please fix it.
const state = state; ---> const state = this.state; add "this" @yu199195

[2022-01-13 09:47] chenzfp commented on #2256
Do the Param functions of plugin "request" and plugin "param_mapping" overlap

[2022-01-14 06:14] misaya295 opened #2769 "[BUG] <K8S Deployment configmap() has wrong format>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/45778734/149441236-ae83a6d5-954c-442d-b59c-e88824b5d97c.png)

like this without  indentation
[code]

### Expected Behavior

![image](https://user-images.githubusercontent.com/45778734/149452971-ec0f1a08-5a79-4829-ad31-4b8683dc44f6.png)

with

[2022-01-14 10:53] damonxue opened #2770 "[Question] <why not fork/join is there when the clients.size bigger than >> 200.>"
### Question

![image](https://user-images.githubusercontent.com/49482363/149503038-fcd5032c-728e-4dc8-a068-38ea4e134dbc.png)
[code]
Because there won't be too many clients? Or can be optimized?

[2022-01-14 10:53] damonxue opened #2771 "[Question] <why not fork/join is there when the clients.size bigger than >> 200.>"
### Question

![image](https://user-images.githubusercontent.com/49482363/149503038-fcd5032c-728e-4dc8-a068-38ea4e134dbc.png)
[code]
Because there won't be too many clients? Or can be optimized?

[2022-01-14 15:21] #2743 closed

[2022-01-14 15:22] #2770 closed

[2022-01-14 16:01] #2720 closed

[2022-01-17 08:39] como-ca opened #2780 "[Question] <title> Shenyu gateway HttpClient for connectionProvider of netty appears before response"
### Question

Shenyu gateway  Use HttpClient for connectionProvider of netty appears  ” **Connection prematurely closed BEFORE response**  “ error .
My app runtime environment is configured as cpu  8 core , rom 8G , and 4 pod .
and this is my httpclient config （ netty & heepclient ）:
[code]

Excuse me, how to solve this problem ?

[2022-01-17 08:59] como-ca opened #2781 "驿通科技（ ETCP ）"
### Question

公司：驿通科技（ ETCP ）
网址：yeehaw.com.cn、www.etcp.cn 等
地点：中国北京、深圳、上海、合肥 ....
联系方式：jiangmoujing@yeehaw.com.cn
场景：统一网关

[2022-01-17 09:00] #2781 closed

[2022-01-17 09:03] luoxihong commented on #68
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-01-17 10:32] gaochuang98 commented on #2710
Can try to add nacos account and password

[2022-01-17 10:49] gaochuang98 opened #2783 "[BUG] <If you use nacos data synchronization, the registration fails and the registration is still successful>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

If you use nacos data synchronization, the registration fails and the registration is still successful

### Expected Behavior

I want to modify other registry logs
Make it as elegant to use as
`HttpClientRegisterRepository`

### Steps To Reproduce

look #issue 2710

### Environment

[code]

#

[2022-01-17 10:53] gaochuang98 commented on #2783
please assign it to me

[2022-01-17 10:58] KevinClair commented on #2783
Duplicate of #2710

[2022-01-17 14:24] #2538 closed

[2022-01-18 10:05] lishuo5263 opened #2791 "[BUG] <refactor init CommonUpstreamUtils convertCommonUpstreamList NullPointer>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

_No response_

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2022-01-18 10:09] yu199195 commented on #2791
can you show error log？

[2022-01-18 10:34] #2791 closed

[2022-01-18 16:49] haibo-duan opened #2793 "[Task] remove powermock in shenyu pom.xml"
### Description

powermock doesn't work anymore in Java 17. In java 16, you must add --illegal-access=permit to ensure powerMock executes successfully. otherwise, "RuntimeException: PowerMock internal error: Should never throw exception at this level" will occurs.
we need to get rid of PowerMock in unit tests.
this issue will remove powermock in shenyu pom.xml.

### Task List

- remove powermock i

[2022-01-18 16:59] haibo-duan commented on #2793
remove AbstractDataChangedListenerTest  Whitebox
remove UpstreamCheckService @PrepareForTest

[2022-01-19 07:42] lishuo5263 opened #2795 "[BUG] <shenyu-admin start error.>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

refactor convertCommonUpstreamList() ,add empty logic

### Expected Behavior

start ShenyuAdminBootstrap

### Steps To Reproduce

1.check out shenyu source code ,use master branch
2.execute script mysql.sql file
3.adjust avtive = mysql
4.run ShenyuAdminBootstrap

### Environment

[code]

###

[2022-01-20 03:39] impactCn opened #2799 "[Volunteer] <add grafana dashboard configuration>"
### Volunteer help

Provides a bashboard for metrics.

[2022-01-20 07:52] qingchunchencheng opened #2800 "[Question] <title> what effects dose divide Plugin Configuration item multiSelectorHandle and multiRuleHandle make"
### Question

what does divide Plugin Configuration  item multiSelectorHandle and multiRuleHandle value mean?
please give Example For this
![1](https://user-images.githubusercontent.com/52264692/150295994-684e52e3-ceaa-4449-949a-36885fdd21e5.png)

[2022-01-20 08:06] KevinClair commented on #2800
It will affect the style of selector and rule.

[2022-01-20 08:28] qingchunchencheng commented on #2800
a little more specific? some example or where the code take effect
@KevinClair

[2022-01-20 08:46] KevinClair commented on #2800
see divide plugin, then choose single or multiple and reload page, you will find the difference.

[2022-01-20 09:39] qingchunchencheng commented on #2800
I try to change the value and reload page  repeatly, but do not find  any difference
@KevinClair

[2022-01-21 01:36] qingchunchencheng commented on #2800
I try to change the value and reload page repeatly, but do not find any difference
please give more tips

[2022-01-21 01:37] qingchunchencheng commented on #2800
I try to change the value and reload page repeatly, but do not find any difference
please give more tips
@KevinClair

[2022-01-21 10:54] #2783 closed

[2022-01-21 10:55] #2710 closed

[2022-01-24 07:19] hutaishi opened #2803 "[refactor shenyu-disruptor] <DisruptorProvider#onData(final Consumer<DataEvent<T>> function) has a bug>"
### Description

DisruptorProvider#onData(final Consumer<DataEvent<T>> function) has a bug.
![图片](https://user-images.githubusercontent.com/12478263/150738256-0b08417d-09a1-4221-9ff4-1ccfc40c4a3b.png)

tmpObj.getData() will get a null. And this method is @Deprecated and not called in anywhere.
I think should remove this method.

### Task List

1. delete method of  DisruptorProvider#onData(final Co

[2022-01-24 07:37] yu199195 commented on #2803
onData(), Are you sure you don't have any place to use it?

[2022-01-24 08:17] hutaishi commented on #2803
yes, I sure.    we used is onData(final T data), but not use public void onData(final Consumer<DataEvent<T>> function) .
I search globally and compiled.

[2022-01-24 08:23] ClippersAnthony commented on #2800
if you choose single handle(multiSelectorHandle),you'll find you can't add more than one handler when you modify the selector.

[2022-01-24 08:39] PeaceStefanYO opened #2805 "[Question] grpc example not working well"
### Question

使用master主分支中的shenyu-examples-grpc时，网关提示DEADLINE_EXCEEDED（rpc服务返回响应给网关层超时），proxy规则是生效的，因为rpc服务提供者可以收到请求

rpc example的配置如下：
server:
  port: 55222
  servlet:
    context-path: /grpc
  address: 0.0.0.0

spring:
  application:
    name: grpc-test

shenyu:
  register:
    registerType: http #zookeeper #etcd #nacos #consul
    serverLists: http://localhost:9095 #localhost:2181 #http://local

[2022-01-24 08:39] qingchunchencheng commented on #2800
Thanks
@ClippersAnthony

[2022-01-24 08:39] #2800 closed

[2022-01-24 10:40] midnight2104 commented on #2805
hi,  I was able to call the grpc service according to [the documentation](https://shenyu.apache.org/docs/next/quick-start/quick-start-grpc/), and here are my requests and responses.

[code]

[2022-01-24 10:41] midnight2104 commented on #2805
can you provide your request and response ?

[2022-01-24 10:41] midnight2104 commented on #2805
pls use english~

[2022-01-24 12:43] PeaceStefanYO commented on #2805
Sorry about that, I think maybe is my office WLAN network setting's problem.When I back to home, it works well.Here I got the response through ShenYu's grpc proxy.I will go to office tomorrow and re-check it,THX!

[2022-01-24 16:10] locatino opened #2808 "[BUG] <CROSSSLOT Keys in request don't hash to the same slot>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

This exception is caused by the rate_limiter plugin. My redis mode is **cluster** and the algorithm is SlidingWindow.
I fixed it temporarily by modified the 'getKeys' method in SlidingWindowRateLimiterAlgorithm.java like this:

    public List<String> getKeys(final String id) {
        String

[2022-01-25 01:38] PeaceStefanYO commented on #2805
Hi,there. When I confirmed this in my office, it can't work well.I got bellow errors:
{
    "code": 500,
    "message": "Internal Server Error",
    "data": {
        "cause": {
            "cause": {
                "cause": null,
                "stackTrace": [
                    {
                        "classLoaderName": "app",
                        "moduleName": null,

[2022-01-25 03:05] #2803 closed

[2022-01-25 03:07] JooKS-me commented on #2808
@locatino Hi, can you elaborate on what this exception is?

[2022-01-25 03:13] yu199195 commented on #2808
@locatino  it  means  have  different values？

[2022-01-25 04:56] midnight2104 commented on #2805
From these error msg `io.grpc.StatusRuntimeException: DEADLINE_EXCEEDED: deadline exceeded after 4.997907646s` ， the response of grpc server is timeout. Maybe the network is not so good, pls check it .

[2022-01-25 05:47] PeaceStefanYO commented on #2805
THX!Can u tell me where and how to set response time configs?

[2022-01-25 06:03] locatino commented on #2808
Here are my plugin config and the exception screenshot.

[2022-01-25 06:19] locatino commented on #2808
@yu199195 i think the '{id}' parts in 2 keys are used to ensure the values be hashed in the same slot because redis cluster have lots of slots distributed in diffrent processes or servers. If the keys arent hashed in the same slots the scripts would not be executed properly.

[2022-01-25 06:46] yu199195 commented on #2808
@locatino  hi， the id it is definite， id ： rule.getId() + resolverKey

you can see `org.apache.shenyu.plugin.ratelimiter.RateLimiterPlugin`

[code]

[2022-01-25 07:13] locatino commented on #2808
@yu199195 It's not the id's problem. The leakyBucket and tokenBucket are working properly because they extend the 'getKeys' from AbstractRateLimiterAlgorithm.java whose timestampKey has the same part '{id}' to make sure two keys are hashed into same redis cluster slot.
I think every key in the list of keys must be hashed into the same slot of redis, by adding some same part into the redis hash tag

[2022-01-25 07:20] yu199195 commented on #2808
@locatino  no, you can see sliding_window_request_rate_limiter.lua,

Is there a problem with it, and if so, can you fix it?

[2022-01-25 08:41] locatino commented on #2808
@yu199195 The script is correct and the exception shows that the code has a problem.

--https://redis.io/topics/cluster-tutorial

I think I already fixed it and I will test it for some time. Then PR.

[2022-01-25 08:54] yu199195 commented on #2808
Looking forward to your contribution

[2022-01-25 08:55] PeaceStefanYO opened #2809 "[Question] websocket example meet 404 error"
### Question

### Error stack:
`2022-01-25 16:41:18 [reactor-http-kqueue-3] WARN  reactor.netty.http.client.HttpClientConnect - [id: 0xecf885e6, L:/127.0.0.1:58299 - R:127.0.0.1/127.0.0.1:8868] The connection observed an error
io.netty.handler.codec.http.websocketx.WebSocketHandshakeException: Invalid handshake response getStatus: 404 Not Found
	at io.netty.handler.codec.http.websocketx.WebSocketC

[2022-01-25 08:59] yu199195 commented on #2809
WebSocketHandshakeException ， can you check you real server ？

[2022-01-25 09:01] PeaceStefanYO commented on #2809
zh46065ml@ZH46065MLdeMacBook-Pro ~ % telnet 127.0.0.1 8868
Trying 127.0.0.1...
Connected to localhost.
Escape character is '^]'.

[2022-01-25 09:22] PeaceStefanYO commented on #2809
I got the problem, my config mistake, close it!

[2022-01-25 09:22] #2809 closed

[2022-01-26 02:24] dragon-zhang opened #2810 "[BUG] NPE when login with a unexist user"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

got a NPE when I login with a unexist user

### Expected Behavior

no NPE

### Steps To Reproduce

1. run `org.apache.shenyu.admin.ShenyuAdminBootstrap`
2. goto (http://0.0.0.0:9095/#/user/login)
3. login with a unexist user

### Environment

[code]

### Debug logs

java.lang.NullPointerExcep

[2022-01-26 03:41] dragon-zhang opened #2812 "[Question] <should synchronized `instance` rather then `class`>"
### Question

In `org.apache.shenyu.admin.disruptor.subscriber.MetadataExecutorSubscriber#executor`
[code]
`Shenyuclientregisterservice.Class` should not be `synchronized`.

[2022-01-26 07:30] #2812 closed

[2022-01-26 08:22] dragon-zhang commented on #2013
see https://github.com/apache/incubator-shenyu/pull/2530

[2022-01-26 08:22] #2013 closed

[2022-01-26 09:34] IceFoxs opened #2814 "[BUG] shenyu-bootstrap-dist missing agent parameter in start.bat script"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/26451038/151137638-afdf5f4b-17e6-4b0d-9328-4187d5ba653d.png)

![image](https://user-images.githubusercontent.com/26451038/151138279-a36be8f3-3f41-4b30-b627-89aeb33a65e1.png)

### Expected Behavior

./start.bat agent   do work well

### Steps

[2022-01-26 10:17] hutaishi commented on #2544
![图片](https://user-images.githubusercontent.com/12478263/151145237-2edff63e-638c-4286-835d-81f654e05b77.png)
Is it possible that two servers have been started？

[2022-01-26 10:26] JooKS-me commented on #2814
@IceFoxs Hi, can you help to submit a pr to support this?

[2022-01-26 23:21] IceFoxs commented on #2814
I fix it ，pls check it

[2022-01-27 02:10] birkh8792 opened #2817 "can you provider spring cloud base nacos demo?"
### Question

can you provider spring cloud base nacos demo

[2022-01-27 06:36] yu199195 commented on #2780
see : https://github.com/apache/incubator-shenyu/pull/2664

[2022-01-27 06:37] #2810 closed

[2022-01-27 07:33] dragon-zhang opened #2818 "[Question] Compatibility needs to be improved"
### Question

cn
最近我想推动公司人员升级网关，因为我们公司使用的是旧版本的网关(还叫`soul`的版本)，升级到新版本的`shenyu`需要很大的工作量。我们能像Dubbo一样兼容吗？例如，`Dubbo`的软件包名在捐赠给`apache`之前是`alibaba`，在捐赠给`apache`后，包名改为`apache`，但它仍然与`alibaba`包名的注解和方法兼容。
en
Recently, I want to push the company's people to upgrade the gateway. Because our company uses an older version of the gateway (also known as the `soul` version), upgrading to the new version of `shenyu

[2022-01-27 07:35] dragon-zhang commented on #2818
cn
另外，为了方便以后的升级，我们能否像`istio`一样，弄一个`sidecar`？
en
In addition, in order to facilitate future upgrades, can we get a `sidecar` like `istio`?

[2022-01-27 07:40] #2814 closed

[2022-01-27 07:42] yu199195 commented on #2818
To upgrade, you just need to redeploy, admin may involve data migration

[2022-01-27 07:52] dragon-zhang commented on #2818
The workload of `data migration` is not large, but it is laborious to promote the upgrade of 'client-sdks'

[2022-01-27 07:53] yu199195 commented on #2818
It is not required, BTW, your company is register in

[2022-01-27 07:54] dragon-zhang commented on #2818
These `client-sdks` still send `post` request to `/soul-client/springmvc-register`、`/soul-client/springcloud-register`、`/soul-client/dubbo-register`

[2022-01-27 07:56] dragon-zhang commented on #2818
Already registered

[2022-01-27 08:06] dragon-zhang commented on #2818
cn
对了，之前是不是已经出过兼容版本了？
en
By the way, has there been a compatible version before?

[2022-02-02 14:37] lxl910128 commented on #2739
I fixed it

[2022-02-02 17:29] #2739 closed

[2022-02-03 10:20] lxl910128 commented on #2699
hi gays, When I finish integration test for zipkin-plugin, I found that test for  jaeger plugin is not difficult. so I finish that, pls check it ~

[2022-02-04 05:50] yu199195 commented on #2699
good job~

[2022-02-07 09:06] haibo-duan opened #2827 "[BUG] shenyu_checkstyle.xml does not support annotations from junit5"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In junit 5,Some new annotations have be used, such as:
@BeforeEach, @AfterEach, @BeforeAll, @AfterAll, @ParameterizedTest, @TestMethodOrder.
Therefore, the shenyu_checkstyle.xml file must be modified,Otherwise, the following error occurs:
![image](https://user-images.githubusercontent.com/797

[2022-02-07 10:24] hgaol opened #2829 "[Question] Small improvement - is there plan to add shenyu dependencies in root pom dependency management?"
### Question

After this change, shenyu related dependencies will define in dependencymanagement, and no need add `${project.version}` in every shenyu project. e.g.
`pom.xml` in root folder.
[code]

`pom.xml` in one of shenyu projects.

[code]

This is a small change and not affect the code logic. If it's suitable, I can do this change :)

[2022-02-07 10:32] haibo-duan opened #2830 "[Task] Update junit4 to junit5"
### Description

 As we know,  JUnit 5 has been updated recently, which is more powerful and flexible to the JUnit framework. In ShenYu project,our unit testing framework is based on JUnit4，This task will migrating the unit testing framework from JUnit4 to JUnit5.

### Task List

- [x] pom.xml  @haibo-duan
- [x] shenyu-admin @haibo-duan
- [x] shenyu-agent  @hgaol
- [x] shenyu-client @hgaol
- [x] s

[2022-02-07 16:49] hgaol commented on #2830
I can try with `shenyu-common`, thanks!

[2022-02-08 03:20] impactCn opened #2831 "[BUG] <Double the amount of logs output>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

We currently have around 500,000 DAU and around 2 million MAU.
The output out file is not packed and compressed for logs, which can easily cause the server storage memory to be full.

![image](https://user-images.githubusercontent.com/35489877/152911665-127aeeb5-4703-4105-a21b-73c4284f2e45.pn

[2022-02-08 03:23] #2827 closed

[2022-02-08 03:29] yu199195 commented on #2831
can refactor to

[2022-02-08 04:25] dragon-zhang opened #2833 "[BUG] When use `AOP`, `TarsServiceBeanPostProcessor` will not solve"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When use `AOP`, `org.apache.shenyu.client.tars.TarsServiceBeanPostProcessor` will not solve.
The relevant`TarsServiceBeanPostProcessor` code is as follows:
[code]

### Expected Behavior

`shenyu-client-tars` works fine even use `AOP`.

### Steps To Reproduce

1. use `AOP`;
2. use `shenyu-spri

[2022-02-08 06:42] lzqdename opened #2836 "[BUG] <start.sh> shell error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

on the same comuter
if you start bootstarp ,and then start admin
admin will report error "
ERROR: The ShenYu-Admin already started!
PID: 1347029
1347041
"
---
there is a error about shell script in start.sh
PIDS=`ps -ef | grep "$DEPLOY_DIR" | grep -v grep | pgrep -f java`

if u start any java

[2022-02-08 08:54] lianjunwei commented on #2754
1. This bug has been fixed in version 2.4.2. But the code can still be optimized, because when the handler is [], there is no need to iterate and compare again to get diffList.
2.  Optimization code has been PR completed.

[2022-02-08 08:54] #2754 closed

[2022-02-08 09:29] lianjunwei opened #2840 "[Question] <Context_path plugin have practical significance for websocket? Not sure if it's a bug>"
### Question

Background: I need to use the gateway proxy websocket in the project. I'm going to implement the automatic registration of websocket. During demo verification, it is found that the Context_path plugin has no practical effect on websocket. Not sure if it's a bug.

Detailed description: Context_path plugin is meaningful to the HTTP request of the divide proxy. Before the gateway really

[2022-02-08 09:40] hgaol commented on #2830
Hi there, this is my first PR and need maintainers to approve the workflows. Could anyone help me on that? Thanks! #2841

[2022-02-08 09:53] haibo-duan commented on #2830
@[hgaol](https://github.com/hgaol) Ok, thank you for your help .

[2022-02-08 12:00] tuohai666 commented on #2836
I have reproduced this problem. It was introduced by this issue https://github.com/apache/incubator-shenyu/issues/2338 to solve a problem in container.
Change the `pgrep -f java` to` awk '{print $2}'` will make the script work in host machine but fail in container.
Any suggestion? @lzqdename @lahmXu

[2022-02-08 13:43] hgaol commented on #2830
Hi @haibo-duan , thank you for your approval! I can also update the `client`, `agent`, `loadbalancer` modules.
Because `disruptor` and `bootstrap` has no test currently, I think there is no need to do the migration. Also please let me know if any other modules I can help.
After the change of root `pom.xml` has been merged, I can remove the dependencies in the sub-modules.

[2022-02-08 14:05] lzqdename opened #2845 "[Task] <no official document for some plugins>"
### Description

find no document about org.apache.shenyu.plugin.uri.URIPlugin & org.apache.shenyu.plugin.httpclient.WebClientPlugin

### Task List

1. add document for it

[2022-02-08 15:13] hgaol commented on #2325
Hi @impactCn , what will compression plugin do? Do you mean it will compress the response data from `shenyu-bootstrap`? If yes, I think maybe adding below properties can help.
[code]
If no, pls help to provide more information, so I may can help :p

[2022-02-08 15:18] impactCn commented on #2325
My idea is to do it in the gateway, not in the business. This is not good for the same management.

[2022-02-08 16:11] #2845 closed

[2022-02-08 19:37] lzqdename opened #2846 "[BUG] <when the size of response exceeds 256 * 1024,error happens>"
### Is there an existing issue for this?

- [ ] I have searched the existing issues

### Current Behavior

when the size of response exceeds 256 * 1024,error happens

### Expected Behavior

the response is normal

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2022-02-08 19:39] lzqdename commented on #2846
to fix it, we can add one config item as follows:
spring:
  codec:
      max-in-memory-size: 2MB

then user knows that this config can be adjusted

[2022-02-09 00:35] hgaol commented on #2325
I mean adding these properties in `shenyu-bootstrap`(gateway) directly, so all responses will be compressed no matter the response from service has already been compressed or not. Please correct me if any misunderstanding.

[2022-02-09 01:52] lxl910128 commented on #2830
let me try shenyu-integrated-test

[2022-02-09 01:57] lxl910128 commented on #2830
shenyu-examples using 'spring-boot-starter-test' which is using Junit 4 now.
should we change to junit 5 too?

[2022-02-09 02:21] haibo-duan commented on #2830
OK ,thaks.

[2022-02-09 02:29] #2793 closed

[2022-02-09 03:07] lianjunwei commented on #68
公司：滴滴（下面某一级事业部门）
网址：
地点：中国北京
联系方式：lianjianghe(wechat)、it2eye@163.com（email）
场景：部署了3套网关，对应3种使用场景。API网关(使用端是：设备)、业务网关（使用端是：人）、签名网关（使用端是：服务server）

[2022-02-09 03:08] luoxihong commented on #68
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-02-09 03:10] haibo-duan commented on #2830
I have assign these tasks to you. @lxl910128  @hgaol

[2022-02-09 03:19] KevinClair commented on #2840
Thanks for your reporting, i will check it later.

[2022-02-09 03:39] #2679 closed

[2022-02-09 03:39] #2699 closed

[2022-02-09 03:40] tuohai666 commented on #2831
This problem was introduced by this issue https://github.com/apache/incubator-shenyu/issues/2341 to solve a problem in container. Please go through that issue then make a fix.
Any suggestion? @impactCn @civism

[2022-02-09 03:57] impactCn commented on #2831
I think that when using the nohup command, the redirected logs can be controlled without output and can be controlled by logback. What I'm currently using inside the container is valid.

This is my pr. #2839

[2022-02-09 04:11] lzqdename opened #2847 "[BUG] <the retryCount of rule in divide plugin does not work>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior
![1644379947(1)](https://user-images.githubusercontent.com/7373911/153120614-10d3cc04-f217-40ba-b426-785e66521dbd.png)

under this settings, the retryCount does not work rightly
---
analyze from log,the webclient just invoke 1 times, but 3 times of roundbin strategy expected!

### Expected Beh

[2022-02-09 06:28] lahmXu commented on #2836
I tried to modify the `start.sh` and `stop.sh` under the directory of `apache-shenyu-incubating-2.4.2-bootstrap-bin/bin/` and `apache-shenyu-incubating-2.4.2-admin-bin/bin/`, a total of 4 files need to be modified. as shown below
[code]
specify the order of PID and it worked.

## Test Result
### Linux Server
![image-20220209135945113](https://user-images.githubusercontent.com/31627887/153133379-60

[2022-02-09 07:45] tuohai666 commented on #2836
Hi @lahmXu , I prefer your solution. Some details need to consider:

1. Remove the judgement in start.sh. If there's port conflicts, the process will failure automatically, we don't have to judge.
2. The change should be made in the stop.sh
3. Make sure Admin process will failure when the port conflicts.

[2022-02-09 07:45] lzqdename opened #2848 "[BUG] <NPE happened in admin project log>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

java.lang.NullPointerException: null
	at java.util.Optional.orElseGet(Optional.java:267)
	at org.apache.shenyu.admin.transfer.DashboardUserTransfer.transferVO2LoginVO(DashboardUserTransfer.java:72)
	at org.apache.shenyu.admin.model.vo.LoginDashboardUserVO.buildLoginDashboardUserVO(LoginDashbo

[2022-02-09 07:52] lahmXu commented on #2836
ok, I will fix the problem as you say.

[2022-02-09 08:10] tuohai666 commented on #2831
Hi @impactCn ,
What do does it mean when using inside the container? Are the logs in the right place?

[2022-02-09 08:30] impactCn commented on #2831
![image](https://user-images.githubusercontent.com/35489877/153155502-2506dfac-6c8a-4ba3-9b94-4f0b5d0fda65.png)
I pull the latest image of shenyu bootstrap. It is found that there are duplicate logs. Then I modified the start.sh script directly in the container to test. It is found that modifying to `/dev/null` can only output it once.

and logs is right place.

[2022-02-09 08:34] #2833 closed

[2022-02-09 08:43] yu199195 commented on #2846
can add in yaml， if you want to fix it

[2022-02-09 08:48] tuohai666 commented on #2831
@impactCn I'd suggest that remove the logs dir before run the modified script. If you have already read the https://github.com/apache/incubator-shenyu/issues/2341 and https://github.com/apache/incubator-shenyu/pull/2345/files , you will find when there's no log file the tail action will fail.

[2022-02-09 08:48] zhangxin766884 opened #2849 "[Question] Problems writing cookies to browser"
### Question

My calling link is: H5-->shenyu gateway-->service A, service A is dedicated to user login and permissions. With this architecture, after successful login, the gateway cannot automatically write browser cookies. PS: The call is to use the dubbo framework

[2022-02-09 09:14] yu199195 commented on #2849
if used dubbo ， maybe you can add custom plugin，then write result to cookie

[2022-02-09 09:31] lzqdename commented on #2849
maybe u can use customed filter to add token into header ,

[2022-02-09 09:34] lzqdename opened #2850 "[BUG] <admin can not be started if db type set to be mysql>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

if db set to be mysql
admin project fails to start due to lackness of mysql driver
so ,I think u had better to add mysql / pg driver jars into the lib
then users will start admin project without any trouble to increase user experience

### Expected Behavior

_No response_

### Steps To Reprod

[2022-02-09 09:38] yu199195 commented on #2850
hi， mysql lib， is not apache license， copy mysql-connector.jar to /$(your_work_dir)/ext-lib

[2022-02-09 11:37] shihaoyan opened #2852 "[Question] Does the logging plug-in affect performance?"
### Question

Does the logging plug-in affect performance?
Is log printing performed asynchronously?

[2022-02-09 11:43] yu199195 commented on #2852
hi，
1.  Logging plugin my be remove by next version.
2. The shenyu agent logging plugin will provide this functionality.
3. Of course, outputting logs will affect performance, so you can choose to match the traffic to output.

[2022-02-09 11:55] hbyandy commented on #2830
let me try shenyu-metrics

[2022-02-09 11:57] yu199195 commented on #2830
@hbyandy

hi, thanks , shenyu-metrics will be remove by this version, you can choose other module~

[2022-02-09 11:59] hbyandy commented on #2830
let me try shenyu-plugin @haibo-duan

[2022-02-09 12:10] haibo-duan commented on #2830
OK,thaks your help.

[2022-02-09 12:24] dragon-zhang commented on #2818
see https://github.com/apache/incubator-shenyu/pull/2844

[2022-02-09 12:24] #2818 closed

[2022-02-09 12:30] lzqdename commented on #2846
Okay, let me add it in yaml

[2022-02-09 13:05] lzqdename commented on #660
I do not think it is a good idea to let this gateway heavier... please keep it as smart as possible
it is just a gateway................

[2022-02-09 13:24] lxl910128 commented on #2765
let me try

[2022-02-09 15:09] lzqdename commented on #2850
ok,so i will close this issue : )

[2022-02-09 15:09] #2850 closed

[2022-02-09 15:12] lzqdename commented on #2846
the code has been merged into master branch, so I will close this issue!

[2022-02-09 15:12] #2846 closed

[2022-02-10 02:13] lzqdename commented on #2848
right

[2022-02-10 02:38] shihaoyan commented on #2852
Thank you. I would like to ask you another question. When is the execution time of this log printing? Does the response end and print the request parameters with the response parameters?
Are logs printed asynchronously?
I introduced the logging plug-in in the project, but the performance impact was not that great, or even the same as not printing the log.

[2022-02-10 07:30] dragon-zhang opened #2860 "[Question] better for spring cloud client to set port automatically?"
### Question

In `org.apache.shenyu.client.springcloud.init.ContextRegisterListener#onApplicationEvent`, if `org.springframework.context.event.ContextRefreshedEvent` change to `org.springframework.boot.web.context.WebServerInitializedEvent`, we can use `org.springframework.boot.web.server.WebServer#getPort` to set port automatically, so change it ?
[code]

[2022-02-10 07:31] #2836 closed

[2022-02-10 07:32] yu199195 commented on #2860
can support spring 4.x ？ WebServer is spring 5.0

[2022-02-10 07:34] dragon-zhang commented on #2860
I also adapted spring MVC cleint. I will try the spring 4.x version

[2022-02-10 09:10] rxyong0915 opened #2863 "[Question] file upload error"
### Question

Throwing exception when using divide plugin ：No multipart HttpMessageReader.

request header：
  Content-Type: multipart/form-data; boundary=----WebKitFormBoundaryB1BrGpxzQWAEPmFF

[2022-02-10 09:55] dragon-zhang commented on #2860
Do I need to submit code to the 'shenyu-examples' module?

[2022-02-10 10:00] yu199195 commented on #2860
not used WebServerInitializedEvent

[2022-02-10 10:01] yu199195 commented on #2860
now， can not support spring boot 1.x？

[2022-02-10 11:28] dragon-zhang commented on #2860
I've already done so. In addition, I'm sure `shenyu-client` has compatibility problems with lower versions of springboot. Take a look at the warehouse I created: https://github.com/dragon-zhang/shenyu-examples-spring4x

[2022-02-10 11:29] dragon-zhang commented on #2860
I'm trying.

[2022-02-11 09:23] yu199195 opened #2870 "[Volunteer] Add log plugin for shenyu-agent"
### Volunteer help

Hi Community：

In the observability of shenyu, the log is very important.

Now we should support log plugin in shenyu-agent.

Task List:

- [ ] add shenyu-agent-plugin-logging as parent pom.
- [ ] add add shenyu-agent-plugin-logging-rocketmq ，sending logs to rocketmq.

If you are interested, you can reply to the issue.

thanks~

[2022-02-11 10:21] gongzhibo opened #2871 "[Question]file upload error ，multipart/form-data"
### Question

java.lang.IllegalStateException: No multipart HttpMessageReader.
	at org.springframework.web.server.adapter.DefaultServerWebExchange.lambda$initMultipartData$4(DefaultServerWebExchange.java:168)
	at java.util.Optional.orElseThrow(Optional.java:290)
	at org.springframework.web.server.adapter.DefaultServerWebExchange.initMultipartData(DefaultServerWebExchange.java:168)
	at org.springfr

[2022-02-11 12:08] #2830 closed

[2022-02-11 12:16] dragon-zhang commented on #2860
see https://github.com/apache/incubator-shenyu/pull/2861

[2022-02-11 12:58] dragon-zhang opened #2872 "[Question] How to get the current Tomcat `port` correctly?"
### Question

After https://github.com/apache/incubator-shenyu/pull/2861 had been merged, I also want to make `shenyu-client-springmvc` to set port automatically. However, when the `springmvc application` is deployed in an `external` tomcat, how to correctly obtain the port number of the current Tomcat?

Here is the code:
[code]

[2022-02-11 15:05] dragon-zhang commented on #2848
see https://github.com/apache/incubator-shenyu/issues/2810, I had fixed it. @lzqdename

[2022-02-11 15:07] dragon-zhang commented on #2847
I'll take care of it.

[2022-02-12 01:40] dragon-zhang commented on #2653
Try `2.4.2` version please.

[2022-02-12 06:26] #2847 closed

[2022-02-12 07:10] lzqdename commented on #2848
Nice

[2022-02-13 05:36] hutaishi commented on #2870
I'm doing these two tasks. I will finish it no later than February 15.

Other interested partners are welcome to contribute other log plugins.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/incubator-shenyu"

[2022-02-13 07:00] dragon-zhang commented on #2872
Not supported when there are multiple instances of external Tomcat.

[2022-02-13 07:02] dragon-zhang opened #2874 "[Volunteer] spring mvc client set port automatically"
### Volunteer help

spring mvc client set port automatically, no need to support when there are multiple instances of external Tomcat.

[2022-02-13 09:10] midnight2104 commented on #1303
If there are still questions, please resubmit issue.

[2022-02-13 09:10] #1303 closed

[2022-02-13 09:10] midnight2104 commented on #1304
If there are still questions, please resubmit issue.

[2022-02-13 09:10] #1304 closed

[2022-02-13 09:11] midnight2104 commented on #1401
done

[2022-02-13 09:11] #1401 closed

[2022-02-13 09:15] midnight2104 commented on #1916
The shenyu-agent-tracing has been completed in version 2.4.2, logging and metrics are under development.

[2022-02-13 09:23] #1811 closed

[2022-02-13 09:26] midnight2104 commented on #1759
If there are still questions, please resubmit a issue

[2022-02-13 09:26] #1759 closed

[2022-02-13 09:31] midnight2104 commented on #1593
this pr(https://github.com/apache/incubator-shenyu/pull/2568) has completed it

[2022-02-13 09:31] #1593 closed

[2022-02-13 09:37] #1366 closed

[2022-02-13 09:37] midnight2104 commented on #2071
done

[2022-02-13 09:37] #2071 closed

[2022-02-13 09:39] midnight2104 commented on #1978
done

[2022-02-13 09:42] #2274 closed

[2022-02-13 09:42] #2261 closed

[2022-02-13 09:44] #2216 closed

[2022-02-13 09:45] #2209 closed

[2022-02-13 09:46] #2593 closed

[2022-02-13 09:48] #2505 closed

[2022-02-14 06:57] gongzhibo commented on #2871
当时使用shenyu网关版本2.4.2，图片上传报错

[2022-02-14 07:01] qicz commented on #2871
pls provide an example for this.

[2022-02-14 07:24] #2874 closed

[2022-02-14 07:25] #2848 closed

[2022-02-14 07:26] yu199195 commented on #2808
@locatino hi，Looking forward to your pull request~

[2022-02-14 10:09] #2653 closed

[2022-02-14 14:40] dragon-zhang commented on #2799
please assign it to me.

[2022-02-15 03:27] nf-nanfeng opened #2878 "[BUG] SelectorServiceImpl Parameter Error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In the last of the method: org.apache.shenyu.admin.service.impl.SelectorServiceImpl#updateDivideUpstream
called this method: org.apache.shenyu.admin.service.impl.UpstreamCheckService#replace

What the interface(org.apache.shenyu.admin.service.impl.UpstreamCheckService#replace) need is selecto

[2022-02-15 03:31] yu199195 commented on #2878
@nf-nanfeng

hi，pls in english for issue， Thank you for your contribution. BTW，you can fix it？

[2022-02-15 04:02] nf-nanfeng commented on #2878
sure, I will commit a PR later

[2022-02-15 04:03] nf-nanfeng commented on #2878
@yu199195 sure, I will commit a PR later

[2022-02-15 05:35] zengxp0605 opened #2879 "[Question] nacos data synchronization will lose config when restart shenyu-bootstrap"
### Question

Using `nacos` data synchronization , when I change config on `shenyu-admin` web-console and click the button "Synchronous divide".  The nacos configurations data(dataId=`shenyu.selector.json`) just has one key `divide`.  The old keys like `context_path`,`sign` and `dubbo` are missing.

In this case, I restarted `shenyu-bootstrap`, (maybe it crashed or scaled in k8s cluster), the new

[2022-02-15 06:45] afumu opened #2881 "Submit a pull request Partial check does not pass"
### Question

![b1f5238bee493bc1d008c5fdcef42d1](https://user-images.githubusercontent.com/50908453/154007040-15bc2f13-f614-43d7-95a0-d76bc488ecd0.png)
![36c57749993ec44636667fdf57ae61d](https://user-images.githubusercontent.com/50908453/154007052-605e7d4e-5ab7-42db-921d-3c2329920f29.png)

[2022-02-15 07:30] yu199195 commented on #2879
it more big data，mybe~    BTW，you can try it！

[2022-02-15 13:37] hgaol commented on #2881
Can't reproduce in my local machine, can you provide more details? Like the link to this log.

[2022-02-15 14:28] yu199195 commented on #2881
@hgaol
hi should refactor this test case , my be in multi-threaded environment

[2022-02-16 03:22] zouchangfu opened #2882 "If the interface has more than 3 seconds, the gateway will fail the request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

If the request time of the interface exceeds 3 seconds, the request will fail

![image](https://user-images.githubusercontent.com/50908453/154188798-cd4787d1-d5bd-4bca-b6a9-08364d203be6.png)

![image](https://user-images.githubusercontent.com/50908453/154188764-9f394a75-a88c-41cd-96c3-a81669c

[2022-02-16 06:51] hgaol commented on #2881
I think we can make the time window larger to make sure it still in time window for shortcut in line 153.
`org.apache.shenyu.plugin.sentinel.SentinelPluginTest#testSentinelPluginDegradeException`
[code]
If it's acceptable, I can submit PR for this issue.

[2022-02-16 06:55] dragon-zhang opened #2884 "[Volunteer] add a spring MVC example using external Tomcat"
### Volunteer help

add a spring MVC example using external Tomcat

[2022-02-16 07:20] zengxp0605 commented on #2879
I think maybe it is a bug.

First I start `shenyu-admin`, Nacos data(dataId=shenyu.selector.json) is `{}`.

Then I start `shenyu-bootstrap`, and then `shenyu-examples-http`,
at this time, Nacos data(dataId=shenyu.selector.json) content is `before.json`.

before.json(2 keys `context_path` and `divide`)
[code]

Now, I visit the url `"http://localhost:9195/http/test/findByUserId?userId=1234`, it work

[2022-02-16 07:38] zengxp0605 commented on #2879
The document on <https://shenyu.apache.org/docs/2.4.1/design/data-sync/#nacos-synchronization> says "When the sequential data send changes, it will update the configuration node in Nacos in full amount. "

But in fact, when I click button "Synchronous context_path" to synchronize data, the Nacos config is not full.

[2022-02-16 08:34] KevinClair commented on #2879
Hi @zengxp0605 , don't click button `Synchronous context_path` when you add config, then try it again.

[2022-02-16 08:55] KevinClair commented on #2879
I check the code, maybe it's a problem here.
![image](https://user-images.githubusercontent.com/37257651/154229550-dca66f6f-280a-4a06-a913-f9ba0068d9f7.png)

[2022-02-16 09:11] dragon-zhang opened #2886 "[Question] How about adding an `IsolatePlugin` ?"
### Question

With the increasing application of accessing `ShenYu`, hot applications and non hot applications will `interact` with each other, resulting in the problem of application avalanche.

To solve this problem, `IsolatePlugin` is introduced to isolate `shenyu-bootstrap` resources(such as memory, threads, etc).

Only `thread pool resource` is supported for the first version.

[2022-02-16 09:15] yu199195 commented on #2886
@dragon-zhang  whats mean  to protection shenyu？

[2022-02-16 09:18] #2831 closed

[2022-02-16 09:20] dragon-zhang commented on #2886
When facing great pressure, it can make `shenyu-bootstrap` run more stably.

[2022-02-16 10:14] yu199195 commented on #2886
Is there any difference between the hystrix plugin and resilience4j plugin~

[2022-02-16 11:15] dragon-zhang commented on #2886
These two plugins do not distinguish traffic, the traffic of hot applications can be affected by the traffic of non hot applications.

发自我的iPhone

------------------ Original ------------------
From: xiaoyu ***@***.***&gt;
Date: Wed,Feb 16,2022 6:14 PM
To: apache/incubator-shenyu ***@***.***&gt;
Cc: dragon-zhang ***@***.***&gt;, Mention ***@***.***&gt;
Subject: Re: [apache/incubator-shenyu] [Quest

[2022-02-16 11:52] yu199195 commented on #2886
@dragon-zhang

you can send eamil to dev@shenyu.apache.org, And Explain the principle and the solution，

Looking forward to your contribution~

[2022-02-17 01:08] hutaishi commented on #2870
I submitted a pull request. Please help me review it. think

[2022-02-17 03:08] dragon-zhang commented on #2886
Sure, I will do it as soon as possible.

[2022-02-17 03:47] #2884 closed

[2022-02-17 07:07] impactCn commented on #2325
It can support both configuration and management. What do you think of this way?

[2022-02-17 07:15] impactCn commented on #2765
Done in #2548.

[2022-02-17 07:15] #2765 closed

[2022-02-17 12:12] zengxp0605 commented on #2879
I know I can add config and it can work. This problem was appeared after click the button `Synchronous context_path`. No one reminded me the button can not be used with `nacos` data synchronization.

[2022-02-17 12:24] KevinClair commented on #2879
so, will you fix it?

[2022-02-18 02:01] JooKS-me opened #2890 "[GSoC 2022] Integration tests cover more scenarios"
### Description

Shenyu already has a relatively complete integration testing framework, but some plug-ins have not been tested, such as oathu2 plugin, cache plugin, metrics plugin, log-rockermq plugin, and etc.

### Task List

- [ ] Complete the integration test of the Oauth2 plugin
- [x] Complete the integration test of the cache plugin
- [x] Complete the integration test of the metrics plugin
-

[2022-02-18 02:39] HessTina-YuI opened #2891 "[BUG] The trouble of big data in Websocket."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

_No response_

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2022-02-18 02:42] HessTina-YuI opened #2892 "[Volunteer] Synchronize sorting of plugins."
### Volunteer help

Synchronize sorting of plugins.

[2022-02-18 03:15] chenzfp opened #2893 "[BUG] All requests failed using thread isolation mode in Hystrix Plugin"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current Behavior

All requests failed using thread isolation mode in Hystrix Plugin, All requests were successful when using semaphore isolation mode
<img width="988" alt="image" src="https://user-images.githubusercontent.com/29945658/154610228-25f7c90a-f2ad-4dd6-998e-2fce3d441b97.png">
Fifty requests per seco

[2022-02-18 03:39] #660 closed

[2022-02-18 04:01] hutaishi commented on #2892
I'm very interested in this. Please assign it to me.

[2022-02-18 06:29] nf-nanfeng opened #2894 "[BUG] UpstreamCheckService failed to restore zombie service caused by newwork problem"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I was simulating the network problem, I found that the abnormal upstream caused by the network problem was not restored normally after the network was restored.

### Expected Behavior

After the upstream is detected as normal, the upstream can be restored.

### Steps To Reproduce

1. run

[2022-02-18 06:55] yu199195 opened #2896 "[GSoC 2022] Add logging-elasticsearch plugin"
### Volunteer help

## Description

add logging-elasticsearch plugin, it Use elasticsearch to store shenyu's logs.
Take the shenyu gateway log information, write it to elasticSearch and display it.

Can add module like this ：
               shenyu-plugin
               ------ shenyu-plugin-logging-elasticsearch

## Task

- [ ] Add shenyu-plugin-logging-elasticsearch module and impl write it to ela

[2022-02-18 09:25] hutaishi commented on #2325
Consider supporting lz4,  Extremely Fast Compression algorithm

[2022-02-18 09:30] impactCn commented on #2325
I will.

[2022-02-18 12:28] hutaishi opened #2897 "[BUG] <shenyu agent bug>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

1. Parameter problem

![图片](https://user-images.githubusercontent.com/12478263/154679702-b4dcb3f2-84d4-41d7-874b-29675a0e7446.png)

2.Parameter problem
![图片](https://user-images.githubusercontent.com/12478263/154682215-53623b38-2988-46d1-9d39-84877b51aeb5.png)

3.forget   close
![图片](https://

[2022-02-19 03:35] #2897 closed

[2022-02-19 03:38] yu199195 commented on #2894
already fix it,  can close it

[2022-02-19 06:21] lianjunwei opened #2899 "[Task] <Websocket proxy plugin has not automatically registered SDK, it is necessary to implement it>"
### Description

Like the automatic registration of HTTP interface, an SDK is provided to realize the automatic registration ability of websocket interface.

### Task List

1. I will develop an SDK. For spring MVC and spring boot.

[2022-02-19 06:22] lianjunwei commented on #2899
The project I am working on needs to use the websocket proxy. After verification, pr it

[2022-02-19 08:20] daiwenyu opened #2901 "[Task] update dashboard"
### Description

update dashboard static file

### Task List

_No response_

[2022-02-19 10:10] dragon-zhang commented on #2882
I'll take care of it.

[2022-02-19 10:15] dragon-zhang commented on #2882
see https://github.com/apache/incubator-shenyu/pull/2903

[2022-02-19 10:31] dragon-zhang commented on #1069
Has this bug been solved ?

[2022-02-19 10:57] dragon-zhang commented on #2669
Please try again on the `master` branch. This problem has been fixed (I tried and will report `500`), @dingjian2

[2022-02-19 13:39] kaveeshadinamidu commented on #2890
@JooKS-me  I would like to contribute to this project on GSoC 2022. Can you give me guide me on how should I start with the project? Thank You!

[2022-02-19 14:02] JooKS-me commented on #2890
@kaveeshadinamidu Welcome~

This project has roughly two lines: helm charts and integration tests (or e2e test).

For helm charts, you need to try to [deploy shenyu-boostrap and shenyu-admin in Kubernetes](https://shenyu.apache.org/docs/next/deployment/deployment-k8s), then learn helm and how to write helm charts.

For integration testing, take a look at the existing [integration testing framework

[2022-02-19 14:08] kaveeshadinamidu commented on #2890
Okay, thank you @JooKS-me . I will look at them and try my best to work on them.
Thank you!

[2022-02-19 14:16] yu199195 commented on #2890
Looks very good~

[2022-02-19 14:25] erdengk commented on #2890
Wow, such an excellent project, I also want to contribute.

[2022-02-19 15:27] kaveeshadinamidu commented on #2901
Does the issue is fixed? @daiwenyu

[2022-02-20 01:44] hutaishi commented on #2891
Who is doing this? If not, please assign it to me.

[2022-02-20 06:23] hutaishi commented on #2891
the maximum value of inputMaxFrameSize is Integer.MAX_VALUE.
![图片](https://user-images.githubusercontent.com/12478263/154831138-77c802cd-866e-4e6a-8a07-1771e806a13f.png)
The maximum value of inputmaxframesize is 2147483647 bytes Under what circumstances will bigdata appear?

[2022-02-20 08:25] yu199195 commented on #2901
@kaveeshadinamidu  hi， thanks， this fixed by #2902

[2022-02-20 08:25] #2901 closed

[2022-02-20 10:50] midnight2104 commented on #958
pls see https://shenyu.apache.org/docs/design/register-center-design

[2022-02-20 10:50] #958 closed

[2022-02-20 10:52] midnight2104 commented on #1069
Hi, does this problem still exist? If there is a problem, please resubmit a issue.

[2022-02-20 10:52] #1069 closed

[2022-02-20 10:54] midnight2104 commented on #1146
shenyu can support consul for data synchronization, please refer https://shenyu.apache.org/docs/design/data-sync

[2022-02-20 10:54] #1146 closed

[2022-02-20 10:55] midnight2104 commented on #1185
pls see https://github.com/apache/incubator-shenyu/issues/2890

[2022-02-20 10:55] #1185 closed

[2022-02-20 10:57] midnight2104 commented on #1196
pls see https://shenyu.apache.org/docs/plugin-center/proxy/spring-cloud-plugin

[2022-02-20 10:57] #1196 closed

[2022-02-20 10:59] midnight2104 commented on #1198
pls see https://shenyu.apache.org/docs/user-guide/admin-usage/selector-and-rule

[2022-02-20 10:59] #1198 closed

[2022-02-20 10:59] midnight2104 commented on #1199
pls see https://shenyu.apache.org/docs/user-guide/admin-usage/data-permission

[2022-02-20 10:59] #1199 closed

[2022-02-20 11:02] #1261 closed

[2022-02-20 13:03] midnight2104 commented on #1269
Hi, does this question still exist? If there is still a problem, please resubmit the issue.

[2022-02-20 13:03] #1269 closed

[2022-02-20 13:04] midnight2104 commented on #1286
pls see https://shenyu.apache.org/docs/developer/custom-plugin
Hi, does this question still exist? If there is still a problem, please resubmit the issue.

[2022-02-20 13:04] #1286 closed

[2022-02-20 13:09] midnight2104 commented on #1338
pls see https://github.com/apache/incubator-shenyu/pull/2526

[2022-02-20 13:09] #1338 closed

[2022-02-20 13:10] midnight2104 commented on #1440
Hi, does this question still exist? If there is still a problem, please resubmit the issue.

[2022-02-20 13:10] #1440 closed

[2022-02-20 13:11] midnight2104 commented on #1544
Hi, does this question still exist? If there is still a problem, please resubmit the issue.

[2022-02-20 13:11] #1544 closed

[2022-02-20 13:13] midnight2104 commented on #2080
done

[2022-02-20 13:13] #2080 closed

[2022-02-20 13:13] midnight2104 commented on #2078
done

[2022-02-20 13:13] #2078 closed

[2022-02-20 13:14] midnight2104 commented on #2073
Hi, does this question still exist? If there is still a problem, please resubmit the issue.

[2022-02-20 13:14] #2073 closed

[2022-02-20 13:15] midnight2104 commented on #2070
Hi, does this question still exist? If there is still a problem, please resubmit the issue.

[2022-02-20 13:15] #2070 closed

[2022-02-20 13:16] #2023 closed

[2022-02-20 13:20] #1952 closed

[2022-02-20 13:21] midnight2104 commented on #1946
Hi, does this question still exist? If there is still a problem, please resubmit the issue.

[2022-02-20 13:21] #1946 closed

[2022-02-20 13:22] midnight2104 commented on #1926
Hi, does this question still exist? If there is still a problem, please resubmit the issue.

[2022-02-20 13:22] #1926 closed

[2022-02-20 13:24] midnight2104 commented on #1918
done

[2022-02-20 13:24] #1918 closed

[2022-02-20 13:25] #2278 closed

[2022-02-20 13:26] ShawnSiao commented on #2278
您好，邮件已收到。

[2022-02-20 13:26] #2215 closed

[2022-02-20 13:27] #2213 closed

[2022-02-20 13:31] midnight2104 commented on #2175
Hi, does this question still exist? If there is still a problem, please resubmit the issue.

[2022-02-20 13:31] #2175 closed

[2022-02-20 13:33] midnight2104 commented on #2159
done

[2022-02-20 13:33] #2159 closed

[2022-02-20 13:34] #2155 closed

[2022-02-20 13:35] midnight2104 commented on #2153
Hi, does this question still exist? If there is still a problem, please resubmit the issue.

[2022-02-20 13:35] #2153 closed

[2022-02-20 13:36] #2136 closed

[2022-02-20 13:37] midnight2104 commented on #2544
Hi, does this question still exist? If there is still a problem, please resubmit the issue.

[2022-02-20 13:37] #2544 closed

[2022-02-20 13:38] midnight2104 commented on #2541
Hi, does this question still exist? If there is still a problem, please resubmit the issue.

[2022-02-20 13:38] #2541 closed

[2022-02-20 13:38] #2480 closed

[2022-02-20 13:40] #1186 closed

[2022-02-20 13:40] #1268 closed

[2022-02-20 13:40] #1456 closed

[2022-02-20 13:41] #1597 closed

[2022-02-20 13:41] #1620 closed

[2022-02-20 13:41] #1731 closed

[2022-02-20 13:41] #1824 closed

[2022-02-20 13:42] midnight2104 commented on #2272
done

[2022-02-20 13:42] #2272 closed

[2022-02-20 13:43] midnight2104 commented on #2264
Hi, does this question still exist? If there is still a problem, please resubmit the issue.

[2022-02-20 13:43] #2264 closed

[2022-02-20 13:43] midnight2104 commented on #2256
Hi, does this question still exist? If there is still a problem, please resubmit the issue.

[2022-02-20 13:43] #2256 closed

[2022-02-20 13:44] #2231 closed

[2022-02-20 13:44] #2197 closed

[2022-02-20 13:44] #2055 closed

[2022-02-20 13:45] #2025 closed

[2022-02-20 13:45] midnight2104 commented on #2291
Hi, does this question still exist? If there is still a problem, please resubmit the issue.

[2022-02-20 13:45] #2291 closed

[2022-02-20 13:46] #2266 closed

[2022-02-20 13:46] midnight2104 commented on #2095
Hi, does this question still exist? If there is still a problem, please resubmit the issue.

[2022-02-20 13:46] #2095 closed

[2022-02-20 14:41] hutaishi opened #2907 "[Task] <Optimize the configurable Shenyu agent log collection>"
### Description

Which fields of log collection can be customized.

### Task List

1. Request and response are greater than 512KB, and only the length of the discarded content is reserved. Control the size. The parameters can be configured. If not configured, the default configuration will be adopted.

2. Add whether a custom field needs to be collected. The document describes the meaning and coll

[2022-02-20 16:04] erdengk opened #2908 "[Question] There seems to be a bug in the login function"
### Question

I'm a newbie and I want to contribute to shenyu. So I downloaded the code (v2.4.2) and ran it in idea.

I'm not familiar with shenyu, so I don't know how to describe this bug. I also found this bug by accident.

Steps to reproduce.
1. Run shenyu
2. Since I have logged in shenyu before, the browser saves the address
![image](https://user-images.githubusercontent.com/37730787/154851509

[2022-02-20 16:25] KevinClair commented on #2908
Hi @fengzhenbing, any suggestions?

[2022-02-20 17:28] JooKS-me commented on #2908
Yes, I reproduced this problem on my PC too.

[2022-02-20 18:16] erdengk commented on #1888
Hi， @dengliming
It seems that no one has contributed to this issue yet. I have done some research and have ideas for improvement. I would like to ask you to review it.

1. Regarding the first point you mentioned

I looked at your proposed method and detailDashboardUser doesn't return a password field. (Maybe I read the code wrong, please help me)

2. Consider Using sha512 algorithm to encrypt the

[2022-02-20 18:40] erdengk commented on #2496
Hi，@JooKS-me
Can I contribute to this question? Please guide me how to start
I've already seen it  [How to start the integrated tests]( https://github.com/apache/incubator-shenyu/tree/master/shenyu-integrated-test) and [Integration Test Analysis](https://shenyu.apache.org/blog/IntegrationTest-Analysis/)

Is it possible to accomplish this task with this knowledge?

[2022-02-21 00:58] JooKS-me opened #2909 "[Volunteer] Add integration test for Hystrix plugin"
### Volunteer help

- [ ] Add integration test for Hystrix plugin

We should test as many parameter configurations as possible.

[2022-02-21 00:59] JooKS-me opened #2910 "[Volunteer] Add integrated test for Resilience4j plugin"
### Volunteer help

- [ ] Add integrated test for Resilience4j plugin

We should test as many parameter configurations as possible.

[2022-02-21 01:02] JooKS-me commented on #2496
Hi @erdengk , sorry, this task should be a part of GSoC #2890 , do you want to take #2909 ?

[2022-02-21 01:17] hgaol commented on #2910
I can have a try.

[2022-02-21 02:47] hutaishi opened #2911 "[BUG] <shenyu agent zipkin method tag error>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

### Current Behavior
![图片](https://user-images.githubusercontent.com/12478263/154880646-f298e6cd-06b3-499a-9dbd-2d5b6c81f80f.png)
### Current code
![图片](https://user-images.githubusercontent.com/12478263/154880698-c1e7cc08-d649-4325-85d8-0d15b65c4a3c.png)

### Expected Behavior

http.status_c

[2022-02-21 03:55] yu199195 commented on #2891
@hutaishi  Looking forward to your pr~

[2022-02-21 03:59] hutaishi commented on #2891
I'm happy to do such an interesting thing

[2022-02-21 05:58] erdengk commented on #2496
OK

[2022-02-21 06:12] erdengk commented on #2909
Hi，@JooKS-me
I want to try to solve this problem.
I don't know much about integration tests. I noticed a lot of related issues and PRs in the community. Maybe I can learn these issues and pr to solve this problem?

[2022-02-21 06:22] JooKS-me commented on #2909
You can refer to [the integration test of RateLimiterPluginTest](https://github.com/apache/incubator-shenyu/blob/master/shenyu-integrated-test/shenyu-integrated-test-http/src/test/java/org/apache/shenyu/integrated/test/http/combination/RateLimiterPluginTest.java), I think they are somewhat similar.

[2022-02-21 06:27] JooKS-me commented on #2910
good luck!

[2022-02-21 06:47] erdengk commented on #2909
@JooKS-me
ok，thank you. I will try my best to fix it.

[2022-02-21 07:19] QinHaiqi commented on #2896
Hi~My name is Qin Haiqi. I majored in computer science at Northeastern University.I would like to contribute to this project on GSoC 2022~

[2022-02-21 07:22] QinHaiqi commented on #2896
Hi\~My name is Qin Haiqi. I majored in computer science at Northeast University.I would like to contribute to this project on GSoC 2022~

[2022-02-21 07:36] #2911 closed

[2022-02-21 09:13] hutaishi commented on #2891
Hi, I have submitted a pr. if you are free, please check it for me. Thank you very much

[2022-02-21 09:15] kaveeshadinamidu commented on #2908
Hi, @JooKS-me I would like to work on this bug. Can you assign this to me?

[2022-02-21 09:45] dragon-zhang opened #2916 "[Question] How about change ribbon `ServerListRefreshInterval` from 30s to 10s ?"
### Question

If the data of the registry (such as zookeeper) has been updated, `SpringCloudPlugin` will still select `unavailable` instances when using `Ribbon` for load balancing, change `ServerListRefreshInterval` from `30s` to `10s` can't completely solve this problem, but it can be avoided to a great extent.

[2022-02-21 09:58] #2891 closed

[2022-02-21 11:01] dragon-zhang commented on #2916
Oh, maybe it's better to refactor like DividePlugin ?

发自我的iPhone

------------------ Original ------------------
From: dragon-zhang ***@***.***&gt;
Date: Mon,Feb 21,2022 5:45 PM
To: apache/incubator-shenyu ***@***.***&gt;
Cc: dragon-zhang ***@***.***&gt;, Your activity ***@***.***&gt;
Subject: Re: [apache/incubator-shenyu] [Question] How about change ribbon `ServerListRefreshInterval` from 30s to

[2022-02-21 11:28] yu199195 commented on #2916
this props，maybe can dynamic config~

[2022-02-21 12:06] tuohai666 opened #2917 "[GSoC 2022] Shenyu add logging-kafka plugin"
### Volunteer help

## Description

Add logging-kafka plugin, it Use Kafka to store shenyu's logs.
Take the shenyu gateway log information, write it to Kafka and display it.
Can add module like this ：
shenyu-plugin
  - shenyu-plugin-logging-kafka

## Task

- [ ] Add shenyu-plugin-logging-kafka module and impl write it to kafka
- [ ] Complete unit test for this module
- [ ] Complete the integration

[2022-02-21 13:08] erdengk commented on #2917
@hutaishi  Fortunately, gsoc lifted the restrictions this year. Any adult can participate in the gsoc.

[2022-02-21 13:36] dragon-zhang commented on #2916
In `ShenyuClientRegisterSpringCloudServiceImpl#buildHandle`, I found that `URLs` has been set in the `handle` field of the `selector`, which means that we can do this directly in 'SpringCloudPlugin#doExecute':
[code]

[2022-02-21 13:41] dragon-zhang commented on #2916
In this way, another benefit is that we don't have to depend on `Ribbon`.

[2022-02-21 14:10] dragon-zhang commented on #2916
Haha, as I supposed :)
<img width="993" alt="111111_3c411993-a2c3-419a-96f3-1077dc28d722" src="https://user-images.githubusercontent.com/38336731/154971081-4f9b961d-6cdf-447e-8745-7bd682a7a0db.png">

[2022-02-21 14:13] dragon-zhang commented on #2916
I think `List<Upstream> upstreamList = UpstreamCacheManager.getInstance().findUpstreamListBySelectorId(selector.getId());` could be better, what do you think ?

[2022-02-21 15:41] dragon-zhang commented on #2627
For example, there are 3 upstreams like `http://localhost:1111`、`http://localhost:1112` and `http://localhost:1113`, when call `http://localhost:1111` fails, I think he means to call `http://localhost:1112` or `http://localhost:1113` for retry, not just call `http://localhost:1111` for retry, don't you ? @yuzhijia88

[2022-02-21 17:40] RobWin commented on #2910
I cross my fingers :)

[2022-02-22 02:09] gaochuang98 commented on #2917
This is really good news , can i get involved ？

[2022-02-22 02:10] #2726 closed

[2022-02-22 03:23] yu199195 commented on #2878
it be fix ，i will close it， thanks

[2022-02-22 03:23] #2878 closed

[2022-02-22 03:32] JooKS-me commented on #2910
Haha, we think Resilience4j is an excellent fault-tolerant library that can integrate well with Apache ShenYu~

[2022-02-22 07:43] dengliming commented on #1888
We need to discuss about this first. @yu199195

[2022-02-22 10:21] erdengk commented on #1888
hi, @dengliming
Please check this email.

https://lists.apache.org/thread/dpwllrrpsqt1svyy0f05p20l2kzrmtdh

This is the result of my discussion with him. Can I submit the code as discussed in the email?

[2022-02-22 12:40] dengliming commented on #1888
@erdengk Sure. Feel free to go. : )

[2022-02-22 12:50] zhaiweij opened #2923 "[Task] <Add Shenyu cache plugin>"
### Description

method as key;user configuration (matching traffic), there is a return in the cache, if not, call the thread, and then put the cache in it

### Task List

1. add cache plugin
2. cache plugin added to SPI

[2022-02-22 17:46] erdengk commented on #1888
Hi，@qurenneng @yu199195
It's not very convenient to add the viewing code to the email, let's discuss it here.

(I searched github and other sites and found no useful solution)

I completed the password encryption task this afternoon, updated functions such as login, password modification, etc.
And also ran the application (without any errors), and all functions can complete the task as expected.

[2022-02-22 18:13] HessTina-YuI commented on #1888
The new class is lack of apache protocol.

[2022-02-22 18:26] erdengk commented on #1888
After testing, the problem is that the apache protocol is not added.

After adding, the above errors will appear. But maven builds successfully
[code]

![image](https://user-images.githubusercontent.com/37730787/155195471-d3860dbb-b1e2-4095-bde2-28c36e243e91.png)

[2022-02-23 02:17] hgaol opened #2924 "[Task] Change `Duration.ofSeconds` and `Duration.ofNanos` to `Duration.ofMiles` to avoid calculate manually in Resilience4J Plugin"
### Description

Change `Duration.ofSeconds` and `Duration.ofNanos` to `Duration.ofMiles` to avoid calculate manually. And divide by 1000 will also influence the accuracy.

### Task List

 - [ ] change to Duration.ofMiles to avoid manual canculation.

[2022-02-23 02:18] hgaol commented on #2924
I can quick fix it.

[2022-02-23 03:26] yu199195 commented on #2924
it good pull reuqest， it be fix， i will close this issue~

[2022-02-23 03:26] #2924 closed

[2022-02-23 03:27] yu199195 commented on #2916
good pr， i will close this issue~

[2022-02-23 03:27] #2916 closed

[2022-02-23 03:37] #2517 closed

[2022-02-23 04:23] hutaishi opened #2926 "[BUG] <registerType is zookeeper，contextPath contains multiple '/', like '/my/context', but '/' Is a zookeeper special character>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

contextPath contains multiple '/'.
setup admin:
![图片](https://user-images.githubusercontent.com/12478263/155261151-cde300f8-d574-4035-ac07-33965a222db8.png)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

##

[2022-02-23 05:50] yu199195 commented on #2926
contextPath only used by one '/'

[2022-02-23 05:57] hutaishi commented on #2926
I don't think it's necessary to set multiple '/'. So can close this issue.

[2022-02-23 06:23] #2926 closed

[2022-02-23 09:12] hgaol opened #2927 "[Question] For Resilience4J plugin, why using max value between user configuration and preset, instead of making the preset value as default?"
### Question

You can see below codes in `Resilience4JHandle#checkData`. The question is as mentioned in title. Is it by design?

<img width="1641" alt="image" src="https://user-images.githubusercontent.com/11908658/155288768-adefbeb9-907d-47c2-b872-27911f91c7e6.png">

BTW, if it's purpose is to use preset value as default, I can help to fix it.

Similar question, #2055 .

[2022-02-23 09:19] hgaol commented on #2927
Sorry, seems all the configurations except `fallbackUri` are required in `admin` portal. I guess the goal for `checkData` is to avoid invalid number, like `-10`?

[2022-02-23 09:21] yu199195 commented on #2927
it set value, i think the logic should be to set defaults if you don't have them and configure them if you do~

[2022-02-23 09:29] hgaol commented on #2927
If like you mentioned, I think it needs to be updated. BTW, many fields like `limitForPeriod` are `int` or `long`, which means it will always has a number. Considering 0 is also an valid config in `resilience4j` for some scenarios, could I just verify the number and replace with default when it's less than 0. Like,
[code]

[2022-02-23 11:04] tsinyi opened #2930 "[BUG] <shenyu-admin Selector page display error >"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Shenyu-admin page：
PluginList--->Proxy--->Divide:
SelectorList----->Add(or Modify)---->MatchType Selection display the "matchMode" value (0) instead of "matchModeName"

### Expected Behavior

MatchType Selection expected to  display  "matchModeName" ,such as "and" or "or".

### Steps To Repro

[2022-02-23 12:02] yu199195 commented on #2927
yes , you can~

[2022-02-23 13:20] gaoliang commented on #2930
Can't reproduce, can you provide screenshots and data where DictionaryType is "matchMode" in menu BasicConfig/Dictionary?

[2022-02-23 13:29] yuzhijia88 commented on #2627
yes

[2022-02-23 14:39] dragon-zhang commented on #2627
It can be done and if it done, you need to add some config for `DividePlugin`(in order to be compatible with the old version of `DividePlugin`), can you accept it ?

[2022-02-23 15:14] #1888 closed

[2022-02-23 15:54] dragon-zhang commented on #2886
After reading `Concurrent Thread count` in https://sentinelguard.io/en-us/docs/flow-control.html carefully, I realize that `SentinelPlugin` has provided good support for this, and there is no need to add `IsolatePlugin`, so I will close this issue.

[2022-02-23 15:54] #2886 closed

[2022-02-24 01:32] zouchangfu opened #2931 "hystrix plugin rule configuration, must restart the gateway to take effect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

_No response_

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2022-02-24 02:06] tsinyi commented on #2930
check this out:
<img width="981" alt="WechatIMG58" src="https://user-images.githubusercontent.com/28223954/155443542-b4355b9d-77a5-4b2c-81e5-c1931b6c8c52.png">

<img width="510" alt="WechatIMG59" src="https://user-images.githubusercontent.com/28223954/155443606-a2a44627-8da7-434e-b40b-4a1a17a6bbb1.png">

[2022-02-24 02:27] yu65044 opened #2932 "The divide plugin successfully registered the https request, but the gateway forwarded abnormally[Question] <title>"
### Question

My local https request can be successfully registered to divide, but the gateway forwarding keeps prompting:Caused by: javax.net.ssl.SSLHandshakeException: General SSLEngine problem

The version running locally is 2.4.2-tar, Windows 10 environment:

Both admin and bootstrap use the default configuration, the local client uses the p12 certificate generated by the local jdk8, and the s

[2022-02-24 03:10] yu65044 commented on #2817
no one replied,but this can have

[2022-02-24 03:11] yu65044 commented on #2932
tick tick tick...

[2022-02-24 03:26] yu199195 commented on #2932
hi， you can see this config ： https://github.com/apache/incubator-shenyu/tree/master/shenyu-integrated-test/shenyu-integrated-test-https/src/main/resources

[2022-02-24 03:26] yu199195 commented on #2932
hi， you can see this config ： https://github.com/apache/incubator-shenyu/tree/master/shenyu-integrated-test/shenyu-integrated-test-https/src/main/resources

[2022-02-24 03:28] #2927 closed

[2022-02-24 04:17] hutaishi commented on #2931
Who is doing this? If not, can you assign it to me and let me exercise

[2022-02-24 05:48] yu65044 commented on #2932
i got it,I refer to shenyu-examples-https, without adding keystore.p12 and configuration information in bootstrap...

[2022-02-25 02:28] yuzhijia88 commented on #2627
yes

[2022-02-25 02:51] dragon-zhang commented on #2627
Ok, I'll take care of it.

[2022-02-25 05:10] hgaol opened #2937 "[Question] fallbackUri is only valid for APIs in `shenyu-bootstrap` in `Resilience4J` plugin."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When setting the `fallbackUri` to APIs not in `shenyu-bootstrap`, like `https://example.com`, it will not redirect to the target  endpint. As well as for other registered APIs like APIs in `http-example` module.
e.g.
<img width="899" alt="image" src="https://user-images.githubusercontent.com/

[2022-02-25 08:57] hgaol commented on #2937
Don't know if it's a bug, just submitted a PR. If it's not a bug, please ignore the PR and let me know. 😄

[2022-02-25 09:41] yu199195 commented on #2937
now， only fallback to shenyu.  Not an outside service.

if you can support outside service, pls pull request.

[2022-02-25 13:37] #2805 closed

[2022-02-25 13:39] midnight2104 commented on #2493
Does this problem still exist? Please reopen a issue.

[2022-02-25 13:39] #2493 closed

[2022-02-25 13:43] #2207 closed

[2022-02-25 13:44] #2258 closed

[2022-02-25 13:44] #2029 closed

[2022-02-25 13:45] midnight2104 commented on #1982
done

[2022-02-25 13:45] #1982 closed

[2022-02-25 18:12] kaveeshadinamidu commented on #2910
Do the tests are implemented? If not I can have a try.

[2022-02-26 03:20] dragon-zhang commented on #2627
And I think it's not a `bug` but a `new feature`.

[2022-02-26 06:44] dragon-zhang opened #2940 "[Volunteer] support config dubbo consumer pool"
### Volunteer help

support config dubbo consumer pool

[2022-02-28 06:52] lxl910128 commented on #2931
hello , you can use this feature synchronous config.

<img width="1342" alt="image" src="https://user-images.githubusercontent.com/8736745/155937633-925d96da-00db-4213-bf27-902580ad4213.png">

[2022-02-28 08:25] #2910 closed

[2022-02-28 08:39] AhahaGe opened #2945 "[Task] Optimize some code style for shenyu-loadbalance plugin"
### Description

Optimize some code style for shenyu-loadbalance plugin
1. comment style from /** * */ to // in method
    `/**
                 * weight changed.
                 */`
2. variable definition like selectedWRR, rename divideUpstream to upstream
3. some other code warn

### Task List

_No response_

[2022-02-28 08:39] AhahaGe commented on #2945
please assign to me

[2022-02-28 11:03] impactCn opened #2947 "[BUG] <SQL script to initialize postgres fails>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

admin normal sync.

### Expected Behavior

Using container startup, SQL script to initialize postgres fails.

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

### Error querying database.  Cause: org.postgresql.util.PSQLException: ERROR: relation "plugin" does n

[2022-02-28 12:08] ShawnJim commented on #2947
i will fix it.

[2022-03-01 00:58] ZhangJiaLei123 opened #2951 "[Question] Selector & rule (contextPath)"
### Question

I want a connection like this, how can I do it?
[code]
Sorry, I can't find detailed documentation and blogs about contextPath.
[issues](https://github.com/apache/incubator-shenyu/issues/2951#issuecomment-1060331029)

[2022-03-01 01:05] ZhangJiaLei123 commented on #2951
That doesn't seem to work:
[code]

[2022-03-01 03:03] yu199195 commented on #2951
can used context path plugin~

[2022-03-01 03:53] bnuzhanyu opened #2952 "[Question] Document of "multilingual HTTP client" update request"
### Question

https://shenyu.apache.org/docs/developer/developer-shenyu-client/
There are two questions:
1. Request path for English version is http://soul-admin/soul-client/springmvc-register,
while for Chinese version is: http://shenyu-admin/shenyu-client/springmvc-register.
2. I sent the request and got "token is error", so I thought the doc should be updated to tell how to deal with admin's us

[2022-03-01 04:06] bnuzhanyu commented on #2952
3. I thought "port" is not a required param if the "host" param is not an IP but like a dns, but I have not tested yet.

[2022-03-01 04:19] #2945 closed

[2022-03-01 06:21] AhahaGe opened #2955 "[Question] <ci error when running shenyu-admin PluginMapperTest.selectByName() test method>"
### Question

I submit a pr https://github.com/apache/incubator-shenyu/pull/2953.
But ci said error occurs, detail is below picture.
It said PluginMapperTest.selectByName() line 67 final PluginDO resultPluginDO = pluginMapper.selectByName(pluginDO.getName()); returned 3 result.
I wonder test methods are executed concurrently and this method returned object inserted by other method and their name a

[2022-03-01 06:32] li-keguo opened #2956 "[Task] Optimize and verify shenyu-admin module interface parameters"
### Description

Use validation for parameter verification, clear the verification in the code [in service].

Expand the annotation of validation to simplify the verification logic.

assign me, please

### Task List

- [x] Expand the annotation of validation to simplify the verification logic.

- [ ] Use validation for parameter verification, clear the verification in the code [in service].

[2022-03-01 07:47] AhahaGe commented on #2955
can be closed as fixed in pr 2953

[2022-03-01 07:47] #2955 closed

[2022-03-01 08:15] AhahaGe opened #2957 "[Question] <Two LoadBalancer code logic question>"
### Question

First is in HashLoadBalancer, see below code, can ConcurrentSkipListMap be replaced by SortedMap as we do not need concurrency logic.
[code]

-----------

Second, in AbstractLoadBalancer class, see below code will method calculateWarmupWeight always return 1, as uptime always slower than warmup, and weight is always int and > 1;

[code]

[2022-03-01 08:52] hutaishi opened #2958 "[BUG] <ShenYu Agent Interceptor params: @SuperCall final Callable<?> callable should only call once>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When there are multiple handlers, callable will call multiple times
![图片](https://user-images.githubusercontent.com/12478263/156136206-a1bab5a2-db21-4bec-b559-7d44fe404b38.png)

### Expected Behavior

@SuperCall final Callable<?> callable should only call once

### Steps To Reproduce

_No res

[2022-03-01 09:48] hutaishi commented on #2958
Please assign this to me. think

[2022-03-01 14:27] KevinClair commented on #2957
If weight is 1 and uptime slower than warmup, ww is 1.

[2022-03-01 14:28] KevinClair commented on #2957
If weight is 1 and uptime slower than warmup, `ww` is 1.

[2022-03-01 14:29] KevinClair commented on #2957
If weight is 1 and uptime slower than warmup, `ww` is 0.

[2022-03-01 14:50] PeaceStefanYO opened #2960 "[BUG] <title>websocket plugin returns error code 1002"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Got a 1002 error code (1002 Protocol Error:Server internal error)

### Expected Behavior

Shenyu websocket plugin can work as a proxy to an live wss endpoint well.

### Steps To Reproduce

1 Building up a websocket proxy to a live wss "wss://ws2.zoomex.com/realtime?v=2&timestamp=1645693331100

[2022-03-01 14:51] PeaceStefanYO commented on #2960
And I also wanna know why in websocket plugin, a block of java code do a header filter with "sec-websocket" start with.

[2022-03-01 15:13] yu199195 commented on #2960
can you config to  ws:// ，

Why do you think can be support wss? What is the difference between ws and wss?

[2022-03-02 00:35] PeaceStefanYO commented on #2960
This can be make a improvement that allowing reset ws header "host".As I tested it in a local env so that "127.0.0.1" will passed by to the target wss://xxx.zoomex.com.So changed websocket plugin code to force re-set host into "xxx.zoomex.com" instead of "127.0.0.1",this works well, THX!

[2022-03-02 01:11] AhahaGe commented on #2957
yes, I mean ww is always between 0 and 1, so ww is 1, and Math.min(ww,weight) is of no use?

[2022-03-02 03:16] KevinClair commented on #2957
int ww = (int) ((float) 250 / ((float) 500 / (float) 50));

[2022-03-02 03:30] AhahaGe commented on #2957
many thanks

[2022-03-02 06:07] #2958 closed

[2022-03-02 08:51] dragon-zhang opened #2963 "[BUG] `NettyHttpClientPlugin` did not retry when fail"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

`NettyHttpClientPlugin` did not retry when fail.

### Expected Behavior

when fail, `NettyHttpClientPlugin` has retry like `WebClientPlugin`.

### Steps To Reproduce

1. run `ShenyuAdminBootstrap`;
2. set `shenyu.httpclient.strategy=netty` then run `ShenyuBootstrapApplication`;
3. run `Shenyu

[2022-03-02 09:44] dragon-zhang commented on #2963
see https://github.com/apache/incubator-shenyu/pull/2964

[2022-03-02 09:44] #2963 closed

[2022-03-02 11:24] hutaishi commented on #2892
This function has been completed.  can close this issue

[2022-03-02 11:52] PeaceStefanYO commented on #2960
Yeah,I've done it like this.Every thing goes well!

[2022-03-02 14:28] #2892 closed

[2022-03-03 01:05] Moice commented on #68
公司：南京唯诚医药科技
网址：www.zynk985.com
地点：江苏南京
联系方式：tanjing@zynk-985.com
场景：业务网关(调研阶段)

[2022-03-03 01:05] luoxihong commented on #68
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-03-03 03:18] hgaol opened #2966 "[Task] Support redirect to external fallback URIs instead of URIs in `bootstrap` for `sentinel` plugin."
### Description

Same as #2937 , sentinel plugin also has the same issue that it doesn't work when setting fallback URIs not in `bootstrap`. The goal of this task is to support the same feature in `sentinel` plugin, as well as doing some refactor to reduce duplicated codes.

### Task List

1. support redirect to URIs not in `bootstrap`.
2. refactor to reduce dup codes in `resilience4j` and `sentin

[2022-03-03 03:18] hgaol commented on #2966
Please assign it to me and I'll finish it later, thanks~

[2022-03-03 03:25] #2957 closed

[2022-03-03 04:00] willfenglover opened #2967 "[Question] How to upgrade shenyu from version 2.4.0 to 2.4.2"
### Question

I want to upgrade shenyu which using mysql as the data store from version 2.4.0 to 2.4.2，but I ran into some problems，as the log shows.

and then I created a brand new database, it worked fine. so what should I do? Do I need to execute some SQL to upgrade?

[code]

[2022-03-03 04:41] erdengk commented on #2909
@kaveeshadinamidu
I'm still writing the test, I'll ask for help if there's a problem, thanks～

[2022-03-03 06:13] yu199195 commented on #2967
@willfenglover

1. see this config ：https://github.com/apache/incubator-shenyu/blob/master/shenyu-admin/src/main/resources/application.yml
2. see this upgrade sql ： https://github.com/apache/incubator-shenyu/tree/master/script

[2022-03-03 08:03] shawnlamjj opened #2969 "[Question] <title>SpringCloud proxy set isFull true but Rules Conditions is wrong"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Conditions show uri is "=" /ContextPath

### Expected Behavior

Conditions show uri is "match" /ContextPath/**

### Steps To Reproduce

1.set application.yml

### Environment

[code]

### Debug logs

_No response_

### Anything else?

There was no problem in the previous 2.4.0 version, why di

[2022-03-03 08:04] shawnlamjj commented on #2969
shenyu:
  register:
    registerType: consul
    serverLists: x.x.x.x:8500
    props:
      name: ${spring.application.name}
      instanceId: ${spring.application.name}:${server.port}
  client:
    springCloud:
      props:
        contextPath: /${spring.application.name}
        port: ${server.port}
        isFull: true

[2022-03-03 09:52] #2966 closed

[2022-03-03 10:41] lishuo5263 opened #2970 "[Task] <The example-springcloud should be More distinct>"
### Description

The example-springcloud have two config ways ,one of eureka ,the another is nacos, but by the way ,the first all User to run this project demo ,mybe have some confuse ,because the project pom、yaml config is not clearly

### Task List

1.add eureka yaml
2.add nacos yaml
3.bootstrap yaml use active one of above to decide microservice way .

[2022-03-03 12:18] chariles opened #2972 "[Question] shenyu-admin"
### Question

When I restart admin, the original configuration will be lost，why is this？

[2022-03-04 01:17] AhahaGe commented on #2972
could you please detail your question, with version, snapshot, procedure and so on, many thanks.

[2022-03-04 06:33] KevinClair commented on #2972
Set `spring.profiles.active=mysql`, then try it again.

[2022-03-04 07:18] dragon-zhang commented on #2940
apache dubbo part had done, see https://github.com/apache/incubator-shenyu/pull/2941

[2022-03-04 07:49] #2940 closed

[2022-03-04 07:53] huaweiecho opened #2976 "[Question] <Shenyu gateway SpringCloud proxy timeout problem>"
### Question

shenyu version 2.4.2
In the case of debugging interface timeout problems. When I set the HTTP timeout to the following configuration, Service provider interface Sleep 5000ms, The gateway generates a timeout error after 3000ms each time.
http config
shenyu.httpclient.strategy=webClient
shenyu.httpclient.connectTimeout=45000
shenyu.httpclient.readTimeout=10000
shenyu.httpclient.writeTi

[2022-03-04 08:20] AhahaGe commented on #2976
is this a repeat issue, does this one the same with yours #2882 ?

[2022-03-04 08:34] xiaheshun commented on #2976
shenyu 2.4.2
1.login your shenyu-admin web
2.PluginList-->Proxy-->SpringCloud-->RulesList-->Modify-->Handler-->timeout default 3000ms
3.Set timeout parameters

For other versions, perform similar operations. Configure your rules.

[2022-03-04 08:52] huaweiecho commented on #2976
case1:
shenyu.httpclient.readTimeout=3000
shenyu.httpclient.writeTimeout=3000

rule timeout：10s

provider server sleep：8s

error：io.netty.handler.timeout.ReadTimeoutException: null

case2：
shenyu.httpclient.readTimeout=10000
shenyu.httpclient.writeTimeout=10000

rule  timeout：10s

provider server sleep：8s

invoke success

case3：

shenyu.httpclient.readTimeout=10000
shenyu.httpclient.writeTimeout=1

[2022-03-04 11:59] haibo-duan opened #2981 "[Volunteer] Add integration test for [shenyu-agent] module ."
### Description

Add integration test for  [shenyu-agent] module .
We should test as many parameter configurations as possible.

### Task List

- [ ] Add integration test for  [shenyu-agent] module

[2022-03-04 12:02] haibo-duan opened #2982 "[Volunteer] Add unit test for [shenyu-agent] module ."
### Volunteer help

Add unit test for [shenyu-agent] module .
please use junit5.

[2022-03-05 04:32] kaveeshadinamidu commented on #2982
I would like to work on this. Can you assign it to me? @haibo-duan

[2022-03-05 05:40] haibo-duan commented on #2982
@[kaveeshadinamidu](https://github.com/kaveeshadinamidu) Ok, thank you for your help .

[2022-03-05 10:21] lianjunwei opened #2983 "[BUG] <The judgment of the contains condition of all plug-ins does not work, which is a serious bug. >"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have a URL: /gateway-demo/n/findById, which contains 'n'  to execute a plug-in. It is found that the plug-in is not executed.

![12451646473251_ pic](https://user-images.githubusercontent.com/13819823/156879282-215a59fc-a809-4f0e-b545-9d7443a633f3.jpg)

### Expected Behavior
java class: the

[2022-03-05 10:36] impactCn commented on #2983
https://github.com/apache/incubator-shenyu/pull/2608

This pr is a bug that was introduced by fixing various configurations. Can you try to fix the problem that the current string contains?

[2022-03-05 18:32] impactCn opened #2987 "[BUG] <CVE-2020-5421>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently using spring Boot version 2.2.3, springFramework version is 5.2.2.

In the scope of CVE-2020-5421, we may need to upgrade the springBoot version.

https://tanzu.vmware.com/security/cve-2020-5421

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Enviro

[2022-03-06 02:40] chariles commented on #2972
ok, get it,many thinks

[2022-03-06 03:17] lianjunwei commented on #2983
#2608 this fix is actually a wrong usage. "Contains" cannot be used as a "In". As shown below:
![image](https://user-images.githubusercontent.com/13819823/156907665-2fe5bf1d-fe1d-4aea-81cb-7740eaefbe0a.png)

[2022-03-06 03:41] lianjunwei opened #2988 "[Task] <The operator of conditional judgment supports the "exists" predicate.>"
### Description

#2608 this fix is actually a wrong usage. "Contains" cannot be used as a "In". As shown below:
![image](https://user-images.githubusercontent.com/13819823/156907665-2fe5bf1d-fe1d-4aea-81cb-7740eaefbe0a.png)

Therefore, whether it is necessary to add a predicate: in.Similar to "in" in SQL database. For example, "127.0.0.1" in ("127.0.0.1", "128.0.0.1").

### Task List

1.Implement

[2022-03-06 03:58] erdengk commented on #2982
@kaveeshadinamidu
Sheyu-agent has many modules, can I contribute together? Please share with me. thanks ：）

[2022-03-06 04:06] kaveeshadinamidu commented on #2982
@erdengk Yeah sure lets work together 👍

[2022-03-06 04:09] erdengk commented on #2982
@kaveeshadinamidu
thanks, my friend.
What about that part of the test I do? Please assign it.

[2022-03-06 04:25] kaveeshadinamidu commented on #2982
@erdengk You can choose the models that you want. And give me other ones. That's fine with me 👍

[2022-03-06 05:55] erdengk opened #2992 "[BUG] There seems to be a problem with HystrixPlugin"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I've found some issues while writing integration tests for the hystrix plugin. This is one of them.

In shenyu's code, hystrix needs to configure all parameters. If there are parameters that are not configured, the background will report a java.lang.NullPointerException: null error.

 There i

[2022-03-06 05:57] erdengk commented on #2931
@lxl910128
I tried sync but it still doesn't work.
I think this is also a bug. I created a new issue #2992

[2022-03-06 14:45] #2987 closed

[2022-03-07 07:36] chariles opened #2997 "[Question] admin-register-sync"
### Question

I configured the following，
shenyu:
  register:
    registerType: nacos  #zookeeper #etcd #nacos #consul
    serverLists: 172.16.3.139:8848  #localhost:2181 #http://localhost:2379 #localhost:8848
    props:
      nacosNameSpace: ShenyuRegisterCenter

The client configuration is the same as above，When the client down, the service list of admin is not updated， still route to the origin

[2022-03-07 08:15] yu199195 commented on #2997
whats the version？

its the real server?

[2022-03-07 08:15] #2983 closed

[2022-03-07 08:38] ZhangJiaLei123 commented on #2951
Does contextPath have the same curl registration as Divide?
It doesn't work.
[code]
return
[code]

[2022-03-07 09:18] chariles commented on #2997
version is 2.4.2

[2022-03-07 10:05] yu199195 commented on #2997
its your real server?  in shenyu admin not update?

[2022-03-07 15:22] chariles commented on #2997
yes，i'm sure.

[2022-03-07 16:54] DevGautam2000 commented on #2896
I would like to contribute to this project for GSOC 2022. Would you kindly provide with further details Sir?

[2022-03-08 02:55] yu199195 commented on #2896
@DevGautam2000  hi，you can see this ： [subscribe-email](https://shenyu.apache.org/community/subscribe-email/),

[code-suggestions](https://shenyu.apache.org/community/code-suggestions) and [how to contributor](https://shenyu.apache.org/community/contributor)

[2022-03-08 06:23] ZhangJiaLei123 opened #3001 "[BUG] shenyu/plugin/selector/findList error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

http://localhost:9195/shenyu/plugin/selector/findList?pluginName=contextPath

### Expected Behavior

get selector list

### Steps To Reproduce

http://localhost:9195/shenyu/plugin/selector/findList?pluginName=contextPath

### Environment

[code]
![微信截图_20220308142217](https://user-images.gith

[2022-03-08 06:49] lianjunwei opened #3002 "[BUG] <Failed to register Dubbo protocol interface with Shenyu Admin in specific scenario>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After using the third-party jar(redisson-spring-boot-starter),failed to register Dubbo protocol interface with Shenyu Admin.

### Expected Behavior

After the backend micro service is started, the Dubbo interface is registered successfully.

### Steps To Reproduce

1. import redisson . eg:
[c

[2022-03-08 06:53] lianjunwei commented on #3002
I will pr .

[2022-03-08 07:04] yu199195 commented on #3001
hi, can you  config to context path?

[2022-03-08 07:27] nuo-promise opened #3003 "[Task] <Optimize SQL Initialization Database ID insert method>"
### Description

Change database initialization ID insert method from trigger to interceptor.

### Task List

1.H2,MySQL,pg change database initialization ID insert method from trigger to interceptor.

[2022-03-08 11:26] ZhangJiaLei123 commented on #3001
this: [issues:2951](https://github.com/apache/incubator-shenyu/issues/2951)
* http://localhost:9195/shenyu/plugin/selectorAndRules
[code]

[2022-03-08 11:52] yu199195 commented on #3001
this is divide plugin，not context path

[2022-03-08 18:41] DevGautam2000 commented on #2896
Sure I will check it out. Thank you, SIr

[2022-03-09 02:02] ZhangJiaLei123 commented on #3001
can i config context_path by curl? can`t set "pluginName": "contextPath" ?

[2022-03-09 03:04] yu199195 commented on #3001
contextPath have not  selectorHandler  and have different ruleHandler， mybe like this ：

[code]

[2022-03-09 03:29] dragon-zhang commented on #2627
All job done, you can try it in `master` branch now, @yuzhijia88

you can test by these steps:
1. run `ShenyuAdminBootstrap`;
2. run `ShenyuTestHttpApplication`;
3. visit `http://localhost:9095` and change retry strategy to `failover`;
4. run `ShenyuBootstrapApplication`;
5. send post request
[code]
then you can see the correct result.

[2022-03-09 06:54] zzq1314zll opened #3009 "[BUG] Page is missing action buttons"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="583" alt="image" src="https://user-images.githubusercontent.com/33930711/157388237-45eeb0e9-d433-4ff5-b2b1-59223dcd97b5.png">

### Expected Behavior

<img width="699" alt="image" src="https://user-images.githubusercontent.com/33930711/157388299-1dacf5a0-8ce8-412d-9484-a5c203048269

[2022-03-09 06:59] yu199195 commented on #3009
can you fix it?

[2022-03-09 07:00] #3003 closed

[2022-03-09 07:04] zzq1314zll commented on #3009
em.... i can try

[2022-03-09 07:08] ZZQ001010 opened #3010 "[Question] why version is fixed？"
### Question

`org.apache.shenyu.plugin.sign.service.DefaultSignService#buildParamsMap`
<img width="898" alt="image" src="https://user-images.githubusercontent.com/33930711/157389953-38cd6efc-7429-481f-872b-8dd29e01517a.png">
Can shenyu be routed according to version?

[2022-03-09 09:05] AhahaGe commented on #3010
Currently not supported, as version is not passed to backend, and it's written to death。
And you can refer this [sign-plugin](https://shenyu.apache.org/zh/docs/plugin-center/authority-and-certification/sign-plugin) for more info.

[2022-03-09 10:44] lishuo5263 opened #3011 "[Task] <The JwtRuleHandle should be coustomerd>"
### Description

1.JwtRuleHandle should be more slight
2.JwtRuleHandle can be coustomerd ,and invoke handle business

### Task List

1.Define AbstarctHandleClass and commond method.
2.Add @SPI to Extend AbstarctHandleClass and Impl this class .
3.Add juint test case .

[2022-03-10 08:47] lishuo5263 opened #3016 "[BUG] <no main manifest attribute, in shenyu-bootstrap.jar、shenyu-admin.jar>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

mvn clean install -Dmaven.test.skip=true

### Expected Behavior

_No response_

### Steps To Reproduce

1.mvn clean package install all jar in local repository
![image](https://user-images.githubusercontent.com/19170961/157621540-2c1d3c38-e8d2-4d9a-a6c6-b079ead58337.png)

2.run java -jar shen

[2022-03-10 10:27] jerbo99 opened #3017 "[BUG] When the service shutdown, it is not removed from the selector (Divide)"
### Is there an existing issue for this?

- [ ] #3018

### Current Behavior

With DevidePlugin, there are still requests for those client service after you close them one or more.

### Expected Behavior

After a service is down, the client service is no longer requested until it is restarted.

### Steps To Reproduce

1. Start client services.
2. Stop one or more of them.
3. Send multiple requests

[2022-03-10 11:11] lw1243925457 opened #3018 "I have searched the existing issues"

[2022-03-10 11:15] #3018 closed

[2022-03-10 11:53] lianjunwei commented on #3002
fixed, and close it.

[2022-03-10 11:53] #3002 closed

[2022-03-10 12:33] ShawnJim opened #3019 "[Volunteer] <Remove trigger in the pg sql script>"
### Volunteer help

### Description
Trigger execution requires permissions, in the PG database. Some projects may have limited database account permissions, so the script cannot execute normally. Therefore, use an interceptor to replace the trigger .

### Changes
 - [x]  Replace trigger `update_timestamp` with interceptor `PostgreSqlUpdateInterceptor` in the pg sql script.

[2022-03-10 14:30] nuo-promise opened #3021 "[Task] <optimize init sql>"
### Description

filter insert statements keywords.

### Task List

1. optimize filter sql keywords.

[2022-03-10 15:31] #3019 closed

[2022-03-10 16:18] #3021 closed

[2022-03-11 01:48] jerbo99 commented on #3017
When the last client service down, RegisterServerConsumerExecutor is not processed because the primary attribute in the URIRegisterDTO is null.

[2022-03-11 02:24] lishuo5263 commented on #3016
1.The company user should be deploy shenyu-admin(shenyu-dashboard)、shenyu-bootstrap(gateway) those project
2.I want use above project to run local env in idea, that fine ,but when I want deploy those project in ubuntu the jar is remind no main clss
3.The maven repository jar is same as ,entire jar file is 21kb when I run java -jar  the console output is no main class
![image](https://user-images.g

[2022-03-11 02:29] chariles opened #3024 "[Task] shenyu-client-load"
### Description

can client's bean load on demand?
for emample,use bean on ConditionalOnProperty,which can  switch by config.

 @ConditionalOnProperty(prefix = "example.service", value = "enabled", havingValue = "true")
  ServiceA buildServiceA(){
        return new ServiceA();
    }

### Task List

_No response_

[2022-03-11 02:44] KevinClair commented on #3024
Don't add dependency if you don't want to upload api by `shenyu client`.

[2022-03-11 02:50] #3016 closed

[2022-03-11 03:16] chariles commented on #3024
But this is not flexible enough, and the code needs to be modified. If the configuration is passed on k8s, there is no need to modify the code, which is necessary

[2022-03-11 03:18] yu199195 commented on #3024
which  shenyu client？

[2022-03-11 03:21] yu199195 commented on #3017
this fixed by 2.4.3

[2022-03-11 03:30] chariles commented on #3024
springmvc client

[2022-03-11 03:42] dragon-zhang opened #3025 "[Question] How about put http request headers into generalContext ?"
### Question

In `org.apache.shenyu.plugin.general.context.GeneralContextPlugin#doExecute`, just like below:
[code]

[2022-03-11 03:47] dragon-zhang opened #3026 "[Question] How about RPC and HTTP using shared thread pool ?"
### Question

When a request comes, it can be called either to `webClient` or RPC (Dubbo, sofa, grpc, etc.). Using shared thread pool can greatly improve resource utilization.

[2022-03-11 04:05] misaya295 opened #3027 "[BUG] <The handel field in the selecot table became null>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In one case, divide is configured in the admin, and then the handle field of the selector table in the library has information at first, but the handle becomes null after a few days, and the admin page does not display the information.

![image](https://user-images.githubusercontent.com/45778

[2022-03-11 05:56] yu199195 commented on #3025
it maybe Optimization

[2022-03-11 05:57] yu199195 commented on #3026
@dragon-zhang  can you provide this new featrue？

[2022-03-11 05:59] yu199195 commented on #3027
pls config this ,if you not want checked real service

[code]

[2022-03-11 06:25] dragon-zhang commented on #3026
sure, I can do it.

[2022-03-11 06:25] dragon-zhang commented on #3026
sure, I can do it.

[2022-03-11 06:26] yu199195 commented on #3026
@dragon-zhang Looking forward to your contributor，thanks

[2022-03-11 06:28] misaya295 commented on #3027
@yu199195
I didn't set this configuration in the first place, do I need to set this configuration now to solve this proble?
[code]

[2022-03-11 06:30] yu199195 commented on #3027
hi， in shenyu admin yaml config

[2022-03-11 06:36] misaya295 commented on #3027
@yu199195 Sorry, my admin configuration only has mysql configuration, should I add this configuration right?

before fixing
[code]

after modification
[code]

[2022-03-11 06:40] KevinClair commented on #3025
It has been supported, add config in plugin's selector with `transmitHeaderToGeneralContext`;

[2022-03-11 06:43] ZhangJiaLei123 commented on #3001
I set it
* divide config
[code]
* contextPath config
[code]
I can successed on '127.0.0.1:9195/hnsp/uaccess/logintest',
failed on '127.0.0.1:9195/app/hnsp/uaccess/logintest'.
error info:
[code]

![微信截图_20220311144202](https://user-images.githubusercontent.com/40969169/157816234-527d75ec-02e1-44e5-9d2c-1ec4eed65ca9.png)

[2022-03-11 06:50] jerbo99 commented on #3017
I have fixed it.

[2022-03-11 06:59] ZhangJiaLei123 commented on #3001
thanks. I forgot to set localKey on Header.
![00C45AC8](https://user-images.githubusercontent.com/40969169/157818106-f8794537-17af-4956-985d-fc55eb213a3b.png)

[2022-03-11 06:59] #3001 closed

[2022-03-11 07:05] dragon-zhang commented on #3025
Oh, I see, but if the front end transmits multiple identical request headers, should the same request headers be merged ? `org.springframework.http.HttpHeaders#getFirst` will lose some request header data.

[2022-03-11 07:07] dragon-zhang commented on #3025
[code]

[2022-03-11 07:10] KevinClair commented on #3025
Good idea, or you can use `headers.get(each.getGeneralContextKey()).stream().collect(Collectors.joining(","));`Which way do you think is better?

[2022-03-11 07:37] dragon-zhang commented on #3025
this way is better.

发自我的iPhone

------------------ Original ------------------
From: Kevin Clair ***@***.***&gt;
Date: Fri,Mar 11,2022 3:10 PM
To: apache/incubator-shenyu ***@***.***&gt;
Cc: dragon-zhang ***@***.***&gt;, Author ***@***.***&gt;
Subject: Re: [apache/incubator-shenyu] [Question] How about put http request headers into generalContext ? (Issue #3025)

Good idea, or you can use headers

[2022-03-11 08:07] haibo-duan commented on #2982
@[erdengk](https://github.com/erdengk) @[kaveeshadinamidu](https://github.com/kaveeshadinamidu)
Hi brother,What's the progress of this task？

[2022-03-11 09:06] erdengk opened #3030 "[Question] When testing integration tests, it won't work. Does anyone have a similar problem?"
### Question

I ran  shenyu-admin 、 shenyu-bootstrap 、  shenyu-example-http locally .

I want to test SentinelPluginTest in shenyu-integrated-test-http
Whenever I hit test,

![image](https://user-images.githubusercontent.com/37730787/157836513-4ddf7600-3c5f-4bc4-95a0-95a3a482af9c.png)

shenyu-bootstrap always gives the following error

[code]

Can anyone help reproduce or resolve this issue? thank

[2022-03-11 09:38] liuyi9608 opened #3031 "使用jwt认证后，下游如何获取用户信息？使用的是springboot+dubbo接入"
### Question

使用jwt认证后，下游如何获取用户信息？使用的是springboot+dubbo接入

[2022-03-11 09:42] yu199195 commented on #3031
pls in english

[2022-03-11 09:43] yu199195 commented on #3027
[code]

[2022-03-11 10:07] ZhangJiaLei123 opened #3032 "[BUG] <shenyu-admin> can`t get Selector and Rule by shenyu/plugin/selectorAndRules"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<shenyu-admin UI>  can`t get Selector and Rule if i set it by 'curl --location --request POST 'http://localhost:9195/shenyu/plugin/selectorAndRules' '
![微信截图_20220311180544](https://user-images.githubusercontent.com/40969169/157846263-881d1bb2-c08d-44e1-b7ca-91c19b43a18c.png)

### Expected Be

[2022-03-11 13:54] erdengk commented on #3030
for some unknown reasons.
The startup project needs to be in an idea window. The above problem will not occur.
![image](https://user-images.githubusercontent.com/37730787/157880880-f50e1b27-2dd8-4a89-84c4-c8ba142e755b.png)

[2022-03-11 13:54] #3030 closed

[2022-03-11 18:33] kaveeshadinamidu commented on #2982
@haibo-duan Actually we are seeking some help to write the unit tests for the agent module. Can you give us some guidance? Because the methods in the shenyu-agent are somewhat different.

[2022-03-11 23:28] dragon-zhang opened #3033 "[Volunteer] support config netty thread pool in HttpClient"
### Volunteer help

support config netty thread pool in HttpClient

[2022-03-12 02:21] hutaishi commented on #2976
I'm trying to solve this problem.think.

[2022-03-12 02:23] hutaishi commented on #2976
Please assign this question to me.think you.

[2022-03-12 04:44] dragon-zhang commented on #3033
see https://github.com/apache/incubator-shenyu/pull/3034

[2022-03-12 04:44] #3033 closed

[2022-03-12 10:03] JooKS-me commented on #3032
Hi, I think this is a feature. We can use this endpoint in local mode. But it can't pass configuration to the control plane, configuration delivery is unidirectional.

[2022-03-14 00:43] dragon-zhang commented on #3025
see https://github.com/apache/incubator-shenyu/pull/3029

[2022-03-14 00:43] #3025 closed

[2022-03-14 02:16] lishuo5263 opened #3037 "[BUG] <The Rewrite Plugin should support {PathVariable} request>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

1.Actived ShenYu Rewrute plugin , and add pom relateion jar
2.Add rewrite rule ,the rule include {PathVariable}  param
![image](https://user-images.githubusercontent.com/19170961/158093014-e6c02e1a-8677-41ec-b3f4-90285af254de.png)

### Expected Behavior

_No response_

### Steps To Reproduce

[2022-03-14 13:17] midnight2104 commented on #3024
If you do not use the plugin, you can sub ahadmin to close.

[2022-03-14 13:20] midnight2104 commented on #2972
done

[2022-03-14 13:20] #2972 closed

[2022-03-14 16:34] #2909 closed

[2022-03-15 02:14] lxl910128 commented on #2981
let me try

[2022-03-15 03:36] erdengk commented on #2982
@haibo-duan
 Sorry for some busyness recently. I am trying to solve both of these problems.
#3028  #2985
With the help of the community, I solved them.
Regarding this issue, I tried writing unit tests, but didn't make much progress.
Can you guide me to get started?

[2022-03-15 03:38] yu199195 commented on #3037
it merged，i will close it， thanks

[2022-03-15 03:38] #3037 closed

[2022-03-15 03:52] #2992 closed

[2022-03-15 03:54] JooKS-me commented on #2992
fixed in #2990 and #3028

[2022-03-15 03:54] #2931 closed

[2022-03-15 07:30] yu65044 opened #3041 "The Shenyu-Bootstrap already started"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When you use the ./start.sh command to start the admin successfully, and then use the ./start.sh command to start bootstrap, it will prompt: The ShenYu-Bootstarp already started! PID: xxxx
![微信图片_20220315150253](https://user-images.githubusercontent.com/54879138/158324397-e77b8f93-ad8d-4a66-b

[2022-03-15 07:52] impactCn commented on #3041
https://github.com/apache/incubator-shenyu/pull/2859

[2022-03-15 07:52] #3041 closed

[2022-03-15 11:02] qicz opened #3042 "[BUG] plugin edit bug"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Request error! invalid argument [name: The plugin name already exists and can't be added repeatedly!]
![e11d441734ec6d9353112581529bc77](https://user-images.githubusercontent.com/2174082/158364103-9fb35d97-50f2-4a6a-bffb-65870e95cc2e.png)

### Expected Behavior

_No response_

### Steps To Re

[2022-03-15 12:21] li-keguo commented on #3042
I fix it

[2022-03-16 02:06] #3031 closed

[2022-03-16 09:35] #3042 closed

[2022-03-17 03:14] Franz362100 opened #3049 "[Question] How to package from 2.4.2 source code?"
### Question

In 2.4.1 packaging generated two compressed files, but I could not find the.tar.gz package after 2.4.2 packaging

The package command is:
mvn clean install -Dmaven.javadoc.skip=true -B -Drat.skip=true -Djacoco.skip=true -DskipITs -DskipTests

[2022-03-17 10:03] wls981 opened #3052 "[BUG] The host value in the original request header is lost after shenyu forwards it"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/15735480/158784121-d0a8285c-f569-4edd-b4de-a6f176bcb49a.png)
![image](https://user-images.githubusercontent.com/15735480/158783560-caa763ee-7475-4348-bf2b-cdc3ebd67c64.png)
![image](https://user-images.githubusercontent.com/15735480/158782396

[2022-03-18 01:43] chariles opened #3054 "[Task]Synchronize register metadata"
### Description

 The metadata will be registered when the client service is started. Can the metadata be updated synchronously when the service is down?

### Task List

1、Synchronize register metadata when client service down

[2022-03-18 02:10] yu199195 commented on #3049
pls see this ： https://shenyu.apache.org/zh/download

[2022-03-18 02:11] yu199195 commented on #3052
you can used shenyu least version

[2022-03-18 02:13] yu199195 commented on #3054
metadata not need update,

[2022-03-18 07:35] likedong commented on #2669
1. Refer to the master branch for modification  shenyu-plugin-httpclient

[2022-03-18 09:57] zhanggyang commented on #68
公司：/
网址：/
地点：中国杭州
联系方式：993540148@qq.com
场景：个人学习

[2022-03-18 09:58] luoxihong commented on #68
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-03-18 10:41] dragon-zhang opened #3056 "[BUG] when Dubbo enables multi protocol and `shenyu.client.dubbo.props.port` is configured, `ApacheDubboServiceBeanListener` and `AlibabaDubboServiceBeanListener` gets the wrong port number"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

`ApacheDubboServiceBeanListener` gets the wrong port number.

### Expected Behavior

`ApacheDubboServiceBeanListener` gets the correct port number.

### Steps To Reproduce

1.config muti protocol like below:
[code]
2.using multiple protocols in the same application like below:
[code]
[code]
3

[2022-03-18 13:29] li-keguo opened #3058 "[BUG] web page error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

in admin web page

<img width="1444" alt="image" src="https://user-images.githubusercontent.com/33576070/159011167-f20c9679-9ccc-4954-b096-7ba47bd3e827.png">

### Expected Behavior

normal display page

### Steps To Reproduce

step 1: login
step 2: long time(token expired)
step 3: The page au

[2022-03-18 13:31] li-keguo commented on #3058
clean cache is ok

[2022-03-18 14:24] #2981 closed

[2022-03-18 14:32] lxl910128 commented on #2982
We will adjust the agent design. So Unit tests don't need to be done now. thanks for you attention. @erdengk @kaveeshadinamidu

[2022-03-18 14:32] #2982 closed

[2022-03-18 16:00] li-keguo opened #3062 "[Volunteer] The paged list should be set to default to page number information when refreshing"
### Volunteer help

I completed the task of verifying interface parameters. But it still needs some matching changes in the front end.
eg: api:  GET http://localhost:9095/shenyu-dict?currentPage=1&pageSize=10
**before:**
[code]
[code]
I think if need paged, paged info be must not null
about changed issue #2956
**now:**
[code]

in the page, after adding....
<img width="1260" alt="image" src="https:

[2022-03-19 01:48] #3049 closed

[2022-03-19 02:09] qicz opened #3063 "[BUG] Too much memory is occupied and has not been released"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Maybe the client `runOn` is used incorrectly?

<img width="1163" alt="image" src="https://user-images.githubusercontent.com/2174082/159102684-cce4debe-b5ec-4451-9586-25b211cfcc88.png">

![image](https://user-images.githubusercontent.com/2174082/159102663-3c5c87f5-be01-4998-a273-58a759b72e45.p

[2022-03-19 02:10] qicz commented on #3063
@dragon-zhang pls watch this.

[2022-03-19 03:32] lianjunwei commented on #2840
1. If the contextpath plug-in is opened and the URL does not contain contextpath,  will throw NPE. If url contains contextpath, cannot access it.
2.  so，is a bug。

[2022-03-19 04:32] dragon-zhang commented on #3063
I will watch it.

发自我的iPhone

------------------ Original ------------------
From: Qicz ***@***.***&gt;
Date: Sat,Mar 19,2022 10:10 AM
To: apache/incubator-shenyu ***@***.***&gt;
Cc: dragon-zhang ***@***.***&gt;, Mention ***@***.***&gt;
Subject: Re: [apache/incubator-shenyu] [BUG] Too much memory is occupied and has not been released (Issue #3063)

@dragon-zhang pls watch this.

—
Reply to this em

[2022-03-19 04:43] dragon-zhang commented on #3063
I think this bug should be related to `org.apache.shenyu.plugin.httpclient.config.HttpClientProperties.ThreadPool#preferNative`, can you please add `Steps To Reproduce` ?

[2022-03-19 05:21] hutaishi opened #3064 "[Task] <refactor shenyu agent logging>"
### Description

Reconstruct Shenyu agent logging in the form of Shenyu plugins.

### Task List

- [ ] Reconstruct Shenyu agent logging in the form of Shenyu plugins.
- [ ] remove  shenyu agent logging module

[2022-03-19 05:23] lianjunwei opened #3065 "[Task] <Improve websocket example supporting automatic registration shenyu admin>"
### Description

1.Improve spring websocket example

2.Automatically register the gateway using an annotation called "ShenyuSpringWebSocketClient"

### Task List

It has been developed. Submit the code now.

[2022-03-19 09:26] dragon-zhang commented on #3063
see https://github.com/apache/incubator-shenyu/pull/3068

[2022-03-19 09:47] #2879 closed

[2022-03-19 15:44] lianjunwei commented on #2840
fixed and close .

[2022-03-19 15:44] #2840 closed

[2022-03-19 15:47] lianjunwei commented on #2899
pre has been merged.

[2022-03-19 15:47] #2899 closed

[2022-03-20 04:46] dragon-zhang opened #3070 "[Volunteer] Use `PortUtils#findPort` to replace duplicate code in `ContextRegisterListener`"
### Volunteer help

Use `PortUtils#findPort` to replace duplicate code in `org.apache.shenyu.client.springcloud.init.ContextRegisterListener`.

[2022-03-20 05:07] hutaishi opened #3072 "[BUG] <detailRule.id: rule is not existed>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

1.
![图片](https://user-images.githubusercontent.com/12478263/159149040-e70d94f6-01f9-4596-b633-42a63a49a49a.png)

2.
![图片](https://user-images.githubusercontent.com/12478263/159149014-30ba4ee3-2562-47f4-b2aa-bc82af3819d9.png)
3.
![图片](https://user-images.githubusercontent.com/12478263/15914901

[2022-03-20 05:12] #3072 closed

[2022-03-20 08:18] dragon-zhang commented on #3070
see https://github.com/apache/incubator-shenyu/pull/3071

[2022-03-20 08:18] #3070 closed

[2022-03-21 05:24] #3064 closed

[2022-03-21 05:27] #2907 closed

[2022-03-21 09:47] yu199195 opened #3076 "[Volunteer] Add skywaliking plugin for support shenyu gateway"
### Volunteer help

Hi Community

We need to add skywaliking plugin [1]  for support shenyu gateway

The identified interception points are ：

  * org.apache.shenyu.plugin.global.GlobalPlugin.execute(), create root span

  * org.apache.shenyu.plugin.response.ResponsePlugin.execute() finish end span

links:

1. https://github.com/apache/skywalking-java/tree/main/apm-sniffer/apm-sdk-plugin

[2022-03-21 10:36] hutaishi commented on #3076
I want do this. think

[2022-03-21 11:12] hutaishi commented on #3076
Thank you very much. I will do this well

[2022-03-21 12:17] yu199195 commented on #3065
it be merged，i will close it

[2022-03-21 12:17] #3065 closed

[2022-03-21 13:39] #2956 closed

[2022-03-21 14:28] dragon-zhang commented on #3056
see https://github.com/apache/incubator-shenyu-website/pull/490

[2022-03-21 14:28] #3056 closed

[2022-03-22 01:05] WillemJiang commented on #3064
Please add the background story of this issue.
I can only see what you want to do in this issue, but I cannot get the point why you want to do it.

[2022-03-22 01:17] hutaishi commented on #3064
Use plugin to replace agent and implement the same function.

[2022-03-22 01:20] hutaishi commented on #3064
* Based on the guidance of the IPMC member and our mentors, and the
understanding of PPMC members, we should remove or redesign the
shenyu-agent module.
  * Agree on removing the shenyu-agent module.
  * Encourage developers to provide plugins to upstream like
Skywalking, ZipKin and Opentelemetry to implement the tracing
features.

Shenyu agent module will no longer be maintained and will be delet

[2022-03-22 02:02] misaya295 commented on #3027
thank u

[2022-03-22 02:02] #3027 closed

[2022-03-22 02:50] lishuo5263 opened #3082 "[Task] <FIx Nacos namespace name>"
### Description

1.The shenyu-bootstrap 、example-springcloud nacos namespace config param error

### Task List

_No response_

[2022-03-22 03:04] yu199195 opened #3084 "[Task] new shenyu metrics plugin replace agent metrics function"
### Description

We discussed in the meeting to remove the agent module

So use shenyu's plugin ecology for metrics functions

1. new shenyu metrics plugin replace agent metrics function

### Task List

_No response_

[2022-03-22 03:05] yu199195 commented on #3084
this meeting links ： https://lists.apache.org/thread/ow8o0hkym6p72gsoxxk0pyk895yk4wzv

[2022-03-22 03:08] yu199195 opened #3085 "[Task] Remove shenyu agent"
### Description

We discussed in the meeting to remove the agent module. (https://lists.apache.org/thread/ow8o0hkym6p72gsoxxk0pyk895yk4wzv)

Logging and Metrics we use shenyu's plugin system to do.

About tracing, Encourage developers to provide plugins to upstream like SkyWalking, ZipKin and OpenTelemetry to implement the tracing features.

### Task List

- [x] new shenyu metrics plugin
- [x] new

[2022-03-22 03:12] #3085 closed

[2022-03-22 03:12] #3084 closed

[2022-03-22 03:20] #3063 closed

[2022-03-22 03:32] hutaishi commented on #3064
We discuss the remove the agent module in the meeting
：https://lists.apache.org/thread/ow8o0hkym6p72gsoxxk0pyk895yk4wzv

[2022-03-22 06:43] yu199195 commented on #2896
update doc is ：

https://shenyu.apache.org/community/contributor-guide
https://shenyu.apache.org/community/issue-pr
https://shenyu.apache.org/community/code-suggestions

[2022-03-22 08:33] zhanggyang opened #3087 "[Question] Fail to use docker with mysql to deploy the Apache ShenYu gateway"
### Question

Refer to the deployment documentation https://shenyu.apache.org/docs/deployment/deployment-docker.
I successfully deployed Apache ShenYu admin using h2 to store data.
When I change the storage to mysql,it failed
Here is the wrong message: Web server failed to start. Port 9095 was already in use.
I'm sure no one is using this port.I have tested ports  and none of them work.

By the wa

[2022-03-22 08:38] yu199195 commented on #3087
@zhanggyang  hi whats the version？

[2022-03-22 08:38] zhanggyang commented on #3087
2.4.2

[2022-03-22 08:41] yu199195 commented on #3087
you can used by master , it will be fix

[2022-03-22 08:43] zhanggyang commented on #3087
Thanks for your reply. I'll try it first

[2022-03-22 08:47] impactCn commented on #3087
https://github.com/apache/incubator-shenyu/issues/3041

[2022-03-22 08:49] #3082 closed

[2022-03-22 10:21] midnight2104 opened #3088 "[Volunteer] format SQL to improve code readability in shenyu-admin."
### Description

Hi Community:
This PR is to format the current SQL, following the principle of right-aligning keywords (Uppercase) and left-aligning fields. I would like to make this task a good first issue so that new comers can get involved in handling the rest of the SQL file. Do you think it's a good idea?

for example:
before formatting:

[code]

after formatting

[code]

### Task List

- [x

[2022-03-22 13:04] hutaishi commented on #3088
Can you randomly assign one of them to me? Thank you very much.

[2022-03-22 13:09] midnight2104 commented on #3088
thks for your contribution

[2022-03-22 13:25] xiaheshun commented on #3088
Can you randomly assign one of them to me?

[2022-03-22 13:26] midnight2104 commented on #3088
doen,  15. selector-sqlmap.xml

[2022-03-22 13:55] totalo commented on #3088
Can you randomly assign one of them to me? Thank you.

[2022-03-22 14:08] midnight2104 commented on #3088
Thks for your contribution.I'm looking forward to you PR. Please contact me with any questions you may have.

[2022-03-22 14:21] UniverseInHeart commented on #3088
can you give me one not be format? thanks

[2022-03-22 14:31] AhahaGe opened #3090 "[BUG] <Sign plugin has some front bug>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

_No response_

### Expected Behavior

_No response_

### Steps To Reproduce

1. use the latest code of master branch and start bootstrap and admin
2. enable sign plugin and add data in Authentication
3. when I click EditResourcesDetail in PathOperation Column, there is no response.
<img width

[2022-03-22 16:14] Albertsirius commented on #3088
Can you assign one of files not formatted to me? thanks.

[2022-03-23 00:22] midnight2104 commented on #3088
`11. role-sqlmap.xml` for you, I'm looking forward to your PR.

[2022-03-23 00:23] midnight2104 commented on #3088
you can do  `12. rule-condition-sqlmap.xml `

[2022-03-23 00:54] zhangcly commented on #3088
Can you assign one of files not formatted to me? thanks.

[2022-03-23 01:02] nydia commented on #3088
Can you assign one of files not formatted to me? thanks.

[2022-03-23 01:37] yelingjun opened #3095 "how can i get the ServerWebExchange anywhere ?"
### Question

i want to get the ServerWebExchange anywhere, and get some parameters from ServerWebExchange, how can i get it, thank you

[2022-03-23 02:12] wklong commented on #3088
hi, can you assign 7. permission-sqlmap.xml to me,thank you

[2022-03-23 02:21] haibo-duan commented on #3088
yes,now you can do 7. permission-sqlmap.xml

[2022-03-23 02:25] haibo-duan commented on #3088
9. plugin-sqlmap.xml  for you . @[zhangcly](https://github.com/zhangcly)

[2022-03-23 02:26] haibo-duan commented on #3088
10. resouce-sqlmap.xml for you. @[nydia](https://github.com/nydia)

[2022-03-23 05:27] hutaishi commented on #3095
You can refer to the responsive context. [link](https://projectreactor.io/docs/core/release/reference/#context):https://projectreactor.io/docs/core/release/reference/#context

You can put serverwebexchange into the responsive context in the interceptor, and then you can get it in the subsequent business code

[2022-03-23 06:37] yu199195 commented on #3090
@AhahaGe  can you fix it？

[2022-03-23 06:55] wklong opened #3101 "[BUG] shell command errors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

hi The  section (After the code is merged) of contributor guide(https://shenyu.apache.org/community/contributor-guide/) ,
**git pull upsteam master**
The shell command errors exist

[2022-03-23 06:59] wklong commented on #3101
I want to submit  PR fix for it

[2022-03-23 07:06] yu199195 commented on #3101
@wklong  you can fix it， Looking forward to your pr

[2022-03-23 07:10] erdengk commented on #3101
@wklong
hi，the documentation is [here](https://github.com/apache/incubator-shenyu-website/blob/main/i18n/en/docusaurus-plugin-content-docs-community/current/3-contributor.md)

Thank you for your contribution

[2022-03-23 07:13] zhanggyang commented on #3087
-  Steps To Reproduce
    - `docker pull apache/shenyu-admin:latest`
    - `docker network create shenyu`
    -  `netstat -tunlp | grep 9095`   Port 9095 is not occupied
    - `docker run -v /home/shenyu/conf:/opt/shenyu-admin/conf/ -v /home/shenyu/ext-lib:/opt/shenyu-admin/ext-lib -d -p 9095:9095 --net shenyu apache/shenyu-admin:latest`  my work dir is `/home/shenyu` and the relevant configuratio

[2022-03-23 07:16] impactCn commented on #3087
You need to go into the container and modify the start.sh script. For details, please see https://github.com/apache/incubator-shenyu/issues/3041.

[2022-03-23 07:22] wklong commented on #3101
thks for your reply

[2022-03-23 08:43] justlemontree opened #3103 "请问admin下得前端资源可以开源吗"
### Question

请问admin下得前端资源可以开源吗

[2022-03-23 08:51] justlemontree opened #3104 "Can the front-end code be open source"
### Question

Can the front-end code be open source? we want to deploy the front be separate of the backend.
--I look forward to your reply

[2022-03-23 08:54] wklong commented on #3101
[https://github.com/apache/incubator-shenyu-website/issues/509](#509)

[2022-03-23 08:55] erdengk commented on #3103
@justlemontree
Hey, please communicate in English.
The front end of shenyu is in this [repository](https://github.com/apache/incubator-shenyu-dashboard).

[2022-03-23 08:55] wklong commented on #3101
new issues:[#509](https://github.com/apache/incubator-shenyu-website/issues/509)

[2022-03-23 08:56] #3101 closed

[2022-03-23 09:03] justlemontree commented on #3103
ths~~

[2022-03-23 09:12] erdengk commented on #3103
@justlemontree
please close this issue，thanks

[2022-03-23 09:13] #3103 closed

[2022-03-23 09:13] zhanggyang commented on #3087
I have change PIDS=ps -ef | grep "$DEPLOY_DIR" | grep -v grep | pgrep -f java to PIDS=ps -ef | grep "$DEPLOY_DIR" | grep -v grep. But it is not work for me.

![lQLPDhtDaTwIov_NAejNBHCwI3SNRYnvGR0CPx6X1sBsAA_1136_488](https://user-images.githubusercontent.com/19372980/159663262-fd1c1456-8241-4736-b6f8-186bb844a931.png)

![image](https://user-images.githubusercontent.com/19372980/159663182-dc8be56d-

[2022-03-23 09:13] justlemontree commented on #3104
repeat commit

[2022-03-23 09:13] #3104 closed

[2022-03-23 09:19] impactCn commented on #3087
![image](https://user-images.githubusercontent.com/35489877/159665197-1133486f-9878-441b-859d-7b51c6faff7b.png)

Delete all screenshots.

[2022-03-23 09:46] zhanggyang commented on #3087
Hi，Do you mean converting all screenshots into text or simply deleting them？

 The h2 storage command `docker run -d --name sy-admin -p 9095:9095 --net shenyu apache/shenyu-admin:latest`  can start normally

But `
docker run -v /home/shenyu/bin/start.sh:/opt/shenyu-admin/bin/start.sh -v /home/shenyu/conf:/opt/shenyu-admin/conf/ -v /home/shenyu/ext-lib:/opt/shenyu-admin/ext-lib -d --name sy_admin

[2022-03-23 09:46] zhanggyang commented on #3087
Hi，Do you mean converting all screenshots into text or simply deleting them？

 The h2 storage command `docker run -d --name sy-admin -p 9095:9095 --net shenyu apache/shenyu-admin:latest`  can start normally

But `
docker run -v /home/shenyu/bin/start.sh:/opt/shenyu-admin/bin/start.sh -v /home/shenyu/conf:/opt/shenyu-admin/conf/ -v /home/shenyu/ext-lib:/opt/shenyu-admin/ext-lib -d --name sy_admin

[2022-03-23 13:21] #1956 closed

[2022-03-23 13:21] #2032 closed

[2022-03-23 13:21] #1916 closed

[2022-03-24 01:23] yelingjun commented on #3095
thank you @hutaishi

[2022-03-24 01:23] #3095 closed

[2022-03-24 02:18] AhahaGe commented on #3090
I will have a try, but I know little about front code.

[2022-03-24 03:14] #3017 closed

[2022-03-24 05:23] 1103283969 opened #3110 "[Volunteer] <title>Nullified logic needs to be improved"
### Volunteer help

Description

Hi Community:
This PR is to format the current null-detection logic. Improvements should be made for project maintenance needs and to enhance the robustness of the procedures.

For example,This is the original program:
          `if (log == null || logCollectClient == null) {
            return;
        }`

This does not guarantee that all fields in the log class a

[2022-03-24 05:36] wklong commented on #348
Is the project still going on?

[2022-03-24 05:37] wklong commented on #1537
Is the project still going on?

[2022-03-24 09:02] wklong commented on #3090
@AhahaGe  @yu199195   The third step is a back-end bug

[2022-03-24 09:17] hgaol opened #3112 "[Task] Add configuration for all plugins to control if it will be loaded or not."
### Description

Add configuration for each plugin to determine if enabled(load it as Bean) or not. Will keep most of plugins as enabled by default.

### Task List

_No response_

[2022-03-24 11:22] 1103283969 commented on #3110
This is all I've got right now. The above solution I think is only temporary. Eventually I would like to combine the ES logging system to finally implement null logic and null log storage.

[2022-03-24 11:25] 1103283969 commented on #3110
At present, I have only found this one, but I found that the system does not have the habit of storing logs to determine whether important fields are empty or not. I think it is possible to determine whether important fields are empty and store them in ES later.

[2022-03-24 11:48] yu199195 commented on #3110
pls uesd Objects.nonNull adn Objects.isNull replace

[2022-03-24 11:51] 1103283969 commented on #3110
okey

[2022-03-24 17:11] impactCn commented on #2799
https://github.com/apache/incubator-shenyu-website/pull/506

[2022-03-24 17:11] #2799 closed

[2022-03-24 17:15] impactCn opened #3118 "[Volunteer] <Enhanced mqtt plugin>"
### Volunteer help

Improve the flags of the mqtt plugin and some functions.

[2022-03-24 17:19] impactCn opened #3119 "[Volunteer] <add lb sdk>"
### Volunteer help

Docking with cloud vendors to provide cluster mode for shenyu.

[2022-03-24 17:25] #2288 closed

[2022-03-25 03:15] qicz opened #3121 "[Task] Optimize plugin configuration"
### Description

Optimize admin plugin configuration and sync plugin state to ShenYu

### Task List

1. sync admin plugin configuration state to Shenyu bootstrap
2. remove the disabled plugin from webhandler's `plugins`

[2022-03-25 03:22] impactCn commented on #3121
I am try it.

[2022-03-25 03:44] li-keguo opened #3122 "[BUG] `ReflectUtils#invokeMethod` is no executable object"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In ReflectUtils has code ....
[code]
it not has executable object

`org.apache.shenyu.client.grpc.json.JsonServerCallListener#onMessage`used
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

[code]

### Anything else?

[2022-03-25 05:25] #3062 closed

[2022-03-25 06:15] qicz opened #3123 "[Task] New feature Cache Plugin"
### Description

The response data for configured requests can be cached and returned directly from the gateway next time.

### Task List

- [x]  Cache Plugin Module @qicz
- [x]  Cache Plugin & test @qurenneng
- [x]  Cache Write Plugin & test @zouchangfu
- [x]  Memory Cache (spi) & test @qicz  @zhouyadong
- [x]  Redis Cache (spi) & test @zhouyadong  @qicz
- [x]  Refactor Rate Limiter & test @qicz

[2022-03-25 07:01] #2618 closed

[2022-03-25 08:59] #3112 closed

[2022-03-25 10:15] selectbook commented on #3088
hi, can you assign 6.meta-data-sqlmap.xml to me,thank you

[2022-03-25 10:22] midnight2104 commented on #3088
yes, looking forward to your PR.

[2022-03-25 10:45] midnight2104 opened #3125 "[BUG] The selector action page should be centered."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Start the shenyu-admin management system. When modifying the selector information of a plugin, the selector action page should be centered, not at the bottom.

http://localhost:9095/#/plug/5/divide

### Expected Behavior

 the selector action page should be centered, not at the bottom.

### S

[2022-03-25 12:03] zhangxin766884 opened #3126 "[Question] <title>"
### Question

If it is a parameter like the following, an unsupported operationexception will be thrown if the JSON contains an array. Is there a solution for this?

{
	"name": "测试规则",
	"rule_data": {
		"rule_content": "1 > 0",
		"output_variables": [{
			"value": "SFDS",
			"name": "原因码",
			"variable_category": "RC_CAUSE_CODE"
		}, {
			"value": null,
			"name": "标签码1",
			"variable_category": "

[2022-03-25 12:14] qurenneng commented on #3123
Cache Plugin integrated test

[2022-03-25 13:11] zhouyadong commented on #3123
Memory Cache & test
Redis Cache & test
On 03/25/2022 ***@***.***> wrote：

Description

The response data for configured requests can be cached and returned directly from the gateway next time.

Task List
Cache Plugin Module @qicz
Cache Plugin & test @qurenneng
Cache Write Plugin & test @zouchangfu
Memory Cache & test @***@***.***
Redis Cache & test @***@***.***
Refactor Rate Limiter & test @qicz
C

[2022-03-25 16:38] li-keguo commented on #3125
Can't reproduce

<img width="1284" alt="image" src="https://user-images.githubusercontent.com/33576070/160163142-64366ee3-d006-49e4-87d4-a0fa6192886e.png">

[2022-03-26 08:35] ShawnSiao commented on #3088
Can you randomly assign one of them to me? Thank you very much.

[2022-03-26 15:47] hutaishi opened #3127 "[Task] <logging-rocketmq doc,sql upgrade,config>"
### Description

logging-rocketmq doc,sql upgrade,config

### Task List

1.Provide SQL upgrade files from 2.4.2 to 2.4.3
2.Provide logging rocketmq document
3.Admin background configuration logging rocketmq replaces YML file configuration to improve ease of use and dynamics

[2022-03-27 01:16] midnight2104 commented on #3088
yes, you can do 3. auth-path-sqlmap.xml

[2022-03-27 01:17] ShawnSiao commented on #3088
您好，邮件已收到。

[2022-03-27 01:25] midnight2104 commented on #3125
oh...I just tried it and the problem still exists. my env is `win10` , `jdk8`, `chrome  99.0.4844.84`

[2022-03-27 05:07] li-keguo commented on #3125
I reproduced the problem with Window10, maybe it's the browser itself

Zoom less than 110

<img width="376" alt="image" src="https://user-images.githubusercontent.com/33576070/160267503-4e559585-72c9-4ec2-9262-5bd1dbf7d4dc.png">

mac os is no problem

[2022-03-27 05:52] #3127 closed

[2022-03-27 07:13] hutaishi opened #3130 "[Question] <How does the access log record the IP address upstream of grpc>"
### Question

![图片](https://user-images.githubusercontent.com/12478263/160270718-2964c3e2-6270-46cf-b30e-9b86cc0f8f73.png)

The grpc load balancing and ServerWebExchange are completely independent.

[2022-03-27 10:23] midnight2104 commented on #3125
Yes, a scaling ratio less than 100% is normal, greater than or equal to this problem will occur, It requires front-end adaptation.

[2022-03-27 12:24] Jingwugate commented on #3088
Can you assign one of files not formatted to me? thanks.

[2022-03-28 05:35] impactCn opened #3133 "[Volunteer] <add alert plugin>"
### Volunteer help

Support health check for downstream services and issue warnings when services are unhealthy.

Warning docking dingding, SMS, email, etc.

Also customize the alarm format.

[2022-03-28 07:26] yu199195 commented on #3126
Please follow the template to ask questions, you can change the title to make it look more friendly~

[2022-03-28 08:42] #3087 closed

[2022-03-28 10:21] LiuTianyou commented on #3122
Can I try to fix this bug?

[2022-03-28 10:28] li-keguo commented on #3122
ok!

[2022-03-28 11:10] AhahaGe opened #3138 "[Question] <How to set addPrefix configuration for ContextPath plugin>"
### Question

How to set addPrefix configuration for ContextPath plugin.

1. I set addPrefix in applition.yml in shenyu-examples-http applicaion.yml file
<img width="881" alt="image" src="https://user-images.githubusercontent.com/6198217/160385751-899cc9f7-4b30-4730-ad9c-d02c572fd7b0.png">

3. I can't see value change in contextPath plugin setting
![image](https://user-images.githubusercontent.com

[2022-03-28 12:05] Zc-yaochun opened #3139 "[Question] <title>"
### Question

shenyu网关部署完成 测试bootstrap代理时报错
![微信图片_20220328195037](https://user-images.githubusercontent.com/39295310/160392047-bf5e5bae-af75-4640-ab3e-b8972b8a5a59.png)
配置基本没有改动  存储方式变成mysql了
本地测试代码(走非mvc方式)  localhost:19000/test/test（已测试能通）
shenyu-bootstrap的端口是19195
当请求localhost:19195/test/test
![微信图片_20220328195735](https://user-images.githubusercontent.com/39295310/160393102-942a3c31-bf01-4539

[2022-03-28 17:03] Jingwugate commented on #3088
There are three unassigned tasks，Can you assign one to me？thank you

[2022-03-29 01:24] AhahaGe commented on #3139
Please follow https://shenyu.apache.org/zh/docs/plugin-center/http-process/contextpath-plugin, and https://github.com/apache/incubator-shenyu/tree/master/shenyu-examples/shenyu-examples-http guide and try again, may this help u.

And please submit your plugin configuration and more details.

Thanks for your issue, and please use english to submit issue.

[2022-03-29 02:09] Franz362100 opened #3142 "[Question] How to generate the same *.tar.gz package as before"
### Question

![image](https://user-images.githubusercontent.com/65158204/160518401-6695279f-b3e9-421b-8bf5-87374c92abfc.png)
![image](https://user-images.githubusercontent.com/65158204/160518427-433853d6-783a-418a-829f-89703f643cbf.png)

mvn clean install -Dmaven.javadoc.skip=true -B -Drat.skip=true -Djacoco.skip=true -DskipITs -DskipTests

[2022-03-29 02:14] impactCn commented on #3142
First, check release in the maven profile, and then execute mvn install in the parent pom to find the compressed jar under the dist directory.

[2022-03-29 02:40] Zc-yaochun commented on #3139
Changed a server
The test was successful once
This is a screenshot
![微信图片_20220329103402](https://user-images.githubusercontent.com/39295310/160521294-2635f1a9-c7d4-4117-9c06-5a844cf1c743.png)
I changed the port of bootstrap to 19195
![微信图片_20220329103413](https://user-images.githubusercontent.com/39295310/160521407-dda23c78-853f-4561-9ec7-59d57ffd49fc.png)
This is the port and path of my test cas

[2022-03-29 02:49] chariles opened #3143 "[question]ShenYu Agent tracing support skywalking"
### Description

does ShenYu Agent  tracing support skywalking?

### Task List

_No response_

[2022-03-29 02:55] hutaishi commented on #3143
Thank you for your attention. At present, I am developing this plug-in and will support it soon. Please pay attention.

issue:https://github.com/apache/incubator-shenyu/issues/3076

[2022-03-29 03:51] AhahaGe commented on #3139
You are following this document https://shenyu.apache.org/zh/docs/quick-start/quick-start-http/, right?
Sorry I could not understand why you place your jars in ext-lib file and it may need some other dependency jars , and I can't see it in your jar dir, and you used 2.4.2 bootstrap, it's better use 2.4.2 divide and httpclient jar, maybe this caused the classClassException.

[2022-03-29 03:58] AhahaGe commented on #3142
1. go to shenyu root directory
2. execute ```./mvnw -B clean install -Prelease -Dmaven.javadoc.skip=true -Dmaven.test.skip=true```
![image](https://user-images.githubusercontent.com/6198217/160530393-b7c17456-8705-46a0-873c-b1cf74c945d1.png)

[2022-03-29 04:00] AhahaGe commented on #3138
Config in page not in properties file.

[2022-03-29 04:00] #3138 closed

[2022-03-29 06:44] #3142 closed

[2022-03-29 07:01] jerbo99 opened #3144 "[BUG] http registration optimization"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The same IP port service starts multiple times, and when the problem service is closed, the normal service is taken offline.

### Expected Behavior

The same IP port service is started multiple times, and the first service started can be used normally

### Steps To Reproduce

Register with ht

[2022-03-29 07:07] qicz opened #3145 "[BUG] show login page?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

when disabling the `oauth2` plugin, access the 915 show the login page.

[code]

![image](https://user-images.githubusercontent.com/2174082/160553461-c57dc9f7-0283-4c00-b5d9-8a023db9660d.png)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

[2022-03-29 09:04] kapilaNR commented on #2896
@yu199195  I would like to contribute to this project for GSoC 2022. Is this still open to contribution?

[2022-03-29 09:07] kapilaNR commented on #2890
@yu199195  I would like to contribute to this project in 2022 GSoC.

[2022-03-29 11:33] yu199195 commented on #2896
@kapilaNR  hi， It is open and if you are interested, you are welcome to participate~

[2022-03-29 14:46] qicz opened #3147 "[BUG] sql-script can not insert plugin_handle data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

the `plugin_handle` 's id is not auto-increment, and the `plugin_handle` insert data SQL statement's id does not exist. the `plugin_handle`'s can not insert into the database.

[code]
[code]

just insert into the first sql.

### Expected Behavior

_No response_

### Steps To Reproduce

_No re

[2022-03-29 15:43] qifanyyy commented on #2917
Hi, I also would like to contribute my time and effort to this feature if possible.

[2022-03-30 03:19] justlemontree opened #3148 "I want to extend ParameterData by SPI to analyse body in json"
### Question

I want to extend ParameterData by SPI to analyse body in json, but I find the body can only be read once. If I read just like this:

@Join
public class BodyParameterData implements ParameterData {
    @Override
    public String builder(final String paramName, final ServerWebExchange exchange) {
        ServerRequest serverRequest = ServerRequest.create(exchange, HandlerStrategies.wi

[2022-03-30 03:25] yu199195 commented on #3148
No， you can impl ParameterData， you can see FileSizeFilter.java

[2022-03-30 03:27] #3122 closed

[2022-03-30 04:08] nuo-promise commented on #3147
The current version does not support user execution of sql statements. Please use admin to initialise. The next version will be modified to be initialised by the user.

[2022-03-30 06:16] justlemontree commented on #3148
OK, thank you so much!

[2022-03-30 06:16] #3148 closed

[2022-03-30 10:18] midnight2104 commented on #3088
yes. you can do 4. dashboard-user-sqlmap.xml

[2022-03-31 02:45] #3144 closed

[2022-03-31 07:29] qicz opened #3157 "[Volunteer] admin data validate"
### Volunteer help

validate the admin submit data with annotation at the DTO, like the length of the data.

[2022-03-31 11:12] AhahaGe commented on #3157
can I have a try?

[2022-03-31 11:36] qicz commented on #3157
you get it

[2022-03-31 13:06] moremind opened #3158 "[BUG] RpcParamTransformPlugin Can't Save Big Json Data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

My Request Body:
[code]

But,I just get a part of this body in my rpc plugin. the result:
[code]

the bug like `https://github.com/spring-cloud/spring-cloud-gateway/pull/1095`

### Expected Behavior

all json data
[code]

### Steps To Reproduce

_No response_

### Environment

[code]

### Deb

[2022-03-31 14:31] #3158 closed

[2022-04-01 03:26] myesn opened #3163 "[BUG] Docker-Compose db(mysql) image not support arm64(Raspberry Pi 4 Model B) architecture"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Docker-Compose file:

[master/shenyu-dist/shenyu-docker-compose-dist/src/main/resources/stand-alone-mysql/docker-compose.yaml](https://github.com/apache/incubator-shenyu/blob/master/shenyu-dist/shenyu-docker-compose-dist/src/main/resources/stand-alone-mysql/docker-compose.yaml)

Operation sys

[2022-04-01 03:49] yu199195 commented on #3163
Do you have any good solutions?

[2022-04-01 05:26] qicz commented on #3158
@moremind
![image](https://user-images.githubusercontent.com/2174082/161200318-894289f6-3249-4bfd-9a45-fe834076d85a.png)
maybe change to same logic?

[2022-04-01 06:50] myesn commented on #3163
I think we need to first split the docker-compose.yml file according to different CPU architectures, and then modify the install.sh script to execute different docker-compose.yml file for different CPU architectures, with pseudo code like:
[code]

Here are some references:
- [Changing the image in Docker Compose based on the host OS](https://stackoverflow.com/questions/53543445/changing-the-image-

[2022-04-01 07:36] wls981 opened #3165 "[BUG] The client response body can only be consumed once"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/15735480/161216071-1b7e888b-72f2-4e12-b1f7-727b6ea7e773.png)

I am using shenyu2.4.2 for stress testing, when the concurrency exceeds 4, the exception shown in the figure above will be thrown. Changed to shenyu2.4.1 for the same test, and no

[2022-04-01 07:38] JooKS-me commented on #3163
Hi, I think we can change `mysql` to `mariadb` which support both amd64 and arm64 arch.

<img width="1254" alt="image" src="https://user-images.githubusercontent.com/62384022/161217623-e000f226-793b-411b-b7b3-933c5e6e8c0e.png">

[2022-04-01 08:03] moremind commented on #3158
yes.

[2022-04-01 08:11] myesn opened #3166 "[BUG] Docker-Compose shenyu services image not support arm64(Raspberry Pi 4 Model B) architecture"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Docker-Compose file:

[master/shenyu-dist/shenyu-docker-compose-dist/src/main/resources/stand-alone-mysql/docker-compose.yaml](https://github.com/apache/incubator-shenyu/blob/master/shenyu-dist/shenyu-docker-compose-dist/src/main/resources/stand-alone-mysql/docker-compose.yaml)

`shenyu-admin

[2022-04-01 08:17] myesn commented on #3163
It should work, I haven't used mariadb, all I know is that it's a mysql based distribution.

But now there is a new problem, the `shenyu-admin` and `shenyu-bootstrap` are not working properly(on arm64 architecture), I created a new issue #3166 to illustrate this new problem.

[2022-04-01 08:18] JooKS-me commented on #3166
Hi @myesn, `openjdk:8-jre-alpine` can support arm64.

<img width="1315" alt="image" src="https://user-images.githubusercontent.com/62384022/161223848-8ddf80ee-33b8-4d8e-b56b-ef094246ba78.png">

Do you have a mirror for building shenyu locally? It may be that the shenyu image in docker hub does not support arm64.

[2022-04-01 08:19] qicz commented on #3165
@wls981 maybe try the last version at the master branch.  we used the shenyu for a long time,  this problem does not exist.

[2022-04-01 08:24] MarsOu1995 opened #3167 "[BUG] Front-end exception."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I add and modify the handler.
![image](https://user-images.githubusercontent.com/20200721/161224674-d00399ef-404f-4e32-bcd4-e61d9cc14d73.png)

refresh failed. Because of parameter passing exception.

http://localhost:9095/plugin-handle?pluginId=1509803933171535872&currentPage%5BcurrentPa

[2022-04-01 08:34] myesn commented on #3166
Sorry, I forgot to click the `more` button.

 I doesn't have a mirror for shenyu.

How should I go about solving this problem?

[2022-04-01 08:43] li-keguo commented on #3167
hi! it fixed, Please wait for the release of the next version

https://github.com/apache/incubator-shenyu-dashboard/pull/188
https://github.com/apache/incubator-shenyu-dashboard/issues/190

[2022-04-01 08:48] JooKS-me commented on #3166
First, delete the shenyu image on your machine.

There is a temporary solution, you can first download the source code of the release to the machine you want to deploy, unzip it and execute it in the root directory of the project

[code]

This way, you will have the appropriate image on your machine, you can check it with `docker images`.

[2022-04-01 08:48] erdengk commented on #3166
@myesn
I am using mac m1 which is also arm architecture.
You might consider building the image locally to run the project.
See the first part of this [link](https://shenyu.apache.org/zh/blog/IntegrationTest-Analysis#%E6%9E%84%E5%BB%BA%E6%95%B4%E4%B8%AA%E9%A1%B9%E7%9B%AE%E5%90%8C%E6%97%B6%E6%9E%84%E5%BB%BAdocker%E9%95%9C%E5%83%8F) on how to build the image locally.

Here is a screenshot of my docke

[2022-04-01 09:24] myesn commented on #3166
Thanks a lot, I'll try it later, and if it works, I'll close this issue.

[2022-04-01 10:14] nuo-promise opened #3168 "[Task] <SQL Upgrade add id>"
### Description

SQL upgrade script adds id fields to plugin_handle and shenyu_dict.

### Task List

1. SQL upgrade script adds id fields to plugin_handle and shenyu_dict.

[2022-04-01 12:12] dragon-zhang opened #3169 "[Volunteer] exclusion log4j dependency in shenyu-bootstrap"
### Volunteer help

exclusion log4j dependency in shenyu-bootstrap

[2022-04-01 12:44] dragon-zhang opened #3171 "[Question] performance problem in `MotanProxyService`"
### Question

In `org.apache.shenyu.plugin.motan.proxy.MotanProxyService#genericInvoker`, we have a performance problem :
[code]
so I'm going to adjust the thread pool to `cached`:
[code]

[2022-04-01 13:15] dragon-zhang opened #3173 "[Volunteer] support configurable timeout for MotanPlugin"
### Volunteer help

In `org.apache.shenyu.plugin.motan.cache.ApplicationConfigCache#build`, we simply set the timeout to 1 second, which is obviously not in line with the use of production environment, so it's necessary to support configurable timeout.

[2022-04-01 15:25] nuo-promise opened #3175 "[Task] <Admin interface permissions>"
### Description

Intercepting interfaces that are not accessed from the shenyu-dashboard.

### Task List

1.admin interface permission.

[2022-04-02 02:01] qicz commented on #3165
I close this issue, you can try the last version. if this `bug` is present again,  tell me and refer issue again.    @wls981

[2022-04-02 02:01] #3165 closed

[2022-04-02 02:23] AhahaGe opened #3176 "[Monta example configuration a bit complex] <Suggest add configuration in starter>"
### Volunteer help

1. Check shenyu-exampels-motan,  we used shenyu-spring-boot-starter-client-motan
2. Configure motan example
<img width="759" alt="image" src="https://user-images.githubusercontent.com/6198217/161361926-c23c8a9f-b1db-4a02-91f7-9cc9545a9d92.png">

3. add properties bean
<img width="1237" alt="image" src="https://user-images.githubusercontent.com/6198217/161361939-a8c24d25-869e-43

[2022-04-02 03:55] joker-zxs commented on #3088
good

[2022-04-02 03:56] joker-zxs commented on #3088
Can you randomly assign one of them to me? Thank you very much.

[2022-04-02 05:57] wuqiu-ai opened #3177 "[Question] http globalplugin Large performance loss"
### Question

随着元数据的数据量越来越大，http转发需要遍历所有的元数据和正则匹配相关，造成性能开销大。
元数据只有一条的压测情况：
![1](https://user-images.githubusercontent.com/4514718/161368664-acde2d94-2360-4e4e-9c63-63d8805599ba.png)

元数据差不多1000条压测情况：
![2](https://user-images.githubusercontent.com/4514718/161368674-6975cf02-7fb9-4343-9768-03d3a2738cd3.png)

压测的火焰图：
![3](https://user-images.githubusercontent.com/4514718/161368687-95192f62-8aa2-404e-

[2022-04-02 07:59] Mayank-KS commented on #3088
There are two unassigned tasks, can you assign one to me? Thank you

[2022-04-02 08:57] #3168 closed

[2022-04-02 09:26] nuo-promise opened #3179 "[Task] <resource add button gives an error>"
### Description

The resource add button gives an error after clicking on the confirmation.
eg:
Request error! invalid argument

### Task List

_No response_

[2022-04-02 09:44] ShawnJim opened #3180 "[BUG] The postgreSql database initialization script has an error."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The `date_created`、`date_updated` field in the table 'plugin' is not null.
![image](https://user-images.githubusercontent.com/32192263/161377307-476ded27-39b6-4254-9d78-1968ec8c7af0.png)

 But `date_created`、`date_updated` field is assigned null in the insert sql.
![image](https://user-images

[2022-04-02 09:57] nuo-promise commented on #3180
You can remove the default datetime of h2 mysql pg.

[2022-04-02 10:21] dragon-zhang commented on #3169
see https://github.com/apache/incubator-shenyu/pull/3170

[2022-04-02 10:21] #3169 closed

[2022-04-02 10:35] dragon-zhang commented on #3173
There are other suggestions refers from https://github.com/apache/incubator-shenyu/issues/3176

[2022-04-02 10:36] dragon-zhang commented on #3173
also need to support config `group`.

[2022-04-02 10:55] ShawnJim commented on #3180
Ok, I will commit the changes later.

[2022-04-02 12:04] AhahaGe opened #3185 "[Volunteer] <How about add some handle for thread pool error>"
### Volunteer help

For example:
1. add a new exception type
2. record metric
3. dump jps to see jvm snapshot
4. send to alter module
5. publish event to listener for customize handle
6. ...

[2022-04-02 14:08] #3175 closed

[2022-04-02 14:08] #3179 closed

[2022-04-02 14:46] UniverseInHeart commented on #3185
I'm not sure how to do that.

[2022-04-02 15:45] dragon-zhang commented on #3185
When https://github.com/apache/incubator-shenyu/issues/3026 is completed, we can easily implement it in `ShenyuThreadPoolExecutor`.

[2022-04-02 16:11] IceFoxs opened #3187 "[BUG] admin and bootstrap stop.sh execute failed in macos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

icefox@localhost apache-shenyu-incubating-2.4.3-SNAPSHOT-admin-bin % ./bin/stop.sh
ps: cmd: keyword not found
ERROR: The ShenYu-Admin does not started!

### Expected Behavior

expect  execute stop.sh successful

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_

[2022-04-02 22:55] UniverseInHeart commented on #3185
copy that

[2022-04-03 15:24] moremind commented on #3158
yes,I have fixed this question.

[2022-04-03 17:15] IceFoxs opened #3194 "[BUG] shenyu admin website background images must rely on network ！ In the Intranet environment, pictures may not be loaded."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

####  with network：
![image](https://user-images.githubusercontent.com/26451038/161439822-ef9395b0-c4be-43e2-8608-995cb5d88585.png)

#### without network：
![image](https://user-images.githubusercontent.com/26451038/161439584-94b3137c-e1ff-42f5-8e75-df4fd6596b77.png)

### Expected Behavior

ex

[2022-04-04 07:47] #3187 closed

[2022-04-04 11:58] IceFoxs commented on #3194
@JooKS-me  I already commit this pr.  Pls check it.
https://github.com/apache/incubator-shenyu-dashboard/pull/198

[2022-04-05 11:26] itwaiX commented on #2917
I have used Java and kafka and am very interested in it and want to participate in the project

[2022-04-06 01:26] AhahaGe commented on #3185
Yes, we can implement it in ShenyuThreadPoolExecutor's RejectPolicy or AOP

[2022-04-06 02:51] AhahaGe opened #3198 "[BUG] <Solve https://mvnrepository.com/ shenyu distribution Vulnerabilities from dependencies>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

1. Go to https://mvnrepository.com/
2. Type shenyu-web
3. click specified version 2.4.2
4. we can see vulneralibities
![image](https://user-images.githubusercontent.com/6198217/161885379-eb566b44-e7c7-4a60-abc9-2ab0e49f5f66.png)
5. I suggest we need to fix them
6. I just list the first level

[2022-04-06 03:58] LinQilong opened #3199 "返回信息拦截 配置自定义日志"
### Question

您好，我想问一下。如果我想**自定义日志信息**（接口调用成功失败信息，IP，解析位置信息，保存特定信息等），我该怎么配置？

[2022-04-06 04:03] yu199195 commented on #3199
pls in english

[2022-04-06 04:13] midnight2104 commented on #3180
doen

[2022-04-06 04:13] #3180 closed

[2022-04-06 04:14] midnight2104 commented on #3167
done

[2022-04-06 04:14] #3167 closed

[2022-04-06 04:18] midnight2104 commented on #3088
8. plugin-handle-sqlmap.xml

[2022-04-06 04:18] midnight2104 commented on #3088
data-permission-sqlmap.xml

[2022-04-06 04:29] midnight2104 commented on #3110
pls see   https://shenyu.apache.org/zh/community/code-suggestions/

[2022-04-06 04:29] #3110 closed

[2022-04-06 04:29] midnight2104 commented on #3126
invalid title name

[2022-04-06 04:29] #3126 closed

[2022-04-06 04:30] midnight2104 commented on #3139
invalid title name

[2022-04-06 04:30] #3139 closed

[2022-04-06 04:34] midnight2104 commented on #2366
done

[2022-04-06 04:34] #2366 closed

[2022-04-06 04:35] midnight2104 commented on #2390
done

[2022-04-06 04:35] #2390 closed

[2022-04-06 04:36] midnight2104 commented on #2871
If you have questions, please ask again.

[2022-04-06 04:36] #2871 closed

[2022-04-06 04:37] midnight2104 commented on #2870
done

[2022-04-06 04:37] #2870 closed

[2022-04-06 04:37] midnight2104 commented on #2863
If you still have the questions, please reopen issue.

[2022-04-06 04:37] #2863 closed

[2022-04-06 04:39] midnight2104 commented on #2432
done

[2022-04-06 04:39] #2432 closed

[2022-04-06 05:34] LinQilong opened #3200 "How to customize log information？"
### Question

Hello, I'd like to ask. If I want to customize the log information (API call success and failure information, IP, parsing location information, saving specific information, etc.), how should I configure it?

[2022-04-06 05:35] #3199 closed

[2022-04-06 05:40] myesn opened #3201 "[Question] Why does version 2.4.3 have two branches?"
### Question

![image](https://user-images.githubusercontent.com/18598579/161903372-267bc93c-aec5-44c3-abf9-b87b8c4a70ad.png)

If I want to deploy with version 2.4.3, which branch should I use?

[2022-04-06 06:00] myesn opened #3202 "[Question] The encryption method of the login password in the last two branches has changed"
### Question

Version `2.4.2` uses `AES` encryption, and `2.4.3` uses `SHA` encryption, which causes the user account originally created on version `2.4.2` to not be able to log in on the code of version `2.4.3`. I personally think it's a `destructive update`, I had to look at the source code to find out the problem, but in [RELEASE-NOTES.md](https://github.com/apache/incubator-shenyu/blob/master/

[2022-04-06 07:51] daiwenyu opened #3203 "[Task] Update Admin Static File"
### Description

Update Admin Static File

### Task List

_No response_

[2022-04-06 08:31] #3194 closed

[2022-04-06 09:12] #3203 closed

[2022-04-06 09:13] yu199195 commented on #3200
hi， you can see logging plugin，and logging-rockeqMQ plugin.

If it does not meet your needs, you can custom develop  shenyu plugin.

[2022-04-06 09:31] yu199195 commented on #3177
@ppj19891020  Hi， If you are in this scenario ，you can add  springmvc data in metadata,

We will optimize it in the next version~

[2022-04-06 10:03] myesn commented on #3166
@JooKS-me @erdengk After `shenyu-bootstrap` runs, after processing several http requests, this error occurs and `shenyu-bootstrap` stops running:

[code]

<details>
  <summary>Click to view detail log</summary>

[code]

</details>

[2022-04-06 12:25] AhahaGe opened #3209 "[BUG] <Swagger miss header parameter token>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

open swagger page, and open one interface, can't see token header in request parameter

### Expected Behavior

have a token header

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2022-04-06 12:25] AhahaGe commented on #3209
Please assign to me

[2022-04-06 20:55] selectbook commented on #2917
I would like to contribute to this feature if possible.

[2022-04-07 00:44] erdengk commented on #3166
hi, @myesn
I checked the link you provided and I think you are right.
Maybe this problem can be solved by upgrading the openjdk version, can you help try it?
I've been so busy with exams lately that I don't have time for this at the moment.

[2022-04-08 03:27] myesn commented on #3166
@JooKS-me **Thank you very much for your reply**, I have compiled the following information for your reference.

All of the following steps are performed on the `Raspberry Pi`:

**1.** Download and extract [v2.4.2 Souce code(tar.gz)](https://github.com/apache/incubator-shenyu/archive/refs/tags/v2.4.2.tar.gz)
**2.** Open and edit the contents of `incubator-shenyu-2.4.2/shenyu-dist/shenyu-admin-dist

[2022-04-08 03:29] hgaol commented on #2969
Seems it's a bug, I'll try to fix it.

[2022-04-08 03:57] JooKS-me commented on #3166
@myesn After executing this command, what does the file directory look like (for example, you can check it with the `tree` command)? Did something else go wrong while executing the script?

[2022-04-08 04:20] mehrdadmoradii commented on #2917
Hi, I'm Mehrdad, currently in the second year of the Software Engineering program at Centennial College (Toronto, Canada).
I would like to kickstart my open-source development journey with ASF and GSoC.

The following is a summary of my skills and qualifications:

- Data Structures and Algorithm design.
- Java, Maven, and IntelliJ.
- Spring Framework and its community (Spring Boot, Spring Security

[2022-04-08 04:49] myesn commented on #3166
@JooKS-me Please check the following content:

[code]

[2022-04-08 05:51] JooKS-me commented on #3166
Hi @myesn , I reproduced your problem locally :)

I find that the base image you used `openjdk:8u322-jre` will make the env of spring invalid.

There may be no problem in the dockerfile, and it is recommended not to modify it. I read the log of your shenyu-bootstrap, that is probably because shenyu-admin failed to start successfully, not because of the image problem of openjdk.

[2022-04-08 09:44] chineseGo8341 commented on #3088
have you finished the task assigned to you yet?plz let me know, I want to commit too

[2022-04-08 10:00] hutaishi commented on #3143
skywalking pr: https://github.com/apache/skywalking-java/pull/147
we should support http and other rpc.

[2022-04-08 12:40] #3201 closed

[2022-04-09 01:46] jerbo99 opened #3215 "[BUG] Nacos, a service can only register one type of RPC client"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

A service for http, dubbo, or other RPC is also provided, ShenyuRegisterCenter only registers one of the RPCs.

### Expected Behavior

As with other registration types, http, dubbo, or other RPC clients for a service can all be registered with the ShenyuRegisterCenter.

### Steps To Reproduce

[2022-04-09 09:09] dragon-zhang opened #3217 "[BUG] When dubbo `group` is used, the `gateway` cannot call the `downstream system`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Throw `no provider` exception.

### Expected Behavior

no exception.

### Steps To Reproduce

1. run `ShenyuAdminBootstrap` and enable `dubbo` plugin;
2. reduce the Dubbo dependency of `shenyu-examples-apache-dubbo-service-xml` to `2.7.0`;
3. change `spring-dubbo.xml` config content to `<dubb

[2022-04-09 09:46] dragon-zhang commented on #3217
refer https://github.com/apache/dubbo/issues/6377

[2022-04-09 09:47] dragon-zhang commented on #3217
I tried again several times, and it seems that `2.7.0` is no problem, I will continue to try 2.6.2.

[2022-04-09 10:28] #3217 closed

[2022-04-09 12:48] midnight2104 commented on #3088
This has been done, there are more newcomer tasks later, stay tuned.

[2022-04-09 12:50] midnight2104 commented on #3088
hi, what's your progress? do you need help?

[2022-04-09 12:51] joker-zxs commented on #3088
Wait a minute. I won't have time until tomorrow

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/incubator-shenyu"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年4月9日(星期六) 晚上8:50
***@***.***&gt;

[2022-04-09 15:56] hutaishi commented on #3200
If you have good suggestions or find problems or unmet needs, you can communicate with the community, and the community is willing to improve

[2022-04-10 11:33] li-keguo opened #3221 "[Task] Optimize dashboard home"
### Description

Add some monitoring indicators to admin.
for example

- active plugin
- count active plugin ,
- count plugin selecttor,rule
- count dict,metadata
- count request ....
- add event log

plguin
<img width="376" alt="image" src="https://user-images.githubusercontent.com/33576070/162615926-0e1b4ec7-9a64-4ca4-a2f8-01e59b2b857d.png">

count
<img width="505" alt="image" src="https://user-

[2022-04-10 14:58] hutaishi commented on #3076
skywalking pr: https://github.com/apache/skywalking-java/pull/147
we should support http and other rpc.
Next need to support more rpc

[2022-04-11 03:20] yu199195 commented on #3143
good job，you can go on

we should support http and other rpc.

[2022-04-11 04:19] midnight2104 commented on #3088
done

[2022-04-11 04:19] #3088 closed

[2022-04-11 07:42] justlemontree opened #3223 "which condition may delete the divide plugin handle(the upstream config) in the selector table"
### Question

which condition may delete the divide plugin handle in the selector table
the upstreamCheck enabled is false;

[2022-04-11 14:33] dragon-zhang opened #3224 "[Question] How about reuse `HttpClient` in `HttpClientPluginConfiguration` for `WebSocketPluginConfiguration`"
### Question

current `WebSocketPluginConfiguration`:
[code]
after reuse `HttpClient` in `HttpClientPluginConfiguration`:
[code]
I think reuse could be better, how do you guys feel ?

[2022-04-12 05:31] ywengineer opened #3228 "[BUG] unexpected result for loadbalance"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

For Loadbalance.

1. When i change a upstream's status to false or weight to 0, it still can be chosen.
2. When a selector of DevidePlugin has only one upstream, regardless of it's status and weight, it still can be chosen.

### Expected Behavior

It should not be chosen

### Steps To Reprodu

[2022-04-12 06:49] yu199195 commented on #3223
What method of  access are you using?  http register？ or  other register center？ or  youself？

[2022-04-12 06:53] yu199195 commented on #3224
if used `HttpClient` , it be used by divide and spring cloud plugin,

and then used by websocket plugin, Is not as good as the original
isolation？ （I can't confirm）

[2022-04-12 07:04] #2969 closed

[2022-04-12 07:05] justlemontree commented on #3223
I have configed like that,&nbsp; I find some condition may delete the upstrem from the front page, such as copy the divide selector and edit it, so the divide handle fileld is empty, so the upsteam in the db is removed.

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年4月12日(星期二) 下午3:01
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [apache

[2022-04-12 07:09] yu199195 commented on #3223
so，

copy the divide selector and edit it, so the divide handle fileld is empty？  maybe it a bug in shenyu-dashborad

if you not edit，it be removed？

[2022-04-12 07:11] justlemontree commented on #3223
if&nbsp; not edit，it will not be removed.

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年4月12日(星期二) 下午3:10
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [apache/incubator-shenyu] which condition may delete the divide plugin handle(the upstream config) in the selector table (Issue #3223)

so，

copy the divide selector and edit it, so the