[2022-08-29 12:03] ilikepomelo opened #3888 "[BUG] open shenyu-admin page but is blank"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[https://elk-pub.oss-cn-hangzhou.aliyuncs.com/shenyu-1.jpeg](url)

### Expected Behavior

_No response_

### Steps To Reproduce

1、click BasicConfig-》Plugin   page
2、click next page，met blank page

### Environment

[code]

### Debug logs

SyntaxError: Unexpected end of JSON input
    at JSON.

[2022-08-29 12:37] yu199195 commented on #3887
pls in english

[2022-08-29 12:37] yu199195 commented on #3888
pls modify title to english

[2022-08-30 06:54] LBJWt opened #3893 "[api document] <No document>"
### Question

api document has not documentation

[2022-08-30 08:31] lossend opened #3895 "[Question] 如何直接使用dubbo泛化调用"
### Question

dubbo客户端注册方式对业务侵入比较大，有没有办法直接通过dubbo泛化调用实现对后端dubb服务的调用

[2022-08-30 08:45] ilikepomelo commented on #3381
2.5.1-SNAPSHOT， still have this issue

[2022-08-30 08:51] pyshiweijia opened #3896 "[BUG] AddMenu error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/14867880/187391880-9aee7863-0b1a-4da4-98a3-4352cd9f03b3.png)

### Expected Behavior

addMenu success

### Steps To Reproduce

1. click the menu ( System Manage——>Resource)
2. click the button ,which named addMenu
3. completed form
4. click th

[2022-08-30 08:58] KevinClair commented on #3893
It will be added later, welcome to join.Contact @lianjunwei if you have more question.

[2022-08-30 08:59] shihuili1218 commented on #3883
This issue has been completed, please review
https://github.com/apache/shenyu/pull/3894

[2022-08-30 09:25] KevinClair commented on #3883
TotalWeight is dynamic, see org.apache.shenyu.loadbalancer.entity.Upstream#warmup

[2022-08-30 12:27] ashutosh049 commented on #1693
I'm getting this `OnBeanCondition` error. Seems quite similar.
As soon as my `CompletableFuture<Optional<Object>>` starts to execute, it fails with below logs. I can't figure out what's the issue here. On local dev machine it's running good, fails on ec2 linux.

[code]

[2022-08-30 13:38] horoc commented on #3896
I can reproduce that issue.

It seems the request's field names which define in shenyu-dashboard

```shenyu-dashboard/src/routes/System/Resource/AddModal.js```

doesn't match with POST: /resource interface

for example : ```title``` should be ```name```

<img width="1028" alt="image" src="https://user-images.githubusercontent.com/63457588/187450083-ee86ffb6-8d34-4b03-9e12-87a8963558bd.png">

[2022-08-30 14:45] #3381 closed

[2022-08-30 16:03] JooKS-me commented on #3895
If the way of annotation is too intrusive, you can manually configure it on the admin. And we are currently trying to implement non-intrusive client registration with javaagent, in #3806, which may be available soon.

[2022-08-31 01:50] shihuili1218 commented on #3883
Oops, I see. the total weight cannot be calculated when the parameter is changed, so I will close this pr and open it again if necessary

[2022-08-31 03:51] KevinClair commented on #3883
Thanks a lot, if you have more question, you can reopen this issue.

[2022-08-31 03:51] #3883 closed

[2022-08-31 07:46] lossend opened #3900 "[Question] k8s下websokcet数据同步方案会不会造成数据不一致？"
### Question

首选要保证可用性，admin要3个pod，gateway3个，这样要求gateway的websocket client要链接所有的admin，这里要填写多个urls，但是k8s下不能填写ip，多个pod一般是暴露service，这里只能填写一个url，那么会不会存在操作前端页面的时候请求到了其中一个admin，admin发送数据更新事件，可能只会通知到其中一个client，剩下两个client就不会数据更新？

[2022-08-31 09:38] #3895 closed

[2022-08-31 09:58] yu199195 commented on #3900
pls in english

[2022-08-31 10:03] #3887 closed

[2022-08-31 21:09] #3843 closed

[2022-08-31 21:10] #3841 closed

[2022-09-01 05:07] #3896 closed

[2022-09-01 06:54] LBJWt commented on #3893
Thankyou ,and  About what time

[2022-09-01 07:08] #3859 closed

[2022-09-01 09:45] lossend opened #3904 "[Question] Is possible to get wrong parameter order when call http to dubbo rpc invoke"
### Question

the default dubbo param build function is following：
<img width="961" alt="image" src="https://user-images.githubusercontent.com/49791601/187884509-16eb08b3-9518-4843-8076-3274fba820f7.png">

Is possible to get wrong parameter order when gson deserialize the json？or keySet return unsorted set

[2022-09-01 09:51] lossend commented on #3900
answer myself:
when use websocket for data sync，admin is a stateful application，so deploy admin as StatefulSet Workload and create headless service for pod，and `sync.websoket.urls` is `pod1.stable.svc;pod2.stable.svc;pod13stable.svc`

[2022-09-01 10:41] jbh2507 opened #3905 "[BUG] ShenYu-admin 2.5.0 docker image not work with mysql jdbc drive error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Can't find JDBC driver! ShenYu admin is not deployed

### Expected Behavior

just run docker with mysql

### Steps To Reproduce

1. use docker image 2.5.0

[code]

### Environment

[code]

### Debug logs

[code]

### Anything else?

It is probably because of the following contents of line 17

[2022-09-01 13:16] KevinClair commented on #3904
Dubbo invoke doesn't care about the order of parameters.

[2022-09-01 13:39] KevinClair commented on #3893
Maybe in the next version.

[2022-09-01 13:40] KevinClair commented on #3893
I will close this issue, you can reopen it if you have more question.

[2022-09-01 13:40] #3893 closed

[2022-09-02 00:59] vijayuan opened #3906 "[Question] What is the intention of changing selection sort rule in v2.5.0"
### Question

https://github.com/apache/shenyu/pull/3579

This change includes an implicit sort rule which may cause wrong url match for upgrading from v2.4.3. On the other hand, users may confuse with the sort rule because the url matching order may not be the same with they configed.

[2022-09-02 01:12] #3801 closed

[2022-09-02 01:37] vijayuan commented on #3906
After this change, all 'and' selections have higher priority than all 'or' selections.

If I config another selection with just one condition, I think there is no difference between `and ` and `or`. But, not !!

[2022-09-02 02:55] KevinClair commented on #3906
Can you provide a more detailed case?Thanks a lot.

[2022-09-02 03:48] yu199195 commented on #3905
can you copy [mysql-connector.jar](https://repo1.maven.org/maven2/mysql/mysql-connector-java/8.0.29/mysql-connector-java-8.0.29.jar) to /$(your_work_dir)/ext-lib？

[2022-09-02 04:14] jbh2507 commented on #3905
Yes, I did. I also checked that the jar file exists in the '/opt/shenyu-admin/ext-lib' path using the 'docker exec' command.

[2022-09-02 04:16] jbh2507 commented on #3905
If I change the docker volume mount to '/opt/shenyu-bootstrap/ext-lib' and run it, the dirver not found error goes away (although it still fails with other errors)

[2022-09-02 04:50] lossend commented on #3904
if paramTYpes is (int, int), also dont'care?

[2022-09-02 05:10] KevinClair commented on #3904
Why not use java obejct?

[2022-09-02 05:51] #3829 closed

[2022-09-02 06:17] lossend commented on #3904
rest api with two id

[2022-09-02 06:18] lossend commented on #3904
get resource with two id

[2022-09-02 06:48] damonxue commented on #3888
U can open this link [http://47.96.252.138:9095/](http://47.96.252.138:9095/), It's ok.

[2022-09-02 06:50] damonxue commented on #3860
@moremind    These tasks done.

[2022-09-02 06:52] KevinClair commented on #3904
i mean replace two paramters with a java object.

[2022-09-02 07:02] damonxue commented on #3906
I think the codes under is u commented, Sure?  With selector and rule, we match the best one to execute u logic, so we can change selector and rule to do that. Is that right?

[code]

[2022-09-02 07:48] jilliss commented on #3905
After a brief test, first of all, my environment is the image of `mysql:8` running by Docker and I added this image to Shenyu network （`--net shenyu`）

I then mounted the mysql JDBC driver JAR package into the `opt/shenyu-bootstrap/ext-lib` directory

When I started the  `apache/shenyu-admin:2.5.0` image, I made the following changes to my JDBC URL

jdbc:mysql://**shenyu-mysql:3306**/shenyu?useUni

[2022-09-02 07:51] yu199195 commented on #3905
@jilliss

maybe add to opt/shenyu-admin/ext-lib?  only shenyu-admin used mysql.

[2022-09-02 07:52] jilliss commented on #3905
However, I think this is still a problem, either the documentation is wrong, or the packaging image is wrong
[code]

[2022-09-02 07:55] jilliss commented on #3905
The log shows that the admin container is running in `/opt/shenyu-bootstrap/`. This is an obvious problem. If I do not mount the `/opt/shenyu-admin/ext-lib` container, the `/opt/shenyu-admin` directory will not appear

[2022-09-02 08:29] yu199195 commented on #3905
@jilliss hi，shenyu-admin ,shenyu-boostrap are 2 different applications and should have 2 different directories

[2022-09-02 08:39] jilliss commented on #3905
![image](https://user-images.githubusercontent.com/30598952/188099387-466ff815-9f08-4080-b09d-88dc95e9e415.png)

Yes, I know very well that there should be a problem when packing your Docker image. This is the LAYERS of `Shenyu-admin :2.5.0` image that I queried on Docker Hub
Its `WORKDIR `should be `shenyu-admin`, right

[2022-09-02 08:42] jilliss commented on #3905
The problem now is that Docker Image version 2.5.0 must be mounted to ` /opt/shenyu-boostrap/ext-lib` in order to work properly. I suggest you repackage the Docker Image

[2022-09-02 09:57] lossend commented on #3904
you are wong, dubbo params must be ordered
![image](https://user-images.githubusercontent.com/49791601/188114556-19f26845-d581-4b95-b76d-2bb0339bc191.png)

[2022-09-02 10:02] lossend commented on #3904
the desgin should be refer to dubbo office doc：

[2022-09-02 10:02] lossend commented on #3904
https://dubbo.apache.org/zh/docs3-v2/dubbo-go-pixiu/user/appendix/http-to-dubbo-default-stragety/#http-request

[2022-09-02 14:53] #3773 closed

[2022-09-02 15:35] jbh2507 commented on #3905
I mentioned it in the body of the problem, but it doesn't seem to be recognized properly due to a markdown mistake. (I forgot to close the code block correctly) Thanks for checking.

[2022-09-02 16:17] impactCn commented on #3905
@jbh2507 Updated docker bug above. You can go to docker hub again to pull it.

[2022-09-02 16:17] JooKS-me commented on #3905
@jbh2507 I read your log, the problem you encountered should be that the mysql driver is not mounted.

@jilliss Thanks for your feedback, this problem is now fixed (mirror updated)

[2022-09-02 16:20] JooKS-me commented on #3905
BTW, I recommend using `docker-compose`. We provide relatively complete scripts and operation steps, which are much more convenient than manually executing long docker commands. (https://shenyu.apache.org/docs/deployment/deployment-docker-compose/)

[2022-09-03 05:24] vijayuan commented on #3906
For example, I config 2 selector :
The first one:
`MatchType`: `or`
`conditions`:  1. `url match /a/**`    2. `url match /b/**`
 `continued`: `false`
 `order`: `1`

The second one:
`MatchType`: `and`
`conditions`: `url match /**`
`continued`: `false`
`order`: `1000`

In version `2.4.3`, the first selector is selected because the first selector's order is smaller.
In version `2.5.0`, the second sel

[2022-09-04 14:17] dengliming commented on #3900
测试

[2022-09-04 15:42] KevinClair commented on #3904
I mean dubbo invoke doesn't care about the order of parameters if you replace two paramters with a java object.

[2022-09-05 00:42] jbh2507 commented on #3905
Now it's fully functional! Thanks for your response. 👨‍🦱

[2022-09-05 01:08] LBJWt commented on #3893
this feature in this version, why the  doc in the next version?  Does it mean that this function is not available.

[2022-09-05 01:13] #3905 closed

[2022-09-05 01:40] ilikepomelo commented on #3888
root cause:
      HttpProcess request's config is Null.

now i set HttpProcess request's config to "{"ruleHandlePageType":"custom"}",   it goes ok

[2022-09-05 07:04] yu199195 commented on #3900
@lossend Hi，I guess you already know how to use it, I will close this issue~

[2022-09-05 07:04] #3900 closed

[2022-09-05 07:05] yu199195 commented on #3865
@WattsNie Hi， It be resolved.

[2022-09-05 07:05] #3865 closed

[2022-09-05 07:06] #3849 closed

[2022-09-05 07:07] li-keguo opened #3915 "[Volunteer] find bug/Provide optimization suggestions"
### Volunteer help

It's a long-term task.....
It is mainly to find bugs in shenyu, especially the admin part, including click errors, unreasonable design logic, practical optimization suggestions, etc.
If you find a problem, welcome to leave your valuable suggestions

[2022-09-05 07:12] jbh2507 opened #3916 "[Question] Why is shenyu-bootstrap jvm heap size fixed?"
### Question

Below is a part of the shell file executed when using shenyu-bootstrap 2.5.0 docker image. (line 34 of start.sh)

`JAVA_OPTS=" -server -Xmx2g -Xms2g -Xmn1g -Xss512k -XX:+DisableExplicitGC   -XX:LargePageSizeInBytes=128m"`

I think this should be non-static and should be selectable via environment variables.

I'd like to know if this setting is the best setting for most situations or

[2022-09-05 07:29] misaya295 commented on #3860
@moremind hi,this task (add authorize field for kafka client) done.

[2022-09-05 07:32] WattsNie commented on #3865
Thanks

[2022-09-05 07:54] yu199195 commented on #3916
You can customize the JVM info depending on your environment.

Can you provide it on docker image？

[2022-09-06 02:34] MiracleDx opened #3919 "[BUG] <db> postgres init sql has error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/25627222/188534761-062ceee5-22a8-4e06-b022-fba7be1213c3.png)

the ` should be "

### Expected Behavior

![image](https://user-images.githubusercontent.com/25627222/188534840-0689f0ed-8d49-4953-a023-9bf91b736d7f.png)

### Steps To Reproduce

_

[2022-09-06 02:49] myownsword opened #3921 "[BUG] <mysql init sql has error>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

_No response_

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2022-09-06 03:08] yu199195 commented on #3921
whats error？

[2022-09-06 03:28] yu199195 commented on #3919
good idea

[2022-09-06 03:31] misaya295 commented on #3921
![image](https://user-images.githubusercontent.com/45778734/188541036-92731d20-2533-4370-8b21-344d08b51271.png)

I think,The id of plugin_handle has a primary key conflict.

Can I fix it?

[2022-09-06 03:32] yu199195 commented on #3921
ok， you can fix it

[2022-09-06 09:10] lewiseliu opened #3923 "[Question] Any benchmark report or performance optimization mechanism"
### Question

Hi Community,

We are happy to know Shenyu graduated from Apache. For most API Gateway, there are some materials to elaborate its performance optimization mechanism and relative benchmark report, which is important to mitigate performance concerns.

We can do the benchmark in earlier POC phase, but any current performance / benchmark data can help before we go ahead.

[2022-09-06 09:33] yu199195 commented on #3923
Hi， You can do your own testing and communicate with any questions .

[2022-09-06 10:14] #3921 closed

[2022-09-07 08:09] #3916 closed

[2022-09-07 12:07] yunlongn opened #3925 "[Task] add new module shenyu-sdk."
### Description

Create a new module shenyu-sdk, for the convenience of users to quickly connect shenyu-bootstrap.

### Task List

1. - [x] shenyu-register-instance-consul#selectInstancesAndWatcher(implement) @mahaitao617
2. - [x] shenyu-register-instance-etcd#selectInstancesAndWatcher(implement) @misaya295
3. - [x] shenyu-register-instance-nacos#selectInstancesAndWatcher(implement) @mahaitao617
4

[2022-09-07 12:10] ywj1352 commented on #3925
pls 4 and 8 assignees to me

[2022-09-07 12:24] lv-lifeng commented on #3925
3, 7

[2022-09-07 12:33] misaya295 commented on #3925
Pls assign 2 to me.

[2022-09-08 08:13] MiracleDx opened #3928 "[Question] How to use spring.profiles.active parameter to startup"
### Question

This is how to startup in web site.
<img width="1051" alt="image" src="https://user-images.githubusercontent.com/25627222/189070172-f442597e-e935-486e-bf00-62288127abc5.png">

<img width="812" alt="image" src="https://user-images.githubusercontent.com/25627222/189070293-de05a672-654f-47cb-aebe-7d468fe6c331.png">
<img width="672" alt="image" src="https://user-images.githubusercontent.

[2022-09-08 09:26] Shashengzhe opened #3929 "[BUG] <title> org.apache.shenyu.plugin.base.cache.MetaDataCache#CACHE not thread-safe"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

CACHE存储的entry链中存在环，导致CACHE.get()无限循环

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2022-09-08 14:30] #3860 closed

[2022-09-09 05:39] ShawnJim commented on #3925
pls assign 6 to me, thanks.

[2022-09-09 06:27] ImmortalFan commented on #68
公司：深圳城市交通规划设计研究中心股份有限公司
网址：
地点：深圳（佛山）
联系方式：451984731@qq.com
场景：统一网关

[2022-09-09 06:28] luoxihong commented on #68
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-09-11 01:34] dragon-zhang commented on #3929
I see, because used `org.apache.commons.collections4.map.LRUMap`, could you please fix it? @Shashengzhe .If not, I will try to fix it after 3 days.

[2022-09-11 01:56] dragon-zhang opened #3932 "[Task] refactor provider client sdks"
### Description

Now there are some duplicate codes in the client SDK. This issue aim to solve the problem.

There are some useful information in https://github.com/apache/shenyu/pull/3935 and https://github.com/apache/shenyu/pull/3931 .

### Task List

1. - [x] refactor shenyu-client-alibaba-dubbo; @847850277
2. - [x] refactor shenyu-client-grpc; @totalo
3. - [x] refactor shenyu-client-springclou

[2022-09-11 07:59] 847850277 commented on #3932
pls asign task 1 to me. thanks

[2022-09-11 09:27] totalo commented on #3932
pls asign task 2 to me. thanks

[2022-09-11 13:45] Albertsirius commented on #3932
pls assign task 3 to me. Thx

[2022-09-12 03:27] dragon-zhang commented on #3806
sorry, it's better to wait https://github.com/apache/shenyu/issues/3932 finish and then starting.

[2022-09-12 04:56] lahmXu commented on #3932
Please assign task 7 to me, thanks!

[2022-09-13 02:08] zjcscut commented on #3932
pls asign task 5 to me. Thx

[2022-09-13 02:12] Shashengzhe commented on #3929
@dragon-zhang wait for you

[2022-09-13 07:55] yunlongn commented on #3932
Please assign task 6 to me, thanks!

[2022-09-13 09:14] mahaitao617 commented on #3925
please assign 1 to me,ths

[2022-09-14 00:45] #3919 closed

[2022-09-14 06:38] hlcen66 opened #3939 "add a springcloud rule data ,and then delete it,call server will report 500 exception"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/81564338/190077921-ae6a4de3-2d88-493f-8d33-1628fc733ff5.png)

![image](https://user-images.githubusercontent.com/81564338/190077983-7b4d94c8-e13c-43fc-a9eb-c9da40368581.png)

### Expected Behavior

1

### Steps To Reproduce

1

### Environmen

[2022-09-14 07:48] yu199195 commented on #3939
whats mean?

[2022-09-14 08:06] hlcen66 commented on #3939
step 1：add a rule.

![image](https://user-images.githubusercontent.com/81564338/190096956-e0477683-f380-400d-8135-78fd45a32dbe.png)

step2：delete the rule we just added
![image](https://user-images.githubusercontent.com/81564338/190097316-ad255c44-c191-492d-a479-1e4a599b63a3.png)

step3：ask server
![image](https://user-images.githubusercontent.com/81564338/190097408-18eb319a-115f-4e6b-bfec-a20b696

[2022-09-14 10:09] yunlongn commented on #3939
I tested it, because the exception caused by the same Rule Name

[2022-09-14 10:23] yunlongn commented on #3939
![image](https://user-images.githubusercontent.com/38271111/190128564-abea6b7e-c449-4414-8a05-2cdb5bef0f9a.png)
It is caused by the code here, and the changes here are more involved. It is recommended to avoid duplicate rule names when using them.

[2022-09-15 00:33] 898349230 commented on #3929
whether use `ReentrantLock` or `synchronized` can fix this?

[2022-09-15 01:17] hlcen66 commented on #3939
I will submit another issue for another problem,this issue will be closed.

[2022-09-15 01:17] #3939 closed

[2022-09-15 01:23] hlcen66 opened #3945 "some problems about shenyu-admin manage ui"
### Question

version:2.5.0

if code like this：
@RestController
@RequestMapping("/order")
@ShenyuSpringCloudClient(path = "/order/**")
public class OrderController {

    @GetMapping("/list")
    public String list(){
        return "order-list...";
    }
}

Automatically generated management rules：
![image](https://user-images.githubusercontent.com/81564338/190290982-aed7a887-c997-4173-b70e-9214d

[2022-09-15 01:24] hlcen66 commented on #3945
@yu199195 @yunlongn

[2022-09-15 01:33] hlcen66 commented on #3939
see this issue pls,thk. #3945

[2022-09-15 01:36] yunlongn commented on #3945
Please modify it to English issue.
this is the rule configuration for divide.
![image](https://user-images.githubusercontent.com/38271111/190292690-de6b6b5a-7467-48ee-b56a-5430d11ec84c.png)

[2022-09-15 01:52] yunlongn commented on #3945
Please modify the title and previous comments to English. The rule editing page registered by the client is inconsistent with the new rule page. this is a problem. i will take a look

[2022-09-15 01:56] hlcen66 commented on #3945
ill do

[2022-09-15 09:07] Jimbean0615 commented on #3726
I encountered the same problem, and I think it is a universal problem. So I created a dubbo consumer client myself to solve the problem of how dubbo consumers quickly accessing the Shenyu gateway.
[Dubbo Consumer Client for Shenyu](https://github.com/Jimbean0615/shenyu-gateway-client)

[2022-09-15 10:20] #3945 closed

[2022-09-15 15:20] wanghuan0606 commented on #3925
please assign 6 to me, i want to try~

[2022-09-15 15:35] dragon-zhang commented on #3929
see https://github.com/dragon-zhang/shenyu/tree/dev_issue_3929 , can you try it ? The bottom layer directly uses `ConcurrentHashMap`, which should be no problem.

[2022-09-15 15:40] dragon-zhang commented on #3929
Sorry for the late response, The bottom layer directly uses `ConcurrentHashMap` can get a better performance.

[2022-09-16 02:25] misselvexu opened #3949 "[Task] Any plan to support Tencent Polaris Registration Center ?"
### Description

## Feature
Add support for Tencent Polaris Registry

## Github Repository
- [Polaris Server Github](https://github.com/polarismesh/polaris)
- [Polaris Java SDK Github](https://github.com/polarismesh/polaris-java)

## PR
- [x] I will submit a PR

### Task List

- [ ] Add `shenyu-register-client-server/shenyu-register-client-server-polaris` module .
- [ ] Add `shenyu-register-client

[2022-09-16 02:53] yu199195 commented on #3949
@misselvexu  hi， very good idea.

[2022-09-16 03:40] Shashengzhe commented on #3929
@dragon-zhang  I tried, no problem

[2022-09-16 08:23] #3904 closed

[2022-09-16 08:32] hlcen66 opened #3952 "degrad‘s fallbackUri of sentinel cant not work,but flow's fallbackUri can work."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I'm using the fusing and current limiting functions. I found some problems. Can you help me ?

### Expected Behavior

the fallbackUri of flow and degrade all can work

### Steps To Reproduce

1：i code this
@RestController
@RequestMapping("/order")
@ShenyuSpringCloudClient(path = "/order/**")

[2022-09-16 08:33] hlcen66 commented on #3952
@yu199195 @yunlongn

[2022-09-16 08:34] hlcen66 commented on #3952
The flow function is worked, and the fallback can return normally

[2022-09-16 10:26] yunlongn commented on #3952
This is indeed a problem and I will fix it.

[2022-09-16 11:39] jakiuncle opened #3953 "[Question] I can't send long massage to back-end in plugin's Configuration"
### Question

Like here
![image](https://user-images.githubusercontent.com/88994283/190630570-52408c4b-1949-47be-b0c5-2492d7d4d106.png)

I can't send long massage to back-end.

[2022-09-17 06:32] JooKS-me commented on #3928
Sorry for my late reply.

The first question, I think there is a problem with our documents. If I want to use mysql or other databases, it is recommended to modify the configuration files in `conf/`.

The second problem, this is a problem caused by the environment, this is related to StackYellowPage, StackRedPage, StackShadowPage, OS page size and VM default page size(8k). Therefore, I suggest tha

[2022-09-17 08:01] MiracleDx commented on #3928
Thank for your replay.

About the first question I deineded variable of active profiles, and added this after `${MAIN_CLASS}` in `start.sh` to use different propertis file.

[2022-09-18 11:27] #3953 closed

[2022-09-19 02:32] #3929 closed

[2022-09-19 08:08] meta-ease opened #3961 "[Question] AK/SK of the Sign plugin be made public?"
### Question

![image](https://user-images.githubusercontent.com/12610839/190974908-6b58c45a-6cd5-4456-84b0-3dafe2dd9efb.png)

**I hope the appKey and appSecret can be implemented by myself** @yu199195

[2022-09-19 09:26] hlcen66 commented on #3945
It seems that the master branch has not fixed this problem。

[2022-09-19 09:27] hlcen66 commented on #3945
@yunlongn

[2022-09-19 09:28] hlcen66 commented on #3945
![image](https://user-images.githubusercontent.com/81564338/190988607-9ebe6427-5951-4b9f-a921-5089aa0fe6f7.png)
![image](https://user-images.githubusercontent.com/81564338/190988722-b177f25d-992d-4ec2-ba9b-cd09c11facf5.png)

[2022-09-19 09:31] yunlongn commented on #3945
if you are mysql database
pls execute
[code]

[2022-09-19 09:32] yunlongn commented on #3945
@hlcen66

[2022-09-19 09:35] yunlongn commented on #3945
If you are not connecting to the `h2` database, please refer to adding `plugin_handle` data

[2022-09-19 09:38] hlcen66 commented on #3945
ok

[2022-09-19 09:49] totalo opened #3962 "[Question] a typo"
### Question

<img width="1083" alt="image" src="https://user-images.githubusercontent.com/29777558/190991972-055e3537-53a7-47ca-b92a-19f6fc6379f8.png">
There seems to be a typo here.

[2022-09-19 10:05] hlcen66 commented on #3952
I pulled the latest master code

![image](https://user-images.githubusercontent.com/81564338/190994437-c9ed2bc8-7ff4-45a6-b1a4-b8e05933c9c7.png)

![image](https://user-images.githubusercontent.com/81564338/190994745-6b0bebb5-4173-466b-9755-75ad61a00832.png)

![image](https://user-images.githubusercontent.com/81564338/190994388-f32a333b-9235-400e-9153-9d44d9b98fbb.png)

I've asked many times， He wi

[2022-09-19 11:01] yu199195 commented on #3962
yes，its mean disruptor

[2022-09-20 02:50] yu199195 commented on #3961
pls in english

[2022-09-20 05:30] hlcen66 commented on #3952
@yu199195

[2022-09-20 05:48] yunlongn commented on #3952
Please check your configuration, I just tried it and will enter fallback @hlcen66

[2022-09-20 05:51] #3962 closed

[2022-09-20 05:59] yunlongn commented on #3952
![image](https://user-images.githubusercontent.com/38271111/191178697-0b3f1685-33bd-41f2-a715-84c80867bcd6.png)

![image](https://user-images.githubusercontent.com/38271111/191178429-a34e445b-bd8e-4c3b-a9fc-0ff015fb1c0b.png)
![image](https://user-images.githubusercontent.com/38271111/191178623-cf03eaf4-7d3a-4ee0-92e1-557b87848868.png)

![image](https://user-images.githubusercontent.com/38271111/19

[2022-09-20 08:05] yu199195 commented on #3961
maybe

[2022-09-20 08:15] xiaochangbai commented on #68
公司：深圳航路旅行科技有限公司
网址：https://www.flightroutes24.com
地点：中国深圳
场景：机票系统核心业务网关路由、灰度发布 etc....

[2022-09-20 08:45] nuo-promise opened #3964 "[Task] <Create Plugin Permissions Resource>"
### Description

Shenyu admin plugin page adds the ability to manually generate permission resources

### Task List

- [x] Shenyu admin add create plugin permissions resource interface.

[2022-09-20 09:51] hlcen66 commented on #3952
Maybe I didn't make it clear. When you access your /hello interface for the first time, it throws an exception. If the fuse condition is not met, you should not enter the fallbackUri. Only when the fuse switch is triggered（More than 5 exceptions are thrown in at least 10 requests accessed within 12 seconds）, can you enter the fallback method. This is the first problem.

The second problem: After t

[2022-09-20 09:55] yunlongn commented on #3952
Please do not set degradeRuleTimeWindow to 0
https://shenyu.apache.org/docs/next/plugin-center/fault-tolerance/sentinel-plugin

[2022-09-21 00:22] #3928 closed

[2022-09-21 00:51] moremind commented on #3961
you can do it by changing `SignUtils`

[2022-09-21 01:12] hlcen66 commented on #3952
Look at the screenshot of my history. I didn't set it to zero。

It's another problem. In the above reply, the process is incorrect

[2022-09-21 01:24] yunlongn commented on #3952
At present, the application exception will also enter fallback

[2022-09-21 01:31] yunlongn commented on #3952
@hlcen66

[2022-09-21 01:32] yunlongn commented on #3952
Please try adding here
![image](https://user-images.githubusercontent.com/38271111/191394281-c07abf2d-6c57-469d-8ddc-5845d2b9f537.png)

[2022-09-21 01:39] moremind commented on #3952
@hlcen66 you are right,after service fuse, service degrade and trigger fallback uri.

[2022-09-21 01:41] hlcen66 commented on #3952
So I haven't given up to communicate with you about this problem. Unfortunately, I don't understand the source code enough and can't repair it myself. I also want to be a contributor. So far, I have put forward four bugs, which have been fixed by you. You are very efficient, ha ha

[2022-09-21 01:46] moremind commented on #3952
my wechat is yijia1949, if you have any question,pls contact me

[2022-09-21 01:47] yunlongn commented on #3952
Please try to modify this. I tested it with no problem
![image](https://user-images.githubusercontent.com/38271111/191395740-67f1e3e4-8400-4883-9960-e78d2080d0e3.png)

[2022-09-21 01:47] hlcen66 commented on #3952
ok,i will try it

[2022-09-21 01:47] hebing912 opened #3966 "[Question] Access the Apache ShenYu gateway using Http,but addPrefix is empty."
### Question

<img width="686" alt="1663724588622" src="https://user-images.githubusercontent.com/41274867/191395412-95114ee5-4cf4-49b0-bf91-f4c4b2fb15b5.png">

I need to manually set "addPrefix " again every time，how to make "addPrefix" is the same as "contextPath"。Can I modify it through any configuration?

[2022-09-21 01:58] hlcen66 commented on #3952
There are still some problems. When the fuse downgrade is triggered, - 103 is returned instead of entering the specified fallbackuri.
![image](https://user-images.githubusercontent.com/81564338/191396966-9e60a1de-77b4-45b1-837e-dd4a238c55f1.png)
![image](https://user-images.githubusercontent.com/81564338/191397014-0e8956df-7741-40e0-a67f-94ddc7fcdfe0.png)

Expected results:

The setting is as foll

[2022-09-21 02:03] yunlongn commented on #3952
Please do not use the containing relationship to test
![image](https://user-images.githubusercontent.com/38271111/191397605-59a83fd6-2feb-44d8-b3f4-9d475771496d.png)

[2022-09-21 02:26] hlcen66 commented on #3952
I tried. It is good that fallback is not associated with the business controller. But generally speaking, the downgrade method uses some context objects of the business controller, so it is possible that many people will write it in a controller. It is recommended that you add a description and mark it in the document.

@moremind @yunlongn

[2022-09-21 02:32] #3952 closed

[2022-09-21 02:45] yu199195 commented on #3966
`addPrefix` this property is not commonly used, I guess `contextPath` it solves your problem

[2022-09-21 03:12] xiazuojie opened #3967 "[BUG] Chinglish and grammar in Mind Map"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

There are quite a few Chinglish and grammar errors in the "Mind Maps" of the [doc](https://shenyu.apache.org/docs/index), which undermines the professionalism of this project.  Please correct them (or let someone with better English skill write it).

Mind Maps -> Mind Map
Advantage -> Advanta

[2022-09-21 06:29] yu199195 commented on #3967
@xiazuojie  hi，Thank you very much for the suggestion, can you fix it in the readme and the website： https://github.com/apache/shenyu-website

[2022-09-21 06:36] xiazuojie commented on #3967
It's a [static image](https://github.com/apache/shenyu-website/blob/main/static/img/shenyu/activite/shenyu-xmind.png). Only someone with the original xmind file can fix it.

[2022-09-21 06:43] yu199195 commented on #3967
You can fix the doc. this xmind file，I will contact others to fix it.

[2022-09-21 08:07] changanjennifer commented on #3967
The remaining job is to modify "Chinglish and grammar error" of the mind-map: [static image] (https://github.com/apache/shenyu-website/blob/main/static/img/shenyu/activite/shenyu-xmind.png)?
if so, please assign to me.

[2022-09-21 09:11] chenyanzhi1080 commented on #68
公司：云海链
网址：
地点：海南
联系方式：858818546@qq.com
场景：统一网关

[2022-09-21 10:31] nuo-promise commented on #3964
admin interface done!

[2022-09-21 14:44] aFlyBird0 opened #3973 "[BUG] Syntax error in the PostgreSQL initialization script"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="1066" alt="image" src="https://user-images.githubusercontent.com/36830265/191534644-063c0f76-552c-4428-a394-db51b3a9b971.png">

https://github.com/apache/shenyu/blob/f056da8f7bc5ab394ac77343e26b4e87ffc3943d/db/init/pg/create-table.sql#L1581-L1590

### Expected Behavior

replace `

[2022-09-21 14:45] aFlyBird0 commented on #3973
If it is a bug really, I'd like to fix it.

[2022-09-21 15:00] aFlyBird0 opened #3974 "[BUG] Index error caused by duplicated key in PostgreSQL initialization script"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="968" alt="image" src="https://user-images.githubusercontent.com/36830265/191539223-ff534a72-a9df-47f2-98d9-485021b4a383.png">

https://github.com/apache/shenyu/blob/f056da8f7bc5ab394ac77343e26b4e87ffc3943d/db/init/pg/create-table.sql#L879

https://github.com/apache/shenyu/blob/f05

[2022-09-21 16:41] aFlyBird0 opened #3975 "[BUG] ShenYu-Admin failed to launch with PostgreSQL actived"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="1178" alt="image" src="https://user-images.githubusercontent.com/36830265/191560390-5b90abf4-1575-403e-b8c8-9a5a0a422793.png">

### Expected Behavior

no error

### Steps To Reproduce

I ran into this problem while debugging the helm installation method, but I guess starting admin

[2022-09-22 02:38] #3974 closed

[2022-09-22 04:01] #3975 closed

[2022-09-22 04:57] #3973 closed

[2022-09-22 05:42] hlcen66 opened #3981 "Shenyu admin startup error prompt"
### Question

When Shenyu admin is started, there will be an error message from the docs

![image](https://user-images.githubusercontent.com/81564338/191667069-65e60ff3-2416-4867-8689-19236e8fb805.png)

[2022-09-22 05:55] hlcen66 commented on #3981
@yu199195 @yunlongn

[2022-09-22 07:40] sidney-Lj opened #3983 "use shenyu-admin as a http client"
### Question

2022-09-22 15:12:24 [reactor-http-nio-7] ERROR org.apache.shenyu.plugin.httpclient.AbstractHttpClientPlugin - Exceeded limit on max bytes to buffer : 1048576
org.springframework.core.io.buffer.DataBufferLimitException: Exceeded limit on max bytes to buffer : 1048576
	at org.springframework.core.io.buffer.LimitedDataBufferList.raiseLimitException(LimitedDataBufferList.java:99)
	Suppre

[2022-09-22 07:55] #3983 closed

[2022-09-22 07:56] sidney-Lj commented on #3983
shenyu.httpclient.maxInMemorySize=1 #1mb

[2022-09-22 09:37] LBJWt opened #3985 "[Question] <Do you support RestFull style interfaces>"
### Question

Do you support RestFull style interfaces? like  /a/b/{id}

[2022-09-22 10:41] nuo-promise opened #3987 "[Task] <ZK Test Mock Client>"
### Description

zookeeper test class now relies on the zookeeper server for the client, change it to mock.

### Task List

_No response_

[2022-09-22 10:54] yunlongn commented on #3987
Please assign to me

[2022-09-22 11:45] #3964 closed

[2022-09-23 03:32] moremind commented on #3966
I will fix it

[2022-09-24 06:34] #3987 closed

[2022-09-24 13:51] moremind commented on #3981
this question about api document，but shenyu admin be free from the question

[2022-09-24 20:19] zhc00 opened #3992 "[BUG] GET /selector constantly return empty"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

_No response_

### Expected Behavior

_No response_

### Steps To Reproduce

1. create selector
[code]
2. get selectors

[code]

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2022-09-24 20:26] zhc00 opened #3993 "[Question] ShenYu Admin support postgresql matrix"
### Question

I found the ShenYu admin is not compatible with PostgreSQL 14. The error log is as follows.
[code]
So, I am confused about whether is a bug or incompatible.

[2022-09-25 06:16] li-keguo commented on #3992
hi～，You must provide the plugin Id, this interface is somewhat ambiguous

[code]

This is a legacy issue, this interface will be deprecated in the future, the new interface is as follows:
[code]

see: http-debug-selector-controller-api.http

[2022-09-25 12:07] ShawnJim commented on #3993
thanks for you report. i will fix it later.

[2022-09-25 13:41] Albertsirius commented on #3932
@dragon-zhang Hi, I found the `appName` assigned different value when refactoring  `shenyu-client-springcloud`:
In the original constructor of `SpringCloudClientEventListener`:
<img width="591" alt="Screen Shot 2022-09-25 at 21 36 54" src="https://user-images.githubusercontent.com/1999408/192146429-0a498201-5a8b-4858-8637-4157aa4fd9aa.png">

But in the constructor of `AbstractContextRefreshedEvent

[2022-09-26 06:56] happyshelfan opened #3997 "[Question] There is no LoggingKafka in the PluginList->Logging menu"
### Question

I downloaded the source code of version `2.5.0`, but I could not find the LoggingKafka menu. So I checked the `schema.sql`, there was no data about `loggingKafka` either in the `resource` table.

[2022-09-26 09:04] winneryong opened #3998 "[BUG] edit dict item encounter error message : Request error! invalid argument [enabled: 不能为null]"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

1) I add an dict record using admin web BasicConfig->Dictionary,  is save finish.
2) i click "Edit" link to modify dict，and click ‘Sure’ button，encounter message pop ‘Request error! invalid argument [enabled: 不能为null]
’
3）the edit dialog not show enable option.

### Expected Behavior

update

[2022-09-26 09:51] dragon-zhang commented on #3932
keep the original, and you need to override `getAppName`.

[2022-09-26 14:41] #3998 closed

[2022-09-27 01:44] hlcen66 opened #4002 "On the secondary development of shenyu"
### Question

I have made some feature function modifications to Shenyu to meet my own business. Would you like to repackage the image and upload it to your own image warehouse?

write Dockfile by myself？

@yu199195 @yunlongn @moremind

[2022-09-27 02:19] daihuanhuan opened #4003 "[BUG] Divide rules Timeout setting has no effect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Version 2.5.0，Timeout setting has no effect。The exceptions are as follows！
{
    "code": -104,
    "message": "Service call timeout!"
}

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No

[2022-09-27 02:35] moremind commented on #4002
you can write Dockerfile by yourself

[2022-09-27 05:48] sreeraksha opened #4006 "While trying to register SpringCloud services, is it necessary to annotate @ShenyuSpringCloudClient in the Controller?"
### Question

Please confirm if its a mandate to use @ShenyuSpringCloudClient in SpringCloud services in order to register  to Shenyu API gateway? As this would require changes in multiple services.

[2022-09-27 06:29] dragon-zhang commented on #4003
Please check the downstream timeout.

[2022-09-27 06:57] hlcen66 commented on #1829
Excuse me, do you have the pressure test results？

[2022-09-27 07:16] yu199195 commented on #4006
No， you can config in shenyu admin

[2022-09-27 09:23] qizhq opened #4007 "[BUG] <title>RequestPlugin Remove Cookie"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

If there is only one cookie at a reques, I can‘t remove it when I want to；
Because the code judges that only when the return cookie is not empty, it will be updated

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No respo

[2022-09-27 09:44] hlcen66 opened #4008 "shenyu admin Configure multiple client service protocols"
### Question

I have two microservices, one is http service, and the other is spring cloud service. How can my shen admin register two protocol types?

1：http server && shenyu-admin config
![image](https://user-images.githubusercontent.com/81564338/192491384-33a4006f-6874-465c-ae49-36f90f730207.png)

![image](https://user-images.githubusercontent.com/81564338/192491757-a08c69a5-88dc-44f5-8e7c-5080

[2022-09-27 09:45] #3981 closed

[2022-09-27 09:45] hlcen66 commented on #4008
@moremind

[2022-09-27 10:33] sreeraksha commented on #4006
Could please also confirm if we can package shenyu-admin and shenyu-bootstrap into a war and deploy to weblogic?

[2022-09-27 10:41] moremind commented on #4008
Do you use two register types? http and nacos? the register just for shenyu register, not microservices

[2022-09-27 10:45] hlcen66 commented on #4008
for example,i have two business server ,one is http service ,another is springcloud ,
These two services are connected to shenyu admin.

shenyu-admin document example just write How to access each other.

[2022-09-27 10:53] hlcen66 commented on #4008
for this :
![image](https://user-images.githubusercontent.com/81564338/192507024-c60f59f1-a24d-44c1-ae5e-db02ea235836.png)

its about client config registryType,support http、zookeeper、etcd、consul和nacos 。

now, my client one is http,two is cloud,shen-admin only one ,how i config the registryType of shenyu-admin to adapter (http && nacos)

[2022-09-27 11:08] moremind commented on #4008
this is for your service use shenyu-client register to shenyu-register, shenyu not support multi-protocol-client

[2022-09-27 11:29] hlcen66 commented on #4008
![image](https://user-images.githubusercontent.com/81564338/192513771-31c3c16f-15d9-4c8e-a320-3047f6a516ff.png)

the config is config in shenyu-admin or my business client server?

[2022-09-27 11:40] hlcen66 commented on #4008
i want to confirm , now is like this:
![image](https://user-images.githubusercontent.com/81564338/192515544-954918fe-ec0f-44c9-a2ed-96707a51283d.png)

next ,i want to like this:
![image](https://user-images.githubusercontent.com/81564338/192515597-a44ae071-288e-4e6f-b3cc-8bc8d575ba53.png)

Is there no way to support it now?

Do I have to build a shen-admin for order service and payment respectivel

[2022-09-27 12:02] hlcen66 commented on #4008
再画了一张图：
![image](https://user-images.githubusercontent.com/81564338/192519888-c635b51b-5a00-4aac-8edb-3dbb8a622a11.png)

[2022-09-27 12:50] yunlongn commented on #4008
You cannot use both registration methods at the same time.
![image](https://user-images.githubusercontent.com/38271111/192530819-d66fe0b6-8df4-44cb-be6c-cf6f924c0e71.png)
You can have both services use http to register the service.

[2022-09-27 12:54] hlcen66 commented on #4008
It means that all my http services and all my spring cloud services can only be mapped with two shenyu admins？

[2022-09-27 12:59] yunlongn commented on #4008
I don't think you understand what `shenyu-admin` does.
shenyu-bootstrap can call both nacos services and http services.

[2022-09-27 13:01] yunlongn commented on #4008
I think you can use `@ShenyuSpringCloudClient` way to add nacos service

[2022-09-27 13:04] hlcen66 commented on #4008
ok,i will think it .

[2022-09-27 13:04] yunlongn commented on #4008
`registryType http, nacos` These two methods are just to notify the admin of the uri address of your application

[2022-09-27 13:18] dragon-zhang commented on #3932
Good job, guys !

[2022-09-27 13:18] #3932 closed

[2022-09-27 15:40] moremind commented on #3997
yes, I have checked mysql not exist

[2022-09-27 15:42] moremind commented on #3997
I will fix it right now.

[2022-09-28 02:11] moremind commented on #3985
yes

[2022-09-28 02:24] LBJWt commented on #3985
How do you accept parameters?
like
 `
 @ShenyuDubboClient(path = "/callback/result/{type}")
    @Override
    public ApiResponse callbackHandle(Map<String,Object> reqStr,String type) {

        return null;
    }
`

[2022-09-28 02:45] hlcen66 commented on #4002
how to build a image.
![image](https://user-images.githubusercontent.com/81564338/192675698-d17972af-ae7f-490d-8f43-773b88df7701.png)

i run cmd  :  mvn clean package docker:build

the result:

![Uploading image.png…]()

how i use the module shenyu-admin-dist to build shenyu-admin‘s  docker image.

[2022-09-28 03:13] ableYang123 opened #4010 "[BUG] <using the Sign Plugin, a DataBufferLimitException occurred when the JSON request was too large>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I was using the Sign Plugin, a DataBufferLimitException occurred when the JSON request was too large
![image](https://user-images.githubusercontent.com/29156983/192675494-49d79157-9b07-460e-9d6c-2bce0b73b233.png)

### Expected Behavior

I hope by changing the 'spring. Codec. MaxInMemoryS

[2022-09-28 03:35] daihuanhuan commented on #4003
How do I check it? The corresponding parameters have been sent httpclient plugin.

The corresponding code is as follows:  But the timeout doesn't work

[code]

[2022-09-28 05:39] #4002 closed

[2022-09-28 06:14] yu199195 commented on #4010
can you provider this  pr？

[2022-09-28 06:19] gitchenjh opened #4013 "[Volunteer] org.apache.shenyu.client.motan.common.dto.MotanRpcExt javadoc warning"
### Volunteer help

![image](https://user-images.githubusercontent.com/24949156/192702296-b389bc29-35e0-4e20-9cee-bb5fc2d4efe2.png)

[2022-09-28 06:19] moremind commented on #3997
this bug has finished, you can use the new SQL script or generate plugin resources on plugin-list page

[2022-09-28 06:19] #3997 closed

[2022-09-28 07:02] ableYang123 commented on #4010
可以

[2022-09-28 07:03] sreeraksha commented on #4006
@yu199195 I tried configuring selector in Shenyu admin to access a client service called customer-service (which does not have @ShenyuSpringCloudClient or any shenyu dependencies) but doesn't seem to route the request. Kindly guide me. Thanks

I followed steps mentioned at https://shenyu.apache.org/docs/plugin-center/proxy/spring-cloud-plugin#252-selector-and-gray-config as below

Service is regis

[2022-09-28 08:21] #4013 closed

[2022-09-28 09:09] dragon-zhang commented on #4003
For example, `user`->`shenyu-gateway`->`business-app` , I mean timeout happens in `business-app`, not `shenyu-gateway`.

[2022-09-29 06:06] yangyi-12345 opened #4020 "[BUG] <Register the interface using http, and an error is reported when calling：This should not occur if your keys are immutable, and you have used synchronization properly.>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

org.apache.shenyu.web.handler.GlobalErrorHandler[0;39m - [36mhandle error: [e598e524-12] Resolved [IllegalStateException: Entry.next=null, data[removeIndex]=null previous=null key=/auth/token/logout value=MetaData{id='1567016732508962816', appName='auth', contextPath='null', path='/auth/tok

[2022-09-29 07:37] thuliumkyg opened #4021 "[BUG] <mysql schema.sql>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

init mysql

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

1062 - Duplicate entry '1572620652359245824' for key 'plugin_handle.PRIMARY'

### Anything else?

_No response_

[2022-09-29 08:29] anumber commented on #3729
![Snipaste_2022-09-29_16-28-03](https://user-images.githubusercontent.com/7136642/192981132-ab1508b2-2c8a-43ff-a49f-26828838fd19.png)

[2022-09-29 08:48] moremind commented on #4021
this bug has fixed

[2022-09-29 08:48] moremind commented on #4021
@thuliumkyg

[2022-09-29 09:55] #4010 closed

[2022-09-29 09:56] yu199195 commented on #4007
can you fix it？

[2022-09-29 11:37] moremind commented on #4020
maybe metadata erroe

[2022-09-29 11:44] #4021 closed

[2022-09-29 14:20] gMan1990 opened #4022 "[BUG] `dubbo.protocol.port=-1`"
### Is there an existing issue for this?

- [ ] I have searched the existing issues

### Current Behavior

port out of range:-1

### Expected Behavior

get actual port from dubbo

### Steps To Reproduce

- See issue title.
- And dubbo docs: https://dubbo.apache.org/zh/docs3-v2/java-sdk/reference-manual/config/properties/#protocol
    - `如果配置为-1，则会分配一个没有被占用的端口`

### Environment

[code]

### Debug l

[2022-09-30 01:03] yangyi-12345 commented on #4020
What type of metadata error may cause this error message? Please help to solve the problem

[2022-09-30 02:37] #4022 closed

[2022-09-30 07:39] hlcen66 opened #4025 "Shenyu as a traffic gateway"
### Question

Hello, if I take Shenyu as a company level traffic gateway to forward requests to spring cloud gateway gateways of multiple downstream systems, can Shenyu support it?

like this:

![image](https://user-images.githubusercontent.com/81564338/193217429-11912b72-c1ac-408a-8d42-307ab8805a8b.png)

[2022-09-30 07:39] hlcen66 commented on #4025
@yu199195 @yunlongn @moremind

[2022-09-30 08:01] #4008 closed

[2022-09-30 08:02] yunlongn commented on #4025
`admin` add forwarding routes

[2022-09-30 09:01] hlcen66 commented on #4025
How to configure forwarding routes? the forwarding routes mean selector and rule ? it base on plugin ,but the spring cloud gateway can not resigtry to the shenyu。

Which proxy should I go to to configure the selector and rule？

i dont understand ,  Can you show me a screenshot ？

[2022-09-30 09:08] yunlongn commented on #4025
https://shenyu.apache.org/zh/docs/next/user-guide/admin-usage/selector-and-rule

[2022-09-30 09:10] moremind commented on #4025
first, why do you design? and if you can read shenyu document on https://shenyu.apache.org/docs/index/, you can use divide plugin.

[2022-09-30 09:12] moremind commented on #4020
I think you should check your configuration

[2022-09-30 09:13] yunlongn commented on #4025
If your `spring cloud gateway` is registered with `eureka`, then you can use `Proxy/springCloud` to connect to it

[2022-09-30 09:25] ChuckChen123 opened #4027 "[Question] 端口错乱问题"
### Question

环境：
- 本机idea
- liberica jdk 1.8
- shenyu bootstrap使用源码部署
- shenyu admin使用二进制包部署
- 两个dubbo服务提供方
- 注册中心为本地zookeeper

shenyu admin配置文件：
![image](https://user-images.githubusercontent.com/23329635/193237254-470f1fa4-7413-4154-a778-5aec7fc07a8c.png)

shenyu bootstrap配置文件：
![image](https://user-images.githubusercontent.com/23329635/193237374-1abac960-762f-4498-bd41-fe31ff151d9b.png)

dubbo

[2022-09-30 10:29] #4007 closed

[2022-10-01 07:43] hlcen66 opened #4028 "sync data at the k8s"
### Question

when i deploy shenyu-admin and shenyu-bootstrap in the k8s,

example :

shenyu-admin has three pod
shenyu-boostrap has four pod

they can sync data correctly?

@moremind @yunlongn

[2022-10-02 03:30] hlcen66 commented on #4025
i had try, the spring cloud gateway as a spring cloud service can registry into the shenyu ,but a new problem produce..
![image](https://user-images.githubusercontent.com/81564338/193436585-96c24669-8737-44df-970c-46244d21938c.png)

cloud gateway config :
![image](https://user-images.githubusercontent.com/81564338/193436516-2c0fc65b-754a-4144-b971-18dbaf8f8302.png)

so , the url by shenyu proxy is

[2022-10-02 03:31] hlcen66 commented on #4025
@moremind @yunlongn @yu199195

[2022-10-02 06:36] yunlongn commented on #4025
you can add my wechat: liyunlongn

[2022-10-02 06:40] yunlongn commented on #4025
Please enable the `spring cloud` plugin and use the `spring cloud` proxy method

[2022-10-02 06:45] yunlongn commented on #4028
Please pay attention to the port communication

[2022-10-02 06:46] hlcen66 commented on #4025
1：spring cloud plugin had enable
2：the gateway can not use @ShenyuSpringCloudClient, how i use the proxy

you can write a cloud gateway registry into shenyu ,and user spring cloud proxy method to ask gateway's route url ,it can not work.

[2022-10-02 08:54] dragon-zhang opened #4029 "[Task] support API document"
### Description

Currently, shenyu only supports adding API level descriptions(see `path_desc` in `meta_data` table). In order to improve the functions of shenyu API documents, we need to do a lot of things (see the task list below for detailed tasks).

Expected final effect:
1. Support API import and export of multiple specifications and document formats;
2. Support manual API management in admin

[2022-10-02 09:44] aFlyBird0 opened #4030 "[BUG] the setting of `JAVA_OPTS` did not work in Docker deployment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Let's take `shenyu-admin` as an example. `shenyu-bootstrap` is same.

https://github.com/apache/shenyu/blob/2065b71c871b3e94439df5c85314e9234f9f181a/shenyu-dist/shenyu-admin-dist/docker/entrypoint.sh#L25-L32

It seems that `JAVA_OPTS` can be set by passing `ADMIN_JVM` env during `docker run`.

[2022-10-02 10:08] #4030 closed

[2022-10-02 12:56] gMan1990 opened #4031 "[Question] ShenyuDubboService, but `IllegalArgumentException: Annotation must not be null`"
### Question

https://github.com/apache/shenyu/blob/8c4c530206e36be531fed7a323025c5cc592af2b/shenyu-examples/shenyu-examples-dubbo/shenyu-examples-apache-dubbo-service-annotation/src/main/java/org/apache/shenyu/examples/apache/dubbo/service/annotation/impl/DubboClassMultiParamServiceImpl.java#L35

[code]

[code]

`findServiceAnnotation` return `null` because `serviceAnnotationTypes`

[2022-10-03 07:09] leopardrota commented on #4031
/type:bug

[2022-10-03 09:03] leopardrota commented on #4031
https://github.com/apache/shenyu/pull/3838#discussion_r985434758

[2022-10-03 10:54] ywj1352 commented on #4029
stage 1 ，4、5  assigne to me

[2022-10-03 11:09] #3861 closed

[2022-10-03 11:41] gMan1990 opened #4033 "[Question] `dubbo registry group`, `nacos group` 的问题，还有`dubbo registry registerMode`"
### Question

1. `dubbo registry group` 与 `nacos group`
    1. shenyu-admin里启用了dubbo，并配置了registry为nacos，但不配置group属性
    2. shenyu-bootstrap里用的是`dubbo-2.7.15.jar`
    3. 服务端应用 里用的是`3.0.8`，并配置了registry为nacos，但不配置group属性
    4. 按这里的 `group` 说明，`shenyu-bootstrap`应该是访问不到`服务端应用`的吧，为啥结果却是可访问的？
        - https://dubbo.apache.org/zh/docs3-v2/java-sdk/upgrades-and-compatibility/3.0-to-3.1-compatibility-guid

[2022-10-03 12:38] X452-625 opened #4034 "[BUG] sql script missing a ";" and fails to insert into plugin_handle cause duplicate id"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Firstly, there's a missing ";" :
`INSERT /*+ IGNORE_ROW_ON_DUPKEY_INDEX(plugin(id)) */ INTO plugin (id, name, config, role, sort, enabled) VALUES ('35', 'loggingPulsar', '{"topic":"shenyu-access-logging", "serviceUrl": "pulsar://localhost:6650"}', 'Logging', 185, '0')
INSERT /*+ IGNORE_ROW_ON

[2022-10-04 08:26] angrycoder commented on #68
company: SELab
website: http://www.selab.co.kr/
Location: Seoul, South Korea
Scene: Corporate gateway

[2022-10-04 08:27] Sky-WH commented on #68
已经收到您的来信，我会尽快回复。

[2022-10-04 08:33] 847850277 commented on #4029
please asign
    stage 1 : 2
    stage 2: 6
to me , thanks .

[2022-10-04 09:09] Albertsirius commented on #4029
please assign
Stage 1: 3
Stage 2: 7
to me, thanks.

[2022-10-06 05:43] gMan1990 opened #4039 "[Question] shenyu-admin 里的 dubbo timeout 在哪里可以统一配置？"
### Question

点击 Proxy 下的 dubbo，编辑一条规则名称，弹出`规则`编辑窗口，里面有个`处理`字段，`{"retries":0,"loadbalance":"random","timeout":3000}`，这个timeout是指请求超时时间吧，有哪个地方可以对所有规则统一配置的吗？

[2022-10-06 05:59] #4039 closed

[2022-10-08 01:33] mahaitao617 commented on #4029
please assign
Stage 1: 1
Stage 2: 5
Stage3:2
to me, thanks.

[2022-10-08 02:09] zhouhaibing opened #4042 "RecordLogDataChangedAdapterListener not need to implement DataChangedListener interface"
### Question

RecordLogDataChangedAdapterListener  just aims to log the data that user modify or create, so it not need to implement DataChangedListener interface. And it not implement any interface in DataChangedListener interface.

[2022-10-08 07:23] lliaoliao opened #4044 "MaxKey"
### Question

[2022-10-08 08:22] yu199195 commented on #4044
@lliaoliao  ?

[2022-10-08 08:35] winneryong opened #4046 "[Question] Using shenyu-plugin-ratelimiter can't obtain client real ip"
### Question

ENV: nginx + shenyu-bootstrap

1.Nginx Reverse Proxy, Conf segement :
location /http {
        proxy_pass http://127.0.0.1:9195/http;
	proxy_set_header Host $host;
	proxy_set_header X-Real-IP $remote_addr;
	proxy_set_header REMOTE-HOST $remote_addr;
	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
}

Nginx access log:
111.204.176.185 - - [08/Oct/2022:14:55:48 +0800] "GET

[2022-10-09 02:10] linkai568 commented on #4029
Please assign
Stage 2: 1、2、4
to me, thanks!

[2022-10-09 02:41] lianjunwei commented on #4029
Stage 2: 1, Or assign it to me.

[2022-10-09 02:47] #4044 closed

[2022-10-09 02:48] yu199195 commented on #4046
see this : https://shenyu.apache.org/zh/docs/developer/custom-parsing-ip-and-host

[2022-10-09 03:12] #4034 closed

[2022-10-09 03:13] #4027 closed

[2022-10-09 03:31] yu199195 commented on #4042
yes~

[2022-10-09 05:58] winneryong commented on #4046
OK, thanks!
I thought RemoteAddrKeyResolver could also get the client IP of X-Forwarded-For

[2022-10-09 05:58] #4046 closed

[2022-10-09 06:34] Once2012 opened #4049 "[BUG] Found a problem when using Sign plugin"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

1）When I add an App with 2 interfaces in BasicConfig > Authentication > Add，It's OK（Add 2 interface in one step）
![image](https://user-images.githubusercontent.com/19165279/194741071-e71b9282-8446-408f-82ef-10eff4a28ec7.png)

2）But when I want to add new interface in an exisiting App with one

[2022-10-09 08:33] zhc00 opened #4055 "[Task] refinement ShenYu Admin"
### Description

I propose to refine the API and API document of ShenYu Admin. the key is that let it follow the OpenAPI 3.0 specification completely.

### Task List

1. API document, there are many meaningless descriptions.
1. unify the message of Response to `success` or `query success` when querying successfully. I see we unified most queries to `query success.
1. Missing mode detail in Respons

[2022-10-09 08:37] zhc00 commented on #4055
This proposal is important. It will make the UI broken.
So welcome to discuss this topic with me.

[2022-10-09 09:24] ShawnJim commented on #4029
Please assign
Stage1: 6
Stage3: 4
to me, thanks

[2022-10-09 10:56] yzy2015 opened #4059 "[Question] When the proxy service is offline or times out, the shenyugateway reports exception 500"
### Question

shenyu version: 2.5.0

shenyu-examples-http
Request:
POST http://localhost:9195/http/shenyu/client/timeout
Accept: application/json
Content-Type: application/json

Response:
{
  "code": 500,
  "message": "Internal Server Error"
}
![image](https://user-images.githubusercontent.com/15868072/194752192-18601743-1e95-45b8-868d-74b40aa0bfb8.png)

**when random Strategy is  current or failo

[2022-10-09 13:48] li-keguo commented on #4049
Can you fix it?

[2022-10-10 06:39] moremind opened #4063 "[BUG] shenyu admin query selectors error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

_No response_

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2022-10-10 08:46] Once2012 commented on #2951
You can use Rewrite Plugin
1）Selector copy from your divide selector
2）Rule copy from your divide rule and Regex: /AppName/   Replace: /

[2022-10-10 08:53] LBJWt commented on #3985
@moremind  this question please reply me ,thank you

[2022-10-10 10:47] #3808 closed

[2022-10-10 10:47] dragon-zhang commented on #3808
see https://github.com/apache/shenyu/pull/4064

[2022-10-10 12:49] moremind commented on #4059
what happens?

[2022-10-10 13:05] moremind commented on #3992
I will fix it in #4065

[2022-10-10 13:10] #4003 closed

[2022-10-10 14:47] wavemoroc001 opened #4066 "Is shenyu support mqtt protocol ?"
### Question

I looking for free api gateway for use in 3dprinting proxy that use mqtt protocol

[2022-10-10 14:56] yzy2015 commented on #4059
1.when random Strategy is current
The actual exception is "reactor.core.Exceptions$RetryExhaustedException".
and I think RetryBackoffSpec need to add onRetryExhaustedThrow

2.when random Strategy is failover
The actual exception is "org.apache.shenyu.common.exception.ShenyuException: Can not find healthy upstream url after failover".
This exception is not handled.GlobalErrorHandler handles 500 by

[2022-10-11 00:54] moremind commented on #4066
please reference https://shenyu.apache.org/zh/docs/plugin-center/proxy/mqtt-plugin

[2022-10-11 01:16] #4063 closed

[2022-10-11 01:50] moremind commented on #3992
the bug has been fixed

[2022-10-11 01:50] #3992 closed

[2022-10-11 02:42] AlbumenJ commented on #4031
Dubbo use `org.apache.dubbo.common.utils.AnnotationUtils#findAnnotation(java.lang.reflect.AnnotatedElement, java.lang.Class<A>)` for spring 3.2.x compatible purpose.

[2022-10-11 03:51] dragon-zhang commented on #4031
The `@AlisFor` is from spring 4.2+

[2022-10-11 05:42] moremind commented on #4059
yes, I think you are right, you can fix it? if you can't, I will do it.

[2022-10-11 05:42] moremind commented on #4059
yes, I think you are right, you can fix it? if you can't, I will do it.

[2022-10-11 06:02] moremind commented on #4059
the result maybe:
[code]

[2022-10-11 07:15] ShawnSiao commented on #3088
您好，邮件已收到。

[2022-10-11 08:27] moremind commented on #3425
do you have try shenyu 2.5.0?
________________________________
发件人: lu xue ***@***.***>
发送时间: 2022年7月6日 13:42
收件人: apache/incubator-shenyu ***@***.***>
抄送: moremind ***@***.***>; State change ***@***.***>
主题: Re: [apache/incubator-shenyu] [BUG] SpringCloudPlugin serviceInstance is Null, Loadbalance is not effect (Issue #3425)

I encountered the same problem in version 2.4.3.

get response as follo

[2022-10-11 08:41] moremind commented on #4059
second question:
[code]

[2022-10-11 11:45] yzy2015 commented on #4059
Wait for you, and thanks

[2022-10-11 14:03] moremind opened #4071 "[BUG] shenyu throws ConcurrentModificationException when concurrent"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

shenyu throws ConcurrentModificationException when concurrent,specially,

1.org.apache.shenyu.plugin.base.AbstractShenyuPlugin#matchRule  2.org.apache.shenyu.plugin.base.cache.BaseDataCache#removeRule

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environmen

[2022-10-12 02:24] #4059 closed

[2022-10-12 02:48] AlbumenJ commented on #4031
https://github.com/apache/dubbo/pull/10737

[2022-10-12 06:34] Once2012 opened #4072 "[BUG] Shenyu-Admin > BasicConfig > Plugin list page 2 cannot display"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I do not know when to start, the second page of  BasicConfig > Plugin cannot be displayed（empty white page），but the first and third page is OK（Page size is 12）

F12 of Chrome show this:
![1665555847736](https://user-images.githubusercontent.com/19165279/195266985-98990f57-d14a-4be6-93de-cb855

[2022-10-12 06:43] Once2012 commented on #4072
And when I open Request plugin，all page of Shenyu-Admin can not display，so I have to close the Request plugin by modifing Database table (plugin.enable => 0）.
The Request plugin is in Plug in list Page 2，maybe it cause the problem?

The stacktrace of Shenyu-Admin is below:
![image](https://user-images.githubusercontent.com/19165279/195269103-ea1e1af1-e0df-44fe-ace5-3bcc2edeed13.png)

[2022-10-12 07:03] yu199195 commented on #4072
can you execute  right SQL ？ about some plugin~

[2022-10-13 12:43] #4031 closed

[2022-10-14 02:48] ableYang123 opened #4080 "[BUG] When using post requests, you can add parameters after the url to crack signature authentication"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When using post requests, you can add parameters after the url to crack signature authentication

### Expected Behavior

_No response_

### Steps To Reproduce

When I catch a correct request on the network
![image](https://user-images.githubusercontent.com/29156983/195748688-e25c42d7-2372-4d0

[2022-10-14 08:34] gongzhibo opened #4082 "[BUG] <title>log output for each request：[tcp] resources will use a new LoopResources: DefaultLoopResources {prefix=shenyu, daemon=true, selectCount=1, workerCount=16},the previous LoopResources will be disposed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

log output for each request：
[tcp] resources will use a new LoopResources: DefaultLoopResources {prefix=shenyu, daemon=true, selectCount=1, workerCount=16},the previous LoopResources will be disposed

### Expected Behavior

do not output

### Steps To Reproduce

_No response_

### Environment

[2022-10-14 08:36] ZhangYuJie-88 opened #4083 "[BUG] shenyu集成skywalking后取不到TraceContext.traceId()"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

目前skywalking版本9.2.0  agent版本8.12.0,在shenyu层获取TraceContext.traceId()取到是N/A，且配合logback打印的tid也是N/A

### Expected Behavior

想要可以取到TraceContext.traceId()

### Steps To Reproduce

1、shenyu版本2.5.0
2、skywalking版本9.2.0
3、agent版本8.12.0
4、在shenyu中获取TraceContext.traceId()=N/A

### Environment

[code]

##

[2022-10-14 11:24] zhc00 commented on #4083
the ShenYu is an optional plugin list in skywalking. hence it is non-activated by default.
Please check the docs of skywalking to activate it.

[2022-10-14 13:05] yunlongn commented on #4080
There is no way to prevent the user from entering the same parameter name in parameter and body.

[2022-10-14 13:08] yunlongn commented on #4080
can you perfect him.

[2022-10-15 02:57] ableYang123 commented on #4080
OK,I trry

[2022-10-15 03:49] dragon-zhang commented on #4082
It had been fixed by https://github.com/apache/shenyu/pull/3314 . as for `2.4.3`, can you solve the problem by modifying the source code?

[2022-10-15 05:34] misaya295 opened #4088 "[BUG] <shenyu use etcd sync data report io.vertx.core.VertxException: Thread blocked>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

shenyu use etcd sync data report io.vertx.core.VertxException: Thread blocked
![image](https://user-images.githubusercontent.com/45778734/195970546-68336cce-35d6-446b-9456-9ebbc74e52ca.png)

this is a bug in jectd, while using getkey in watch will report io.vertx.core.VertxException: Thread b

[2022-10-15 12:49] mahaitao617 opened #4090 "[Task] add UnitTest"
### Description

I want to add AlertTemplateControllerTest and SandboxControllerTest,pls assign to me.

### Task List

1.Task1:AlertTemplateControllerTest && SandboxControllerTest

[2022-10-15 15:02] ZhangYuJie-88 commented on #4083
我已经把sheyu-plugn放到plugn目录，仍然获取不到traceId

[2022-10-16 09:48] vnvn opened #4092 "[Question] Can't find the config entrance for mock plugin."
### Question

When using the newest 2.5.0 version and after enabled mock plugin in Basic Config --> Plugin, logout shenyu-admin and re-login, I could not find the config entrance under PluginList menu, which supposed to be displayed. Can somebody to check this, thanks.

I'm using a docker image for docker-admin, and below is the inspect info:
docker inspect 462009138b69
[
    {
        "Id": "sha2

[2022-10-17 08:45] lishuo5263 commented on #4083
Please wait Skywalking community release 8.13.0 agent to use . here is detail link. [https://github.com/apache/skywalking/issues/9598](https://github.com/apache/skywalking/issues/9598)

[2022-10-17 08:45] #4083 closed

[2022-10-17 10:41] malinGH opened #4099 "Sentinel熔断配置参数错误"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![4441665997271_ pic](https://user-images.githubusercontent.com/40853744/196156922-c324304a-38f0-4488-9861-091ec6fd674c.jpg)
数据库初始化参数错误，导致Sentinel设置熔断统计时长无法生效，一直默认1000ms，源码中序列化字段不对应所致

### Expected Behavior

<img width="1117" alt="WeChat133e1e438687a8d4cd5b8fa630e12ea6" src="https://user-imag

[2022-10-17 10:41] malinGH commented on #4099
version 2.4.1，2.5.0版本文档依旧错误

[2022-10-17 14:34] moremind commented on #4099
thanks, the documentation will rewrite,but the data is right, the parameter is 1000ms, you can config 1 in shenyu-admin, as follows:
![image](https://user-images.githubusercontent.com/20184263/196205326-5d5ffd5d-5f54-4af9-b9f9-9e9028ba5f14.png)

[2022-10-17 16:02] ShawnJim opened #4102 "[Task] Init retry and factory code in sdk module."
### Description

ref #3925 .

### Task List

## Task List
- [X] shenyu-sdk-retry.
- [X] shenyu-sdk-factory.

## To Be Continue
- [ ] append loadbalancer module.
- [ ] unit test.

[2022-10-17 16:02] #4102 closed

[2022-10-18 06:53] yu199195 commented on #4092
What do you use to database in shenyu-admin？

[2022-10-18 07:16] huyuanxin commented on #3949
please assign me

[2022-10-18 10:03] huyuanxin commented on #3949
polaris sdk don‘t support push config

[2022-10-18 11:35] mahaitao617 opened #4104 "[BUG] <nacos register exist an phenomenon that last registered instance will override previous instance>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://github.com/alibaba/nacos/pull/8675
![image](https://user-images.githubusercontent.com/12776225/196417625-762dbec8-b161-4ccc-ad4d-6a71b1f4af34.png)

### Expected Behavior

if two instances register to nacos,it should be like below picture.But if use method registerInstance ,no matter h

[2022-10-18 11:59] #4104 closed

[2022-10-18 11:59] mahaitao617 commented on #4104
no problem

[2022-10-18 12:38] #4066 closed

[2022-10-18 13:39] #4090 closed

[2022-10-18 15:53] mahaitao617 opened #4106 "[Task] <add unit test>"
### Description

I want to add OperationRecordLogControllerTest & ApiDocControllerTest,pls assign to me.

### Task List

Task1:OperationRecordLogControllerTest & ApiDocControllerTest

[2022-10-19 04:35] liukun321 opened #4107 "[BUG]plugin排序问题，导致获取上文为空"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

从2.4.0升记到2.5.0：
org.apache.shenyu.common.enums.PluginEnum#GLOBAL的code=5；
org.apache.shenyu.web.handler.ShenyuWebHandler#sortPlugins
`Map<String, Integer> pluginSortMap = list.stream().collect(Collectors.toMap(ShenyuPlugin::named, plugin -> {
            PluginData pluginData = BaseDataCache.g

[2022-10-19 04:40] liukun321 opened #4108 "[Task]请求日志中添加调用者标识appKey"
### Description

请求日志可以通过logging插件输出到用户侧，但是缺少调用方应用维度标识，无法统计某个应用调用api的情况

### Task List

1 org.apache.shenyu.plugin.logging.common.entity.ShenyuRequestLog添加appKey属性；
2 org.apache.shenyu.plugin.logging.common.AbstractLoggingPlugin#doExecute中设置ShenyuRequestLog#appKey

[2022-10-19 04:47] liukun321 opened #4109 "[Task] 版本升级用户密码加密方式更新，导致升级后登录失败"
### Description

网关数据库使用方私有化部署，加密后的密码存在数据库中，升级后用户身份校验时，密码加密算法变更，导致无法登录；

### Task List

1 前后端用户登录密码传输做加密处理；
2 解密后，再次加密与数据库中密文密码做对比；
3 保持用户密码检验前的加密方式不变；

[2022-10-19 06:18] mahaitao617 commented on #4106
pls assign to me,ths

[2022-10-19 06:47] yu199195 commented on #4109
pls in english

[2022-10-19 06:48] #4109 closed

[2022-10-19 06:48] #4108 closed

[2022-10-19 06:50] #4107 closed

[2022-10-19 06:50] #4099 closed

[2022-10-19 07:36] dragon-zhang commented on #4082
If there is still a problem, please reopen this issue. @gongzhibo

[2022-10-19 07:36] #4082 closed

[2022-10-19 07:49] yu199195 commented on #4088
hi， this problem solved?

[2022-10-19 07:51] yuexiaying opened #4111 "[Question] Divide不支持client设置host"
### Question

![a0e6ede8c45f20aa25251f969957b84](https://user-images.githubusercontent.com/58901054/196629632-7f988a8f-8782-48c9-a73a-555587d67d8a.png)
我把网关部署到服务器上了，然后在本地启动服务，默认注册的host是错误的，在服务器上去ping这个地址ping不同，想自己指定host。

[2022-10-19 07:53] misaya295 commented on #4088
Not yet,I am resolving.

[2022-10-19 10:58] Jimbean0615 opened #4112 "[BUG] java.lang.IllegalArgumentException: name pathPatternis error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/6159282/196672285-e3fbb984-77c4-49f9-aec1-95ad0dc15be1.png)

如图，自动注册上来的uri匹配规则是pathPatter，但是这里如果更改的话会变成pathPattern，从而到时出现` java.lang.IllegalArgumentException: name pathPatternis error` 错误。

### Expected Behavior

_No response_

### Steps To R

[2022-10-19 11:18] yu199195 commented on #4112
you can update this name in database. Now , it be fixed

[2022-10-20 00:16] Jimbean0615 commented on #4112
Ok，Thx @yu199195

[2022-10-20 03:49] vnvn commented on #4092
MySql 5.7

[2022-10-20 06:20] yu199195 commented on #4092
This may be caused by the lack of menu privileges, you can configure it yourself.

[2022-10-20 12:29] gMan1990 opened #4117 "[Question] `org.springframework.http.MediaType` `isCompatibleWith` or `includes`?"
### Question

https://github.com/apache/shenyu/blob/4a3eb480fbd78c44f229023d1905401439c89d39/shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/RpcParamTransformPlugin.java#L54

[code]

[code]

[code]

[code]

[2022-10-20 12:36] TrunksZz opened #4118 "[BUG] <shenyu-bootstrap dubbo gson UnsupportedOperationException>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

dubbo方式神域bootsptrap时转换json出现UnsupportedOperationException
查看代码在GsonUtils中转换是获取String类型json直接调用jsonElement getAsString导致

public String getAsString() {
        throw new UnsupportedOperationException(this.getClass().getSimpleName());
    }

### Expected Behavior

jsonElement.toString

### Step

[2022-10-20 14:33] moremind opened #4120 "[Task] rule trie matching"
### Description

rule match by tree datastruct, and cache rule. the first request, the time complexity is log(n), and the same request is O(1)

### Task List

_No response_

[2022-10-20 22:55] homihq commented on #2917
What is the rationale for logging into Kafka?
Is there any specific scenario where this is useful?

[2022-10-20 22:58] homihq commented on #3119
I can help with this issue. Let's elaborate on the requirements.

[2022-10-20 23:07] homihq commented on #3613
Can you provide more details so that this issue can be replicated?

[2022-10-20 23:08] homihq commented on #3613
Can someone assign this issue to me, I can check in the weekend on local and AWS. Suggest mentioning product version when logging issues.

[2022-10-21 02:52] homihq commented on #2418
+1 Mocktio.

[2022-10-21 03:34] homihq commented on #4055
I can volunteer on this one.

[2022-10-21 03:51] dragon-zhang opened #4122 "[Question] does it necessary to upgrade dubbo to `3.1.x` ?"
### Question

see https://github.com/apache/dubbo/issues/9973

[2022-10-21 03:58] JooKS-me commented on #4122
+1

[2022-10-21 04:23] moremind commented on #4122
this issue have submitted, please reference: https://github.com/apache/shenyu/pull/3621

[2022-10-21 05:52] homihq commented on #1005
**Quickly launching Apache Shenyu on a local machine**
[https://homihq.com/quickly-launching-apache-shenyu-on-a-local-machine/](https://homihq.com/quickly-launching-apache-shenyu-on-a-local-machine/)

[2022-10-21 07:01] dragon-zhang commented on #4122
copy that

[2022-10-21 07:25] gongzhibo opened #4124 "[BUG] <title>Read the garbled routing information in Zookeeper"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![Uploading f4207569-87e3-4d91-9143-b9b7ca8a6329.jpeg…]()

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

org.apache.shenyu.common.utils.GsonUtils#fromJson(java.lang.String, java.lang.Cla

[2022-10-21 07:25] gongzhibo commented on #4124
![f4207569-87e3-4d91-9143-b9b7ca8a6329](https://user-images.githubusercontent.com/19222385/197137727-6d15e61b-daf8-4e09-9e2f-9a00066cf3ed.jpeg)

[2022-10-21 07:58] gongzhibo commented on #4124
The data of Zookeeper is written in garbled code, but it can be read correctly when using version 2.4.3

[2022-10-21 11:19] #4106 closed

[2022-10-21 15:43] homihq commented on #4006
@sreeraksha do you mind sharing your code sample.

[2022-10-22 14:27] wcpsoft commented on #68
公司：南京安元科技有限公司
网址：www.a-y.com.cn
地点：中国南京
联系方式：rxzhang@a-y.com.cn
场景：api网关

[2022-10-23 05:33] hutaishi commented on #4118
There is indeed this problem, I will try to fix it

[2022-10-23 06:02] hutaishi commented on #4118
This version has fixed the bug, retesting will not appear this problem。

[2022-10-23 06:05] hutaishi commented on #4118
see pr : https://github.com/apache/shenyu/pull/3914

[2022-10-23 07:21] JooKS-me commented on #4122
Why not update the client? Are there any additional considerations?

[2022-10-24 01:55] ywj1352 commented on #3925
5 and 9.1 assign me

[2022-10-24 01:57] ShawnJim commented on #3925
please 10.1 assign to me, thx.

[2022-10-24 01:58] mahaitao617 commented on #3925
please assign 9.xiii and 10.xiii to me, thx

[2022-10-24 02:41] dragon-zhang commented on #4122
The client can also be upgraded, but we need to be compatible because the classes in `dubbo` has changed.

[2022-10-24 02:45] tian-pengfei commented on #3011
can I try ？please.

[2022-10-24 02:48] #4118 closed

[2022-10-24 02:52] dragon-zhang commented on #4122
I'm not sure that the performance will be better after the upgrade. Stress testing is required.

[2022-10-24 12:15] dragon-zhang commented on #4122
For dubbo 2.7.15, we conducted a stress test.

https://github.com/apache/dubbo/issues/9973 not fixed:
[code]

fixed https://github.com/apache/dubbo/issues/9973 in our internal branch:
[code]

The new `org.apache.dubbo.common.utils.PojoUtils` is here:
[code]

[2022-10-25 02:53] #4122 closed

[2022-10-25 03:14] #4111 closed

[2022-10-25 03:17] yu199195 commented on #4117
maybe includes() more reasonable, what do you suggest？

[2022-10-25 03:17] #4033 closed

[2022-10-25 03:18] #4025 closed

[2022-10-25 03:29] yu199195 commented on #4124
What do you think is the cause of the problem and can you fix it?

[2022-10-25 05:36] gongzhibo opened #4131 "[BUG] <title>The matching priority of routing rules according to the number of conditions is not accurate, and they should be sorted first"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The routing is wrong. The least sorted one is not selected

### Expected Behavior

The routing is wrong. The least sorted one is not selected

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

![jePizQzeqV](https://user-images.g

[2022-10-25 06:24] yu199195 commented on #4131
can you modify this issue title？  and try fix it ？

[2022-10-26 02:10] gongzhibo commented on #4131
OK

[2022-10-26 03:09] leopardrota commented on #4131
Is this a bug?  The param `filterCollectors` size 3 is converted to `collect` size 2. It indicates 2 elements in `filterCollectors` have the same `sort` and are put into one Map.Entry.
Are there any mistakes in my understanding?

[2022-10-26 03:31] yu199195 commented on #4131
@leopardrota Should first take the most matching conditions, if the same, then sort according to sort.

[2022-10-26 08:01] gongzhibo commented on #4131
For example, a single addrFor example, a single address has the highest priority, but it only matches one condition of the url.ess has the highest priority, but it only matches one condition of the url.

[2022-10-26 08:02] gongzhibo commented on #4131
For example, a single address has the highest priority, but it only matches one condition of the url.

[2022-10-26 08:17] yu199195 commented on #4131
the alreay sort in  List

[2022-10-26 08:57] zhuang0928 opened #4134 "[Question] The client requests the gateway"
### Question

Does the client request gateway only support http? Support for other protocols？ such as grpc

![image](https://user-images.githubusercontent.com/16079256/197982170-0c31df7f-b175-4c85-8630-c9bba3c2f235.png)

[2022-10-26 09:05] zhuang0928 opened #4135 "[BUG] <shenyu-examples-grpc> resources/proto file Missing code submission"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/16079256/197983848-5cd4502d-e215-4380-a2c0-18c9e9243492.png)

### Expected Behavior

[complete documents](javascript:;)

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

no

### Anything else?

not

[2022-10-26 13:07] KevinClair commented on #4134
Gateway support `grpc`, see [gRPC](https://shenyu.apache.org/docs/user-guide/grpc-proxy/)

[2022-10-26 13:08] zhuang0928 commented on #4134
您好，你发的邮件已收到，谢谢！庄健明

[2022-10-26 13:08] KevinClair commented on #4135
Build your project.

[2022-10-26 13:57] prFor commented on #4131
What needs to be dealt with here is the and condition. If the number of and conditions is the same and is matched at the same time,it will be sorted by the sort field.

[2022-10-26 14:05] prFor commented on #4131
There are three cases: `All Or`, `All And`, `Or And with`.
`All Or`: The value of sort is 0.
`All And`: The value of sort is determined by the number of conditions. The more conditions there are, the more sort equals the number of conditions.
`Or And with`: is the common property of the above two cases. The and condition is matched first.
The last `groupBy` will merge the ones with the same sort.

[2022-10-27 00:59] zhuang0928 commented on #4134
How do I extend requests from other protocols? Such as directly using dubbo requests

[2022-10-27 01:30] gongzhibo commented on #4131
request URL ： /test/abc/1

1、sort 1  /test/abc/1  two condition
2、sort 2 /test/**    one condition
3、sort 3 /test/abc/** two condition

The result of this match is/test/* *, but the result I want is/test/abc/1

[2022-10-27 03:14] aFlyBird0 opened #4136 "[BUG] Oracle sql srcipt error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="989" alt="image" src="https://user-images.githubusercontent.com/36830265/198182641-a6889db8-0184-442d-b97d-1e9af1599f3c.png">

### Expected Behavior

no error

### Steps To Reproduce

1. setup oracle
2. execute https://github.com/apache/shenyu/blob/master/db/init/oracle/schema.sql

[2022-10-27 04:44] KevinClair commented on #4134
I don't understand you.`Shenyu` also support dubbo.

[2022-10-27 06:59] zhuang0928 opened #4139 "[Question] <How to request the shenyu local interface>"
### Question

![image](https://user-images.githubusercontent.com/16079256/198213160-d798e4da-a7c7-4521-be76-8064af53e141.png)
![image](https://user-images.githubusercontent.com/16079256/198213207-1a3090a7-7ed2-4081-8b97-e7b1e27afd56.png)

[2022-10-27 07:00] zhuang0928 commented on #4139
Does anything need to be configured

[2022-10-27 09:16] #4139 closed

[2022-10-27 09:17] zhuang0928 commented on #4139
![image](https://user-images.githubusercontent.com/16079256/198245043-5ba1e972-eb70-40f2-a278-5209ab52a63a.png)

[2022-10-27 09:56] tian-pengfei opened #4142 "[BUG] <shenyu-admin-front>unable to remove the jwt rule handle"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

If I set it before，I cant remove jwt rule handle

![image](https://user-images.githubusercontent.com/42602026/198252718-8a224d9f-9ecd-4d71-835c-e51cc47e1bd9.png)

I  cant remove  jwt rule handle
![image](https://user-images.githubusercontent.com/42602026/198253620-8458ba37-a468-4cde-9dbe-8a85

[2022-10-27 11:41] zhuang0928 opened #4143 "[Question] <Gateway's own interface forwarding#>"
### Question

![image](https://user-images.githubusercontent.com/16079256/198274733-b161956c-0f77-4332-8363-03fbfe7784cf.png)

![image](https://user-images.githubusercontent.com/16079256/198275074-741ba90b-cb84-410a-9d2e-a271f956705a.png)

[2022-10-27 15:57] gMan1990 commented on #4033
@yu199195 ?

[2022-10-29 03:20] wulangcode commented on #4135
[code]

[2022-10-29 05:02] wulangcode opened #4147 "[Task] <plugin-alibaba-dubbo redundant code>"
### Description

`ApacheDubboConfigCache#needUpdateRegistryConfig`redundant code exists
[code]
 I'll finish it later.

### Task List

1. Delete redundant code

[2022-10-31 02:59] #4147 closed

[2022-10-31 06:51] #4088 closed

[2022-10-31 06:52] pandaapo commented on #4131
@prFor I want to know the meaning of the `sort` field of `SelectorData`. How or where is this field value assigned? Thanks.

[2022-10-31 07:42] pandaapo commented on #4131
@yu199195 Are you describing the current logic in source code? https://github.com/apache/shenyu/blob/04f650db6c070979ba98f395c641dad4ca4a4079/shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/AbstractShenyuPlugin.java#L192-L202, Here is taking the most matching conditions firstly.
https://github.com/apache/shenyu/blob/04f650db6c070979ba98f395c641dad4ca4a4079/shenyu-plugi

[2022-10-31 08:14] pandaapo commented on #4131
@gongzhibo I don't know how to produce the result you said. According to the logic of current source code, https://github.com/apache/shenyu/blob/04f650db6c070979ba98f395c641dad4ca4a4079/shenyu-plugin/shenyu-plugin-base/src/main/java/org/apache/shenyu/plugin/base/AbstractShenyuPlugin.java#L192-L201, this logic will split 3 url into 2 groups. Group 1 contains url that matches two conditions, so it c

[2022-10-31 10:12] gongzhibo commented on #4131
My example has some problems. However, it is wrong to add the number parameter of the upper condition for some cases. I don't think the rule of increasing the number of conditions is necessary for routing

[2022-10-31 11:33] pandaapo commented on #4131
@gongzhibo You'd better give a correct example. It can help others including me understand your problems and what is wrong with this logic.

[2022-11-01 05:45] gongzhibo commented on #4131
request URL ： /test/abc/1
1、sort 1 /test/abc/1 one condition
2、sort 2 /test/** two condition
3、sort 3 /test/abc/** two condition
The result of this match is/test/* *, but the result I want is/test/abc/1

[2022-11-01 06:33] pandaapo commented on #4131
Thank you for your example. So, now there are some new questions to me. When and where is the `conditionList` field of `SelectorData` assigned? What is the meaning of this field? Similarly, what is the meaning of the `sort` field of `SelectorData`?
I think making these problems clear will help to decide how to solve the issue finally.

[2022-11-01 10:53] #4136 closed, assigned to aFlyBird0

[2022-11-01 15:42] wades2 commented on #68
公司：无
网址：无
地点：中国四川
联系方式：529735325@qq.com
场景：grpc协议过网关，调用下层http服务

[2022-11-02 03:30] misaya295 opened #4154 "[BUG] <bootstrap-A request to bootstarp-B will return 404 not found>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

1.Two sets of shenyu,shenyu-A and shenyu-B.
2.Configure divide in Shenyu-A and shenyu-B.
3.Request bootstrap-B through boostrap-A.
4.return 404 page not found in bootstrap-A.

### Expected Behavior

response right

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

[2022-11-02 18:06] zhouyao1994 commented on #4120
more detail please?

[2022-11-03 00:43] #4071 closed

[2022-11-03 00:47] moremind commented on #4120
rule cache based on uri path, condition cache base trie

[2022-11-03 13:10] moremind commented on #4154
do you descript your config, plugin...

[2022-11-03 13:13] moremind commented on #4135
use maven plugin to build your project.
![image](https://user-images.githubusercontent.com/20184263/199729915-5c508742-5d58-4402-a104-85d94fbcf9fe.png)

[2022-11-03 13:17] misaya295 commented on #4154
use divide like these

[2022-11-03 13:20] #4134 closed

[2022-11-03 13:23] misaya295 commented on #4154
use divide like

1.shenyu-Bootstrap A

![image](https://user-images.githubusercontent.com/45778734/199732010-10242559-5a02-42c6-b398-e7388e5f6ec6.png)

2.shenyu-Bootstrap B
![image](https://user-images.githubusercontent.com/45778734/199731418-94b5951a-2dfd-4358-b4c6-e5ce67601990.png)

3. resquet shenyu-bootstrap:9195/test

4.return 404 page not found

[2022-11-03 13:25] moremind commented on #4154
config ip:port

[2022-11-03 13:28] misaya295 commented on #4154
I use ip:port in fact,but it did not word.

[2022-11-04 02:37] mahaitao617 opened #4156 "[Task] Dementia-proof design"
### Description

Inspired by this article https://dubbo.apache.org/zh/docs/v2.7/dev/principals/dummy/,i think if shenyu have some kind of desgin it will be helpful to users.

### Task List

_No response_

[2022-11-04 03:22] mahaitao617 commented on #4156
pls assign to me,ths

[2022-11-04 09:26] wzhangNJ opened #4157 "AlibabaDubboServiceBeanListener"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

hi，
shgenyu: 2.5.0
dubbo：2.6.2
issue：
Map<String, ServiceBean> serviceBean = contextRefreshedEvent.getApplicationContext().getBeansOfType(ServiceBean.class);
serviceBean.size() = 0

[code]

### Expected Behavior

Feign used，ContextRefreshedEvent is created multiple times.

[code]

First Feign

[2022-11-05 05:15] zhouyao1994 opened #4158 "[BUG] Dubbo example not work in most "SNAPSHOT version",caused by wrong verion number. be carefule to set the verison number."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

shenyu-examples-dubbo can not be invoke, shenyu-examples-dubbo can not be register in shenyu admin

you can fllow the step to repeat it.
1. check out github tag v2.5.0
2. start shenyu admin
3. start shenyu bootstrap
4. start shenyu-examples-dubbo

and postman not work

<img width="1425" alt="

[2022-11-05 05:21] zhouyao1994 commented on #4120
sounds great~

[2022-11-05 05:42] zhouyao1994 commented on #3450
may be , we can use "github project" to "project management"

[2022-11-06 09:10] KevinClair commented on #4158
Thanks for your report, can you try it again with branch 'master'.I think this problem maybe had been fixed in branch 'master'.

[2022-11-06 13:43] wulangcode opened #4160 "[Question] <httpclient error message>"
### Question

<img width="1615" alt="image" src="https://user-images.githubusercontent.com/48200100/200173721-4638a11f-8f07-4ee1-8fc2-539000a89a37.png">
Whether the error message should be output synchronously?

[2022-11-07 01:58] wzhangNJ commented on #4157
Because SpringCloudFeign create a new sub listener.

[2022-11-07 01:59] wzhangNJ commented on #4157
Because SpringCloudFeign create a new sub listener.

[2022-11-07 02:07] wzhangNJ commented on #4157
alibba dubbo
[code]
apache dubbo
[code]

[2022-11-07 02:53] zhouyao1994 commented on #4158
i tryed the master branch. but the default setting not work yet.
the request is always pending,
mybe the dubbo plugin version(3.1.1)  not the the dubbo client version used by example is (2.7.15)

not work
<img width="1234" alt="image" src="https://user-images.githubusercontent.com/5468589/200216466-43ca72a3-46f3-483e-b9a8-987bae0d0cf2.png">

dubbo plugin version is  :
<img width="1399" alt="image"

[2022-11-07 03:06] KevinClair commented on #4157
sorry,i don't understand you.

[2022-11-07 05:48] wzhangNJ commented on #4157
shenyu的dubbo插件alibaba和apache 两个版本，
AlibabaDubboServiceBeanListener的onApplicationEvent方法
因为onApplicationEvent的这段代码导致了Map<String, ServiceBean> serviceBean = contextRefreshedEvent.getApplicationContext().getBeansOfType(ServiceBean.class);可能加载不进来
[code]
我查看你了alibaba和apache两个版本的区别，发现apache的代码逻辑判断更严谨些

shenyu apache dubbo
[code]

[2022-11-07 05:57] KevinClair commented on #4157
I understand you, can you fix it?

[2022-11-07 06:04] dragon-zhang commented on #4157
@wzhangNJ could you please fix it ?

[2022-11-07 06:09] wzhangNJ commented on #4157
@KevinClair can fix it

[2022-11-07 08:29] #4157 closed

[2022-11-07 08:45] szhengli opened #4162 "how to authorize the access permission to its proxied APIs, according to the role ?"
### Question

how to  authorize the access, to its proxied APIs, according to the role  ?

[2022-11-09 03:33] #4135 closed

[2022-11-09 15:22] MrZbb opened #4169 "[Question] <title>自定义部署"
### Question

想问下作者大大，自定义部署是不是针对开发自己相关的业务使用，比如重写统一的返回体，或者增加公司相关的业务拦截逻辑

[2022-11-10 01:52] gngsn opened #4171 "[BUG] Sandbox json parsing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When requesting with request parameters sandbox API has a json parsing error because translates the object to json twice.
In the below picture, you can see that is passing reqJson to JsonUtils.toMap, but toMap method translates the object to json again.

<img width="1792" alt="스크린샷 2022-11-09

[2022-11-10 03:11] yu199195 commented on #4169
pls in english

[2022-11-10 03:17] yu199195 commented on #4160
What kind of error message? result have not？

[2022-11-10 03:40] tian-pengfei opened #4172 "[BUG] wrong view"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/42602026/200995176-aea9e257-4531-4cc1-8b99-0b999d98739d.png)

two steps:
1. check  the plugins that are close
2. open random one

### Expected Behavior

![image](https://user-images.githubusercontent.com/42602026/200994997-387b411a-e1dc-4bad-

[2022-11-10 12:40] tian-pengfei commented on #4172
My friend  @gentlehao will fix that

[2022-11-10 13:52] tian-pengfei opened #4174 "[Task] Better interaction"
### Description

![image](https://user-images.githubusercontent.com/42602026/201107872-dd5a237f-4a09-45fa-a1ec-810d33d592a4.png)

If you click name of plugin in plugin list page,you will jump the detail page of it.
I think It'll be better to user

### Task List

1. adding a Jump Link

[2022-11-10 14:10] 847850277 commented on #4029
please asign Stage3:6 to me

[2022-11-10 14:42] mahaitao617 commented on #4055
please assign 4 、5 to me,ths

[2022-11-10 15:38] wulangcode commented on #4160
update `shneyu-amdin`  application.yml
[code]
start `ShenyuTestHttpApplication`，start log output
[code]

I hope the output is a clearer log, so that I can find the problem when debugging

[code]

RegisterUtils#doRegister(java.lang.String, java.lang.String, java.lang.String, java.lang.String)
[code]

[2022-11-10 15:50] yu199195 commented on #4160
if you registerType == zookeeper，    shenyu client  config the same mode.

[2022-11-10 16:01] #4160 closed

[2022-11-11 03:44] wzhangNJ commented on #68
公司：T3出行
网址：www.t3go.cn
logo:  www.t3go.cn/img/t_logo.png
地点：中国南京
联系方式：025-66837822
场景：业务网关&API网关

[2022-11-11 08:19] gentlehao commented on #4172
The "reload" action query all data without "enabled" param, i don't know if it's intentionally

[2022-11-11 08:51] tian-pengfei commented on #4172
Fix it to the `Expected Behavior`

[2022-11-11 11:57] tian-pengfei commented on #4174
@gentlehao will fix it

[2022-11-11 14:06] wades2 commented on #68
I Used shenyu

---Original---
From: ***@***.***&gt;
Date: Fri, Nov 11, 2022 11:45 AM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [apache/shenyu] Who used  Apache ShenYu？ (#68)

公司：T3出行
 网址：www.t3go.cn
 logo:  www.t3go.cn/img/t_logo.png
 地点：中国南京
 联系方式：025-66837822
 场景：业务网关&amp;API网关

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this beca

[2022-11-12 01:28] tian-pengfei opened #4177 "[BUG] The location of text and input are reversed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/42602026/201449827-b6fcac9f-6ef8-4bc1-9410-b2592d894cdc.png)

The location of text and input are reversed
### Expected Behavior

![image](https://user-images.githubusercontent.com/42602026/201449882-5457f2f8-3621-4394-8b1a-dddcdf0cb98d.png)

[2022-11-13 14:35] KevinClair commented on #4177
Is this a `dashboard` problem?

[2022-11-14 01:43] liukun321 opened #4182 "[BUG] The code of global plugin is set incorrectly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The code of global plugin equals 5

### Expected Behavior

The code of global plugin equals 0

### Steps To Reproduce

The code of global plugin need to make sure that the sort comes before other the plug-ins

### Environment

[code]

### Debug logs

org.apache.shenyu.plugin.divide.DividePlug

[2022-11-14 01:53] liukun321 opened #4183 "[BUG] update logging plugin name error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

UPDATE plugin SET name = 'LoggingConsole' WHERE name = 'logging';

### Expected Behavior

UPDATE plugin SET name = 'loggingConsole' WHERE name = 'logging';

UPDATE resource SET title = 'loggingConsole', name = 'loggingConsole', component = 'loggingConsole', url = REPLACE(url, 'logging', 'logg

[2022-11-14 01:56] liukun321 opened #4184 "[Question] The database connection has been closed, but still exists in the connection pool"
### Question

The database connection has been closed, but still exists in the connection pool；

log of this question:
`HikariPool-1 - Failed to validate connection com.mysql.cj.jdbc.ConnectionImpl@57825052 (No operations allowed after connection closed.). Possibly consider using a shorter maxLifetime value.`

[2022-11-14 02:11] liukun321 opened #4185 "[Question]Data synchronization fails on the client"
### Question

The contextPath plugin's selector and rule create success，but the divideplugin's selector and rule create failure;

`public String register(final MetaDataRegisterDTO dto) {
        //handler plugin selector
        String selectorHandler = selectorHandler(dto);
        String selectorId = selectorService.registerDefault(dto, PluginNameAdapter.rpcTypeAdapter(rpcType()), selectorHandle

[2022-11-14 02:19] liukun321 opened #4186 "[Task] Add field appKey to ShenyuRequestLog"
### Description

Log statistics need to be analyzed from the application dimension，but in ShenyuRequestLog have not application info

### Task List

1 Add field appKey to ShenyuRequestLog
2 Add appKey info in LoggingConsle plugin ( Print Request Info:)

[2022-11-14 07:26] yu199195 commented on #4182
now , the divide plugin  Isn't it bigger than 5？

[2022-11-14 07:36] yu199195 commented on #4183
maybe is  UPDATE plugin SET name = 'loggingConsole' WHERE name = 'logging';

if 2.4.3-upgrade-2.5.0

[2022-11-14 07:38] liukun321 commented on #4182
no, Plug-in sorting depends on two attributes，code of PluginEnum and sorted of Plugin, The sorted value can be changed on the admin platform,To prevent other plug-ins from being executed before global, ensure that the global plug-in order is minimal

[2022-11-14 07:41] yu199195 commented on #4182
can you fix it？  mybe global plugin is  -1 or  0 ？

[2022-11-14 12:07] KevinClair commented on #4185
Show me the error log.

[2022-11-14 12:28] tian-pengfei commented on #4177
I guess so

[2022-11-14 12:42] tian-pengfei commented on #4177
@gentlehao ,Can you check it? please

[2022-11-15 02:18] tian-pengfei commented on #4049
![image](https://user-images.githubusercontent.com/42602026/201810275-9746fc12-46d5-4b4c-adeb-d06c22c28f42.png)

![image](https://user-images.githubusercontent.com/42602026/201810311-a8d5496b-3f5a-449a-8a17-11261252ee74.png)

Missing enabled field

[2022-11-15 14:20] moremind commented on #4186
it may not be necessary for shenyu request log..., Shenyu has reserved the implementation of `ShenyuRequestLog`,Parameters are passed in as generics

[2022-11-17 01:28] peng-heng opened #4195 "[Question] Why load only closed UpstreamData ?"
### Question

method: org.apache.shenyu.admin.service.impl.UpstreamCheckService#fetchUpstreamData

If the shenyu-admin is restarted, the  upstream that were closed last time checked will not be opened again.

![image](https://user-images.githubusercontent.com/11962364/202150324-bbed76bf-991e-4b95-bea1-b888dbdee82b.png)

[2022-11-17 02:01] widax commented on #3880
you need to check the shenyu-admin configuration.
`shenyu.sync.websocket.enabled = true`
if shenyu-admin is started, you  can test it by accessing ip:port/websocket

and  you need to check the shenyu-bootstarp  configuration.
The correct configuration should be  `shenyu.sync. websocket.urls` 。

[2022-11-17 03:55] xiaojiebin opened #4196 "hmily关于springcloud部分文档错别字"
### Question

![image](https://user-images.githubusercontent.com/38683039/202351131-bbc338ac-dfff-4e68-9aa5-d9a5d28d600b.png)

[2022-11-17 07:07] yu199195 commented on #4196
this is Apache ShenYu issue

[2022-11-17 07:07] #4196 closed

[2022-11-17 11:37] #4183 closed

[2022-11-18 07:26] hnxiaoyuan opened #4198 "[Question] In the "org.apache.shenyu.admin.model.query.TagRelationQuery#equals" why use the "o instanceof TagQuery"?"
### Question

I think it should be " `if (!(o instanceof TagRelationQuery))` "

![image](https://user-images.githubusercontent.com/20148163/202644023-6b8e3b5e-4154-4000-b9ff-2e0a7ce1c3e8.png)

[2022-11-19 10:18] #2657 closed

[2022-11-19 10:20] #2882 closed

[2022-11-19 10:21] dragon-zhang commented on #3009
Does this fixed ? @zzq1314zll

[2022-11-19 10:23] dragon-zhang commented on #3032
Is this supported ?

[2022-11-22 06:26] ZhangYuJie-88 commented on #4083
我已经更新skywalking agent版本为8.13，并且把shenyu插件从optional-plugins移到plugins目录，仍然获取不到traceId，请问还需要做什么？

[2022-11-23 01:59] yangguihua commented on #3769
Has this problem been solved?

[2022-11-23 09:08] seetbw opened #4206 "[Question] app_auth at begin delete db data,then search db, need db not empty,what this mean?"
### Question

![image](https://user-images.githubusercontent.com/33601772/203507596-ce8d0a5c-10d5-4d96-a782-140114c77c03.png)

[2022-11-23 15:06] BrookShiwenge opened #4207 "[BUG] a error was throw when admin project startup"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

1.modify the nacos and db config in application.yml of shenyu-admin
2.an exception throwed and failed to startup  shenyu-admin

### Expected Behavior

_No response_

### Steps To Reproduce

1.modify the nacos and db config in application.yml of shenyu-admin
2.an exception throwed and failed t

[2022-11-24 02:18] yangyi-12345 commented on #4020
Is the configuration you mentioned metadata configuration？Can you give me a specific direction for searching？Because this problem still happens occasionally，No solution has been found。。Thank you again

[2022-11-24 02:22] li-keguo commented on #4198
Can you fix it？

[2022-11-24 02:25] tian-pengfei opened #4208 "[Task] redesign Sign plugin default signer."
### Description

parameters:
[code]
MD5--->MD5-HASH(data+key),    HMD5-->HMAC-MD5 ,   HS256--->HMAC-SHA-256 ,etc

Calculate the signature:
[code]

**Put token into request header, maybe   name of request header is Authorization or other**

### Task List

_No response_

[2022-11-24 03:44] hnxiaoyuan commented on #4198
I have created a PR to fix it, please help to check, Thanks!

[2022-11-24 06:45] #4198 closed

[2022-11-24 08:41] xcsnx commented on #3275
Hello, I would like to participate in this task. Can you assign the package of org.apache.shenyu.common.utils.ReflectUtils to me

[2022-11-24 14:31] lanseBlue commented on #3858
hi,I want to try the first task

[2022-11-24 14:38] tian-pengfei commented on #3858
hi,I want to try .

[2022-11-24 14:40] moremind commented on #3858
assigned, thanks for your contributions!

[2022-11-24 14:40] moremind commented on #3858
assigned, thanks for your contributions!

[2022-11-25 03:16] Shashengzhe opened #4211 "[BUG] admin directory update failed and plugin configuration may change plugin name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

when update directory
![image](https://user-images.githubusercontent.com/34408166/203892895-3fcfedbf-40b7-4134-8030-4fc1439d9e13.png)

if configuration has a field which named name, when change it, plugin's name will change
![image](https://user-images.githubusercontent.com/34408166/203893311

[2022-11-25 03:17] kangminze opened #4212 "[Question] Is there a plan to support TCP/UDP Proxy"
### Question

Is there a plan to support TCP/UDP Proxy ？or how to customize a TCP Proxy？

[2022-11-25 03:22] Shashengzhe opened #4213 "[Question] whether the custom plugin supports the custom format"
### Question

![image](https://user-images.githubusercontent.com/34408166/203893926-a88c3507-be03-49bc-a511-50948a53e476.png)

[2022-11-25 06:26] Shashengzhe opened #4214 "[Question] add clear content button for input and order list by Order field"
### Question

![image](https://user-images.githubusercontent.com/34408166/203965119-10ea6523-2b5f-458a-b42b-385ec3d76054.png)
1. for dropdown add clear button
2. clear timeout，timeout will be empty String，cause NumberFormatException
com.google.gson.JsonSyntaxException: java.lang.NumberFormatException: empty String
	at com.google.gson.internal.bind.TypeAdapters$11.read(TypeAdapters.java:307) ~[gson

[2022-11-27 10:03] Albertsirius commented on #4029
@dragon-zhang , sorry to say that I'm too busy to finish Stage 2 Task 7, could you assign this task to other volunteer.

[2022-11-27 11:02] mahaitao617 commented on #4029
pls assign to me ,ths

[2022-11-28 04:28] xiaohei88 opened #4219 "[BUG] doRegister Failed to execute,wait to retry."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

shenyu-admin日志一直输出：2022-11-28 12:25:24.748 [TID: N/A] [APP:shenyu-admin] [xxx] [EXT:] [shenyu-shared_wheel_timer-3] WARN  org.apache.shenyu.common.timer.AbstractRetryTask:112 - Failed to execute task:/auth:divide,retried：51 ,total retries:-1,cause:doRegister Failed to execute,wait to retry.

[2022-11-28 06:18] xiah217 opened #4220 "websocket connection server[ws://localhost:9095/websocket] is error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Bootstrap：websocket connection server[ws://localhost:9095/websocket] is error

admin：originHeaderValue is forbidden: null

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2022-11-28 06:32] dengliming commented on #4211
@Shashengzhe Can you fix it?

[2022-11-28 06:46] yu199195 commented on #4220
whats version？ admin and boostrap？

[2022-11-28 07:01] xiah217 commented on #4220
version 2.5

[2022-11-28 07:02] xiah217 commented on #4220
2.5版本  ，我启动了admin和boostrap   ，Bootstrap报：websocket connection server[ws://localhost:9095/websocket] is error，
admin报错：originHeaderValue is forbidden: null

[2022-11-28 07:03] xiah217 commented on #4220
originHeaderValue is forbidden: null    这个是9095报的错误

[2022-11-28 08:47] yu199195 commented on #4212
Yes， we plan

[2022-11-28 09:02] xiah217 commented on #4220
大佬  帮看一下

[2022-11-28 11:16] yu199195 commented on #4220
can you show error log？

[2022-11-29 06:48] coderDylan commented on #4083
This problem has not been solved yet。

[2022-11-29 08:05] chenjiahongbt commented on #4083
I also have the same problem.

[2022-11-29 08:49] ZhangYuJie-88 commented on #4083
确实没人解决，shenyu团队还没有回复这个问题

[2022-11-29 08:51] ZhangYuJie-88 commented on #4083
The shenyu team has not yet responded to this question

The shenyu team has not yet responded to this question

[2022-11-29 12:20] jiangdeen opened #4224 "ShenyuBootstrapApplication 启动报错"
### Question

java.lang.IllegalStateException: Unable to read meta-data for class org.apache.shenyu.springboot.starter.plugin.apache.dubbo.ApacheDubboPluginConfiguration
	at org.springframework.boot.autoconfigure.AutoConfigurationSorter$AutoConfigurationClass.getAnnotationMetadata(AutoConfigurationSorter.java:237)
	at org.springframework.boot.autoconfigure.AutoConfigurationSorter$AutoConfiguration

[2022-11-29 13:18] willdomybest opened #4225 "Filename too long"
### Question

I clone the source code in windows os, it give me the error like these:
Error:cannot create directory at 'shenyu-spring-boot-starter/shenyu-spring-boot-starter-plugin/shenyu-spring-boot-starter-plugin-dubbo/shenyu-spring-boot-starter-plugin-apache-dubbo/src/main/java/org/apache/shenyu/springboot/starter/plugin/apache': Filename too long

Its seams like the file path was too long,so i

[2022-11-30 01:25] Shashengzhe commented on #4211
can't

[2022-11-30 01:47] ZhangYuJie-88 commented on #4083
traceid is printed in all other modules, but not in shenyu gateway

[2022-11-30 02:03] coderDylan commented on #4083
I can find the releted span in sw ui，the call trace is ok，but the traceid can't printed in the shenyu gateway logs。
Integrated the kw apm-application-toolkit to print tid in log，but can‘t get the traceId from sw Context

org.apache.skywalking.apm.plugin.shenyu.v24x.GlobalPluginExecuteMethodInterceptor#beforeMethod
  ContextManager.stopSpan(span);  the span and context are was cleaned up  ，
then th

[2022-11-30 02:04] zxl8899 opened #4227 "[BUG] <The dictionary management apidoc cannot be saved>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

shenyu admin dictionary management failed to save, "Request error! invalid argument [enabled: cannot be null]"

return

{
  "code": 500,
  "message": "Request error! invalid argument [enabled: 不能为null]",
  "data": null
}

### Expected Behavior

_No response_

### Steps To Reproduce

_No respo

[2022-11-30 02:31] yu199195 commented on #4224
Do you have the complete git clone code ？

[2022-11-30 02:52] yu199195 commented on #4225
see this ： https://shenyu.apache.org/zh/community/faq

[2022-11-30 03:26] jiangdeen commented on #4224
I have complete clone code.

[2022-11-30 03:27] uncarbon97 commented on #2232
you can easily configurate it in (http://localhost:9095/#/config/metadata)[http://localhost:9095/#/config/metadata] like:
![image](https://user-images.githubusercontent.com/75737767/204700525-be87bcf8-e1c6-4751-98c4-12424ffa5d60.png)

[2022-11-30 03:27] uncarbon97 commented on #4006
you can easily configurate it in (http://localhost:9095/#/config/metadata)[http://localhost:9095/#/config/metadata] like:
![image](https://user-images.githubusercontent.com/75737767/204700525-be87bcf8-e1c6-4751-98c4-12424ffa5d60.png)

[2022-11-30 03:27] tian-pengfei opened #4228 "[BUG] GeneratorFactory#dealRule is unsafe in multithreading"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Added this code in RandomIntGenerator#generate
![image](https://user-images.githubusercontent.com/42602026/204699970-6b7a7f49-a2b4-496e-a29f-5c88d5c49ade.png)

Added test in GeneratorFactoryTest
[code]

output
[code]

### Expected Behavior

it should be safe in multithreading

### Steps To Re

[2022-11-30 03:28] jiangdeen commented on #4224
![image](https://user-images.githubusercontent.com/34539202/204700707-da94669f-4d23-4856-95ac-8230f52f5ef0.png)

[2022-11-30 03:30] jiangdeen commented on #4224
version 2.5.1-SNAPSHOT

[2022-11-30 06:50] #4225 closed