[2022-04-12 08:39] AhahaGe commented on #3223
For latest code, use shenyu-examples-http, handle field is null for divide plugin
<img width="1027" alt="image" src="https://user-images.githubusercontent.com/6198217/162918715-0075cebe-350b-4e6c-9ed1-9e042775b2a9.png">

[2022-04-12 09:56] justlemontree opened #3231 "the then() in the WebFilter can not work after I open the hystrix plugin"
### Question

I define a operator log filter just like this:
public class OperatorLogFilter implements WebFilter {
    @Override
    public Mono<Void> filter(ServerWebExchange serverWebExchange, WebFilterChain chain) {
        OperatorLogBean operatorLogBean = new OperatorLogBean();
        operatorLogBean.start();
        serverWebExchange.getAttributes().put(Constants.OPERATOR_LOG_CONTEXT, opera

[2022-04-12 10:40] hutaishi opened #3232 "[Question] <Is it possible to add mock plugins to the gateway project>"
### Question

In the front and back-end development scenario, sometimes the back-end interface is not yet developed, but the front-end wants to call the mock data test.
 If there is a mock plugin may be able to improve the efficiency of collaboration

[2022-04-12 12:09] AhahaGe opened #3233 "[BUG] <When shenyu.register.props.checked is false, divide plugin selector handle is null>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

1. follow divide document to start shenyu-admin, shenyu-bootstrap and run shenyu-examples-http
2. run interface in http-test-api.http, failed can't find upstream
3. see selector data in divide plugin, host, ip:port, protocol is null

### Expected Behavior

1. follow divide document to start s

[2022-04-12 12:33] dragon-zhang commented on #3224
We didn't use any `blocking` operator when using `HttpClient`, therefore reuse should not have adverse effects.

[2022-04-12 13:11] lianjunwei opened #3235 "[BUG] <After using the request plugin, if request parameters of URL carry Chinese parameters, an error of 400 will be reported>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![Uploading image.png…]()

### Expected Behavior

_No response_

### Steps To Reproduce

1. using request plugin
![image](https://user-images.githubusercontent.com/13819823/162969756-0af40de8-98c0-4fa6-bd9c-cd5487bbcb7e.png)

2. The URL carries Chinese parameters, which can be reproduced by c

[2022-04-12 15:01] yu199195 commented on #3224
pls reply for dev mail

[2022-04-12 15:27] dragon-zhang commented on #3224
copy that.

------------------ Original ------------------
From: xiaoyu ***@***.***&gt;
Date: Tue,Apr 12,2022 11:02 PM
To: apache/incubator-shenyu ***@***.***&gt;
Cc: dragon-zhang ***@***.***&gt;, Author ***@***.***&gt;
Subject: Re: [apache/incubator-shenyu] [Question] How about reuse `HttpClient` in `HttpClientPluginConfiguration` for `WebSocketPluginConfiguration` (Issue #3224)

Sorry for the la

[2022-04-12 16:12] lianjunwei opened #3239 "[Task] <Shenyu-admin add new module: API document aggregation display & sandbox test>"
### Description

The document information provided by each micro service is summarized and displayed uniformly.

### Task List

Several core APIs are listed below:
1、 Menu list of documents.
     Each service is a level-1 menu item, and each interface in it is a sub menu item.
     The API URL may be:
     http://localhost:9195/apidoc/getDocMenus

2、 API details.
     The API URL may be:
     http

[2022-04-13 02:30] yu199195 commented on #3239
good job~

[2022-04-13 02:31] yu199195 commented on #3239
We look forward to your contributions, which you can send to   mail list (dev@shenyu.apache.org)

[2022-04-13 02:32] #3235 closed

[2022-04-13 03:44] #3233 closed

[2022-04-13 04:49] erdengk commented on #3232
I think this is a good idea. A similar tool is [apifox](https://www.apifox.cn/), which can implement mock data for the front end to call directly. Maybe we can get some inspiration from its design.

[2022-04-13 08:42] lichenliang666 opened #3242 "[BUG] There are no state control buttons in the MetaData editing interface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

There are no state control buttons in the MetaData editing interface
![image](https://user-images.githubusercontent.com/35353971/163135186-67233f80-001b-473d-b1a0-140c87d5d812.png)
![image](https://user-images.githubusercontent.com/35353971/163135302-fe085b5a-e003-42ff-a661-d65998f166f4.png)

[2022-04-13 08:59] hhfdna opened #3243 "with registertype=zookeeper, metadata doesnot clear when dubbo service is offline"
### Question

It's not graceful for backend service to config shenyu admin's address, especially username and passsword.
for example:
[code]

so i prefer use zookeeper as registertype. It looks fine for dubbo invocation,but when dubbo service  gets offline, in admin dashboard, the selector and rule lists are still there, and so with zookeer path:
[code]

It seems like this metadata should be remov

[2022-04-13 09:11] yu199195 commented on #3242
maybe if want to update `status `,  used separate button and not on the edit page，

[2022-04-13 09:14] yu199195 commented on #3243
Because this is the persistent node.

[2022-04-13 11:35] #3215 closed

[2022-04-13 12:07] dragon-zhang commented on #2627
@yuzhijia88 please close this issue.

[2022-04-13 12:15] dragon-zhang commented on #2882
you can config `shenyu.httpclient.readTimeout` in `shenyu-bootstrap/src/main/resources/application.yml` @zouchangfu

[2022-04-13 12:40] #3224 closed

[2022-04-13 14:37] lianjunwei opened #3244 "[BUG] <There are more than 8 configuration items in the generalcontext plugin and an error is reported.>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/13819823/163129954-7a2596f1-36fc-46a8-adfc-e6b0fe9f506d.png)

### Expected Behavior

Solution:
1.The size of the "handle" field in the "rule" table of the database is 1024. Should the capacity be expanded.
2.Compress the JSON string volume by

[2022-04-13 16:21] dragon-zhang commented on #3177
How about caching the `metaData` after matching `once` ? We can also do it for `selector` and `rule`.

[2022-04-14 00:35] k11hao commented on #68
公司：铁骑力士食品有限责任公司
网址：www.tqlsgroup.com
地点：四川绵阳
联系方式：oyjg@tqlsgroup.com
场景：统一网关，替代ESB

[2022-04-14 00:42] hhfdna commented on #3243
Thanks. But i am still confusing  that one could missunderstand the service is still online， however not.

furthermore, i found with http registertype, It has same behavior.

could you explain more design philosophies?

[2022-04-14 02:37] yu199195 commented on #3243
ip : port,  judgment service is still online， not medata.

These are the same data that you want to register every time you start？

[2022-04-14 12:26] lichenliang666 commented on #3242
It doesn't seem to work, the interface returns the information that the parameter is missing:

[2022-04-15 03:04] liufei198613 opened #3248 "[BUG] <title>When the service is restarted, websocket keeps refreshing the same configuration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When the service is restarted, websocket keeps refreshing the same configuration. The reason seems to be that I changed the second-level path information. For example, change /test1/test2/test3 to /test1/test4/test3

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

[2022-04-15 07:21] wls981 opened #3250 "[BUG] Address already in use: no further information"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

**This error was reported when I used ab.exe for stress testing. The test method is as follows:**

![image](https://user-images.githubusercontent.com/15735480/163537610-f05acb62-4063-4b2c-978d-75b58de30ca7.png)

**The error message is as follows:**

![image](https://user-images.githubusercont

[2022-04-15 07:37] wls981 commented on #3052
The latest version still has the problem.

[2022-04-15 08:02] yu199195 commented on #3052
shenyu will remove original host

[2022-04-15 08:06] yu199195 commented on #3244
it can be fixed?

[2022-04-15 08:14] AhahaGe opened #3251 "[BUG] <Swagger request param currentPage locates in body for get request>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

1. start admin
2. go to http://localhost:9095/swagger-ui.html#/dashboard-user-controller/queryDashboardUsersUsingGET
3. see currentPage locates in body
![image](https://user-images.githubusercontent.com/6198217/163544427-00a4acc1-2d63-4f10-bfd0-cc49cc4733fe.png)

### Expected Behavior

1. cur

[2022-04-15 08:16] AhahaGe commented on #3251
I am fixing it.

[2022-04-15 08:59] dragon-zhang commented on #3171
see https://github.com/apache/incubator-shenyu/pull/3172

[2022-04-15 08:59] #3171 closed

[2022-04-16 01:40] dragon-zhang commented on #3173
sorry, `group` is supported now.

[2022-04-16 03:51] myesn opened #3254 "[Question] Consider only shenyu-bootstrap run mode"
### Question

I ran `shenyu-admin` and `shenyu-bootstrap` through `docker-compose` on Raspberry Pi (arm64) without configuring any plugins, selectors, rules, and found that each of these two services takes up about `1 GB` , and my Raspberry Pi has only` 4 GB` of memory in total. I personally think that `shenyu-admin` is **just a `GUI` interface for configuration**. When the project is mature and s

[2022-04-16 04:23] wls981 commented on #3250
It has been determined that this issue is caused by the tcpip port settings of the windows operating system.

[2022-04-16 04:23] wls981 commented on #3250
refer:
https://blog.csdn.net/MenofGod/article/details/84589751

[2022-04-16 04:23] #3250 closed

[2022-04-16 04:34] wls981 commented on #3250
thanks @qicz for your help!

[2022-04-16 04:53] wls981 commented on #3052
![image](https://user-images.githubusercontent.com/15735480/163661946-f202c0a5-7f26-471a-9364-f8e4fe2d6101.png)

Yes, I saw that the host header was removed from the webclient plugin. Currently, I modified the plugin and commented out this line, but I don't understand the reason for this.

[2022-04-16 05:11] zouchangfu commented on #3254
The shenyu-admin is not only for configuring selector, rules, but also for other functions, such as checking if the upstream services are online, etc.

[2022-04-16 06:23] dragon-zhang opened #3255 "[Task] Optimize the performance of `AbstractShenyuPlugin#filterSelector`"
### Description

When call `org.apache.shenyu.plugin.base.AbstractShenyuPlugin#filterSelector`, change `SelectorCondition` to `START` from `MATCH` will lead higher performance.

### Task List

1. add `StartPredicateJudge`(a extension of `org.apache.shenyu.plugin.base.condition.judge.PredicateJudge`);
2. add `START` in `org.apache.shenyu.common.enums.OperatorEnum`;
3. change SelectorCondition defau

[2022-04-16 16:30] luoweijr opened #3257 "[BUG] <Modify context-path of shenyu-admin, website can not access>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When i modify the context-path configuration of shenyu-admin, then visit website will get a null page

### Expected Behavior

Modify context-path of shenyu-admin, website can visit successfully

### Steps To Reproduce

1. modify context-path in shenyu-admin
![Screenshot_20220416_235713](https

[2022-04-17 01:53] zouchangfu commented on #3257
The latest version should have fixed it

[2022-04-17 12:56] li-keguo opened #3258 "[Task] new paged list api"
### Description

Use the new paging method to provide more conditional searches and gradually replace the previous paging list api.

new page scheme  see https://github.com/apache/incubator-shenyu/pull/3152

### Task List

- [ ] Use the new pagination method
- [ ] Support more complex search conditions
- [ ] Provide as much information about list data as possible and associate related data

[2022-04-17 22:56] pjfanning opened #3260 "[BUG] upgrade dubbo due to cve(s)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Current dependency in trunk has a vulnerability. https://github.com/advisories/GHSA-v2rg-8cwr-75g8

Probably best to go to 2.7.15 to avoid some other CVEs - see https://mvnrepository.com/artifact/org.apache.dubbo/dubbo to see which versions have CVEs,

### Expected Behavior

Upgrade dubbo

##

[2022-04-18 01:54] dragon-zhang commented on #3260
Agree, the upgrade can also improve the performance of `dubbo generalization calls`.

[2022-04-18 05:51] yu199195 commented on #3260
@pjfanning  hi ，can you provide this pr （upgrade dubbo version）

[2022-04-18 05:52] yu199195 commented on #3251
good job

[2022-04-18 06:00] yu199195 commented on #3257
hi， you can startup shenyu-admin add this ： `-Dshenyu.httpPath=xxx`

[2022-04-18 06:07] ljwhx2002 opened #3261 "how to ignore /favicon.ico request?"
### Question

when I call my api via browser, this message display:

2022-04-18 09:00:43 [boundedElastic-2] ERROR org.apache.shenyu.plugin.api.utils.WebFluxResultUtils - can not match selector data: divide , /favicon.ico

[2022-04-18 06:26] yu199195 commented on #3261
pls modify this in shenyu-boostrap yaml:

[code]

[2022-04-18 06:38] lahmXu commented on #3118
Please assign it to me, thanks

[2022-04-18 08:18] pjfanning opened #3263 "[BUG] there are remaining references to alibaba dubbo jar that should probably be changed to apache dubbo jar"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

* https://github.com/apache/incubator-shenyu/blob/master/pom.xml#L96
* https://github.com/apache/incubator-shenyu/blob/master/pom.xml#L263-277

Also appears in other pom files

* https://github.com/advisories/GHSA-gw4j-4229-q4px - one CVE in alibaba dubbo
* possibly other issues that might be

[2022-04-18 09:05] luoweijr commented on #3257
I setup shenyu.httpPath, it works well! Thanks for your help!! @yu199195

[2022-04-18 09:05] #3257 closed

[2022-04-18 10:39] pjfanning commented on #3260
@yu199195 I added https://github.com/apache/incubator-shenyu/pull/3265

[2022-04-18 10:42] #3260 closed

[2022-04-18 10:42] yu199195 commented on #3260
@pjfanning  Thank you for your help~

[2022-04-18 11:28] pjfanning opened #3266 "[BUG] upgrade commons-io due to cve"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

used in cryptor plugin

https://github.com/advisories/GHSA-gwrp-pvrq-jmwv

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2022-04-18 11:30] pjfanning opened #3267 "[BUG] update zookeeper jar due to cve"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://github.com/advisories/GHSA-2hw2-62cp-p9p7 in shenyu examples (they use zookeeper 3.4.6)

main pom has zk version 3.5.6 which is secure - so update examples to match that

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug lo

[2022-04-18 12:54] HaiqiQin opened #3270 "[Task] Improve the unit test coverage of shenyu-plugin-websocket"
### Description

At present, the unit test coverage of shenyu-plugin-websocket is 66%，and we can increase it to more than 80%.

### Task List

1.Improve the unit test coverage of shenyu-plugin-websocket to more than 80%.

[2022-04-18 13:18] erdengk opened #3271 "[Task] Polish the document"
## Description

Please review the Contributor Guidelines before starting to contribute.
[contributor-guide](https://shenyu.apache.org/zh/community/contributor-guide/)

This part of the task is to help newbies familiarize themselves with the process of submitting PR, please give this opportunity to other newbies if you have participated in similar tasks：）

The repository for this part of the docume

[2022-04-18 13:33] erdengk opened #3272 "[Task] good second issue"
### Description

This part of the task requires you to understand the operation mechanism of shenyu and have an overall understanding of the project.

### Task List

You can write articles about shenyu, such as mentioned in this [issue](https://github.com/apache/incubator-shenyu/issues/1005).

You can also help to optimize shenyu's documentation, such as the documentation mentioned in this [issue]

[2022-04-18 13:46] erdengk opened #3274 "[Task] write unit tests for ShenYu"
### medium task

If you are already familiar with the process of submitting pr, it is recommended that you write unit tests for ShenYu

You can check the code coverage of ShenYu at this [site](https://app.codecov.io/gh/apache/incubator-shenyu).

You can also try to solve this [issue](https://github.com/apache/incubator-shenyu/issues/2404
).

Some pr you can refer to:

- [in test](https://github.co

[2022-04-18 14:03] JooKS-me opened #3275 "[Volunteer] Improve unit test coverage of shenyu-common"
### Volunteer help

As a branch of #3274 .

At present, the test coverage of shenyu-common module is not high. Please try to make the test coverage of each class reach more than 80% (in the case of ensuring the stability of the test).

If you would like to help, please leave a message under this issue. BTW, you can use `Run 'Test in 'xxx'' With Coverage` in IntelliJ IDEA  to see the approximate co

[2022-04-18 14:13] Mayank-KS commented on #2250
Can I try working on this issue? And is there some reading material/reference for this issue?

[2022-04-18 14:19] #3261 closed

[2022-04-18 14:20] ljwhx2002 commented on #3261
thx

[2022-04-18 14:29] ljwhx2002 opened #3276 "[ConfigureDataPermission]<Cannot read properties of undefined (reading 'role')>"
### Question

![image](https://user-images.githubusercontent.com/619221/163821788-c8421e8f-287f-4e25-80ab-3f5fe17bdba0.png)

![image](https://user-images.githubusercontent.com/619221/163821941-10d3b43f-079f-4342-b445-0d00353c25df.png)

system/manage->user-> ConfigureDataPermission

is it an issue or config error？

[2022-04-18 14:45] ljwhx2002 commented on #3276
sorry, it is my problem, customer plugin config error.

[2022-04-18 14:45] #3276 closed

[2022-04-18 14:45] ljwhx2002 commented on #3276
sorry, it is my problem, customer plugin config error.

[2022-04-18 14:48] selectbook commented on #3275
@JooKS-me Hi, I would like to participate in this and pick the package of  org.apache.shenyu.common.cache

[2022-04-18 15:12] lianjunwei commented on #3244
Consider optimizing from the following two points.
1. Increase the length of the database field.
2. Consider compress the JSON string volume by shortening the field name.

[2022-04-18 17:28] ST-SHASK commented on #3271
let me try esay task 1

[2022-04-18 23:06] Albertsirius commented on #3275
@JooKS-me Hello, I would like to participate in this task. Can you assign the package of org.apache.shenyu.common.concurrent to me ?

[2022-04-19 01:37] objectboy2016 opened #3278 "Logging kafka"
### Description

Add Logging kafka

### Task List

_No response_

[2022-04-19 01:40] AhahaGe commented on #3278
Sounds good.

[2022-04-19 02:21] JooKS-me commented on #3275
Good luck

[2022-04-19 02:29] JooKS-me commented on #3278
Hi @objectboy2016 , is this issue a duplicate of #2917?

[2022-04-19 02:41] yu199195 commented on #2917
@mehrdadmoradii

hi, You have very good skills and look forward to your participation GSoc 2022

[2022-04-19 02:42] #3267 closed

[2022-04-19 02:44] #3266 closed

[2022-04-19 02:50] mehrdadmoradii commented on #2917
@yu199195 Hi Xiaoyu, thanks for your response. I will submit the proposal.

I am looking forward to working with you.

[2022-04-19 09:14] #3270 closed

[2022-04-19 12:04] HaiqiQin opened #3283 "[Task] Improve the unit test coverage of shenyu-plugin-springcloud"
### Description

At present, the unit test coverage of shenyu-plugin-springcloud is 35%，and we can increase it to more than 80%.

### Task List

1.Improve the unit test coverage of shenyu-plugin-springcloud to more than 80%.

[2022-04-19 13:18] dragon-zhang opened #3284 "[BUG] every request reinitializes `LoopResources` in `HttpClientPluginConfiguration#httpClient`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

every request reinitializes `LoopResources` in `HttpClientPluginConfiguration#httpClient`

### Expected Behavior

`LoopResources` just init once.

### Steps To Reproduce

1. run `ShenyuAdminBootstrap`;
2. run `ShenyuTestHttpApplication`;
3. run `ShenyuBootstrapApplication`;
4. send http reque

[2022-04-19 13:18] dragon-zhang commented on #3284
@dragon-zhang

[2022-04-19 13:48] luoweijr commented on #3275
@JooKS-me  Hello, I would like to hava a try and pick the package of org.apache.shenyu.common.dto

[2022-04-20 03:59] #3255 closed

[2022-04-20 05:33] yu199195 commented on #3263
hi， we should support alibab duoob and apache dubbo。

BTW ，apache dubbo fully compatible with alibaba dubbo?

[2022-04-20 07:02] g0715158 opened #3285 "[BUG] java.lang.IllegalStateException: Only one connection receive subscriber allowed."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

http://localhost:9195/SERVER_PREGG_001/com.newland.server_preprocess.api.IPretreatProcOperationApi/1.0.0/process

tools：postman
post -raw-json(application/json)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

2022-04-20 14

[2022-04-20 09:56] yu199195 commented on #3285
Are you using the official release package for the deployment?

What is your request?

[2022-04-20 10:00] g0715158 commented on #3285
download  code and package

[2022-04-20 10:11] yu199195 commented on #3285
How did you request ?  maybe config this  in shenyu-bootstrap yaml：

[code]

[2022-04-21 01:44] g0715158 commented on #3285
@yu199195 I tried it but it didn't work

[2022-04-21 02:35] #3283 closed

[2022-04-21 06:47] jun0315 commented on #3275
@JooKS-me Hi, I would like to participate in this and pick the package of org.apache.shenyu.common.timer

[2022-04-21 06:57] hutaishi commented on #3263
I have tested that using apache dubbo client to access alibaba dubbo service is normal, this is protocol compatible, but I have not fully tested.

[2022-04-21 12:54] HaiqiQin opened #3292 "[Task] Improve the unit test coverage of shenyu-plugin-rewrite"
### Description

At present, the unit test coverage of shenyu-plugin-rewrite is 50%，and we can increase it to more than 80%.

### Task List

1.Improve the unit test coverage of shenyu-plugin-rewrite to more than 80%.

[2022-04-21 13:27] luoweijr opened #3293 "[Task] Improve unit test coverage of shenyu-common"
### Description

Add unit tests for org.apache.shenyu.common.dto

### Task List

1. add unit test for classes under package org.apache.shenyu.common.dto

[2022-04-22 03:08] fengzhili12 commented on #3275
Hello, I would like to participate in this task. Can you assign the package of org.apache.shenyu.common.config to me ?

[2022-04-22 03:08] fengzhili12 commented on #3275
@JooKS-me Hello, I would like to participate in this task. Can you assign the package of org.apache.shenyu.common.config to me ?

[2022-04-22 03:09] #3293 closed

[2022-04-22 03:38] wklong commented on #3292
Hello, Can I have a try?

[2022-04-22 03:38] zhangcly commented on #3275
@JooKS-me can you assigin `org.apache.shenyu.common.utils` to me? thanks

[2022-04-22 03:40] HaiqiQin commented on #3292
Sorry, this is the task I applied for myself. You can browse other tasks.

[2022-04-22 03:41] wklong commented on #3292
OK

[2022-04-22 03:46] JooKS-me commented on #3275
@Nick-fengzl @zhangcly OK :)

[2022-04-22 06:07] jerbo99 opened #3296 "[BUG] TimingWheel ArrayIndexOutOfBoundsException, problem caused by long to int"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

There are some ArrayIndexOutOfBoundsException in the logs of the admin and bootstrap.

### Expected Behavior

_No response_

### Steps To Reproduce

Download the binary package and launch. I will fix it

### Environment

[code]

### Debug logs

java.lang.ArrayIndexOutOfBoundsException: -18

[2022-04-22 06:12] yu199195 commented on #3296
What scenario would lead to this?

[2022-04-22 06:18] jerbo99 commented on #3296
The absence of parentheses here results in negative numbers:

long virtualId = expirationMs / tickMs;
int index = (int) virtualId % wheelSize;

发件人: ***@***.***>
发送时间: 2022年4月22日 14:12
收件人: ***@***.***>
抄送: ***@***.***>; ***@***.***>
主题: Re: [apache/incubator-shenyu] [BUG] TimingWheel ArrayIndexOutOfBoundsException, problem caused by long to int (Issue #3296)

What scenario would lead to this?

―

[2022-04-22 08:48] #3296 closed

[2022-04-22 09:39] yu199195 opened #3299 "[Task] Add shenyu webfilter unit test"
###  medium task

You can check the code coverage of ShenYu at this [site](https://app.codecov.io/gh/apache/incubator-shenyu).

### Task List

- [x]  add  HealthFilterTest for org.apache.shenyu.web.filter.HealthFilter @wklong
- [x]  add LocalDispatcherFilterTest for org.apache.shenyu.web.filter.LocalDispatcherFilter @moremind

###  How to contributor

You can see this : https://shenyu.apache.org/c

[2022-04-23 03:45] dragon-zhang opened #3303 "[Question] How about add `MemorySafeLinkedBlockingQueue` ?"
### Question

Since https://github.com/apache/incubator-shenyu/pull/3245 get merged, I think we can add a `MemorySafeLinkedBlockingQueue` which use `MemoryLimitCalculator#maxAvailable`:
[code]

[2022-04-24 07:54] wklong commented on #3299
Hi ,can you assigin org.apache.shenyu.web.filter.HealthFilter to me? thanks

[2022-04-24 07:56] yu199195 commented on #3299
@wklong  good luck~

[2022-04-24 08:27] fddOs commented on #218
同问，我是自定义插件，单元测试能拿到body，但是部署之后日志打印为空，但是接口正常转发调用成功了

[2022-04-24 08:28] fddOs commented on #218
同问，我是自定义插件，单元测试能拿到body，但是部署之后日志打印为空，但是接口正常转发调用成功了，老哥能教教怎么弄嘛

[2022-04-24 08:42] Mayank-KS commented on #3299
I would like to try contributing to the other task so can you assign it to me? Also it there any other way I can join the Shen-Yu contributor group as WeChat is banned in my country? Thanks

[2022-04-24 08:53] yu199195 commented on #3299
@Mayank-KS  hi

1. Of course you can, and if you want, any contribution is welcome.
2. You can subscribe dev@sheyu.apache.org mail list , see this : https://shenyu.apache.org/community/contributor-guide#join-the-discussion.

[2022-04-24 08:59] #3242 closed

[2022-04-24 10:36] #3292 closed

[2022-04-25 02:07] midnight2104 opened #3317 "[Question] some code is not used in shenyu-client-dubbo?"
### Question

1. org.apache.shenyu.client.apache.dubbo.ApacheDubboServiceBeanListener
[code]

A thread pool(executorService ) was created in the constructor, but not used. Is it possible to delete it?

2. ShenyuDubboClient
Does ShenyuDubboClient only work on methods and not on classes?
The current definitions are as follows:
[code]
Shouldn't we change `@Target({ElementType.TYPE, ElementType.METHOD

[2022-04-25 02:18] midnight2104 commented on #3200
If there are still questions, please reopen issue

[2022-04-25 02:18] #3200 closed

[2022-04-25 02:46] moremind commented on #3299
Hi, @yu199195 ,I try to commit `LocalDispatcherFilterTest `, can you assign this task for me?

[2022-04-25 02:49] yu199195 commented on #3299
@moremind  ok， i will assign to you

[2022-04-25 02:50] yu199195 commented on #3299
@wklong @moremind  You can add me on WeChat and I will invite you to join the contributor group~

[2022-04-25 02:51] Albertsirius opened #3318 "[BUG] MemoryLimiter.acquireInterruptibly may keep waiting unexpectedly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I wrote unit test cases for `org.apache.shenyu.common.concurrent.MemoryLimiter`(#3275),  I have found a potential bug: if it invokes `acquireInterruptibly` method, it may keep waiting unexpectedly in spite of having been notified previously.

### Expected Behavior

While waiting after ca

[2022-04-25 03:51] dragon-zhang commented on #3318
I think yes, can you fix it ?

[2022-04-25 05:08] Albertsirius commented on #3318
I can fix it @dragon-zhang

[2022-04-25 05:37] moremind commented on #3299
My WeChat is yijia1949

thanks,I can't find your WeChat,My WeChat is `yijia1949`

[2022-04-25 05:40] fddOs opened #3321 "cryptorRequest插件增强"
### Description

请求加密插件能否支持给整个body直接加密，并且加密urlParams

### Task List

_No response_

[2022-04-25 06:10] yu199195 commented on #3321
pls in  english

[2022-04-25 06:51] dragon-zhang commented on #3317
I think we should add the logic of annotation on the splicing class. Guys,what do you think ?

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/incubator-shenyu"                                                                                    ***@***.***&gt;;
发送

[2022-04-25 07:33] dragon-zhang commented on #3318
Thanks, looking forward to your contribution.

[2022-04-25 07:50] #3284 closed

[2022-04-25 09:03] wklong commented on #3299
I've joined the contributor group, thks

[2022-04-25 09:30] midnight2104 commented on #3317
yes, I think so.

[2022-04-25 09:38] #3303 closed

[2022-04-25 09:42] moremind commented on #3121
I want to do it

[2022-04-25 09:47] yu199195 commented on #3121
@moremind  you can do it

[2022-04-25 10:26] wklong opened #3325 "[Task] To optimize the shenyu webfilter unit test"
### Description

Optimize the following unit tests:
1、org.apache.shenyu.web.filter.ExcludeFilterTest
2、org.apache.shenyu.web.filter.FallbackFilterTest

### Task List

_No response_

[2022-04-25 10:26] wklong commented on #3325
I can try it

[2022-04-25 12:17] #2627 closed

[2022-04-25 12:18] yuzhijia88 commented on #2627
perfect

[2022-04-26 03:29] #3325 closed

[2022-04-26 03:51] justlemontree opened #3330 "a backend service response with the Content-Type of application/json;charset=UTF-8, will cause an error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

a backend service response with the Content-Type of application/json;charset=UTF-8, will cause an error,
[code]
the byte is not encodeed by UTF-8;

if response with Content-Type of application/json ,it will normal;

so, can you help me ?
otherwise, we will use shenyu on a product environment,

[2022-04-26 03:55] #3321 closed

[2022-04-26 04:38] nuo-promise opened #3331 "[Task] <User permissions Exclude admin>"
### Description

Ensure the integrity of the admin user permissions and remove the judgement on admin permissions.

### Task List

- [ ] User permissions Exclude admin

[2022-04-26 05:14] #1536 closed

[2022-04-26 06:24] #3331 closed

[2022-04-26 06:42] #3251 closed

[2022-04-26 06:42] #3209 closed

[2022-04-26 07:17] yu199195 commented on #3299
hi guys， this task already done， i will close this issue~

[2022-04-26 07:17] #3299 closed

[2022-04-26 07:18] moremind opened #3336 "[BUG] sql script lost uri plugin data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/20184263/165243819-fcbc77b1-f19f-4bba-942b-bd11c58d2700.png)

### Expected Behavior

need add uri plugin data.

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2022-04-26 07:21] yu199195 commented on #3336
Hi

uri plugin is default, not in sql script~

[2022-04-26 07:30] moremind commented on #3336
oh, thanks

[2022-04-26 07:30] #3336 closed

[2022-04-26 07:46] justlemontree opened #3338 "ModifyResponsePlugin not support response with the Content-Type of application/json;charset=UTF-8"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

a backend service response with the Content-Type of application/json;charset=UTF-8, will cause the  an error in ModifyResponsePlugin， response with  the Content-Type of application/json is normal.

private byte[] modifyBody(final byte[] responseBody) {
            try {
                String

[2022-04-26 08:56] inernoro opened #3341 "docekr run v2.4.3 websocket timer bug "shenyu-shared_wheel_timer-1" java.lang.ArrayIndexOutOfBoundsException"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Exception in thread "shenyu-shared_wheel_timer-1" java.lang.ArrayIndexOutOfBoundsException: -9
        at org.apache.shenyu.common.timer.TimingWheel.getBucket(TimingWheel.java:116)
        at org.apache.shenyu.common.timer.TimingWheel.add(TimingWheel.java:88)
        at org.apache.shenyu.comm

[2022-04-26 10:23] yu199195 commented on #3341
pls start shenyu-admin first

[2022-04-26 11:07] inernoro commented on #3341
首先：基于容器方式，以及启动docker-compose 等方式我无法做到shenyu-admin，只能保证最终启动
其次，出现此情况之后便不会连接，至少他不提示错误连接的错误信息
第三，我也有搜过没有issuse 中提到wheel_time的问题，或者在明显的地方有说明，如果先启动boot后启动admin则网关会完全失效，即使admin重新连接，boot也会完全失效，不再进行连接，这种非常强依赖性并不适合分布式容错架构设计。
第四，这种基本型的错误不应该出现在没做出任何更改的 quick start 失败，对于checkstyle那么严格的代码设计，在这么基础构建就能找到的问题release版本出错，非常影响项目参与的积极性于活跃度。
还有，你说的不影响使用只是第一次获取不影响使用，你尝试一下更改admin之后看看boot有没有生效。

[2022-04-26 11:14] inernoro commented on #3341
First of all: I can't do shenyu-admin based on the container method and the way to start docker-compose, I can only guarantee the final start
Secondly, after this situation occurs, it will not connect, at least he does not prompt the error message of the wrong connection
Third, I have also searched for the issue of wheel_time that is not mentioned in issuse, or it is stated in obvious places. If y

[2022-04-26 11:27] yu199195 commented on #3341
1. I have given the solution.
2. maybe this is a bug in the time wheel code.
3. please don't kidnap the shenyu community by going to the top of the line (what with the distributed architecture fault tolerance and strict code, which very much affects community activity).
4. if you think there is a problem, can you come and fix it?

[2022-04-26 11:29] #3338 closed

[2022-04-26 12:19] ljwhx2002 opened #3344 "error occurs when grpc lib update to 1.45.1"
### Question

select name： /grpc

 <grpc.version>1.45.1</grpc.version>

java.lang.IllegalArgumentException: Invalid DNS name: /grpc
	at com.google.common.base.Preconditions.checkArgument(Preconditions.java:217)
	at io.grpc.internal.DnsNameResolver.<init>(DnsNameResolver.java:171)
	at io.grpc.grpclb.GrpclbNameResolver.<init>(GrpclbNameResolver.java:57)
	at io.grpc.grpclb.SecretGrpclbNameResolverPro

[2022-04-26 12:29] dragon-zhang commented on #3318
please close this issue.

[2022-04-26 13:34] #3318 closed

[2022-04-26 14:52] dragon-zhang opened #3346 "[Task] refactor the places which maybe need muti values"
### Description

Now `ParameterData#builder` has only one return value, which is not rigorous enough in some cases (such as `cookie`and `header`). You need to find these places (maybe not only `ParameterData#builder` has this problem) and refactor it. If you want to contribute or find places similar to `ParameterData#builder`, please leave a message and I will assign it to you.

### Task List

1.

[2022-04-26 14:54] dragon-zhang commented on #3317
How about publishing tasks and asking friends in the community to help?

[2022-04-26 15:19] erdengk commented on #3346
@dragon-zhang
I think we can consider tagging these issues as `good second issues` .

[2022-04-26 15:21] dragon-zhang commented on #3346
good idea

[2022-04-26 15:24] dragon-zhang commented on #3346
@erdengk could you do this ?

[2022-04-26 15:57] prFor commented on #3341
hi, this issue you raised has been resolved on PR #3297 . I'm sorry for causing you distress.
1、The solution we can offer you is to start shenyu-admin.

[2022-04-26 16:56] zzq1314zll opened #3348 "[Question] 使用shenyu做Sign认证鉴权的时候SignPlugin不执行？"
### Question

版本： master
注册中心： consul
demo: shenyu-example-spring-cloud

**问题复现：**
1. 使用consul 注册，
2. 开启了signplugin
3. shenyu-example-spring-cloud上的所有路径也已经注册上去了（在admin上可以看到）
4. 并且生成了AK/SK
**结果：**
我通过shenyu访问shenyu-example-spring-cloud的路径竟然可以直接访问？
我不知道如何排查问题，希望能够指点下
1. plugin 链是在那个地方调用的
2. 或者我应该如何排查这个问题？

<img width="933" alt="image" src="https://user-images.githubusercontent.com/33930711/165353126

[2022-04-26 16:58] inernoro commented on #3341
sorry ，I didn't find the entry on issuse by keyword  "shared_wheel_timer" , But it's similar
I need to wait until the next release version, such as 2.4.4 update. Is there a time point?
Very urgent ！！！

[2022-04-26 17:27] zzq1314zll commented on #3348
<img width="1516" alt="image" src="https://user-images.githubusercontent.com/33930711/165357990-7f4ef3bb-639f-492e-a6b5-90bdf522da66.png">
还需要配置这个，好了这个问题解决了，这个issue可以关闭

[2022-04-26 17:27] #3348 closed

[2022-04-26 23:28] prFor commented on #3341
This has now been fixed on the master branch and the next release is version 2.5.0.

[2022-04-26 23:36] prFor commented on #3341
The bug occurs in line 87 of the TimingWheel class. You can modify the class yourself and compile it again.

[2022-04-26 23:58] prFor commented on #3341
Steps To Reproduce
wget https://github.com//apache/incubator-shenyu/archive/refs/tags/v2.4.3.zip

mdb5sum incubator-shenyu-2.4.3.zip # output (57824d30da9e2ee096c3175d1a9a6c2b)

unzip v2.4.3.zip

mvn clean install -Dmaven.javadoc.skip=true -B -Drat.skip=true -Djacoco.skip=true -DskipITs -DskipTests

mvn clean package -B -Prelease,docker -Dmaven.javadoc.skip=true -Dmaven.test.skip=true
Following yo

[2022-04-27 01:16] inernoro commented on #3341
got it

[2022-04-27 01:18] #3341 closed

[2022-04-27 03:17] erdengk commented on #3346
@dragon-zhang
oh， thanks for you suggestion
I have some other tasks.
Leave this task to other volunteers.

[2022-04-27 03:23] fddOs opened #3349 "When dynamically loading a custom plugin, the request body cannot be obtained"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Load the plug-in package in the form of jar, in the protected abstract Mono<Void> doExecute(ServerWebExchange exchange, ShenyuPluginChain chain, SelectorData selector, RuleData rule) {} method in the plug-in, the request obtained by the serverRequest.bodyToMono(String.class) method body is em

[2022-04-27 03:25] dragon-zhang commented on #3346
Got it.

[2022-04-27 05:14] zzq1314zll opened #3350 "[BUG] why contextpath "/springcloud" != "springcloud" ?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="689" alt="image" src="https://user-images.githubusercontent.com/33930711/165445254-ced0a8be-c909-443f-9abd-9eadf7b5f271.png">

### Expected Behavior

can be proxied through the gateway

### Steps To Reproduce

1. I use springcloud + shenyu, the registry uses consul.
This is the co

[2022-04-27 05:52] ChineseTony commented on #3346
hello, I add muti values support ,Can you assigned this issue to me?

[2022-04-27 06:43] seedscoder commented on #3133
Can I add other alert plugin (e.g. feishu)?

[2022-04-27 06:50] impactCn commented on #3133
Good idea, I think you can.

[2022-04-27 07:07] dragon-zhang commented on #3350
Did you enable the springCloud plugin on the admin ?

[2022-04-27 07:12] dragon-zhang commented on #3350
see https://shenyu.apache.org/docs/next/quick-start/quick-start-springcloud/
![image](https://user-images.githubusercontent.com/38336731/165462005-ef8b708b-beec-4a45-9cae-f939042ee69c.png)

[2022-04-27 07:13] dragon-zhang commented on #3350
and try with `contextPath: /${spring.application.name}`

[2022-04-27 11:03] damonxue commented on #3271
ok, let me try esay task 2

[2022-04-27 12:24] zzq1314zll commented on #3350
I think "/" should be automatically filled when registering the api

[2022-04-27 12:48] midnight2104 commented on #3317
It's ok

[2022-04-27 12:49] midnight2104 commented on #3317
good job

[2022-04-27 14:02] dragon-zhang commented on #3346
Sorry, guys, if this feature is merged now, it will cause some obvious performance loss. Therefore, I will close this issue.

[2022-04-27 14:02] #3346 closed

[2022-04-27 16:07] li-keguo opened #3354 "[BUG] upgrade-xxx-pg script error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

2.4.2-upgrade-2.4.3-pg.sql
2.4.3-upgrade-2.5.0-pg.sql

about
[code]

ignore and ``, pg is not support

### Expected Behavior

exec success

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2022-04-28 02:49] damonxue opened #3357 "[BUG] maybe unnecessary privated futures for 2*O(n)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

@see org.apache.shenyu.loadbalancer.cache.UpstreamCheckTask#check(Map)

the `futures.add(future);` just to `waitFinish()` forEach then clear();

took twice O(n).

### Expected Behavior

use ComplatableFuture.thenAcceptAsync()
[code]

### Steps To Reproduce

_No response_

### Environment

[co

[2022-04-28 03:07] ZhangJiaLei123 opened #3358 "[Question] </shenyu/plugin/selectorAndRules can`t access>"
### Question
Version: 2.5.0-SNAPSHOT and 2.4.3
get Error on http://127.0.0.1:9195/shenyu/plugin/selectorAndRules.
![微信截图_20220428110533](https://user-images.githubusercontent.com/40969169/165668667-faf35db7-f8b2-46e1-bfe7-af069bb3db10.png)
![微信截图_20220428110549](https://user-images.githubusercontent.com/40969169/165668678-96aac06e-821f-444a-9148-ba2f27e2e53b.png)

[2022-04-28 03:19] yu199195 commented on #3358
can you config this ?

shenyu
     local
        enable: true

[2022-04-28 03:45] #3358 closed

[2022-04-28 03:45] ZhangJiaLei123 commented on #3358
thanks

[2022-04-28 05:37] #3357 closed

[2022-04-28 05:40] flyingbeecd opened #3359 "does have any plan to update to Spring boot latest version？"
### Question

does have any plan to update to Spring boot latest version?

[2022-04-28 07:04] dragon-zhang commented on #3350
`shenyu` had done so, see `org.apache.shenyu.client.springcloud.init.SpringCloudClientBeanPostProcessor#pathJoin`.&nbsp;

This happens because you have not enabled the `springCloud plugin` in `admin`.

You can try configuring only `${spring.application.name}` and if you have no other questions, please close this issue.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2022-04-28 08:57] siegezhang commented on #2092
is there any way override ApacheDubboPlugin doDubboInvoker method to add some params?

[2022-04-28 09:09] dragon-zhang commented on #3350
@zzq1314zll can you provide this new feature? Maybe other plugin also needs this, it's recommend to change it in `client`.

[2022-04-28 09:42] hgaol opened #3360 "[Question] The data saved in zookeeper looks strange"
### Question

I'm working on the zookeeper client registration for dotnet client, and I found the serialization for `zkClient` looks strange, see below.
![Pasted image 20220428170506](https://user-images.githubusercontent.com/11908658/165719204-df04cfc5-80a6-4bc5-b602-6a62d0f3dfab.png)

And `admin` also use the same serializer which is default one `SerializableSerializer` in package `org.I0Itec.zk

[2022-04-28 10:27] dragon-zhang commented on #2092
Hi, do you checked&nbsp;https://shenyu.apache.org/docs/next/plugin-center/common/general-context-plugin ?

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/incubator-shenyu"                                                                                    ***@***

[2022-04-29 00:42] hgaol opened #3362 "[Task] Replace zookeeper client to Curator and save data in zk without magic header"
### Description

Replace current zk client with [Curator](https://curator.apache.org/), and save data in zk without magic header. The second feature will be incompatible with earlier version, including `register` and `syncing` in zookeeper. More details can refer to #3360 .

### Task List

1. replace zk client with Curator.
2. test different zk server version.
3. save data in zk without magic head

[2022-04-29 00:43] hgaol commented on #3362
Please assign it to me, thanks!

[2022-04-29 05:23] #3121 closed

[2022-04-29 06:18] damonxue commented on #3271
The easy-task2 was already merged to main.

[2022-04-29 10:04] hutaishi commented on #3130
In scenarios such as load balancing or domain name resolver, there is a way to transfer access to.
<img width="938" alt="图片" src="https://user-images.githubusercontent.com/12478263/165924485-84b0541e-7ebb-4e59-adb6-d033d656bcc8.png">

remote-addr：This property can accurately obtain the service IP

[2022-04-29 10:04] #3130 closed

[2022-04-29 15:19] moremind opened #3364 "[Task] Shenyu Gateway Config Based On Service"
### Description

I find most selectors hava common config, I think shenyu maybe provide another config mode in new page：Base On Service Configuration.
<img width="576" alt="无标题" src="https://user-images.githubusercontent.com/20184263/165973366-9e521554-5a01-46b0-bcfd-f13d8f2c6c6b.png">

### Task List

task1. develop shenyu gateway admin service display page and add rule page.
task2. develop batch

[2022-04-29 15:21] moremind commented on #3364
please assign me, After I think a lot, I will submit my suggestion for the design.

[2022-04-30 11:30] #3173 closed

[2022-04-30 14:05] HaiqiQin opened #3365 "[Task] Improve the unit test coverage of shenyu-plugin-resilience4j"
### Description

At present, the unit test coverage of shenyu-plugin-resilience4j is 56%，and I will try to increase it to more than 80%.

### Task List

1.Improve the unit test coverage of shenyu-plugin-resilience4j to more than 80%.

[2022-05-01 02:48] dragon-zhang opened #3367 "[Task] selector match only once"
### Description

Now, in `org.apache.shenyu.plugin.base.AbstractShenyuPlugin#matchSelector`, its time complexity is `O(n)` and there is no cache, this task is to add the matched cache to make selector matching only once.

### Task List

1. - [x] add condition-selector search table(not in db);
2. - [x] refactor `AbstractShenyuPlugin#matchSelector`;
3. - [x] add selector match cache.

[2022-05-01 10:53] #2451 closed

[2022-05-01 12:51] skyever opened #3369 "[BUG] shenyu admin did not update upstream host to gateway when upstream restarted using nacos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I use nacos as the shenyu register center, and the shenyu admin config like this:
[code]

I runing the shenyu-examples-http and everything is ok. After I restart the example pod, I cannot access the example through shenyu gateway, the error is:

[code]

the 172.16.1.74 is the old upstream and

[2022-05-02 02:33] dragon-zhang opened #3370 "[Question] How about add code style file ?"
### Question

The current code style is still not uniform enough. For example, there is no certain standard whether the two methods are empty or not. I intend to add a `shenyu_codestyle.xml` to unify the standard, later, when people write Shenyu's code, they need to import `shenyu_codestyle.xml` first. Guys, what do you think? Please leave a message.

[2022-05-02 02:34] dragon-zhang commented on #3370
Here is a codestyle file from rocketmq:
[code]

[2022-05-03 02:16] hutaishi opened #3374 "[Task] <GRPC plugin is not compatible with low versions(such as: version 1.6.0 ) and json and documentation issues>"
### Description

## GRPC test version 1.6.0

## Compatible issue

### 1. MethodDescriptor.Marshaller get defaultInstance field not compatible with low versions.
<img width="1224" alt="图片" src="https://user-images.githubusercontent.com/12478263/166394186-72cc7fad-960e-4003-9151-bed89b772f1b.png">

### Compatibility recommendations
[code]
---
### 2.MethodDescriptor get serviceName field not compatib

[2022-05-03 04:06] renzhuyan opened #3375 "[Volunteer] Add shenyu-register-instance-consul Test"
### Volunteer help

Add shenyu-register-instance-consul Test

[2022-05-03 14:04] #3375 closed

[2022-05-04 11:18] midnight2104 commented on #3374
Hi, @hutaishi , are you willing to fix these problems? Also, consider whether the Json service is necessary?

[2022-05-04 13:56] hutaishi commented on #3374
Very happy to improve the plugin

[2022-05-05 03:24] IceFoxs opened #3381 "[BUG] shenyu-admin change password , report error(parameter error: role is not null)，only change password is not valid"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Only change password is not valid.
<img width="623" alt="image" src="https://user-images.githubusercontent.com/26451038/166858414-e1d19df9-feac-455c-ac72-85e9670bac3e.png">

### Expected Behavior

Modify password success.

### Steps To Reproduce

_No response_

### Environment

[code]

### De

[2022-05-05 05:36] moremind commented on #3364
https://lanhuapp.com/url/oUtSl
project: shenyu
password: YWnR
I have designed the archetype，please check this design.

[2022-05-05 06:37] qicz commented on #2780
https://github.com/reactor/reactor-netty/issues/1876
maybe need upgrade the spring boot

[2022-05-05 07:16] li-keguo commented on #3370
see https://github.com/apache/incubator-shenyu/blob/master/script/shenyu_checkstyle.xml

[2022-05-05 07:42] li-keguo commented on #3381
I will fix it

[2022-05-05 07:53] #3354 closed

[2022-05-05 08:57] #3365 closed

[2022-05-05 10:50] dragon-zhang commented on #3370
agree

[2022-05-05 11:17] moremind opened #3386 "[Task] upload plugin jar to admin, synchronize jar to bootstrap"
### Description

upload plugin jar to admin, synchronize jar to bootstrap

### Task List

1. upload jar file api.
2. control jar file api.for example: add plugin jar, remove plugin jar, modify plugin jar.
3. syncronize jar file to bootstrap.
4. load jar file from bootstrap dynamically.

[2022-05-05 11:18] moremind commented on #3386
pls assign to me.

[2022-05-05 14:09] #3370 closed

[2022-05-06 06:12] #3118 closed

[2022-05-06 06:47] #3374 closed

[2022-05-06 07:05] li-keguo commented on #3386
I don't think this is a good idea. This looks a lot like osgi, dynamic plugging and unplugging, but this function is not suitable for cloud native scenarios, each gateway node is an image instance.

it is not safe to do so

[2022-05-06 07:41] li-keguo commented on #3364
What function does this page want to achieve?
Can you describe it in detail?
In addition, the admin can't perceive how many services there are now. This needs to provide the corresponding service meta information when registering. Can you contribute to this?

Looking forward to your contribution

[2022-05-06 08:27] moremind commented on #3386
first, my idea from `ShenyuLoaderService#loaderExtPlugins`, ShenYu can load plugin from local file, why not load from remote file system.
second, it like bundle of osgi, but shenyu's plugin is jar, this is supported feature, not necessary feature.
third, I think ShenYu already supported load jar from local, why not think ShenYu Gateway safety?

this feature suit cluster mode, otherwise, if you upl

[2022-05-06 08:37] moremind commented on #3364
you can look at ` https://lanhuapp.com/url/oUtSl project: shenyu password: YWnR` about this issue detail.

this like common config, for most plugins, these have may have common selector in a server, they can config simply by this feature.

I will contribute this feature in three weeks.

[2022-05-07 02:30] hutaishi commented on #3076
These have all been supported: `HTTP`,`Spring Cloud`,`gRPC`,`Dubbo`,`SOFARPC`,`Motan`,`Tars` .
I will write a post about integrating skywalking to achieve observability

[2022-05-07 02:30] hutaishi commented on #3143
These have all been supported: HTTP,Spring Cloud,gRPC,Dubbo,SOFARPC,Motan,Tars .
I will write a post about integrating skywalking to achieve observability

[2022-05-07 04:11] hutaishi commented on #3386
Personally, I think it looks good

[2022-05-07 04:53] hutaishi commented on #3052
The latest version has been modified.  removed:
[code]

[2022-05-07 05:56] dragon-zhang opened #3391 "[BUG] compatibility problem when use `NettyHttpClientPlugin`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When using `NettyHttpClientPlugin`, the implementation of `org.apache.shenyu.plugin.api.result.ShenyuResult#contentType` is incompatible.

### Expected Behavior

No compatibility problem.

### Steps To Reproduce

1. run `ShenyuAdminBootstrap`;
2. run `ShenyuTestHttpApplication`;
3. enable `Ne

[2022-05-07 05:58] dragon-zhang commented on #3391
[code]
Is anyone willing to fix it?

[2022-05-07 06:50] ZhangJiaLei123 opened #3392 "[BUG] <upload bigfile> Response took longer than timeout"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I need upload big file to server by getway。
[code]
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

{
	"code": 500,
	"message": "Internal Server Error",
	"data": {
		"cause": null,
		"stackTrace": [],
		"message": "Connection has been closed BEFORE response, while sending

[2022-05-07 07:16] dragon-zhang commented on #3392
Which way do you use to access? Is it springcloud or springmvc?

[2022-05-07 07:18] dragon-zhang commented on #3392
please check [divide-plugin](https://shenyu.apache.org/docs/next/plugin-center/proxy/divide-plugin) or [spring-cloud-plugin](https://shenyu.apache.org/docs/next/plugin-center/proxy/spring-cloud-plugin) , and config rule timeout @ZhangJiaLei123

[2022-05-07 12:22] #3202 closed

[2022-05-07 12:22] #3254 closed

[2022-05-07 13:39] moremind commented on #3386
![image](https://user-images.githubusercontent.com/20184263/167256574-93d7fc94-dd26-4cdd-89b9-02b8cdd8a8d9.png)

@yu199195 @hutaishi @li-keguo

this is my preliminary idea.
1. in admin, when upload plugin jar, generate signature，it keep jar's safety.
2. in event, send event with signature by md5.
3. in bootstrap, load plugin and put this plugin to pluginList.

[2022-05-07 14:06] li-keguo commented on #3386
The idea is great, but how do we ensure that the newly added jar will run stably? How to ensure that the gateway is stable but productive during the loading process? We know that the load bytecode is used but the heap memory is special, but how to dynamically expand it?

[2022-05-08 10:10] ZhangJiaLei123 commented on #3392
i get it:
[code]

[2022-05-08 10:10] #3392 closed

[2022-05-08 14:27] hutaishi commented on #3143
The blog has been written. welcome to use.
---
[**chinese blog**](https://skywalking.apache.org/zh/2022-05-08-apache-shenyuincubating-integrated-skywalking-practice-observability/)
---
[**english blog**](https://skywalking.apache.org/blog/2022-05-08-apache-shenyuincubating-integrated-skywalking-practice-observability/)

[2022-05-08 14:28] hutaishi commented on #3076
The blog has been written. welcome to use.
---
[**chinese blog**](https://skywalking.apache.org/zh/2022-05-08-apache-shenyuincubating-integrated-skywalking-practice-observability/)
---
[**english blog**](https://skywalking.apache.org/blog/2022-05-08-apache-shenyuincubating-integrated-skywalking-practice-observability/)

[2022-05-09 07:55] chariles opened #3393 "[Question] shenyu-client/register-uri not found"
### Question

When I import the shenyu-admin-2.4.2.jar into my own project, request http://localhost:9095/shenyu-client/register-uri  not found,can you give me some advice?

[2022-05-09 09:56] siegezhang opened #3394 "[BUG] when json body is {},and dubbo method has ParameterType，can not find dubbo method"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

when json body is {},and dubbo method has ParameterType，can not find dubbo method

in ApacheDubboProxyService  genericInvoker method:

`        if (StringUtils.isBlank(metaData.getParameterTypes()) || ParamCheckUtils.dubboBodyIsEmpty(body)) {
            pair = new ImmutablePair<>(new String[

[2022-05-09 10:44] dragon-zhang commented on #3394
Can you show the dubbo code part?

[2022-05-09 11:00] siegezhang commented on #3394
dubbo method :

![image](https://user-images.githubusercontent.com/7414806/167395944-2526ce76-813a-41cd-8968-213bf29946c9.png)

input ：

![image](https://user-images.githubusercontent.com/7414806/167396044-b150e2d8-fe37-4e7c-97f6-55f3f30e5e0c.png)

dubbo  GenericFilter  filter handle:

![image](https://user-images.githubusercontent.com/7414806/167396351-d3605424-08ce-4ea2-ae72-fb17f3d18fe6.png)

`

[2022-05-09 12:08] dragon-zhang commented on #3394
Does the class of request have a field?
If have at least one filed, please do not use `{}`;
If not have filed, please remove the request parameter of the dubbo method.

[2022-05-09 12:39] hutaishi commented on #3391
I Can fix it. thinks

[2022-05-09 13:12] siegezhang commented on #3394
the request has fields,but all of them is not required

not use {}:

![image](https://user-images.githubusercontent.com/7414806/167417270-9dbf5076-c001-4bc1-98fd-2ef81cb00dc6.png)

[2022-05-09 13:23] zouchangfu commented on #3367
pls assign to me.

[2022-05-09 13:25] dragon-zhang commented on #3394
Can you fix it? Don't forget `alibaba dubbo` @siegezhang

[2022-05-09 13:29] dragon-zhang commented on #3369
It can be automatically eliminated after a period of time. Please check `org.apache.shenyu.admin.service.impl.UpstreamCheckService#scheduled`

[2022-05-09 13:33] siegezhang commented on #3394
ok , has time limited? now avoid this problem  is to add space between {} like:
{ }

[2022-05-09 13:51] dragon-zhang commented on #3394
There is no time limit, enjoy the contribution !

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/incubator-shenyu"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年5月9日(星期一) 晚上9:33
***@***.***&gt

[2022-05-09 15:47] zouchangfu commented on #3386
pls assign to me.

[2022-05-09 16:02] li-keguo commented on #3393
Can you elaborate on your problem?
If you want to know more, please refer to: [admin guide](https://shenyu.apache.org/docs/2.4.2/user-guide/admin-usage/data-permission)

[2022-05-10 00:35] Franz362100 opened #3396 "[Question] The postgresQL database cannot be used properly."
### Question

![image](https://user-images.githubusercontent.com/65158204/167519886-51073181-238d-4cc6-89b2-a30edd8a7633.png)

postgreSQL  version:12.9
shenyu version:2.4.3

`
javax.validation.ValidationException: HV000028: Unexpected exception during isValid call.
	at org.hibernate.validator.internal.engine.constraintvalidation.ConstraintTree.validateSingleConstraint(ConstraintTree.java:177)
	at

[2022-05-10 08:34] tonyxu721 opened #3397 "[Question] what is the role of the scheduler bean config?"
### Question

I am testing the "shenyu-examples-http" example project, and i found there is a "Scheduler" bean config, just see the pic:<img width="742" alt="image" src="https://user-images.githubusercontent.com/23226155/167585028-1812cd0c-641f-40c8-ba84-3da940bbf470.png">
 Can anyone can tell me what’s the role of this config and where it is used?

[2022-05-10 12:35] dragon-zhang commented on #3391
Sorry, it has been done in `org.apache.shenyu.plugin.response.strategy.NettyClientMessageWriter`.

[2022-05-10 12:35] #3391 closed

[2022-05-11 04:00] yu199195 commented on #3397
hi，This is just a demo, how to use depends on your spring project！

[2022-05-11 04:01] #3360 closed

[2022-05-11 04:09] tonyxu721 commented on #3397
I know this is just a demo, but i think the config is confused, maybe the bean is used to change webflux server thread pool model, but i don't know

[2022-05-11 09:02] zkna opened #3398 "文档可以写的easy一点么，好让初学者入门，文档看的我高血压都犯了。"
### Volunteer help

先讲述一下我的经历，想尝试一下shenyu网关：
第一步，得部署一个admin网关项目吧，
![image](https://user-images.githubusercontent.com/19741934/167808516-c4137741-1e43-418f-841d-01e3e2482a90.png)
这个图没错吧，就问你的maven打包可以成功么？
好吧，终于一步一步探索，把项目导入到idea，把一些杂七杂八的项目去掉了，shenyu-admin才能跑起来

第二步，因为我要尝试一下spring cloud的项目，还是跟第一步一样，新起一个spring cloud项目。

第三步，重要的一步来了，当我跟着文档走，配置对应的转发规则的时候，对应的配置规则没了，就戛然而止了，如下图，如下链接
![image](https://user-im

[2022-05-11 09:13] zouchangfu commented on #3398
@zkna
Thank you for your suggestion, at present shenyu is in the development stage, if you are interested,  welcome to join us to solve these problems.

[2022-05-11 09:24] moremind commented on #3398
@zkna
shenyu will optimize these documents, welcome join us to contribute your document on `https://github.com/apache/incubator-shenyu-website`

[2022-05-11 10:01] ShawnJim commented on #3396
pls assign to me. I will fix it.

[2022-05-11 16:24] lianjunwei opened #3399 "[Task] Enhancement and optimization of "shenyu_execute_latency_millis_bucket" indicator item of metrics plug-in."
### Description

The current situation is:
shenyu_execute_latency_millis_bucket{le="0.005",} 3.0
shenyu_execute_latency_millis_bucket{le="0.01",} 3.0
shenyu_execute_latency_millis_bucket{le="0.025",} 3.0
shenyu_execute_latency_millis_bucket{le="0.05",} 3.0
shenyu_execute_latency_millis_bucket{le="0.075",} 3.0
shenyu_execute_latency_millis_bucket{le="0.1",} 3.0
shenyu_execute_latency_millis_bucket{

[2022-05-11 23:47] dragon-zhang commented on #3399
The unit of 0.005 is seconds, which means 5ms.

------------------ Original ------------------
From: lianjunwei ***@***.***&gt;
Date: Thu,May 12,2022 0:24 AM
To: apache/incubator-shenyu ***@***.***&gt;
Cc: Subscribed ***@***.***&gt;
Subject: Re: [apache/incubator-shenyu] [Task] Enhancement and optimization of "shenyu_execute_latency_millis_bucket" indicator item of metrics plug-in. (Issue #3399)

[2022-05-12 02:51] lianjunwei commented on #3399
I also think the unit is seconds. However, according to the time consumption statistics of my printed logs, 95% of the requests take less than 1s, and the actual time consumption is inconsistent with the statistics returned by the metric interface.
If the unit is seconds, the number falling in the range of Le = "1.0" should be large.

[2022-05-12 03:04] lianjunwei commented on #3399
The statistics are weird. I continued to observe for some time.

[2022-05-12 03:40] kevinw66 opened #3400 "[BUG] Websocket异常关闭会导致文件描述符一直增加"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

启用Websocket之后，如果web端没有关闭websocket而直接关闭了整个页面，会导致文件描述符占用一直增加

### Expected Behavior

web端异常退出的时候能正确关闭websocket

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

# lsof -p 1 | grep sock | wc -l
68
# lsof -p 1 | grep sock | wc -l
69
# lsof -p 1 | grep sock | wc -l
6

[2022-05-12 13:38] #3398 closed

[2022-05-15 06:34] HaiqiQin opened #3405 "[Task] Add the unit test of shenyu-plugin-motan"
### Description

Now the unit test of Motan plug-in has not been written, I will write it

### Task List

1.Add the unit test of shenyu-plugin-motan

[2022-05-15 07:40] dragon-zhang commented on #3405
oh, thanks

------------------ Original ------------------
From: qinghai777 ***@***.***&gt;
Date: Sun,May 15,2022 2:34 PM
To: apache/incubator-shenyu ***@***.***&gt;
Cc: Subscribed ***@***.***&gt;
Subject: Re: [apache/incubator-shenyu] [Task] Add the unit test of shenyu-plugin-motan (Issue #3405)

Description

Now the unit test of Motan plug-in has not been written, I will write it

Task List

1.A

[2022-05-15 09:31] dragon-zhang commented on #3400
Can you see if this problem still exists in version 2.4.3 ?

[2022-05-15 09:58] dragon-zhang opened #3406 "[Task] sofa and tars using shared thread pool"
### Description

As a subtask of https://github.com/apache/incubator-shenyu/issues/3026, the sofa plugin and tars plugin do not use the shared thread pool.

As for mqtt, divide, springcloud and websocket plugins, they are not supported because their IO model is different from that applicable to shared thread pool.

### Task List

1. - [x] support shared thread pool for sofa plugin, You can find so

[2022-05-15 10:12] dragon-zhang opened #3407 "[Task] add the logic of annotation on the splicing class for all rpc shenyu client"
### Description

As a subtask of https://github.com/apache/incubator-shenyu/issues/3317, all rpc shenyu client needs to add the logic of annotation on the splicing class, you can see the `shenyu-client-springmvc` module.

### Task List

1. - [x] add the logic of annotation on the splicing class for apache dubbo client, @renzhuyan ;
2. - [ ] add the logic of annotation on the splicing class for ali

[2022-05-15 11:15] renzhuyan commented on #3407
I want to try one

[2022-05-15 12:06] lahmXu commented on #3406
Please assign to me, thanks!

[2022-05-15 13:16] dragon-zhang commented on #3407
Hi, which one do you want to try?

[2022-05-15 13:31] renzhuyan commented on #3407
add the logic of annotation on the splicing class for apache dubbo client;

[2022-05-15 13:32] renzhuyan commented on #3407
add the logic of annotation on the splicing class for apache dubbo client;

[2022-05-15 13:36] ChineseTony commented on #3407
Can you assign subtask 4 to me?

[2022-05-15 14:02] dragon-zhang commented on #3407
ok, thanks, enjoy the contribution !

[2022-05-15 16:09] hutaishi commented on #3407
Please assign grpc this to me. Thank you

[2022-05-15 16:10] ShawnSiao commented on #3407
您好，邮件已收到。

[2022-05-16 01:31] dragon-zhang commented on #3407
@ShawnSiao which one do you want to try?

[2022-05-16 02:08] sunshujie1990 commented on #3407
@dragon-zhang
Can you assign subtask 2 to me?

[2022-05-16 02:11] jjxliu306 commented on #3165
在压力测试下，基本会一直重现这个异常：
Caused by: java.lang.IllegalStateException: The client response body can only be consumed once.
	at org.springframework.http.client.reactive.ReactorClientHttpResponse.lambda$getBody$0(ReactorClientHttpResponse.java:66)
	Suppressed: reactor.core.publisher.FluxOnAssembly$OnAssemblyException:

请问都是怎么处理的。

[2022-05-16 02:13] jjxliu306 opened #3409 "java.lang.IllegalStateException: The client response body can only be consumed once[Question] <title>"
### Question

在2.4.3版本下，跑压力测试的时候会一直抛异常：
Caused by: java.lang.IllegalStateException: The client response body can only be consumed once.
	at org.springframework.http.client.reactive.ReactorClientHttpResponse.lambda$getBody$0(ReactorClientHttpResponse.java:66)
但没搞明白是怎么触发出来的或者该怎么解决

[2022-05-16 02:18] dragon-zhang commented on #3407
sure, thanks

[2022-05-16 02:37] ShawnSiao commented on #3407
Task 5 please,thank you.

[2022-05-16 05:59] vijayuan opened #3410 "[Question] reactor-http-eq threads make cpu utilization high"
### Question

shenyu-version: 2.4.3

I got the pic by using `top -Hp [shenyu-pid]`

As you can see from the pic, 3 threads are using cpu nearly 100% for 50+ minutes.

I didn't know what happened.

After I restarted the application, it was normal.

![image](https://user-images.githubusercontent.com/22487951/168528132-6de0680a-d579-4766-b1d2-86ccc12f44cc.png)

[2022-05-16 07:32] iwongta opened #3412 "[BUG] AuthPathWarpDTO::id @Existed::provider is bug"
### Question

 @Existed(message = "app key not existed", provider = AuthPathMapper.class)
    private String id;

[2022-05-17 02:11] cs2free commented on #68
公司：京东
网址：/
地点：北京
联系方式：chsh22@163.com
场景：API网关

[2022-05-17 02:12] luoxihong commented on #68
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-05-17 03:19] s1366560 commented on #68
company : tencent
website：https://tencent.com/
logo_url ：https://www.tencent.com/img/index/menu_logo.png
Location: Shenzhen, China
Contact information: [tiejunsun@tencent.com](mailto:tiejunsun@tencent.com)
Scene:API应用网关

[2022-05-17 06:42] gaochuang98 commented on #3407
Please assign tars this to me. Thank you

[2022-05-17 07:56] dragon-zhang commented on #3407
sure, thanks

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/incubator-shenyu"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年5月17日(星期二) 下午2:42
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&

[2022-05-17 08:42] xiangyang1234 opened #3413 "admin的BasicConfig Plugin页面空白"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

当吧插件request开启时，admin的BasicConfig Plugin页面空白无数据。

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2022-05-17 08:57] #3413 closed

[2022-05-17 08:59] xiangyang1234 commented on #3413
必须在插件配置上面填 ruleHandlePageType 参数，不填提交就是空白页面

[2022-05-17 09:15] vijayuan commented on #3410
reactor-http-ep threads are seemed to be logging threads.

[2022-05-17 10:30] dragon-zhang commented on #3407
The `metadata` of `motan` and `tars` client seems wrong. I'm discussing it with other developers. Please wait until I have a conclusion before continuing the development @ChineseTony @gaochuang98

[2022-05-17 10:41] dragon-zhang opened #3414 "[Question] Redundant `rpcExt` of `metadata` in `motan` and `tars` ?"
### Question

In `org.apache.shenyu.client.motan.MotanServiceBeanPostProcessor#handler`, we use `org.apache.shenyu.client.motan.MotanServiceBeanPostProcessor#buildRpcExt(java.lang.reflect.Method[], java.lang.Integer)` to build `metadata`, I think this leads to the redundancy of the `metadata`.

Below is the current code in `MotanServiceBeanPostProcessor`:
[code]
And in `org.apache.shenyu.plugin.mo

[2022-05-18 05:21] #3410 closed

[2022-05-18 05:22] vijayuan commented on #3410
My fault. I had some modification in LOGGING Plugin. But there is a bug in my modification.

[2022-05-18 09:27] Once2012 opened #3416 "[Question] The WAF plug-in is not running properly in black model"
### Question

我在配置waf插件时遇到了这样一个问题，按文档说明，当waf的model为black时，任何匹配的流量都会被拦截，结果我测试下来没有拦截畅通无阻。然而当我加了permission条件为reject之后，就真正被拦截了。不是说black模式下不需要配permission的么？是不是我哪里配错了？
![13f7bfaa580afa74482b4f584189029](https://user-images.githubusercontent.com/19165279/169006315-458f3725-dd79-46e4-99f7-4901600af3a2.png)
![18f7076e338ffa61d8e7189e6c14198](https://user-images.githubusercontent.com/19165279/169006385-7c3a

[2022-05-21 03:14] #3400 closed

[2022-05-22 02:56] #3414 closed

[2022-05-22 02:57] #3396 closed

[2022-05-22 11:19] ShawnJim opened #3424 "[Task] <Remove the automatic initialization script module from the shenyu-admin>"
### Description

Remove the automatic initialization script module from the project, adjust the script for easy execution and move the directory to db. I'll finish it later.

### Task List

- [x] Removes the script loader from the shenyu-admin.
- [x] Adjust the script for user execution and move the script to the db directory.
- [x] Write document.

[2022-05-22 12:19] dragon-zhang commented on #3407
@gaochuang98 Please pull the latest code and resolve the conflict if need.

[2022-05-22 12:38] moremind opened #3425 "[BUG] SpringCloudPlugin serviceInstance is Null, Loadbalance is not effect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="1081" alt="1f8ce325bd1da7cdc590f9cac58c6a4" src="https://user-images.githubusercontent.com/20184263/169695496-edae2d30-c45f-4186-9f54-551c1d61a2d6.png">

### Expected Behavior

serviceInstance is not null and forward request.

### Steps To Reproduce

1.open springcloud plugin.
2.s

[2022-05-22 13:10] #3425 closed

[2022-05-22 16:18] MichaelDeSteven commented on #3275
@JooKS-me @selectbook Hi, I see org.apache.shenyu.common.cache is no complete, can I take this task?

[2022-05-22 17:24] JooKS-me commented on #3275
@MichaelDeSteven Hi, I found the cache package unnecessary to enhance the test. You can find small packages that need to improve test coverage in https://app.codecov.io/gh/apache/incubator-shenyu, and then create an issue to indicate what you want to do. Generally, we need to increase the test coverage to 80%.

BTW, ping @jun0315 @zhangcly, are you still doing it?

[2022-05-24 09:17] ljwhx2002 opened #3429 "[BUG] "The client response body can only be consumed once . " when sentinel enabled."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

1, 开启SentinelPlugin 插件
2，配置插件拦截请求
![image](https://user-images.githubusercontent.com/619221/169993601-a9271825-7c4e-46eb-b360-7775ef73d01c.png)

3，正常请求时没问题， 当请求一个后端不存在的服务时提示
[code]

http://192.168.10.90:8884/test/222 （222是mock 404的错误服务）

4，SentinelPlugin.java
[code]

fallbackHandler.fallback

[2022-05-24 14:58] li-keguo commented on #3412
hi ,maybe is not bug,
see:

``` org.apache.shenyu.admin.controller.AppAuthController#updateDetailPath```
[code]

``` org.apache.shenyu.admin.service.impl.AppAuthServiceImpl#updateDetailPath```
[code]
```AuthPathWarpDTO#id```  is ``` AppAuthDO#id```,

It's just a naming error that doesn't make sense to read, can you optimize it?

Your contributions are welcome～

[2022-05-24 15:04] li-keguo commented on #3359
yes, Some community members are doing it

[2022-05-24 15:27] li-keguo commented on #3409
It seems that the content of the request Body has been read repeatedly. Can you provide more detailed logs or reproduction steps?

[2022-05-25 01:54] dragon-zhang commented on #3350
see https://github.com/apache/incubator-shenyu/pull/3430 , please close this issue if you are sure.

[2022-05-25 02:38] #3350 closed

[2022-05-25 10:43] k11hao opened #3431 "[BUG] modify metadata error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

编辑已添加的元数据时，当点击保存按钮时报错，
![image](https://user-images.githubusercontent.com/6235692/170244478-5213e180-3626-4c7f-9cbd-cf3affa75029.png)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No r

[2022-05-25 13:40] MichaelDeSteven commented on #3431
![image](https://user-images.githubusercontent.com/51652084/170275296-10c3b4ed-7c2a-4f5a-822e-07d7e02aeee2.png)
添加metadata界面有Status也就是enabled，但是更改metadata前端界面没有这个选项，导致enabled为空。这个应该是前端界面的问题

[2022-05-25 13:58] MichaelDeSteven commented on #3431
我又试了一下，对需要修改的条目，点击批量启动后，这个问题就没有了

[2022-05-25 17:51] fxbin commented on #2829
The same question, is it plan to add shenyu dependencies management module?

[2022-05-26 02:07] skyever commented on #3369
Is the upstreamCheckService only supported with "http" register type? I use nacos as the shenyu register center.

[2022-05-26 06:52] li-keguo commented on #3431
hi ,it fixed
see: https://github.com/apache/incubator-shenyu-dashboard/pull/202

[2022-05-26 13:26] #3412 closed

[2022-05-26 14:36] #3393 closed

[2022-05-26 15:20] dragon-zhang opened #3436 "[Task] detailed metadata of springCloud / springMvc client registration"
### Description

Now SpringMvcClient does not register metadata by default, it needs to be registered by default.

And for SpringCloudClient, the registered metadata is not specific enough(for example, now only has `/test-springCloud/**`), we need more detaild metaData such as `/test-springCloud/aaaa/bbbb` for future usage.

### Task List

1. - [x] SpringMvcClient register metadata by default, @re

[2022-05-26 15:25] dragon-zhang opened #3437 "[Question] How about add a new proxy plugin named `BrpcPlugin`?"
### Question

Here is the homepage of [brpc](https://github.com/apache/incubator-brpc) ,and we can use [brpc-java](https://github.com/baidu/brpc-java) to implments `BrpcPlugin`.

The following is the official introduction:
brpc is an industrial-grade RPC framework used throughout [Baidu](http://ir.baidu.com/phoenix.zhtml?c=188488&p=irol-irhome), with 1,000,000+ instances(not counting clients) and

[2022-05-26 15:40] dragon-zhang commented on #3436
task 2 is mine.

[2022-05-26 17:12] renzhuyan commented on #3436
Please assign task1 to me. Thank you

[2022-05-27 00:22] #3431 closed

[2022-05-27 06:08] JooKS-me commented on #3437
I think it's a good idea and the licenses are all Apache 2.0

[2022-05-27 07:00] LBJWt opened #3439 "[dubbo3.x] <什么时候可以支持dubbo3.x>"
### Question

下个版本会支持dubbo3.0吗

[2022-05-27 13:08] yu199195 commented on #3439
Now ,also support, can you use english ?

[2022-05-27 13:52] dragon-zhang commented on #3436
thanks, too.

[2022-05-27 13:56] dragon-zhang commented on #3437
Then I will create the task for community.

[2022-05-27 23:12] #3424 closed

[2022-05-28 04:13] renzhuyan opened #3443 "[Volunteer] Improve example of shenyu-examples-apache-dubbo"
### Volunteer help

Improve example of shenyu-examples-apache-dubbo

[2022-05-28 05:56] JooKS-me opened #3445 "[Feature] Complete the function of mqtt plugin"
### Description

Complete the function of mqtt plugin

### Task List

Complete the places marked with todo

- [ ] QoS 1
- [ ] QoS 2
- [ ] Retain

[2022-05-28 07:52] renzhuyan opened #3446 "[BUG] Spring MVC example synchronization will cause the admin module doc to process NPE"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

_No response_

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

2022-05-28 15:50:58 [shenyu-scheduled-upstream-task-1] INFO  org.apache.shenyu.admin.service.manager.impl.LoadServiceDocEntryImpl - loadDocOnSelectorChanged ser

[2022-05-28 13:51] dragon-zhang opened #3449 "[BUG] tars plugin can not config other thread pool field"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/38336731/170828285-40acff0b-0799-48e8-a34f-a950042d8d29.png)
missed other fields.
bug is in `shenyu-admin/src/main/resources/sql-script/h2/schema.sql`
![image](https://user-images.githubusercontent.com/38336731/170828314-afdd17ed-aa3d-4a55-85

[2022-05-28 13:55] lahmXu commented on #3449
OK, I will fix this bug.

[2022-05-28 13:55] jun0315 commented on #3275
Sorry, I find it a little difficult. Please assign this task to others.

[2022-05-28 14:00] dragon-zhang opened #3450 "[Task] add BrpcPlugin to support brpc"
### Description

brpc is an industrial-grade RPC framework used throughout Baidu, with 1,000,000+ instances(not counting clients) and thousands kinds of services.

As for `shenyu-client-brpc`, we can use [`brpc-spring` module](https://github.com/baidu/brpc-java/tree/master/brpc-spring) to implment it.

As for `shenyu-spring-boot-starter-client-brpc`, we can use [`brpc-spring-boot-starter` module](

[2022-05-28 14:01] dragon-zhang commented on #3437
see https://github.com/apache/incubator-shenyu/issues/3450

[2022-05-28 14:01] #3437 closed

[2022-05-28 14:15] MichaelDeSteven commented on #3450
can I task this task？

[2022-05-28 14:19] dragon-zhang commented on #3450
sure, thanks

[2022-05-28 14:28] selectbook commented on #3275
@JooKS-me  I will try to finish the task of org.apache.shenyu.common.timer

[2022-05-28 14:46] JooKS-me commented on #3275
Thanks and good luck!

[2022-05-28 16:02] #3443 closed

[2022-05-28 16:57] MichaelDeSteven opened #3452 "[Question] about spring-boot-starter typo"
### Question

I review some class, then find **many** class doc have the **same** problem.
![image](https://user-images.githubusercontent.com/51652084/170834920-64ae954d-c4f0-419a-95bf-90e11ac92f7a.png)
![image](https://user-images.githubusercontent.com/51652084/170835032-c7d4d91f-a103-4fcb-ba02-e38d09d2b68f.png)
![image](https://user-images.githubusercontent.com/51652084/170835041-40b0333e-2920-4

[2022-05-28 17:09] KevinClair commented on #3452
Looking forward to your pr.

[2022-05-29 01:22] #3449 closed

[2022-05-29 02:20] #3436 closed

[2022-05-29 11:47] #3452 closed

[2022-05-30 10:00] LBJWt opened #3459 "[Question] <Why does shenyu client not support nacos registry>"
### Question

Why does shenyu client not support nacos registry

[2022-05-31 00:55] moremind commented on #3429
please tell me which plugins you use? this question beacause http response body have consumed.

[2022-05-31 02:59] ljwhx2002 commented on #3429
springCloud + sentinel

[2022-05-31 03:58] como-ca opened #3460 "Data synchronization problem caused by websocket disconnection ( ShenyuWebsocketClient#healthCheck）"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After using Apache Shenyu V 2.4.3, it was found that after a period of time, the websocket of the gateway instance and Shenyu Admin would be disconnected. It was initially suspected that there was a problem with the heartbeat of websockt and the processing of the timer's time wheel. Later, th

[2022-05-31 04:11] yu199195 commented on #3460
Hi

thanks for you issue，

We noticed the problem and have made the relevant fixes in master, not sure if it has been fixed, can you move closer to the master branch?

BTW, in version 2.4.2 is using the ScheduledThreadPoolExecutor to execute the healthCheck

[2022-05-31 04:16] como-ca commented on #3460
Hi,
Thank you for your reply.
My current internal emergency repair solution is to use ScheduledThreadPoolExecutor to handle, because the 2.4.3 version has been fully upgraded, so I have rewritten ShenyuWebsocketClient class to achieve the repair.

In addition, the master you mentioned has been fixed, and you should wait for the next version to be released .

------------------&nbsp;原始邮件&nbsp;-----

[2022-05-31 04:20] moremind commented on #3429
ok，i will test this scene with sentinel.

[2022-05-31 04:24] yu199195 commented on #3460
Hi

you can see this : https://github.com/apache/incubator-shenyu/pull/3297

BTW, If you are a company, can you help register more use cases in  https://github.com/apache/incubator-shenyu/issues/68?

[2022-05-31 04:32] yu199195 commented on #3459
Hi  we already support nacos， can you see this ：https://shenyu.apache.org/docs/next/user-guide/register-center-access#nacos-registry-config

[2022-05-31 08:02] Summary-wcj opened #3461 "I have a problem with sofa. Please help me to have a look"
### Question

I used the local startup method to test the interface of sofa. The following errors occurred. The registry used was zookeeper and the example provided on the official website was used

Error log printed by the gateway when called

`2022-05-31 15:34:38 [boundedElastic-3] INFO  org.apache.shenyu.plugin.base.AbstractShenyuPlugin - sofa selector success match , selector name :/sofa
2022-

[2022-05-31 08:05] wls981 commented on #68
公司：在途商旅
网址：www.z-trip.cn
LOG：https://static.service.z-trip.cn/logo/z-trip_cn/zaitu-logo.png
地点：上海
联系方式：weiliangsu@z-trip.cn
场景：统一网关

[2022-05-31 08:05] luoxihong commented on #68
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-06-01 02:53] MichaelDeSteven opened #3463 "[Question] test code about tars-plugin"
### Question

when I run test in the tars-plugin, I found some test is fail.
Here are error test list and message.
![image](https://user-images.githubusercontent.com/51652084/171318097-49d645ca-a072-4471-9f1c-f41253bfa1ce.png)
![image](https://user-images.githubusercontent.com/51652084/171318127-38e743e8-6961-4b2e-bc22-6565323febcd.png)
![image](https://user-images.githubusercontent.com/51652084/1

[2022-06-01 03:02] Summary-wcj commented on #3461
thank you

[2022-06-01 03:04] moremind commented on #3461
please tell me your shenyu version,zookeeper version and detail log.

[2022-06-01 04:41] waiting0324 commented on #1005
[【Apache ShenYu 高性能网关】HTTP 服务注册 源码分析](https://juejin.cn/post/7103865514258071566)

[2022-06-01 05:46] Summary-wcj commented on #3461
master branch

[2022-06-01 05:47] Mayank-KS commented on #3274
Is there some material you recommend for writing the unit tests? I want to contribute but I don't know where to get started.

[2022-06-01 07:28] li-keguo commented on #3461
I also encountered the same situation, zk version tested 3.7 and 3.8

[2022-06-01 07:46] Summary-wcj commented on #3461
Is this the source code of sofa? Did you meet it, too? What's a good way now

[2022-06-01 09:15] zouchangfu opened #3464 "[Task] develop mock plugin"
### Description

Develop a mock plugin that allows users to return mock data through configuration.

### Task List

1. add MockPlugin
2. thie admin side can configure mock data

[2022-06-01 09:17] zouchangfu opened #3465 "[Task] develop AliCloud's SLS log server plugin"
### Description

Develop a plugin that can push log data to AliCloud's SLS log server

### Task List

_No response_

[2022-06-01 09:24] li-keguo commented on #3461
yes ! We are trying to fix it, if you are interested in this topic, please feel free to contribute~

[2022-06-01 09:29] li-keguo commented on #3464
than is good idea.

Interested friends can participate

[2022-06-01 09:38] moremind commented on #3463
this maybe bug.

[2022-06-01 09:47] lahmXu commented on #3463
It's my fault. I'll fix it

[2022-06-01 10:13] erdengk commented on #3274
@Mayank-KS

Before you start contributing, I recommend that you read the [Contributor Guidelines](https://shenyu.apache.org/community/contributor-guide).

You can check the code coverage of ShenYu at this [site](https://app.codecov.io/gh/apache/incubator-shenyu).

Some pr you can refer to:

[in test](https://github.com/apache/incubator-shenyu/pulls?page=2&q=is%3Apr+is%3Aclosed+test+label%3A%22in%3

[2022-06-01 10:15] LiuTianyou commented on #3464
please assign to me.

[2022-06-01 10:35] KevinClair opened #3468 "Thread block when use Http long polling to sync data."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Thread block when run bootstrap.

### Expected Behavior

_No response_

### Steps To Reproduce

1.Use http long polling to sync data.
2.run `bootstrap`;

### Environment

[code]

### Debug logs

Full thread dump Java HotSpot(TM) 64-Bit Server VM (25.151-b12 mixed mode):

"RMI TCP Connection(4

[2022-06-01 10:57] hgaol commented on #3461
I created a PR for this issue. Feel free to leave comment.

[2022-06-01 11:00] hgaol commented on #3461
The root cause is curator version incompatible.

[2022-06-01 13:37] luoweijr opened #3472 "[Question] <dependency of mysql in parent module>"
### Question

I upgrade my shenyu version from **2.3.0** to **2.5.0-SNAPSHOT**. When I start shenyu-admin, get a error as below:

**No suitable driver found for jdbc:mysql://localhost:3306?useUnicode=true&characterEncoding=utf-8&useSSL=false**

I check the pom.xml in parent module, the scope tag of mysql-connector-java is provided. I execute **mvn dependency:tree** in shenyu-admin module, the scop

[2022-06-01 15:04] luoweijr commented on #3472
I try this and it works well. thx

[2022-06-01 15:05] #3472 closed

[2022-06-01 15:54] #3468 closed

[2022-06-01 16:21] #3463 closed

[2022-06-02 01:08] Summary-wcj commented on #3461
In version 2.4.3, there is this version of curator. I have tried it without any problem.  but I have not tried it on the master branch

[2022-06-02 01:38] hgaol commented on #3461
You can pull the newest master branch and test again, it should be fixed. But pay attention, please don't use zk as data sync. I'll fix it in future PR.

[2022-06-02 02:23] Summary-wcj commented on #3461
Well thank you.

[2022-06-02 03:07] hgaol opened #3475 "[Task] Fix sofa, motan and dubbo don't work issue caused by Curator version incompatible in bootstrap"
### Description

Since sofa, motan and dubbo are not compatible with curator ver 5.2.1, which is used in `bootstrap`. So downgrade to 4.0.1 to make sure they're all works well. More details can refer to issue #3461 and PR #3470 .

What the task mainly do is to replace `CuratorCache` with `TreeCache`, which is both exists in curator 4.0.1 and 5.2.1. Feel free to leave any comment.

### Task List

1

[2022-06-02 07:20] Summary-wcj commented on #3461
Hello, which version of ZK synchronization data is available

[2022-06-02 08:24] #3475 closed

[2022-06-02 08:29] #3362 closed

[2022-06-02 12:51] hgaol commented on #3461
Hi @Summary-wcj , the PR which fix the zk data sync issue has been merged. Now you can pull the master branch and use zk data sync~
The versions of supported ZK should be >= 3.5.

[2022-06-02 15:21] renzhuyan opened #3477 "[Task] Ignore static header scan"
### Description

Ignore static header scan

### Task List

_No response_

[2022-06-02 16:07] #3477 closed

[2022-06-03 00:36] #3460 closed

[2022-06-03 00:43] #3459 closed

[2022-06-03 02:23] #3446 closed

[2022-06-03 03:02] dragon-zhang commented on #3359
see https://github.com/apache/incubator-shenyu/pull/3438 , there are other jobs mentioned in the PR, if you are interested you can participate. Please close this issue if you think it's ok.

[2022-06-03 15:17] renzhuyan opened #3480 "[Task] Remove fastjson"
### Description

Remove fastjson

### Task List

_No response_

[2022-06-04 02:58] #3480 closed

[2022-06-04 09:25] dragon-zhang commented on #3406
Thanks for your contribution! @lahmXu

[2022-06-04 09:25] #3406 closed

[2022-06-04 09:25] #3026 closed

[2022-06-04 16:49] dragon-zhang commented on #3450
I listed all the tasks. It seems that the workload is heavy. What tasks would you like to complete? @MichaelDeSteven

[2022-06-04 17:04] MichaelDeSteven commented on #3450
here is my progress: brpc-java not support generic call, so this is a challenge for me. Now I have refer some doc and code, almost complete brpc plugin, but there need some debug and test.
So I would like to complete brpc plugin（task 1、2、5、6、7） at lease.

[2022-06-04 17:12] MichaelDeSteven commented on #3450
If the grpc plugin part is no emergency, I can task all this task.

[2022-06-05 02:57] k11hao opened #3483 "[Question] 多接口调用，多路数据分发"
### Question

后续是否有多路分发插件开发的计划，或在现有的插件组合实现该功能
比如A系统调用网关，网关同时调用B、C系统，这时候A不关心B、C 2个系统是否收到数据，如果确需要回明确是否收到，单独再加回调接口。

[2022-06-05 04:05] dragon-zhang commented on #3450
No emergency, just make it the best. As for `generic call`, I will try to provide this feature for `brpc`.

[2022-06-05 04:07] dragon-zhang commented on #3450
task6 is depend on task3 and task5

[2022-06-05 04:22] MichaelDeSteven commented on #3450
all right. My previous solution was `bytebuddy` which can `dynamic generate class` instead of `generic call`. This way is refer to `tars-plugin`.

[2022-06-05 04:28] MichaelDeSteven commented on #3450
BTW, at the beginning I thought task3 is about grpc part which names `shenyu-plugin-grpc`.  But when I look it describe again, maybe this is typo. It should display like that add `shenyu-plugin-brpc`.

[2022-06-05 04:35] dragon-zhang commented on #3450
yes, text had been fixed.

[2022-06-05 04:39] dragon-zhang commented on #3450
Sounds good, you can do this first as you think. If the brpc supports it, then do the transformation. How it's feel?

[2022-06-05 04:45] MichaelDeSteven commented on #3450
Sure. brpc task3 is critical. I will finish it first.

[2022-06-05 04:51] dragon-zhang commented on #3450
BTW, have you joined the contributor wechat group ?

[2022-06-05 05:01] MichaelDeSteven commented on #3450
Not yet. Maybe I can join now.

[2022-06-05 05:18] dragon-zhang commented on #3450
Please add wechat Z18179469818

------------------ Original ------------------
From: SongTao Zhuang ***@***.***&gt;
Date: Sun,Jun 5,2022 1:01 PM
To: apache/incubator-shenyu ***@***.***&gt;
Cc: dragon-zhang ***@***.***&gt;, Mention ***@***.***&gt;
Subject: Re: [apache/incubator-shenyu] [Task] add BrpcPlugin to support brpc(Issue #3450)

all right. My previous solution was bytebuddy which can dynami

[2022-06-05 05:50] Summary-wcj commented on #3461
Thank you very much. I have seen the updated records

[2022-06-05 08:30] dragon-zhang opened #3484 "[Task] client lossless registration"
### Description

At present, almost all clients(exclude `dubbo`) have a problem: when the spring container has not been started, it reports the registration information to `shenyu-admin`. If there is traffic coming, the downstream system call will fail directly (for RPC clients, it will report an error such as `no provider`; for HTTP clients, it will fail directly, or the call times out), which al

[2022-06-05 08:49] dragon-zhang opened #3485 "[Task] simplify the use of client annotations with @AliasFor"
### Description

For example, below is how we use `@ShenyuXXXXClient` now:
[code]
After use `@AliasFor` with `@ShenyuSpringCloudClient` like below:
[code]
We can simplify client annotation usage to:
[code]
You can refer to the implementation scheme of `shenyu-client-springcloud`, don't forget to use `org.springframework.core.annotation.AnnotatedElementUtils#findMergedAnnotation`.

And if you have

[2022-06-05 09:04] gaochuang98 opened #3486 "[BUG] <shenyu-client and SofaService buildMetaData path question>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

shenyu-client  and SofaService buildMetaData pathquestion，if you use @ShenyuSofaClient on class . class path have used twice。
this is 。This is a subtask of #3407

### Expected Behavior

use only once

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

![1654419771

[2022-06-05 09:11] gaochuang98 commented on #3484
I can do spring mvc and tars

[2022-06-05 09:54] renzhuyan opened #3489 "[Task] Admin module Oracle add operation_ record_ Log table processing"
### Description

Admin module Oracle add operation_ record_ Log table processing

### Task List

_No response_

[2022-06-05 10:24] lahmXu commented on #3484
Please assign 5 and 7 to me, thanks!

[2022-06-05 10:28] renzhuyan commented on #3484
Please assign 3 to me, thanks!

[2022-06-05 10:34] #3489 closed

[2022-06-05 10:39] renzhuyan commented on #3484
1 also assigned to me, thank you！

[2022-06-05 12:45] #3486 closed

[2022-06-05 14:55] #3405 closed

[2022-06-06 09:41] Albertsirius commented on #3485
Hi, @dragon-zhang , can you assign ShenyuSpringMvcClient task to me?

[2022-06-06 13:58] ShawnSiao commented on #3485
Can i take task 6，thank you.

[2022-06-06 14:06] ShawnSiao commented on #3484
Please assign 4 to me,  thank you!

[2022-06-06 14:09] yu199195 commented on #3483
pls in english with new issue， i will close this~ thanks

[2022-06-06 14:12] ChineseTony commented on #3485
Can i take task 5，thank you.

[2022-06-07 14:49] moremind opened #3495 "[Task] Build Elastic and Fixed Connection Pool"
### Description

In SpringBoot upgrade, elastic and fixed pool have remove from reactor-netty 0.9.4, if you want to use elastic connection pool, you must build elastic and fixed pool by your hand.
I have build fixed connection pool, but reactor-netty do not release new version. so, I can't build elastic connection pool.
Build elastic connection pool will wait reactor-netty version.

### Task List

[2022-06-08 03:19] weihubeats commented on #3485
Can i take task 3，thank you.

[2022-06-08 04:30] #3359 closed

[2022-06-08 04:31] #3278 closed

[2022-06-08 11:55] #3461 closed

[2022-06-08 17:43] lianjunwei opened #3504 "[Task] <Add the initialization SQL of the "documentation" menu for the admin module. >"
### Description

Add the initialization SQL of the "documentation" menu for the admin module.

### Task List

1. Add the initialization SQL of the "documentation" menu .
2.  Add the initialization SQL of the "API document" secondary menu.

[2022-06-09 04:13] hutaishi commented on #3344
Thanks for the feedback, I will test this.

[2022-06-09 04:57] ZkeyZzz opened #3506 "签名插件如何验证body或者formdata里的参数"
### Question

签名插件如何加上body或者formdata里的参数参与签名？能否增加这个扩展呢

[2022-06-09 05:41] yu199195 commented on #3506
pls in  english on  new issue, i  will close this issue

[2022-06-09 06:20] ZkeyZzz opened #3507 "Signature plugin extension"
### Question

How does the signature plugin add body or form request parameters to signature verification?

[2022-06-09 06:39] #3506 closed

[2022-06-09 07:00] yu199195 commented on #3507
We will consider adding this feature in the future, and you can provide it as well~

[2022-06-09 07:06] #3397 closed

[2022-06-09 07:07] ZkeyZzz commented on #3507
I have never used webFlux, I am very unfamiliar with this, I feel confused when I read the source code, I have read it for a long time and don't know how to judge the request parameters

[2022-06-09 07:11] ZkeyZzz commented on #3507
I want to extend an open platform plug-in to provide external interface services, I need to ensure the security of the interface

[2022-06-09 07:12] yu199195 commented on #3507
maybe you can learn about webFlux, you can also enter the shenyu community (dev@shenyu.apache.org or wechat)for help

[2022-06-09 07:56] #1233 closed

[2022-06-09 07:56] #1762 closed

[2022-06-09 07:56] #1807 closed

[2022-06-09 07:57] #1863 closed

[2022-06-09 07:57] #1951 closed

[2022-06-09 07:58] #2250 closed

[2022-06-09 07:59] yu199195 commented on #3416
see this ： https://shenyu.apache.org/docs/next/plugin-center/authority-and-certification/waf-plugin

[2022-06-09 08:41] qicz opened #3508 "[Volunteer] support CORS whitelist"
### Volunteer help

support CORS request white list

[2022-06-09 14:00] #2829 closed

[2022-06-09 14:10] dragon-zhang opened #3509 "[Task] selector/rule uses tree query matching algorithm"
### Description

I checked all the implementations of `org.apache.shenyu.plugin.base.condition.judge.PredicateJudge`, and now I only think of these two optimization points. If you have some better ideas, please leave a message below.

### Task List

1. - [ ] uses tree query matching algorithm in `org.apache.shenyu.plugin.base.condition.judge.MatchPredicateJudge`; @damonxue
2. - [ ] use `KMP` in `o

[2022-06-09 15:53] moremind opened #3511 "[Task] upgrade shenyu dependency task1"
### Description

upgrade shenyu dependency and make sure dependency version test case.

### Task List

1. 1.  [x] upgrade shenyu resilience4j plugin dependency and test. @moremind
2. 2.  [x] upgrade shenyu hystrix plugin dependency and test. @moremind
3. 3.  [x] upgrade shenyu jwt plugin dependency and test. @moremind
4. 4.  [x] upgrade shenyu logging-rocketmq plugin dependency and test. @moremind

[2022-06-10 02:54] LBJWt opened #3512 "[Question] dubbo+nacos，gateway not success"
### Question

The client keeps returning：
`c.d.s.ShenyuClientURIExecutorSubscriber : host:192.168.56.1, port:20888 connection failed, will retry`
sync and The registry use nacos .

[2022-06-10 04:22] moremind commented on #3429
[code]

your resposne as above? this is normal, because, first exception from sentinel, and second exception because of not exist service no media type, so set contentType will throw unsupported exception.
![image](https://user-images.githubusercontent.com/20184263/172989597-c7af750c-8113-45d8-8f3f-6404d548ce55.png)

[2022-06-10 04:23] moremind commented on #3429
@ljwhx2002 please close this issue.

[2022-06-10 04:25] moremind commented on #3512
please describe this question with your shenyu version and your debug log.

[2022-06-10 06:53] erdengk opened #3513 "[GLCC 2022]Improve integration tests and their processes"
## Improve integration tests and their processes

### Description

The dockerfile-maven-plugin plug-in currently used by ShenYu has stopped maintenance and needs to be replaced with a new packaging plug-in. At present, ShenYu's integration testing process is not perfect, and the integration testing process needs to be improved. The documentation on the official website also has room for improvemen

[2022-06-10 06:58] erdengk opened #3514 "[GLCC 2022]Writing Helm Charts for ShenYu"
## Writing Helm Charts for ShenYu

### Description

Helm can help users to quickly deploy projects in Kubernetes. This project aims to write helm chart files for ShenYu.

### Task

- [ ] Complete the writing of Helm Chart
- [ ] Implement Chart's CI and Release process
- [ ] Update release documentation.

### Project technical requirements

Docker, Kubernetes, Helm

### Expected completion results

[2022-06-10 07:06] erdengk opened #3515 "[GLCC 2022]Optimize the front-end page of ShenYu-admin"
## Optimize the front-end page of ShenYu-admin

### Description

The purpose of this project is to optimize the front-end of ShenYu-admin. At present, the front-end function of admin is not perfect. The project requires to optimize the front-end page effect and add verification codes for the login function.

### Task

- [ ] Optimize the front-end page effect
- [ ] Login function added verification

[2022-06-10 08:16] weihubeats commented on #3485
Can i take task 8，thank you.

[2022-06-10 08:22] LBJWt commented on #3512
shenyu : 2.4.3
shenyu-admin  config :
`shenyu:
  register:
    registerType: nacos #http #zookeeper #etcd #nacos #consul
    serverLists: nacos:8848 #http://localhost:2379 #localhost:8848
#    registerType: zookeeper #http #zookeeper #etcd #nacos #consul
#    serverLists: localhost:2181 #http://localhost:2379 #localhost:8848
    props:
      sessionTimeout: 5000
      connectionTimeout: 2000

[2022-06-10 09:20] Franz362100 opened #3518 "[Question] DataBufferLimitException: Exceeded limit on max bytes to buffer : 2097152"
### Question

How do I increase this limit?

[2022-06-10 10:23] dragon-zhang commented on #3485
sure, thanks

[2022-06-10 10:36] moremind commented on #3512
please check nacos exist service？

[2022-06-10 10:39] moremind commented on #3512
if nacos is not exist service please check nacos url

[2022-06-10 10:40] LBJWt commented on #3512
![image](https://user-images.githubusercontent.com/16012187/173048329-d47c7cc8-1963-4699-be47-e5f694a8c7a2.png)

[2022-06-10 11:44] moremind commented on #3512
do you try shenyu master? I will try test it.

[2022-06-10 13:55] weihubeats commented on #3485
Can i take task 7，thank you.

[2022-06-10 14:53] dragon-zhang opened #3521 "[Task] add integration tests for shared thread pool"
### Description

As a subtask of https://github.com/apache/incubator-shenyu/issues/3026, we need to add some integration tests to make sure that shared thread pool is working fine.

### Task List

1. - [x] add integration test in `shenyu-integrated-test-alibaba-dubbo`; @renzhuyan
2. - [x] add integration test in `shenyu-integrated-test-apache-dubbo`; @dragon-zhang
3. - [x] add integration test in

[2022-06-10 14:55] dragon-zhang commented on #3521
I will do task2 and task6, the other tasks are yours. It is recommended that other tasks by referring to task2 after I complete it.

[2022-06-10 15:17] dragon-zhang opened #3523 "[Task] add AOP for almost all examples"
### Description

you need to add some `aspects` in `example` module that forcing spring container to create `AOP Proxy`, so we can make sure that all proxy client sdk works fine when users use AOP.

you can find some useful informations in https://github.com/apache/incubator-shenyu/pull/2834.

if you find some bug, PRs are welcomed.

### Task List

1. - [x] add AOP test for `shenyu-client-alibaba-

[2022-06-10 15:24] renzhuyan commented on #3521
Please assign 1 to me, thank you!

[2022-06-10 16:06] qicz commented on #3518
[code]

update the max-in-memory-size value, the default is 2mb 2097152bytes.

[2022-06-10 16:07] MichaelDeSteven commented on #3450
@dragon-zhang Sorry about that I can't solve task3 currently. Which must use `generic call` to make it success. I have tried `bytebuddy`  such complex way. But `brpc-java` has many difference with `tars-java` so the way isn't work it. I suppose that task3 can be done if `brpc-java` support `generic call`.  After that I can continue finish other subtask during this time I can do other contribution.

[2022-06-10 22:23] LBJWt commented on #3512
yes ,same result

[2022-06-11 01:05] LBJWt commented on #3512
I changed the synchronization method to websocket and it was successful

[2022-06-11 03:11] weihubeats commented on #3508
I understand the task is to set allowedOrigins to be configurable?

[2022-06-11 03:46] weihubeats commented on #3523
Please give me tasks 1 and 2, thank you

[2022-06-11 04:05] MichaelDeSteven commented on #3521
plz asign task3 to me, thx.

[2022-06-11 04:06] MichaelDeSteven commented on #3523
plz asign task3 to me, thx.

[2022-06-11 04:25] LiuTianyou commented on #3464
@zouchangfu  Is it convenient to leave your contact information?

[2022-06-11 05:24] zouchangfu commented on #3464
@LiuTianyou ok

[2022-06-11 05:40] moremind commented on #3511
@li-keguo please assgin to @renzhuyan

[2022-06-11 05:45] li-keguo commented on #3511
He has to leave a message so I can find him from the list
@renzhuyan

[2022-06-11 06:13] dragon-zhang commented on #3450
Got it,I readjusted the task sequencing, task6,7,8,9 will be blocked now. You can continue to complete other tasks. When you feel that the code of each module has been completed, you can submit PR by module.

[2022-06-11 10:08] renzhuyan commented on #3511
I will do it, Thank you.

[2022-06-11 13:30] gaochuang98 commented on #3523
plz asign task  5 to me, thx.

[2022-06-11 14:16] damonxue commented on #3509
I'm interested in it,pls assign to me. After discussing with you, I will finish it.

[2022-06-11 14:34] ShawnSiao commented on #3521
Please assign 5 to me, thank you!

[2022-06-11 14:35] ShawnSiao commented on #3523
please asign task 7 to me, thank you.

[2022-06-11 14:51] moremind commented on #3511
I have upgrade sentinel to 1.8.3, resilience4j to 1.7.1, hystrix to 1.5.18

[2022-06-11 15:30] dragon-zhang commented on #3509
ok, thanks, I will detail this task as soon as possible.

[2022-06-11 15:40] renzhuyan commented on #3523
please asign task 4 to me, thank you.

[2022-06-12 01:46] Albertsirius commented on #3523
please assign task 8 to me, thanks

[2022-06-12 15:33] moremind commented on #68
company : 创业惠康科技股份有限公司
website：https://bsoft.com.cn/

Location: Hangzhou, China

Scene:统一API应用网关

[2022-06-13 00:15] LBJWt commented on #3512
The problem is solved. The reason is that the nacos sync package is not import. The master's bootstrap only has nacos without the import of the sync package. Others are import. this https://shenyu.apache.org/zh/docs/deployment/deployment-quick/  package is the same  question .
[code]

[2022-06-13 00:42] Franz362100 commented on #3518
thank you

[2022-06-13 00:43] #3518 closed

[2022-06-13 03:30] k11hao opened #3543 "data multi-channel distribution"
### Question

There is a scenario such as:
The HR system needs to distribute data to multiple systems how should it be done,
Will such a plugin be developed in the future?

[2022-06-13 06:07] moremind commented on #3512
do you want to contribute to shenyu? if yes, please fork and contribute to shenyu

[2022-06-13 06:08] moremind commented on #3512
do you want to contribute to shenyu? if yes, please fork and contribute to shenyu

[2022-06-13 06:27] damonxue commented on #3509
U can find me in wechat group 'Apache Shenyu社区交流4群' by name 'Fibonacci'.

[2022-06-13 06:52] zhangchenbiao opened #3544 "接入客户端sofa时，泛化调用网关层拿到的结果会默认加上type, fileds，fieldNames 这些字段"
### Question

sofa服务接入网关，调用暴露的接口会对返回结果做一些封装处理，sofa泛化调用 结果会统一封装成GenericObject对象，GenericObject中重写了toString方法，而GenericObject是只读模式，改不了源代码，
![image](https://user-images.githubusercontent.com/26429176/173295178-0ae60412-12ba-4809-b1aa-58d19146eed8.png)，导致正常的请求返回成了这样，
![image](https://user-images.githubusercontent.com/26429176/173295899-475f07d5-7e23-4609-8672-3a9d0a44f069.png)
，实际期望的返回结果应该是这样的
![image](

[2022-06-13 08:27] zhangchenbiao commented on #3544
还有一点 如果下游服务返回Array，程序会报错，ArrayList 无法转GenericObject
![image](https://user-images.githubusercontent.com/26429176/173311674-db69cca1-c41b-40a8-930d-69def56b101d.png)
![image](https://user-images.githubusercontent.com/26429176/173312091-3dce6b9b-b3c0-498c-8d9f-5fe6060ac0bf.png)

[2022-06-13 08:56] sunshujie1990 commented on #3523
please assign task 6 to me, thanks

[2022-06-13 09:04] sunshujie1990 commented on #3521
Please assign task 4 to me, thank you!

[2022-06-13 09:56] dragon-zhang commented on #3544
@zhangchenbiao can you fix this ?

[2022-06-13 10:47] dragon-zhang commented on #3485
Thanks for your contribution !

[2022-06-13 10:47] #3485 closed

[2022-06-13 10:53] dragon-zhang commented on #3485
If you have other great ideas, please submit a new ISSUE .

[2022-06-13 11:19] zhangchenbiao commented on #3544
本地已修复，自测通过，但是否达到通用标准需要更多场景覆盖

[2022-06-13 12:05] dragon-zhang commented on #3544
It doesn't matter. Submit the PR and the community will help you improve it together.

[2022-06-13 12:48] sunshujie1990 commented on #3521
@dragon-zhang Hi dragon. While adding the `shenyu.sharedPool.enable` property, my ide (IntelliJ IDEA) autocomplete the property key to `shenyu.shared-pool.enable` which results shared thread pool not effective. I think this is because of the implemention does not follow spring-boot's specification.

Shenyu implemention:
[code]

spring-boot doc:
[code]

https://github.com/spring-projects/spring-boo

[2022-06-13 13:24] zzq1314zll commented on #3515
google authenticator?

[2022-06-13 13:37] ZZQ001010 opened #3547 "[Task] Register transaction journal."
### Description

I think the gateway should have the function of recording transaction logs to facilitate troubleshooting between systems.

Record the request message, response message, request time, etc. of a request.

I may need this for the financial system, and if the community needs it, I can desensitize and contribute to the community.

It should be a plugin too.

### Task List

_No response

[2022-06-13 13:59] dragon-zhang commented on #3521
Can you help me find and deal with other similar places?

[2022-06-13 15:23] erdengk opened #3548 "[BUG] There seems to be a bug in the redis mode of the cache plugin"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I want to use redis mode of cache plugin

### Expected Behavior

The redis mode of the cache plugin works fine.

### Steps To Reproduce

1. Configure the cache plugin according to the documentation on the official website：https://shenyu.apache.org/zh/docs/plugin-center/cache/cache-plugin

2.

[2022-06-13 17:16] moremind opened #3552 "[Task] shenyu-plugin-springcloud use shenyu-loadbalancer"
### Description

shenyu-plugin-springcloud use shenyu-loadbalancer

### Task List

1. acquire servers from eureka
2. loadbalancer select server

[2022-06-14 00:10] moremind commented on #3548
because cache plugin use blocking method, this is no allow.

[2022-06-14 01:43] moremind commented on #3548
[code]
this use blocking method get data is not allowed.

[2022-06-14 01:52] moremind commented on #3548
I will submit new pr fix it.

[2022-06-14 02:09] sunshujie1990 commented on #3521
Sure. I will create a new issue to track the problem later.

[2022-06-14 02:19] weihubeats commented on #3552
can i try this

[2022-06-14 03:24] moremind commented on #3552
I have did it. if you wanted, you can contribute issue #3511

[2022-06-14 04:03] #3429 closed

[2022-06-14 05:49] erdengk commented on #3548
@moremind  ok，thanks

[2022-06-14 07:26] yuzhijia88 opened #3555 "can shenyu support httpcopy"
### Question

i want to copy http request in some condition to my test enviroment  . can shenyu support it ?

[2022-06-14 07:31] hgaol opened #3556 "[Task] downgrade curator version to 4.x to compatible with some plugin like sofa"
### Description

some details can refer to #3461 .

Due to the Curator version incompatible issue in bootstrap. I plan to downgrade to version 4.0.1, because this version has been tested works well for sofa/dubbo/motan/tars. Please let me know if any comment.

### Task List

- [x] quick fix: adding back curator dep in bootstrap
- [x] bootstrap-instance
- [x] bootstrap-data-sync
- [x] admin-registe

[2022-06-14 08:50] LBJWt opened #3558 "[Question] gateway use dubbo3.0.8 has error"
### Question

I change  the gateway bootstrap  apache dubbo version to 3.0.8. it does not  work.
I see that `org.apache.shenyu.plugin.apache.dubbo.cache.ApacheDubboConfigCache` method uses `ApplicationModel.getConfigManager().getDefaultConsumer()`, this `getDefaultConsumer()` does not have this method in dubbo3.0.8

[2022-06-14 15:47] lianjunwei commented on #3239
done.

[2022-06-14 15:47] #3239 closed

[2022-06-15 01:10] moremind commented on #3495
I will fix it in this week.

[2022-06-15 02:20] yuzhijia88 commented on #3555
no,no,no ,i not want data from database;

i want to copy online real time request to my test enviroment to do some real test. it looks like tcpcopy ,but i think if  shenyun can support this freature ,it's more convenient

[2022-06-15 02:27] yuzhijia88 commented on #3555
it also looks like  nginx  ngx_http_mirror_module
ngx_http_mirror_module模块
nginx官网公布了nginx1.13.4最新的ngx_http_mirror_module模块，利用mirror模块，业务可以将线上实时访问流量拷贝至其他环境，基于这些流量可以做版本发布前的预先验证，进行流量放大后的压测等等

[2022-06-15 02:52] KevinClair commented on #3555
Sounds great, maybe it's a new feature.You can pull request if you are instreated in.

[2022-06-15 03:06] #3548 closed

[2022-06-16 04:51] qixiaobo opened #3567 "[BUG] Curator need upgrade to new version to avoid endless 'ConnectionState.LOST' log"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

You may refer to this https://issues.apache.org/jira/browse/CURATOR-405

For our case , shenyu prints lots of log like this
![image](https://user-images.githubusercontent.com/2881751/173993277-7f099263-07cf-46c9-a743-0b1fd238e1a8.png)
And this cause filebeat using lots of cpu
![image](https:/

[2022-06-16 05:05] qixiaobo commented on #3567
https://curator.apache.org/breaking-changes.html
So maybe we should upgrade to 4.3.0
https://mvnrepository.com/artifact/org.apache.curator/curator-client/4.3.0

[2022-06-16 05:13] moremind commented on #3558
unsupport dubbo 3.0

[2022-06-16 05:15] #3495 closed

[2022-06-16 05:53] hgaol commented on #3556
Considering Curator version 4.3

[2022-06-16 05:56] hgaol commented on #3567
Hi @qixiaobo , thanks for your advice! we're considering curator version 4.3. We'll do more testing for examples like sofa/dubbo/motan to make sure it works well with them. For now, I've tested it works well with sofa example. More details can refer to this issue #3556 .

[2022-06-16 08:00] hgaol commented on #3567
I also met this before, that's may caused by the net issue. If you want to avoid the endless log, you may can also set log level for specific package or class. Anyway, upgrade to version 4.3 is a good topic, thank you!

[2022-06-16 10:44] sunshujie1990 opened #3570 "[Task] @ConditionalOnProperty trans camelcase to lower case with “-”"
### Description

The following configuration classes use camelcase to separate words in @ConditionalOnProperty which is not following spring-boot's suggest.  We should transfor it to lower case with “-”.

ShenyuNettyWebServerConfiguration
ShenyuThreadPoolConfiguration
HttpClientPluginConfiguration

spring-boot doc
[code]

### Task List

_No response_

[2022-06-17 00:50] john1337 opened #3574 "does shenyu support http pipeline"
### Question

apisix support http pipiline feature,so it will batch http request which will make it more efficient

fyi:https://github.com/apache/apisix/blob/master/docs/en/latest/plugins/batch-requests.md

[2022-06-17 07:23] qixiaobo commented on #3567
So glad to hear this.
Since this is not the common case, I just want to follow your step to upgrade curator version.

[2022-06-17 09:41] #2523 closed

[2022-06-18 10:22] hgaol commented on #3567
Hi @qixiaobo , the curator version has been updated to 4.3.0, you can pull the newest master branch and try again. You can refer to this PR #3569 . If still any issue, welcome to investigate and contribute~

[2022-06-18 10:23] #3556 closed

[2022-06-18 11:43] prFor commented on #3555
It feels like a nice feature

[2022-06-18 14:49] qixiaobo commented on #3567
Thanks for remind, I will try but may not reproduce because it is such a rare case

[2022-06-19 02:12] #3521 closed

[2022-06-20 02:17] HaiqiQin opened #3588 "[Task] Add the unit test of logging-elasticsearch-plugin"
### Description

This is the task of gsoc. I need to add the unit test of logging-elasticsearch-plugin.

### Task List

1.Add the unit test of logging-elasticsearch-plugin

[2022-06-20 02:23] HaiqiQin opened #3589 "[Task] Add the integrated test of logging-elasticsearch-plugin"
### Description

This is the task of gsoc. I need to add the integrated test of logging-elasticsearch-plugin

### Task List

1.Add the integrated test of logging-elasticsearch-plugin

[2022-06-20 02:24] HaiqiQin opened #3590 "[Task] Add the document of logging-elasticsearch-plugin"
### Description

This is the task of gsoc. I need to add the document of logging-elasticsearch-plugin

### Task List

1.Add the document of logging-elasticsearch-plugin

[2022-06-20 03:49] dragon-zhang commented on #3484
thanks, guys, happy contribution !

[2022-06-20 03:49] #3484 closed

[2022-06-20 03:49] #3523 closed

[2022-06-20 08:31] wu-sheng opened #3592 "[Bug] Apache Shenyu's SkyWalking plugin NPE"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I just want to forward this https://github.com/apache/skywalking/issues/9250 reported by @always-web to SkyWalking

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

_No response_

### Debug logs

_No response_

### Anything else?

We are not sure w

[2022-06-20 09:24] HaiqiQin commented on #3588
#3591

[2022-06-20 09:26] #3588 closed

[2022-06-20 12:11] hutaishi commented on #3592
Sorry for not fully considering a type context like IgnoredTracerContext.
A fix PR has now been submitted：https://github.com/apache/skywalking-java/pull/215

[2022-06-21 01:54] yu199195 commented on #3592
it be merged ： https://github.com/apache/skywalking-java/pull/215

i will close this issue，thanks

[2022-06-21 02:14] #3592 closed

[2022-06-21 08:36] Franz362100 opened #3595 "[Question] I have set the timeout for the divide-plugin, but it will still say time out."
### Question

![image](https://user-images.githubusercontent.com/65158204/174755534-38c367ed-1f69-40fa-a81d-c072053e2921.png)

[code]

[2022-06-22 09:04] Franz362100 commented on #3595
Is this timeout in milliseconds? Isn't it enough that I set it like this?
Thank you for your answer. I have solved the problem through other means.

[2022-06-22 09:04] #3595 closed

[2022-06-22 11:54] wbzhou opened #3601 "when thrift can be supported?"
### Question

when thrift can be supported?

[2022-06-22 16:21] lianjunwei opened #3603 "[Task] <Shenyu-admin: Fix API document failed to build because of NPE.>"
### Description

Fix the NPE after removing fastjson and changing to gson.

### Task List

_No response_

[2022-06-23 03:15] JooKS-me opened #3605 "[BUG] Integration test errors for SharedThreadPool occur occasionally"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

see https://github.com/apache/incubator-shenyu/runs/7016151768?check_suite_focus=true

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2022-06-23 05:51] ChenchengY opened #3606 "[BUG] <Docker mismatch cannot be resolved>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I cannot run ShenYu through docker since I use arm64 architecture, the localhost:9095 always return the page as l listed below:

![1655963370841](https://user-images.githubusercontent.com/85370951/175224709-1479522a-547c-4fde-ba33-3cca92759635.png)

![1655963303386](https://user-images.github

[2022-06-23 06:52] JooKS-me commented on #3606
The image in docker hub can't support amd64 now, but it'll be resolved in the next release.

BTW, if you want to get the latest image, you can also see : https://github.com/apache/incubator-shenyu/pkgs/container/incubator-shenyu%2Fadmin . Unlike on docker hub, here is the latest image built on master.

[2022-06-23 07:02] ChenchengY commented on #3606
Thank you, it works well

[2022-06-23 07:02] #3606 closed

[2022-06-23 14:49] #3512 closed

[2022-06-23 16:16] #3552 closed

[2022-06-24 00:09] ChenchengY commented on #3515
Hi, I have a question regarding this issue, is this a pure front-end project? I would like to confirm that the verification code is generated and used only in the front end and we don't need to use Shiro or other backend code to control the verification code generation.

[2022-06-24 01:13] moremind opened #3610 "[Task] refeactor shenyu-logging-module"
### Description

refeactor shenyu-logging-module,refeactor logging-common-module

### Task List

1.refeactor shenyu-logging-common module, extract shenyu-logging-common.
2.shenyu logging module will develop with factory strategy and comsumer strategy.

[2022-06-24 01:14] moremind commented on #3610
I will do it after finishing shenyu-logging-aliyunsls

[2022-06-24 04:41] #3605 closed

[2022-06-24 08:54] qicz opened #3613 "[BUG] shenyu-bootstrap High memory usage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/2174082/175500449-09ae067d-b399-4b41-b954-ae9ad9804cff.png)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2022-06-24 10:14] dragon-zhang opened #3614 "[Task] admin delay update handle in selector"
### Description

admin delay update handle in selector

### Task List

- [ ] admin delay update handle in selector

[2022-06-25 03:54] 541538356 opened #3617 "shenyu-spring-boot-starter-client-sofa 缺少 ContextRegisterListener"
### Question

nacos sofa 客户端启动后，nacos 服务列表中没有出现 shenyu.register.service.sofa context 服务

[2022-06-25 04:32] yunlongn opened #3618 "[Task] update dubbo 3.0.9 and compatible with lower versions"
### Description

update dubbo 3.0.9 and compatible with lower versions

### Task List

1. shenyu-bootstrap  dubbo update  to dubbo 3.0.9
2. Test client [apache.dubbo.version 2.7.15 ] connection is ok
3. Test client [alibaba.dubbo.version 2.6.5 ] connection is ok
4. Test client [apache.dubbo.version 3.0.9 ] connection is ok

[2022-06-25 04:35] yunlongn commented on #3618
please assign to me

[2022-06-25 07:31] hutaishi opened #3620 "[Task] <ShenyuWebHandler The modification of the plugin does not take into account concurrency issues and the current requests being processed>"
###  ShenyuWebHandler Description

The gateway processes requests concurrently and has requests in process, but the processor's plug-in modifications are really single-threaded.

### class: org.apache.shenyu.web.handler.ShenyuWebHandler

Examples are as follows.

## Cannot gracefully process a request in progress
![image](https://user-images.githubusercontent.com/12478263/175763256-e72a9f7a-73ab-4

[2022-06-25 17:20] lianjunwei commented on #3504
SQL has been merged into "master".

[2022-06-25 17:20] #3504 closed

[2022-06-26 07:32] moremind commented on #3620
ohh. These operations dependency on subscriber thread...this maybe optimize

[2022-06-26 13:18] dengliming commented on #3613
@qicz Can you try to provide the file of Java Heap Dumps?

[2022-06-26 14:06] lianjunwei opened #3623 "[Task] <Admin, API document enhancement and Optimization: pulling the swagger file supports the "spring cloud" plug-in.>"
### Description

Improve the API documentation module in "Shenyu admin".

### Task List

1.task1[enhancement]：support to pull swaager documents from the "spring cloud" proxy service.
2.task2[Optimization]：Sandbox test, send request to API and receive response logic optimization.
3.fix bug: When the back-end micro service port number is 80 and is not explicitly filled in, fix the error problem of p

[2022-06-26 14:15] lianjunwei commented on #3623
I will pr it.

[2022-06-27 09:08] #3367 closed

[2022-06-27 10:29] #3589 closed

[2022-06-27 11:25] sanduoduoys opened #3625 "Dubbo请求body的`[]`中包含Number类型字段（包括int、long、float等），都被gson强制转化成double"
### Question

![image](https://user-images.githubusercontent.com/62974648/175930782-2dcea5e4-c6cf-42a7-8cf1-1fd00800f87f.png)

![image](https://user-images.githubusercontent.com/62974648/175930803-af64042d-44b0-4c08-987a-f078615f5c34.png)

[2022-06-27 12:36] afumu opened #3627 "[Task] cache the rule match result"
### Description

Cache the match results of RULE into memory to improve the matching speed

### Task List

1.Cache the  rule  match result

2.Get rule from cache

3.Add Integration Test

[2022-06-28 01:22] yunlongn opened #3628 "[Task] Signature plugin extension"
### Description

Signature plugin extension.
Add params and body for signature verification.
about issues #3507

### Task List

1. Add params and body for signature verification.
2. Increase the Signature switch

[2022-06-28 01:24] yu199195 commented on #3625
pls used in english

[2022-06-28 01:33] #3590 closed

[2022-06-28 03:25] ethanwanggg opened #3629 "[BUG] <HttpClientRegisterRepository#doRegister There's no execution for multiple serverList>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="888" alt="image" src="https://user-images.githubusercontent.com/15725711/176083374-ac50ea54-f580-4b3b-9eb7-20be92211bcf.png">

When an exception occurs in the loop, it is thrown, causing the next loop not to execute

### Expected Behavior

_No response_

### Steps To Reproduce

_N

[2022-06-28 07:04] dragon-zhang commented on #3601
Now Shenyu has supported Dubbo which can support `thrift protocol`, but some changes need to be made; Or directly add a `thrift plugin`. Would you like to provide this feature?

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/incubator-shenyu"

[2022-06-29 01:57] dragon-zhang opened #3631 "[Task] use path to search"
### Description

Now `shenyu-admin` use `appName` to search, when an application registers many interfaces, the search results are not accurate enough. It would be nice to use `path` search instead.
<img width="1423" alt="图片" src="https://user-images.githubusercontent.com/38336731/176333886-1a74145b-7257-40e6-987e-b4f054dc1702.png">

### Task List

1. - [x] The backend uses `path` field to search;

[2022-06-29 07:23] #3629 closed

[2022-06-29 08:30] #3614 closed

[2022-06-29 08:44] hero851815 opened #3632 "[Question] <visit gateway2.4.3 response "Internal Server Error">"
### Question

OS:
CentOS Linux release 7.9.2009 (Core)
NAME="CentOS Linux"
VERSION="7 (Core)"

1. Using Binary Packages Deployment.
2. Download `apache-shenyu-incubating-2.4.3-admin-bin.tar.gz` and `apache-shenyu-incubating-2.4.3-bootstrap-bin.tar.gz`.
3. Install them on centos.
4. Start and visit Admin<10.211.55.5:9095> is OK.
5. When I start Bootstrap and visit <10.211.55.5:9195>, it response as

[2022-06-29 10:44] qicz opened #3633 "[BUG] zookeeper sync throw exception KeeperErrorCode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

_No response_

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

[code]

### Anything else?

_No response_

[2022-06-29 10:46] qicz commented on #3633
maybe the curator version does not match the zookeeper, the zookeeper is often difficult to upgrade.

[2022-06-29 12:08] Albertsirius commented on #3631
I want to try the task 1

[2022-06-30 01:20] 847850277 commented on #3631
I want to try the task 2，please asign to me 。

[2022-06-30 01:28] dragon-zhang commented on #3631
check [incubator-shenyu-dashboard](https://github.com/apache/incubator-shenyu-dashboard) project

[2022-06-30 02:05] 847850277 commented on #3631
I've forked it

[2022-06-30 02:06] 847850277 commented on #3631
I've checked it

[2022-06-30 02:58] moremind commented on #3632
this is shenyu spi error.

[2022-06-30 07:04] hero851815 commented on #3632
thank you. I replace the `application.yml`,there is no error response.

[2022-06-30 07:04] #3632 closed

[2022-06-30 09:18] hgaol commented on #3633
I've checked the zookeeper version (3.5.7) and curator version (4.3.0), they should be matched. https://mvnrepository.com/artifact/org.apache.curator/curator-client/4.3.0. Maybe there's other issue like network or something else?

[2022-07-01 02:44] stulzq opened #3639 "[Question] Local Deployment error: can not match selector data: divide"
### Question

Run directly using the source code.

When the client register, the BootstrapApplication has an error log：

[code]

In admin, can not found register info.

![image](https://user-images.githubusercontent.com/13200155/176813096-ae9f43b4-1390-4e17-9ebd-52cf88a7780e.png)

![image](https://user-images.githubusercontent.com/13200155/176813023-6db814f4-6c7a-4452-be2a-d02c9cfddabd.png)

How t

[2022-07-01 02:45] stulzq commented on #3639
**ShenYu Admin**

startup log:

[code]

[2022-07-01 02:46] stulzq commented on #3639
ShenYu Bootstrap

startup log:

[code]

[2022-07-01 02:46] stulzq commented on #3639
.NET Client Register

[code]

[2022-07-01 03:21] yu199195 commented on #3639
you can add selector and rule in divide plugin

[2022-07-01 03:32] stulzq commented on #3639
I used the client to register, but the registration failed

[2022-07-01 03:36] yu199195 commented on #3639
its used  net client？

[2022-07-01 03:38] stulzq commented on #3639
.NET and Go client

[2022-07-01 03:39] stulzq commented on #3639
Go client log

[code]

[2022-07-01 03:42] stulzq commented on #3639
.NET and Go client, it all looks ok.

.NET client cause the BootstrapApplication error: can not match selector data: divide

Go client cause the Admin error:

[code]

In admin, can not found any register info

[2022-07-01 03:43] yu199195 commented on #3639
maybe you can used  donet and go example？

[2022-07-01 03:57] stulzq commented on #3639
我用中文吧，我是拉的master分支的代码，根据官网文档来运行的，使用的client都是.net 和 go 提供的 example ，但是一直无法成功注册，admin也看不到注册信息，我也尝试了二进制文件部署，都是一样的错误。配置文件我只改了 mysql密码，不知道是哪里有问题，我自己也尝试了很久

[2022-07-01 04:13] hgaol commented on #3639
The dotnet client has not published yet. Do you just run the AspNetCore example under dotnet client repo?
Pls pay attention, the register method should match the method with admin. E.g. admin uses http and example should use http.

[2022-07-01 04:18] stulzq commented on #3639
Yes, I use dotnet client repo AspNetCore example, the register method is match

[2022-07-01 04:23] stulzq commented on #3639
解决了，我的锅，我写成了 9195

[2022-07-01 04:23] stulzq commented on #3639
![image](https://user-images.githubusercontent.com/13200155/176823046-fe6846d3-bdde-4b64-b379-c043a8179179.png)

[2022-07-01 04:28] hgaol commented on #3639
I'll change the default registration method to http so anyone can start it without any change. 😄
If it has been fixed, can you help to close this issue?

[2022-07-01 04:31] stulzq commented on #3639
Thanks

[2022-07-01 05:02] lishuo5263 commented on #3639
After you check shenyu port ,go client has problem?

[2022-07-01 05:04] stulzq commented on #3639
Yes, https://github.com/apache/incubator-shenyu-client-golang/issues/20

[2022-07-01 05:13] #3639 closed

[2022-07-01 05:28] stulzq opened #3641 "[BUG] When docInfoJson is empty, will get a NullPointerException"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[code]

![image](https://user-images.githubusercontent.com/13200155/176829433-f2e100d0-e177-4097-a337-24563c18fbf9.png)

### Expected Behavior

No exeption

### Steps To Reproduce

1.Run dotnet client AspNetCore example register by http

2.Restart Admin will get this exception

### Environmen

[2022-07-01 07:34] haibo-duan opened #3643 "[BUG] PluginHandleControllerTest.testQueryPluginHandles throw MissingServletRequestParameterException"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

2022-06-30 20:28:21 [main] WARN  org.apache.shenyu.admin.exception.ExceptionHandlers - missing servlet request parameter
org.springframework.web.bind.MissingServletRequestParameterException: Required request parameter 'currentPage' for method parameter type Integer is not present
        at o

[2022-07-01 08:40] #3643 closed

[2022-07-01 08:49] sbinsun opened #3645 "[Question] How to unregister"
### Question
Clients are automatically registered with the gateway when they start. So is there an API to unregister? In the K8S environment, the IP changed when the service was updated, but because the registration was not cancelled in time, there was still an old IP at the gateway, which caused some traffic requests to fail.

[2022-07-01 08:51] yu199195 commented on #3645
pls in english

[2022-07-01 11:42] qicz commented on #3508
I'm so sorry, I've been too busy to pay attention to your news lately. and I have supported this

[2022-07-02 02:42] Albertsirius commented on #3631
@dragon-zhang
`MetaDataQuery` class only has two fields: `appName` and `pageParameter`
Do I replace `appName` to `path` or simply add `path` field ?

[2022-07-02 03:48] dragon-zhang commented on #3631
replace, and don't forget update .js , .html file.&nbsp;

------------------ Original ------------------
From: Zihao Huang ***@***.***&gt;
Date: Sat,Jul 2,2022 10:42 AM
To: apache/incubator-shenyu ***@***.***&gt;
Cc: dragon-zhang ***@***.***&gt;, Mention ***@***.***&gt;
Subject: Re: [apache/incubator-shenyu] [Task] use path to search (Issue #3631)

@dragon-zhang
 MetaDataQuery class only has two f

[2022-07-02 05:26] lianjunwei opened #3650 "[Task][admin] <API document enhancement: display customized headers and adds a control switch.>"
### Description

Parse the swagger document and display the customized header.

### Task List

- [x] 1.Parse the swagger document and display the customized header.

The next two items are completed by another pr.
- [x] 2.Loading API documents adds a control switch, allowing users to decide whether to turn it on or off.
- [x] 3.The gateway address of the API document supports configuration in the

[2022-07-02 05:54] lianjunwei opened #3651 "[Task][admin refactor] < API document storage strategy adjustment: from local cache to database persistence.>"
### Description

Disadvantages of local cache: when the admin cluster is deployed, large objects need to be stored on each instance, and the problem of how to synchronize cluster instances is additionally introduced. After comprehensive evaluation, the method was abandoned.

### Task List

API document storage strategy adjustment: from local cache to database persistence.

[2022-07-02 14:01] lianjunwei commented on #3650
I will complete this function.

[2022-07-02 14:02] lianjunwei commented on #3651
I will complete this function.

[2022-07-02 14:17] moremind commented on #3511
this task have finished. I will close it.

[2022-07-02 14:17] #3511 closed

[2022-07-03 03:16] renzhuyan opened #3655 "[Volunteer] Add admin mapper unit test"
### Volunteer help

Add the admin module mapper unit test to make it run through H2, mysql, PG and Oracle normally. You can refer to the existing mapper unit test, such as appauthmappertest.

1. - [x] Add alert-template-sqlmap unit test. @847850277
2. - [x] Add operation-record-log-sqlmap unit test. @MichaelDeSteven
3. - [x] Add user-role-sqlmap unit test. @Albertsirius

[2022-07-03 03:42] 847850277 commented on #3655
i want to task 1,please asign to me. thank you.

[2022-07-03 04:27] #3631 closed

[2022-07-03 05:03] Albertsirius commented on #3655
Please assign task 3 to me

[2022-07-03 10:06] nuo-promise opened #3657 "[Task] <Fix Admin have insecure permissions>"
### Description

![image](https://user-images.githubusercontent.com/46160170/177034914-97ed91f2-9714-47df-8382-f4d2096ec8d2.png)

### Task List

1. fix admin have insecure permissions.

[2022-07-04 01:29] noorall commented on #3601
Hello, I want to try this job. Can you assign it to me?

[2022-07-04 03:25] HaiqiQin opened #3659 "[Task] Improve the unit test coverage of shenyu-plugin-metrics"
### Description

At present, the unit test coverage of shenyu-plugin-metrics is not high，and I will increase it.

### Task List

_No response_

[2022-07-04 05:53] gongzhibo opened #3660 "[Question] <title>when body is too long，the body data is truncated，why？"
### Question

![image](https://user-images.githubusercontent.com/19222385/177091148-f20ae41a-bab7-4f1f-9c2b-c6367d9b7ff5.png)

[2022-07-04 06:34] MichaelDeSteven commented on #3655
plz assign task2 to me, thx.

[2022-07-04 07:27] moremind commented on #3660
ShenYu Version?

[2022-07-04 08:32] KevinClair commented on #3660
Check this in `GeneralContextPlugin`

[2022-07-04 08:35] KevinClair commented on #3645
Registration information will be automatically deleted after a certain period of time

[2022-07-04 08:38] gongzhibo commented on #3660
version：2.4.2

[2022-07-04 08:44] moremind commented on #3660
in `org.apache.shenyu.plugin.base.RpcParamTransformPlugin` make sure that

[code]
this is look like https://github.com/apache/incubator-shenyu/issues/3158

[2022-07-04 08:50] gongzhibo commented on #3660
Yes, how to reassign the size of the Databuffer in this place

[2022-07-04 08:58] moremind commented on #3660
not reassign, data buffer is 1024, you can use `return Mono.from(DataBufferUtils.join(serverHttpRequest.getBody())` -> `DataBufferUtils.join()` collect data buffer.

[2022-07-04 08:59] moremind commented on #3660
make sure your code same to above code.

[2022-07-04 09:24] haitun521 commented on #2303
2.4.3 also has this same bug

[2022-07-04 09:47] moremind commented on #3660
[code]
this code not same to
[code]

second code have `DataBufferUtils#join` method, it keep data intactly.

[2022-07-04 10:00] gongzhibo commented on #3660
Thank you very much. It has been solved

[2022-07-05 08:03] #3508 closed

[2022-07-06 01:46] #3641 closed

[2022-07-06 13:41] crazythinking commented on #3425
I encountered the same problem in version 2.4.3.

get response as following:
[code]

[2022-07-06 14:05] #3628 closed

[2022-07-07 00:42] moremind commented on #3425
please open ribbon loadbalancer in shenyu-bootstrap `application.yml`

[2022-07-07 01:23] yunlongn opened #3674 "[Task] Improve the unit test coverage of shenyu-plugin-dubbo"
### Description

At present, the unit test coverage of shenyu-plugin-dubbo is not high，and I will increase it.

### Task List

_No response_

[2022-07-07 02:45] #3659 closed

[2022-07-07 07:58] gongzhibo opened #3676 "[BUG] <title>When the class gsonutils is converted to int type, it will become double type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

[{params={date={intervalDay=0.0}, domain=weather, showDay=今天, action=query, location=[{"city":"北京市","country":"CHN","province":"北京市"}], type=天气, deviceLocation=西安市}}]

### Expected Behavior

[{params={date={intervalDay=0}, domain=weather, showDay=今天, action=query, location=[{"city":"北京市","cou

[2022-07-07 08:05] crazythinking commented on #3425
thx, resolved

[2022-07-07 08:29] impactCn commented on #3676
Can you provide a minimal, runnable demo?

[2022-07-07 09:40] gongzhibo commented on #3676
[
        {
            "params":{
                "date":{
                    "intervalDay":0
                },
                "domain":"weather",
                "showDay":"今天",
            }
        }
    ]

[2022-07-07 09:47] eightroad commented on #3369
from the code ,it seems only support http . Mabey someone implement nacos heardbeat can solve this problem
![image](https://user-images.githubusercontent.com/11894570/177744301-b477f46d-ac24-4a28-bc48-c2b77149e40d.png)

[2022-07-07 13:52] #3620 closed

[2022-07-07 14:21] #2771 closed

[2022-07-07 14:24] yunlongn commented on #3674
I assign for me, You can try other modules

[2022-07-07 14:40] mahaitao617 commented on #68
company: 多点生活（成都）科技有限公司
website: [](https://www.dmall.com/)
Location: Chengdu,China
联系方式：haitao.ma@dmall.com
Scene: 统一网关

[2022-07-08 03:02] fengchangxue opened #3679 "[BUG] When the client (SpringMVC) is configured with isFull=true, the gateway returns "Divide :Rule not found!""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I use full match(isFull=true), but there are problems. Because the client is not fully matched when registering with the gateway. The default registered rule is URI =/ HTTP, which should be URI match/HTTP /**

### Expected Behavior

I use full match(isFull=true), but there are problems. Becau

[2022-07-08 03:19] dragon-zhang commented on #3679
Can you change it to register `/http/` with `startsWith`?

[2022-07-08 03:28] fengchangxue commented on #3679
Did you say change the URI to "/ HTTP/" to match? If I tried it, I'll get the same error

[2022-07-08 03:56] dragon-zhang commented on #3679
I tried in the master branch, no problem.

[2022-07-08 03:56] dragon-zhang commented on #3679
check https://github.com/apache/incubator-shenyu/pull/3273 ,
![图片](https://user-images.githubusercontent.com/38336731/177913961-52c933e6-d8c6-454b-a1dd-465e0edf3828.png)

[2022-07-08 06:16] #3660 closed

[2022-07-08 07:53] 847850277 opened #3680 "[Task] Improve the unit test coverage of shenyu-client-http"
### Description

At present, the unit test coverage of shenyu-client-http is not high，and I will increase it.

### Task List

1. - [ ] add springmvc unit test coverage @847850277

[2022-07-08 13:17] renzhuyan commented on #3655
Thank you for your contribution.

[2022-07-08 13:17] #3655 closed

[2022-07-08 13:26] #3680 closed

[2022-07-08 16:12] Rubenmp commented on #2303
Just in case it helps.

**I had the same error in a personal project and I was able to solve it.**
I was using _webClient_ ('org.springframework.boot:spring-boot-starter-webflux:2.7.1') for async calls and getting this annoying errors polluting stderr:
[code]
This code was throwing the errors:
[code]
but I solved it using a fallback:
[code]

**Why?**
Look at the different timeout methods in _react

[2022-07-09 17:01] qicz opened #3686 "[BUG] Streaming file download through shenyu can not open"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

down one excel bug shenyu, the excel can not open

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2022-07-10 01:49] moremind opened #3687 "[BUG] shenyu webclient occur null point exception"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

throw null point exception

### Expected Behavior

return right result

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

in shenyu-httpclient WebClientPlugin line number#66

### Anything else?

_No response_

[2022-07-11 03:14] #3679 closed

[2022-07-11 03:15] #3625 closed

[2022-07-11 03:15] #3603 closed

[2022-07-11 03:55] dragon-zhang opened #3688 "[Task] enable shared thread pool as default"
### Description

enable shared thread pool as default.

### Task List

_No response_

[2022-07-11 03:56] dragon-zhang opened #3689 "[Task] add debug information to the response header"
### Description

add debug information to the response header

### Task List

1. - [ ] add debug information to the response header;
2. - [ ] add doc for this new feature;

[2022-07-11 03:59] dragon-zhang opened #3690 "[Task] use `startsWith` operator as default when `isFull` is true"
### Description

check https://github.com/apache/incubator-shenyu/pull/3273 , change to `startsWith` can get a better performance.

use `startsWith` operator as default when `isFull` is true, now just found `divide`, need to check other plugins.

![图片](https://user-images.githubusercontent.com/38336731/177913961-52c933e6-d8c6-454b-a1dd-465e0edf3828.png)

### Task List

_No response_

[2022-07-11 06:28] fengchangxue opened #3691 "[Question] Can the version number be displayed on the admin page?"
### Question

The version number be displayed on the admin page?

[2022-07-11 08:08] fengchangxue opened #3692 "[Question] From "https://archive.apache.org/dist/incubator/shenyu/2.4.3/apache-shenyu-incubating-2.4.3-bootstrap-bin.tar.gz" link download and deployment，could not passes custom header parameters!"
### Question

From "https://archive.apache.org/dist/incubator/shenyu/2.4.3/apache-shenyu-incubating-2.4.3-bootstrap-bin.tar.gz" link download and deployment，Could not passes custom header parameters!

[2022-07-12 01:10] 847850277 commented on #3690
Hi,I want to try. can assign to me?

[2022-07-12 02:33] damonxue opened #3696 "[Question] <license and dependencies license check script>"
### Question

a script to check dependencies license.

when release a new version, we should check dependencies license one by one with eyes now. so i see dubbo done this in a script[1][2], so rise this question.

[1]  https://github.com/apache/dubbo/issues/3840
[2]  https://github.com/apache/dubbo/pull/3941

[2022-07-12 02:36] yu199195 commented on #3696
i think maybe add this license check

[2022-07-12 03:08] damonxue commented on #3696
ok,  i will switch this to a task.

[2022-07-12 03:57] damonxue opened #3697 "[Task] <license and dependencies license check script>"
### Description

task about : [#3696](https://github.com/apache/incubator-shenyu/issues/3696)

1. Every file should check license-header.txt.
    refer to [dubbo #6060](https://github.com/apache/dubbo/pull/6060)
2. dependencies license check script.
    refer to
    [dubbo #3941](https://github.com/apache/dubbo/pull/3941)
    [history licenseCheck.sh](https://github.com/apache/dubbo/commits/3.0/li

[2022-07-12 10:45] damonxue commented on #3697
@yu199195 so, should i make a module with the name 'shenyu-build-tools' or some other name?  and the licenseCheck use shell script or language script?

[2022-07-13 03:17] yu199195 commented on #3697
add license check plugin in root pom.xml

[2022-07-13 03:31] damonxue commented on #3697
ok.

[2022-07-13 06:09] #3686 closed

[2022-07-13 06:15] moremind commented on #3687
close via issue #3700

[2022-07-13 06:15] #3687 closed

[2022-07-13 06:52] ZZQ001010 opened #3702 "[Task] <Global serial number generation>"
### Description

The gateway can generate a global serial number.Used to identify and locate service requests.

The serial number has the following two purposes.

- When apm is not integrated, a globally unique serial number is generated by default. `没有集成apm时默认生成一个全局不重复的流水号`
- Generate serial numbers with business meaning.For example, which channel does this transaction come from? `全局流水号可能会带有一定的业务

[2022-07-13 11:17] zzq1314zll opened #3703 "[Task] <shenyu.register.enable>"
### Description

add switch  "shenyu.register.enable" in springcloud

### Task List

_No response_

[2022-07-13 11:24] totalo commented on #3703
hi plz assigne to me.

[2022-07-14 02:54] yu199195 commented on #3697
@yu199195 hi，can you add apache shenyu contributor wechat group？ if not add my wechat：13786298670

[2022-07-14 02:56] yu199195 commented on #3691
it merged : https://github.com/apache/incubator-shenyu-dashboard/pull/218

[2022-07-14 02:56] #3691 closed

[2022-07-14 03:00] yu199195 commented on #3674
it be merged， i will close this， thanks for contributor~

[2022-07-14 03:00] #3674 closed

[2022-07-14 03:18] #3645 closed

[2022-07-14 09:24] yu199195 commented on #3703
@totalo hi， you can do other  shenyu-spring-boot- client-xxx

[2022-07-14 09:24] #3703 closed

[2022-07-14 14:03] yunlongn opened #3710 "[Task] all client <shenyu.register.enable>"
### Description

add switch "shenyu.register.enable" in all client

### Task List

_No response_

[2022-07-15 02:40] #3710 closed

[2022-07-15 02:40] #3623 closed

[2022-07-15 03:00] HessTina-YuI opened #3713 "[Task] add new plugins, key-auth, basic-auth, GraphQL syntax conversion"
### Description

add new plugins, key-auth and basic-auth
add GraphQL syntax conversion

### Task List

- [ ] key-auth @Albertsirius
- [ ] basic-auth @rom1c77
- [ ] GraphQL syntax conversion @rom1c77

[2022-07-15 03:06] #3688 closed

[2022-07-15 03:06] Albertsirius commented on #3713
Please assign task 1 to me

[2022-07-15 03:07] rom1c77 commented on #3713
Please assign task 2、3 to me

[2022-07-15 03:07] HessTina-YuI commented on #3713
you choose one you like

[2022-07-16 14:22] damonxue commented on #3697
chat with @yunlongn , i realize that `apache-rat-plugin` plugin has checked dependences license. and combine the license and notice is complex when release. so the task 2 is unuseless.

@yu199195

[2022-07-16 15:06] #3690 closed

[2022-07-18 03:16] fengchangxue commented on #3692
Any Body?

[2022-07-18 06:23] dragon-zhang commented on #3689
log plugin has done it well, so I close this issue.

[2022-07-18 06:23] #3689 closed

[2022-07-18 07:10] Summary-wcj opened #3726 "I want to ask, if the calling method is Dubbo or sofa, is it supported"
### Question

I want to ask, if the calling method is Dubbo or sofa, is it supported

[2022-07-18 07:35] KevinClair commented on #3726
see [Dubbo proxy](https://shenyu.apache.org/docs/user-guide/dubbo-proxy)

[2022-07-18 09:48] huangdangxlp opened #3727 "I want to expand the modifyResponse plug-in， If the value corresponding to a key, including XXX, is replaced to YYY"
For example, the original return value:

{
   "code": "500",
   "MSG": "repeated request"
}

Final return value:
{
   "code": "500",
   "MSG": "request exceeded this month, please try again next month"
}

I see the existing functions are related to key: removebodykeys, addbodykeys, replacebodykeys. I want to add a replacebodyvalues. Config has three functions: key, regexvalue, replacevalue.

Where

[2022-07-18 10:07] yu199195 commented on #3727
pls used english，

[2022-07-18 11:07] iufly opened #3729 "request entity is too large"
### Question

通过 shenyu http 方式上传文件（6M）
返回结果：
{
    "code": 413,
    "message": "Request Entity Too Large",
    "data": null
}
日志：
2022-07-18 19:02:10 [shenyu-netty-epoll-3] INFO  org.apache.shenyu.plugin.base.AbstractShenyuPlugin - divide rule success match , rule name :/bader/system/upload
2022-07-18 19:02:10 [shenyu-netty-epoll-3] ERROR org.apache.shenyu.plugin.divide.DividePlugin - request ent

[2022-07-19 03:34] yu199195 commented on #3729
can you set requestMaxSize == 0  or more than 102400？

[2022-07-19 09:35] Summary-wcj commented on #3726
Maybe I didn't make it clear. My question is: is it Dubbo or sofa on the consumer side,

Dubbo (consumer) - > Gateway -- > Dubbo or sofa (provider)

[2022-07-19 09:40] KevinClair commented on #3726
It sounds a bit strange, why do requests between dubbo services need to go through a gateway?

[2022-07-20 03:27] Summary-wcj commented on #3726
We have a scenario where each caller (consumer) may be Dubbo or sofa to call sofa services or Dubbo services.
dubbo --> dubbo
dubbo-->sofa
sofa-->dubbo
sofa-->sofa

[2022-07-20 03:37] KevinClair commented on #3726
`Sofa` has been supported `Dubbo protocol`, if you want it, you can use it.However, `Dubbo` didn't support 'Sofa protocol'. Maybe you should try `Http protocol`, both of them have been supported.

[2022-07-20 06:59] Summary-wcj commented on #3726
That is to say, soft -- > gatway -- > Dubbo is supported, right?

[2022-07-20 10:03] Summary-wcj commented on #3726
Well, I was confused by you. Is Shenyu a gateway system? Soft -- > gatway -- > Dubbo. If it's strange, how about HTTP requesting Dubbo or soft through Shenyu?

[2022-07-20 11:57] dragon-zhang commented on #3726
How about add `Sofa protocol` SPI in `dubbo` directly ? @Summary-wcj

[2022-07-21 01:02] Summary-wcj commented on #3726
Sorry, I misunderstood

[2022-07-21 03:31] KevinClair commented on #3726
Of course, shenyu is a gateway system.

[2022-07-21 06:55] mahaitao617 opened #3736 "[BUG] <thread locked>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

version 2.4.3
![image](https://user-images.githubusercontent.com/12776225/180138125-2fd4e0ac-9d81-4478-9caa-0a96be4e6a37.png)
![Uploading image.png…]()
method parallelStream maybe make thread locked

### Expected Behavior

![Uploading image.png…]()

### Steps To Reproduce

use httpsync

### E

[2022-07-21 08:27] 847850277 opened #3738 "[Task] grpc、tars plugin the correct log information"
### Description

      when the rule and selector do not match，The grpc、tars  plugin print correct log information.

### Task List

_No response_

[2022-07-21 12:49] yu199195 commented on #3736
can you fix it？

[2022-07-21 13:19] dragon-zhang opened #3740 "[Task] add upload file example and integrated test"
### Description

Currently, although ShenYu supports the upload interface of forwarding files, there are no relevant examples and integration tests. This task needs you to finish these.

The upload file can be committed to `shenyu-examples/shenyu-examples-common/src/main/resources`, just upload one file.

During integration testing, ~~you may need to unzip the fat jar of `SpringBoot`~~.

just crea

[2022-07-21 14:30] dragon-zhang opened #3741 "[Task] use `pathPatter` as default rule condition operator"
### Description

`PathPatternPredicateJudge` has better performance than `MatchPredicateJudge`, but `PathPatternPredicateJudge` does not support writing `**` in the middle of the path (such as `/api/**/xxx`), so when `param value` of `rule condition` has `**` in the middle, we should still use `MatchPredicateJudge`. Otherwise, use `PathPatternPredicateJudge`.

Major code changes in `org.apache.she

[2022-07-22 01:18] 847850277 commented on #3741
i want to try,can assign to me?

[2022-07-22 02:20] dragon-zhang commented on #3741
sure, thanks

------------------ Original ------------------
From: zhengpeng ***@***.***&gt;
Date: Fri,Jul 22,2022 9:18 AM
To: apache/shenyu ***@***.***&gt;
Cc: dragon-zhang ***@***.***&gt;, Assign ***@***.***&gt;
Subject: Re: [apache/shenyu] [Task] use `pathPatter` as default rule condition operator (Issue #3741)

i want to try,can assign to me?

—
Reply to this email directly, view it on GitHub,

[2022-07-22 05:35] #3727 closed

[2022-07-22 06:23] mahaitao617 commented on #3736
ok i pull a pr to fix it

[2022-07-22 08:33] mahaitao617 commented on #3736
the branch master have fixed

[2022-07-22 08:33] #3736 closed

[2022-07-22 09:57] #3696 closed

[2022-07-23 18:15] mahaitao617 opened #3745 "[BUG] <thread blocked>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

when i use http sync ,i start shenyu-gateway，thread will be blocked
![Uploading image.png…]()

### Expected Behavior

_No response_

### Steps To Reproduce

use longpolling to sync data

### Environment

[code]

### Debug logs

通过thread -b可以看到有线程阻塞，日志如下：
thread -b
"main" Id=1 WAITING on java.

[2022-07-23 19:24] #3745 closed

[2022-07-24 11:31] sheepblueblue opened #3748 "[Question] If the admin is multi-instance, how does websocket synchronize data to the gateway?"
### Question

If the admin is multi-instance, how does websocket synchronize data to the gateway?

[2022-07-25 07:59] #3741 closed

[2022-07-25 09:14] yu199195 commented on #3748
config multi admin url

[2022-07-25 12:18] sheepblueblue commented on #3748
In production environments, we often configure domain names. Is it better to use the redis/mq publish-subscribe mode on the admin side to notify other admins?

[2022-07-25 12:18] sheepblueblue commented on #3748
@yu199195

[2022-07-25 13:45] mahaitao617 commented on #3740
please assign task5 and task9 to me

[2022-07-26 03:01] dragon-zhang commented on #3726
@Summary-wcj please close this issue if you think no problem.

[2022-07-26 03:43] KevinClair commented on #3748
I dong't understand,  why need to nodify other admins?

[2022-07-26 04:24] sheepblueblue commented on #3748
If both the gateway and the admin are multi-instances, the gateway uses the domain name to connect to the admin through the websocket, and one gateway instance can only connect to one admin instance. How to update other gateway instances? If the admin does not notify other admins?

---- Replied Message ----
| From | Kevin ***@***.***> |
| Date | 07/26/2022 11:43 |
| To | ***@***.***> |
| Cc | ***@

[2022-07-26 06:00] 847850277 commented on #3740
please assign task 1、3、4、6 to me.

[2022-07-27 08:22] #3738 closed

[2022-07-27 09:58] dragon-zhang opened #3763 "[Task] support custom reject in `MemorySafeLinkedBlockingQueue`"
### Description

Now `MemorySafeLinkedBlockingQueue` just iscard directly when `#hasRemainedMemory` returns `true`, it's better support custom reject.

see https://github.com/sofastack/sofa-rpc/pull/1213#discussion_r930856756

### Task List

- [ ] support custom reject in `MemorySafeLinkedBlockingQueue`.

[2022-07-27 11:52] a807966224 commented on #1069
[dep.txt](https://github.com/apache/shenyu/files/9198247/dep.txt)

Up here is my dependency data

I am using the Soul gateway，An out-of-heap memory overflow also occurred

Since I now need to read the Post Body data, here is my code

`public class CacheBodyGlobalFilter extends BaseWebFilter {

    @Override
    public Mono<Void> filter(ServerWebExchange exchange, WebFilterChain chain) {
        if

[2022-07-27 11:54] a807966224 opened #3765 "Soul Gateway repeat read post body direct memory OOM"
[dep.txt](https://github.com/apache/shenyu/files/9198247/dep.txt)

Up here is my dependency data

I am using the Soul gateway，An out-of-heap memory overflow also occurred

Since I now need to read the Post Body data, here is my code

`public class CacheBodyGlobalFilter extends BaseWebFilter {

    @Override
    public Mono<Void> filter(ServerWebExchange exchange, WebFilterChain chain) {
        if

[2022-07-28 02:00] yu199195 commented on #3765
Hi, soul gateway not have this code :

RouteListAcmConfig.getGlobalCacheSwitch()

[2022-07-28 02:02] #3763 closed

[2022-07-28 03:02] dragon-zhang commented on #3765
This should be their own business code. I think just pay attention to :
[code]

[2022-07-28 03:54] a807966224 commented on #3765
This is my self-test code，Switch no concern；
What is my pain point in repeatedly reading the Post body

[2022-07-28 03:57] a807966224 commented on #3765
yes，
Now I have tested and found that if I implement the method of reading body repeatedly, there will be leakage information after the pressure test, so I need to help you check whether there is any problem with my way of using it

[2022-07-28 09:13] bluewu opened #3769 "Shenyu Gateway forwarding URL parameter urldecode problem"
### Question

shenyu 2.4.3

Get request
url is like queryTaskPage?examState=0&orders%5B0%5D.asc=true&size=9&current=1&examName=&_t=1658991926619
Gateway forwarding URL parameter urldecode  change to
queryTaskPage?examState=0&orders[0].asc=true&size=9&current=1&examName=&_t=1658991926619

tomcat webservice response 400

but i find use nginx forwarding URL is also the same
 queryTaskPage?examState=0

[2022-07-29 02:42] #3570 closed

[2022-07-29 06:09] #3657 closed

[2022-07-29 15:19] moremind opened #3771 "[BUG] ratelimiter plugin slidewindos and concurrent is error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

2022-07-29 23:15:27 [parallel-1] INFO  org.apache.shenyu.plugin.base.AbstractShenyuPlugin - rateLimiter selector success match , selector name :/http
2022-07-29 23:15:27 [parallel-1] INFO  org.apache.shenyu.plugin.base.AbstractShenyuPlugin - rateLimiter rule success match , rule name :/http/p

[2022-07-30 03:29] acmday commented on #3271
let me try medium task

[2022-07-30 03:41] #3697 closed

[2022-07-30 04:49] dragon-zhang opened #3773 "[Task] use `#exchangeToMono` replace `#exchange`"
### Description

use `org.springframework.web.reactive.function.client.WebClient.RequestHeadersSpec#exchangeToMono` replace `org.springframework.web.reactive.function.client.WebClient.RequestHeadersSpec#exchange`, but make sure https://github.com/apache/shenyu/issues/3686 and https://github.com/apache/shenyu/issues/3687 not happens.

### Task List

1. - [ ] use `#exchangeToMono` replace `#exchange

[2022-07-30 08:00] 847850277 commented on #3450
any task can i support？

[2022-07-30 09:48] MichaelDeSteven commented on #3450
Maybe you can do other contribute first? This feature need `brpc` support `generic call`.  If there any task need to support I will give you. anyway, thx:-)

[2022-07-30 12:40] moremind commented on #3773
maybe exchangeToMono?

[2022-07-31 04:45] spicydev commented on #3773
Hi @moremind / @dragon-zhang ,
I have created below pr with changes to completely implement new WebClient request/response spec using retrieve() method instead of exchange().
https://github.com/apache/shenyu/pull/3775

I need some help in validating these client changes before we can merge the pr.

[2022-07-31 04:52] moremind commented on #3773
hi,@spicydev, exchangeToMono or exchangeToFlux process request more than retrive, and shenyu process http response by response plugin. So, I think you must think a lot.

[2022-07-31 06:09] dragon-zhang commented on #3773
I remember there seemed to be a bug before. It was said that `Mono` had a size limit, and changed to `Flux` as final.

[2022-07-31 06:12] moremind commented on #3773
it can change

[2022-07-31 06:13] moremind commented on #3773
maybe change body to byte[], and write to DataBuffer

[2022-07-31 06:16] moremind commented on #3773
about lose data, maybe think `DataBufferUtils.join()`

[2022-07-31 06:25] dragon-zhang commented on #3773
got, I've seen it in https://github.com/apache/shenyu/issues/3158

[2022-07-31 06:27] moremind commented on #3773
i have writed use this

![image](https://user-images.githubusercontent.com/20184263/182013151-ff289ce5-e16f-44ab-8098-7bd9cf8e8229.png)

[2022-07-31 06:31] dragon-zhang commented on #3773
I've changed title and task description.

[2022-07-31 06:40] dragon-zhang commented on #3773
As for https://github.com/apache/shenyu/issues/3158 and https://github.com/apache/shenyu/issues/3687 , can you add these two case to our integrated tests? @moremind

[2022-07-31 06:43] moremind commented on #3773
ok, I will do it.

[2022-07-31 07:31] dragon-zhang opened #3777 "[Question] How about banning `#printStackTrace` in source code ?"
### Question

Writing to log file is better than writing to console, I plan to add the following to `shenyu_checkstyle.xml`:
[code]

[2022-07-31 13:40] cxbiao opened #3780 "[Question] plugins affect each other"
### Question

Because the only one  ShenyuPluginLoader is used globally, the same classes with same package between plugins will affect each other.

This is a little inappropriate

[2022-08-01 00:51] 847850277 commented on #3780
plugin has enable status.  when plugin enabled, it's effective.

[2022-08-01 02:12] wangzhaosir opened #3782 "下载文件数据为空"
### Question

文件下载，通过浏览器下载的数据为空，但不过shenyu网关就可以，但是过shenyu网关使用postman下载也是正常的，我是2.4.1版本

[2022-08-01 04:00] impactCn commented on #3769
I will follow up on this issue.

[2022-08-01 06:52] xiaheshun commented on #68
公司：北京弘毅铁信信息技术有限公司
网址:：
地点：北京
联系方式：755320689@qq.com
场景：新业务网关

[2022-08-01 06:53] luoxihong commented on #68
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-08-01 06:54] xiaheshun commented on #68
公司：北京经纬信息技术公司（铁科院）
网址:：
地点：北京
联系方式：755320689@qq.com
场景：新项目业务网关

[2022-08-01 06:58] Sky-WH commented on #68
公司：/
网址：/
地点：中国上海
联系方式：727049583@qq.com
场景：个人学习

[2022-08-01 07:06] yu199195 commented on #3782
pls in  english

[2022-08-01 07:06] #3782 closed

[2022-08-01 07:36] lahmXu commented on #3740
Please assign task 2,7,8,10 to me, thanks!

[2022-08-01 08:06] 958121312 opened #3783 "[Question] About the "AdminResult" and "ShenyuAdminResult" generics in the admin module"
### Question

One question is why "AdminResult" in the admin module has a generic return, while "ShenyuAdminResult" purposely changes the generic to Object instead of using generics

[2022-08-01 08:14] dragon-zhang commented on #3676
@gongzhibo Hi, please add demo to `org.apache.shenyu.common.utils.GsonUtilsTest`.

[2022-08-01 08:41] qinxu2015 commented on #68
公司：/
网址：/
地点：北京
联系方式：qinxu@pku.org.cn
场景：个人学习

[2022-08-01 08:41] Sky-WH commented on #68
已经收到您的来信，我会尽快回复。

[2022-08-01 15:25] pjfanning opened #3784 "[BUG] upgrade nacos-client due to security issue"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

https://github.com/advisories/GHSA-2g86-r6w2-wqqr

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2022-08-02 06:29] yu199195 commented on #3783
Maybe it's just a design pattern, sure, you can merge them into one, but not the best way.

[2022-08-02 06:29] yu199195 commented on #3784
ok, maybe upgrade.  can  you  provider pr ?

[2022-08-02 06:30] yu199195 commented on #3777
ok，

[2022-08-02 08:03] Hongbo-Miao opened #3786 "[BUG] Typo in the architecture image"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The architecture in the readme has a typo https://github.com/apache/shenyu#architecture

### Expected Behavior

<img width="1362" alt="image" src="https://user-images.githubusercontent.com/3375461/182324219-f8adb5ba-2359-43f2-8c20-a6892a307658.png">

[2022-08-02 08:19] yu199195 commented on #3786
@Hongbo-Miao Hi， Thanks， we will fix it.

[2022-08-02 08:32] daiwenyu opened #3789 "[Task] Update Static files"
### Description

Update Static files

### Task List

_No response_

[2022-08-02 09:49] pjfanning commented on #3784
@yu199195 I created #3787

[2022-08-02 10:11] #3784 closed

[2022-08-02 12:57] dragon-zhang commented on #3450
Sorry, I'm learning c++ now, and contributing code to brpc will be late.

[2022-08-03 00:58] 847850277 opened #3794 "[Task] websocket datasync can chose allow origin to avoid CSRF"
### Description

   when ShenYu use websocket datasync, to avoid CSRF, add  allow origin to avoid CSRF.It is an option.

### Task List

_No response_

[2022-08-03 01:39] #3789 closed

[2022-08-03 02:40] #3777 closed

[2022-08-03 05:21] hgaol opened #3796 "[BUG] Shenyu client registration by consul only register 1 metadata"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Start admin and http example, and configure registration by consul. Only 1 metadata (rule) will be registered.

### Expected Behavior

All metadata should be registered.

### Steps To Reproduce

1. configure admin by consul configuration.
2. configure http example by consul configuration.
3.

[2022-08-03 06:49] #3796 closed

[2022-08-03 07:05] niejian opened #3799 "java.security.InvalidKeyException"
### Question

网关开启response 加密，提示 `java.security.InvalidKeyException: IOException: DerInputStream.getLength(): lengthTag=105, too big.`
jdk: 1.8.0
![image](https://user-images.githubusercontent.com/7080323/182545355-dd711e65-a766-427c-ab0e-081f70c3f15c.png)

[2022-08-03 07:09] niejian commented on #3799
**堆栈信息**
[code]

[2022-08-03 09:45] 847850277 opened #3801 "[Question] support clickhouse-log plugin"
### Question

   Hi, community,
    Is support necessary clickhouse-log plugin. if need ,i will Implement it.

[2022-08-03 10:10] yu199195 commented on #3801
of cause， you can send eamil to dev@shenyu.apache.org.

How to design, how to implement , etc.

[2022-08-04 00:45] 847850277 commented on #3801
when i finish some design，i will sent to this mail.

[2022-08-04 03:40] #3794 closed

[2022-08-04 08:17] ashu665665 commented on #2890
@yu199195 I would like to contribute to this project.

[2022-08-04 13:20] #3748 closed

[2022-08-04 14:08] dragon-zhang commented on #3726
@Summary-wcj If you think there are still problems, please create a new issue.

[2022-08-04 14:08] #3726 closed

[2022-08-04 14:12] dragon-zhang commented on #2092
@monedory @siegezhang If you think there are still problems, please create a new issue.

[2022-08-04 14:12] #2092 closed

[2022-08-04 14:17] dragon-zhang commented on #2232
@65725738 How about @ShenyuRequestMapping , @ShenyuGetMapping and etc?

[2022-08-04 14:19] dragon-zhang commented on #2214
@mobaiLv Please try the latest code, and if there are still questions, please submit a new issue.

[2022-08-04 14:19] #2214 closed

[2022-08-04 14:22] dragon-zhang commented on #2303
@dongxl123 @MarsOu1995 @haitun521 Please try the latest code, and if there are still questions, please submit a new issue.

[2022-08-04 14:22] #2303 closed

[2022-08-04 14:23] dragon-zhang commented on #2367
@pmgcat Please try the latest code, and if there are still questions, please submit a new issue.

[2022-08-04 14:23] #2367 closed

[2022-08-04 14:26] dragon-zhang opened #3803 "[BUG] check-style not work in `shenyu-examples`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

_No response_

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2022-08-04 14:38] damonxue commented on #3803
pls assign to me.

[2022-08-05 01:15] moremind commented on #3799
which shenyu version you use?

[2022-08-05 03:02] dragon-zhang opened #3805 "[WeOpen-Star] Add simpler client annotations with @AliasFor"
## How to Participation

1. reply: [WeOpen Star]I would like to help
2. add this wechat.  note : 摘星
<img width="430" alt="image" src="https://user-images.githubusercontent.com/9673503/183059212-152376b4-e08c-41cb-bb28-7339262e9cb0.png">

### Description

As a downstream of https://github.com/apache/shenyu/issues/3485, this task needs you to add(`do not delete any existing annotations`) more simple

[2022-08-05 03:42] ShawnJim commented on #3805
hi, @dragon-zhang ,i can do task [1,2] .  can you assign it to me? thx

[2022-08-05 03:57] dragon-zhang opened #3806 "[WeOpen-Star] Using agent technology to rewrite client"
## How to Participation

1. reply: [WeOpen Star]I would like to help
2. add this wechat.  note : 摘星
<img width="430" alt="image" src="https://user-images.githubusercontent.com/9673503/183059212-152376b4-e08c-41cb-bb28-7339262e9cb0.png">

### Description

The inspiration for this task comes from `istio`.

Nowadays, Shenyu clients are `embedded SDKs`, and the cost of upgrading clients is high. Using

[2022-08-05 07:25] mahaitao617 commented on #3806
please assign task4 and task5 to me

[2022-08-05 07:30] hgaol opened #3807 "[Task] Consolidate etcd dependencies into one"
### Description

Currently, there're 2 different etcd dependencies in Shenyu. And Can not even start `admin` by etcd registration.

In admin, it now uses
[code]

In `shenyu-register-client-server-etcd`, it now uses
[code]

When start admin, it will occur below errors because of this issue.

[code]

It's better to consolidate to only one dependency for etcd, and the preference is https://mvnreposit

[2022-08-05 07:32] lahmXu commented on #3805
Please assign task 7 to me, thanks!

[2022-08-05 07:32] lahmXu commented on #3806
Please assign task 9 to me, thanks!

[2022-08-05 08:33] 847850277 commented on #3806
pls assign task 1、2 to me，thanks.

[2022-08-05 08:35] mahaitao617 commented on #3807
please assign these four tasks to me

[2022-08-05 08:48] xugflz2011 opened #3808 "when http calls dubbo, the body is blank and the error is reported"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

1.dubbo接口为有参接口
2.http请求中body传{}报错,传(加一个空格){ }正常.

### Expected Behavior

当dubbo接口有参数,而http传的空或""或{ }或{} 或{\n\r}一类的,可以调用到对应的dubbo接口,不对dubbo接口的参数对象进行赋值

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

org.apache.dubbo.rpc.RpcException: com.cloudstore.upms.admin.f

[2022-08-05 09:12] yu199195 commented on #3808
pls modify issue tilte to english

[2022-08-05 09:26] HeZean commented on #3805
Hi, I'd like to work on task 6. Can you assign me? Many thanks.

[2022-08-05 10:07] mangoGoForward commented on #3805
Hi, I'd like to work on task 3. [WeOpen Star]

[2022-08-05 10:11] mangoGoForward commented on #3806
[WeOpen Star]I would like to help, please assign task 6 to me, thanks!

[2022-08-05 10:21] dragon-zhang commented on #3805
Please reply [WeOpen Star]I would like to help and task number to get the task.

[2022-08-05 10:21] dragon-zhang commented on #3805
Please reply [WeOpen Star]I would like to help and task number to get the task.

[2022-08-05 10:22] dragon-zhang commented on #3806
Please reply [WeOpen Star]I would like to help and task number to get the task.

[2022-08-05 10:22] dragon-zhang commented on #3806
Please reply [WeOpen Star]I would like to help and task number to get the task.

[2022-08-05 11:33] 847850277 commented on #3806
[WeOpen Star]I would like to help, please assign task 1、2 to me, thanks!

[2022-08-05 11:39] hgaol commented on #3807
Good luck to you!

[2022-08-05 13:04] dragon-zhang commented on #3740
Thanks for your contribution !

[2022-08-05 13:04] #3740 closed

[2022-08-06 01:26] mahaitao617 commented on #3807
ths

[2022-08-06 04:40] dragon-zhang commented on #3808
try with `{ }`

[2022-08-06 05:58] 847850277 commented on #3801
@yu199195  I've already sent it. It seems that the other party hasn't received it. so i comment on this issues.

## background
In some scenarios, the storage method of the log system may be the ES solution, which can also solve most problems. But in some scenarios, it also has its shortcomings. For example, to count some data with a long time span, there are enough data in the ES index. It takes s

[2022-08-06 08:46] Albertsirius commented on #3806
[WeOpen Star]I would like to help, please assign task 7 to me, thanks!

[2022-08-07 07:59] Lifeng-Lv opened #3814 "[BUG] Add a new resource."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

see https://github.com/apache/shenyu-dashboard/issues/224

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2022-08-07 08:01] Lifeng-Lv commented on #3814
Please assigne to me.

[2022-08-08 06:16] mangoGoForward commented on #3805
[WeOpen Star]I would like to help, task 4.
task 4 is similar with task 3

[2022-08-08 06:28] dragon-zhang commented on #3805
Yes, but due to different versions, different annotations need to be supported.

[2022-08-08 06:41] #3157 closed

[2022-08-08 07:37] runqi-zhao commented on #3806
[WeOpen Star]I would like to help, please assign task 3、8 to me, thanks!

[2022-08-08 07:39] runqi-zhao commented on #3805
[WeOpen Star]I would like to help, please assign task 5 to me, thanks!

[2022-08-08 08:53] niejian commented on #3799
2.5.0-SNAPSHOT

[2022-08-09 02:39] niejian commented on #3799
默认使用`RSA`加密，需要在使用该插件之前生成公钥、私钥对；可参考

* 生成公钥私钥

[code]
* 将公钥私钥填入对应的位置
  `encryKey` -> `公钥`
  `decrypKey` -> `私钥`

[2022-08-09 02:39] #3799 closed

[2022-08-09 06:10] moremind opened #3820 "[BUG] hystrix plugin can't circuitBreaker"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I have config rule in rule No.1, and I change executionIsolationStrategy semaphore and thread, but I change from semaphore to thread, hystrix pluign can't circuitBreaker, this need restart or delete this rule and reconfig can circuitBreaker?

### Expected Behavior

change rule in same rule, c

[2022-08-09 06:11] yunlongn opened #3821 "[BUG] LocalPluginController#deleteRule causes removeCacheData NPE"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I tested LocalPluginController#deleteRule, I found the removeCacheData null pointer

![image](https://user-images.githubusercontent.com/38271111/183576671-9f53cd5f-2029-4e81-9394-72673c38e4f7.png)

![image](https://user-images.githubusercontent.com/38271111/183576776-8829e12f-1a88-4130-b

[2022-08-09 06:11] yunlongn commented on #3821
Please assigne to me.

[2022-08-09 06:14] yunlongn commented on #3820
pls assign me

[2022-08-09 06:14] moremind commented on #3821
this is debug log:

2022-08-09 14:11:05 [WebSocketConnectReadThread-262] ERROR org.java_websocket.drafts.Draft_6455 - Runtime exception during onWebsocketMessage
java.lang.NullPointerException: null
	at java.util.concurrent.ConcurrentHashMap.get(ConcurrentHashMap.java:936)
	at org.apache.shenyu.plugin.base.cache.CommonPluginDataSubscriber.removeCacheData(CommonPluginDataSubscriber.java:245)
	at or

[2022-08-09 06:20] moremind opened #3822 "[BUG] websocket sync occur NPE"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

1.delete rule in shenyu admin
2.shenyu websocket sync occur npe

### Expected Behavior

no error

### Steps To Reproduce

1.delete rule in shenyu admin
2.shenyu websocket sync occur npe

### Environment

[code]

### Debug logs

2022-08-09 14:11:05 [WebSocketConnectReadThread-262] INFO  org.ap

[2022-08-09 06:44] daiwenyu opened #3823 "[Task] Update Static File"
### Description

Update Static File

### Task List

_No response_

[2022-08-09 07:00] yunlongn commented on #3822
Please assigne to me.

[2022-08-09 15:12] #3821 closed

[2022-08-09 15:12] #3822 closed

[2022-08-10 01:18] xugflz2011 commented on #3808
{    }  or {\n\r} is ok

[2022-08-10 02:17] yunlongn opened #3826 "[BUG] admin new selector type is full error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/38271111/183795716-2730062b-9652-49d7-beea-08b27b2fca83.png)

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2022-08-10 02:32] #3823 closed

[2022-08-10 02:33] yu199195 commented on #3826
in admin， pls fix it.

[2022-08-10 03:58] moremind commented on #3464
close via #3571 #3599

[2022-08-10 03:58] #3464 closed

[2022-08-10 05:38] #3826 closed

[2022-08-10 09:40] #3820 closed

[2022-08-11 03:47] Lifeng-Lv commented on #3814
Fix at the frontend.

[2022-08-11 03:47] #3814 closed

[2022-08-11 06:41] yunlongn opened #3829 "[BUG] RateLimiterPlugin concurrent hanlder error."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

look setting.
![image](https://user-images.githubusercontent.com/38271111/184076949-965f32d5-b0e4-47df-b3ed-a3e02a933bba.png)

start jmeter.  request http://localhost:9195/http/test/findByUserId?userId=1

![image](https://user-images.githubusercontent.com/38271111/184077109-2f9da540-b473-45cf

[2022-08-11 06:42] yunlongn commented on #3829
pls assign me

[2022-08-11 06:50] bigbug-dachong opened #3830 "[BUG] <title> base on 2.4.3-release, bootstrap startup error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

base on 2.4.3-release branch

admin start first. and i can operate the sys normally.

bootstrap sync config through http-longpolling. i have test it work nomal.

but, the bootstrap server often start failed.

i log and debug the bootstrap. i found when first start, need sync plugin config,  a

[2022-08-11 07:42] yunlongn commented on #3829
I understand what this handler does is:
For example: Limit 100 simultaneous access requests. If those 100 requests are not processed, no new requests will come in

[2022-08-11 07:47] bigbug-dachong commented on #3830
i found the resolve ，but i don't understand what's the reason

i change the parallelStream to stream, this question can be fixed.
![image](https://user-images.githubusercontent.com/46708615/184087460-44b2c2d0-df08-41a4-a6d6-7f4492ca05c5.png)

[2022-08-11 07:53] KevinClair commented on #3830
Thanks for your question, this bug has been fixed in #3469

[2022-08-11 07:58] #3830 closed

[2022-08-12 03:22] #3803 closed

[2022-08-12 09:29] hgaol commented on #3807
Hi @mahaitao617 , any update about this task?

[2022-08-12 10:15] wanghuan0606 commented on #3807
hello，can you assign these four tasks to me~

[2022-08-12 12:29] dragon-zhang commented on #3829
If there is still problem, please reopen this issue. @yunlongn

[2022-08-12 14:04] dragon-zhang opened #3839 "[Task] fill metadata in springcloud/springmvc"
### Description

Complete the metadata as much as possible.

### Task List

1. - [x] springmvc client
2. - [x] springcloud client

[2022-08-13 02:20] #3839 closed

[2022-08-13 02:49] lianjunwei opened #3841 "[admin apidoc] <enhance: Sample values are displayed when microservice the request parameter uses "@ApiImplicitParam">"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

1.  "@ApiImplicitParam" gives a sample value.
![image](https://user-images.githubusercontent.com/13819823/184465444-c48e42fe-d10f-47ec-86ce-c4ddd827dbb6.png)

2. But the apidoc does not show.
![image](https://user-images.githubusercontent.com/13819823/184465524-13519440-afc3-4789-8ce7-c3d6910

[2022-08-13 02:51] lianjunwei commented on #3841
I fix it.

[2022-08-13 05:42] raffiagk opened #3842 "[Question] How to access the skywalking extension log plugin"
### Question

1.I have implemented log plugin format output

2. local env   shenyu-2.4.3   shenyu-bootstarp （change logback  encoder ）  start with skywalking agent

I noticed that in the log plugin, because the asynchronous call cannot get the tid, it shows N/A, what should I do now, help

[2022-08-13 07:10] dragon-zhang commented on #3185
@UniverseInHeart can you provide this feature ?

[2022-08-13 07:23] dragon-zhang commented on #3176
@lahmXu @ChineseTony can you provide these features ?

[2022-08-13 07:29] lahmXu commented on #3176
OK，please assign to me, thanks!!

[2022-08-13 08:40] lianjunwei opened #3843 "[admin apidoc] <fix: the required attribute prompt is incorrect when micro service parameter uses "@ApiModelProperty">"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/13819823/184475897-a73abe47-a439-4f5d-aecc-0f45dea2a0c5.png)

![image](https://user-images.githubusercontent.com/13819823/184476079-08a356d6-113a-4452-9a9f-5f49ea3d70ad.png)

### Expected Behavior

![image](https://user-images.githubuserconte

[2022-08-13 10:03] hujun8610 commented on #3676
I reproduced the issue with the following code
[code]
In this code, I use `Object.class` to serialize the json string, the result is as follows:
`[{params={date={intervalDay=0.0}, domain=weather, showDay=今天}}]`

But when I defined a class to match the json String, the issue disappear. The code
[code]
TestClass
[code]

I think the issue may be related to `gson` configuration.

[2022-08-13 14:37] dajitui commented on #3507
DefaultSignService unable to meet demand?

[2022-08-14 09:54] dajitui opened #3849 "shenyu High availability"
### Question

At present, I see that most of the data are obtained based on the configuration of Shenyu. If the network is delayed or hangs, it will directly affect the performance of the gateway. Do you consider making backups to improve the availability

[2022-08-14 10:20] dajitui commented on #3627
缓存的更新机制还有节点是什么

[2022-08-14 10:21] dajitui commented on #3627
缓存的更新机制还有节点是什么

[2022-08-14 13:23] yu199195 commented on #3849
pls in english

[2022-08-14 13:28] dajitui commented on #3849
At present, I see that most of the data are obtained based on the configuration of Shenyu. If the network is delayed or hangs, it will directly affect the performance of the gateway. Do you consider making backups to improve the availability

[2022-08-15 03:33] yu199195 commented on #3849
Now, Register And Data sncy support zookeeper，nacos，consul，ETCD .....

[2022-08-15 03:56] impactCn commented on #3676
I follow this problem.

[2022-08-15 04:34] impactCn commented on #3676
@hujun8610 hi.

![image](https://user-images.githubusercontent.com/35489877/184577316-e60692d0-d33a-4da4-bd81-90559beb39fd.png)

If the object type is used, the ObjectTypeAdapter adapter is used by default in gson. Convert numbers to double type. This is a problem with the gson framework.

[2022-08-15 07:11] hujun8610 commented on #3676
@impactCn thanks for your reply. In current situation,we can use specific type instead of `object`,but how we can solve the problem.

[2022-08-15 07:13] impactCn commented on #3676
We have released a new version these days, and in the next version we will customize the adapter to fix this problem.

Thanks a lot for asking this question.

[2022-08-15 07:15] impactCn commented on #3676
We'll be releasing a new version these days, and in the next version we'll have a custom adapter to fix this.

Thank you very much for asking this question.

[2022-08-15 07:19] impactCn commented on #3765
@a807966224  hi.
 After reading the body, put it directly into the buffer. If not released, it will cause OOM.

[2022-08-15 12:51] hujun8610 commented on #3676
@impactCn Someone has found the issue,I found it in `https://github.com/google/gson/pull/1290`,gson has solve the problem. I solve it using the following code
[code]
when the ToNumberPolicy is LONG_OR_DOUBLE, it means gson will try to parse a number as a Long, otherwise then try to parse it as a Double, if the number cannot be parsed as a Long.
Hope to help you,thanks!

[2022-08-15 13:42] mahaitao617 commented on #3807
ok

[2022-08-15 13:45] wanghuan0606 commented on #3807
I have push pr~

[2022-08-15 16:54] dragon-zhang opened #3855 "[Task] update `alibaba druid` to `apache druid`"
### Description

update `alibaba druid` to `apache druid`

### Task List

_No response_

[2022-08-15 16:56] dragon-zhang commented on #3855
Sorry, it doesn't look the same.

[2022-08-15 16:56] #3855 closed

[2022-08-16 01:52] hgaol commented on #3807
Hi @wanghuan0606 , can you run `http-example` successfully? I can't run it without changing the grpc version to a higher version. Can you try it? Thanks!

[2022-08-16 01:55] wanghuan0606 commented on #3807
ok～I'll try it tonight.

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Han Gao ***@***.***>
发送时间: Tuesday, August 16, 2022 9:52:26 AM
收件人: apache/shenyu ***@***.***>
抄送: huanccwang ***@***.***>; Mention ***@***.***>
主题: Re: [apache/shenyu] [Task] Consolidate etcd dependencies into one (Issue #3807)

Hi @wanghuan0606<https://github.com/wanghuan0606> , can you run h

[2022-08-16 15:16] wanghuan0606 commented on #3807
Hello, I can run http-example successfully without any other operate.

[2022-08-17 06:46] accsam commented on #3765
hi.
i have the same problem, i consult 2.5.0-release sign plugins code to solve this problem.
this is the link：
https://github.com/apache/shenyu/blob/2.5.0-release/shenyu-plugin/shenyu-plugin-sign/src/main/java/org/apache/shenyu/plugin/sign/SignPlugin.java

[2022-08-18 02:09] jjxliu306 opened #3857 "It is required to provide the ability that a gateway can only access a single service under a certain policy under a microservice cluster"
### Description

For example, there is already a set of micro service clusters, and there are many services. It is impossible to start all services locally. When debugging is required, only service a needs to be started locally. After some configuration is made on the gateway side, the locally accessed service a will only flow to the local service, and other services will normally access.

### Tas

[2022-08-18 02:57] jjxliu306 commented on #3857
thanks

[2022-08-18 13:16] moremind opened #3858 "[Task] refactor shenyu-admin selector and rule"
### Description

refactor shenyu admin selector and rule code

### Task List

1. [ ] refactor shenyu admin selector @lanseBlue
2. [ ] refactor shenyu admin rule @tian-pengfei

[2022-08-18 14:02] damonxue commented on #3857
Maybe this contains two point:
  * env profiles.
  * Cluster priority.

[2022-08-18 14:23] yunlongn commented on #3858
Please assign task 2 to me

[2022-08-18 14:23] moremind opened #3859 "[Task] tencentcloud cls log plugin"
### Description

develop tencentcloud cls log plugin

### Task List

1. [ ] tencent cloud cls pluign code
2. [ ] tencent cloud cls plugin test cases
3. [ ] tencent cloud cls plugin document, document template refer:https://github.com/apache/shenyu-website/issues/614

[2022-08-18 14:26] yunlongn commented on #3859
pls assign to me

[2022-08-18 14:29] moremind opened #3860 "[Task] rocketmq/kafka/es log plugin client authorize field"
### Description

 add authorize for rocketmq,kafka,es log plugin,because these clients must login.

### Task List

1. [x] add authorize field for es client @damonxue
2. [x] add authorize field for rocketmq client @damonxue
3. [ ] add authorize field for kafka client @misaya295

authorize field maybe include username,password, not only these.

[2022-08-18 14:34] moremind opened #3861 "[Task] desensitization of main fields in logs"
### Description

desensitization of main fields in logs,for example:

requestbody:{"idCard": "361222xxxxxxxxxxx00", "name":"赵x明"},this rule can config.

![image](https://user-images.githubusercontent.com/20184263/185434790-04532f80-37e4-4116-b231-e0ecae95aa41.png)

### Task List

1. [ ] desensitization of main fields in logs for all log plugin

[2022-08-18 14:35] yunlongn commented on #3861
pls assign to me

[2022-08-18 14:48] damonxue commented on #3860
Pls assign 1 and 2 to me.

[2022-08-18 14:57] misaya295 commented on #3860
Pls assign to me.

[2022-08-18 15:37] misaya295 commented on #3860
Yes,I can

[2022-08-18 15:41] moremind commented on #3860
by the way, maybe you can refactor kafka  log plugin code

[2022-08-18 15:44] moremind commented on #3861
ok, I have assigned, if you have some questions, please contact me

[2022-08-18 15:47] misaya295 commented on #3860
Ok,I will try my best.

[2022-08-18 15:48] wanghuan0606 commented on #3861
I will contact you promptly if I have any question.

[2022-08-18 15:53] moremind commented on #3861
my wechat is yijia1949

[2022-08-18 18:03] Lifeng-Lv commented on #3858
Can I try the first task？:-）

[2022-08-19 01:31] MiracleDx opened #3862 "[BUG] When client properties is null or invalid while throw NullPointException"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When client property is null or invalid while throw NullPointException

![iShot_2022-08-19_09 24 26](https://user-images.githubusercontent.com/25627222/185522364-288b5297-40ea-4285-8a39-546ec373108a.png)

### Expected Behavior

exception message should be more explicit

### Steps To Reproduce

[2022-08-19 03:07] moremind commented on #3858
I create for me

[2022-08-19 06:54] Lifeng-Lv commented on #3858
:-)

[2022-08-19 10:17] WattsNie opened #3865 "[BUG] 官网文档Spring Cloud服务接入描述有误"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

官网文档版本 【2.4.3】
链接  [https://shenyu.apache.org/zh/docs/next/user-guide/spring-cloud-proxy](url)
示例3的描述中使用如下配置启动服务有误，配置的key少了spring cloud
![image](https://user-images.githubusercontent.com/18160403/185597347-542949dd-73a6-4e79-a8a1-02e85ce39b8f.png)

### Expected Behavior

应改为
![image](https://

[2022-08-20 03:20] renzhuyan opened #3866 "[BUG] Some fields of resource should be empty"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/21033025/185726789-c52083d5-cffd-433f-9d02-b016a40faef0.png)
![image](https://user-images.githubusercontent.com/21033025/185726810-1dc8b8dd-014d-4f5b-a853-43bca0ca5df5.png)

The DML data in the red box is empty.The Oracle execution will repor

[2022-08-20 04:49] #3866 closed

[2022-08-20 09:55] dragon-zhang commented on #3865
can you fix it ?

[2022-08-20 10:04] moremind commented on #3865
can you fix it in shenyu-website, if you can't,I will fix it in next week.

[2022-08-22 00:51] MiracleDx commented on #3862
![image](https://user-images.githubusercontent.com/25627222/185819002-aa50d786-91d3-44f1-9c89-85a073ed2408.png)
if i used dubbo, but i didn't use dubbo config, it will be throw explicited message of exception, not for NullPointException,  it also will improve mistakes of #3865 , i used springCloud met this error too, but if had this explicited message, could be used quickly

[2022-08-22 00:52] MiracleDx commented on #3862
About #3863

[2022-08-22 02:44] yu199195 commented on #3862
hi， thanks for you contributor

[2022-08-22 03:20] qizhq opened #3870 "[BUG] <title> Request plugin can't replaceCookie"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/80200776/185831767-911f0501-b979-4137-81fc-1be368005d74.png)
Request plugin add new Rule to ReplaceCookie，But can't do it。

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

[2022-08-22 12:58] leven-space commented on #3859
hi,
I'm also interested in this task, how the current task is progressing?

[2022-08-22 13:00] moremind commented on #3859
assigned

[2022-08-22 13:29] leven-space commented on #3859
@moremind  hi，tencentcloud cls support 2 way

- [use Kafka protocol] (https://cloud.tencent.com/document/product/614/64157)
- [use log4j or logback Appender] (https://cloud.tencent.com/document/product/614/66329)

Which one is we more inclined to adapt this time?

[2022-08-22 13:30] yunlongn commented on #3859
Thanks, the task is nearing completion

[2022-08-22 13:41] leven-space commented on #3859
@yunlongn yun cool

[2022-08-22 16:20] JairoSun commented on #3870
This is indeed a bug, and I successfully reproduced it. I'll fix it

[2022-08-24 06:46] #3176 closed

[2022-08-24 08:19] qicz opened #3874 "[BUG] shenyu-admin page error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

ref : https://github.com/apache/shenyu-dashboard/issues/201

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2022-08-26 09:50] Cyoking opened #3880 "[Question] <title>mac m1 start application fail，websocket connection refused"
### Question

The configuration of h2 is used, and other contents have not been changed.
<img width="1359" alt="image" src="https://user-images.githubusercontent.com/41101749/186877884-cbae2196-29d8-4909-8392-438c31035ae5.png">

The error message after startup is as follows：
<img width="1314" alt="image" src="https://user-images.githubusercontent.com/41101749/186878053-f692a79e-3e41-4b1f-9938-ab33

[2022-08-26 09:54] yu199195 commented on #3880
pls in english？

[2022-08-26 09:56] Cyoking commented on #3880
👌

[2022-08-26 09:59] Cyoking commented on #3880
can you see what's the problem?

[2022-08-26 10:04] yu199195 commented on #3880
My guess  : your admin address is not accessible through localhost.  You can visit in your browser  : localhost:9095  ？.

if not, pls modify  `application.yaml` in  `shenyu-bootstrap` :

[code]

[2022-08-26 12:27] Cyoking commented on #3880
it seems that i still can't. this is my `application.yaml`
<img width="834" alt="image" src="https://user-images.githubusercontent.com/41101749/186903132-f90aa6a2-86e7-4390-8020-61b415b2f03b.png">

can't run application
<img width="1330" alt="image" src="https://user-images.githubusercontent.com/41101749/186903216-8afdb5f2-de5f-4c53-83ea-5411d339c10f.png">
<img width="1132" alt="image" src="https:

[2022-08-27 08:49] ousinka commented on #1934
not reproduced, please try a new version

[2022-08-27 09:24] ousinka opened #3881 "[Task] Optimize code to eliminate alarms"
### Description

shenyu-admin part of the code returns Collections.EMPTY_LIST can use Collections.emptyList() to eliminate code alarms

### Task List

_No response_

[2022-08-27 09:29] #1934 closed

[2022-08-27 09:30] dengliming commented on #3881
PR is welcome :)

[2022-08-27 09:32] #3874 closed

[2022-08-27 09:36] #3862 closed

[2022-08-27 09:42] ousinka commented on #3881
Okay, I do it

[2022-08-27 09:44] dengliming commented on #3842
Can you provide your demo code? and the steps to reproduce : )

[2022-08-27 10:31] #3881 closed

[2022-08-28 05:01] shihuili1218 opened #3883 "[Volunteer] When a plugin changes, it should be initialized"
### Volunteer help

When plugin parameters change, the common logic should be initialized and should not be computed each time a request is processed.

e.g. When using LoadBalance, Divide、Dubbo、Http plugin needs to calculate the weight for each request. To calculate the weight, you should only need to calculate it once when the configuration changes.

I don't know much about Shenyu yet, and I don'

[2022-08-28 05:20] ousinka commented on #2066
The plugin information has been printed in the log of the new version of shenyu-bootstrap.
eg: load plugin:[sofa] [org.apache.shenyu.plugin.sofa.SofaPlugin]

[2022-08-28 09:23] yu199195 commented on #3883
Yes，I think it is necessary.  can you  provider this pr ?

[2022-08-28 12:31] li-keguo commented on #2066
ok！ thanks～

[2022-08-28 12:31] #2066 closed

[2022-08-29 01:36] shihuili1218 commented on #3883
of course

[2022-08-29 03:15] dragon-zhang commented on #3805
@runqi-zhao @HeZean How is the progress now?

[2022-08-29 03:19] HeZean commented on #3805
Sorry for the delay, I'll submit a PR today

[2022-08-29 04:02] runqi-zhao commented on #3805
Sorry for the delay, I'll submit a PR today

[2022-08-29 04:37] ousinka commented on #2657
I tested version 2.5(master branch code), which has been unified~

[2022-08-29 04:45] ousinka commented on #2817
What you want to know is shenyu-examples-springcloud.
url is : https://github.com/apache/shenyu/tree/master/shenyu-examples/shenyu-examples-springcloud

[2022-08-29 05:29] ousinka commented on #3145
The shenyu-plugin-oauth2 of the new version is closed by default, and no exception is found.

[2022-08-29 06:05] niejian opened #3886 "[Question] <shenyu-boostrap use nacos sync failed>"
### Question

when I use nacos to sync data from `admin` to `bootstrap`. But when I start `bootstap`, in its log，doesn't show data sync from `admin`, switch to `websocket`, it shown。

* nacos config
[code]

* **use nacos to sync, `bootstrap` log show**
![image](https://user-images.githubusercontent.com/7080323/187133166-33c60597-5606-4dff-a85c-19b2476fece9.png)
* **use websocket to sync**
![image]

[2022-08-29 06:15] niejian commented on #3886
user should add `sync-nacos` dependency by yourself in `shenyu-bootstrap`

[code]

[2022-08-29 06:15] #3886 closed

[2022-08-29 07:28] #3870 closed

[2022-08-29 08:21] bigbug-dachong opened #3887 "[Question] <title> 如何拿到真实请求IP"
### Question

查看了代码，插件中IP功能是通过 ForwardedRemoteAddressResolver 来实现获取真实ip的

但是在代码中，有2个点，没想清楚。

1、在extractXForwardedValues方法中，通过.split(", ")来切分ip，确定能切分开？是否多了空格？
![image](https://user-images.githubusercontent.com/46708615/187157316-ffeb0dee-f852-4346-ad24-80bf2d7abe66.png)

2、在判断XForwarded中可信值时，默认是取1，而且还倒序了。
加入中间经过代理层，这里是只信任上一跳吗？或者说只信任上一层代理地址？那和直接获取remote-ip不是一样了么？
![image](https://user-images.githubu

[2022-08-29 09:21] bigbug-dachong commented on #3887
刚好看到 阿里云SLB文档，里面x-forward-for确实有空格
![image](https://user-images.githubusercontent.com/46708615/187168597-350d0441-0475-4648-926c-63c189b1f434.png)

这个有固定标准吗。。