[2021-08-12 01:16] zondacker commented on #1861
Actually, I just did the test, not the business. You can see the picture uploaded when I first submitted, it was the response headers in the postman.

[2021-08-12 01:58] shiyixunsyx commented on #1919
no problem after remove this custom plugin

[2021-08-12 03:55] zhentaowang opened #1923 "Packaging deployment issues（2.4.0）"
## Question
I pull the code of version 2.4.0, then package mvn clean install, execute Java - jar XXX, and the following error occurs:

java.lang.IllegalStateException: The following classes could not be excluded because they are not auto-configuration classes:
	- org.springframework.boot.autoconfigure.ldap.LdapAutoConfiguration

	at org.springframework.boot.autoconfigure.AutoConfigurationImportSel

[2021-08-12 04:12] zhentaowang commented on #1916
if the feature need more people to completed, i'd like to join in add tracing feature

[2021-08-12 06:06] shiyixunsyx commented on #1919
Who can solve it? I'm in a hurry

[2021-08-12 06:39] impactCn opened #1924 "Add support for docker"
When I used docker, I used the ip inside the container to forward the url in the request, which caused the request to fail to be sent and timed out. So I want to do docker support for shenyu.

[2021-08-12 06:46] tydhot commented on #1924
I remember I have let @HessTina-YuI to deploy shenyu  with docker in our test env in June . And it seemed everything is ok.

[2021-08-12 06:53] tydhot commented on #1923
@HessTina-YuI

[2021-08-12 07:15] impactCn opened #1925 "Add ipUtils to get real ip"
Solve the problem that the request cannot be forwarded in the docker bridge.

[2021-08-12 07:15] #1924 closed

[2021-08-12 07:17] impactCn commented on #1924
Please move here to discuss #1925

[2021-08-12 07:20] zhentaowang commented on #1923
@HessTina-YuI How do I say this?

[2021-08-12 07:27] HessTina-YuI commented on #1923
What's your jdk version and your operating system ?

[2021-08-12 07:28] zhentaowang commented on #1923
1.8.0_292   centos

[2021-08-12 07:32] HessTina-YuI commented on #1923
I will prepare the environment first about centos8

[2021-08-12 07:44] zhentaowang commented on #1923
@HessTina-YuI
 I execute Java - jar shenyu-admin.jar on the local Mac computer and report the same error:

java.lang.IllegalStateException: The following classes could not be excluded because they are not auto-configuration classes:
        - org.springframework.boot.autoconfigure.ldap.LdapAutoConfiguration

        at org.springframework.boot.autoconfigure.AutoConfigurationImportSelector.handleIn

[2021-08-12 07:53] zhentaowang commented on #1923
@HessTina-YuI
I don't think it has anything to do with the system environment. It may be a packaging problem. How did you successfully package and deploy

in shenyu-admin pom.xml, I config maven-assembly-plugin, detail as:

<plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-assembly-plugin</artifactId>
                <version>3.3.0</version>

[2021-08-12 13:59] iris-xie opened #1926 "contextPath should start with / but / is separator of consul and etcd!"
contextPath should start with / but / is separator of consul and etcd!
your kv path looks like this:
shenyu
   ├──regsiter
   ├    ├──metadata
   ├    ├     ├──${rpcType}
   ├    ├     ├      ├────${contextPath}
   ├    ├     ├               ├──${ruleName}

if my contextPath is /test

my consul KV path should be shenyu/register/metadata/http//test/xxx  which is of course not supported by consul.wi

[2021-08-13 02:24] HessTina-YuI commented on #1923
Yes, the dependencies are not packaged. You can run start.sh in /shenyu-dist/shenyu-admin-dist/src/main/release-docs

[2021-08-13 02:50] #1905 closed

[2021-08-13 03:07] #1882 closed

[2021-08-13 03:08] #1913 closed

[2021-08-13 03:45] janusdo opened #1927 "Parparameter transformation cannot get form data after the parameter mapping"
Custom add form data, ParamTransformPlugin cannot get.

[2021-08-13 05:21] midnight2104 commented on #1927
hi, can you provide more detail info?

[2021-08-13 05:30] midnight2104 commented on #1925
good job

[2021-08-13 06:25] janusdo commented on #1927
I customize the rpc plugin implementation and configure the param_mapping plugin.

{"removeParameterKeys":[],"replaceParameterKeys":[],"addParameterKeys":[{"path":"$","key":"keyIndex","value":"#{keyIndex}"}]}

Parparameter transformation cannot get keyIndex value, map is empty.

private Mono<Void> formData(final ServerWebExchange exchange, final ServerRequest serverRequest, final ShenyuPluginChain

[2021-08-13 06:35] SaberSola commented on #1927
what's your custom plugin order, need  pay attention to the order of custom plugin execution

[2021-08-13 06:43] janusdo commented on #1927
custom plugin order behind paramTransform

[2021-08-13 06:51] SaberSola commented on #1927
Fine, thx for your issue, i will verify it

[2021-08-13 06:51] SaberSola commented on #1927
Fine, thx for your issue, i will verify it

[2021-08-13 06:58] janusdo commented on #1927
Thanks!

[2021-08-14 04:10] ttttangzhen opened #1930 "Optimize Exception printing in unit test"
## Task
Replace exception printing to exception annotation and assert

Module List:
- [x] shenyu-admin @ttttangzhen
- [x] shenyu-agent @ttttangzhen
- [x] shenyu-bootstrap @ttttangzhen
- [x] shenyu-client @ttttangzhen
- [x] shenyu-common @ttttangzhen
- [x] shenyu-disruptor @ttttangzhen
- [x] shenyu-examples @ttttangzhen
- [x] shenyu-web @ttttangzhen
- [x] shenyu-metrics @zhaiweij
- [x] shenyu-plugi

[2021-08-14 07:11] qinliang373 opened #1932 "数据字典中新增或修改记录divide中打开规则列表控制台报错"
## Describe the bug
1、在数据字典中新增或修改信息
2、打开divide中rulesList click modify，console print error
![image](https://user-images.githubusercontent.com/39186613/129438215-a85d0c20-752c-440d-998d-bfd9a0f9f87a.png)
浏览器版本
chrome版本 78.0.3904.108（正式版本） （32 位）

## Environment

- ShenYu version(s): [e.g. 2.2.1]
拉取最新版本

## Steps to reproduce

## Expected behavior

## Debug logs

<details>
<summary>Click to expand</s

[2021-08-14 08:23] KevinClair commented on #1932
@fengzhenbing Please check this.

[2021-08-14 12:51] fengzhenbing commented on #1932
I will check it .

[2021-08-14 14:20] fengzhenbing commented on #1932
@qinliang373  Thanks, we will fix it right now.

[2021-08-14 15:00] #1927 closed

[2021-08-15 00:50] #1910 closed

[2021-08-15 02:28] #1932 closed

[2021-08-15 12:53] dengliming opened #1934 "Flaky Test: org.apache.shenyu.admin.service.UpstreamCheckServiceTest#testScheduled"
## Describe the bug

This test fails occasionally

[code]
you can see full log detail  https://github.com/apache/incubator-shenyu/runs/3333377237

[2021-08-16 09:10] SaberSola commented on #1927
https://github.com/apache/incubator-shenyu/pull/1931

@JamieSlome HI, we will fix it on this pr.Thanks for your issue.

[2021-08-17 03:07] HessTina-YuI commented on #1866
Thanks everyone. This task is over.

[2021-08-17 03:07] #1866 closed

[2021-08-17 06:32] zhentaowang commented on #1923
@HessTina-YuI
The following plug-in configuration can run normally through Java - jar after packaging：
<plugins>
            <plugin>
                <groupId>org.springframework.boot</groupId>
                <artifactId>spring-boot-maven-plugin</artifactId>
                <version>${spring-boot.version}</version>
                <configuration>
                    <fork>true</fork>

[2021-08-17 10:23] #1901 closed

[2021-08-17 10:24] #1777 closed

[2021-08-18 03:45] cqleo opened #1942 "是否支持代理websocket客户端？"
是否支持代理websocket客户端？

如果支持，有没有相关对接文档？

[2021-08-18 05:29] midnight2104 commented on #1942
hi, here is a doc(2.3.0 version) for websocket: https://shenyu.apache.org/zh/projects/shenyu-2.3.0/websocket-plugin/ . If the version is of another version, check the corresponding version document.

在 2021-08-18 11:45:49，"Johnson.Chen" ***@***.***> 写道：

是否支持代理websocket客户端？

如果支持，有没有相关对接文档？

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it o

[2021-08-18 05:34] midnight2104 commented on #1942
if you have other question, please in english. now, I'll close it.

[2021-08-18 05:34] #1942 closed

[2021-08-18 05:48] cqleo commented on #1942
thanks!

that is what i need !

[2021-08-19 07:50] yu199195 opened #1944 "[Source Code Activities] Welcome to participate Apache ShenYu Source Code Analysis"
Hi community

We are preparing a comprehensive source code analysis on Apache ShenYu,
to help more people understand and use it.
This event mainly focuses on source code analysis output technology blog.
So I have listed the following tasks according to the module:

## News Guide

- [ ] Setup for Apache ShenYu @plutokaito
- [ ] How to use Apache ShenYu Proxy http protocol @plutokaito
- [ ] How to u

[2021-08-19 08:20] zhaiweij commented on #1944
'Data Structure && Data Sync Impl Analysis' I am more familiar with this code before I can try to write

[2021-08-19 08:22] 4zd commented on #1944
All the items under the topic[Data Structure && Data Sync Impl Analysis] are wanted. Please assign them to me.

- Data Sync for Websocket
-  Data Sync for Zookeeper
-  Data Sync for Nacos
-  Data Sync for Etcd
-  Data Sync for Http

[2021-08-19 08:34] 4zd commented on #1944
@yu199195 I think I can try the items below instead, which are parts of the topic "App Client Access Impl Analysis".

Register Center for Zookeeper
 Register Center for Nacos
 Register Center for Http
 Register Center for ETCD
 Register Center for Consul

[2021-08-19 08:49] plutokaito commented on #1944
get News Guide， I think i need to know how to use.

[2021-08-19 08:58] zhenjie-liu opened #1945 "使用springcloud插件返回500错误"
## Question
when i use shenyu springcloud plugin it return 500 error.  the main msg is "io.netty.handler.timeout.ReadTimeoutException: null"
it happens only on large  data size.
![image](https://user-images.githubusercontent.com/89188776/130040242-f0e6f880-df1b-4ce6-901f-9212bf2439d7.png)

[2021-08-19 09:00] changanjennifer commented on #1944
I wanna try  SPI Impl Analysis:

 SPI for PredicateJudge
 SPI for MatchStrategy

[2021-08-19 09:01] Zhoutzzz commented on #1945
We promote the use of English for communication.

[2021-08-19 09:18] leven-space commented on #1944
Please assign to me ：
【
SPI for ParameterData
SPI for PredicateJudge
SPI for MatchStrategy
 How to custom SPI
】

[2021-08-19 09:33] yu199195 commented on #1944
@leven-space  hi ， can you  Participation to  SPI for ParameterData and SPI for ParameterData，The others are already taken.

[2021-08-19 09:34] hqgordon commented on #1944
I want a small part of it：

 How to custom Plugin

[2021-08-19 09:46] #1919 closed

[2021-08-19 09:46] #1945 closed

[2021-08-19 09:48] JooKS-me commented on #1944
Hi, I'd like to take some in **Plugin Impl Analysis**:
1. Context-Path Plugin
2. Param-Mapping Plugin
3. Dubbo Plugin to Proxy dubbo protocol
4. RateLimiter Plugin to Cluster Limiting

[2021-08-19 09:50] yu199195 commented on #1944
@JooKS-me  ok

[2021-08-19 09:50] yu199195 commented on #1944
@plutokaito ok

[2021-08-19 09:54] zhentaowang opened #1946 "DynamicServerListLoadBalancer serverList is null problem(2.4.0)"
## Describe the bug

If other services are not registered in the same namespace of nacos as the gateway shenyu-bootstrap, an error occurs：

Client: demo-aaa instantiated a LoadBalancer: DynamicServerListLoadBalancer:{NFLoadBalancer:name=demo-aaa,current list of Servers=[],Load balancer stats=Zone stats: {},Server stats: []}ServerList:null
## Environment

- ShenYu version(s):2.4.0

## Steps to repr

[2021-08-19 09:59] ttttangzhen commented on #1944
Hi, I'd like to take some in Plugin Impl Analysis

[2021-08-19 10:03] yu199195 commented on #1946
Can your issue follow the template?

[2021-08-19 10:06] stephenshen1993 commented on #1944
I'd like to take some in Plugin Impl Analysis:

- Rewrite Plugin
- Redirect Plugin
- Request Plugin
- SpringCloud Plugin to Proxy spring-cloud protocol

[2021-08-19 10:12] zhentaowang commented on #1946
@yu199195 how to solve the problem ？

[2021-08-19 10:24] impactCn commented on #1944
I'd like to take some in Plugin Impl Analysis:

- Plugin Desgin
- JWT Plugin to Support Authorization

[2021-08-19 10:57] zhaiweij commented on #1944
I'd like to take some in Plugin Impl Analysis
 Sentinel Plugin to Limiting and Fusing
 Resilience4j Plugin to Limiting and Fusing

[2021-08-19 10:58] zhaiweij commented on #1944
hi

I'd like to take some in Plugin Impl Analysis

Sentinel Plugin to Limiting and Fusing

Resilience4j Plugin to Limiting and Fusing

On 08/19/2021 ***@***.***> wrote：

I'd like to take some in Plugin Impl Analysis:

Plugin Desgin
JWT Plugin to Support Authorization

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notific

[2021-08-19 12:42] midnight2104 commented on #1946
hi @zhentaowang   please see   https://shenyu.apache.org/community/issue-pr/

[2021-08-20 00:41] zhenjie-liu opened #1949 "use springcloud plugin request large mount of data return 500 error . shenyu version 2.4.0"
## Question

// your question here;
when i visit my service directly,it runs well。 it, however,returns "ReadTimeoutException: null" when i  through  ”springcloud plugin“
tips: For a small amount of data, either way is fine

![image](https://user-images.githubusercontent.com/89188776/130161313-830f620a-5c11-4a76-be78-ae491e68297c.png)

[2021-08-20 03:20] JooKS-me opened #1950 "Add integrated test for context-path plugin"
Add integrated test for context-path plugin

[2021-08-20 05:27] midnight2104 opened #1951 "Datasource support Oracle and PostgreSQL."
## Task

MySQL and H2 datasource are currently supported in admin. This task is to implement support for Oracle and PostgreSQL.

Task List:

- [x] Datasource support Oracle. @rom1c77
- [x] #1967 @ShawnJim

Please read the [Contribution Guideline](https://shenyu.apache.org/community/contributor/) before submitting the PR

[2021-08-20 05:37] midnight2104 opened #1952 "Use another method to replace MD5 in http long polling data synchronization."
## Task

In the Http long polling data synchronization, md5 is used to compare the data on the client and admin. This is not a good method, and other methods are recommended.

[code]

Task List:

- [ ] Use another method to replace MD5. @rom1c77

Please read the [Contribution Guideline](https://shenyu.apache.org/community/contributor/) before submitting the PR

[2021-08-20 06:53] kangarooking commented on #1944
I want try Register Center for Nacos

[2021-08-20 06:54] kangarooking commented on #1944
can I try Register Center for Nacos and Data Sync for Nacos?

[2021-08-20 07:00] kangarooking commented on #1944
and SpringCloud client

[2021-08-20 07:32] ChoviWu commented on #1951
i want

[2021-08-20 08:53] midnight2104 commented on #1951
cool, you need to reply in here : https://github.com/apache/incubator-shenyu/issues/1951 . that can assgin to you.

At 2021-08-20 15:32:13, "奕仁" ***@***.***> wrote:

i want

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.

[2021-08-20 09:29] 17661152 opened #1954 "shenyu-plugin-httpclient conflicts with spring cloud feign httpclinet"
When I turn on the spring cloud feign httpclient implementation, the HttpClient in the WebClientConfiguration class is empty, and an error is reported at startup

![image](https://user-images.githubusercontent.com/49092294/130212486-58434c9c-94d0-482f-95bc-bd0dff68680b.png)

![image](https://user-images.githubusercontent.com/49092294/130212596-f78a8f76-5354-4253-8411-96fee314106b.png)

Version is

[2021-08-20 09:33] yu199195 commented on #1954
can you show all configuration or application.yaml?

[2021-08-20 09:33] yu199195 commented on #1944
@kangarooking  ok

[2021-08-20 09:37] dragon-zhang opened #1955 "use nginx as webserver"
EN:
Recently, my company is using springboot as a gateway and has encountered performance problems. Here I propose an idea: can an `org.springframework.boot.web.server.webserver` and `org.springframework.boot.web.reactive.server.configurablereactivewebserverfactory` be implemented to adapt nginx? In the scenario of request forwarding, this can greatly improve performance.

CN:
我的公司最近在用SpringBoot做网

[2021-08-20 09:37] 17661152 commented on #1954
Please check, thank you！

bootstrap.yml

server:
  port: 80
spring:
  profiles:
    active: dev
  application:
    name: shenyu-service
  main:
    allow-bean-definition-overriding: true
  cloud:
    nacos:
      config:
        server-addr: 192.168.100.98:8848
        namespace: 421a641a-f8b6-46b4-b948-4ae1ac8934fd
        file-extension: yaml
      discovery:
        server-addr: ${spring.cloud.

[2021-08-20 12:45] janusdo opened #1956 "How to record the log information to the database"
I want to record the api request information into the database, including success and failure records. Is there a good solution?

[2021-08-21 02:21] dengliming commented on #1888
@qurenneng Hi~ any progress?

[2021-08-21 02:30] qurenneng commented on #1888
Solved in the last two days

At 2021-08-21 10:21:31, "dengliming" ***@***.***> wrote:

@qurenneng Hi~ any progress?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.

[2021-08-21 02:32] qurenneng commented on #1888
Solved in the last two days

[2021-08-21 02:50] dengliming commented on #1888
which pr?

[2021-08-21 03:06] qurenneng commented on #1888
the password (Need to discuss)  This is what we need to do here

[2021-08-21 04:25] dengliming commented on #1956
Try refer to https://github.com/apache/incubator-shenyu/tree/master/shenyu-plugin/shenyu-plugin-logging. and replace log with database.

[2021-08-23 02:07] wxs19920926 opened #1963 "shenyu支持性"
## Question

shenyu是否支持文件上传、tcp netty的路由转发呢？

[2021-08-23 02:50] zhaiweij commented on #1963
hi,file upload will bring a great burden to the gateway. It is not recommended to use the gateway to do this function, and it is more recommended to use a file server to implement this function.

在2021年08月23日 ***@***.***> 写道：

Question

shenyu是否支持文件上传、tcp netty的路由转发呢？

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscrib

[2021-08-23 03:10] #1872 closed

[2021-08-23 05:06] rom1c77 commented on #1952
assign to me

[2021-08-23 05:13] rom1c77 commented on #1951
assign to me  [Datasource support Oracle]

[2021-08-23 05:15] JooKS-me opened #1966 "Add integrated test for param-mapping plugin"
The following should be test:

- test using `addParameterKeys`
- test using `replaceParameterKeys`
- test using `removeParameterKeys`

[2021-08-23 06:03] ShawnJim commented on #1951
assign to me [Datasource support PostgreSQL]. thanks

[2021-08-23 06:04] Asxing opened #1967 "Datasource support PostgreSQL"

[2021-08-24 03:24] #1950 closed

[2021-08-24 08:45] janusdo commented on #1956
The Logging plugin cannot record the ShenyuResultWrap error message，Are there any other solutions to this question?
thank you!

[2021-08-25 02:52] #1963 closed

[2021-08-25 02:55] rom1c77 opened #1972 "mvn clean install error"
env:
![image](https://user-images.githubusercontent.com/14304457/130717979-f4d4c6a0-6b86-41dc-bdff-e8e455196c9b.png)

quetion:

run this command error
`mvn clean install -Dmaven.test.skip=true -Dmaven.javadoc.skip=true`

[code]

emm,how to resolve this ?

[2021-08-25 03:54] yu199195 commented on #1972
pls clean you local env~

[2021-08-25 06:16] #1782 closed

[2021-08-25 07:01] changanjennifer commented on #1944
Hi,

   I've wrote analysis for PredicateJudge SPI （ see attached), I'm not sure whether it is qualified.  Can you give any suggestion?

  Or is there any recommend  Code Analysis materials to refer?  After tha I will supply English version.

At 2021-08-19 17:51:06, "xiaoyu" ***@***.***> wrote:

Assigned #1944 to @changanjennifer.

—
You are receiving this because you were assigned.
Reply to this

[2021-08-25 07:25] yu199195 commented on #1944
@changanjennifer    Of course, you can

[2021-08-25 10:04] rom1c77 commented on #1972
yeah, this problem is sooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooool fuck

[2021-08-25 10:04] #1972 closed

[2021-08-25 11:55] tydhot opened #1978 "add agent classloader for shenyu agent"

[2021-08-25 12:02] zhaiweij commented on #1978
hi,I can participate in this function

[2021-08-25 12:02] tydhot commented on #1978
@zhaiweij good luck

[2021-08-25 12:27] JooKS-me opened #1979 "Refactor integration test"
Hi, community~

When we are doing integration testing, if we need to configure the relevant information of the gateway, we don't need to use the sql script now. We can just use `HttpHelper` in the Java code to request the relevant interface of the shenyu gateway.

Now, we need to replace the sql script with java code. You can refer to #1975 . The following is about the task of refactoring the inte

[2021-08-26 02:49] yu199195 opened #1980 "[Integration-Test] Add plugin test for Http"
Hi community

Plugin integration testing is very important. But now there is still a part missing, can you do me a small favor.

So I have listed the following tasks：

- [ ] add cryptor plugin  @4zd
- [ ] add hystrix plugin  @rockpig
- [ ] add modify-response plugin @lw1243925457
- [x] add param-mapping plugin
- [x] add request plugin @rom1c77
- [ ] add resilience4j plugin @rockpig
- [x] add senti

[2021-08-26 02:57] yu199195 opened #1981 "[Integration-Test] Init dubbo integration test"
Hi community

This task is needed to test support for the dubbo protocol.

you can add project in apache shenyu, The structure is as follows：

-----shenyu-integration-test
-----------shenyu-integration-test-alibaba-dubbo
-----------shenyu-integration-test-apache-dubbo

Don't worry, they are not very difficult, you can refer to：

1. [shenyu-integrated-test-http](https://github.com/apache/incubator-

[2021-08-26 02:58] yu199195 opened #1982 "[Integration-Test] Init sofa integration test"
Hi community

This task is needed to test support for the sofa-rpc protocol.

you can add project in apache shenyu, The structure is as follows：

-----shenyu-integration-test
-----------shenyu-integration-test-sofa

Don't worry, they are not very difficult, you can refer to：

1. [shenyu-integrated-test-http](https://github.com/apache/incubator-shenyu/tree/master/shenyu-integrated-test/shenyu-integ

[2021-08-26 03:00] yu199195 opened #1983 "[Integration-Test] Init grpc integration test"
Hi community

This task is needed to test support for the grpc protocol.

you can add project in apache shenyu, The structure is as follows：

-----shenyu-integration-test
-----------shenyu-integration-test-grpc

Don't worry, they are not very difficult, you can refer to：

1. [shenyu-integrated-test-http](https://github.com/apache/incubator-shenyu/tree/master/shenyu-integrated-test/shenyu-integrate

[2021-08-28 01:47] strawberry-crisis commented on #1981
OK thx

[2021-08-28 05:21] JooKS-me commented on #1980
@yu199195 Hi, I have done `param-mapping plugin` test in #1966 .

[2021-08-30 07:02] #1966 closed

[2021-08-30 07:02] #1955 closed

[2021-08-30 07:05] yu199195 commented on #1967
@HelKim  hi, this  fuction alreay support by #1985  ,  thank you ~

[2021-08-30 07:05] #1967 closed

[2021-08-30 08:10] strawberry-crisis commented on #1981
I have some trouble doing this task,

1. In "shenyu-integration-test-alibaba-dubbo", I can't override `<dubbo:registry address="zookeeper://localhost:2181"/>` by docker compose file in shenyu-integration-test-alibaba-dubbo with config:
[code]
2. In "shenyu-integration-test-apache-dubbo", all docker images are up but test failed:
[code]

[2021-08-30 09:36] yu199195 opened #1996 "Use ShenyuConfig Replace System.getProperty"
Hi Community

ShenyuConfig is the global configuration class, which you can configure properties inside yaml and then get through it, replaces the current  System.getProperty

#### Additional context

Please read the [Contribution Guideline](https://shenyu.apache.org/community/contributor/) before submitting the PR

[2021-08-31 02:59] yujava commented on #68
公司：稿定科技
网址：https://www.gaoding.com
地点：深圳市
联系方式：yujava@163.com
场景：API网关，定制化开发。

[2021-08-31 06:35] heihei180 commented on #1902
If you use spring MVC, this is allowed, so I think we can be compatible with it

[2021-08-31 10:11] #1996 closed

[2021-08-31 14:16] qicz opened #2001 "feature common : support external cros filter config."
using `shenyu.cros-filter-config.*` config the cors filter:
[code]

the `allowed-headers` default is `x-requested-with, authorization, Content-Type, Authorization, credential, X-XSRF-TOKEN, token, username, client`.

 the external config will append to the `allowed-headers`.  the example of `allowed-headers` = `x-requested-with, authorization, Content-Type, Authorization, credential, X-XSRF-TOKEN,

[2021-08-31 14:35] SaberSola commented on #2001
Hi,maybe you can provider a pr, make cross filter use configuration instead of hard coding

[2021-08-31 14:36] qicz commented on #2001
see #2000

[2021-09-01 07:45] #2001 closed

[2021-09-01 08:28] mousycoder commented on #68
公司：/
网址：/
地点：深圳市
联系方式： 345206356@qq.com
场景：个人学习

[2021-09-01 09:46] #1906 closed

[2021-09-01 09:50] #1930 closed

[2021-09-01 09:51] #1923 closed

[2021-09-01 09:51] #1902 closed

[2021-09-01 09:52] #1827 closed

[2021-09-01 09:52] #1949 closed

[2021-09-01 09:53] #1596 closed

[2021-09-01 09:53] #1595 closed

[2021-09-01 10:37] thicv opened #2004 "Why are many contents of SharingSphere AND Dromara like shenyu so much？"
## Question

When I looked at Shen Yu’s document today, I felt that Shen Yu’s coding guidelines are really good. Obviously it is not an excerpt of the document, nor is it a specification already organized by other companies. This seems to be a code carefully organized by a code maker over the years, and I am deeply moved by reading it. However, when I searched, I found that two organizations, Shar

[2021-09-01 10:42] yu199195 commented on #2004
@thicv
Hi，Thank you for your attention.

Im is ShardingSphere committer，
ShardingSphere has more useful code specifications，
So we borrowed some of it, but with a little difference。

[2021-09-01 11:01] thicv commented on #2004
sugoi !! you are one of the shardingsphere commiter !
そうですね
so , soso,  is that means , the man who create shardingsphere code guideline is the God of coder ? this is my most useful found today , I hope I can talk to that guy . do you have any of his contect method ?
and also hope shenyu works well， be better and better.

BTW, shenyu should declare that used the mojority of shardingsphere code gui

[2021-09-01 11:47] tuohai666 commented on #2004
I'll add the reference of the ShardingSphere code conduct for this doc.

[2021-09-01 11:47] #2004 closed

[2021-09-01 11:50] yu199195 commented on #1983
@prospect167

hi， How's your mission going?

[2021-09-01 11:50] yu199195 commented on #1982
@ChDoBigThings
Hi， How's your mission going?

[2021-09-01 11:58] thicv commented on #2004
hi , comrade do you have that man's contact way ? I want to discuss with him . the god of coder in shardingsphere

[2021-09-01 12:00] thicv commented on #2004
comrade, you should add the info first and then close this issue, that's the gorgeous opensource way

[2021-09-01 12:08] prospect167 commented on #1983
sorry, this weekend to done

[2021-09-01 15:29] ttttangzhen opened #2006 "Add jaxb-api license"
Task List:

- [x] Add jaxb-api license

Please read the [Contribution Guideline](https://shenyu.apache.org/community/contributor/) before submitting the PR

[2021-09-02 05:51] zhaiweij opened #2008 "Modify the return value of the'skip' method interface of'ShenyuPlugin' to boolean"
## Task

Modify the return value of the'skip' method interface of'ShenyuPlugin' to boolean
Task List:

- [ ] Modify the return value of the'skip' method interface of'ShenyuPlugin' to boolean
- [ ] Modify the return value of the reference'skip' method to boolean

Please read the [Contribution Guideline](https://shenyu.apache.org/community/contributor/) before submitting the PR

[2021-09-02 07:31] impactCn opened #2009 "Enhance the ability of jwt plugin"
The current jwt plugin only provides verification functions. You can add the check and put it in the request header. Parameters can be customized in the request header.

For example, the parsed by jwt is {"userId", "123"},
It can be configured externally. When it is placed in the header, it can be modified to "client-user-id": "123" and placed on the request header.

[2021-09-02 08:48] KevinClair commented on #2008
What's task No.2?

[2021-09-02 08:54] ichenhe opened #2010 "Admin Docker failed to start with file mapping"
## Describe the bug

Cannot run the admin docker with `-v ${your_work_dir}/conf:/opt/shenyu-admin/conf/` which descripted in [doc](https://shenyu.apache.org/docs/deployment/deployment-docker/).

But the old version (dromara/soul-admin) is successful.

## Environment

- ShenYu version(s): 2.4.0

## Steps to reproduce

`docker run -v /.../shenyu-admin/conf:/opt/shenyu-admin/conf/ -d -p 9095:9095 apa

[2021-09-02 09:28] ichenhe commented on #2010
Ok, I think I found the reason.

If someone has the same problem as me, try to copy the conf files from a working container.  Configuration files in the repository may not match the published docker image.

[2021-09-02 09:28] #2010 closed

[2021-09-02 13:33] ichenhe opened #2012 "Spring Cloud - Wrong context path"
## Describe the bug

It seems that spring cloud dependence failed to register context path correctly, caused the actual path that shenyu visit is very strange.

## Environment

- ShenYu version(s): 2.4.0

## Steps to reproduce

1. Add dependence to my service: `implementation("org.apache.shenyu:shenyu-spring-boot-starter-client-springcloud:${Const.shenYuVersion}")`
2. Add properties:
[code]
3. Add

[2021-09-02 14:05] dragon-zhang opened #2013 "support rpc unwrap result"
now rpc response:
{
"code":200,
"message":"OK",
"data":{
"id":3,
"name":"hello world shenyu Alibaba Dubbo, findById"
}
}

when config rpc annotation like this:
@ShenyuDubboClient(path = "/findById", desc = "Query by Id", wrap = false)

you will get rpc response:
{
"id":3,
"name":"hello world shenyu Alibaba Dubbo, findById"
}

ref and pr here: https://github.com/apache/incubator-shenyu/pull/2011

[2021-09-02 15:33] qicz opened #2014 "Context Path Plugin cut the real uri "String index out of range""
## Describe the bug
when set the `contextPath` is `/**`,  call the api will report  "String index out of range"

## Environment

- ShenYu version(s): 2.4.1-SNAPSHOT

## Steps to reproduce
- set context path
![image](https://user-images.githubusercontent.com/2174082/131871416-c4490e0e-4d16-4bbf-9a9b-72216f4e0dd6.png)
![image](https://user-images.githubusercontent.com/2174082/131879020-18f38214-b67f

[2021-09-02 15:39] qicz opened #2015 "feature plugin: Support sign plugin custom dynamic signer"
the `sign-plugin` using the `SignUtils` to do the `sign` logic now.

maybe support the custom dynamic sign way for  `shenyu` users.

[2021-09-02 16:15] qicz commented on #2012
see #2014 , the `context path` is `/**` 3 chars, the `rule` is `//users/**` , cut the first 3 chars is `sers` so urlPath changed to `http://192.168.50.20:7010ers/hello`.

[2021-09-02 16:20] KevinClair commented on #2012
Check your configuration, you put the wrong contextPath.By the way, if your request path don't need `context-path`, just set empty string,please don't set `"/"`

[2021-09-02 16:22] KevinClair commented on #2014
Duplicate of #2012

[2021-09-02 16:23] ichenhe commented on #2012
@KevinClair As I mentioned, you can't set an empty string, otherwise an exception will occur. So what should be the correct value?

[2021-09-02 16:24] KevinClair commented on #2015
See [Custom Sign Algorithm](https://shenyu.apache.org/docs/developer/custom-sign-algorithm/)

[2021-09-02 16:33] ichenhe commented on #2012
@qicz Maybe I didn't fully understand your words.
According to your statement, it seems that it should be `sers` in the end, but actual is `ers`.

[2021-09-02 16:50] KevinClair commented on #2012
Can you show me the exception?

[2021-09-02 16:55] ichenhe commented on #2012
@KevinClair `contextPath: ""`

exception:

<details>
<summary>Click to expand</summary>

[code]
</details>

[2021-09-02 17:06] KevinClair commented on #2012
Thanks a lot, this bug will be fixed.

[2021-09-02 23:34] qicz commented on #2014
maybe check the `context.getPath()` is started with `handle.getContextPath()`, if not prompt the `context-path` invlid. I will fix this.

[2021-09-02 23:39] qicz commented on #2012
the rule `//users/**` first char `/` can be the default, the result is `sers`  after removing the start 3 chars, so my description was wrong.

[2021-09-02 23:46] qicz commented on #2015
I just want to custom the `String sigKey = SignUtils.generateSign(appAuthData.getAppSecret(), buildParamsMap(shenyuContext));` SignUitlis's logic and using the DefaultSignService.

[2021-09-03 04:34] #2006 closed

[2021-09-03 06:20] #2014 closed

[2021-09-03 06:42] qicz commented on #2012
#2017 fixed this bug.

[2021-09-03 06:45] ichenhe commented on #2012
@qicz thanks. So I should still set `context_path` attribute to an empty string?

[2021-09-03 08:19] zhaiweij commented on #2008
One is to modify the "skip" method, and the other is to modify the reference to the "skip" method

[2021-09-03 08:34] qicz commented on #2012
#2017 just validate the `context path` is valid or invalid.  if the `context path` is invalid will respond to an error message.

[2021-09-03 09:08] HessTina-YuI opened #2020 "User PageHelper to query list."
## Task

delete ShenYu custom paging class, and use PageHelper.

Please read the [Contribution Guideline](https://shenyu.apache.org/community/contributor/) before submitting the PR

[2021-09-03 09:09] rom1c77 commented on #2020
plz assign to me

[2021-09-03 14:22] JooKS-me commented on #1979
@HelKim hi,  are you still doing this? Or, do you need my help?

[2021-09-04 09:17] KevinClair commented on #2012
Hello @ichenhe , i had tried many times, if you want to use registy center such as `nacos` and `zookeeper`, you have to set the `context-path` in your application without any special characters, you can set as your application's name.And when you send request, you should add `context-path` before your path.If you have any question,please tell us.

At last, thanks a lot for your report.

[2021-09-04 09:20] ichenhe commented on #2012
@KevinClair So, I must set a context_path. There is no way to approach root request.
Did I understand it correctly?

If yes, how about qicz's PR.

[2021-09-04 09:26] KevinClair commented on #2012
What do you mean `root request`?

[2021-09-04 09:28] ichenhe commented on #2012
No context path. Shenyu redirect the request AS IS.
http://apigetway.com/users/hello  ->  http://backend.com/users/hello

Not -> http://backend.com/{context_path}/users/hello

[2021-09-04 09:39] qicz opened #2023 "CI failure : Some checks were not successful"
failure in `integrated-test-spring-cloud / build (ubuntu-latest) (pull_request)`.

<details>
<summary>Click to show error log</summary>

[code]
</details>

I am tested in local env, maybe the `admin-config` 's SQL in `shenyu-integrated-test-spring-cloud` is not working, so the `UPDATE plugin SET enabled = 1 WHERE id = '8';` is not running, the `springcloud` plugin can not be enabled. I manually tu

[2021-09-04 09:39] KevinClair commented on #2012
For example,the context-path is '/http'
By springmvc, your request's path is `http://localhost:8080/test`.
By shenyu, your request's path is `http://localhost:9195/http/test`

[2021-09-04 09:46] ichenhe commented on #2012
@KevinClair Yes, I understood.

The point is, I don't want context-path. That's why I set it to '/', but it failed.

Maybe it's a little weird. Because I may expose more than one name for a service (e.g. users and messages), but context-path can only have one value. So I prefer `@ShenyuSpringCloudClient(path='')` to set the prefix.

[2021-09-04 10:06] qicz commented on #2012
maybe can help you @ichenhe

![image](https://user-images.githubusercontent.com/2174082/132090624-ff06d3f3-ef21-4db4-a181-8549606decf8.png)
![image](https://user-images.githubusercontent.com/2174082/132090640-ea55b780-89e4-4d13-80a1-100660f3885a.png)
![image](https://user-images.githubusercontent.com/2174082/132090702-082a3756-a26c-48e9-ac17-f30c11004c08.png)
![image](https://user-images.githubuse

[2021-09-04 10:12] impactCn opened #2024 "Enhance the ability of cryptor plugin"
Use groovy to support dynamic loading algorithms without redeploying shenyu.

[2021-09-04 10:20] qicz commented on #2012
@ichenhe if you set the `context_path` attribute to an empty string, the `divide` selector can be setting like follow:

`test/**` selector and rule:
![image](https://user-images.githubusercontent.com/2174082/132091145-952d6d6b-beae-4487-9e29-fc2815f7d3cf.png)

`order` selector and rule:
![image](https://user-images.githubusercontent.com/2174082/132091154-1ffa23e8-0806-4aa9-8379-6895cd5f1d96.png)

[2021-09-04 10:22] ichenhe commented on #2012
@qicz I don't understand what divide is for. For now, simply deleting the default generated context_path rule can solve the problem. This is simpler than your plan.

I opened this issue because I wonder why the plugin generates this wrong rule. (now KevinClair said I have to set a valid context-path if I use registy center)

So the finally problem is, does the plugin allow me to set an empty conte

[2021-09-04 10:28] qicz commented on #2012
`context path` can manage a class of applications without having to configure many selectors in `divide`, which is probably a goal. Such as `/dubbo` dubbo application,  `/ springcloud` springcloud application.

[2021-09-04 10:29] qicz commented on #2012
maybe this is what you wantted.

[2021-09-04 10:40] ichenhe commented on #2012
I think the core problem has been solved, since @qicz improved the validator.

As for other problems, I think I need some time to learn and practice. Thank you for @qicz 's pr & explanation and @KevinClair 's debugging.

[2021-09-04 10:40] #2012 closed

[2021-09-04 11:03] qicz commented on #2023
local `mvn clean install`
![image](https://user-images.githubusercontent.com/2174082/132092251-77fa5f76-acc8-4ac0-8453-054a7b58780e.png)

[2021-09-04 15:08] qicz opened #2025 "feature plugin: RequestId plugin, generate request id for every request"
Generate  `request id` for every request, and put to request header and response header. the downstream can fetch `request id` from `request header`, the frontend can fetch `request id` from `response header`.

[2021-09-05 05:49] qicz opened #2028 "Redirect Plugin application inner redirect 'NOT_FOUND'"
## Describe the bug
set `/goods` redirect to `/user`, but the redirect request `uri` is invalid.

## Environment

- ShenYu version(s): 2.4.1-SNAPSHOT

## Expected behavior
![image](https://user-images.githubusercontent.com/2174082/132116835-8057b881-5160-477e-ba81-8afc2ee82462.png)

## Debug logs

<details>
<summary>Click to expand</summary>

[code]
</details>

[2021-09-05 06:33] qicz commented on #2028
@Asxing hi, the redirect plugin 's `dispatcherHandler` how to find the `redirectUri` in `shenyu`?

[2021-09-05 07:45] KevinClair commented on #2025
Move it to [RequestPlugin](https://shenyu.apache.org/zh/docs/plugin-center/http-handle/request-plugin)

[2021-09-05 08:51] qicz commented on #2025
It's different, the `request id` plugin is the global and the highest sort than others.

[2021-09-06 01:32] MarsOu1995 opened #2029 "nacos data synchronization will generate large amounts of historical data"
## Feature Request

#### Is your feature request related to a problem? Please describe

When using nacos as synchronization, it will cause the nacos database "his_config_info" table records to surge.
 Because only one piece of data is synchronized each time,  the nacos will generate a history record.
In my test environment, 83G of historical data was generated in one month.
#### Describe the solut

[2021-09-06 04:26] wangdazhong001 commented on #1919
如何解决这个问题的，没有看到相关说明

[2021-09-06 05:39] zhaoguhong opened #2030 "[BUG] <gson is not support anonymous inner class>"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current Behavior

**gson is not support anonymous inner class**

see `org.apache.shenyu.register.client.http.RegisterUtilsTest`

[code]

### Expected Behavior

I think we could write it like this

I will fix it

[code]

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No respons

[2021-09-06 07:02] zhaoguhong opened #2032 "[Question] <Can you add a parameter to the metadata to determine whether to login in or not>"
### Question

Can you add a parameter to the metadata to determine whether to log in or not

---
是否可以在元数据里面加一个参数用来判断该接口用不用登录才可以访问？

[2021-09-06 08:23] wangdazhong001 commented on #257
How to solve

[2021-09-06 10:03] Fouy commented on #68
公司：/
网址：/
地点：上海市
联系方式： 594908728@qq.com
场景：个人学习

[2021-09-06 10:06] yu199195 commented on #2032
No,

[2021-09-06 10:32] #2030 closed

[2021-09-06 10:35] yu199195 commented on #2029
nacos as  data synchronization ， I do not recommend, whether he is full or incremental?

[2021-09-06 10:47] yu199195 opened #2033 "[Discussion] Discussion on shenyu code suggestions"
Hi community

A project's code habits are very important,

especially for projects like ours that are entirely community-based.

So I'd like to invite everyone to come together and suggest better code to make the shenyu project better.

For example :

## Null

* Ues Optional transform Null

* Ues Objects Judgment Null

[2021-09-06 10:57] impactCn commented on #2033
I think when using the map list, if the length can be determined, specify the length as much as possible.
so I think this is a good coding practice

[2021-09-06 11:03] qinxu2015 commented on #2033
Some tools are available Hutool

[2021-09-06 11:10] wangdazhong001 opened #2034 "TimeoutException: Did not observe any item or terminal signal within 3000ms in 'peekTerminal' (and no fallback has been configured)"
### Question

Version: soul 2.3.0
Frequent requests can cause this problem. Check that the underlying service is complete. This frequently refers to the occurrence of manual clicks.
   Don't know how to solve this problem at the moment?
<img width="1176" alt="090CFE6F-241E-4484-9D4D-7500B0398614" src="https://user-images.githubusercontent.com/49627839/132208547-67cdf859-f800-4422-a5ff-2ccc4ea4d853

[2021-09-06 11:12] wangdazhong001 commented on #2034
#1197

[2021-09-06 11:13] yu199195 commented on #2034
can  you used apache shenyu 2.4.0？

[2021-09-06 11:37] qicz commented on #2033
# Remove unnecessary else

[code]

# Use local var replace more getter (shorter statements)

[code]

[2021-09-06 11:56] MarsOu1995 commented on #2029
For example: "rule" configuration, the json content has 2M, each time one rule is updated, the all json content will be saved to the history.So it will cause a lot of waste of database space.

[2021-09-06 12:13] moremind opened #2035 "[BUG] Websocket Sync Error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

1.I added two divide plugins,
![image](https://user-images.githubusercontent.com/20184263/132215427-a31d4781-df1f-465d-ad9a-edd37423d015.png)

2.I close first divide plugin
![image](https://user-images.githubusercontent.com/20184263/132215496-d61951f8-8d53-45b7-a5bc-2dd9d7c00b0e.png)
3.I try

[2021-09-06 12:19] SaberSola commented on #2033
Constant values ​​are not allowed in the code like this
` checkEnable = Boolean.parseBoolean(System.getProperty("shenyu.upstream.check.enable", "false"));
        checkTimeout = Integer.parseInt(System.getProperty("shenyu.upstream.check.timeout", "3000"));
        healthyThreshold = Integer.parseInt(System.getProperty("shenyu.upstream.check.healthy-threshold", "1"));
        unhealthyThreshold = I

[2021-09-06 12:20] SaberSola commented on #2033
Constant values ​​are not allowed in the code like this
` checkEnable = Boolean.parseBoolean(System.getProperty("shenyu.upstream.check.enable", "false"));
        checkTimeout = Integer.parseInt(System.getProperty("shenyu.upstream.check.timeout", "3000"));
        healthyThreshold = Integer.parseInt(System.getProperty("shenyu.upstream.check.healthy-threshold", "1"));
        unhealthyThreshold = I

[2021-09-06 12:20] SaberSola commented on #2033
Constant values ​​are not allowed in the code like this
`
        checkEnable = Boolean.parseBoolean(System.getProperty("shenyu.upstream.check.enable", "false"));
        checkTimeout = Integer.parseInt(System.getProperty("shenyu.upstream.check.timeout", "3000"));
        healthyThreshold = Integer.parseInt(System.getProperty("shenyu.upstream.check.healthy-threshold", "1"));
        unhealthyThres

[2021-09-06 12:32] lw1243925457 commented on #2029
nacos data synchronization，it should update when rule/select/plugin/metadata/auth update.
Do you have a better idea for the large batch and historical data?
all nacos synchronization code is here：org.apache.shenyu.sync.data.nacos

[2021-09-06 13:32] midnight2104 commented on #2033
Here is my view:

- The order of methods in a class: public > private . The following is not a good way.

[code]

- Delete never used method. The following is not a good way.

[code]

- Complex logical judgments can extract a constant to improve code readability. The following is not a good way.

[code]

- Determine null values in advance to reduce cyclomatic complexity.The following is not a good

[2021-09-06 14:15] ttttangzhen commented on #2033
- Avoid directly new RuntimeException, and use a custom Exception class to inherit RuntimeException

[code]

- Avoid magic values ​​in the code
[code]

[2021-09-06 14:38] midnight2104 commented on #2035
hi, @moremind ,thanks for your report, would you like to fix it? and pull request.

[2021-09-07 00:59] MarsOu1995 commented on #2029
Currently, the temporary scheme I use:
Client: Because the data is only synchronized at startup, it uses counters and delays to wait for all data to be prepared and submitted at one time.
Server: Delay processing, but this is not appropriate, it is just a temporary solution.

[2021-09-07 01:44] wangdazhong001 commented on #2034
Let me try

[2021-09-07 01:50] yu199195 commented on #2035
I think ， divide selector handler is  null ？

[2021-09-07 02:03] yu199195 commented on #2034
@wangdazhong001

1.  you can modify this : HttpClientPluginConfiguration.java , like master.
2.  and then if  timeout , you can config HttpClientProperties.
[code]

[2021-09-07 03:19] moremind commented on #2035
No,I only open a selector with selector handler,from the log,I think this question related to plugin rule?

[2021-09-07 03:34] yu199195 commented on #2035
is selector handler filed is null

[2021-09-07 10:33] JooKS-me commented on #68
公司：秦皇岛新友科技有限公司
网址：无
地点：秦皇岛
联系方式：jookunshuai@gmail.com
场景：api网关

[2021-09-07 12:05] wangdazhong001 commented on #2034
At present, only shenyu-bootstrap has been upgraded, and it is found to be normal. It is still under continuous observation. If everything goes well, I will inform the result.

[2021-09-09 03:05] yu199195 commented on #2035
@moremind  can you fix it？

[2021-09-09 03:59] li-keguo opened #2044 "[Question] <add *.http file to support faster experience in examples>"
### Question

I want to add the *.http file to the examples project to support faster experience in examples

eg:
in the shengyu-examples-grpc project
Create the file grpc-test-api.http under src/main/http/
add context to file

`
### shengyu getway proxy echo
POST http://localhost:9195/grpc/echo
Accept: application/json
Content-Type: application/json

{
  "data": [
    {
      "message": "hello gr

[2021-09-09 06:26] wangdazhong001 commented on #2034
After several days of observation, it was basically stable, but there were 2 errors. I don’t know if it has something to do with the server.

[2021-09-09 06:56] yu199195 commented on #1979
@HelKim  hi,  do you need my help?

[2021-09-09 07:24] li-keguo commented on #2033
[code]
I want to fix it

[2021-09-09 07:25] HelKim commented on #1979
@yu199195 @JooKS-me hi, thanks for help. no time to finish it recently, sorry.

[2021-09-09 07:47] yu199195 commented on #1979
@HelKim  It doesn't matter ， @JooKS-me   Can you finish in his place?

[2021-09-09 08:00] JooKS-me commented on #1979
Yep, I can try to finish it.

[2021-09-10 02:06] yu199195 commented on #2044
you can fix it

[2021-09-10 03:24] 624217563 commented on #1808
I'll try it.Thank you.

[2021-09-10 03:25] li-keguo commented on #2044
yes

[2021-09-10 08:43] #2008 closed

[2021-09-10 08:44] #1983 closed

[2021-09-10 08:45] #2015 closed

[2021-09-10 15:41] JooKS-me commented on #2033
All the unit tests are suggested to be a final class, as it is not likely to extend them.

[2021-09-11 09:20] fengzhenbing opened #2053 "[BUG] Some links is incorrect in readme."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

As the official website has upgraded.
eg. The link  in `If you want to customize, see [custom-plugin](https://shenyu.apache.org/docs/developer/custom-plugin/)`  is  incorrect.

### Expected Behavior

Update it to the new website.

### Steps To Reproduce

Just to click.

### Environment

[code

[2021-09-11 09:41] #2053 closed, assigned to fengzhenbing

[2021-09-12 06:35] rockpig opened #2055 "[Question] <Resilience4JPlugin's conf limitForPeriod invalid>"
### Question

I test resilience4J plugin, and set limitForPeriod 2 for RuleData, but it was changed 50 in
 `org.apache.shenyu.common.dto.convert.Resilience4JHandle#checkData() : 393` :

If I went to limit 2 request per second, it will failed.

I think it should be fix to:

So It is a bug or the way I used has problem?

[2021-09-12 06:51] SaberSola commented on #2055
Hi, Perhaps this method named 'checkData' is not reasonable,you are right,can you provide a pr fix this bug or remove the 'checkData' method directly

[2021-09-12 07:01] rockpig commented on #2055
Of course, I will fix it.

[2021-09-13 03:21] yu199195 commented on #2033
## General

* Use as many `lambda function` expressions as possible.

* Method parameters must be modified with `final`.

* Constants modified `static final` must be named in upper case.

* Methods should not have too many parameters.

* Clear unused classes and methods.

* Use linux line separators.

* Tab size is 4 and keep indents on empty lines.

* All code passage of Checkstyle: https://githu

[2021-09-13 03:32] #1981 closed

[2021-09-13 03:34] yu199195 opened #2060 "[Volunteer] Init motan integration test"
### Volunteer help

Hi community

This task is needed to test support for the sofa-rpc protocol.

you can add project in apache shenyu, The structure is as follows：

-----shenyu-integration-test
-----------shenyu-integration-test-motan

Don't worry, they are not very difficult, you can refer to：

shenyu-integrated-test-http
also you requires some knowledge of docker
Please read the Contribution Gu

[2021-09-13 03:34] yu199195 opened #2061 "[Volunteer] Init websocket integration test"
### Volunteer help

Hi community

This task is needed to test support for the sofa-rpc protocol.

you can add project in apache shenyu, The structure is as follows：

-----shenyu-integration-test
-----------shenyu-integration-test-websocket

Don't worry, they are not very difficult, you can refer to：

* shenyu-integrated-test-http
* also you requires some knowledge of docker
Please read the Contrib

[2021-09-13 03:35] prospect167 commented on #2060
pls assign to me

[2021-09-13 03:35] #1979 closed

[2021-09-13 03:37] JooKS-me commented on #2061
hi, let me try to do it.

[2021-09-13 03:41] JooKS-me commented on #1982
@ChDoBigThings Hi, do you still doing this issue? If not, I can help to add soft integration test.

[2021-09-13 06:43] li-keguo opened #2063 "[BUG] PageHelperAspect Exception ，currentPage is null , NumberFormatException"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/33576070/133034668-8fd48068-ba01-460b-b50c-317e4cb88723.png)

click it
![image](https://user-images.githubusercontent.com/33576070/133034735-73058e9c-86b9-459c-abe1-21e098db45aa.png)

![Uploading image.png…]()

`

ERROR org.apache.shenyu.admi

[2021-09-13 06:44] impactCn commented on #1954
What version of feign is currently in use.

[2021-09-13 06:51] yu199195 commented on #2063
i will fix it。。。

[2021-09-13 08:17] li-keguo opened #2066 "[Question] Can the error log be printed when the service is abnormal"
### Question

I start shenyu-bootstrap, shenyu-admin, and shenyu-examples-sofa-service

it ok all,

shenyu-examples-sofa-service log:

[code]

but I'am run:

[code]

shenyu-bootstrap log:

[code]

I don't know why it is abnormal

Maybe the error log should be added，

eg: Plugin is not found, sofa is not register, zk is not start...

[2021-09-13 08:53] #2063 closed

[2021-09-13 10:08] li-keguo opened #2069 "[BUG] sofa plug throw ClassCastException in Complex parameters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

start [shenyu-admin],[shenyu-bootstrap],[shenyu-examples-sofa]

 it  ok all

request:

[code]
it ok:
but atchSave method

[code]

I'm debug:

[code]

![image](https://user-images.githubusercontent.com/33576070/133065894-d539b383-aa9c-4330-9a25-08528abcef74.png)

param is not cast

### Expecte

[2021-09-13 10:37] yu199195 commented on #2069
can you fix it?

[2021-09-13 10:44] li-keguo commented on #2069
I try，

if I can't，help me

[2021-09-13 10:53] li-keguo opened #2070 "[Question] plug is not exist，enable plug should be failed"
### Question

I used motan plug

![image](https://user-images.githubusercontent.com/33576070/133071578-fc47e7f8-02e9-4fe9-8893-153878b03d9d.png)

enable is success! but not found in bootstarp

![image](https://user-images.githubusercontent.com/33576070/133071313-4bf091b0-ae24-4365-a69b-8213acb5b686.png)

[code]

[2021-09-14 01:40] babynata commented on #2035
@moremind Hello bro, have you done it yet?

[2021-09-14 02:37] KevinClair commented on #2070
Add maven dependency and try it again.

[2021-09-14 03:27] li-keguo commented on #2070
Add dependency is ok,

I think if there is no dependency, enabling the plugin should fail.

eg:add error log: plug [xxx] is not found ,enable plug [xxx] is failed

[2021-09-14 03:49] impactCn opened #2071 "[Volunteer] <add mqtt plugin>"
### Volunteer help

Support mqtt protocol.

[2021-09-14 03:49] 17661152 commented on #1954
Hello, the Spring Cloud version currently in use is Hoxton.SR12. Spring Cloud Alibaba is 2.2.6.RELEASE. spring-cloud-starter-openfeign is 2.2.9.RELEASE.

[2021-09-14 03:52] impactCn commented on #1954
<dependency>
            <groupId>org.springframework.cloud</groupId>
            <artifactId>spring-cloud-starter-openfeign</artifactId>
            <version>2.2.3.RELEASE</version>
        </dependency>

Try this dependency.

[2021-09-14 03:54] impactCn commented on #1954
[code]
Try this dependency.

[2021-09-14 03:54] KevinClair commented on #2070
Add dependency in `bootstrap`, enable plugin in `admin`.

[2021-09-14 04:11] moremind commented on #2035
ooooh,Sorry,I have no time doing it, I may fix it after a month.

[2021-09-14 04:11] moremind commented on #2035
ooooh,Sorry,I have no time doing it, I may fix it after a month.

[2021-09-14 06:52] ChDoBigThings commented on #1982
Hi, Please help add soft integration test.

[2021-09-14 07:02] JooKS-me commented on #1982
ok, I will try to finish it.

[2021-09-14 07:13] moremind commented on #2035
@yu199195 I test again,shenyu-2.4.1 can't find this bug?

[2021-09-14 07:47] yu199195 commented on #2035
@moremind

i do not find this bug  .

![1](https://user-images.githubusercontent.com/9673503/133217187-2a8e1af9-0dfe-42da-8bc6-a0a757e17018.png)

[2021-09-14 08:27] willfenglover opened #2073 "[Question] apache/shenyu-bootstrap docker image not working"
### Question

I ran command as follows with my demo env：
[code]
and I encountered the following error
**_Starting the ShenYu-Bootstrap ...
Please check the log files: /opt/shenyu-bootstrap/logs
tail: can't open '/opt/shenyu-bootstrap/logs/shenyu-bootstrap.out': No such file or directory
tail: no files_**

what should I do，Thanks.

[2021-09-14 08:28] li-keguo commented on #2070
Maybe the `admin` can detect and read the status of `bootstap`

[2021-09-14 08:31] 17661152 commented on #1954
Hello, I changed httpclient to okhttp and it was no problem

[2021-09-14 08:38] yu199195 commented on #2073
Asynchronous reasons, the file has not been created yet, you can create the file first （'/opt/shenyu-bootstrap/logs/shenyu-bootstrap.out'）, this problem has been fixed~

[2021-09-14 10:39] yzhuomaoy commented on #1909
Use the latest code，pls refer to the error response below.
`
{
code: -109,
message: "SpringCloud serviceId does not exist or is configured incorrectly!",
data: null
}
`

[2021-09-14 14:55] SaberSola opened #2076 "[feature plugin] <spring-cloud-plugin support dynamic route>"
### Volunteer help

spring-cloud-plugin support dynamic route

[2021-09-15 01:03] wangdazhong001 commented on #2034
It has been stable, but occasionally there will be another time, do not rule out server problems, temporarily shut down

[2021-09-15 01:03] #2034 closed

[2021-09-15 03:09] #2020 closed

[2021-09-15 03:11] #1925 closed

[2021-09-15 03:11] #2035 closed

[2021-09-15 03:14] yu199195 opened #2078 "[Volunteer] Add unit test for ShenyuPluginLoader"
### Volunteer help

Hi community

Volunteer help to add unit test for `org.apache.shenyu.web.loader.ShenyuPluginLoader`

[2021-09-15 03:14] yu199195 opened #2079 "[Volunteer] Add unit test for ShenyuPluginPathBuilder"
### Volunteer help

Hi community

Volunteer help to add unit test for `org.apache.shenyu.web.loader.ShenyuPluginPathBuilder`

[2021-09-15 03:15] yu199195 opened #2080 "[Volunteer] Add unit test for PluginController"
### Volunteer help

Hi community

Volunteer help to add unit test for `org.apache.shenyu.web.controller.PluginController`

[2021-09-15 03:16] yu199195 opened #2081 "[Volunteer] Add unit test for AppAuthController"
### Volunteer help

Hi community

Volunteer help to add unit test for `org.apache.shenyu.web.controller.AppAuthController`

[2021-09-15 03:21] ChoviWu commented on #2081
i want

[2021-09-15 03:28] tonytanCoder commented on #2078
认领

[2021-09-15 03:33] hezhaoming commented on #2080
I want do it

[2021-09-15 03:33] dbaxyx commented on #2080
i want do it

[2021-09-15 03:33] hezhaoming commented on #2079
I can up

[2021-09-15 03:34] dbaxyx commented on #2081
i want

[2021-09-15 03:34] dbaxyx commented on #2078
i want

[2021-09-15 03:41] yu199195 commented on #2080
@dbaxyx  hezhaoming accept, thanks ,Look at the other~

[2021-09-15 04:25] hezhaoming commented on #2079
Thanks♪(･ω･)ﾉ

[2021-09-15 07:43] likedong opened #2084 "[BUG] Using the "CryptorResponsePlugin" plugin did not return response information"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

_No response_

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2021-09-15 08:11] #2081 closed

[2021-09-15 12:28] wangyilonghuan opened #2086 "dubbo, 自动扫描bean，没有触发shenyu注册元数据"
### Question

引入这个后，就不能触发shenyu注册元数据，还是一定要用XML的形式
 <dependency>
            <groupId>com.alibaba.cloud</groupId>
            <artifactId>spring-cloud-starter-dubbo</artifactId>
        </dependency>

[2021-09-15 14:24] impactCn commented on #2084
Can you tell me your detailed steps?

[2021-09-15 14:35] likedong commented on #2084
Steps To Reproduce

[2021-09-15 15:01] likedong commented on #2084
Steps To Reproduce
1. modify shenyu-spring-boot-starter-plugin/CryptorPluginConfiguration.java  ，add the following code
     @Bean
    public PluginDataHandler CryptorRequestPluginDataHandler() {
        return new CryptorRequestPluginDataHandler();
    }

    @Bean
    public PluginDataHandler CryptorResponsePluginDataHandler() {
        return new CryptorResponsePluginDataHandler();
    }
2.
1)

[2021-09-15 16:53] impactCn commented on #2084
Did you modify the code inside?
What is the result of the original code?
I feel that the response was consumed in advance, which caused it to be unable to return normally.

[2021-09-16 01:53] likedong commented on #2084
The code inside has not been modified.
Do not configure 'fieldnames' ,parseBody == null ,  Can return normally.
![image](https://user-images.githubusercontent.com/32168430/133536467-b162b85a-7b4e-4643-90e9-f949164c712f.png)

[2021-09-16 02:04] impactCn commented on #2084
The current Cryptor Response Plugin, the function is to decrypt.
This piece of code means that after decryption, parse the json code, and return null if the fieldName is not hit

[2021-09-16 02:07] #2086 closed

[2021-09-16 02:15] #1980 closed

[2021-09-16 02:19] likedong commented on #2084
Cryptor Response Plugin , Isn't the method called encrypted?
 After conversion to encryption, no information is returned.

[2021-09-16 02:40] impactCn commented on #2084
![image](https://user-images.githubusercontent.com/35489877/133540354-58b98f14-6d6a-4f72-a6cb-176c2727a01b.png)
![image](https://user-images.githubusercontent.com/35489877/133540448-75f6ee36-6f5b-4034-aedc-5eec63b41f01.png)
![image](https://user-images.githubusercontent.com/35489877/133540523-c6cdea87-63c8-4458-ae6a-b1d54b8674ee.png)
![image](https://user-images.githubusercontent.com/35489877/1335

[2021-09-16 03:53] likedong commented on #2084
Refer to the modify-esponse plugin, modify ResponseDecorator.java , Return to normal.
![image](https://user-images.githubusercontent.com/32168430/133546700-a3420b2e-c265-463e-a9cc-32d6099f072a.png)

[2021-09-16 06:13] #2076 closed

[2021-09-16 07:39] dongxl123 opened #2090 "[BUG] dubbo plugin: requestBody parameters can not match the dubbo method parameters by names"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

### dubbo method
`@ShenyuDubboClient(path = "/batchSaveAndNameAndId", desc = "batchSaveAndNameAndId")
public DubboTest batchSaveAndNameAndId(List<DubboTest> list, String id, String name) {
    DubboTest test = new DubboTest();
    test.setId(id);
    test.setName("hello world shenyu alibaba d

[2021-09-16 07:59] yu199195 commented on #2090
can you provide pr to fix it ？

[2021-09-16 08:05] ttttangzhen commented on #2090
Hi， @dongxl123
Dubbo Plugin already supports matching based on parameter names.
Plz see here : [Dubbo Plugin#metadata ](https://shenyu.apache.org/zh/docs/next/plugin-center/proxy/dubbo-plugin#%E5%85%83%E6%95%B0%E6%8D%AE)

[2021-09-16 08:29] yu199195 commented on #2090
@ttttangzhen Tell it how to use annotations

[2021-09-16 09:00] ttttangzhen commented on #2090
We currently only support configuring name mapping through the page. If you need to configure name mapping through annotations, welcome to submit a PR to fix this.

[2021-09-16 10:35] #2060 closed

[2021-09-16 12:30] monedory opened #2092 "How to pass global parameters"
### Question

I want to use RpcContext.getContext().setAttachment() to pass parameters to the dubbo service, but I cannot get the value correctly
I implement AbstractWebFilter, get public parameters through exchange.getRequest().getHeaders(), and set the parameters

[2021-09-16 14:21] ShawnJim opened #2093 "Remove duplicate pager in shenyu-admin"
### Description

modify:
- `org.apache.shenyu.admin.mybatis.pg.interceptor.PostgreSqlQueryInterceptor`
- `org.apache.shenyu.admin.mybatis.pg.interceptor.PostgreSqlUpdateInterceptor`
- `org.apache.shenyu.admin.mybatis.pg.handler.PostGreSqlBooleanHandler`

### Task List

_No response_

[2021-09-17 03:20] #2093 closed

[2021-09-17 03:22] yu199195 commented on #2092
This may require the use of the dubbo plugin, but there is no such interface out at the moment, and we are considering the next release to provide~

[2021-09-17 10:54] danielchenxs opened #2095 "[Question] best practice"
### Question

Can you provide best practices documentation, such as JVM (garbage collector G1 or CMS and configuration details), Linux kernel parameters, etc.
like [rocketmq best practice](https://github.com/apache/rocketmq/blob/master/docs/cn/best_practice.md)

[2021-09-17 16:47] uare987612 opened #2096 "Did not observe any item or terminal signal within 3000ms in 'peekTerminal' (and no fallback has been configured)"
### Question

Version: soul 2.2.1
If the forwarding interface does not return data for more than 3s the gateway times out.
Modify the HttpClientPluginConfiguration.java as master still does not work.
How can I solve this problem?
![000551](https://user-images.githubusercontent.com/45450332/133824648-d8f1ab2f-bf6c-437e-92a1-0a645ed98102.png)
![003256](https://user-images.githubusercontent.com/45450

[2021-09-18 02:31] yu199195 commented on #2096
you can see this ： https://github.com/apache/incubator-shenyu/issues/2034

[2021-09-18 02:33] yu199195 commented on #2095
No， Need to be configured according to the application scenario of your own service~

[2021-09-18 02:35] yu199195 opened #2097 "[Volunteer] Used Skywalking-eyes checked license"
### Volunteer help

see this ： https://github.com/apache/skywalking-eyes

[2021-09-18 03:04] qicz opened #2099 "[Volunteer] request plugin support replace uri"
### Volunteer help

the `request` plugin just supports parameters, header, cookies processing.

maybe support replace URI is a useful feature.

[2021-09-18 05:29] uare987612 commented on #2096
I've already done that but it still doesn't work
![33](https://user-images.githubusercontent.com/45450332/133873969-a1da3cfc-5a8d-49f5-a95a-208a9f9c83cf.png)

[2021-09-18 06:28] yu199195 commented on #2096
can you  used 2.4.0？

[2021-09-18 16:52] #2044 closed

[2021-09-20 00:53] #2097 closed

[2021-09-22 10:12] #2069 closed

[2021-09-22 13:41] uare987612 commented on #2096
modify this param
![222](https://user-images.githubusercontent.com/45450332/134354562-88eb8f73-7248-4e0d-b227-8202faa58fbe.PNG)

[2021-09-22 13:41] #2096 closed

[2021-09-22 16:41] babynata opened #2113 "[BUG] Examples module fails to install"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Because the docker plugin was specified as the regular build plugin, every time when the examples module is built, the docker will be triggered which may cause the failure of the install process.

Example before fixing:

### Expected Behavior

The docker plugin should only be triggered when i

[2021-09-23 02:57] #2113 closed

[2021-09-23 03:18] yu199195 commented on #2080
@dbaxyx  What is the current progress and do you need help?

[2021-09-23 03:19] yu199195 commented on #2079
@hezhaoming What is the current progress and do you need help?

[2021-09-23 03:19] yu199195 commented on #2078
@tonytanCoder What is the current progress and do you need help?

[2021-09-23 05:54] hezhaoming commented on #2079
I doing

[2021-09-23 06:21] JooKS-me opened #2116 "[BUG] <Start sofa example failed>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I start zookeeper, admin, bootstarp, everything is nomal.
But I then started `shenyu-example-sofa-service`, and there was an exception regarding data synchronization.

And open admin in browser,
![image](https://user-images.githubusercontent.com/62384022/134459775-65bfbc78-d839-4c65-a019

[2021-09-23 07:14] hezhaoming commented on #2080
3Q, I doing ^_^

[2021-09-23 08:03] yu199195 commented on #2116
can not config register in sofa plugin ?

[2021-09-23 13:48] #2090 closed

[2021-09-23 13:52] lxl910128 opened #2119 "[BUG] Sometimes the spring cloud integration test will fail"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

spring cloud Integration tests sometimes succeed and sometimes fail

### Expected Behavior

Spring cloud Integration tests always successd when code is correct

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

08:55:22.845 [main] INFO org.apache.shenyu.integrate

[2021-09-23 13:53] lxl910128 commented on #2119
I will try to fix this

[2021-09-23 15:24] lxl910128 commented on #2119
I found that it is possible to show that the service is started on the above, but the third-party service may still not be able to obtain an instance from eureka. So I Increase sleep time.

[2021-09-24 02:19] #2119 closed

[2021-09-24 12:16] timon13 commented on #68
School : Kenyatta University
website：NA
Location: Nairobi, Kenya
Contact information: slumkode@gmail.com
Scene: Corporate gateway (Telco Services, SMS systems)

[2021-09-24 13:20] lxl910128 opened #2124 "[BUG] Sometimes the motan integration test will fail"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

motan Integration tests sometimes succeed and sometimes fail.
The reason for the failure is
“{"code":-103,"message":"Service invocation exception, or no result is returned!","data":null}”

### Expected Behavior

motan Integration tests always successd when code is correct

### Steps To Reprod

[2021-09-24 14:24] JooKS-me commented on #2116
@yu199195 I discovered a fact, when I `1. Start admin 2. Start the gateway 3. Open the sofa plug-in in admin 4. Start sofa-example`, this exception disappeared. But such rules are still empty.

[2021-09-25 02:22] #2124 closed

[2021-09-25 02:36] dengliming opened #2128 "[BUG] org.apache.shenyu.loadbalancer.cache.UpstreamCheckTaskTest.testRun test fail"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

org.apache.shenyu.loadbalancer.cache.UpstreamCheckTaskTest.testRun test fail sometimes.

see https://github.com/apache/incubator-shenyu/runs/3706238594

### Expected Behavior

No Exception

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anyt

[2021-09-26 06:46] #2079 closed

[2021-09-26 06:48] #2033 closed

[2021-09-26 06:49] #1954 closed

[2021-09-26 06:58] yu199195 opened #2134 "[Volunteer] Add unit test for LocalAppAuthController"
### Volunteer help

Hi community

Volunteer help to add unit test for `org.apache.shenyu.web.controller.LocalAppAuthController`

[2021-09-26 06:59] yu199195 opened #2135 "[Volunteer] Add unit test for LocalMetadataController"
### Volunteer help

Hi community

Volunteer help to add unit test for `org.apache.shenyu.web.controller.LocalMetadataController`

[2021-09-26 07:25] #2134 closed

[2021-09-26 08:00] yu199195 opened #2136 "[Volunteer] Add unit test for ConsulClientRegisterRepository"
### Volunteer help

Hi community

Volunteer help to add unit test for `org.apache.shenyu.register.client.consul.ConsulClientRegisterRepository`

[2021-09-26 08:01] yu199195 opened #2137 "[Volunteer] Add unit test for ConsulServerRegisterRepository"
### Volunteer help

Hi community

Volunteer help to add unit test for  `org.apache.shenyu.register.server.consul.ConsulServerRegisterRepository`

[2021-09-26 08:10] Jlif commented on #2135
Please assign to me.

[2021-09-26 08:11] wenjiyang-sh commented on #2137
assigned to me

[2021-09-26 08:13] dbaxyx commented on #2136
I want do it

[2021-09-26 08:23] wangjianwei123 commented on #2137
assigned to me

[2021-09-26 08:45] yu199195 opened #2138 "[Volunteer] Add unit test for ShenyuClientRegisterDubboServiceImpl"
### Volunteer help

Hi community

Volunteer help to add unit test for `org.apache.shenyu.admin.service.register.ShenyuClientRegisterDubboServiceImpl`

you can create `org.apache.shenyu.admin.service.register/ShenyuClientRegisterDubboServiceImplTest` in  `/test/java` package

[2021-09-26 08:47] yu199195 opened #2139 "[Volunteer] Add unit test for ShenyuClientRegisterGrpcServiceImpl"
### Volunteer help

Hi community

Volunteer help to add unit test for `org.apache.shenyu.admin.service.register.ShenyuClientRegisterGrpcServiceImpl`

you can create `org.apache.shenyu.admin.service.register/ShenyuClientRegisterGrpcServiceImplTest` in  `/test/java` package

[2021-09-26 08:47] yu199195 opened #2140 "[Volunteer] Add unit test for ShenyuClientRegisterMotanServiceImpl"
### Volunteer help

Hi community

Volunteer help to add unit test for `org.apache.shenyu.admin.service.register.ShenyuClientRegisterMotanServiceImpl`

you can create `org.apache.shenyu.admin.service.register/ShenyuClientRegisterMotanServiceImplTest` in  `/test/java` package

[2021-09-26 08:48] yu199195 opened #2141 "[Volunteer] Add unit test for ShenyuClientRegisterSofaServiceImpl"
### Volunteer help

Hi community

Volunteer help to add unit test for `org.apache.shenyu.admin.service.register.ShenyuClientRegisterSofaServiceImpl`

you can create `org.apache.shenyu.admin.service.register/ShenyuClientRegisterSofaServiceImplTest` in  `/test/java` package

[2021-09-26 08:49] yu199195 opened #2142 "[Volunteer] Add unit test for ShenyuClientRegisterSpringCloudServiceImpl"
### Volunteer help

Hi community

Volunteer help to add unit test for `org.apache.shenyu.admin.service.register.ShenyuClientRegisterSpringCloudServiceImpl`

you can create `org.apache.shenyu.admin.service.register/ShenyuClientRegisterSpringCloudServiceImplTest` in  `/test/java` package

[2021-09-26 08:50] yu199195 opened #2143 "[Volunteer] Add unit test for ShenyuClientRegisterSpringMVCServiceImpl"
### Volunteer help

Hi community

Volunteer help to add unit test for `org.apache.shenyu.admin.service.register.ShenyuClientRegisterSpringMVCServiceImpl`

you can create `org.apache.shenyu.admin.service.register/ShenyuClientRegisterSpringMVCServiceImplTest` in  `/test/java` package

[2021-09-26 08:50] yu199195 opened #2144 "[Volunteer] Add unit test for ShenyuClientRegisterTarsServiceImpl"
### Volunteer help

Hi community

Volunteer help to add unit test for `org.apache.shenyu.admin.service.register.ShenyuClientRegisterTarsServiceImpl`

you can create `org.apache.shenyu.admin.service.register/ShenyuClientRegisterTarsServiceImplTest` in  `/test/java` package

[2021-09-26 09:07] qinxu2015 commented on #2144
I want do it  ，assigned to me

[2021-09-26 09:27] MiniSC opened #2145 "try resolve two “ / ” on contextPath"
### Question

about this question
i found two / will lead to Npe is because of [ZookeeperServerRegisterRepository#subscribeMetaData]   subscribe
a ChildChanges Listener (named  xxlistner)
then [ZookeeperClientRegisterRepository#registerMetadata]  trigger   zkClient.createPersistent(metaDataPath, true); will registe /v1/v2 node ,but not set data in first zk node create
then the xxlistner get  new c

[2021-09-26 09:35] yu199195 commented on #2145
What are the scenarios where there are multiple /?

[2021-09-26 09:37] MiniSC commented on #2145
we want use /gw/${applicationName}  as  contextPath , then can do something in filter for different app

[2021-09-26 09:38] yu199195 commented on #2145
donot used  multiple / as context path

[2021-09-26 09:42] MiniSC commented on #2145
the reason is ?
/gw is for nginx  let request forwarding to gateway,and use the secondary directory to diff app,  How can I achieve this

[2021-09-26 09:44] yu199195 commented on #2145
/gw ,you can config in nginx upstream , not config in shenyu

[2021-09-26 09:50] MiniSC commented on #2145
ok ,i know it , but  am I discovering the cause of this problem? and will this solution solve the problem?

[2021-09-26 09:59] prospect167 commented on #2128
pls assign to me

[2021-09-26 10:12] qurenneng commented on #2138
Give it to me

[2021-09-26 10:14] qurenneng commented on #2143
Give it to me

[2021-09-26 10:23] ChoviWu commented on #2142
i want

[2021-09-26 10:59] yu199195 commented on #2145
This is not a solution, for zk `/` is a node, maybe there will be many `/`

[2021-09-26 11:07] MiniSC commented on #2145
ok, thanks

[2021-09-26 11:09] #2145 closed

[2021-09-26 11:44] storv commented on #2139
let me try~

[2021-09-26 12:01] sunrui849 commented on #2138
i do

[2021-09-26 12:06] BlankKelly commented on #2140
I do.

[2021-09-26 12:06] BlankKelly commented on #2141
I do.

[2021-09-27 07:27] qicz opened #2150 "[BUG] register data invalid"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

when the `ShenyuTestHttpApplication` start or stop will throw an exception.

### Expected Behavior

use the client normal and no exception.

### Steps To Reproduce

1. start admin
2. start bootsrap
3. start `ShenyuTestHttpApplication`

### Environment

[code]

### Debug logs

Exception in thr

[2021-09-27 09:36] dbaxyx opened #2153 "[BUG] shenyu-dashboard index error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

 Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports.

### Expected Behavio

[2021-09-27 11:26] #2150 closed

[2021-09-27 11:27] shihaoyan opened #2155 "[BUG] shiny-admin SelectorServiceImpl.handlerSelectorNeedUpstreamCheck method have thread safety issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Thread safety issues occurred when downstream services registered metadata to admin

### Expected Behavior

_No response_

### Steps To Reproduce

A downstream service that registers metadata for multiple GRPC methods simultaneously throws an exception

### Environment

[code]

### Debug logs

[2021-09-27 16:03] fengzhenbing commented on #2153
@dbaxyx Hello,I'm confused why your react's  version is  @17.0.2  while  it's `"react": "^16.4.1",` in package.json.
Or do you have a custom modification code?

Maybe you can try to remove the node_moudule and then try to use `npm` index of `cnpm`.
[code]

if it does not work,you can provide more detailed information to help us locate the problem.

[2021-09-27 16:29] #2128 closed

[2021-09-28 02:57] yu199195 commented on #2155
selector name at urrently is unique, you can change the name~

[2021-09-28 03:05] qicz opened #2159 "[Volunteer] admin supports permissions based on different applications"
### Volunteer help

admin dashboard can config the different roles for different application users, the user just can edit the data that he or she owns.

[2021-09-28 03:45] #2138 closed

[2021-09-28 07:46] ichenhe opened #2162 "[BUG] Rule matching does not take rewritten uri into account"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When matching plugin rules, the original uri is used instead of the rewritten uri.

### Expected Behavior

The rewritten uri should be used. Otherwise, there is no point in rewrite plugin.

### Steps To Reproduce

1. Add a selector to SpringClould plugin: match uri `/**`.
2. Add a rule to Spr

[2021-09-28 07:49] yu199195 commented on #2162
have some error？

[2021-09-28 07:57] ichenhe commented on #2162
@yu199195 noop. The backend did not receive the request at all. Shenyu also did not trigger access (I confirmed this through debug.).

There's another evidence:

1. Add a selector to Rewrite plugin: uri == `/users/hello/123`.
2. Add a rule to Rewrite plugin: uri == `/users/hello/123`, regex: `.+`, replace: `/users/hello`
3. Get `/users/hello/123` --> OK

This means that url rewriting is invalid fo

[2021-09-28 08:16] yu199195 commented on #2162
[code]

The original request path not been replaced?

[2021-09-28 08:21] ichenhe commented on #2162
@yu199195

This function is called in the executor of the plugin -- **after being matched by the rules**.

But this plugin will not be executed, because rule matching uses the original uri.

[2021-09-28 08:25] yu199195 commented on #2162
yes , rule matching uses the original uri.   rewrite plugin  only responsible for replace uri, other plugins are not affected when using uri matcher~

[2021-09-28 08:28] ichenhe commented on #2162
Then the role of rewriting plugins is very small. Is this a intented behavior? So I have to use Redirect plugin? @yu199195

[2021-09-28 09:54] ichenhe commented on #2162
Anyway, thanks for the explanation. I have tried Redirect plugin, but encountered another problem. Others have the same report #2028 , but no further information :(

[2021-09-28 09:54] #2162 closed

[2021-09-28 09:54] ichenhe commented on #2028
Encontered the same problem, any updates here?

[2021-09-28 11:03] ichenhe commented on #2028
I am not familiar with WebFlux, so I can't fix this issue. This is my temporary workaround:

⚠️ This is a hack, for my use case only, has not been fully tested. I hope someone can really fix it.

Copy the Redirect plugin to your gateway, change the part that `startsWith(ROOT_PATH_PREFIX)`:

1. Call the chain normally instead of `dispatcherHandler`.
2. Change `shenyuContext`'s `realUrl` because the

[2021-09-28 11:07] sunrui849 opened #2164 "[Task] contextPath and path splicing"
### Description

1. if contextPath is not begin '/' ,request will match error rpcType;
2. if path is not begin '/' or endwith '/', request will match error rpcType;
at this situation，user do not know where is error, so can valid contextPath and auto splicing path

### Task List

_No response_

[2021-09-28 11:08] sunrui849 commented on #2164
i will do it, can assignees me

[2021-09-28 11:26] qicz commented on #2028
@ichenhe I have discussed this with @yu199195  before . The conclusion is that this is the design logic of the plug-in itself.

the URI start with "/" just support `shenyu` provides the endpoints.

[2021-09-28 11:56] ichenhe commented on #2028
@qicz Thanks, got it. So, at present, there is no suitable plugin for my usecase (redirect to another url that shoule be processed by backend).

In my opinion, this demand is not very strange, should we consider implementing it?

[2021-09-28 12:26] ichenhe opened #2165 "[BUG] No handler field for custom plugin in shenyu-admin"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

There's no handler field for custom plugin in shenyu-admin. (Docker version: `apache/shenyu-admin`)

![](https://user-images.githubusercontent.com/10266066/135086194-b105889c-758b-4990-b874-ccd5feba88d7.png)

### Expected Behavior

According to the document, there should be a handler field to

[2021-09-28 12:35] qicz commented on #2028
As far as I know, the `redirect` process the URI that starts with "/" and in the "shenyu" runtime, like `fallback` endpoints. and another urls the `redirect`  has supported.

[2021-09-28 12:43] ichenhe commented on #2028
Sorry, but I  don't fully understand your words. What does 'another urls ' and `fallback` mean? Of course, it's also possible that I don't know enough about  Shenyu.

[2021-09-28 12:57] qicz commented on #2028
The "shenyu" runtime means "@Controller" or  "@RestController" in then "Shenyu" endpoints.

`fallback` endpoints see image:
![image](https://user-images.githubusercontent.com/2174082/135091122-cb9079fd-750c-4afc-92eb-bb59085430e4.png)

[2021-09-28 13:02] qicz commented on #2165
the "handler" is just in selector configuation. and the custom plugin should be put to the plugin database table.

[2021-09-28 13:06] qicz commented on #2155
Perhaps thread safety is a real concern.

[2021-09-28 13:11] qicz commented on #2099
the `rewrite` plugin has been supported.

[2021-09-28 13:11] #2099 closed

[2021-09-28 13:13] ichenhe commented on #2165
OK, when I reconfirmed the setting, I stumbled upon the problem.

There's a new configuration in `Admin - BasicConfig` called `PluginHandle`. We need to specify the data schema here. It's great, so it's type-safe.

**But the document was not updated, I will push a PR to improve it.**

[2021-09-28 13:19] son3ofSatan commented on #2155
hi hi

[2021-09-28 13:28] ichenhe commented on #2028
If I understand it correctly, you mean absolute url can be forwarded successfully. But But the relative url (starts with `/`) can only be forwarded to the endpoint provided by Shenyu.

But what I hope is that the relative url can also be forwarded to other backend services, just like your describtion at the beginning of this issue. Can it be improved to achieve it?

[2021-09-28 13:38] qicz commented on #2028
maybe mapping the `/` URI and backend services achieve it.

[2021-09-28 14:13] ichenhe commented on #2165
Redirect to [apache/incubator-shenyu-website
](https://github.com/apache/incubator-shenyu-website/issues/298)

[2021-09-29 05:19] JooKS-me opened #2168 "[BUG] ShenyuBootstrapApplication started failed when websocket starter dependency be added"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Add the following code to `pom.xml` to shenyu-bootstrap
[code]

And then, start ShenyuBootstrapApplication.

Finally, start failed.

### Expected Behavior

start successfully

### Steps To Reproduce

1. add the dependency of websocket plugin
2. start ShenyuBootstrapApplication

### Environmen

[2021-09-29 06:16] #2168 closed

[2021-09-29 09:27] #2028 closed

[2021-09-29 09:52] sunrui849 opened #2173 "[BUG] websocket send message thread unsafe has error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

when i pull request ci-it test is error. i found at run admin image has error, the websocket send message is unsafe.

can add lock solve this question. or who has other better method?

### Expected Behavior

can see error at  https://github.com/apache/incubator-shenyu/runs/3740861352?check_su

[2021-09-29 11:25] monedory opened #2175 "Use spring boot 2.3.1, can not register successfully"
### Question

when i change spring boot 2.2.2, can register successfully

[2021-09-29 12:04] JooKS-me opened #2176 "[BUG] Add selector to websocket plugin failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Add selector to websocket plugin, then throw JsonSyntaxException.

### Expected Behavior

No exception.

### Steps To Reproduce

1. start admin
2. start bootstrap
3. add selector for websocket plugin.

### Environment

[code]

### Debug logs

in bootstarp:
[code]

### Anything else?

[2021-09-30 01:39] newboy6890 commented on #68
公司：西安澄臻科技有限公司
网址：http://www.xachengzhen.com/
地点：西安
联系方式：412253375@qq.com
场景：api网关

[2021-09-30 01:55] JooKS-me commented on #2176
- [*] mysql
- [*] h2
- [ ] pg @ShawnJim

[2021-09-30 02:48] #2176 closed

[2021-09-30 02:53] #2173 closed

[2021-09-30 02:56] yu199195 commented on #2175
can you provide details info？ and why not this？

[2021-09-30 05:04] JooKS-me commented on #2116
There are 2 bugs:

- [X] register rule failed
- [ ] start example before enable sofa plugin, will throw `SofaRpcRuntimeException`.

[2021-09-30 14:58] qicz opened #2184 "[BUG] SpringMvcClientBeanPostProcessor path process error in diferent platform"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

run the "shenyu-examples-http", the path process is a fault.

### Expected Behavior

the URI path is invalid.

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

Exception in thread "shenyu-spring-mvc-client-thread-pool-0" java.nio.file.InvalidPathException: Illeg

[2021-09-30 15:21] qicz commented on #2184
@sunrui849
The `Paths.get` api will use different `FileSystemProvider`, windows start with `\` , Unix like start with `/`, but URI path must use `/`.

![image](https://user-images.githubusercontent.com/2174082/135483594-e10a9f11-3720-40a1-bf77-8a83488ccd07.png)
![image](https://user-images.githubusercontent.com/2174082/135483828-3fbd95d7-e009-42e1-b5e7-30237b4a71f2.png)

[2021-09-30 15:43] #2116 closed

[2021-10-02 16:05] plutokaito opened #2188 "[Question] Is it better that '超级管理员' in sql file to english 'Super Manger' ？"
### Question

Is it better that  '超级管理员' in sql file to english 'Super Manager' ， and '普通用户' translate to 'Common' ? If Admin Dashboard default in  English, the default description here  is unreasonable. I think use English to init here is better than Chinese.

[2021-10-04 02:51] ichenhe opened #2190 "[Question] How to customize http status code"
### Question

For now, Shenyu always returns http 200, no matter what is returned from upstream. Even if Shenyu has an error(e.g. no rule matched), it still returns 200.

I have read [the document about custom response](https://shenyu.apache.org/docs/developer/custom-result/), but it can't change the http code.

So, how to achieve it?

1. Inherit the upstream http code (e.g. 400)
2. Custom http co

[2021-10-04 05:14] ichenhe commented on #2190
After some research, it seems that there is no place that can be set up directly. Here's my workaround, if no one comes up with a better idea, I will close the issue after a while.

### Inherit the upstream http code (e.g. 400)

We have two ways:

1. Add a custom plugin that wrap the `ServerWebExchange` with `ServerHttpResponseDecorator`, override its `writeWith` method to change the http status c

[2021-10-04 15:39] JooKS-me opened #2192 "[Refactor] Simplify dependencies in integrated test"
In the integration test of the rpc plugin, there are many unnecessary dependencies and unnecessary middleware startup (for example: redis and zookeeper in the grpc plugin) .

In my opinion, we'd better optimize it.

[2021-10-08 03:31] #2192 closed, assigned to nobody

[2021-10-08 05:26] CoimLuo commented on #2175
![image](https://user-images.githubusercontent.com/7017332/136502861-8f2c9e19-6998-450f-82a9-e48f223fdf78.png)
can not get the ServiceBean,but can access the dubbo interface successfully

[2021-10-08 06:55] monedory opened #2197 "[BUG] serviceBean.getTimeout() is null"
### Is there an existing issue for this?

- [ ] I have searched the existing issues

### Current Behavior

I had config the dubbo.provider.timeout,and it allready was effective in dubbo admin. but when ShenyuDubboClient is registered,serviceBean.getTimeout() is null
![image](https://user-images.githubusercontent.com/7017332/136511724-da1735a9-d135-4e5d-9fba-3137bd46c1c9.png)

### Expected Behavior

[2021-10-08 08:43] qicz commented on #2188
I think the role of `超级用户`  description uses the  `Administrator is better, the `普通用户` uses the `Standard` is better. like windows os user type. and I fix this， see #2198

[2021-10-08 09:22] longhujing opened #2200 "[BUG] DividePlugin插件, 如果Url中包含特殊字符如#等会导致请求错误"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

http://localhost:9195/queryItem?keyword=#&page=1&pageSize=1
不使用Soul网关，走本地相同的条件在PostMan是OK的，但是用Soul网关就会出现错误
{
     "code": 500001,
     "message": "页号不能为空"
}

### Expected Behavior

能够像本地请求一样返回正确的结果而不是报错

### Steps To Reproduce

1. 随意写一个分页的HTTP接口
2. 参数中包含#等一个或多个特殊字符
3. 业务端无法正确获取到页号信息

http://l

[2021-10-09 01:09] longhujing commented on #2200
抱歉，昨天我提出的解决方案其实存在一些问题，我在进行debug的时候，发现问题的根本原因是这样的

在WebClientPlugin里面构造出来的URL是这样的
http://172.20.218.131:8080/test?name=#&page=1&pageSize=1
事实上我们期望的是这样的
http://172.20.218.131:8080/test?name=%23&page=1&pageSize=1，也就是构造出来的URL需要对特殊字符进行转义处理，但是这里并没有，就会导致应用解析错误

![image](https://user-images.githubusercontent.com/54448899/136638072-57be40db-88b5-43e0-8211-99fabff73527.png)

然后我昨天提的，将getQuery()改成getRawQuery

[2021-10-09 07:50] qicz commented on #2200
经过反复验证和测试，发现`getQuery`对中文处理友好，但对带有特殊字符，如%23，这种处理不友好。因为`getQuery`会信息`decode`处理。而`getRawQuery`刚好相反。所以个人建议，针对包含特殊字符的参数，传参的时候自己进行URI编码，获取参数之后，再自己解码，可能是更好的选择。

[2021-10-09 08:11] shihaoyan commented on #2155
Thank you, the master branch does not have this problem, I use version 2.3.

[2021-10-09 11:15] longhujing commented on #2200
我试过你这种做法，我之前是这样弄的：
1. 我通过getQuery()拿到路径参数，路径参数包含一些特殊字符比如#等
2. 然后我对特殊字符进行转义，把#转化成%25
3. 但是到了最后构造请求的时候变成了 %2325，导致我下一层应用获取到的数据就变成了%25，实际上我期望的应该是#，总不能让我下一层应用做一次转码吧
示例如下：
![image](https://user-images.githubusercontent.com/54448899/136655683-785a76a4-1d78-4299-b7e9-fe6bdd3cddfd.png)
![image](https://user-images.githubusercontent.com/54448899/136655704-56f6a1ce-f8a7-4b84-85fa-e28c40a64ed5.png)
![image](

[2021-10-09 11:59] qicz commented on #2200
@yu199195 @tydhot 看看大佬们的意见吧。

我尝试了好几个方式，的确有些问题。 使用uribuild对webclient可以，但是对nettyclient我找了，没有对应的实现。

我今天我还尝试去把request的queryParam拿出来自己拼接，发现queryParam是decode过的。 对%23这种的处理还是有问题。

[2021-10-10 07:39] kexianjun opened #2207 "[Question] Is there any plan to support thrift protocol?"
### Question

Do you have any plan to support thrift protocol?

[2021-10-11 12:22] yu199195 commented on #2197
maybe config  timeout in interface， not dubbo.provider~

[2021-10-11 13:19] xiawanyingtest opened #2209 "[Question] <title> zook config"
### Question

zookeeper://localhost:2181,localhost:2182 报错了，多个zook怎么配置

[2021-10-11 13:50] midnight2104 commented on #2209
hi, what is your config and scene? pls provide more info,such as: error message

[2021-10-12 06:51] qzpm123 opened #2211 "[BUG] <title>The plug-in reports a null pointer when calling the interface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

我开启了oauth2插件，调用接口的时候报空指针
![DC@QSHPF5(A4IL%VJ4W0PHI](https://user-images.githubusercontent.com/92358153/136906050-b90e6d52-3501-48f6-b5d8-7c3ac8127520.png)

这是配置上面的问题么？？
![WG439{H~3N@M%3MV@4NQT(A](https://user-images.githubusercontent.com/92358153/136906097-0ed882cb-a655-4228-80c0-04eeac9d0abc

[2021-10-12 07:53] mobaiLv opened #2212 "[BUG] <title>Database table meta_ data path_ Desc field cannot be empty exception"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

_No response_

### Expected Behavior

_No response_

### Steps To Reproduce

1.网关接入Dubbo接口使用注解@ShenyuDubboClient(path = "/open/insert")
2.shenyu-admin项目出现数据库表字段不能为空异常

### Environment

[code]

### Debug logs

java.sql.SQLIntegrityConstraintViolationException: Column 'path_desc' cannot be null

[2021-10-12 08:32] qzpm123 commented on #2211
选择器和规则都未配置
![image](https://user-images.githubusercontent.com/92358153/136920914-de3a8d3d-5d3d-40a1-93c0-0668a31c41a6.png)
未配置启用
![image](https://user-images.githubusercontent.com/92358153/136920873-393ed042-4d95-4108-b1d8-f7ecd1620aa8.png)
网关引入oauth2
![image](https://user-images.githubusercontent.com/92358153/136920813-f02f1112-2741-4a2f-979a-aaa25a4fcc89.png)

[2021-10-12 08:46] monedory opened #2213 "[Question] how can i get the ServerWebExchange anywhere, such as httpservletrequest"
### Question

i want to get the ServerWebExchange anywhere, and set some parameters in ServerWebExchange, how can i get it?

[2021-10-12 10:27] yu199195 commented on #2212
pls in english

[2021-10-12 11:38] #2212 closed, assigned to nobody

[2021-10-12 11:39] mobaiLv opened #2214 "[BUG] <title>Database table meta_ data path_ Desc field cannot be empty exception"
### Is there an existing issue for this?

- [ ] I have searched the existing issues

### Current Behavior

_No response_

### Expected Behavior

_No response_

### Steps To Reproduce

1. The gateway accesses the Dubbo interface and uses the annotation @ShenyuDubboClient (path = "/ open / insert")

2. The database table field of Shenyu admin project cannot be empty

### Environment

[code]

### Deb

[2021-10-12 11:55] yu199195 commented on #2214
you can config path_ Desc  in annotation.

[2021-10-12 14:05] xiawanyingtest commented on #2209
how to config  zook multi register?

[2021-10-13 01:28] Zhoutzzz commented on #2211
so，your mean is you open the plugin, the selector and rules don't config, then you find the NPE, what is you oauth2 configuration in .yml file?

[2021-10-13 01:36] qzpm123 commented on #2211
Oauth2 is not configured in the. YML file of the bootstrap project

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/incubator-shenyu"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年10月13日(星期三) 上

[2021-10-13 03:56] yu199195 commented on #2209
@xiawanyingtest  you can see dubbo doc , how to config register.

[2021-10-13 06:31] mobaiLv opened #2215 "[Question] <title> Does it support a project to register HTTP and Dubbo interfaces to the gateway at the same time?"
### Question

Does it support a project to register HTTP and Dubbo interfaces to the gateway at the same time?

[2021-10-13 07:21] qicz opened #2216 "[Volunteer] sync data center support different ShenYu instance"
### Volunteer help

Sometimes, We just have one zookeeper or nacos cluster, but there are many ShenYu instances for different env or business, and the data is isolated. Maybe ShenYu sync data center save the data's identity with instance info.

eg：
[code]

[2021-10-13 12:37] likedong opened #2218 "[BUG] add Cryptor plugin , error: Bad Request , message:Failed to read HTTP message"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/32168430/137131751-434f56f3-d7f4-47de-a0c3-88cf891a3fa1.png)
![image](https://user-images.githubusercontent.com/32168430/137133542-d5d61fe7-f181-47ee-aab1-7d9f115a40a0.png)

### Expected Behavior

Return decryption information

### Steps To R

[2021-10-13 15:48] Zhoutzzz commented on #2211
Based on the information you provided, I found this problem because using the OAuth2 plug-in requires two conditions.
   1. dependence OAuth2 starter.
   2 configure Spring Security's clientId and clientSecret in the .yml file of bootstrap.
The plugin will not take effect if either condition is missing. You did not write the configuration in the .yml file, so the plugin will not take effect. That

[2021-10-13 19:11] #2218 closed

[2021-10-14 03:05] #2211 closed

[2021-10-14 09:16] impactCn opened #2221 "[Volunteer] <rules extend exclude to match url>"
### Volunteer help

If there are many URLs, but only a few URLs, and no matching is required, these URLs need to be filtered out.
so, I think this is a very important function.

[2021-10-15 09:18] martinou opened #2223 "[BUG] <title>Unable to read meta-data for class org.apache.shenyu.springboot.plugin.dubbo.common.DubboCommonConfiguration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

java.lang.IllegalStateException: Unable to read meta-data for class org.apache.shenyu.springboot.plugin.dubbo.common.DubboCommonConfiguration
	at org.springframework.boot.autoconfigure.AutoConfigurationSorter$AutoConfigurationClass.getAnnotationMetadata(AutoConfigurationSorter.java:233)
	at o

[2021-10-15 09:21] martinou commented on #68
公司：苏州安软信息科技有限公司
网址：www.safesoftcorp.com
地点：苏州
场景：大数据API网关

[2021-10-15 10:27] likedong opened #2225 "[BUG] modify-response-plugin and cryptor-response-plugin are used in combination, and no information is returned"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/32168430/137473092-fa2855be-275e-44dd-8dde-15abe9c2911f.png)
![image](https://user-images.githubusercontent.com/32168430/137473182-2ebf37ac-e05b-476c-9895-27f5314ac1aa.png)

### Expected Behavior

Return information correctly

### Steps To Re

[2021-10-15 10:48] likedong opened #2226 "[BUG] Response Header Content-Encoding: gzip , The returned log information is garbled."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

_No response_

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

[Response Headers Start]
transfer-encoding: chunked
Content-Type: application/json,application/json;charset=UTF-8
Content-Length: 5101
Date: Thu, 14 Oct 2021 15

[2021-10-18 00:30] martinou commented on #2223
您好，这是我按文档步骤执行的结果，还没有引入别的依赖

[2021-10-18 01:24] martinou commented on #2223
thks.需要注释掉pom文件中的相关依赖，就好。谢谢！

[2021-10-18 01:24] #2223 closed

[2021-10-18 08:35] monedory opened #2231 "[Question] How to realize dubbo implicit parameter transfer"
### Question

I parsed the user token in AbstractWebFilter. I want to pass the userId obtained to the dubbo service through RPCContext. What should I do?

[2021-10-18 13:19] CoimLuo commented on #2231
thanks. Looking forward to the next version

[2021-10-19 01:35] impactCn commented on #2225
There is a problem with the combination? Is it okay to separate each one?

[2021-10-19 09:06] yu199195 commented on #2144
@qinxu2015 Hi ， What is the current progress?

[2021-10-19 09:06] yu199195 commented on #2143
@qurenneng  What is the current progress?

[2021-10-19 09:07] yu199195 commented on #2140
@BlankKelly What is the current progress?

[2021-10-19 09:07] yu199195 commented on #2139
@storv  What is the current progress?

[2021-10-19 09:07] yu199195 commented on #2136
@dbaxyx  What is the current progress?

[2021-10-20 02:30] 65725738 opened #2232 "is it necessary to annotate @ShenyuspringCloudClient in the Controller layer?"
### Question

To use Shenyu, is it necessary to annotate @ShenyuspringCloudClient (path = "/save") in the Controller layer?

 For example,

    @PostMapping("/save")
    @ShenyuSpringCloudClient(path = "/save")
    public OrderDTO save(@RequestBody final OrderDTO orderDTO) {
        orderDTO.setName("hello world spring cloud save order");
        return orderDTO;
    }

If so, Shenyu's code will i

[2021-10-20 02:39] 65725738 commented on #2232
Why not use conventions?

Run @requestMapping ("/order") @getMapping ("/path/{ID}/name") to obtain information about the service interface to be registered

[2021-10-20 02:42] qurenneng commented on #2143
Didn't the code fit in

[2021-10-20 02:42] qurenneng commented on #2143
It's in

[2021-10-20 03:20] #2143 closed

[2021-10-20 09:09] qicz opened #2233 "[Volunteer] admin operation log"
### Volunteer help

log the user operation on the admin side. such as `selector`, `rule` etc configuration log.

[2021-10-21 02:27] zouyx opened #2235 "[BUG] Download page is 404"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

<img width="1413" alt="截屏2021-10-21 上午10 19 44" src="https://user-images.githubusercontent.com/3828072/138200468-64e9608c-5e52-4eac-b78d-222e8b2a3bda.png">

### Expected Behavior

I am not sure..

### Steps To Reproduce

1. open https://shenyu.apache.org/download/
2. click [Apache ShenYu (inc

[2021-10-21 03:25] HessTina-YuI commented on #2235
Thanks, I will deal with it right away

[2021-10-21 03:30] HessTina-YuI commented on #2235
OK, it's solved.
[](https://github.com/apache/incubator-shenyu-website/pull/317)

[2021-10-21 03:30] #2235 closed

[2021-10-21 05:11] #2200 closed

[2021-10-21 08:27] zzq1314zll commented on #2233
Can I try it?

[2021-10-21 10:33] yu199195 opened #2236 "[Volunteer] Add unit test for URIPlugin"
### Volunteer help

Volunteer help to add unit test for `org.apache.shenyu.plugin.uri.URIPlugin`

you can create `org.apache.shenyu.plugin.uri.URIPluginTest` in  `/test/java` package

[2021-10-21 10:34] yu199195 opened #2237 "[Volunteer] Add unit test for URIPluginConfiguration"
### Volunteer help

Hi community

Volunteer help to add unit test for `org.apache.shenyu.springboot.starter.plugin.uri.URIPluginConfiguration`

you can create `org.apache.shenyu.springboot.starter.plugin.uri.URIPluginConfigurationTest` in  `/test/java` package

[2021-10-21 10:39] lishijiee commented on #2236
get

[2021-10-21 11:07] yu199195 commented on #2140
@cuirui1994  ok

[2021-10-21 12:17] #2024 closed

[2021-10-21 15:20] JooKS-me opened #2239 "[Integration-Test] Add integration test for cryptor plugin"
### Task

- [x] add integration test for CryptorRequest plugin.
- [x] add integration test for CryptorResponse plugin.

[2021-10-22 02:29] cuirui1994 commented on #2140
#2238 done, just have a check

[2021-10-23 10:09] JooKS-me opened #2241 "[BUG] When using h2, some fields are missing in the cryptor-plugin rule handler"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/62384022/138551958-79cb54b0-6c94-4fb1-95db-724ce0291638.png)

### Expected Behavior

![image](https://user-images.githubusercontent.com/62384022/138551977-91323c2c-480d-4df1-8e97-939c194d8c16.png)

### Steps To Reproduce

_No response_

### E

[2021-10-23 13:34] JooKS-me opened #2243 "[BUG] Sync ruleData of cryptor-plugin failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

`shenyu-bootstrap` can't get the ruleData added in admin.

### Expected Behavior

`shenyu-bootstrap` get the ruleData added in admin correctly.

### Steps To Reproduce

1. add the folloing lines to `pom.xml` of shenyu-bootstrap.
[code]
2. start admin
3. start shenyu-bootstrap
4. add the rule

[2021-10-24 14:00] vycz opened #2250 "[BUG] There is an error in the official document describes how to use docker in mysql mode to deploy Shenyun"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When i tried to use docker in mysql mode to deploy Shenyun,i found it can`t runs as I expected

### Expected Behavior

https://shenyu.apache.org/zh/docs/deployment/deployment-docker

### Steps To Reproduce

docker run -v /${your_work_dir}/ext-lib:/opt/shenyu-admin/ext-lib -e "SPRING_PROFILES_

[2021-10-25 06:09] #2243 closed, assigned to JooKS-me

[2021-10-25 06:44] #2241 closed, assigned to nobody

[2021-10-25 06:45] #2237 closed, assigned to lahmXu

[2021-10-25 07:12] chengfei602 opened #2256 "modify the body parameter in param_mapping plugin an error occurred"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/14965023/138650229-8808a818-11fe-43e6-99ef-524399fba766.png)

### Environment

[code]

### Debug logs

2index.3c0609d9.js:18 Uncaught TypeError: Cannot read properties of undefined (reading 'activeKey')
    at t.r.onChangeConfig (index.3c0609

[2021-10-25 08:53] hkisme opened #2257 "[Question] <title>The springboot project could not be registered"
### Question

引入自己的springboot项目，http注册，配置参考官网的。报了这个错误
o.a.s.r.client.http.utils.RegisterUtils  : http client register error: {"appName":"spring-test","contextPath":"/test","path":"/test/**","rpcType":"http","ruleName":"/test/**","enabled":true,"host":"192.168.253.1","port":8086,"registerMetaData":false}

Introduce your own springboot project, HTTP registration, configuration, and refer to the offi

[2021-10-25 10:26] sebbASF opened #2258 "[BUG] No link to issue tracker from website"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Cannot find a link to the issue tracker

### Expected Behavior

Should exist

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2021-10-25 10:27] sebbASF opened #2259 "[BUG] gpg -i KEYS is not valid"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

download page says:

"gpg -i KEYS"

However -i in this context means interactive, not import

### Expected Behavior

Should be

gpg --import KEYS

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2021-10-25 12:03] likedong opened #2260 "[BUG] param-mapping plugin add rules and select type error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/32168430/138691293-73d913d0-00e5-43bc-8971-2737d4b4f8a0.png)

### Environment

[code]

[2021-10-25 12:24] yuzhijia88 opened #2261 "[BUG] admin 注册中心部署多台实例的时候，进行服务注册时存在并发写库问题，导致 selector 中同一个pluginid + name 会存在多条相同的记录，注册数据会错乱，无法正常完成网关功能"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

_No response_

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2021-10-26 11:46] #2260 closed, assigned to nobody

[2021-10-27 02:10] fengzhenbing opened #2264 "[Question] <Whether the role_id field is used anywhere in the dashboard_user table>"
### Question

Whether the role_id field  is used anywhere in the dashboard_user table?
* If it is used,we should modify the field name as it is not the role meaning.  We have the role table to implement the role function
*  If it is not used, maybe we should delete it.

[2021-10-27 02:14] qicz opened #2265 "[BUG] shenyu-admin exist plugin invalid data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

one user opens the data permission, and config some data to this user, when the user deletes the data, but this data exists in the `data permission` table. the data is invalid.

### Expected Behavior

delete the invalid data.

### Steps To Reproduce

_No response_

### Environment

[code]

##

[2021-10-27 02:27] qicz opened #2266 "[Volunteer] isolate the standard user's selector and rule data"
### Volunteer help

the standard user adds some selectors or rules and sync to the `data_permission` table automatically.
this action will isolate the standard user data.

current implementation was check the permission data.
[code]

refer the user's role is the best. the front use the username `admin` to affirm the user's role, the backend can use the same logic.

[2021-10-27 06:05] wtlihao opened #2268 "[When My Project Bootstap, org.apache.zookeeper.KeeperException$NoNodeException] <org.I0Itec.zkclient.exception>"
### Question

![image](https://user-images.githubusercontent.com/30258468/139008815-62762c5b-ed51-4a85-bb69-7960500cabdf.png)
SpringBoot config：
server:
  port: 8080
  servlet:
    context-path: /qxs-api
shenyu:
  client:
    registerType: zookeeper
    serverLists: zk1.yaomaitong.net:2181
    props:
      appName: qxs-api
      contextPath: /qxs-api
      port: 8080
      nacosNameSpace: ShenyuRe

[2021-10-27 09:26] huwenming-saw opened #2269 "parameter:`degradeRuleStatIntervals` on `admin` dashboard has a Naming error like this `getDegradeRuleStatIntervals`，make it work incorrectly"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current Behavior

`org.apache.shenyu.common.dto.convert.rule.SentinelHandle` has a field `degradeRuleStatIntervals`，but dict sql give a field `getDegradeRuleStatIntervals `,make it work incorrectly
in the source code: `org.apache.shenyu.plugin.sentinel.handler.SentinelRuleHandle#handlerRulerule.setStatInterval

[2021-10-27 12:17] fengcunhan opened #2272 "[Volunteer] <Support real async in dubbo request>"
### Volunteer help

When concurrent requests for an dubbo type interface, look at the Dubbo thread pool of the gateway. Many thread of DubboClientHandlers will be created to handle the response. The root cause is still Dubbo's default scheduling strategy, which can be solved by settings the reference .

[2021-10-27 13:56] wtlihao opened #2274 "[BUG] <When the project is started, the ZK node cannot be found exception occurs>"
### Question

jdk version: jdk11
shenyu version : 2.4.1
exception stack：
Exception in thread "shenyu-disruptor-shenyu_disruptor_consumer_-17" org.I0Itec.zkclient.exception.ZkNoNodeException: org.apache.zookeeper.KeeperException$NoNodeException: KeeperErrorCode = NoNode for /shenyu/register/metadata/http/knowledge-mall/**/knowledge-mall/**--knowledge-mall-**
	at org.I0Itec.zkclient.exception.ZkExce

[2021-10-27 13:56] #2268 closed, assigned to nobody

[2021-10-28 02:08] wtlihao opened #2275 "[BUG] <When the client configuration registerType is Nacos and the ifFull attribute is true, the dataId Invalid exception will occur at this time>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When registering a nacos node：
shenyu.register.service.http.{content-path}.**

### Expected Behavior

apache shenyu nacos doc:
shenyu.register.service.http.{content-path}

### Steps To Reproduce

1. config:
shenyu:
  client:
    registerType: nacos
    serverLists: localhost:8844
    props:

[2021-10-28 07:07] 65725738 opened #2276 "[BUG] <title>When the client configuration registerType is Nacos and the ifFull attribute is true, java.lang.NullPointerException: null will occur at this time"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![图片](https://user-images.githubusercontent.com/12229436/139202980-309953f0-d2ec-4e23-a6d4-573dd0ee384e.png)
springcloud client config：
shenyu:
  client:
    registerType: nacos
    serverLists: localhost:8848
    props:
      contextPath: /winning
      appName: http
      port: 9988
      i

[2021-10-28 08:44] #2221 closed, assigned to impactCn

[2021-10-28 10:31] qicz opened #2278 "[Volunteer] admin can not show long text"
### Volunteer help

![image](https://user-images.githubusercontent.com/2174082/139239010-75b08aa9-1c70-494f-9686-d8d483083541.png)
the input is too short.

[2021-10-28 13:10] qicz opened #2282 "[Volunteer] the example that register multi-client service at the same time"
### Volunteer help

provide the example that registers multi-client service at the same time, like `HTTP` and `dubbo`.

[2021-10-29 03:40] #2269 closed, assigned to nobody

[2021-10-30 03:17] JooKS-me opened #2285 "[BUG] `encryptKey` missed in rule handler of CryptorResponse plugin"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

`encryptKey` missed in rule handler of CryptorResponse plugin

![image](https://user-images.githubusercontent.com/62384022/139518342-c88ddd4d-bef4-4ec2-a1e4-edcf34ec4688.png)

### Expected Behavior

Have `encryptKey`

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug l

[2021-10-30 07:30] #2141 closed

[2021-10-30 07:33] #2061 closed

[2021-10-30 07:42] #1405 closed

[2021-10-30 07:48] midnight2104 commented on #468
done :   https://github.com/apache/incubator-shenyu/pull/1968

[2021-10-30 07:48] #468 closed

[2021-11-01 02:25] 4zd commented on #1980
Sorry for missing this message, I did get stuck on something and try to fix it by myself. I find the cryptor plugin integration test has been finished and commited by Kunshuai Zhu on last weekends. Thanks for the favor, and I applogize for the delay from me.

[2021-11-01 05:01] JooKS-me commented on #1980
That's alright~

[2021-11-01 07:17] impactCn opened #2288 "[Volunteer] <Support using annotations to send information to boostrap>"
### Volunteer help

Users do not need to configure information in the admin, but can use annotations to dynamically send messages to bootstrap.

[2021-11-02 02:31] huwenming-saw opened #2291 "[Question] when the client return an error(status code 500) immediately , bootstrap(springCloud sentinel plugin enabled) sentinel didn't fallback as expected,but only return the client response"
### Question

1. run `admin` dashboard enabled `springCloud` and `sentinel` plugin (2.4.1)
2. run `bootstrap` (2.4.1)
3. run a client which throws a error immediately (2.4.1)
4. my sentinel rule
![image](https://user-images.githubusercontent.com/50895750/139776282-755f298a-c55c-49b7-b977-78205c78e939.png)
5. response
[code]
6. in the source code
[code]
7. Maybe you need to reuse `Constants.CLIENT_

[2021-11-02 08:05] jianyun opened #2292 "Grpc 怎么生成swagger"
### Question

Grpc 怎么生成swagger

[2021-11-02 09:40] yu199195 commented on #2292
pls in english， and pls follow the template

[2021-11-02 09:41] #2292 closed

[2021-11-02 14:29] SaberSola commented on #2291
Hi big brother, iIf you want to trigger the degradation,your http code can not be 2xx

[2021-11-02 15:17] JooKS-me opened #2296 "[Integration-Test] Enhanced integration test of RateLimiter plugin"
### Description

There are some algorithms which have not been tested in integration test of RateLimiter plugin.

### Task List

- [x] test `leakyBucket`
- [x] test `concurrentTokenBucket`
- [x] test `tokenBucket `

[2021-11-03 02:03] huwenming-saw commented on #2291
![image](https://user-images.githubusercontent.com/50895750/140000020-2609a396-9dee-4b44-a2c7-bd55a6ef69e5.png)

![image](https://user-images.githubusercontent.com/50895750/140000411-4fee2541-d2b6-44bd-b1af-644bab3df078.png)

I don't think you understand what i describe,  because the webclient exchange (downstream) is 5xx, but gateway exchange is still 200,  WebClientPlugin just set a attributes f

[2021-11-03 06:51] #2257 closed

[2021-11-04 03:58] osworks commented on #68
公司：云南普蓝科技有限公司
网址：www.pulanit.com
地点：大理
场景：医疗大健康API网关

[2021-11-04 14:32] KevinClair commented on #2275
Any progess?

[2021-11-05 02:36] #2225 closed

[2021-11-05 03:06] AhahaGe commented on #2296
Is anyone doing this, can I try to do it?

[2021-11-05 03:13] AhahaGe commented on #2274
please provide more information of your setup step, and related project and configuration.

[2021-11-05 03:20] AhahaGe commented on #2258
I found it in the bottom of the page, what need we do? if no could we close this issue?

[2021-11-05 03:50] dongxl123 opened #2303 "[BUG] divide plugin webclient throw exception: The connection observed an error,io.netty.handler.timeout.ReadTimeoutException: null"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

2021-11-04 10:58:29 [XNIO-1 I/O-3] INFO  org.apache.shenyu.plugin.httpclient.WebClientPlugin - The request urlPath is /api/v1/query?query=rate%28recv_packet_total%7Bsource%21%3D%22cffex%22%2Ctarget%3D~%22cffex.%2A%22%7D%5B5m%5D

%29&time=2021-11-04T02%3A58%3A28.564680692Z, retryTimes is 3
202

[2021-11-05 09:55] #2275 closed

[2021-11-05 10:45] sebbASF commented on #2258
Users should not have to scroll to the bottom of the page to find such items.

If the bottom of the page is consider a suitable place for the issue tracker, why is GitHub on the top menu as well?
Surely it should only be at the bottom?
Likewise several other items.

[2021-11-05 11:00] midnight2104 commented on #1944
hi, @plutokaito ,  are you still doing it?

[2021-11-05 11:00] midnight2104 commented on #1944
hi, @zhaiweij  ,  are you still doing it?

[2021-11-05 11:00] midnight2104 commented on #1944
hi, @stephenshen1993  ,  are you still doing it?

[2021-11-05 11:00] midnight2104 commented on #1944
hi, @4zd  ,  are you still doing it?

[2021-11-06 02:45] songyuequan commented on #2239
Hello, I'll do integration test for CryptorResponse plugin.

[2021-11-06 02:49] JooKS-me commented on #2239
Thanks for help~

[2021-11-06 05:15] 4zd commented on #1944
yes, I'm currently working on the part [Data Sync for Http].

[2021-11-07 09:05] 4zd commented on #1944
@midnight2104 Are you working on the [Data Sync for Nacos] and [Data Sync for Etcd], or could I work on it?

[2021-11-07 16:32] KevinClair commented on #2276
Hello @65725738 ,i find this problem in branch master, so can you fix it?

[2021-11-08 02:47] MarsOu1995 commented on #2303
I have the same problem.

[2021-11-08 03:40] yu199195 commented on #2303
config this， or use 2.4.1

[code]

[2021-11-08 03:42] yu199195 commented on #2303
see this : https://github.com/apache/incubator-shenyu/issues/1730

[2021-11-08 04:39] midnight2104 commented on #1944
no, you can do it.

At 2021-11-07 17:05:43, "Zhang Dong" ***@***.***> wrote:

@midnight2104 Are you working on the [Data Sync for Nacos] and [Data Sync for Etcd], or could I work on it?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.

[2021-11-08 07:02] tuohai666 opened #2307 "[Task] Add the example and integrated-test modules to parent pom"
### Description

It's better to add these modules to the parent pom so that **mvn release:prepare** can change the version automatically when we create a release.

Note that integrated-test should be skipped at the compile stage of the ci.

[2021-11-08 08:47] yu199195 commented on #2258
we will fix it : https://shenyu.apache.org/download/

[2021-11-08 09:59] civism opened #2308 "[Question]it's error in the official document describes how to use docker in mysql ,it's not load customer define application.yml"
### Question

- [x] Question one：
`docker run -v ${your_work_dir}/conf:/opt/shenyu-admin/conf/ -v /${your_work_dir}/ext-lib:/opt/shenyu-admin/ext-lib -d -p 9095:9095 --net shenyu apache/shenyu-admin`   Should be changed to `docker run -v ${your_work_dir}/conf:/opt/shenyu-admin/conf -v /${your_work_dir}/ext-lib:/opt/shenyu-admin/ext-lib -d -p 9095:9095 --net shenyu apache/shenyu-admin`

- [x] Quest

[2021-11-08 12:25] #2276 closed

[2021-11-08 13:10] midnight2104 opened #2312 "[Question] Whether `org.apache.shenyu.common.utils.CollectionUtils` should be replaced?"
### Question

I found that shenyu uses `org.apache.shenyu.common.utils.CollectionUtils`, but `org.apache.commons.collections4.CollectionUtils` provides the corresponding methods. Do I need to replace `org.apache.shenyu.common.utils.CollectionUtils` with `org.apache.commons.collections4.CollectionUtils`.

- `org.apache.shenyu.common.utils.CollectionUtils`

[code]

- `org.apache.commons.collections4

[2021-11-09 02:52] #2285 closed

[2021-11-09 04:59] yu199195 commented on #2312
yes， you can

[2021-11-09 07:34] qicz opened #2316 "[BUG] shenyu-admin: the plugin sort can not support > 100"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

can not choose the `pluginList` option
![image](https://user-images.githubusercontent.com/2174082/140882643-fcc89521-2572-44ac-bfdf-27c8bbe6a028.png)

the sort can not support > 100

### Expected Behavior

the sort support > 100

### Steps To Reproduce

_No response_

### Environment

[code]

[2021-11-09 07:43] qicz commented on #2316
![image](https://user-images.githubusercontent.com/2174082/140882643-fcc89521-2572-44ac-bfdf-27c8bbe6a028.png)

the sort can not support > 100

[2021-11-09 14:19] qicz opened #2321 "[Task] shenyu-admin db operation optimize"
### Description

there are many database operations that can be optimized in loops.

### Task List

1.AppAuthServiceImpl
1）method enabled： batch operation can improve efficiency; check the parameters to evaluate whether publish event is needed and reduce overhead.

2.DashboardUserServiceImpl
1）method delete： The data sets that need to be processed are queried in batches, and the conversion stream

[2021-11-10 01:18] zhouyadong commented on #2321
P assign to me

[2021-11-10 01:24] zhouyadong commented on #2321
please assign to me

[2021-11-10 07:04] impactCn opened #2325 "[Volunteer] <add compress plugin>"
### Volunteer help

Support a variety of compression algorithms, such as gzip.

[2021-11-10 07:11] tuohai666 commented on #2308
Hi @civism Can you provide your application.yml?

[2021-11-10 07:28] midnight2104 commented on #2312
merged pr     https://github.com/apache/incubator-shenyu/pull/2324

[2021-11-10 07:28] #2312 closed

[2021-11-10 08:01] yu199195 opened #2328 "[Task] refactor modify response plugin"
### Description

clean code

### Task List

1. remove not used code
2. refactor code

[2021-11-10 08:35] #2328 closed

[2021-11-10 10:06] #2265 closed

[2021-11-10 12:10] lxl910128 opened #2331 "[BUG] shenyu-integrated-test Specifies the admin image version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In the shenyu-integrated-test
Many integrated test Specifies the admin image version.
I think should use last  version image.
And I will try to fix it.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Any

[2021-11-11 02:39] tuohai666 commented on #2308
Hi @civism Would you like to fix **Question one**? You can submit a pr to fix it exactly like you have mentioned.

[2021-11-11 02:58] tuohai666 opened #2336 "[Task] Remove the front end submodule"
### Description

The front end submodule **shenyu-dashboard** was originally introduced by reason of source codes release.
We decided to not release the front end source codes from now. So this submodule should be removed.
Note that remove the submodule is not simplily remove the directory, **.gitmodules** has to be removed too.

### Task List

_No response_

[2021-11-11 03:14] tuohai666 opened #2337 "[Task] Enhance the docker start commands"
### Description

The commands now like:

- docker run -d -p 9095:9095 --net shenyu apache/shenyu-admin

- docker run -v /${your_work_dir}/ext-lib:/opt/shenyu-admin/ext-lib -e "SPRING_PROFILES_ACTIVE=mysql" -e "spring.datasource.url=jdbc:mysql://${your_ip_port}/shenyu?useUnicode=true&characterEncoding=utf-8&useSSL=false" -e "spring.datasource.username=${your_username}" -e "spring.datasource.passwor

[2021-11-11 03:35] tuohai666 opened #2338 "[BUG] The stop.sh script can't work in container"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The stop.sh script can't work in container, while it can work in a host machine.

### Expected Behavior

The stop.sh script can work in container.

### Steps To Reproduce

In the container:

1. ./start.sh
2. ./stop.sh

### Environment

[code]

### Debug logs

_No response_

### Anything else?

[2021-11-11 03:48] MarsOu1995 opened #2339 "[BUG] springCloud router choose error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I have multiple springcloud routes:
/opauth --> http://192.168.16.17:7001/opauth/**
/management -->http://192.168.16.17:7002/management/**
/ncc --> http://192.168.16.17:7011/ncc/**

![1d25690bed4e8b6f1a533b11215b28f](https://user-images.githubusercontent.com/20200721/141233641-93d97eb8-a

[2021-11-11 07:23] shenzulun commented on #2303
the latest version(2.4.2-SNAPSHOT) also has this same bug，I'll try with this configuration...

[2021-11-11 07:42] tuohai666 opened #2341 "[BUG] The logs of admin are not located in the logs directory in container"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The logs of admin are not located in the logs dir, but in the top dir in the container.
While there's no problem of the logs when admin run in a host machine.

### Expected Behavior

The logs of admin are located in the logs directory instead of top dir in a container.

### Steps To Reproduce

[2021-11-11 08:03] tuohai666 opened #2342 "[Task] Exclude the config files from shenyu-admin.jar when packaging"
### Description

It would be better if we exclude the config files from the jar ball to make sure there are no ambiguous configurations.

### Task List

_No response_

[2021-11-11 09:15] jinze1107 commented on #2337
i suggest add some env

[2021-11-11 09:16] jinze1107 commented on #2338
what should this stop.sh do?

[2021-11-11 09:24] nuo-promise commented on #2338
stop shenyu-admin.

[2021-11-11 10:11] jinze1107 commented on #2341
log config right?

[2021-11-11 11:05] tuohai666 commented on #2337
Can you provide some details?

[2021-11-11 11:25] civism commented on #2341
I can help with it

[2021-11-11 11:31] tuohai666 commented on #2341
@civism Thank you for reach out. I have assigned this issue to you.

[2021-11-11 11:39] #2339 closed

[2021-11-11 12:36] #2009 closed

[2021-11-12 01:30] lahmXu commented on #2338
I noticed that in a linux system, the thread's pid is in the second column, but in the docker container the thread's pid is in the first column.

Docker container:
![image](https://user-images.githubusercontent.com/31627887/141392843-4d7339d1-b7a4-448e-b3ac-44efc7e9d7d2.png)
Linux:
![image](https://user-images.githubusercontent.com/31627887/141392941-25a150fe-af85-40c3-b937-347b7191996c.png)

and

[2021-11-12 01:34] tuohai666 commented on #2338
@lahmXu Thanks for your solution. Can you submit a pr?

[2021-11-12 01:39] lahmXu commented on #2338
ok, If there's no problem with this solution, please assign to me, thanks.

[2021-11-12 01:43] tuohai666 commented on #2338
@lahmXu I would suggest that you provide the test result of the new script run in both container and host.

[2021-11-12 01:49] tuohai666 commented on #2341
@civism  I would suggest that you provide the test result of the new script run in both container and host.

[2021-11-12 02:09] songyuequan commented on #2338
Hi~   I just  change   awk  '{print  $2}'    to  awk  '{print $1}'
It  works  @lahmXu

[2021-11-12 02:17] lahmXu commented on #2338
Yes, but the stop.sh file also needs to be used on the linux server, so we need to find a common solution.

[2021-11-12 02:22] songyuequan commented on #2338
Yes,  you can just  provide  the test result  @lahmXu

[2021-11-12 02:32] tuohai666 commented on #2341
This problem may be root cause of https://github.com/apache/incubator-shenyu/pull/1816

[2021-11-12 04:27] gaochuang98 opened #2346 "If there are spaces in the ip, the heartbeat check will fail"
If there are spaces in the ip, the heartbeat check will fail，Although it may not happen

[2021-11-12 04:49] tuohai666 commented on #2346
@gaochuang98 Please modify the tile and content according to what you want to do.

[2021-11-12 05:13] tuohai666 commented on #2308
- [ ] Please make sure the changes of Question one exist in both English & Chinese docs and in both 2.4.1 and current version

[2021-11-12 05:46] ToddCombs opened #2347 "[Question] 问：鱼翅炒饭里为什么没有鱼翅？"
### Question

厨子出来回答：我叫yuchi！

你们起框架名字的时候应该搜搜github。。。

[2021-11-12 05:49] #2347 closed

[2021-11-12 05:54] ToddCombs opened #2348 "[Question] hei! Shen Yu is my chinese name~!"
### Question

hei! Shen Yu is my  chinese name~!!

[2021-11-12 05:59] #2348 closed

[2021-11-12 06:22] lxl910128 commented on #2348
so what？

[2021-11-12 07:43] tuohai666 commented on #2346
@gaochuang98 If you would like to solve this problem, I'll remove the Volunteer label.

[2021-11-12 07:51] tuohai666 commented on #2346
Can you provide some details?

[2021-11-12 08:01] gaochuang98 commented on #2346
![48ccb192dfb08e42c2c6016bae96eb7](https://user-images.githubusercontent.com/49777877/141431508-f5edbd18-0d3e-4fdc-8f92-e88103faf3f9.png)
As shown in the figure，

[2021-11-12 09:40] tuohai666 commented on #2341
@civism I have merged your pr, but the test results are still required. Let's keep this issue open until all tests are complete.

[2021-11-12 11:18] #2336 closed

[2021-11-12 11:24] yu199195 commented on #2346
can you fix it ？

[2021-11-13 03:37] lahmXu commented on #2338
## Solved Problems
1. The stop.sh script can't work in container
2. "ps: unrecognized option: p". This problem was discovered when solving the first problem.
- This problem is due to openjdk-8-jre-alpine ps is from busybox and it is not included -p switch for ps, so we need to add `RUN apk --no-cache add procps` in Dockerfile.
- error info:
  ![image](https://user-images.githubusercontent.com/3162

[2021-11-13 16:21] songyuequan commented on #2338
I  just  test  the  new  script .  It work both in the host ( Linux and MAC) and  container

[2021-11-13 16:22] songyuequan commented on #2338
I just test the new script  in  [pr 2352](https://github.com/apache/incubator-shenyu/pull/2353/files) . It work both in the host ( Linux and MAC) and container

[2021-11-14 11:45] fengzhenbing commented on #68
Welcome, the link is invalid by the way

[2021-11-14 14:05] JooKS-me commented on #2071
Hi, do we have the plan to support storage message ?

[2021-11-15 01:13] #2346 closed

[2021-11-15 01:27] #2338 closed

[2021-11-15 02:04] impactCn opened #2361 "[Volunteer] <add docker-compose support>"
### Volunteer help

Docker-compose support added for shenyu.
Including stand-alone and cluster yaml files.

[2021-11-15 02:09] tuohai666 commented on #2337
@nuo-promise

Considering that the systems using our products may be other systems, it
may be possible to consider not adding them. If you need these features for
your production environment, you can do it yourself.

Agree. Let's provide the minimal parameters which are required, while user can customize parameters which meet their needs.

[2021-11-15 02:09] #2337 closed

[2021-11-15 02:34] #2259 closed

[2021-11-15 05:49] civism commented on #2308
I have fixed it and submitted a pull on [](https://github.com/apache/incubator-shenyu-website/pull/359)

[2021-11-15 06:15] tuohai666 commented on #2308
Hi @civism I don't think this fix is complete.  (English & Chinese) * (2.4.1 & current) = 4 places to be fixed.
Please correct me if i was wrong.

[2021-11-15 06:46] #2296 closed

[2021-11-15 08:42] guyixn commented on #68
公司：zkna fun
网址:：www.zkna.com
地点：山东
联系方式：718091951@qq.com
场景：业务网关

[2021-11-15 08:47] ZQingHua-666 commented on #68
公司：/
网址：/
地点：中国长沙
联系方式：zhengqinghuaqaq@gmail.com
场景：个人学习

[2021-11-15 13:31] JooKS-me opened #2365 "[Integrated-Test] Add combination integrated test"
### Description

To test scenes of mixing plugins, we can add the integrated test to `shenyu-integrated-test-combination`.

IMO, the following test should be covered. But, if you have more idea, please propose and do it~

### Task List

### Combination of Response Plugins

- [ ] test combination of Modify Response and Cryptor Response plugin. @songyuequan
...

### Combination of Request Plugins

-

[2021-11-15 13:35] lxl910128 commented on #2365
let me try `Combination of Request Plugins`

[2021-11-15 13:35] JooKS-me commented on #2365
Thanks for help!

[2021-11-16 01:27] civism commented on #2308
@tuohai666  I submitted a new PR to fix the current version  about [link]( https://github.com/apache/incubator-shenyu-website/pull/364)

[2021-11-16 03:10] yu199195 opened #2366 "【Code Clean】Remove warning codes in apache shenyu"
### Volunteer help

Hi Community:

As the functionality of the apache shenyu project becomes more and more perfect.

Now apache shenyu has 100+ sub-projects and the amount of code is getting bigger and bigger.

To enhance the quality and readability of the code,and code design.

The project modules involved in this activity are deliberately launched as follows (code includes test code):

- [ ]  sh

[2021-11-16 03:22] #2331 closed

[2021-11-16 03:22] li-keguo commented on #2366
i want to optimize shenyu-examples

[2021-11-16 03:24] plutokaito commented on #2366
i want to optimize shenyu-register-center

[2021-11-16 03:31] JooKS-me commented on #2366
I want to optimize `shenyu-sync-data-center` .

[2021-11-16 03:32] prospect167 commented on #2366
i want to optimize sheyun-admin

[2021-11-16 03:35] yu199195 commented on #2366
please repay email ：https://lists.apache.org/thread/dr40q6bsrrryn6z19f0d59mor46qwb0s

[2021-11-16 03:40] qinxu2015 commented on #2366
i want to optimize  shenyu-common

[2021-11-16 03:54] LXPWing commented on #2366
i want to optimize  shenyu-web

[2021-11-16 03:55] qicz commented on #2366
`shenyu-client` is mine

[2021-11-16 03:57] lxl910128 commented on #2366
let me try shenyu-integrated-test

[2021-11-16 04:05] Cw404 commented on #2366
i want to optimize shenyu-web

[2021-11-16 04:20] choconana commented on #2366
I want to optimize shenyu-client.

[2021-11-16 04:22] 6freeair2016 commented on #2366
I want to optimize shenyu-spi

[2021-11-16 04:23] songyuequan commented on #2366
let me try  shenyu-disruptor please

[2021-11-16 04:32] songyuequan commented on #2366
let me try shenyu-disruptor please. I have found some warning in this module
| |
songyuequan
|
|
***@***.***
|
签名由网易邮箱大师定制

On 11/16/2021 ***@***.***> wrote：

Volunteer help

Hi Community:

As the functionality of the apache shenyu project becomes more and more perfect.

Now apache shenyu has 100+ sub-projects and the amount of code is getting bigger and bigger.

To enhance the quality and readabi

[2021-11-16 05:07] pmgcat opened #2367 "[BUG] SpringCloud-Plugin do not have url encoding when forwarding the request."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

For example, when requesting the URL "http://127.0.0.1:9195/test/getQuery?name=%E4%B9%83%E4%B8%87NINEONE%23+%E9%99%90%E9%87%8F%E5%8F%91%E5%94%AE2021+RR+Tour%E5%AE%9A%E5%88%B6%E5%B8%86%E5%B8%83%E5%8C%85&uid=12". Downstream services will not get the uid parameter, and the value of the name para

[2021-11-16 05:37] haibo-duan commented on #2366
i want to optimize shenyu-loadbalancer

[2021-11-16 05:43] heihei180 commented on #2366
i want optimize `shenyu-spi`

[2021-11-16 05:49] midnight2104 commented on #2135
done

[2021-11-16 05:49] #2135 closed

[2021-11-16 05:50] midnight2104 commented on #2144
Hi, @qinxu2015 , What is the current progress?

[2021-11-16 05:50] midnight2104 commented on #2140
done

[2021-11-16 05:50] #2140 closed

[2021-11-16 05:51] midnight2104 commented on #2139
hello , @storv , What is the current progress?

[2021-11-16 05:51] midnight2104 commented on #2137
done

[2021-11-16 05:51] #2137 closed

[2021-11-16 05:51] heihei180 commented on #2366
Let me try spi

---Original---
From: ***@***.***&gt;
Date: Tue, Nov 16, 2021 13:46 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: [apache/incubator-shenyu] 【Code Clean】Remove warning codes in apache shenyu (Issue #2366)

Volunteer help

Hi Community:

As the functionality of the apache shenyu project becomes more and more perfect.

Now apache shenyu has 100+ sub-projects and the

[2021-11-16 05:51] midnight2104 commented on #2136
hello  ,  @dbaxyx  , What is the current progress?

[2021-11-16 06:03] belary commented on #2366
i want to optimize shenyu-loadbalancer

[2021-11-16 06:03] storv commented on #2139
sry for that i forgot this issue!i'll make it as soon as quickly! sry for that again.

发自 网易邮箱大师

---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 日期 | 2021年11月16日 13:51 |
| 收件人 | ***@***.***> |
| 抄送至 | ***@***.******@***.***> |
| 主题 | Re: [apache/incubator-shenyu] [Volunteer] Add unit test for ShenyuClientRegisterGrpcServiceImpl (#2139) |

hello , @storv , What is the current progress?

—
You are receiv

[2021-11-16 06:10] heihei180 opened #2368 "[Volunteer] <clean up optimize shenyu-spi>"
### Volunteer help

:)

[2021-11-16 06:28] yu199195 commented on #2366
@choconana @Cw404 @6freeair2016 @belary

thanks，Yours module is already occupied, you can change to another module.

- [ ] shenyu-metrics
- [ ]  shenyu-plugin  ,   This is a large project is a very core module, which has many sub-projects
- [ ] shenyu-spring-boot-starter  This is a large project is a very core module, which has many sub-projects

[2021-11-16 06:32] 6freeair2016 commented on #2366
ok， I can optimize shenyu-metrics

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/incubator-shenyu"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年11月16日(星期二) 下午2:28
***@***.***&gt;;
**

[2021-11-16 06:35] Cw404 commented on #2366
ok,  I want optimize shenyu-spring-boot-starter

[2021-11-16 06:36] yu199195 commented on #2367
we alreay fix it at master，you can try

[2021-11-16 06:37] Cw404 commented on #2366
ok, I want optimize shenyu-spring-boot-starter

[2021-11-16 06:39] choconana commented on #2366
ok, I want to optimize shenyu-plugin

[2021-11-16 06:40] civism commented on #2341
@tuohai666 Hi,The following are my test results：
Use h2 database in shenyu-admin:
![shenyu-admin-h2](https://user-images.githubusercontent.com/21138330/141931975-395744ae-b160-4a4a-b1c1-95c07dc72f83.png)
Use mysql database in shenyu-admin:
![shenyu-admin-mysql](https://user-images.githubusercontent.com/21138330/141932000-d2057929-5eca-46c8-a4d9-8420eed21381.png)
shenyu-bootstrap test log output:
!

[2021-11-16 06:44] damonxue commented on #68
company : 聚拍
website：https://www.jupai.net
Location: Shijiazhuang, China
Contact information: DamonXue2@gmail.com
Scene: http Api Gateway

[2021-11-16 06:45] choconana commented on #2366
Ok, I want to optimize shenyu-plugin.

| |
zdhe9535
|
|
***@***.***
|
签名由网易邮箱大师定制

On 11/16/2021 ***@***.***> wrote：

@***@***.***@***@***.***

thanks，Yours module is already occupied, you can change to another module.

shenyu-metrics
shenyu-plugin , This is a large project is a very core module, which has many sub-projects
shenyu-spring-boot-starter This is a large project is a very core module,

[2021-11-16 06:51] dizent commented on #2366
Hello, I saw that you applied for optimization shenyu-examples, I want to work with you, can I?

[2021-11-16 07:12] dizent commented on #2366
I want to optimize the modules under the shenyu plugin；
`shenyu-plugin-httpclient`
`shenyu-plugin-dubbo`
`shenyu-plugin-request`
`shenyu-plugin-uri`

[2021-11-16 07:24] tuohai666 commented on #2341
@civism Thanks for the test. This issue can be closed.

[2021-11-16 07:24] #2341 closed

[2021-11-16 07:26] #2308 closed

[2021-11-16 09:18] li-keguo commented on #2366
If the landlord agrees, I have no objection.

Examples can be modified very few, it is recommended that you optimize other modules.

[2021-11-16 09:23] yu199195 commented on #2366
@li-keguo @dizent  You can work with each other.

[2021-11-16 10:11] songyuequan opened #2370 "[Volunteer] <Remove warning code in shenyu-plugin module>"
### Volunteer help

- [x] shenyu-plugin-api @songyuequan
- [x] shenyu-plugin-base @songyuequan
- [x] shenyu-plugin-global @heihei180
- [x] shenyu-plugin-logging @YanHui-Yang
- [x] shenyu-plugin-request @dizent
- [x] shenyu-plugin-resilience4j @haibo-duan
- [x] shenyu-plugin-response  @haibo-duan
- [x] shenyu-plugin-rewrite @zendwang
- [x] shenyu-plugin-sign @zendwang
- [x] shenyu-plugin-tars @haib

[2021-11-16 10:17] songyuequan commented on #2366
Hi~   About  optimize  shenyu-plugin you can  see  this   https://github.com/apache/incubator-shenyu/issues/2370   @dizent  @choconana     I  have  list  the  sub module .

[2021-11-16 12:06] li-keguo commented on #2370
I want to optimize  shenyu-plugin-grpc, I am familiar with this code

[2021-11-16 12:19] Berrywrq commented on #2366
i want to optimize shenyu-client

[2021-11-16 13:04] songyuequan commented on #2370
thank you  for your help

[2021-11-16 13:08] Berrywrq commented on #2370
I want to optimize shenyu-plugin-dubbo, shenyu-plugin-sentinel and shenyu-plugin-jwt

[2021-11-16 13:17] choconana commented on #2366
thank you for dividing this huge module into small tasks

[2021-11-16 13:23] JooKS-me opened #2373 "[Volunteer] Remove warning code in `shenyu-sync-data-center`"
### Volunteer help

- [x] remove warning code of `HttpSyncDataService.java`   ( remove @SuppressWarnings("all") )
- [x] remove other warning code. #2374

Ref #2366 .

[2021-11-16 15:08] li-keguo commented on #2370
it shenyu-plugin-sofa, I wrote it wrongly, shenyu-plugin-grpc can also try, learn a wave

[2021-11-16 15:25] songyuequan commented on #2370
Just  try

[2021-11-16 17:25] zendwang commented on #2370
I want to optimize  shenyu-plugin-waf、shenyu-plugin-websocket.

[2021-11-17 02:55] haibo-duan opened #2377 "[Volunteer] <clean up optimize shenyu-loadbalancer>"
### Volunteer help

clean up optimize shenyu-loadbalancer

[2021-11-17 06:12] #2377 closed

[2021-11-17 07:03] #2368 closed

[2021-11-17 08:25] #2373 closed

[2021-11-17 09:22] heihei180 commented on #2370
i want to optomize `shenyu-plugin-cryptor`

[2021-11-17 09:44] haibo-duan commented on #2370
i want to optomize shenyu-plugin-tars and shenyu-plugin-uri.
please assign it to me.

[2021-11-17 09:53] Jossc commented on #2370
I want to optimize Shenyu-plugin-monitor,  please assign it to me.

[2021-11-17 10:01] YanHui-Yang commented on #2366
I want to optimize shenyu-web

[2021-11-17 10:03] songyuequan commented on #2370
Hei~, II have assign  these tasks to you. .  @Jossc    @haibo-duan  @heihei180  @zendwang

[2021-11-17 10:10] YanHui-Yang commented on #2370
I want to optimize shenyu-plugin-logging

[2021-11-17 10:26] heihei180 commented on #2370
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

    shenyu-plugin-global

                    ***@***.***

        签名由网易邮箱大师定制

    On 11/17/2021 ***@***.***> wrote：

Hei~, II have assign  these tasks to you. .  @Jossc    @haibo-duan  @heihei180  @zendwang

—You are receiving this because you were mentioned.Reply to this emai

[2021-11-17 10:26] heihei180 commented on #2370
let me try ` shenyu-plugin-global`

[2021-11-17 13:35] heihei180 commented on #2370
ok, u can do it.&nbsp;

---Original---
From: ***@***.***&gt;
Date: Wed, Nov 17, 2021 19:49 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [apache/incubator-shenyu] [Volunteer] <Remove warning  code inshenyu-plugin module&gt; (Issue #2370)

I want to optimize shenyu-plugin-hystrix

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on Gi

[2021-11-17 13:53] 6freeair2016 opened #2389 "[Volunteer] <Remove warning code in shenyu-metrics>"
### Volunteer help

#

[2021-11-17 13:56] IceFoxs opened #2390 "[BUG] <scripts. start.sh in different JDK version ,parameter in JAVA_OPTS is invalid >in macos jdk version is 11，start.sh do not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/26451038/142213238-fa9c5394-7762-4196-9e00-ce2fce1b7a9d.png)

### Expected Behavior

![image](https://user-images.githubusercontent.com/26451038/142213703-8a4042d0-5f4c-4f57-a219-bd72ba2f8c0d.png)
remove -XX:+UseFastAccessorMethods
./start.sh

[2021-11-17 15:31] YanHui-Yang commented on #2370
I also want to optimize shenyu-plugin-motan. Thanks!

[2021-11-18 02:38] yu199195 commented on #2390
can you fix it？

[2021-11-18 02:50] impactCn commented on #2390
![image](https://user-images.githubusercontent.com/35489877/142342615-d626bbf0-fe5a-4332-b826-d5a5d6874eb8.png)

Edit start.sh, find the'UseFastAccessorMethods' parameter and remove it. It should be ready to start.

[2021-11-18 03:05] IceFoxs commented on #2390
In the script, judge the JDK version and select the GC optimization parameters of the corresponding version.
it will be  better.

[2021-11-18 03:06] yu199195 commented on #2390
@IceFoxs  you can fix it

[2021-11-18 03:12] IceFoxs commented on #2390
I try fix it

[2021-11-18 03:17] haibo-duan commented on #2370
i want to optimize  shenyu-plugin-resilience4j and shenyu-plugin-response.
please assign it to me.

[2021-11-18 06:20] zendwang commented on #2370
I can't find warning code.

[2021-11-18 06:35] #2389 closed

[2021-11-18 07:16] #2307 closed

[2021-11-18 08:36] plutokaito opened #2403 "[Task] 【Code Clean】Remove warning codes in module `shenyu-register-center`"
### Description

【Code Clean】Remove warning codes in module `shenyu-register-center`

### Task List

_No response_

[2021-11-18 08:40] zhaiweij opened #2404 "[Task] <Unit Test> add springboot start modules UT"
### Description

add springboot start modules UT

### Task List
  1. shenyu-spring-boot-starter-client
2.shenyu-spring-boot-starter-plugin
3.shenyu-spring-boot-starter-sync-data-center

[2021-11-18 08:51] songyuequan commented on #2370
Ok , thank you

[2021-11-18 08:53] songyuequan commented on #2370
Hei ~. I just assign shenyu-plugin-response to  @YanHui-Yang
you can do shenyu-plugin-resilience4j . @haibo-duan

[2021-11-18 09:02] songyuequan commented on #2370
Hei~I just assign shenyu-plugin-motan and shenyu-plugin-redirect  to you @@YanHui-Yang

[2021-11-18 11:40] IceFoxs commented on #2390
I already submit the pr ,you can check it.

[2021-11-19 00:13] isevenluo commented on #2370
I didn't find the warning for shenyu-plugin-hystrix. What else can I optimize

[2021-11-19 01:03] songyuequan commented on #2370
shenyu-plugin-modify-response
 shenyu-plugin-param-mapping

I  will assign  these   to  you  @isevenluo

[2021-11-19 01:29] AhahaGe commented on #2370
please assign some task to me?

[2021-11-19 01:40] songyuequan commented on #2370
I have assigned shenyu-plugin-context-path  to you.  you can have a try

[2021-11-19 01:51] heihei180 commented on #2370
pls assign to me `shenyu-plugin-resilience4j`

[2021-11-19 02:40] #2342 closed

[2021-11-19 05:27] songyuequan commented on #2370
Sorry , I have assign   `shenyu-plugin-resilience4j` to @haibo-duan  Do you have finished  `shenyu-plugin-cryptor` ? @heihei180

[2021-11-19 05:32] heihei180 commented on #2370
`cryptor` has discuss in  wechat groupchat, and @sinsy will do it.

[2021-11-19 05:33] heihei180 commented on #2370
@impactCn rather than @sinsy

[2021-11-19 05:39] songyuequan commented on #2370
Ok, thank you

[2021-11-19 06:30] nuo-promise opened #2412 "[Task] <Optimize Sql file> Optimize Sql file for Plugin-handle,shenyu-dict for h2、mysql、pg"
### Description

Optimize Sql file for Plugin-handle,shenyu-dict for h2、mysql、pg.

### Task List
- [x]  Optimize plugin-handle table for  h2 @nuo-promise
- [x] Optimize plugin-handle table for  mysql @nuo-promise
- [x] Optimize plugin-handle table for  pg @ShawnJim
- [x] Optimize shenyu-dict table for  h2 @nuo-promise
- [x] Optimize shenyu-dict table for  mysql @nuo-promise
- [x] Optimize shenyu-d

[2021-11-19 07:01] nuo-promise opened #2413 "[BUG] <Shiro> ShiroProperties.getWhiteList() is null"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

ShiroProperties.getWhiteList() is null.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

Caused by: java.lang.NullPointerException: null
	at org.apache.shenyu.admin.shiro.config.ShiroConfiguration.shiroFilterFactoryBean(Shi

[2021-11-19 07:59] AhahaGe commented on #2365
can I try  test combination of Cryptor Request and Cryptor Response plugin ?

[2021-11-19 08:03] AhahaGe commented on #2412
is this issue need someone to fix it?

[2021-11-19 08:48] AhahaGe commented on #2256
can you detail you operate step, sorry I can't understand.

[2021-11-19 09:30] AhahaGe commented on #2264
Do you mean the field name role in table dashboard_user table, as there is no field name role_id in that table.
Role field in dashboard_user table should not be used, as user_role table hold role relation ship. When we create user, we use user_role table to store relationship, and set role(1) for all user.
I agree delete role field in dashboard_user table.

[2021-11-19 09:34] nuo-promise commented on #2413
The yml file is not read by the program startup.

[2021-11-19 09:41] yu199195 opened #2416 "[new : feature] register shenyu instance to registry center"
### Description

Hi community

To better support cluster mode, we need to register our own instances to the registry.

So I intend to design this aspect of the work.

Broadly speaking, there will be some tasks as follows.

- [x] Architecture Design @yu199195
- [x] register instance to zookeeper @yu199195
- [x] create apache/incubator-shenyu-nginx
- [ ] support nginx upstream to registry @impactCn

[2021-11-19 09:49] yu199195 commented on #2264
@fengzhenbing @AhahaGe  do not delete it， Permissions will be used

[2021-11-19 09:50] AhahaGe commented on #2416
Can I have a try, but I know little about it, and If it's not emergency, can anyone guide me to finish it.

[2021-11-19 10:14] AhahaGe commented on #1366
I have the same issue when start ShenyuBootstrapApplication, and checked the application-local.yml and below is detail:
spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: shenyu-bootstrap

[2021-11-19 11:16] nuo-promise commented on #2413
The problem has not yet been solved.

[2021-11-19 11:35] #2413 closed

[2021-11-19 12:52] tuohai666 opened #2418 "[Question] Unify mocking framework dependencies"
### Question

For now, in the project there are two mocking framework PowerMock and Mockito. I think we keep one of them is enough.
I'd like to discuss with you of which one to retain. Here are some superficial comparisons I just investigated.
Last release:
PowerMock: 02 Nov 2020  Mockito: 07 Oct 2021
Last commit:
PowerMock: 02 Nov 2020  Mockito: 18 Nov 2021

Any suggestions?

[2021-11-19 13:07] isevenluo commented on #2370
Ok, thank you. I will try to finish these two projects

[2021-11-20 03:30] songyuequan commented on #2139
hei , @storv , What is the current progress?

[2021-11-20 03:32] songyuequan commented on #2236
Hello~, what is the Progress? @lishijiee

[2021-11-20 03:49] songyuequan commented on #2080
@hezhaoming   dbaxyx What is the current progress and do you need help?

[2021-11-20 04:07] 4zd commented on #1944
Got it.

[2021-11-20 04:17] songyuequan commented on #1456
Hi~ what is the progress? @wyc192273

[2021-11-20 04:27] songyuequan opened #2420 "[Volunteer] < Enhance apache shenyu unit test >"
### Volunteer help
Hi Community:
you can see the unit test Coverage in  https://app.codecov.io/gh/apache/incubator-shenyu
or  target/site/index.html  under each module in your local enviroment.
and there are some tasks to improve the unit test Coverage.
let's improve the coverage of unit test  together !

- [x] ISSUE #2236  @haibo-duan
- [x] ISSUE #2144   @haibo-duan
- [x] ISSUE #2139  @haibo-duan

[2021-11-20 05:06] AhahaGe commented on #2420
please assign ConsulClientRegisterRepository to me

[2021-11-20 05:07] AhahaGe commented on #2136
I will finish this

[2021-11-20 06:29] SaberSola opened #2421 "[BUG] <some little exception on Admin > Sometimes duplicate hosts appear in the spring cloud plugin handler when register springCloudService"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

_No response_

### Expected Behavior

_No response_

### Steps To Reproduce

When you have two upstream:exist=[192.168.16.17:7001,192.168.16.18:7001]
when you refresh it，addList=[192.168.16.17:7001,192.168.16.18:7001]
!exist.equals(add)There will be a problem with judgment here

![image](http

[2021-11-20 14:46] plutokaito commented on #2418
the last release of PowerMock is one year ago, So i suggest the Mockito.

[2021-11-21 02:05] LXPWing opened #2427 "[Volunteer] Remove warning code in shenyu-web"
### Volunteer help

remove other warning code. [issue #2366]Remove warning code in [shenyu-web] #2423

Ref #2366 .

[2021-11-22 01:09] plutokaito commented on #2420
let me try Enhance shenyu-web module unit test.

[2021-11-22 01:53] impactCn commented on #2416
I want to try the function ‘support nginx upstream to registry’.

[2021-11-22 02:54] #2421 closed

[2021-11-22 03:21] plutokaito commented on #1456
Hi, is anyone do this? if no one, plz assign to me, thank you.

[2021-11-22 03:31] songyuequan commented on #1456
I think no body do this for a long time .
And In order to improve our UT Coverage .  you cat just do it .  thank you.

[2021-11-22 03:33] songyuequan commented on #2420
thank you  for your help.

[2021-11-22 07:50] qinxu2015 commented on #2144
Hello,Recently, there are many tasks, and it will take a few days to connect them

[2021-11-22 08:24] yinj51 opened #2432 "[Question]File upload error413Request Entity Too Large"
### Question
vertion: shenyu 2.4.1-SNAPSHOT
Error code: 413
Error message: Request Entity Too Large。
describe:Using alicloud OSS, the gateway directly intercepts and reports errors
![_20211122164305](https://user-images.githubusercontent.com/66461549/142829991-9a932a25-9d15-47dc-ac29-7243cc78b9d9.png)

[2021-11-22 08:26] yu199195 commented on #2432
pls use english， and follow the issue template。

[2021-11-22 08:45] yinj51 commented on #2432
Please look at the picture

[2021-11-22 09:19] yinj51 commented on #2432
After testing, it exceeds 100kb and will report 413

[2021-11-22 09:21] #2427 closed

[2021-11-22 09:27] yu199195 commented on #2432
This is a tip for your own real service， pls check your server

[2021-11-22 15:56] nuo-promise commented on #2412
You can work with me to modify the shenyu-dashboard？

[2021-11-23 05:57] AhahaGe commented on #2412
You can work with me to modify the shenyu-dashboard? Yes.

[2021-11-23 11:49] OnlyQuiet opened #2438 "[BUG] <title>Some Handler Not registered to SpringIOC"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Cryptor plugin invalid
![图片](https://user-images.githubusercontent.com/41868553/143018109-f177e413-1ff5-4b53-b9d7-1a70060013b6.jpg)

### Expected Behavior

Cryptor plugin effect

### Steps To Reproduce

1、jdk 1.8，ShenYu 2.4.1
 2、Run the official example include ShenYu-admin and ShenYu-bootstr

[2021-11-23 11:58] impactCn commented on #2438
I will keep track of this issue.

[2021-11-23 12:20] impactCn commented on #2438
hi, the current problem has been fixed in the master version.

[2021-11-23 12:29] impactCn commented on #2438
https://github.com/apache/incubator-shenyu/pull/2244.

[2021-11-23 13:11] SaberSola opened #2439 "[REFACTOR] RateLimiterAlgorithm use lua script not thredsafe when init the script"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

   public RedisScript<List<Long>> getScript() {
        if (!this.initialized.get()) {
            DefaultRedisScript redisScript = new DefaultRedisScript<>();
            String scriptPath = "/META-INF/scripts/" + getScriptName();
            redisScript.setScriptSource(new ResourceScriptSou

[2021-11-23 15:01] nuo-promise commented on #2412
The solution has now been changed, and no need to modify the dashboard.

[2021-11-23 16:35] nuo-promise commented on #2412
h2,mysql complete!

[2021-11-24 01:34] lahmXu opened #2441 "[Task] Use the annotation @ConfigurationProperties instead of the @Value in NettyTcpConfig"
### Description

Use the annotation @ConfigurationProperties instead of the @Value in NettyTcpConfig

### Task List

_No response_

[2021-11-24 01:35] lahmXu commented on #2441
please assign to me

[2021-11-24 02:48] #2439 closed

[2021-11-24 02:53] #2438 closed

[2021-11-24 03:16] JooKS-me opened #2443 "[Volunteer] Improve the stability of Ratelimiter plugin integration test"
### Volunteer help

Integrated test of RateLimiterPlugin sometimes run failed, such as https://github.com/apache/incubator-shenyu/runs/4307259601?check_suite_focus=true .

[2021-11-24 04:17] JooKS-me opened #2447 "[Volunteer] Integrated test sometimes failed in cleaning cryptorRequest plugin data"
### Volunteer help

see https://github.com/apache/incubator-shenyu/runs/4307375670?check_suite_focus=true, integrated test sometimes failed in clean cryptorRequest plugin data.

[code]

[2021-11-24 07:02] yu199195 opened #2449 "[Volunteer] Add doc and unit test for register-instance"
### Volunteer help

Hi Community

We've added the ability to register instances of the gateway itself to the registry.

can config this in shenyu-boostarp yaml.

[code]

So there will be the following tasks：

- [x] new register instance doc to website
- [ ] add unit test for shenyu-register-instance-core
- [ ] add unit test for shenyu-register-instance-zookeeper

[2021-11-24 07:06] yu199195 opened #2450 "[new : feature] support regsiter instance to etcd"
### Volunteer help

Hi Community

We already have the spi interface and already support zookeeper.

So there will be the following tasks：

- [ ] new module register-instance-etcd
- [ ] impl org.apache.shenyu.register.instance.api.ShenyuInstanceRegisterRepository
- [ ] add unit test
- [ ] add doc to shenyu-webiste

[2021-11-24 07:07] yu199195 opened #2451 "[new : feature] support regsiter instance to consul"
### Volunteer help

### Volunteer help

Hi Community

We already have the spi interface and already support zookeeper.

So there will be the following tasks：

- [ ] new module shenyu-register-instance-consul  under shenyu-register-center
- [ ] impl org.apache.shenyu.register.instance.api.ShenyuInstanceRegisterRepository
- [ ] add unit test
- [ ] add doc to shenyu-webiste

[2021-11-24 07:19] JooKS-me commented on #2450
Hi, can I try this?

[2021-11-24 07:20] #2443 closed

[2021-11-24 07:46] zhaiweij commented on #2449
give to me

[2021-11-24 10:05] haibo-duan commented on #2236
Is there any progress on this issue?If not, please assign it to me.

[2021-11-24 10:12] songyuequan commented on #2236
Hi~,I think there is no progress  for a long time.
In order to improve the UT Coverage.
 I have assign to you in https://github.com/apache/incubator-shenyu/issues/2420
thank you @haibo-duan

And. you can  take  some  other  tasks  when you have enough. time. @lishijiee

[2021-11-24 11:02] babynata commented on #2451
I’d loved to try this one~Plz assign me~Memeda

[2021-11-24 14:33] JooKS-me opened #2456 "[BUG] Etcd client init failed when using etcd cluster"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Using etcd to sync data, Etcd client init failed when using multiple etcd instance like : `http://localhost:2379,http://localhost:2380,http://localhost:2381` .

### Expected Behavior

_No response_

### Steps To Reproduce

1. edit application.yml like this
![image](https://user-images.githubu

[2021-11-25 01:38] songyuequan commented on #2370
Hi~ what is the progress?  @choconana  @Berrywrq @Jossc

[2021-11-25 01:46] songyuequan commented on #2136
Hi~,I think there is no progress for a long time.
In order to improve the UT Coverage.
I have assign to you in #2420
thank you @AhahaGe

And. you can take some other tasks when you have enough time. @dbaxyx

[2021-11-25 01:50] AhahaGe commented on #2136
Ok, I am doing this, and reading code to understand the logic, and start write unit test.

[2021-11-25 02:49] #2456 closed

[2021-11-25 02:50] #2236 closed

[2021-11-25 07:09] AhahaGe commented on #2420
ConsulClientRegisterRepository #2136 meet some problem, can't start example with consul register center.

[2021-11-25 07:12] AhahaGe commented on #2136
ConsulClientRegisterRepository is blocking, when I start example using register type consul, it shows below error.
![image](https://user-images.githubusercontent.com/6198217/143396086-cc3484cb-dc10-49d4-8efa-bd38b5b81855.png)

[2021-11-25 07:14] AhahaGe commented on #2412
got it.

[2021-11-25 07:22] ShawnJim commented on #2412
i will complete pg.

[2021-11-25 07:24] #2441 closed

[2021-11-25 07:31] AhahaGe commented on #2420
Can u assign some other test case to me?

[2021-11-25 07:33] haibo-duan commented on #2420
please assign these issue to me:
ISSUE [Volunteer] Add unit test for ShenyuClientRegisterTarsServiceImpl #2144
ISSUE [Volunteer] Add unit test for ShenyuClientRegisterGrpcServiceImpl #2139

[2021-11-25 07:52] AhahaGe commented on #2321
what's the progress @zhouyadong?

[2021-11-25 08:33] AhahaGe commented on #2256
this is a front bug, and still exist in branch v2.4.1, need front contributor.

[2021-11-25 08:45] wtlihao commented on #2274
when project bootstrap. occur this exception.
config:
shenyu:
  client:
    registerType: zookeeper
    serverLists: zk1.yaomaitong.net:2181
    props:
      props:
        appName: appName
      # 当前mvc项目在ShenYu网关的路由前缀
      contextPath: ${server.servlet.context-path}
      # 本项目的启动端口
      port: ${server.port}
      # 设置true 代表代理你的整个服务，false表示代理你其中某几个controller
      isFull: true

[2021-11-25 09:05] songyuequan commented on #2420
Hi ,I have assign these to you.  thank you

[2021-11-25 09:07] AhahaGe commented on #2274
can you format your config file?

[2021-11-25 09:20] misselvexu commented on #2418
Mockito, +1

[2021-11-25 09:20] AhahaGe commented on #2316
if not fixed, please add label front bug, so that front guys can pick up quickly, and backend need not check again. @yu199195 @qicz

[2021-11-25 14:20] lahmXu opened #2463 "[type: refactor] fix shenyu-integrated-test-grpc NettyTcpConfig bug"
### Description

fix shenyu-integrated-test-grpc NettyTcpConfig bug

### Task List

_No response_

[2021-11-25 14:20] lahmXu commented on #2463
please assign to me

[2021-11-25 15:32] choconana commented on #2370
Sorry, I’m busy recently, but I have reviewed some module before, so the task will be completed within these two days.
| |
zdhe9535
|
|
***@***.***
|
签名由网易邮箱大师定制

On 11/25/2021 ***@***.***> wrote：

Hi~ what is the progress? @***@***.***@Jossc

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with Gi

[2021-11-25 15:48] choconana opened #2465 "[Task] <shenyu-plugin-oauth2 > remove warning codes in module"
### Description

remove warning codes

### Task List

_No response_

[2021-11-25 23:20] songyuequan commented on #2370
OK，thank you very much.

[2021-11-26 01:00] AhahaGe commented on #2465
please assign to me

[2021-11-26 01:24] choconana opened #2467 "[Task] <shenyu-plugin-divide> remove warning codes"
### Description

remove warning codes in module shenyu-plugin-divide

### Task List

_No response_

[2021-11-26 01:25] choconana opened #2468 "[Task] <shenyu-plugin-ratelimiter> remove warning codes"
### Description

remove warning codes in module shenyu-plugin-ratelimiter

### Task List

_No response_

[2021-11-26 01:26] choconana opened #2469 "[Task] <shenyu-plugin-springcloud> remove warning codes"
### Description

remove warning codes in module shenyu-plugin-springcloud

### Task List

_No response_

[2021-11-26 01:31] choconana commented on #2465
I'm dealing with it

[2021-11-26 01:57] wtlihao commented on #2274
step1:
[code]
ZookeeperClientRegisterRepository
DEBUG1：
![image](https://user-images.githubusercontent.com/30258468/143514817-09d47027-7dc3-452d-89ab-9f4d0b865669.png)

DEBUG2:
![image](https://user-images.githubusercontent.com/30258468/143514992-76862d7e-e792-4627-a9c8-fb39e1228e7b.png)

when DEBUG2,  occur the exception.

step2:
I created a metaRegisterDTO object that is the same as in the DEBUG

[2021-11-26 02:28] wtlihao commented on #2274
![image](https://user-images.githubusercontent.com/30258468/143517542-dc9f1318-58cd-44f7-9d6a-11ec7a3c6e4b.png)
the method's target replace "/" to "-" ，but when context path is "/xx/**" rule name is "/xx/**"， then final nodeName still exist "/"

[2021-11-26 02:53] #2463 closed

[2021-11-26 03:41] AhahaGe commented on #2274
please change metadataPath from  String metadataPath = "/shenyu/register/metadata/http/qxs-api/qxs-api-**"; to
        String metadataPath = "/shenyu/register/metadata/http/qxs-api/**/qxs-api/**--qxs-api-**";
![image](https://user-images.githubusercontent.com/6198217/143523262-61b4b9ea-90dc-46f3-a2e6-4413b2e1136a.png)

[2021-11-26 03:42] AhahaGe commented on #2274
yes, as your context contains / in middle.

[2021-11-26 03:46] AhahaGe commented on #2274
zk node can't be found exception,

/shenyu/register/metadata/http/knowledge-mall//knowledge-mall/--knowledge-mall-**

[2021-11-26 05:37] wtlihao commented on #2274
throw exception NoNode for /shenyu/register/metadata/http/qxs-api/**/qxs-api/**--qxs-api-**

[2021-11-26 05:37] wtlihao commented on #2274
NoNode for /shenyu/register/metadata/http/qxs-api/**/qxs-api/**--qxs-api-**

[2021-11-26 05:40] wtlihao commented on #2274
that is editor's problem, i upload image, please view image’s exception

[2021-11-26 05:47] wtlihao commented on #2274
![image](https://user-images.githubusercontent.com/30258468/143533070-4fe62834-68a5-4913-98ea-dff44897c0a3.png)

[2021-11-26 05:58] AhahaGe commented on #2274
have you checked whether zk server has that node?

[2021-11-26 06:04] wtlihao commented on #2274
There is no node of that ZK, because the NO NODE exception is reported when it is created

[2021-11-26 06:30] wtlihao commented on #2274
can you give me for your wechat ? wecaht chat

[2021-11-26 08:44] AhahaGe commented on #2274
shenyu:
    client:
    registerType: zookeeper
    serverLists: zk1.yaomaitong.net:2181
    props:
      contextPath: /qxs-api/**   change to /qxs-api
      port: ${server.port}
      isFull: true

please change contextPath from /qxs-api/** to /qxs-api and retry

[2021-11-26 08:47] AhahaGe commented on #2274
ahahage@163.com please send you wechat there

[2021-11-26 09:06] #2144 closed

[2021-11-26 09:46] AhahaGe commented on #2274
this is a bug, as user config is as below, isFull proxy all controller, but contextPath will rewrite to /contextPath/**, add /**,  when register metadata, and call zkClient.createPersistent(realNode, GsonUtils.getInstance().toJson(metadata)); realNode will contain two /, in zk it means two level directory, but parent node is not created ever, this call print error.
![image](https://user-images.git

[2021-11-26 09:54] wtlihao opened #2476 "[BUG] <When the project is started, the ZK node cannot be found exception occurs> #2274"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

_No response_

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2021-11-26 09:54] wtlihao commented on #2476
https://github.com/apache/incubator-shenyu/issues/2274

[2021-11-26 09:55] ldinger opened #2477 "I have a problem with the springcloud proxy plug-in"
### Question

?

[2021-11-26 10:05] #2139 closed

[2021-11-26 11:45] choconana commented on #2467
there is no warning codes

[2021-11-26 11:47] choconana commented on #2469
there is not any warning codes at all

[2021-11-26 11:49] choconana commented on #2370
there are not warning codes in module shenyu-plugin-springcloud and shenyu-plugin-divide

[2021-11-27 13:44] songyuequan commented on #2469
OK, thank you ,and  you can close this issue

[2021-11-27 14:03] #2469 closed

[2021-11-28 07:39] songyuequan commented on #2370
Ok, thank you .

[2021-11-28 07:40] songyuequan commented on #2467
thank you . and you can close this issue

[2021-11-28 11:56] cysy-lli opened #2480 "consul-API switch"
### Description

switch from spring-cloud-consul api to consul native api

### Task List

_No response_

[2021-11-29 02:05] #2467 closed

[2021-11-29 02:49] AhahaGe commented on #2321
@qicz @yu199195 @zhouyadong can I try this?

[2021-11-29 06:30] yu199195 commented on #2477
used english and follow the issue template

[2021-11-29 06:30] yu199195 commented on #2480
used english

[2021-11-29 06:31] #2476 closed

[2021-11-29 07:02] ldinger commented on #2477
look this
the hosts of my computer:
------
127.0.01 shenyu.test.com
-------
shenyu's version   is  2.4.1
and  I have used the springcloud plug-in
for example , the proxy address is  : shenyu.test.com/service-app1/test
postman and browser test this address  returns empty
but  “curl” command line test returns normally
curl shenyu.test.com/service-app1/test   returns is OK
browser returns :  net::ERR

[2021-11-29 07:58] yu199195 commented on #2477
shenyu.test.com Is it passable in your local area? What request method are you using? post and get?

[2021-11-29 08:02] qicz commented on #2316
I can not assign the label 'front bug'. @yu199195

[2021-11-29 08:12] yu199195 commented on #2316
@qicz  you can creator this  lable in shenyu-dashboard

[2021-11-29 08:22] qicz commented on #2316
copy

[2021-11-29 08:25] qicz commented on #2316
move to shenyu-dashboard https://github.com/apache/incubator-shenyu-dashboard/issues/159.

[2021-11-29 08:25] #2316 closed

[2021-11-29 08:59] ldinger commented on #2477
both ping  and  telnet can pass
used GET request method
os is  mac
“shenyu.test.com”  in  my hosts configuration file
 I don't understand why "curl" is ok but browser and postman not passable

[2021-11-29 09:52] yu199195 commented on #2477
can you  replace shenyu.test.comto ip:port ?

[2021-11-29 09:59] #2477 closed

[2021-11-29 14:39] Jossc opened #2484 "[ISSUE #2370]【Code Clean】Clean warning codes in [shenyu-plugin-monitor] module"
### Volunteer help

Clean warning codes  [shenyu-plugin-monitor]

[2021-11-30 01:49] songyuequan commented on #2365
let me try Cryptor Request and Cryptor Response plugin.

[2021-11-30 02:16] JooKS-me commented on #2365
Welcome~

[2021-11-30 02:55] meiping05 opened #2487 "[BUG] <not support dubbo primitive type >"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

### Interface
`Student findById(long id)`

### Invoke Failure

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

_No response_

### Anything else?

_No response_

[2021-11-30 02:56] yu199195 commented on #2487
need more info

[2021-11-30 02:58] #2239 closed

[2021-11-30 02:58] meiping05 commented on #2487
`
2021-11-30 10:30:52 [New I/O client worker #1-1] ERROR org.apache.shenyu.plugin.alibaba.dubbo.AlibabaDubboPlugin - dubbo failed using async genericInvoker() metaData=MetaData{id='1461601432558649344', appName='dubbo-sample-webapp', contextPath='/dubbo-sample-webapp', path='/dubbo-sample-webapp/student/findById', rpcType='dubbo', serviceName='com.meip.gateway.inf.StudentInterface', methodName='fi

[2021-11-30 03:01] meiping05 commented on #2487
### Interface

`public interface StudentInterface {

    Student findById(long id);

    List<Student> findByArrays(Long[] ids);
}`

### impl
`@DubboService
public class StudentInterfaceImpl implements StudentInterface {

    @Override
    @ShenyuDubboClient(path = "/student/findById")
    public Student findById(long id) {
        return Student.builder().id(id).age(20).height(170).name("测试").sex

[2021-11-30 03:17] yu199195 commented on #2487
this have error?

[2021-11-30 03:27] RitualYang commented on #2484
please assign to me

[2021-11-30 03:32] zhaiweij commented on #2487
hi ,The error log contains' Illegal constructor: long ' , Your pojo object constructor has no parameters?

[2021-11-30 03:38] meiping05 commented on #2487
`public Student findById(long id) {
    return Student.builder().id(id).age(20).height(170).name("测试").sex(Sex.MALE).build();
}`

[2021-11-30 03:38] meiping05 commented on #2487
`
public Student findById(long id) {
    return Student.builder().id(id).age(20).height(170).name("测试").sex(Sex.MALE).build();
}
`

[2021-11-30 03:39] meiping05 commented on #2487
### primitive type : long

`
public Student findById(long id) {
    return Student.builder().id(id).age(20).height(170).name("测试").sex(Sex.MALE).build();
}
`

[2021-11-30 03:42] meiping05 commented on #2487
### If is Long  Then true
`
public Student findById(Long id)
`

[2021-11-30 03:44] zhaiweij commented on #2487
Can see the Student ?

[2021-11-30 03:46] meiping05 commented on #2487
Request is error not Response

`
@Data
@Builder
public class Student implements Serializable {

    private long id;

    private String name;

    private int age;

    private Sex sex;

    private int height;
}

`

[2021-11-30 03:49] meiping05 commented on #2487
[https://dubbo.apache.org/zh/blog/2018/08/14/dubbo%E7%9A%84%E6%B3%9B%E5%8C%96%E8%B0%83%E7%94%A8/](是否是基本类型拼装类型的问题？)

[2021-11-30 03:50] zhaiweij commented on #2487
You can add @ NoArgsConstructor to Student

[2021-11-30 05:40] meiping05 commented on #2487
Or it could be a Dubbo BUG

[2021-11-30 06:00] meiping05 commented on #2487
### ApacheDubboProxyService

`

        return Mono.fromFuture(invokeAsync(genericService, metaData.getMethodName(), pair.getLeft(), pair.getRight()).thenApply(ret -> {
            if (Objects.isNull(ret)) {
                ret = Constants.DUBBO_RPC_RESULT_EMPTY;
            }
            exchange.getAttributes().put(Constants.RPC_RESULT, ret);
            exchange.getAttributes().put(Constants.CL

[2021-11-30 07:13] qixiaobo commented on #1401
@Zhoutzzz @WYUSIG How about the progress

[2021-11-30 07:17] yu199195 commented on #2487
can you fix it  in  BodyParamUtils.buildSingleParameter？  @meiping05

[2021-11-30 08:07] Zhoutzzz commented on #1401
https://shenyu.apache.org/zh/docs/plugin-center/authority-and-certification/oauth2-plugin

[2021-11-30 08:46] meiping05 commented on #2487
I try it

[2021-11-30 08:52] willfenglover commented on #214
我也遇到这个问题了，报错（413 request entity too large），调整了 divide 插件 Rules 中的 requestMaxSize 大小，但是没有用。

[2021-11-30 08:58] #2450 closed

[2021-11-30 12:38] haibo-duan commented on #1824
hi ,please assign these task to me:
following classes test code coverage
org.apache.shenyu.admin.shiro.bean.StatelessAuthFilter(6%)
org.apache.shenyu.admin.shiro.bean.StatelessToken(0%)
org.apache.shenyu.admin.shiro.config.ShiroRealm(0%)
org.apache.shenyu.admin.disruptor.subscriber.URIRegisterExecutorSubscriber(12%)
org.apache.shenyu.admin.disruptor.subscriber.MetadataExecutorSubscriber(60%)
org.a

[2021-11-30 12:44] haibo-duan commented on #2420
Please assign these tasks to me:
ISSUE shenyu-admin module test coverage improvement #1824 (Coverage 72.37%)
 ISSUE Enhance shenyu-sync-data-center module unit test #1458 (Coverage 71.05%)

[2021-11-30 12:46] songyuequan commented on #2420
Ok, thank you for your help .

[2021-12-01 02:54] OnlyQuiet commented on #2438
thanks

[2021-12-01 04:31] mobaiLv opened #2493 "[Question] <title>My interface request timed out"
### Question

My interface request timed out. How to modify the default 3-second response timeout

[2021-12-01 05:39] JooKS-me opened #2494 "[BUG] Oauth2Plugin skip failed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Oauth2Plugin skip failed

### Expected Behavior

_No response_

### Steps To Reproduce

1. add following dependency to `pom.xml`:
[code]
2. start shenyu
3. send http request

### Environment

[code]

### Debug logs

in bootstrap
[code]

### Anything else?

#2483 is partly inappropriate

[2021-12-01 05:45] JooKS-me opened #2496 "[Volunteer] Add integrated test for Oauth2 plugin"
### Volunteer help

- [ ] Add integrated test for Oauth2 plugin

[2021-12-01 06:10] meiping05 commented on #2494
I have the same problem

[2021-12-01 06:10] meiping05 commented on #2487
Have Other Contact Information ？

[2021-12-01 06:27] yu199195 commented on #2493
need more info， and pls follow the issue template

[2021-12-01 06:29] SaberSola commented on #2493
Please provide some more useful information...

[2021-12-01 06:36] #2494 closed

[2021-12-01 09:32] bootstrap2025 opened #2500 "2.4.1 版本启动shenyu-admin 报table不存在."
### Question

```2.4.1``` 版本，代码下载下来，启动shenyu-admin 报table不存在. 请问在哪里可以生成sql?

[2021-12-01 09:42] WanShengWu commented on #2500
shenyu-admin resource 目录下 sql-script目录

[2021-12-01 09:45] bootstrap2025 commented on #2500
感谢，

[2021-12-01 09:46] #2500 closed

[2021-12-01 11:50] #2361 closed

[2021-12-01 11:55] impactCn opened #2503 "[Volunteer] <add docs for 'match' and 'docker-compose'>"
### Volunteer help

Currently there is no documentation for'match' and no documentation for'docker-compose'.

I am willing to add documentation for them.

[2021-12-01 14:18] bootstrap2025 opened #2505 "500 Server Error for HTTP POST "/http/order/save""
### Question

![image](https://user-images.githubusercontent.com/9637974/144250487-6a613507-ec35-4ea5-8bcd-7d96d8a155c7.png)
元数据注册成功了，但是访问测试例子时如下图
![image](https://user-images.githubusercontent.com/9637974/144249834-8e42eb39-341f-43d3-baa2-7e7169d97688.png)
参考文档中的例子测试，测试shenyu-examples http://localhost:9195/http/order/save 接口时返回500错误，可以帮忙看下是什么原因吗？ 感谢

[2021-12-01 15:58] zhouyadong commented on #2321
Sorry, I have delayed the progress of the task, I will catch up as soon as possible

[2021-12-01 16:00] zhouyadong commented on #2321
I refactored some database operations in the loop in AppAuthServiceImpl and PermissionServiceImpl

[2021-12-02 02:07] KevinClair commented on #2505
Run `shenyu-bootstrap` and try it again.

[2021-12-02 03:38] bootstrap2025 commented on #2494
2021-12-02 11:37:11 [boundedElastic-1] ERROR org.apache.shenyu.plugin.divide.DividePlugin - divide upstream configuration error： RuleData{id='1466032577540608000', name='/http/test/**', pluginName='divide', selectorId='1466032577356058624', matchMode=0, sort=1, enabled=true, loged=true, handle='{"loadBalance":"random","retry":3,"timeout":3000,"headerMaxSize":10240,"requestMaxSize":102400}', condit

[2021-12-02 03:43] #2487 closed

[2021-12-02 03:44] yu199195 commented on #2505
whats the version？

[2021-12-02 03:59] bootstrap2025 commented on #2505
最新版本2.4.1

[2021-12-02 04:02] JooKS-me commented on #2494
Hi, it seen that your `paramValue` is config error. You can refer to [the document](https://shenyu.apache.org/docs/next/user-guide/admin-usage/selector-and-rule/#condition-match-strategy) .

In addition, issue is expected to be written in English.

[2021-12-02 06:19] bootstrap2025 commented on #2494
![image](https://user-images.githubusercontent.com/9637974/144368379-2e313308-5c7d-40cb-a787-e72e8b9bec52.png)
I checked the admin system，Why my matchType =0, can't choose other values?

[2021-12-02 06:31] liushang2015 commented on #68
公司：九州通
网址:：https://www.yyjzt.com
地点：湖北
联系方式：okliu123456@126.com
场景：业务网关

[2021-12-02 06:41] bootstrap2025 commented on #2505
我发现我的问题了，bootstrap里pom里没有引入插件，加上接口就代理成功了，但是这里
![image](https://user-images.githubusercontent.com/9637974/144371087-b708ec48-2aa7-4c33-b1d8-490d509dcd79.png)
matchType 为啥是0 是和http 接口有关吗？

[2021-12-02 07:01] xiangHannibal opened #2509 "客户端服务注册是根据rpcType拼接的，那所有服务都是一个servicename"
### Question

 private synchronized void registerService(final String rpcType, final String contextPath, final String host,
                                              final int port, final URIRegisterDTO registerDTO) {
        if (registerService) {
            return;
        }
        registerService = true;
        Instance instance = new Instance();
        instance.setEphemeral(true);

[2021-12-02 10:39] yu199195 commented on #2509
pls used english， and  whats the version？

[2021-12-02 17:09] bootstrap2025 opened #2512 "springmvc startup error"
### Question

![image](https://user-images.githubusercontent.com/9637974/144469190-f95ad6d1-b911-46ff-ad22-7b66a5be23f4.png)
When starting the service in springmvc mode, my xml file shows that the constructor is missing one parameter，
and The following error is reported when the service starts：
![image](https://user-images.githubusercontent.com/9637974/144469606-fb6ad1a2-4d1a-4f55-8bca-fa71e503bfe

[2021-12-03 02:20] AhahaGe commented on #2512
Please provide more information, which version, what's your steps, thanks.

[2021-12-03 02:56] bootstrap2025 commented on #2512
![image](https://user-images.githubusercontent.com/9637974/144537029-bf5909ce-e169-4591-ac4c-cb29ca11a0e9.png)
When building an http proxy according to your documentation, the springmvc project will report this error at startup
The version number is ```2.4.1```

[2021-12-03 03:31] li-keguo opened #2513 "[Question] Maybe these Class should be deleted"
### Question

I find Class never used， These classes should probably be deleted

- shenyu-common
  - [ ] org.apache.shenyu.common.utils.ThreadShare : only UT used
  - [ ] org.apache.shenyu.common.utils.ThreadShareUtils : no used
  - [ ] org.apache.shenyu.common.utils.SpiLoadFactory : only UT used
- shenyu-examples
  - [ ] org.apache.shenyu.examples.http.result.PaymentTypeService :  no used
- Sheny

[2021-12-03 03:40] yu199195 commented on #2513
only PaymentTypeService can remove

[2021-12-03 03:49] boweiwu opened #2514 "[Task] 静态资源代理及websocket重定向"
### Description

不能代理静态资源
websocket的context_path无法重定向

### Task List

1. 增加静态资源的代理
2. 增加websocket的context_path替换

[2021-12-03 04:29] #2412 closed

[2021-12-03 04:33] nuo-promise opened #2516 "[Task] <Optimize SQL files> Optimize SQL files for resource,permission"
### Description

optimize sql files for resource and permission.

### Task List

- [x] optimize resource for h2,mysql,pg @nuo-promise
- [x] optimize permission for h2,mysql,pg @nuo-promise

[2021-12-03 04:40] nuo-promise opened #2517 "[Task] <Add permission for admin backend> add permission for admin backend api"
### Description

add permission for admin backend curd api.

### Task List

- [ ] modify shiro.
- [ ] add permission for AppAuth module.
- [ ] add permission for Config module.
- [ ] add permission for DashboardUser module.
- [ ] add permission for DataPermission module.
- [ ] add permission for Index module.
- [ ] add permission for MetaData module.
- [ ] add permission for Permission module.
- [

[2021-12-03 05:42] qicz opened #2519 "[Volunteer] support custom response format"
### Volunteer help

support custom response format, such as json, XML

- [x] WebFluxResultUtils.result.
- [x] Response Plugin Support different format.

[2021-12-03 06:42] yu199195 commented on #2512
maybe doc have error， pls see example config

[2021-12-03 06:59] bootstrap2025 commented on #2512
There is no springMVC example, only springboot

[2021-12-03 07:06] yu199195 commented on #2512
can you convert springboot yaml configuration to spring xml

[2021-12-03 07:07] damonxue opened #2523 "[Task:feature] < improve and extend ShenyuException> add some concrete exceptions"
### Description

There are only the ShenyuException and the ShenyuGrpcException, In order to understand the real and specific abnormal conditions, we need to improve and extend ShenyuException System with adding concrete exceptions.

### Task List

- [ x ] read the Contribution Guideline

[2021-12-03 07:11] AhahaGe commented on #2512
![image](https://user-images.githubusercontent.com/6198217/144560294-ec914bd3-2133-436f-a3c5-0f16807f4936.png)
doc don't contain the config of ShenyuClientRegisterRepository, maybe this is the reason lead to your error, as in springboot most of the bean are auto created by configuration.
![image](https://user-images.githubusercontent.com/6198217/144560517-47f2dc05-9d50-407e-848a-820e925baf40.png)

[2021-12-03 07:38] yu199195 commented on #2512
@AhahaGe  you can modify spring mvc doc，

[2021-12-03 07:44] AhahaGe commented on #2512
provide no-springboot-springmvc example code, or provide another no-springboot-springmvc-client?

[2021-12-03 08:36] bootstrap2025 commented on #2512
Where should I manually configure this bean @AhahaGe

[2021-12-03 13:55] ShawnJim opened #2525 "[Volunteer] Add upgrade script for postgreSql."
### Volunteer help

- [ ]  Add upgrade script for postgreSql.

[2021-12-05 13:49] #2484 closed

[2021-12-06 02:54] HessTina-YuI opened #2532 "[BUG] shenyu-examples report an error in maven 3.8.x"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

'parent.relativePath' of POM org.apache.shenyu:shenyu-examples:2.1.0 (/Users/yui/program/OpenSource/incubator-shenyu/shenyu-examples/pom.xml) points at org.apache.shenyu:shenyu instead of org.springframework.boot:spring-boot-starter-parent, please verify your project structure

when I use mav

[2021-12-06 03:59] #2532 closed

[2021-12-06 04:04] #2513 closed

[2021-12-06 09:05] 18211927120 opened #2536 "[Question] <title>After the gateway is started in docker, the monitor port is also mapped, but Prometheus cannot access it"
### Question

After the gateway is started in docker, the monitor port is also mapped, but Prometheus cannot access it
![image](https://user-images.githubusercontent.com/57982877/144817730-957735c9-b6bd-45fc-8f81-ee4c9002e9ec.png)
![image](https://user-images.githubusercontent.com/57982877/144817905-95b25dbe-666d-466f-aa38-dc8436c70898.png)

[2021-12-06 09:24] #2536 closed

[2021-12-06 13:25] MiniSC opened #2538 "[Question] if client http server is down , how does shenyu find and remove UPSTREAM_MAP_TEMP"
### Question

What mechanisms can check client server is down and remove ip from UPSTREAM_MAP_TEMP
i only find  [shenyu.upstream.check] can start a Schedule task to find ip not work and remove it

[2021-12-07 02:36] 3813g00c opened #2541 "[Question] Duplicate metaData，version-2.4.0，Is this a bug or it has been fixed"
### Question

![image](https://user-images.githubusercontent.com/33142631/144955463-2066e95d-9770-4f82-8232-b3858669ee39.png)

in database，the two same metaData createTime and updateTime is same

![image](https://user-images.githubusercontent.com/33142631/144960167-6cbf4fbf-8b29-4058-b19b-d9a877435f18.png)

[2021-12-07 03:09] yu199195 commented on #2541
pls in english

[2021-12-07 03:38] yu199195 commented on #2541
2.0.4 is soul ？  if spring cloud have two， pls remove it

[2021-12-07 05:24] 3813g00c commented on #2541
version is 2.0.4，Spring cloud plugin is only one

[2021-12-07 08:40] yu199195 commented on #2538
if used http register，just like you say.   you can used other register type such as zookeeper , etcd ...

[2021-12-07 08:40] #2525 closed

[2021-12-07 08:41] yu199195 commented on #2541
in multiple environments?  used same db ?

[2021-12-07 09:07] 3813g00c commented on #2541
no，We have 6 environments，They are independent，but every env has same problem

[2021-12-07 09:08] xxxQi commented on #2541
已收到，谢谢。

[2021-12-07 09:10] 3813g00c commented on #2541
![image](https://user-images.githubusercontent.com/33142631/144999682-db32ca2c-628e-4745-9d9b-ac099a548145.png)
synchronized and @Transactional(rollbackFor = Exception.class)

[2021-12-07 09:53] songyuequan commented on #2365
hi~ , I have finishedCryptor Request and Cryptor Response plugin . please assign some else to me.

[2021-12-07 10:33] yu199195 commented on #2541
this is  2.4.1 ， you can try

[2021-12-07 13:12] JooKS-me commented on #2365
Thanks, could you take  `Combination of Response Plugins` and `Combination of Rpc and Response Plugins` ?

In `Combination of Rpc and Response Plugins` you can not only test dubbo plugin ,but more rpc plugins, such as `grpc`, `sofa` and so on.

[2021-12-08 00:37] lw1243925457 commented on #2509
can look: https://shenyu.apache.org/zh/docs/design/register-center-design#nacos%E6%B3%A8%E5%86%8C%E5%8E%9F%E7%90%86

nacos register explain.

[2021-12-08 00:50] sinlang opened #2544 "[BUG] resource data path is duplicate"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/4089994/145128676-e43b92dc-2ee4-4e97-aa20-6400267e3504.png)

### Expected Behavior

only on record /http/order/findById

### Steps To Reproduce

_No response_

### Environment

[code]

### Debug logs

dd

### Anything else?

d

[2021-12-08 01:18] songyuequan commented on #2365
OK,   I  would  like   to  do  it.  thank you

[2021-12-08 04:15] YanHui-Yang commented on #2523
please asign to me.

[2021-12-08 04:21] damonxue commented on #2523
@yu199195 pls asign to us.

[2021-12-08 06:12] yu199195 commented on #2544
`/http/order/findById` in shenyu-admin have two？

[2021-12-08 08:42] nuo-promise opened #2549 "[Task] <Add Pg Upgrade> Add Pg Upgrade File"
### Description

add pg upgrade file for table fields

### Task List

- [x] add pg upgrade file for table

[2021-12-08 08:47] nuo-promise opened #2550 "[Task] <Optimize database initialization>Add flag for initialize database"
### Description

Add flag for initialize database

### Task List

- [x] Add flag for initialize database

[2021-12-08 10:21] songyuequan commented on #2370
Done

[2021-12-08 10:21] #2370 closed

[2021-12-08 10:39] #2516 closed

[2021-12-08 11:32] #2549 closed

[2021-12-08 12:42] #2468 closed

[2021-12-08 12:42] #2465 closed

[2021-12-09 02:11] AhahaGe commented on #2512
This problem need four pr:
1. add constructor for clientRepository finished
2. edit 2.4.1 document
3. add springmvc demo
4. current document add mvc document

[2021-12-09 03:30] AhahaGe opened #2553 "[feature] http service support spring mvc project"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Follow our http proxy doc http://localhost:3000/docs/2.4.0/user-guide/http-proxy to start spring mvc project.
1. Add the following dependencies to the pom.xml file in your Http service:
![image](https://user-images.githubusercontent.com/6198217/145328521-870d709c-b93a-46fc-8b41-af0ad8c46fb6.p

[2021-12-09 03:33] li-keguo opened #2554 "[Task] Clean warning and refactor in `shenyu-plugin`"
### Description

about issue #2370 is done, But I found some warnings and points that can be refactored.I will try this to fix these findings

### Task List

- [ ] find warning and refactor point
- [ ] fix warning and refactor point

[2021-12-09 05:42] yangtianrui95 commented on #2080
Is there any progress? Let me try it plz @songyuequan @yu199195

[2021-12-09 05:50] songyuequan commented on #2080
Hi~ I have assigned it to you in #2420 . and you can just try. @yangtianrui95

[2021-12-10 03:03] #2550 closed

[2021-12-10 09:25] nuo-promise opened #2566 "[Task] <Fix table init bug> Init resources bug"
### Description

Add plugin id is short uuid to int out of bounds

### Task List

- [ ] fix init resources bug

[2021-12-10 11:37] #2566 closed

[2021-12-11 01:42] qicz commented on #2321
new task for `ResourcePermissionDataSourceLoader` loop optimize. @zhouyadong

[2021-12-11 01:46] #2519 closed

[2021-12-11 02:53] Zhoutzzz commented on #2544
In latest version,I can't repetition this question,is your config have two same path?

[2021-12-11 08:26] iris-xie commented on #1069
is there a solution? I also met with this bug!

[2021-12-11 08:27] iris-xie commented on #1069
<dependencies>

        <dependency>
            <groupId>com.squareup.okhttp3</groupId>
            <artifactId>okhttp</artifactId>
            <version>4.9.1</version>
        </dependency>

        <dependency>
            <groupId>org.testng</groupId>
            <artifactId>testng</artifactId>
            <version>6.14.3</version>
        </dependency>
        <dependency>
            <groupI

[2021-12-11 08:29] iris-xie commented on #1069
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<parent>
		<groupId>org.springframework.boot</groupId>
		<artifactId>spring-boot-starter-parent</artifactId>
		<ver

[2021-12-11 08:30] iris-xie commented on #1069
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<parent>
		<groupId>org.springframework.boot</groupId>
		<artifactId>spring-boot-starter-parent</artifactId>
		<ver

[2021-12-11 08:31] iris-xie commented on #1069
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<parent>
		<groupId>org.springframework.boot</groupId>
		<artifactId>spring-boot-starter-parent</artifactId>
		<ver

[2021-12-11 14:13] lahmXu opened #2571 "[type: refactor] enable netty web server configurable."
### Description

Enable netty web server configurable

### Task List

_No response_

[2021-12-11 14:13] lahmXu commented on #2571
please assign to me, thanks!

[2021-12-12 09:01] #2571 closed

[2021-12-13 06:38] janusdo opened #2578 "[BUG] WebFluxResultUtils shenyuResult the last request result was not cleared"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In the second request error, the data value is the last response data, WebFluxResultUtils shenyuResult the last request result was not cleared.

First request result
{
	"code": 200,
	"data": {
		"id": "4c73bc08-bdf3-46d8-ba6c-1b5175ec57d1"
	},
	"requestId": "b488575b-9315-4266-91be-d2d69d171a

[2021-12-13 06:57] yu199195 commented on #2578
this is result by shenyu?

[code]

[2021-12-13 07:09] qicz commented on #2578
maybe this data is not from shenyu, shenyu response contains not the request id. @janusdo

[2021-12-13 07:37] janusdo commented on #2578
requestId is my custom attribute. A unique ID is generated for each request.

When calling WebFluxResultUtils.result, If result is error, shenyResult.clear() Is not called.

[2021-12-13 07:39] qicz commented on #2578
2.4.1 or last version from master ?

[2021-12-13 07:41] janusdo commented on #2578
last version from master

[2021-12-13 07:43] qicz commented on #2578
Do you use the `put` function to add data?

[2021-12-13 07:51] janusdo commented on #2578
yes, use put function to add data. When the result is JSON，the map is not reset.

[2021-12-13 08:08] qicz commented on #2578
I have been already fixed this bug. You can wait for the merge and try again.

[2021-12-14 06:51] qicz commented on #2578
@janusdo After discussion, we decided to transform this feature and open up the format of the data for users to customize according to the situation.

[2021-12-14 10:36] tuohai666 opened #2587 "[BUG] JdbcSQLSyntaxErrorException in logs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When press the `Add` button, there's JdbcSQLSyntaxErrorException in logs.

![image](https://user-images.githubusercontent.com/24643893/145981873-f1e62e22-e112-48ca-b30e-03c8debc3478.png)

The full stack trace:

[code]

### Expected Behavior

No prompts in the logs.

### Steps To Reproduce

As

[2021-12-14 10:36] #2578 closed

[2021-12-14 10:40] zhouyadong commented on #2587
let me see

[2021-12-14 12:31] haibo-duan opened #2588 "[BUG] org.apache.shenyu.sync.data.etcd.EtcdClient method [getSubNodeKeyName] throw “StringIndexOutOfBoundsException”"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

During unit testing,In the [getSubNodeKeyName] method, an StringIndexOutOfBoundsException occurs when the prefix length is greater than fullPath:
![74da26bd929d328c10f67262fa848fa](https://user-images.githubusercontent.com/7974845/145997505-0d00ceb1-52a5-460a-9b58-2c786763daec.png)

### Expec

[2021-12-14 14:14] qiaomengnan16 opened #2590 "The current probe activity is server polling. Does it support client reporting mode?"
### Question

The current probe activity is server polling. Does it support client reporting mode?

[2021-12-15 03:03] #2588 closed

[2021-12-15 03:13] #2587 closed

[2021-12-15 03:17] yu199195 commented on #2590
you can used register center（zookeeper, etcd....）

[2021-12-15 04:44] midnight2104 commented on #2514
pls in english

[2021-12-15 04:44] #2514 closed

[2021-12-15 04:46] midnight2104 commented on #2505
Is there still a problem?

[2021-12-15 04:50] midnight2104 commented on #1509
hi, shenyu is support in current, for details ,pls see  https://shenyu.apache.org/docs/next/plugin-center/proxy/spring-cloud-plugin/

[2021-12-15 04:50] #1509 closed

[2021-12-15 04:53] midnight2104 commented on #1542
Are there any questions now? I'll close the issue. if you still have questions, please setup another issue.

[2021-12-15 04:53] #1542 closed

[2021-12-15 04:54] midnight2104 commented on #1543
for details of Nacos sync data, pls see  https://shenyu.apache.org/docs/next/user-guide/use-data-sync#nacos-synchronization-config

[2021-12-15 04:54] #1543 closed

[2021-12-15 06:10] keitenngaku opened #2593 "can support https now？"
### Question

can support https now？Or add new plugin？